[2022-11-18 16:33] Wyste commented on #1987
Good point, it does feel unintuitive to have Execute spam and be rage starved at the end of a fight, especially if it were a raid boss kind of fight, I can see how that would be problematic.  This could maybe be solved with just a BOSS or TTD conditional in the APL though.

Lets wait a bit to see what Hekili's thoughts on the whole matter are, and if he has any different direction he feels would b

[2022-11-18 16:40] Hekili commented on #1987
For tanks, design intent is generally to keep you able to maintain rotational defenses / active mitigation since otherwise you die.  That's why `free_revenge` has been a default; it prevented you from depleting your rage when you need it.

A `reserve_rage` slider that impacts Execute and Revenge, such that they are only recommended if free or if using the ability won't spend below the reserve thre

[2022-11-18 16:43] W8ink commented on #1980
excellent!

[2022-11-18 16:50] W8ink commented on #1988
this is due to a problem with Essence regeneration

[2022-11-18 16:51] Hekili commented on #1988
No, that is not settled.  There is an issue related to Essence regen as well that I'm testing a fix for, but that logic does not necessarily impact this at all.

edit:  I do see how it *can* be that; since Azure Strike has a higher priority entry when capping Essence isn't imminent.  I want data to confirm, though.

[2022-11-18 17:16] jmusick opened #1990 "BM Hunter not recommending Kill Command"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-18 18:22] aleksisyrjamaki opened #1991 "Howling Blast / Obliterate issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-18 23:05] angrydanger commented on #1991
I'm using a variation of that build (BsPAdLUHklrTr3hBIcYWdbnCGLAISIJcg0iEgIJhASSkkISIQSCRSSSSKBAAAAAAAAAAAAA) and can confirm Howling Blast is recommended by Hekili as the primary rune spender. Seems to only occur when using the 2H build. Tried RofFC and RI runeforge and made no difference.

[2022-11-18 23:18] Aillip opened #1992 "Unknown symbol in suggestion window"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-18 23:35] angrydanger commented on #1991
This only occurs in single target. AOE recommends appropriate spells.

[2022-11-18 23:50] Pulseonline commented on #1988
https://pastebin.com/347myDiy  - Think this is the best one.  I was at 20 stacks on Pyre, no essence burst.  Had 3 essences, I have 5 icons shown, it showed Azure strike x3, then shattering star, THEN Pyre.  So 5 actions later when I had 20 stacks of charged blast on pyre and 3 essence.  This was a 3 target count on Automatic on dummies.  I took 2 other snapshots though as well.

https://pastebin.

[2022-11-18 23:54] Pulseonline commented on #1988
Basically on 3 target count it should be 10 stack of charged blast, it should be recommending Pyre almost immediately, even before Fire Breath and Eternity Blast as this is AOE and packs die to fast.  At 4 target count it should be recommending Pyre ALL the time as long as we have the essence for it, doesn't matter the charged blast stacks at all.  At 4 targets its worth spending the essences on P

[2022-11-19 00:43] jmusick commented on #1992
Probably a trinket or some other on use item you have.

Edit: Yep, looks like it's this thing based on your snap shot: https://www.wowhead.com/item=110017/enforcers-stun-grenade?bonus=9013

Mystery icons are almost always a on use item I'm not familiar with the icon of, or a racial.

[2022-11-19 00:47] Ble43 commented on #1988
I've been noticing the lack of prioritization for Pyre with charged blast too, thank you so much for posting this! There is tons of overcapping going on.

[2022-11-19 01:32] JimA1966 opened #1993 "outlaw rogue showing wraps of electrostatic potential while in stelth"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-19 01:49] Ble43 commented on #1988
I think this logic may not be working correctly right now.
![image](https://user-images.githubusercontent.com/92388362/202828569-07346370-8262-484e-9f78-4b6651a46b4b.png)
https://www.wowhead.com/guide/classes/evoker/devastation/rotation-cooldowns-pve-dps

[2022-11-19 10:18] Aillip commented on #1992
Thank you, for such a prompt reply. I'll keep a look out for this item.

On Fri, Nov 18, 2022 at 7:43 PM Justin Musick ***@***.***>
wrote:

[2022-11-19 11:04] vond82 commented on #1992
It's the versatility grenade from ID btw

[2022-11-19 14:44] Hekili commented on #1992
If you see an icon you don't recognize in the list of recommendations, you can use the Pause feature to freeze the display and take a look.  Obviously, this isn't something you want to do in the middle of a raid encounter, but you can check it out with target dummies or in other scenarios.

The default keybind for Pause is `ALT-SHIFT-P`.  When paused, you can place the mouse over the icon in quest

[2022-11-19 14:44] #1992 closed, assigned to Hekili

[2022-11-19 16:07] Hekili commented on #1990
This happened because "Check Pet Range" is enabled but Pet-Based Target Detection is not enabled/set up.  I'm going to make the addon handle this more gracefully, but I would strongly recommend setting up pet-based target detection anyway. See /hekili > Beast Mastery > Targeting.

[2022-11-19 16:11] Hekili commented on #1988
This has the same root cause as #1980 so I'm closing as a duplicate.  The next release will include a fix.

[2022-11-19 16:11] #1988 closed, assigned to Hekili

[2022-11-19 16:38] #1982 closed, assigned to Hekili

[2022-11-19 16:51] jmusick commented on #1990
ty

[2022-11-19 17:13] mightymist3ry commented on #1988
excitement!

[2022-11-19 17:13] mightymist3ry commented on #1988
Excitement!

[2022-11-19 17:14] Hekili commented on #1982
I saw that you closed this, but one of the challenges here is that BT4 + base UI can be very misleading.

![image](https://user-images.githubusercontent.com/9438134/202863117-02c2c192-de7f-42e1-bbaa-3924f7a1d6fd.png)

Those buttons showing 1, 2, 3 are BT4Button1, 2, and 3.  They don't have a keybind set under Bartender4:

![image](https://user-images.githubusercontent.com/9438134/202863142-d73f260

[2022-11-19 17:15] Hekili commented on #1984
Sim yourself and provide the link.  Thanks!

[2022-11-19 17:25] Hekili commented on #1984
For reference:  https://www.peakofserenity.com/sl/windwalker/pve-guide/

![image](https://user-images.githubusercontent.com/9438134/202863619-09a9cd17-f2de-40dd-9093-2c8827bf20c2.png)

![image](https://user-images.githubusercontent.com/9438134/202863633-013e58e8-76c1-452b-8974-de5b1c41f515.png)

![image](https://user-images.githubusercontent.com/9438134/202863646-1e5ba6f7-5e5d-4e34-87d3-01be38afc8

[2022-11-19 17:26] #1984 closed, assigned to Hekili

[2022-11-19 17:27] Hekili commented on #1983
This will be fixed in next release.

[2022-11-19 17:27] #1983 closed, assigned to Hekili

[2022-11-19 17:27] #1981 closed, assigned to Hekili

[2022-11-19 17:30] Wyste commented on #1982
Yeah, I closed it because I'm sifting through the horror that is BT4 keybind support. Still working on it, it'll just be a PR later; assuming you don't get to it first.

[2022-11-19 17:31] Wyste commented on #1982
OH, I just noticed https://github.com/Hekili/hekili/commit/2c9f1ba31969f331d8d40c5ca273eab88f9a436d. I'm a little behind, so sorry if the above comment doesn't make sense.

[2022-11-19 17:34] Hekili commented on #1990
This should be addressed in the latest release (10.0.2-1.5).

[2022-11-19 17:34] #1990 closed, assigned to Hekili

[2022-11-19 17:34] Hekili commented on #1993
This should be addressed in the latest release (10.0.2-1.5).

[2022-11-19 17:34] #1993 closed, assigned to Hekili

[2022-11-19 17:36] Hekili commented on #1991
This should be addressed in the latest release (10.0.2-1.5).  Please let me know if you see otherwise.

[2022-11-19 17:37] Hekili commented on #1980
This should be addressed in the latest release (10.0.2-1.5).  Let me know if you are still seeing issues.

[2022-11-19 17:38] Hekili commented on #1989
This should be addressed in the latest release (10.0.2-1.5).

[2022-11-19 17:38] #1989 closed, assigned to Hekili

[2022-11-19 17:39] Hekili commented on #1985
@marekCs Any new information?

[2022-11-19 17:53] karpana opened #1995 "Question/Inquiry: Action recommendations for Bar 2 aren't showing binding"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-19 17:58] karpana commented on #1995
This might be related to #1982
As I also use Bartender.

I'll review this other item and advise.

[2022-11-19 17:59] Hekili commented on #1995
I'll need more information to know what's going on.

Since this doesn't seem recommendations related, I'd need the information from /hekili > Issue Reporting at the very least.  I just posted an update in the past half hour or so; are you having this with the latest version (v10.0.2-1.5)?

If so, did it just start with the latest version?  Or has this been an issue for a while?

[2022-11-19 18:20] karpana commented on #1995
I'm closing in favor of #1982, as I also using Bartender and just noticed/realized I have bar2 keybound with bartender (and not the stock UI)

Thank you for the quick response/reply.

[2022-11-19 18:20] #1995 closed, assigned to Hekili

[2022-11-19 18:22] marekCs commented on #1985
Yes, I was checking the Warning section and there is this info:
Update: Interface/AddOns/Hekili/State.lua:1103: attempt to index global 'debuff' (a nil value)

[string "@Interface/AddOns/Hekili/State.lua"]:1103: in function <Interface/AddOns/Hekili/State.lua:1101>
    [string "=(tail call)"]: ?
    [string "=(tail call)"]: ?
    [string "@Interface/AddOns/Hekili/State.lua"]:7085: in function `Time

[2022-11-19 18:22] karpana commented on #1982
Would like to confirm that this update/fix (which just came down via Curseforge as `Hekili-v10.0.2.1-5.zip`) addressed the issues i had with Bartender-based Keybinds (my Bar2 has keybind F1-thru-F12).

Thanks for the efforts!

[2022-11-19 18:24] marekCs commented on #1985
I also found a small mob in the woods that casted me so I took a snapshot that the counterspell didn't appear:
[https://pastebin.com/N9B72WEY](https://pastebin.com/N9B72WEY)

[2022-11-19 18:36] W8ink commented on #1980
the issue remains. its hard to explain what exactly happens.
lets begin from where issue appears.
![image](https://user-images.githubusercontent.com/105168976/202865958-7f0f55bc-d58d-444f-a8fa-6024f4511065.png)
when i have 0 essence its ok with essence.current but essence.time_to_max doesn't work properly.
![image](https://user-images.githubusercontent.com/105168976/202866042-a0871eb3-5135-4c19-9f

[2022-11-19 18:38] Aillip commented on #1992
Thank you once again!
I completely overlooked a trinket I have, and that is the unknown icon
(Enforcer's Stun Grenade)
I'm very sorry to have taken time that someone else might have needed.  I
will be aware of Hekili prompting for trinkets from here on out.
Thank you for not making me feel, as dumb as I do already.
Heds demise was the greatest thing to happen to me in game, because I found
your mo

[2022-11-19 19:02] Ble43 commented on #1988
Thanks Hekili!

[2022-11-19 22:47] Hekili commented on #1980
@W8ink Thanks for more information.

1st screenshot is actually fine.  When it'll take longer than the allowable window for the addon to make a decision, resource forecasting just assumes things aren't going to happen.  That's where 3600 comes from.  Going from 0 to 5 is simply longer than the threshold the addon needs to care about.

2nd screenshot differs because the time it takes to go from 3 t

[2022-11-19 23:14] Hekili commented on #1985
For that target, it's unclear whether the spell was actually interruptible.  But I'm posting 1.6 now which addresses the warning you reported and may impact recommendations stutter or periods where recommendations were not updating.

[2022-11-19 23:51] marekCs commented on #1985
Interrupt works on the last patch, thx and good job.. But stuttering still present.

[2022-11-20 00:01] Hekili commented on #1985
By stuttering, you mean the CD spiral updating in progress, or something different?

The more actual context for it occurring you can provide, the more likely it can be diagnosed.

[2022-11-20 10:49] vairey opened #1999 "Frost mage - Frozen Orb not getting recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-20 10:58] vairey commented on #1985
Hi Hekili, I've noticed this issue too on my frost mage.

The recommendations are stable for Primary. I have 3 recommendations showing, and the string only changes if something procs, as expected.

For AOE, the recommendations, current and future, change rapidly. Often, it recommends a string of frostbolts then quickly changes its mind. I took a snapshot during an AOE rotation, hopefully it sheds

[2022-11-20 11:16] vairey commented on #1999
In the paste above, it shows Frozen Orb as disabled - but that's not what my ui shows, as below. I haven't altered these settings, these are out of the box.

![image](https://user-images.githubusercontent.com/118662417/202899038-ff22b50d-f7ff-4f42-a1b4-d308b683551f.png)

[2022-11-20 12:53] KevinMeinon opened #2000 "Config UI tooltip misleads re: current state"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [ ] I am reporting

[2022-11-20 13:39] Zepher01 opened #2001 "Add Twisted Judgement to the Abilities List"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-20 15:00] Hekili commented on #1985
If the situation is that recommendations change, it's always a matter of fight circumstances changing requiring a change in recommendations.  There are all sorts of things that the addon must simply react to.

It also makes it so a single snapshot doesn't help a whole lot, because it's hard for you to know when to snapshot for the "before" picture and when to snapshot immediately after the change.

[2022-11-20 15:03] Hekili commented on #2001
This already exists.

/hekili > Gear and Trinkets > Gavel of the First Arbiter

[2022-11-20 15:03] #2001 closed, assigned to Hekili

[2022-11-20 15:05] Hekili commented on #2000
Is this something you're seeing in a way that impacts actual recommendations, or just something you see in the options interface?

For example, do you see recommendations to generate rage when you're full or capped, or recommendations to spend rage when you don't have any?

[2022-11-20 15:11] Hekili commented on #2000
Your snapshot shows a lot of issues in custom priorities.  Do you experience these issues without your custom priorities loaded?  (I understand that it's not the selected priority in your snapshot.)

[2022-11-20 15:53] Zepher01 commented on #2001
Fantastic! Thanks.  Sorry I missed that.
-------- Original message --------From: Hekili ***@***.***> Date: 2022-11-20  10:03 a.m.  (GMT-05:00) To: Hekili/hekili ***@***.***> Cc: Zepher01 ***@***.***>, Author ***@***.***> Subject: Re: [Hekili/hekili] Add Twisted Judgement to the Abilities List (Issue #2001)
This already exists.
/hekili > Gear and Trinkets > Gavel of the First Arbiter

—Reply to thi

[2022-11-20 16:05] Dragonfo opened #2002 "Add an indication when to activate spells for Fire Breath Eternity Surge abilities"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-20 16:10] marekCs commented on #1985
"_It also makes it so a single snapshot doesn't help a whole lot, because it's hard for you to know when to snapshot for the "before" picture and when to snapshot immediately after the change. So, recommendations changing isn't that weird, and I'm not sure why that would be described as "stuttering._"

It's probably best if you try it yourself on the beta, please. I don't think we can describe it

[2022-11-20 16:19] KevinMeinon commented on #2000
Just checked this and it should have been something I checked before opening the issue. Even though the options menu will return "false" if the condition is: ignore pain if rage > 110; for example, since rage will be shown as 50 instead of 115, hekili will still recommend ignore pain and if I pause hekili it will show rage.current as 115 if I mouseover the recommended ability.

So no, it does not

[2022-11-20 16:19] Hekili commented on #1985
I'm surprised that it needs to be said, but *of course I'm trying it myself.*  What I see and how I interpret it may be different from what you're seeing and how you're interpreting it.  That's why I ask for more detail.

[2022-11-20 16:22] Hekili commented on #2000
Yeah, it *is* misleading.  I've investigated and it's simply a matter of the options UI not fully resetting the current state when giving you a preview of options.  It's pretty trivial to fix, but doesn't actually impact recommendations that are generated.  When recommendations are generated, the addon *does* fully reset.

[2022-11-20 16:26] marekCs commented on #1985
Thanks for the information. Ok, I did the mage on 60 at retail yesterday, bought the primal gear today and everything seems to be fine now. I think it was due to the small Haste and large GCD and the overclocking associated with it. I actually had 2% Haste on the beta only and now have slightly over 20% and it works fine. Thanks

[2022-11-20 16:26] #1985 closed, assigned to Hekili

[2022-11-20 16:39] Hekili commented on #2002
I'm confused.  The addon already presents information about when to trigger an empowered spell.  Did you change options to something that is more confusing?

![EmpowerProcess](https://user-images.githubusercontent.com/9438134/202914067-96048877-933d-4460-8d86-b5aacb4e5d62.gif)

Here, you can see that I've set up the addon to recommend empowering to 3 -- the roman numeral at the bottom indicates th

[2022-11-20 16:43] Hekili commented on #1999
It's on the Cooldowns toggle and the Cooldowns toggle is not active, so it will not appear.  See /hekili >Toggles.

[2022-11-20 16:43] #1999 closed, assigned to Hekili

[2022-11-20 16:45] Hekili commented on #1980
In the wake of another ticket, I'm making modifications to the options UI so that those preview tooltips will have more accurate information.  In some situations, the game state wasn't being reset before generating the preview.  This could impact current Essence and time_to_max as well.

[2022-11-20 16:46] Hekili commented on #2000
This should be resolved in 1.6.1 which is being built now.

[2022-11-20 16:46] #2000 closed, assigned to Hekili

[2022-11-20 16:47] Hekili commented on #1980
This should be resolved in 1.6.1 which is being built now.

[2022-11-20 16:47] #1980 closed, assigned to Hekili

[2022-11-20 16:47] #1991 closed, assigned to Hekili

[2022-11-20 17:07] Dragonfo commented on #2002
I'm sorry, I have a Suf addon and it shows it a little differently. I just didn't notice it. Thanks for the informative picture. I'm sorry for the stupid question.

[2022-11-20 17:07] #2002 closed, assigned to Hekili

[2022-11-20 17:13] Hekili commented on #2002
No, thanks for asking.  Is SUF changing the way it appears in my addon?  Or it just looks different in SUF itself?  Thanks!

[2022-11-20 17:41] Hekili commented on #1987
This is changed to a slider in 1.6.2; it will work to reserve enough Rage to Ignore Pain or Shield Block by default.

[2022-11-20 17:41] #1987 closed, assigned to Hekili

[2022-11-20 20:34] gnew95 opened #2003 "Blood DK Priority Issue: Recommending Tombstone before Death and decay with Shattering Bone talented."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-20 20:49] Hekili commented on #2003
If you are presenting multiple issues or scenarios, please provide a snapshot for each and label them accordingly.  Thanks!

[2022-11-20 20:49] gnew95 commented on #2003
Sorry will do! This particular snapshot is for the tombstone issue.

[2022-11-20 21:09] gnew95 opened #2004 "Blood DK Priority Issue: Not Recommending Death and Decay Casts for multiple globals when there are charges available and Death and Decay is not currently active"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-20 21:17] Hekili commented on #2004
You didn't have to open a separate ticket, but anyway.

Death's Due was active in your snapshot, so Death's Due or Death and Decay would not be recommended.

Your screenshot is a different set of circumstances.  I can't tell you why without a snapshot that matches.  If you want to send a snapshot and screenshot together, hitting Pause will create both at the same time as long as "Take Screenshot"

[2022-11-20 22:37] gnew95 commented on #2004
I tried to update my snapshot and screenshot to be more in sync. Upon further testing I think what is going on is that Death's Due has two components. 1: The ground effect that scales with most of our talents and 2: The damage reduction Strength draining effect. The rotation helper is not updating you to cast Death's Due again until the strength draining effect is gone from the mob which usually m

[2022-11-20 23:24] GigaToons opened #2005 "Guardian Druid - Renewal, Frenzied Regeneration, Survival Instincts not recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-21 02:20] mightymist3ry commented on #1988
Was doing a dungeon today and while i notice pyre is recommended more sense latest update. I did see today that me having my aoe targets set to 3 and while attacking 3 targets i am recommended to use Disintegrate vs pyre in one of the snapshots, then in the other i was fighting 4+ targets and essence came up and im recommended to do 4 more azure strikes and by that time the mob would have been dow

[2022-11-21 02:21] mightymist3ry commented on #1988
Was doing a dungeon today and while i notice pyre is recommended more sense latest update. I did see today that me having my aoe targets set to 3 and while attacking 3 targets i am recommended to use Disintegrate vs pyre in one of the snapshots, then in the other i was fighting 4+ targets and essence came up and im recommended to do 4 more azure strikes and by that time the mob would have been dow

[2022-11-21 05:08] Hekili commented on #1988
With Scintillation and Eternity's Span, you use Disintegrate at up to 3 targets.

The priority will probably continue to change, but this is what is available at the moment.  You can customize your priority if you want it to do different things.

[2022-11-21 05:35] mightymist3ry commented on #1988
Is that cause of my talent setup?

[2022-11-21 06:50] mightymist3ry commented on #1988
I was told if Volatility talent is used then Pyre is much better on 3 target.

[2022-11-21 06:54] chiraino opened #2006 "Windwalker gets stuck"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-21 07:18] D3troiit opened #2007 "Retribution recommending HoW during Crusade"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-21 10:23] marekCs opened #2008 "Spiritwalker's Grace on Shamans"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-21 10:39] marekCs commented on #2008
ok done, its max on the 2nd place

[2022-11-21 10:39] #2008 closed, assigned to Hekili

[2022-11-21 10:56] chevyn11 opened #2009 "Odyn's Fury not recommended unless using annihilator + maybe doesnt know it enrages"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-21 13:30] Vardrack opened #2010 "Odyn Fury not showing up in rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [ ] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-21 15:42] Hekili commented on #2010
Duplicate of #2009

[2022-11-21 15:42] #2010 closed, assigned to Hekili

[2022-11-21 16:38] Chabonition opened #2012 "Flame shock as Enhancer not shows up in the Priority buttons"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-21 16:41] AnitaSinha commented on #1912
And Why???

[2022-11-21 17:00] SpatenLa commented on #1912
because hekili is Not Yet Implemented in wrath.

[2022-11-21 17:17] cremor commented on #2007
This is not correct. I just tested it ingame and I can use Hammer of Wrath just fine on targets with any health percentage when Crusade is active.

[2022-11-21 17:29] Hekili commented on #2012
In your snapshot, Flame Shock wasn't recommended because your target was expected to die in fewer than 3 seconds.

<details>
<summary>Details</summary>

        15.  flame_shock ( default - 10 )
        The action (flame_shock) is usable at (1.37 + 1.36) with cost of 747 mana.
         - the action is ready before the current recommendation (at +1.36 vs. +8.00).
         - this entry's criteria FA

[2022-11-21 17:30] cremor opened #2013 "Avenger's Shield does not generate Holy Power any more"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-21 17:39] Hekili commented on #2013
Thanks; this will be resolved in 1.7.2.

[2022-11-21 17:39] #2013 closed, assigned to Hekili

[2022-11-21 17:39] #2012 closed, assigned to Hekili

[2022-11-21 17:44] Hekili commented on #2007
Crusade still combines with other Avenging Wrath talents.  You have Avenging Wrath talented in the Paladin tree, which allows HoW to be cast on any target.

![image](https://user-images.githubusercontent.com/9438134/203124278-52dab1df-b177-46dc-99e7-86c3b9d2b5f7.png)

![image](https://user-images.githubusercontent.com/9438134/203124340-943b4954-4b7d-4d9a-9408-1b120b0d0aab.png)

It's possible that

[2022-11-21 17:48] Hekili commented on #2009
Thanks.  I have added the missing lines to the Fury priority in 1.7.1.

I also tested and confirmed that Titanic Rage's Enrage effect is granted prior to the Odyn's Fury damage going out, so there's no need to wait for Enrage before using Odyn's Fury with the talent.

[2022-11-21 17:48] #2009 closed, assigned to Hekili

[2022-11-21 17:54] Chabonition commented on #2012
it was a trainingsdummy so i dont think so but i will test it in raid^^ Thank you

[2022-11-21 18:00] Hekili commented on #2006
This looks as though it's working as intended, given you've disabled Expel Harm and Flying Serpent Kick.

<details>
<summary>Blackout Kick was excluded because it would break Hit Combo.</summary>

66.  blackout_kick ( st_cleave - 19 )
The action (blackout_kick) is unusable at (0.00 + 0.00) because would break hit_combo.
</details>

<details>
<summary>Crackling Jade Lightning was ruled out.</summar

[2022-11-21 18:04] Hekili commented on #2012
It was likely a target dummy sitting at almost no health, then.  Death timers don't care that about something being a dummy; it only cares about how quickly the health would trend down to zero.

[2022-11-21 18:28] hdn1217 commented on #1677
Hi, I love your APP but I am having a small problem.  The third action bar placed on my screen with the Pre Patch is covering up the hekili Bars.  Is there a way to move either of them so that will not be overlapping?

Thanks,

[2022-11-21 18:31] vond82 commented on #1677
Either move the bars with the games built in Edit Mode
Or move the Hekili bars with /hekili (it'll show up on your screen then as movable bars)

[2022-11-21 18:50] hdn1217 commented on #1677
Thanks.What are the steps to use the /hekilli command to move it up one level on the screen?ThanksHowardSent from my iPhoneOn Nov 21, 2022, at 11:32 AM, Patrik Högberg ***@***.***> wrote:﻿
Either move the bars with the games built in Edit Mode
Or move the Hekili bars with /hekili (it'll show up on your screen then as movable bars)

—Reply to this email directly, view it on GitHub, or unsubscribe.Y

[2022-11-21 20:02] D3troiit commented on #2007
further investigation seems to indicate that this is a level  58 thing as that is when hammer of wrath becomes rank 2. which is seemingly no longer listed in the spellbook but is listed on hammer of wrath's rank 2 page on wowhead. link to page: https://www.wowhead.com/spell=326730/hammer-of-wrath

so yeah i did misreport this. but is still sort of an issue if you have avenging wrath talented durin

[2022-11-22 03:10] Hekili commented on #2007
Thanks.  I've reported the issue to Blizzard and am updating the addon not to trust that HoW is usable during AW until level 58.

[2022-11-22 03:10] #2007 closed, assigned to Hekili

[2022-11-22 03:11] Hekili commented on #2005
Thanks; this has been addressed in the latest release.

The error message provided is not related to this addon, however.

[2022-11-22 03:11] #2005 closed, assigned to Hekili

[2022-11-22 03:20] Hekili commented on #2004
That looks like you're correct; I've updated Death and Decay to only rely on its actual buff rather than swapping for Death's Due.  I'll post that release in a little bit.

[2022-11-22 03:20] #2004 closed, assigned to Hekili

[2022-11-22 03:20] Hekili commented on #2003
The root cause here looks the same as the other ticket; closing.

[2022-11-22 03:20] #2003 closed, assigned to Hekili

[2022-11-22 03:21] #1688 closed, assigned to Hekili

[2022-11-22 03:23] GigaToons commented on #2005
@Hekili , you are awesome! and I love what you did with the prot warrior's options!! AMAZING!

[2022-11-22 07:04] W8ink opened #2016 "Evoker Empowered spell Call\Run Action List Issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [ ] I am reporting

[2022-11-22 07:26] marekCs opened #2017 "Please add empower info into Weakauras ScanEvents"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-22 12:00] Rikluz opened #2018 "Revenge and Demo Shout not being suggested for Prot Warrior"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-22 13:51] Hekili commented on #2018
One issue of note:  Demoralizing Shout is used when you're tanking, so a dummy that doesn't target you will not result in Demoralizing Shout recommendations.

For Revenge, it looks like there are some conditions related to Rage that need to be removed from the priority.  I'm investigating now and have asked @Wyste for feedback.

[2022-11-22 13:54] Rikluz commented on #2018
Noted about Demo Shout - I should have known that.

Appreciate you looking into this!

[2022-11-22 13:54] Hekili commented on #2016
Screenshots are useless here; snapshotting gives the logic needed.  How you structure your reference to Run Action List matters.  If the criteria for Run Action List are no longer met, the addon can't reach its entries to make the matching recommendation.

[2022-11-22 14:06] RussellAnas opened #2019 "[Arms Warrior] Thunderclap not recommended in AoE with "Blood and Thunder" Talent"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-22 14:11] Creaper87 opened #2020 "Microstuttering after leaving Combat, Looting and switching Zones"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-22 14:22] Hekili commented on #2020
Please fill out "Describe the Issue" and "How to Reproduce" correctly.  I will investigate.

[2022-11-22 16:55] #2016 closed, assigned to Hekili

[2022-11-22 20:08] TsunamiFM opened #2021 "Lua Error when playing Vengeance Demon Hunter in Dragonflight (bad argument #1 to 'IsAzeriteItemEnabled')"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-22 21:31] TsunamiFM commented on #2021
Update about reproduction steps: it popped up after location change, after finishing dungeon.

[2022-11-23 13:15] GigaToons opened #2022 "Prot Warrior - Ignore Pain is no longer recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-23 15:09] Wyste commented on #2022
Can you provide a snapshot? Hekili is likely going to want a snapshot to troubleshoot this:

CopyPaste from Discord about snapshots:
Snapshots are detailed logs of how the addon arrived at the recommendations it made.  They can be automatically generated if the addon was unable to make a recommendation.  Otherwise, they are manually triggered by pausing (default: ALT-SHIFT-P) or snapshotting (defa

[2022-11-23 15:50] Pulseonline opened #2023 "Pyre usage (sims vs. guide)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-23 16:18] GigaToons commented on #2022
Hello! @Wyste - I apologize but realized I was running a personal copy of the hekili rotation... and as soon as I activated the current load it's working fine. Sorry - closing this ticket, not an issue!

[2022-11-23 16:18] #2022 closed, assigned to Hekili

[2022-11-23 16:37] ALostViking opened #2024 "Guardian Druid - Regrowth is never recommended."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-23 17:33] Aryax-19 opened #2025 "Soul Carver missing from Veneance Demon Hunter rotation/Cooldown or Defensives"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-23 21:06] hdn1217 commented on #1677
Hi,

I can bring up your options page using  /hekili command, but I don’t know what I should do then to bring your bars up a level so as to not hide behind the game bars…..HELP ☺

Thanks,

Howard

From: Patrik Högberg ***@***.***>
Reply-To: Hekili/hekili ***@***.***>
Date: Monday, November 21, 2022 at 11:31 AM
To: Hekili/hekili ***@***.***>
Cc: hdn1217 ***@***.***>, Comment ***@***.***>
Subject: R

[2022-11-23 21:17] TheHambrick commented on #1677
Just drag the abilities bar in edit mode or the hekili bar away from each other

[2022-11-24 00:13] Rockytcp opened #2026 "[Fury Warrior] - Onslaught not been showing properly in the suggestions"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-24 00:27] Wyste commented on #2026
Opened PR #2027 to fix.

[2022-11-24 00:53] renori opened #2029 "Havoc DH, Sigil of Flame not being recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-24 13:02] Guycicle opened #2030 "Balance Druid: Wild Mushrooms should spaced out 9 seconds in rotation when Fungal Growth talent is chosen"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-24 17:02] Hekili commented on #2030
Thanks, I will investigate.

[2022-11-24 17:07] Guycicle commented on #2030
It looks like it will separate the spells in AoE rotation but not Single
target. I was accidentally in multitarget mode on my raidbots link. Single
target actually does suggest dumping 3 at once. I really have no idea why
since it decreases damage by ~400dps. But I'll share with you the revised
raidbots link. https://www.raidbots.com/simbot/report/7AkhmYGgpacTh5G1Y8owmD
which Hekili does emulate.

[2022-11-24 19:02] Hekili commented on #2029
That is narrowing the conditions for its use, not expanding them.  It's saying to only use when you're at least 80 Fury *below* maximum.

In the snapshot provided, there are two scenarios where Sigil of Flame would be recommended.

1. You have more than one target.
2. You have a Fury *deficit* of 30 or more.

Both of these conditions are contingent on not having a higher priority button to push, a

[2022-11-24 19:03] Hekili commented on #2026
This fix will be posted shortly.

[2022-11-24 19:03] #2026 closed, assigned to Hekili

[2022-11-24 19:03] Hekili commented on #2021
1.8.1 should've addressed this issue, but honestly it's a weird and annoying issue.

[2022-11-24 19:03] #2021 closed, assigned to Hekili

[2022-11-24 19:07] Hekili commented on #2023
Please provide a sim of your character in similar circumstances as your ticket.

[2022-11-24 19:08] Hekili commented on #2019
This was addressed in 1.8.1.

[2022-11-24 19:08] #2019 closed, assigned to Hekili

[2022-11-24 19:08] Hekili commented on #2018
I made adjustments for Prot in 1.8.1 that should've gone ahead and used Demo Shout more (it generates rage, after all) and Revenge should be used more frequently (depending on your choices in /hekili > Protection).

[2022-11-24 19:08] #2018 closed, assigned to Hekili

[2022-11-24 19:09] Hekili commented on #2024
The point of timing the snapshot effectively is to show that this is when you would've expected it to recommend Regrowth.  The snapshot then helps to prioritize where Regrowth might fit into the priority.

In any case, this should be addressed.

[2022-11-24 19:10] #2024 closed, assigned to Hekili

[2022-11-24 19:23] renori commented on #2029
Re: the fury deficit - I tried this to get it to use sigil as a generator,
when all fillers and generators were on CD.

To clarify I provided the snapshot with the default APL and that modified
condition removed.  I've taken a new snapshot - I think what is happening
may be that the addon is anticipating fury generation from the Demon Blades
talent, then changes the recommendation to the next spen

[2022-11-24 22:13] Cheetah714 opened #2031 "Unholy DK recommending Apocalypse w/o 4 wounds"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-25 02:43] Pulseonline commented on #2023
I dont' know how to do that

[2022-11-25 05:07] mightymist3ry commented on #2023
This is the same issue i have discussed before in 3 target disengrate will be recommended when it should indeed be pyre if Volatility talent is selected, the incenerate talent allows pyre 15% chance to blow up 3 more times. and in my testing is gotten more damage, i also feel essence burst is still recommending improperly with the instant cast. https://github.com/Hekili/hekili/issues/1988 Theres q

[2022-11-25 05:57] Bsirk commented on #2023
You only fire on 3 or more with Pyre if you have Volatility chosen. Otherwise, you wait until you have at least 10 stacks of CB.

[2022-11-25 06:00] mightymist3ry commented on #2023
Youa re right its Volatility..lol, but yeah in 3 target hekili alwasys recommends desigentrage over pyre so i just press pyre insted. Theres suppsoed to be some way to change the proority but idk how to.

[2022-11-25 06:03] Bsirk commented on #2023
You might want to check if you have at least 10 stacks of CB. If you don't then Disintegrate is the correct answer. If you do and it still is recommending Disintegrate, then I suggest getting a snapshot when you think it should be and add it to this ticket.

[2022-11-25 06:05] Bsirk commented on #2023
I suggest getting a snapshot and adding it to the ticket when it should be casting Pyre. That way Hekili can figure out the issue.

[2022-11-25 06:05] mightymist3ry commented on #2023
like i said before in the previous post https://github.com/Hekili/hekili/issues/1988 theres plenty of them there cause i was confused aswell there was even a scenario in one of my snapshots there where i was hitting more than 4 targets 5-6 i believe and essence burst was upa nd it was telling me to use 4 more azure strikes  and by then the mobs would have died in the scanario i was in

[2022-11-25 06:17] Pulseonline commented on #2023
This ^^^  This is my issue, its not that its recommending disintegrate, im fine with that.  But its recommending More azure strikes over using pyre on like 4+ targets where the charged blast stacks dont matter.  You use pyre on CD in AOE at 4+ targets with Volatility.

[2022-11-25 12:23] gfuto opened #2033 "Ability cooldown not returned properly if toggle has "Show Seperately" enabled"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-25 12:26] HUNTERWOR opened #2034 "Automatic Target detection not detecting / choosing AOE on multi target dummies"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-25 14:25] naknekm opened #2035 "BM Hunter Can't show interrupts, red line through button"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-25 15:58] kuttim opened #2036 "Havoc DH priority is suggesting demon bite when specced into demon blades."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-25 20:24] marekCs commented on #2035
Try to bind Counterspell. Maybe it’s red because you did not bind it yet.

[2022-11-26 08:25] AnitaSinha commented on #1912
but there is the beta, there are rotations available for most classes that work well, why hasn't one been created for the shadowpriest yet?

[2022-11-26 08:45] vond82 commented on #1912
Because he put Wrath development on hold to make sure to get everything working properly for Dragonflight

[2022-11-26 08:50] AnitaSinha commented on #1912
is it possible to adjust the settings yourself without much effort?

[2022-11-26 09:47] Dragonfo commented on #2023
Now in AOE it is working well only these two scenarios according to my sim.
2x Target - https://www.raidbots.com/simbot/report/t8zazateZX7exSebUFVdLE
3x Target - https://www.raidbots.com/simbot/report/sUUSxXyH8baQN9v79fRKVY
These two conditions for goals 2 and 3 work as they should. But what is expected when the goals become 4, then there is an error in logic. Here's A Snapshot. https://pastebin.c

[2022-11-26 17:02] hdn1217 commented on #1677
Thanks for your help.  All I had to do was to do was to temporary disable the game bars, which were hiding your bar, move your bar up a little and then turn the game bars back on….

Cheers,

Howard

From: TheHambrick ***@***.***>
Reply-To: Hekili/hekili ***@***.***>
Date: Wednesday, November 23, 2022 at 2:17 PM
To: Hekili/hekili ***@***.***>
Cc: hdn1217 ***@***.***>, Comment ***@***.***>
Subject:

[2022-11-26 17:19] Hekili commented on #2036
Interesting.  Your talents were not detected for some reason.  You don't appear to be using a released build of the addon.  If you download a properly packaged release, do you have this issue?

[2022-11-26 17:20] Hekili commented on #2023
I would recommend suggesting your changes for SimulationCraft -- you can make edits and contribute there.  If/when the Devastation priority is updated there, I will make similar edits here.

[2022-11-26 17:21] Hekili commented on #1912
Classic will be done when it's ready; there's no need to keep an open ticket for this topic.  Thanks.

[2022-11-26 17:21] #1912 closed, assigned to Hekili

[2022-11-26 17:24] Hekili commented on #2035
What do you mean by a red line through the button?  You can paste a screenshot.

What does not having a Demon Hunter have to do with "How to Reproduce"?

Are you targeting an enemy that is casting something that's interruptible?  Interrupts aren't going to be shown unless it's time to actually use them.

I can see that you have Interrupts toggled on and set to show in the separate display.  Did yo

[2022-11-26 17:25] Hekili commented on #2034
You're playing a ranged spec; by default targets are counted once you've hit them, and stay counted if you keep hitting them.

As Beast Mastery, you have the option of setting up Pet-Based Target Detection, in /hekili > Beast Mastery > Targeting.  You have to enable the feature and place a relevant pet ability on one of *your* action bars (not your pets).  That enables the addon to count targets a

[2022-11-26 17:25] #2034 closed, assigned to Hekili

[2022-11-26 17:28] Hekili commented on #2033
Yes, this is intentional.  If an ability can't be recommended in a display, it is treated as though it's fully on cooldown so recommendations don't constantly ramp in preparation for a button it can't suggest that you push.

How does this functionality impact you?  What's the problem with it?

[2022-11-26 19:18] Hekili commented on #2031
The addon is based off SimulationCraft tested priorities, not the Icy-Veins guides specifically.

I am investigating the Festering Wounds issue.  That is an issue of translating simc into the game.

[2022-11-26 20:07] Hekili commented on #2025
This is partially addressed with 1.8.3; I am using Wowhead/Icy-Veins guides to recommend it with sufficient stacks of Frailty.

[2022-11-26 20:07] #2025 closed, assigned to Hekili

[2022-11-26 20:39] Hekili commented on #2031
It looks like your sim actually behaved the same; there's no condition for Apocalypse that requires Festering Wound at 4+, though clearly it should.

Your customized sim for Streets makes it hard to assess with so many confounding variables.  Because of that, your sim wouldn't use Dark Transformation until 40 seconds into the dungeon.

I've made some changes since it seems the SimC priority isn't

[2022-11-26 20:39] #2031 closed, assigned to Hekili

[2022-11-26 20:39] #2006 closed, assigned to Hekili

[2022-11-26 20:52] Hekili commented on #2030
In 1.8.5, this will be spaced out based on the Fungal Growth dot.

[2022-11-26 20:52] #2030 closed, assigned to Hekili

[2022-11-26 20:54] Hekili commented on #2029
This snapshot you provided again shows Sigil of Flame on cooldown for a few seconds, otherwise it could've been recommended.  Is that not accurate?

[2022-11-26 21:02] codengine opened #2039 "Enhancement: Earth Shield should not be suggested"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-26 21:03] Hekili commented on #2039
You can disable Earth Shield in /hekili > Abilities.

[2022-11-26 21:03] #2039 closed, assigned to Hekili

[2022-11-26 21:39] Jandengit commented on #2020
Just wanted to add I'm having the exact same issue and after enabling/disabling different addons I narrowed it down to it being this one

[2022-11-26 22:02] Hekili commented on #2020
You're welcome to provide more details to help with investigation of the issue.

[2022-11-26 23:23] Jandengit commented on #2020
Some info and more testing:

I only have Hekili addon enabled, everything else disabled.
It happens on all specs and characters I have tried with since noticing the issue.
I can't be certain but I believe it only started happening with a recent update as I didn't notice it previously, but can't say for sure.
For me the stutter seem to only happen when I loot things or when I zone into instances/ne

[2022-11-27 01:38] Sedveth opened #2040 "Outlaw Rogue Fan The Hammer optimization"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-27 01:43] renori commented on #2029
That's not accurate - sigil of flame was not used at all for the entire
snapshot.

On Sat, Nov 26, 2022, 12:54 PM Hekili ***@***.***> wrote:

[2022-11-27 09:38] gfuto commented on #2033
For example on my fury warrior I want to get Odyn's Fury recommended only when Recklessness is either active (which I can do) or Recklessness has less than 25s cooldown which I cannot currently. Recklessness has Cooldowns toggle and is shown separately, Odyn's fury's toggle is None.
In the apl I'm trying to use the following line:

actions+=/odyns_fury,if=debuff.odyns_fury.down&(cooldown.recklessn

[2022-11-27 11:50] kuttim commented on #2036
Thank you, downloading a properly packaged release under releases tab on this repository did seem to fix it.

[2022-11-27 11:50] #2036 closed, assigned to Hekili

[2022-11-27 12:40] marekCs commented on #2020
It’s really not caused by Hekili. Try 1) https://www.wowhead.com/news/a-quick-bandaid-solution-for-fps-stutter-issues-329579 2) switch to Directx11

[2022-11-27 12:58] ZFBedo commented on #378
@Hekili i have Elvui and it is reading only Elvui keybinds even after i turn-off Elvui it still read its keybinds, should i empty all moves from bars or what? cause i think Elvui is overriding WoW defult UI now is DF so it work even in keybinds.

[2022-11-27 14:13] vond82 commented on #2020
The fix on that link is not a thing since a day or two after that post was made as Blizzard force-changed that setting for everyone. So unless someone manually changed that back after, it will already be set

[2022-11-27 15:18] Creaper87 commented on #2020
i tried both solutions and it doesnt change anything same stuttering on the things as before.
Tested it today on classic since i have seen that hekili works for it too and there it no stutter after combat drops but on looting and zone switching it happens like on retail tho.
This was with only Hekili active and no other Addon.

[2022-11-27 16:18] Jingle627 opened #2041 "Spellflash no circle"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-27 17:11] marekCs commented on #2020
Okay. The only thing I can think of next is that the addon keeps track of the nameplates around it. Try disabling the nameplates if you see any change. And also try to disable Recommended switching function. I'm just shooting this from the hip but maybe there will be a change.

[2022-11-27 17:51] Creaper87 commented on #2020
I tried some things now and none of it fixed it

- Disabled Enemy Nameplates
- Switched off Recommended setting
- Turned on only Single Target Rotation
- Pause Hekili
- Disabled Hekili in Hekili options (Addon was still loaded in background)

[2022-11-27 17:52] marekCs commented on #2020
How many Haste you have?

[2022-11-27 17:56] Creaper87 commented on #2020
This is on all chars, live, beta level 70 and wotlk so its diffrent

[2022-11-27 17:59] marekCs commented on #2020
Then I don't know. But it doesn't do it to me, and I think you're probably alone because someone else would have come forward too. It did for me on Frost Mage in Beta but it was because a small Haste (about 2%) and calculating about GCD.

[2022-11-27 18:03] Creaper87 commented on #2020
there is actually a guy  some posts above with the same problem he posted a video clip of it and its exactly the same issue, but ya it seems pretty rare. my friends didnt have this bug

[2022-11-27 18:07] Jandengit commented on #2020
Yep. and I also just tried that wowhead quickfix, did nothing to solve it. :(

[2022-11-27 19:54] Creaper87 commented on #2020
I fixed the stutters after leaving combat, i was using the addon Auto Healthstone Macro and even if you disable the addon you still have the macro for it in your bars. This addon has some trouble togther with hekili at least for me.

But still got stutter while looting and zoning like Jandengit was showing in the clip.

[2022-11-28 05:39] marekCs opened #2042 "Survival Hunter - cannot use Kill Shot - required ranged weapon"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-28 06:19] Hekili commented on #2020
Version 10.0.2-1.8.6 has some updates that may address this issue.

[2022-11-28 06:22] Hekili commented on #2033
If an ability's usage is going to be impacted by the cooldown of an ability shown in a separate display, my recommendation is that both abilities should be on that toggle and shown in the same display.

You can bypass the feigned cooldown with the checkbox on your spec's Toggles tab, or use `cooldown.recklessness.true_remains` and that's as far as I'll go on this topic.  This isn't a bug, and this

[2022-11-28 06:22] #2033 closed, assigned to Hekili

[2022-11-28 06:23] Hekili commented on #2029
A snapshot captures recommendations given at a particular moment.  Are you saying you never used Sigil of Flame prior to taking the snapshot?

[2022-11-28 06:25] renori commented on #2029
Yes, that is exactly what I am saying.  At no point did I use sigil of
flame while I tried to get it to come up as the primary recommendation.

On Sun, Nov 27, 2022 at 10:23 PM Hekili ***@***.***> wrote:

[2022-11-28 06:40] Hekili commented on #2029
Thanks, this should be addressed in 10.0.2-1.8.7.

[2022-11-28 06:40] #2029 closed, assigned to Hekili

[2022-11-28 06:41] Hekili commented on #2040
This will be addressed in a routine priority update; no ticket is necessary.

[2022-11-28 06:41] #2040 closed, assigned to Hekili

[2022-11-28 06:50] Hekili commented on #2042
This should be resolved in 1.8.8.

[2022-11-28 06:50] #2042 closed, assigned to Hekili

[2022-11-28 06:51] #2035 closed, assigned to Hekili

[2022-11-28 06:51] Hekili commented on #1764
Would like a status update to know if there are still issues with Bartender bindings as of 1.8.8 or later.

[2022-11-28 07:21] Jandengit commented on #2020
Confirmed for me: The loot lag is now completely gone! (v10.0.2-1.8.8) I can still feel a slight stutter on zoning but that is nothing that bothers me personally. Thank you for the addon, and the fix :)

[2022-11-28 07:35] dado82rm commented on #1764
I moved on to Elvui but still using same bars number and seems to work fine now
Thank you

[2022-11-28 08:41] daegalus opened #2043 "Error on load, GetPlayerAuraBySpellID nil"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-28 08:44] daegalus commented on #2043
Seems the Wago Hekili is severely outdated, updated to github and it's fine now.

[2022-11-28 08:44] #2043 closed, assigned to Hekili

[2022-11-28 13:11] MajorKryme commented on #1764
I'll check this morning.

On Mon, Nov 28, 2022, 1:36 AM dado82rm ***@***.***> wrote:

[2022-11-28 13:33] jgwallace3 commented on #1764
I'm using stock keybinds (for now) but did go back and check bartender. Both keybind styles work fine for me on bars 1-5, but neither work still on bars 6-8.

[2022-11-28 14:00] MajorKryme commented on #1764
Just checked and with the stock action bars, I can confirm it is now
showing keybinds for abilities not on bar 1.  Looks all good now.  Thanks!

On Mon, Nov 28, 2022 at 7:33 AM greywun ***@***.***> wrote:

[2022-11-28 14:01] Grayfox2325 opened #2044 "Druid - Disable Shadowmeld When Solo"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-28 14:09] mystyree opened #2045 "(Mage, probably others:) Queues get stuck"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-28 15:00] mystyree commented on #2045
Some further info: Also observed this on affli lock and spriest but the behaviour is not so consistent. On affli lock[1] it occured fighting one of the prepatch event bosses, but not on a training dummy. Afterwards I tried to replicate it on spriest[2], also hitting an event boss; in this case the queue didn't get stuck but sometimes it was very slow to update, i.e. still giving recommendations fo

[2022-11-28 15:35] mystyree commented on #2045
Replicated tests with 6f4e10cce7f7a56a33df3f1a7aa151658a9ffea0 reverted[1] and couldn't replicate issue on spriest or affli lock, pretty sure the issue is in there.

[1]: https://github.com/mystyree/hekili/commit/74243d1fa91fd996fcf2078889e36c87a99945ba

[2022-11-28 16:24] Hekili commented on #2045
Thanks.  Please see if 1.8.9 makes a difference (release is publishing now).

[2022-11-28 16:39] Hekili commented on #2020
Thanks.  There are some lingering issues I'm addressing, but I'll close this ticket in favor of the other.

[2022-11-28 16:39] #2020 closed, assigned to Hekili

[2022-11-28 16:57] mystyree commented on #2045
1.8.9 seems to resolve this. at least with a quick test on arcane mage (presumably other specs as well). Will reopen this if not.

[2022-11-28 16:57] #2045 closed, assigned to Hekili

[2022-11-28 16:58] Hekili commented on #2045
Thanks, I appreciate the ticket and detail you provided.  You also saved everybody a bunch of CPU cycles from the addon failing to cache information so it was rescanning tooltips a bunch...  Oops.

[2022-11-28 17:56] ALostViking commented on #2024
I see you have closed this as "completed," but it's still not fixed.
Hekili are not able to show/display Regrowth as an ability.
Not with the original Guardian Rotation, as well as if you try to add Regrowth in yourself anywhere within the rotation, with or without any conditions at all.

It is a mistake within the addon. And a fairly large one too.
Regrowth (the button itself) will glow like craz

[2022-11-28 18:11] Hekili commented on #2024
You can post a current snapshot where Regrowth should be recommended but isn't, if you'd like to add context.

[2022-11-28 18:18] ALostViking commented on #2024
Guardian; Primary - Moonfire(0.00), Ravenous Frenzy(0.00), Shard of Annhylde's Aegis(1.26)
build: v10.0.2-1.8.8
level: 60 (60)
class: DRUID
spec: guardian

talents: after_the_wildfire
    berserk_ravage = 1/1
    berserk_unchecked_aggression = 1/1
    brambles = 1/1
    dream_of_cenarius = 1/1
    earthwarden = 1/1
    flashing_claws = 2/2
    frenzied_regeneration = 1/1
    gore = 1/1
    gory_fu

[2022-11-28 18:19] ALostViking commented on #2024
Like this?

[2022-11-28 18:24] ALostViking commented on #2024
Issue seems to me to be right here? Hekili believes it needs: "Restoration Affinity" as a talent to be used. But that's not a talent at all.

![image](https://user-images.githubusercontent.com/118919563/204352174-26141330-e152-4e5b-97d1-77a2d8d64d35.png)

[2022-11-28 18:31] ALostViking commented on #2024
But at the same time: Regrowth need

![image](https://user-images.githubusercontent.com/118919563/204352897-cb2473f2-3f46-4d25-bf14-9c8dfcd3712a.png)

this talent and "buff.dream_of_cenarius.up" added to its conditions too. Otherwise you will leave bear form and get nuked by the adds if you press the ability.

![image](https://user-images.githubusercontent.com/118919563/204353082-218ae54a-3354-450

[2022-11-28 19:04] Hekili commented on #2024
Well, normally snapshots go in Pastebin so the formatting doesn't get eaten.  It looks like there are a number of warnings associated with your custom priority that you will probably want to resolve as well.

That said, yes, Regrowth is looking for a deprecated talent.

[2022-11-28 19:22] ALostViking commented on #2024
Sorry, I've been trying to add/remove all kinds of stuff the last hour, in order to make Regrowth even show. Might've forgotten to reload back to default before this snapshot. Although I were sure I did.

Anyway, just want the addon to work correctly.

[2022-11-28 19:35] Hekili commented on #2023
I'll be posting some priority changes which will use Pyre more often with version 1.8.10.  Additional priority changes will take place after SimulationCraft does its own updates.

[2022-11-28 19:35] #2023 closed, assigned to Hekili

[2022-11-28 19:47] Hekili commented on #2024
Regrowth should be available in 1.8.10 (posting soon); let me know if you see otherwise.

[2022-11-28 20:05] cremor opened #2046 "Update TaintLess"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-29 19:23] humidboot opened #2047 "[Warlock Demo] Reconsider priority taking into account Felguard spell executions not allowing other casts like DStr or Guillotine"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-29 19:50] Dorfess opened #2048 "Reccomends Execute when not available."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-29 19:55] Hekili commented on #2048
You have Recommend Target Swaps turned on, and it's recommending Execute on another target.

[2022-11-29 20:52] PinkLionArt opened #2049 "Targeting Nameplate Detection resets on Logout"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-30 05:39] OfficialExiled opened #2050 "Outlaw - Few bad rotations that might need a fix"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-30 06:27] UltiDeeps opened #2051 "UH DK Priority Changes"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-30 08:07] N6REJ opened #2052 "Shattering Star should be lead out skill for Devastation evoker"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-30 16:11] Hekili commented on #2052
Tickets for routine priority changes are not needed; when the sim profiles are updated, the addon will also get updated.

[2022-11-30 16:11] #2052 closed, assigned to Hekili

[2022-11-30 16:28] Hekili commented on #2051
Laundry list tickets are generally problematic because eventually we're tracking 5 different things, many of which will be addressed by routine priority updates when sims are updated.

That being said...

New trinkets aren't implemented yet.

This is an easy fix, will be addressed in next release.

You don't seem to be RP capped here:

[code]

Unholy has a `pop_wounds` variable that defines when i

[2022-11-30 16:41] UltiDeeps commented on #2051
Gotcha, that’s my bad I opened multiple tickets previously for issues and
thought that was the less enjoyed alternative.

I made these last night before bed so when I get home I will do my best to
replicate them again when I return.

Since it seems most of these are just routine fixes over time I’m gonna
trust the process and trust your judgement. You’ve not let me down before
not going to doubt y

[2022-11-30 17:01] Hekili commented on #2051
For the record, it was helpful that you snapshotted these.  Apocalypse vanishing from recommendations is a bug that I've solved and will post the fix for.

Opener stuff is usually a "don't bother" for tickets because that's all sim work.  If the addon and the sim are giving different results, that comparison matters.  Guides often over-emphasize openers to begin with.

The Death Coil and wound pop

[2022-11-30 21:27] Haroldyolo opened #2053 "[Rogue rotation] Hekili not suggesting to use Ambush even though I have audacity buff"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-30 21:37] CDAGaming opened #2054 "Stance Bar is not detected in Hekiki + Sees stance as not-toggled when it is"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-30 21:51] Hekili commented on #2053
Please provide a snapshot that's in combat where you'd have expected it to recommend Ambush.  I see that you have Audacity up, but Roll the Bones is much higher in priority.  A snapshot taken when a lower priority ability (i.e., Sinister Strike) is recommended despite having Audacity would be more useful in assessing.

[2022-11-30 23:10] CDAGaming commented on #2054
Resolved via 1.9.1, thanks for the quick fix!

[2022-11-30 23:10] #2054 closed, assigned to Hekili

[2022-11-30 23:24] AhoyThere opened #2055 "Survival Hunter - Kill Shot never gets recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-30 23:47] gargoylegreg opened #2056 "Fire breath and Disintergrate not working for single target, eternity surge takes screen shot when used and completely makes hekilli disappear"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting