[2021-01-15 14:06] Hekili commented on #837
I'm going to close this ticket (let me know if you find a related problem).  The remaining portion of the "fix" will come with priority updates this weekend, which is maintenance (not bugfix).

[2021-01-15 14:06] #837 closed, assigned to Hekili

[2021-01-16 12:26] lucala commented on #748
I wondered why it never suggested owlweaving even though I met the above conditions. Turns out you need to turn it on in the settings! Love the addon so far, great work.

[2021-01-16 16:47] Lipstopica opened #840 "MM Hunter CD window issue with Arcane Shot"
Currently using the most updated version of the addon.

Basically during the opener of MM Hunter without Lust and other options ticked, my sim never shows double Arcane Shot. Hekili is suggesting to use two Arcane Shots, when sim is only ever using 1 Arcane Shot (without lust) during cooldowns. This is causing me not to get a 5th aimed shot out within the wild spirits window. (Will explain more in

[2021-01-16 17:12] Lipstopica commented on #840
I would also like to add that the sim does show double aimed shots, but thats out of the CD range such as Wild Spirits etc, just never during unless Lust is up which I guess is because of the extra haste and focus regen?

[2021-01-16 17:19] #829 closed, assigned to Hekili

[2021-01-16 17:19] endisnear1010 commented on #829
alright, thanks for clearing this up then :)

[2021-01-16 17:23] endisnear1010 opened #841 "Vanish / Master assassin problem (Rogue)"
Hekili wants to use vanish in the opener while Master Assassin (100% crit chance buff which is active 4 seconds after stealth) is still up instead of waiting for it to run out and to get a new buff right afterwards which seems like a waste to me.

https://pastebin.com/7iFH43Ft

[2021-01-16 17:34] endisnear1010 commented on #841
ok my hekili wasnt on the newest update, but i just updated it now and it still does this. Here's a new snapshot with the update.
https://pastebin.com/1pFeMwaC

if you need anything else tell me.

[2021-01-16 17:51] Obviousamb opened #842 "Disable Trinket add to list please"
Please add Sinful Aspirant's Emblem(use: increase health by 8000 etc) to the blacklist,
I am playing balance druid, and it is not showing in the list of trinkets
Would be nice to disable for it. It is currently not on the list
Thanks for the awesome add on!

[2021-01-16 17:55] Hekili commented on #842
All Emblems can be configured from the Emblem that is listed.

[2021-01-16 17:55] #842 closed, assigned to Hekili

[2021-01-16 20:28] Lipstopica commented on #840
Also suggests using two aimed shots back to back when simc list is one aimed shot into two aimed shots after rapid fire. Not sure whats actually happening

[2021-01-16 20:29] Hekili commented on #840
If you want this to go anywhere, you have to follow the ticket instructions.

[2021-01-16 20:29] Lipstopica commented on #840
What am I missing? I've posted everything it asked for

[2021-01-16 20:30] Lipstopica commented on #840
snapshots, whats expected, whats happening

[2021-01-16 20:31] Hekili commented on #841
Your snapshot doesn't show Master Assassin being up when Vanish is recommended.  Can you screenshot when this is happening?  Can you show me the spell ID of your Master Assassin buff?  Or link a log?

[2021-01-16 20:33] Lipstopica commented on #840
https://pastebin.com/cnmg1kqm

Issue report, which is the only thing I missed? really. What else? Cant post error message as there is none

[2021-01-16 20:35] Lipstopica commented on #840
Literally, # 841 got more feedback on what else to send without proper format than what I've gotten while using a good format I think

[2021-01-16 20:41] Hekili commented on #840
It's really helpful to keep it in the format.  841 is a poorly constructed ticket, too, but was simply an easier issue to look at.  We are not going to do the "fighting for attention" in these tickets.  Seriously.

Okay, the best thing you can do, to have a demonstrative snapshot, is to turn the Primary display up to showing 10 recommendations and grab a snapshot that directly matches the portion

[2021-01-16 20:42] Lipstopica commented on #840
Thank you for the feedback. I will go ahead and do that when I can

[2021-01-16 20:47] Hekili commented on #840
Thanks for being willing to gather info.  It'll help to diagnose and resolve any issue here.  One area to clear up will be whether the predictive portion (i.e., the queued recommendations) match expectations but the first recommendation does not.  That'd imply some minor difference between the model and what actually occurred in-game.

[2021-01-16 20:58] Preacher1972 opened #843 "No Recomandation for Flare after Tar Trap on Survival Hunter with Soulforge Embers"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
I switched my Hunter from Beastmaster to Survival and on Bestm

[2021-01-16 21:00] Hekili commented on #843
There is no way to detect Tar Trap is applied to snare-immune enemies (raid test dummies, bosses, etc.).

[2021-01-16 21:14] Lipstopica commented on #840
Sent you the sim in Discord DM

 Double Arcane - https://pastebin.com/yfAQyeHA (snapped on the second Arcane Shot that was being suggested)
 Double Aimshot open - https://pastebin.com/7hWC0sFB (Snapped on the second Aimed Shot, Technically 3rd if you count the actual start combat aimed shot instead of it being Rapid Fire comapred to sims)

 Hope those are the right snapshots that you're looking fo

[2021-01-16 21:15] Preacher1972 commented on #843
But it worked really flawless with my Beastmastery Specification ..... i am a little confused :).

[2021-01-16 21:50] endisnear1010 commented on #841
ID is: 340094, ill make a screenshot soon

[2021-01-16 21:57] endisnear1010 commented on #841
there's a screenshot: https://gyazo.com/879e0ea91b953a16e116b8860ddf3496

made a weakaura to show that MA is up.

[2021-01-16 22:22] Preacher1972 commented on #843
I compared the Beast Master profile with the survival hunter profile and there are no Tar Trap + Flare in the Profile....

actions.cleave+=/tar_trap,if=runeforge.soulforge_embers&tar_trap.remains<gcd&cooldown.flare.remains<gcd
actions.cleave+=/flare,line_cd=25,if=tar_trap.up&runeforge.soulforge_embers

and

actions.st+=/tar_trap,if=runeforge.soulforge_embers&tar_trap.remains<gcd&cooldown.flare.rem

[2021-01-16 23:50] endisnear1010 commented on #841
just noticed the screenshot ist very good, had to use the built in wow functipn as the ma windows is pretty small. if you need another screenshot tell me and ill do a better one.

[2021-01-17 11:06] choseh commented on #841
can confirm that this is happening here aswell, not showing up as as "up" in the snapshot:
https://pastebin.com/Dh4SEQMY

spell id/aura for me: 340094

[2021-01-17 15:56] Lipstopica commented on #840
Just checking are those snapshots fine or do you need them snapshotted before the actual recommended ability? Also not sure if you wanted/needed me to answer or the logs would answer "One area to clear up will be whether the predictive portion (i.e., the queued recommendations) match expectations but the first recommendation does not.".

I do feel like they're different from each other. Like when

[2021-01-17 16:09] Hekili commented on #840
I will let you know if/when I need anything else; thanks.

[2021-01-17 16:10] Hekili commented on #841
Next release should address this.

[2021-01-17 16:10] #841 closed, assigned to Hekili

[2021-01-17 16:10] Hekili commented on #834
Going to push my testfix to live (where the feigned CD only applies to Primary and AOE).

[2021-01-17 16:10] #834 closed, assigned to Hekili

[2021-01-17 16:10] #826 closed, assigned to Hekili

[2021-01-17 16:16] Lipstopica commented on #840
Sorry and thank you. Would like to add just one more thing though. From the first Aimed Shot after Blood Fury, it suggests going into Rapid Fire until the near the end of gcd/cast of the Aimed Shot then switches to Aimed Shot for the second Aimed Shot when it should still have suggested Rapid Fire. If I just ignore the Aimed Shot and use Rapid Fire anyway, the rotation goes perfectly to sims from

[2021-01-17 16:20] Hekili commented on #840
If you have additional information to add, it's a good idea to link the snapshot + screenshot + highlight the actual point in sims you're reference.  We're kind of at a point where reconstructing what you're saying from additional context is time-consuming and I'm not totally certain which pieces of information are relevant and which aren't.

[2021-01-17 16:25] Hekili commented on #843
Those lines aren't part of the Survival priority.  But there is a missing call for CDs in general that I've added and are present as of 1.0.36-beta4.

[2021-01-17 16:25] #843 closed, assigned to Hekili

[2021-01-17 16:28] Lipstopica commented on #840
Understood

[2021-01-17 21:25] lucala commented on #748
Talking to the theorycrafters behind owlweaving on the dreamgrove discord it seems like the conditions that should be met are slightly different. (copied directly from there)
[code]
I noticed that hekili will suggest the owlweave cycle while berserker is up which is suboptimal. The rotation in an owlweave cycle seems to be correct (starsurge & sunfire). Additionally if possible, for AoE dmg with n

[2021-01-17 21:54] Hekili commented on #748
This is an already closed ticket.

You didn't provide the required ticket information.

If/when they update the sim to follow the conditions they've written up, I'll update as well.

[2021-01-17 21:58] lucala commented on #748
Ok so you're monitoring this and there is no need for me to open a new ticket?

[2021-01-17 22:00] whoaisjustin commented on #748
He gets notified when the nightly simc build for each spec is updated. When Feral is updated, he'll know shortly after.

[2021-01-17 23:14] Hekili commented on #748
Yeah, what @whoaisjustin -- I check for updated APLs on (roughly) a daily basis.  Xanzara and the Feral crew are really good about updating SimC once they've fine-tuned a priority change.  @ShmooDude might know if/why this isn't in SimC yet, too.

[2021-01-18 01:35] leewynn opened #844 "Minimum targets doesn't work for 2 targets."
**Describe the Bug/Issue**
For outlaw rogue, AOE Display: Minimum targets doesn't work for 2 targets.

**To Reproduce**
Open Hekili, select Outlaw, go to Targetting tab and set AOE Display: Minimum Targets to 2

**Expected behavior**
AOE Display should display when 2 targets are configured in the Targetting tab

**Screenshots**
N/A

**WHEN SUBMITTING AN ISSUE:**

Please provide the following infor

[2021-01-18 03:20] Hekili commented on #844
Setting AOE Display: Minimum Targets to 2 means *when it is shown*, the AOE display will always pretend there are at least 2 targets.

To make the AOE display appear, you have to set your Display Mode (in the Toggles section) to a mode that uses two displays.  That would be "Fixed Dual Display" (always showing both) or "Reactive Dual Display" (appearing when there are 2+ targets).

[2021-01-18 03:20] #844 closed, assigned to Hekili

[2021-01-18 03:27] steveriggins opened #845 "Cannot add Wrathstone trinket to cool downs"
**Describe the Bug/Issue**
I picked up a Wrathstone trinket, on use agility, form time walking ulduar. When I try to toggle it on, it does not show in the list and I cannot figure out how to add it.

**To Reproduce**
I am wearing the trinket in the second trinket slot. It does not show up in my rotation in either the main abilities nor the separate cooldown list.

**Expected behavior**
To be able

[2021-01-18 03:41] Hekili commented on #845
Every trinket has to be manually added to ensure it's scripted.  I'll add the Wrathstone for the next release.

[2021-01-18 03:41] #845 closed, assigned to Hekili

[2021-01-18 03:46] steveriggins commented on #845
Sweet, thank you!

[2021-01-18 03:51] Hekili commented on #836
`/hek set target_swap` will be available (so you can macro it) in the next release.

[2021-01-18 03:51] #836 closed, assigned to Hekili

[2021-01-18 04:01] leewynn commented on #844
@Hekili it's on reactive dual display at the moment, it displays when it's 3 targets, but does not appear on 2 targets which is why i logged this card

[2021-01-18 12:30] Hekili commented on #844
Will look again, thanks.

On Sun, Jan 17, 2021, 11:02 PM leewynn <notifications@github.com> wrote:

[2021-01-18 14:30] Hekili commented on #844
Good catch.  I have a fix for this that I'll put out in a new release later this morning.

[2021-01-18 16:30] Hekili commented on #840
This has required a fair amount of research, so sorry for taking time.

So far, it seems there are a combination of things happening:

1.  I hadn't proactively modeled the CDR effect on Aimed/Rapid when you pop Trueshot.  The addon would instead react to this after you hit Trueshot, resulting in new recommendations that differ slightly depending on haste/focus regen, etc.

2.  It *seems* that the

[2021-01-18 16:43] Lipstopica commented on #840
Thank you for looking into it without me providing the best information for you to go off. Very much appricated.

[2021-01-18 16:44] Hekili commented on #840
You provided a lot.  It was a lot to sort through.  It's just really complicated.  I appreciate what you provided.

[2021-01-18 17:55] LucianDK opened #846 "Using shaman Flame Shock too late?"
One thing Ive noticed is that the addon doesnt seem to prioritize flame shock enough. A rare few times getting one called at super low duration on one, or even letting it lapse before it shows up.

[2021-01-18 18:01] Hekili commented on #846
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-01-18 19:26] Hekili commented on #840
Re: the second point, Putro and some simc buddies investigated and found that the delays after a channeled spell in the sim is by design and pretty consistent throughout (i.e., there's a delay between the end of Void Torrent and the start of the next cast for Shadow Priests).  My own judgment is that a delay of as much as 0.3 seconds is *a bit much* but it does account for most of the remaining di

[2021-01-18 19:43] Lipstopica commented on #840
Took me a few attemps to understand properly, but I believe I know what you're meaning now. I see what you mean by it being really complicated. But thanks for taking your time to also explain how things are actually working, really helps me understand the explanation behind it.

[2021-01-18 20:00] istari0n commented on #846
I've changed this part: "( ! ticking | dot.flame_shock.remains <= gcd |"
and made it like this: "( remains <= gcd |"
and it seems to start working fine.
correct me if I did smth wrong...

[2021-01-18 20:03] Hekili commented on #846
@LucianDK I have to have all the ticket information to do a comparison.

@istari0n It's probably confirmation bias, your edit doesn't really change anything that would impact the outcome.  (If Flame Shock isn't ticking, its remaining time is less than a GCD, so the existing logic is a bit redundant.)

This is a scenario where it's probably best to also compare sims.  I don't even know which specia

[2021-01-18 20:16] istari0n opened #847 "Does not respond to the lava surge buff"
With Windspeaker's Lava Resurgence legendary effect, I should spend lava surge procs before using earth shock. But the line "buff.lava_surge.up" doesn't seem to work at all. It is always in a "false" state.

[2021-01-18 20:21] Hekili commented on #847
Please fill out the complete ticket with all the required information.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bu

[2021-01-18 21:00] istari0n commented on #847
**Describe the Bug/Issue:**
Addon does not track a buff "lava surge" (Elemental shaman). The current priority list contains the line "buff.lava_surge.up", but the presence of this buff does not affect the state in any way. it is always "false". So using this line does not lead to any positive result and i cant prioritise lava burst procs (lava surge) higher then earth shock.

**To Reproduce
Steps

[2021-01-18 21:02] Hekili commented on #847
Thanks.  Still need you to provide the *snapshot* that's described in the ticket.

Does your UI show spell IDs if you mouseover a spell icon?  I'm guessing your Lava Surge spell ID changed when you equipped your legendary.

[2021-01-18 21:10] istari0n commented on #847
My UI does not show spell IDs but i disequipped legendary item and nothing happend to the state of lava surge buff.

[2021-01-18 21:13] choseh opened #848 "Master Assassin + Vanish possible regression in beta5"
**Describe the Bug/Issue**
A clear and concise description of what the bug is.

Hekili suggests to vanish, even if master assassin aura is up. (spellid: 340094)

**To Reproduce**
Steps to reproduce the behavior:

Start fight from stealth, have vanish available

**Expected behavior**
Hek should only suggest it after the aura has faded.

https://pastebin.com/iY2z9FKX

master_assassin_remains[0.00] =

[2021-01-18 21:17] istari0n commented on #847
[lava surge snsh.txt](https://github.com/Hekili/hekili/files/5832429/lava.surge.snsh.txt)

[2021-01-18 21:19] Hekili commented on #847
Thanks for the snapshot.  I have a fix for this.

[2021-01-18 21:24] #847 closed, assigned to Hekili

[2021-01-18 21:24] Hekili commented on #848
Thanks, incoming fix to spell ID:  340094.

[2021-01-18 21:24] #848 closed, assigned to Hekili

[2021-01-18 21:25] Hekili commented on #840
All available fixes will be in next beta build.

[2021-01-18 21:25] #840 closed, assigned to Hekili

[2021-01-18 23:15] leewynn commented on #844
Thanks for looking into it!

[2021-01-19 09:52] LucianDK commented on #846
It was elemental specialization.  And the reason for why im asking is that the refresh is comming too close to expiry then you risk it falling off, when you can take advantage of the pandemic refresh period to ensure a 'safety buffer' if you dont react fast enough.  Especially since Flame Shock uptime is absolutely critical and the top in all priority lists.

Flame Shock benefits from Pandemic, me

[2021-01-19 12:21] Hekili commented on #846
I know the mechanics.  You still have to submit the required ticket information.

[2021-01-20 04:26] bitmatt2 opened #849 "windwalker monk not telling me to use karma"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-01-20 04:28] bitmatt2 commented on #849
hello, when playing my windwalker monk it recommends to use good karma (when talented) but not karma itself if im not talented into good karma. also, is there a way i can move a spell like weapons of order or good karma to show up as a cooldown rather than be on my primary or aoe bar.

build: v9.0.2-1.0.35
level: 60 (60)
class: MONK
spec: windwalker

talents: chi_burst
    dance_of_chiji
    diffu

[2021-01-20 04:45] bitmatt2 commented on #849
btw. i tried to add the weapons of order spell to my cooldown toggle and it did not work

[2021-01-20 09:39] lloydBl opened #850 "Wake of Ashes/Divine Toll not being recommenced in AoE with Execution Sentenc"
**Describe the Bug/Issue**
This issue is for the ret paladin priority list. Wake of Ashes and Divine Toll are not being recommended by the addon in situations where there are more than 3 active targets.  This is due to Wake of Ashes and Divine Toll having dependencies on the Execution Sentence debuff up or on cooldown.  However in AoE situations, Execution Sentence is (correctly) never commended w

[2021-01-20 09:43] lloydBl commented on #850
I should note I made a copy of the defualt ret priority and called it "Ret Mine" in the snapshot.  I have not edited the priority list other than un-enabling Wings/Holy Avenger/Trinkets in the cooldown Action List. Generators and Finishers remain untouched and this issue stilll occurs using the default priority list

[2021-01-20 19:03] JamesParkDev opened #852 "Does not show correct keybinds"
**Describe the Bug/Issue**
Does not correctly show keybinds for bound (with shift or ctrl in front maybe other combinations) splell

**To Reproduce**
Steps to reproduce the behavior:
- Use Dominos (Simple UI like Elvui but for me, it's better than it)
- Set some spell with quick keybind (must be with Shift + [Something] or Ctrl + [Something])

**Expected behavior**
It should show correct keybind l

[2021-01-20 19:27] Hekili commented on #852
You can manually set keybinds for each ability if the autodetection does not suffice.

[2021-01-20 19:27] #852 closed, assigned to Hekili

[2021-01-20 20:52] IIeTpoc opened #853 "Use a title that describes the problem scenario."
Hi! Actually I am not sure if it is bug or not but during normal rotation from time to time addon suggests to wait about 3-4 seconds to use next spell. It might be the coded logic but it seems very weird for me to lose such a huge ammount of uptime.

Here is the snapshot. Nothing special to reproduce, just kill mobs

https://pastebin.com/0q1zwD6m

[2021-01-20 22:38] #846 closed, assigned to Hekili

[2021-01-20 22:44] Hekili commented on #849
Internally, the addon required Good Karma for Touch of Karma to be recommended.  I'll lift this requirement.

Additionally, keep an eye on your WW setting regarding incoming damage for Touch of Karma.

Which part of putting Weapons of Order on your CD toggle did not work?

![image](https://user-images.githubusercontent.com/9438134/105250031-0cc56200-5b47-11eb-8af7-989be9463b4b.png)

![image](https

[2021-01-20 23:07] thomas-m-fr opened #854 "Unnecessary delay on Shield of the Righteous"
_*deleted*_

[2021-01-21 00:37] Hekili commented on #850
That is not what my priority says and does.

Execution Sentence -- and the pathway to reach the recommendation for Execution Sentence -- is indifferent toward the number of targets.

I can't troubleshoot customized action lists; there's not enough time in the day.  If you replicate this behavior with default settings and priority, feel free to submit a new ticket.

[2021-01-21 00:37] #850 closed, assigned to Hekili

[2021-01-21 00:39] Hekili commented on #853
Please fill out tickets correctly and completely.

The snapshot provided does not match the situation you're describing.  There are wait times in the Windwalker priority but 3 - 4 seconds does sound like a lot.

Feel free to submit a new ticket with a correct title and all of the details requested, if/when you get a snapshot that shows a significant wait time before the next recommendation.

[2021-01-21 00:39] #853 closed, assigned to Hekili

[2021-01-21 00:43] Hekili commented on #849
The ToK changes (not requiring Good Karma) will appear in the next release.

[2021-01-21 00:43] #849 closed, assigned to Hekili

[2021-01-21 00:44] Hekili commented on #854
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-01-21 01:12] bitmatt2 commented on #849
i added it to the cooldowns toggle like you did in the first screenshot
(which worked for me with good karma), but it still will not show up in the
cooldown window (i have cds shown separately). so since ur lifting the
requirement will karma now show up as well as good karma. i have the
incoming damage for karma set to 1.

On Wed, Jan 20, 2021 at 6:43 PM Hekili <notifications@github.com> wrote:

[2021-01-21 02:00] Hekili commented on #849
Please fill out the ticket (following the instructions re: snapshots); I can't investigate further without the required information.

Remember, snapshots are to be taken when you think the addon should recommend what you're concerned with (Weapons of Order, in this case).  Provide snapshots for both the Primary and Cooldowns displays.

[2021-01-21 04:04] thomas-henley opened #857 "Confusing Fire Blast recommendation on Fire Mage"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
While using Hekili on Fire Mage, I often get recommendations t

[2021-01-21 04:07] lloydBl opened #858 "Wake of Ashes/Divine Toll/Execution Sentence not being recommenced in AoE with Default Action List"
**Describe the Bug/Issue**
Same issue from previous report persists with default built in retribution priority list.

Wake of Ashes and Divine Toll are not being recommended by the addon in situations where there are 4 or more active targets.  This may be related to the fact that Execution Sentence is not recommended either in 4+ target situations.  From my understanding Execution Sentence is corr

[2021-01-21 04:16] Hekili commented on #857
Thanks for the information.

The entry for Fire Blast that was selected met its criteria:

[code]

I'll have to do some digging with regard to the `action.shifting_power.full_reduction` expression, which influences the `fire_blast_pooling` variable and *might* be miscalculated (I'll research this).  But effectively, it's true -- you're not pooling Fire Blast for your Combustion window at this time

[2021-01-21 04:36] thomas-henley commented on #857
I get that it's not in the "pooling" phase, but even so, you don't dump your FB charges unless you're about to cap. You use them when your fireballs crit to generate "Hot Streak". Of course, I could be misunderstanding something about the spec (getting a better understanding is why I'm using Hekili in the first place) but this is pretty fundamental Fire Mage doctrine.

Here's a quick sim: https://

[2021-01-21 04:43] thomas-henley commented on #857
Yeah, if I'm reading this Raidbots report right, something is definitely off -- it looks like it's an AOE rule that the addon is getting confused by?

[code]

[2021-01-21 04:48] thomas-henley commented on #857
Hek:
( variable.time_to_combustion[48.13] > 0 | active_enemies[1.00] >= variable.hard_cast_flamestrike[2.00]

Raidbots:
(variable.time_to_combustion>0|variable.disable_combustion)&active_enemies>=variable.hard_cast_flamestrike

Looks like the wrong operator might have been pulled out along with that `variable.disable_combustion`

[2021-01-21 05:10] ShmooDude opened #859 "Time Warp not considered buff.bloodlust.up"
**Describe the Bug/Issue**
Owlweaving has `!buff.bloodlust.up` as one of its conditions and thus should not show up during bloodlust.  However, Time Warp doesn't seem to be considered as bloodlust even though it should be and is causing owlweaving recommendations to incorrectly show up during bloodlust.

Not sure about the other forms of bloodlust.

**PUT SNAPSHOT LINK HERE:** https://pastebin.com

[2021-01-21 10:50] Hekili commented on #858
Execution Sentence is listed as not usable. Can you post a screenshot of your /hekili > Abilities > Execution Sentence settings?

[2021-01-21 10:55] Hekili commented on #857
It does look that way. Will revise.

[2021-01-21 11:53] ronniebex commented on #857
thanks @Hekili @thomas-henley  ,

I was very happy to see a revision can be done. thanks for the effort .
@thomas-henley i still miss the arcane mage  :-) but yeah m+ this is almost not posible .

have a nice day !

[2021-01-21 12:14] Zriel88 opened #860 "Monk Windwalker, Spinning Crane Kick 4 secs wait before using suggested"
**BEFORE SUBMITTING AN ISSUE:**

 Using stable, let me know if you want me to use alpha release.

**Describe the Bug/Issue**
Using the AOE priorities of WindWalker monk, sometimes the addon asks to wait before using the SPK, for about 4 seconds.

**To Reproduce**
Steps to reproduce the behavior:
- Fight 3 or more dummys. Use RSK + FOF + WDP, continue the rotation. At some point addon will start to

[2021-01-21 14:25] Hekili commented on #860
Thanks for the description and snapshot.  Here are the relevant lines for this Spinning Crane Kick recommendation:

Here are the relevant conditions for Spinning Crane Kick in aoe - 7, which is the SCK entry that was recommended.

![image](https://user-images.githubusercontent.com/9438134/105363396-f8767900-5bc9-11eb-9781-aa2a333c4b6b.png)

The first requirement is that SCK won't break Combo Strik

[2021-01-21 14:36] #857 closed, assigned to Hekili

[2021-01-21 14:44] Zriel88 commented on #860
You are correct, seems the SIMC APL does the same. Which I don't get XD
https://www.raidbots.com/simbot/report/tCG72r6wErmxGej417qFh9

![image](https://user-images.githubusercontent.com/8926895/105366284-730dbb80-5bff-11eb-9442-ed981c2b8aed.png)

If you want, I can ask for this on the Peak of Serenity discord.

[2021-01-21 14:50] Hekili commented on #860
They may or may not make revisions themselves.  But yeah, I did my own simming:

![image](https://user-images.githubusercontent.com/9438134/105366496-683a3300-5bcd-11eb-9475-9978089e2028.png)

Here's an example where I've made a couple of tweaks, that quickly shows a DPS increase on a few targets:

https://www.raidbots.com/simbot/report/gg6ZPTgo8AsPMmgm6VkdMv

[2021-01-21 20:42] Hekili commented on #859
This should be resolved in the new beta.

[2021-01-21 20:42] #859 closed, assigned to Hekili

[2021-01-22 01:22] Hekili commented on #854
I've tweaked the GCD synchronization logic in the latest beta; SotR should be delayed less often.

[2021-01-22 01:22] #854 closed, assigned to Hekili

[2021-01-22 01:35] Hekili commented on #860
I'm putting my own changes to address this in the next release, but I'll watch for simc changes as well.

[2021-01-22 01:35] #860 closed, assigned to Hekili

[2021-01-22 02:32] lloydBl commented on #858
See attached.  I'm not sure how to fully read your snapshot format (so this may be unhelpful), but this snapshot was taken when holy power was at zero (so Execution Sentence would have been not usable).  Below is an additional snapshot taken immediately after casting Final Reckoning when I had 3 holy power. This is where I would typically expect Execution Sentence to be recommended.  The previous

[2021-01-22 02:39] lloydBl commented on #858
I don't want to speculate too much on your Execution Sentence conditions given I do not know where the conditions come from, but removing the "spell_targets.divine_storm <= 3" from the default

spell_targets.divine_storm <= 3 & ( ( ! talent.crusade.enabled | buff.crusade.down & cooldown.crusade.remains > 10 ) | buff.crusade.stack >= 3 | cooldown.avenging_wrath.remains > 10 | debuff.final_reckoning

[2021-01-22 02:43] Hekili commented on #858
Yeah, that check is already gone in the beta branch with the latest profile updates.  You should try the latest beta and see if you find issues.

[2021-01-22 06:05] vcorruptc opened #863 "[UH-DK] Outbreak Not Suggested When Virulent Plague Drops Off"
Please describe your idea or feature and when it would be useful.
I've noticed that outbreak does not come up on rotation when virulent plague drops off.  I've always thought that you are supposed to keep up virulent plague no matter what.

[2021-01-22 07:12] lloydBl commented on #858
Yep new updated action lists in the beta build work as expected and don't cause this issue.  Thanks for the update

[2021-01-22 07:12] #858 closed, assigned to Hekili

[2021-01-22 10:22] ijoihlhnn commented on #863
Ur Wrong. Every Unholy Guide tells you when to use Virulent Plague and it's always never if you have the Unholy Blight Talent.

[2021-01-22 11:23] Zriel88 commented on #860
Scurch is going to take a look into this
yeah I was going to say to you that I wouldn't care if you were going to wait for SIMC APL to be updated, as I understand is less work just copying their APLs wihtout needing to track your own changes.
Whatever you prefer is good for me.

[2021-01-22 12:34] Hekili commented on #858
Thanks for confirming!  Sorry for the time it took!

[2021-01-22 12:36] Hekili commented on #863
In either case, this report is a disagreement re: current priority/recommendations.  The following information would be required:

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report he

[2021-01-22 12:55] Hekili commented on #860
You're welcome to share any of the tweaks that I tried with him.

3 Target Kyrian, rev 2:
https://www.raidbots.com/simbot/report/qbjNkK447cR9iCeyThUWfG

4 Target Night Fae, rev 2:
https://www.raidbots.com/simbot/report/m5ffChqdFDr36K3EsKNigX

2 Target Night Fae:
https://www.raidbots.com/simbot/report/kPZFpEMXQuKLo3uo6aRdL3
(This one shows a DPS loss with the Calculated Strikes logic ported directl

[2021-01-22 12:59] Hekili commented on #860
(Another quick test for the 2 target scenario:  Either checking for combo_strike or checking for Energy cap ends up being a minor DPS gain.  Checking for both is still a DPS loss.)

https://www.raidbots.com/simbot/report/q6KUHRWeNB3Qcs33UWDNNg

https://www.raidbots.com/simbot/report/q6KUHRWeNB3Qcs33UWDNNg

https://www.raidbots.com/simbot/report/2SHi8JSAAiN2oVXWxkVqPt

[2021-01-22 16:14] vcorruptc commented on #863
Oh Shoot, you're absolutely right.  Thanks for pointing this out,  I was reading too quickly and looked over the part regarding unholy blight

[2021-01-23 00:58] trustthejust opened #865 "Feral Druid wont show primal wrath"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.
My Hekili

[2021-01-23 01:10] Hekili commented on #865
You will have to supply the snapshot per the instructions above.

[2021-01-23 01:16] trustthejust commented on #865
[](url)

[2021-01-23 01:16] #865 closed, assigned to Hekili

[2021-01-23 10:40] shredxt opened #866 "Shadow Priest APL outdated"
Due to a recent bug fix relating to Shadow Priest mastery, the rotation has been altered slightly to cast Mind Blast before Void Form. In addition to this, there have been some covenant adjustments such as delaying PI for Fae Guardians and other Kyrian related fixes.

See latest commits: https://github.com/WarcraftPriests/sl-shadow-priest/commits/master/apl/default_apl.simc

If there's anything I

[2021-01-23 10:47] #866 closed, assigned to Hekili

[2021-01-23 10:47] shredxt commented on #866
I should have checked the Hekili commits first.... _doh_

[2021-01-23 11:13] Dragonfo opened #867 "[UH-DK] Epidemic in AOE works incorrectly."
**BEFORE SUBMITTING AN ISSUE:**

1.  v9.0.2-1.0.36-beta9

2. I opened it earlier. But I decided to try your addon again.

**Describe the Bug/Issue**

As soon as new targets are added to the main battle, the addon recommends using the epidemic without an outbreak. And he had to offer to update the outbreak on the main target, and outweigh the new targets on a number. This is how it should work.

**

[2021-01-23 13:24] Hekili commented on #867
Please provide a Raidbots sim of your character (Hectic Add Cleave) for comparison purposes.

[2021-01-23 14:01] p4nchez commented on #648
is there a way for me to fix this ?
its the same it suggest me tar trap and right in the moment i press tar trap flare disapears in the recommendation list

it happens even if i throw trap on targets and they proc or not
testet on dummys and in dungoen it only show flare as second if tar trap the first but after pressing trap flare is gone and get not even on first icon postion

http://wanna.see.m

[2021-01-23 14:12] Hekili commented on #648
I'm looking into options for this.  When looking into the future, the addon models you casting Tar Trap and then assumes your target(s) will trigger the trap and get the debuff.

After you actually cast Tar Trap, if it pops under an enemy that isn't affected by snares, the addon can't see anything re: whether your target is actually standing in the trap or not.

You can test with the latest beta a

[2021-01-23 14:14] Hekili commented on #867
Also, please provide a snapshot from *when the behavior you describe is actually occurring*.  Per the instructions:

`When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.`

In this case, you'd press Pause (ALT-SHIFT-P) or Snapshot (ALT-SHIFT-[) when Epidemic is recommended but you would've preferred to Outbreak first.

[2021-01-24 07:04] lloydBl opened #868 "Beta Retribution Priority Not Suggesting Spenders (at max Holy Power) when Execution Sentence and Final Reckoning Desynchronize"
**Describe the Bug/Issue**
Sorry for the barrage of issue reports from  me, I really do appreciate your add on and your continued work on it.

This issue has to do with the new retribution priority list in the beta build.  When using Execution Sentence and Final Reckoning talents, if Execution Sentence put on cool-down (used) before Final Reckoning is used*, the default priority list recommends on

[2021-01-24 14:38] Hekili commented on #868
Your analysis here is pretty solid, except the "stuck on builders only" part.  It's not that it's stuck on builders, it's that finishers end up ruled out because of how ExS, FR (and Seraphim) all relate.

In your ST snapshot, Seraphim wasn't recommended because it's timed to line up with Execution Sentence and you'd hit ExS first.  TV wasn't recommended because FR wasn't on CD.  FR wasn't recommen

[2021-01-25 00:47] Seahaze350 opened #869 "Feral Druid Errors"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-01-25 02:25] Hekili commented on #869
WHEN SUBMITTING AN ISSUE:

Please provide the following information.  Leaving it out may result in your ticket being ignored (because I won't have the information needed to explore your report).

1.  The information from the Issue Reporting tab ( /hekili > Issue Reporting ).  This provides your talent and gear information.  You can paste it to pastebin.com and provide a link here.

PUT ISSUE REPOR

[2021-01-25 03:13] Hekili commented on #868
These changes are in the latest release; please let me know if you still have the issue with the 1.0.36 release.

[2021-01-25 03:13] #868 closed, assigned to Hekili

[2021-01-25 03:33] Hekili commented on #869
@Seahaze350 Could you provide the missing information, please?

[2021-01-25 03:41] Hekili commented on #869
I'm posting a test fix which is literally just a reimport of the Feral priority.  I won't be able to replicate this issue without knowing more about your situation.

[2021-01-25 03:51] #867 closed, assigned to Hekili

[2021-01-25 03:51] #863 closed, assigned to Hekili

[2021-01-25 04:03] sfogarty opened #871 "Show "Spell is Queued" Glow"
It would be helpful if Hekili replicated the "spell is queued" glow that occurs on the action button itself.
* For clarity, this is the WoW spell queue, that determines what spell will be cast when the next GCD is up.
* Perhaps set by separate checkboxes in the 'Glow' tab.
* If a spell that is not in the Hekili queue is next in the WoW spell queue, it could be put at the front of the Hekili queue

[2021-01-25 13:15] Hekili commented on #869
Reopening in case someone has details to provide. Make sure you're using the latest release.

[2021-01-25 15:04] IIeTpoc opened #872 "Cold Blood (rogue pvp talent) update"
Hi! As for shadowlands Cold Blood neither starts combat nor is on GCD. That is why I suggest to substitute

 cold_blood = {
            id = 213981,
            cast = 0,
            cooldown = 60,
            gcd = "spell",

            pvptalent = "cold_blood",

            startsCombat = true,
            texture = 135988,

With

 cold_blood = {
            id = 213981,
            cast = 0,

[2021-01-25 15:13] Hekili commented on #872
Thanks, I'll update it.

[2021-01-25 15:13] #872 closed, assigned to Hekili

[2021-01-25 15:50] Hekili commented on #869
Okay, I believe you may have been using an imported priority from elsewhere.  This should be resolved, but I'd check for an updated priority from your source(s) just to be sure.

[2021-01-25 15:50] #869 closed, assigned to Hekili

[2021-01-25 17:08] Hekili commented on #871
Thanks for the ticket.

It looks like this *could be* pretty straightforward via the `IsCurrentSpell` API call, but I wonder about scenarios where you press the same button repeatedly (Shred, Shred, Shred).  I could potentially support this in the primary icon for instants, but dealing with hardcast spells might be a challenge.

[2021-01-25 20:20] Seahaze350 commented on #869
Just tested seems like its fixed :)

[2021-01-25 20:31] Hekili commented on #869
Thanks for confirming.

[2021-01-25 21:13] Vsmit opened #873 "Frost DK recommendations only shows Chains of Ice"
Version 9.0.2-1.0.36b

**Describe the Bug/Issue**
Problem with Frost Death Knight recommendations, display only shows Chains of Ice after Pillar of Frost goes on CD. Does not occur in v 1.0.35, reverted from new version to test. Does not occur on Azeroth, only in Shadowlands.

**To Reproduce**
Enter combat, cast PoF, follow recommendations.
 
**PUT SNAPSHOT LINK HERE:**

https://pastebin.com/eh44L

[2021-01-26 02:13] Hekili commented on #873
This is addressed in 1.0.37, though I'm not entirely clear on why it didn't happen in 1.0.35.  But I just removed the "last-second Chains of Ice as the fight ends" entry because it really doesn't provide a meaningful benefit anyway.

[2021-01-26 02:13] #873 closed, assigned to Hekili

[2021-01-26 15:25] Primordiarch opened #874 "Mind Blast is not shown on priority."
I'm lv.15 SP and Hekili doesn't tell me when to cast Mind Blast. What do I do?

[2021-01-26 15:26] Hekili commented on #874
The addon warns low-level characters that they aren't supported.

[2021-01-26 15:26] #874 closed, assigned to Hekili

[2021-01-27 02:30] dariogentiletti opened #875 "Pistol Shot not suggested during Opportunity procs with talent Ghostly Strike"
**Describe the Bug/Issue**
As outlaw rogue, when having the talent Ghostly Strike and get Opportunity procs, Hekili does not suggest to use Pistol Shot but only Sinister Strike. There is no reason to not use PS when is free and use SS instead.

**To Reproduce**
Steps to reproduce the behavior:
- Get talent "Ghostly Strike"
- Go to a dummy and hit until you get Opportunity Procs
- After casted the

[2021-01-27 02:45] Hekili commented on #875
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

[2021-01-27 03:03] Hekili commented on #875
You're a few versions behind, that includes an Outlaw update.  Let me know if you have an issue after you've updated.

[2021-01-27 03:03] #875 closed, assigned to Hekili

[2021-01-27 04:48] dariogentiletti commented on #875
Just downloaded the latest release and tested on a dummy. There is still the same issue.
Here a screenshot where it suggests me SS when it should be PS:

![Screenshot from 2021-01-26 23-48-25](https://user-images.githubusercontent.com/40705549/105944291-05afbf80-6031-11eb-8a0f-b8f61a7ca2f2.png)

[2021-01-27 07:49] dariogentiletti commented on #875
I believe it is possible it suggested SS instead of PS because I had capped energy. I'll try again to see if it suggests even below <70 energy.

[2021-01-27 13:05] Hekili commented on #875
Sure.  But also, include snapshots, not screenshots.

Yes, at least some of the Oppo logic involves using it when your Energy is low enough that the regen during the GCD isn't wasted.

[2021-01-28 04:40] ShmooDude opened #877 "Healthstone toggle bugged."
**Describe the Bug/Issue**
Healthstone (the item), can't be properly added to the defensive toggles.  In the priority, after doing the steps in the "To Reproduce" below, Healthstone will now show up in both Defensives and Primary if added to the action list despite having Defensives set as show separately.

**To Reproduce**
Steps to reproduce the behavior:
- Go to 'Feral' (or probably whatever you

[2021-01-28 18:15] Olanid57 opened #878 "Balance druid double on-use trinket problem"
Hello,

I'm a boomkin playing with double-use trinket (empyrean ordonance).
The main reason is to use it 20second before poppin CDs to have intelligence buff sur CA/Convoke/other trinket.
Unfortunately for me it recommends to use it just before CDs and the other trinket 20 seconds later.

**Screenshots**

![Capture](https://user-images.githubusercontent.com/59389933/106180754-06656480-619d-11eb-8c

[2021-01-28 18:17] Hekili commented on #878
Please follow the ticket instructions when submitting a ticket.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue

[2021-01-28 18:22] Hekili commented on #877
Healthstone falls within the Gear and Trinkets category rather than as a regular ability, though the phrasing here is kind of misleading.  As noted on the Feral > Toggles screen, Gear and Trinkets are adjusted in a different screen.

![image](https://user-images.githubusercontent.com/9438134/106181474-a30f0e80-616b-11eb-95ed-4ad0b33929d5.png)

The reason for this is just that there are a lot of tr

[2021-01-28 18:55] Olanid57 commented on #878
sorry, i thought it was enough. I edited. 5sorry for my english)

[2021-01-28 20:46] ShmooDude commented on #877
So doing the steps under **To Reproduce** actually does properly set the Healthstone toggle to Defensives.  It just doesn't add it to the list abilities list because as you pointed out it falls under Gear and Trinkets.

There is still the issue that it shows up now in both the "Defensives" and "Primary" display, so its not being properly removed from the "Primary" display.

![Healthstone](https://

[2021-01-28 21:36] Hekili commented on #877
Yeah, the reason is that Gear and Trinket existed as a category (separating out items in general since it's a long list) before Healthstones were added.

I can definitely look at why it's not successfully filtered from Primary.  Should be simple to fix.

[2021-01-28 21:58] Hekili commented on #878
There's no problem with your English, just needed the additional required information.

You're correct about wanting to use Empyrean well in advance so you have the buffs when you go into CDs.  The way it's written into the Balance profile is a bit complicated and I haven't cleaned it up yet.  It's on my radar, though.

[2021-01-28 23:00] DeezIssues opened #879 "[Request] Prot Paladins & Exclude Out-of-Range"
Shield of the Righteous is currently suggested even when you are out of melee range of any enemies.

Consecration is also suggested when there is nothing in range of the AoE effect.

https://www.wowhead.com/spell=53600/shield-of-the-righteous
https://www.wowhead.com/spell=26573/consecration

Would you be willing to add these abilities to the list for excluding when out of range?

My reason for ask

[2021-01-29 03:59] Olanid57 commented on #878
Ok so if i understood right, this is not a "bug". It's a work-in-progress ?

Thanks for your job.

[2021-01-29 08:13] KhalDrogo1988 opened #880 "Warlock Demo - Never use Demonic Tyrant"
Hi,
I noticed that ratation never show demonic tyrant not in AoE and Single.

[2021-01-29 10:12] weedgazm322 opened #881 "Freezing and lagging when using spells at the mage"
On other classes, everything is fine, but when I switch to a mage and use spells, the game starts to freeze and lag, only when using spells, when mobs attack me, it also starts to freeze. This problem is only on fire magician. https://www.youtube.com/watch?v=BOvAxmrkWiM

[2021-01-29 13:01] Hekili commented on #880
Please submit complete and proper tickets following the instructions.

[2021-01-29 13:01] #880 closed, assigned to Hekili

[2021-01-29 13:02] Hekili commented on #881
Fire Mage is a complex priority and requires more work.  You can show fewer icons or look at your /hekili > Fire > Performance options.  Or don't use it.

Please submit full and proper tickets when submitting a report.

[2021-01-29 13:02] #881 closed, assigned to Hekili

[2021-01-30 21:03] Woodzy13 opened #882 "Having a serious issue with FPS drops while using this add-on for certain classes."
Whilst playing classes like DK / Mage and Boomie i am having serious FPS problems whilst in combat. My main which is a warrior has no issues with this at all but atm playing my Unholy DK this has been a major issue.

Character data below;

build: v9.0.2-1.0.38
level: 60 (60)
class: DEATHKNIGHT
spec: unholy

talents: all_will_serve
    army_of_the_damned
    asphyxiate
    soul_reaper
    spell_eat

[2021-01-30 21:10] Hekili commented on #882
Your options for managing performance are in /hek > *spec* > Performance.

Beyond that, I'm always looking for opportunities to improve efficiency but nothing I can offer you.

Longer, more complex priorities require more calculation time.

More displayed icons require more calculation time.

When submitting a ticket for any particular spec you're concerned with, please provide a snapshot taken at

[2021-01-30 21:10] #882 closed, assigned to Hekili

[2021-01-31 17:21] dMopp commented on #238
Please please :). Custom Texture would be perfect

[2021-02-01 20:15] IIeTpoc opened #887 "Cheap Shot and Kidney Shot fix for Sub Rogues"
I was searching through the code at Sub Rogue profile and noticed if I am right some outdated info. There is nothing wrong in the snapshots i believe because these abbilities are never suggested. I just want to share my thoughts as I think it is still a bug.

I believe that Cheap Shot has some outdated combopoint gain info in sub rogue profile. Now it is at the line 735 like this

` gain( 2 + ( bu

[2021-02-01 23:24] Hekili commented on #238
It's still an okay idea, just not at the top of my priority list.

[2021-02-03 05:05] cheelerocheeler opened #888 "[Request] - Stoneform (Dwarven Racial)"
Hi,

Unless I'm mistaken, stoneform doesn't appear to be an option from which I can choose. Would like to add this racial ability to my Prot Pally mitigation rotation upon certain conditions. Thank you for any consideration/direction!

[2021-02-03 11:14] sanyex89 opened #889 "Pyroblast Hardcasts with Searing Touch Talent - Bosses: <30% HP"
**Describe the Bug/Issue**
Hekili sometimes suggests to hardcast pyroblast with the searing touch talent -

if the boss is under 30% hp the addon sometimes suggest: Scorch -> generates heating up -> needs another crit to instant cast pyro -> instead suggests hardcasting pyroblast

Shouldnt it be Scorch->Fire Blast/PF/another Scorch -> Pyro ?

**WHEN SUBMITTING AN ISSUE:**

1.  The information from

[2021-02-03 13:23] Hekili commented on #889
It's better not to delete the full ticket instructions, so that you are more likely to submit everything that is required.

The snapshot you provided is casting Fireball, which is not the scenario you described.  Make sure to provide a snapshot when the addon is requesting the hardcast of Pyroblast that you described.

[2021-02-03 13:24] Hekili commented on #888
Sure, not a high priority issue but I can add it.

[2021-02-03 13:29] sanyex89 commented on #889
https://pastebin.com/7PmPTN1W this was the other snapshot i created with a recommended pyroblast

[2021-02-03 13:49] Hekili commented on #889
That snapshot shows that you have Hot Streak active.

[2021-02-03 13:59] sanyex89 commented on #889
sorry i am new to this kind of stuff - this should be the right snapshot - it went like this 2 times in a row -> scorch - pyroblast hardcast - scorch - pyroblast hardcast https://pastebin.com/vVFF5bsF - here is a screenshot - instead of waiting for Fire Blast or using another Scorch it suggested hardcasting pyro
![grafik](https://user-images.githubusercontent.com/77323774/106757729-00ee9b00-6631-1

[2021-02-03 21:56] papajuras opened #890 "Balance rotation is wrong after importing APL from raidbots"
This might be a bug or it might be a question, that depends on you Mr. Hekili.

**Describe the Bug/Issue**
After simming my character (balance) on raidbots I imported APL into the addon. Having my toggle on single target hekili gets 'stuck', it just spams sunfire for around 10 seconds (target has sunfire, no moonfire though). This is not what i can see in example rotation on raidbots neither what

[2021-02-03 22:17] Hekili commented on #890
There's no reason for you to import the APL from Raidbots.  You only lose the adjustments I've made to have it work in-game.

[2021-02-03 22:17] #890 closed, assigned to Hekili

[2021-02-03 22:54] sanyex89 commented on #889
So its only happening IF the boss is under 30% and i dont have any Fire Blasts left - wouldnt it be better to use scorch 2 times instead of scorch + pyro?

[2021-02-03 22:57] Hekili commented on #889
Of course.  But I needed you to provide the information to explore what is happening.

The next beta build will have some changes to how "buff.heating_up.react" and similar auras are handled, which may resolve this issue.

[2021-02-03 23:01] sanyex89 commented on #889
mh okay thanks for your help, i really enjoy your addon with every class and spec i am currently playing :) could there be an option to just get the rotation "while running" with the searing touch talent and the target under 30% hp? i mean i just tried running around and it was basicly the perfect rotation

[2021-02-04 16:35] ShmooDude opened #891 "[Feral] pool_resource issues"
**Describe the Bug/Issue**
`pool_resource,for_next=1` isn't functioning correctly.  Abilities are not stopping the action list when the only thing they are waiting on is resources.

**To Reproduce**
This is most noticeable during Feral's Berserk because the action list should be using Shred at <4 CPs but is instead dropping down to the `bloodtalons` action list.  Usually trying to cast either Rake

[2021-02-04 17:08] Hekili commented on #891
I'll revisit it, but have you noticed that all the `pool_resource` logic rarely produces a DPS benefit in sims?

https://www.raidbots.com/simbot/report/26QofNw3tRZcZJJqrwBhyP

![image](https://user-images.githubusercontent.com/9438134/106928862-a95c3800-66e1-11eb-8448-229bfcc804f8.png)

[2021-02-05 01:44] Unethical-Sloth opened #893 "Glyph of assimilation"
Hello,

I am having a hard time adding glyph of assimilation to my rotation. It does not show up by default and is not disabled in the list of gear/trinkets.

build: v9.0.2-1.0.38
level: 60 (60)
class: SHAMAN
spec: elemental

talents: echo_of_the_elements
    elemental_blast
    master_of_the_elements
    natures_guardian
    primal_elementalist
    spirit_wolf
    stormkeeper

pvptalents: none

c

[2021-02-05 01:44] ShmooDude commented on #891
Because most of the time, you're right, the `pool_resource` logic doesn't actually increase dps (for feral, I can't say for other classes).  It doesn't really matter if you use Brutal Slash before a Rake refresh or after.  It does often confer a computational speed increase (in simcraft) by stopping the action list at that point and not having to run the calculations on any subsequent actions.  Wh

[2021-02-05 02:03] Hekili commented on #891
It tends to be true for Rogues as well, but I haven't retested it throughout.  I wasn't really pointing that as resistance to reimplementing `pool_resource`, just noting its lack of value.  That higher top-end without pooling is pretty attractive here for Feral.

Likely a wash, in the addon.  The effect in the addon is more like having an extra, invisible queued action.  The addon would decide on

[2021-02-05 02:06] Hekili commented on #893
I have it and it works for me.  If you provide all the required ticket information about your character, I may be able to figure out the issue in your specific case.

[2021-02-05 02:13] Unethical-Sloth commented on #893
I just updated it,

Also, can I program it to remind me to use a potion during BL?

thank you

[2021-02-05 02:17] Hekili commented on #893
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2021-02-05 02:18] Hekili commented on #893
(And you'll likely want to toggle CDs on before you take the snapshot, since trinkets are generally on the Cooldowns toggle.)

[2021-02-05 02:55] Unethical-Sloth commented on #893
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.38
level: 60 (60)
class: SHAMAN
spec: elemental

talents: echo_of_the_elements
    elemental_blast
    master_of_the_elements
    natures_guardian
    primal_elementalist
    spirit_wolf
    stormkeeper

pvptalents: none

covenant: kyrian

conduits: call_of_flame = 5
   elysian_dirge = 5
   refreshing_waters = 6
   thunde

[2021-02-05 03:50] Hekili commented on #893
That is not the default priority; you are missing an entry for "Use Items" between potion and fire_elemental in your default action list.

[2021-02-05 08:51] sanyex89 commented on #889
same issue with beta 3

https://pastebin.com/VHwWvuqf

another

https://pastebin.com/NeNep1c1

[2021-02-06 05:30] brucek2 opened #894 "Frost Mage suggestions fall through to blink/shimmer"
Prep:
. Hekili is current as of submission
. No similar open or closed issue found

Summary:
My frost mage often sees the 3 suggestions as:
(ICE LANCE) (SHIMMER) (SHIMMER)

When I suspect they should be
(ICE LANCE) (ICE LANCE) (ICE LANCE)  # Other combinations for #2 and #3 possible.

To Reproduce:
Engage a target dummy. After using cooldowns and gaining procs, you will quickly see the issue descr

[2021-02-06 12:44] endisnear1010 opened #895 "Vanish + Master Assassin + Killing spree. Outlaw rogue."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-02-06 12:44] #895 closed, assigned to Hekili

[2021-02-06 12:45] endisnear1010 commented on #895
sorry missclick, delete this please will do the real thing in a minute

[2021-02-06 12:55] endisnear1010 opened #896 "Vanish + Master Assassin + Killing Spree"
**BEFORE SUBMITTING AN ISSUE:**

1. I am using the latest version of hekili

So apparently there was an issue with simming Killing Spree with master assassin putting it below bladerush, with this fixed killing spree is the way to go in m+ now when used properly with master assassin hence vanish. Hekili wants to use Killing Spree when vanish has 2 seconds cooldown left, and also sometimes wants to

[2021-02-07 02:30] brugrabud-wow opened #897 "Buff not recognized - Balespider's Burning Core - Warlock"
This buff doesn't seem to be recognized by Hekili

https://www.wowhead.com/spell=337159/balespiders-burning-core

Adding the buff to be a condition .up to cast demonbolt, it does not accurately detect the buff is active.

When I try it as a buff .remains ,, it breaks the queued spells, and they no longer display after a few spellcasts

[2021-02-07 11:38] MrSmurfy opened #898 "Affliction Warlock AOE recommendation"
**Describe the Bug/Issue**
I play affliction warlock using Hekili with fixed dual display enabled.
Whilst idle and not in combat the AOE display recommends using Seed of Corruption twice in a row.
Any idea if that is intentional?

**Expected behavior**
A single cast of Seed of Corruption being recommended.

**Screenshots**
https://i.imgur.com/Wm4Ukh1.png

Issue Report:
https://pastebin.com/YGqbPcy

[2021-02-07 17:06] nzall opened #899 "Unholy casts Sacrificial Pact while Dark Transformation is active"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When I'm Unholy and cast Dark Transformation, a couple seconds

[2021-02-07 17:41] ghost opened #900 "Sacrificial Pact recommended with a Control Undead pet"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Hekili is suggesting to use Sacrificial Pact when i used Contr

[2021-02-07 19:52] Hekili commented on #900
Well, a lot happened in the formatting of your post there.

The snapshot information would be useful here; it wouldn't need to specifically be in Theater of Pain, but a snapshot taken when you have any controlled undead pet and Sacrificial Pact is recommended would provide me some useful information.

[2021-02-07 19:55] Hekili commented on #899
No, the issue is that the Sacrificial Pact recommendation is recommended based on the fight being almost over (so it doesn't care that nuking your pet as Unholy is just a bad plan outside of a boss encounter).

I'll make adjustments.

[2021-02-07 19:57] Hekili commented on #898
The issue here is just that Seed of Corruption has a travel time, so the "precombat" list logic still passes when you initiate a fight.

[code]

Once Seed actually hits the enemy and combat starts, the second recommendation would go away.  But it is misleading.  I'll adjust it.

[2021-02-07 19:58] Hekili commented on #897
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-02-07 19:59] Hekili commented on #894
Yeah, that looks like the issue.  It's the only spell you'd really be able to cast between GCDs.  I'll adjust it.

[2021-02-07 19:59] #893 closed, assigned to Hekili

[2021-02-07 20:19] nzall commented on #899
I'm not even sure how important it is to make that adjustment. The current APL for Unholy from Simcraft does not use Sacrificial pact, not even at the end of the fight, so by the time you make a new release to include this bug and also update the APLs, this bug is probably going to be moot.

[2021-02-07 20:31] Hekili commented on #899
Of course it does.  Where did you think the entry came from?

https://github.com/simulationcraft/simc/blob/shadowlands/profiles/Tier26/T26_Death_Knight_Unholy.simc#L98

![image](https://user-images.githubusercontent.com/9438134/107158611-52f92e80-6959-11eb-842c-015eb76f8e1b.png)

As I noted, it doesn't really function really well outside the context of a simmed boss fight, because of the downsides

[2021-02-07 21:01] brugrabud-wow commented on #897
build: v9.0.2-1.0.39-beta3
level: 60 (60)
class: WARLOCK
spec: demonology

talents: burning_rush
    dreadlash
    from_the_shadows
    mortal_coil
    power_siphon
    sacrificed_souls
    soul_conduit

pvptalents: none

covenant: necrolord

conduits: borne_of_blood = 4
   carnivorous_stalkers = 4
   diabolic_bloodstone = 5
   fel_celerity = 6

soulbinds: [bonesmith_heirmir]
   forgeborne_reverie

[2021-02-07 21:04] Hekili commented on #897
Thanks.  Can you also take a snapshot when you have the buff?

[2021-02-07 21:16] brugrabud-wow commented on #897
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.39-beta3
level: 60 (60)
class: WARLOCK
spec: demonology

talents: burning_rush
    dreadlash
    from_the_shadows
    mortal_coil
    power_siphon
    sacrificed_souls
    soul_conduit

pvptalents: none

covenant: necrolord

conduits: borne_of_blood = 4
   carnivorous_stalkers = 4
   diabolic_bloodstone = 5
   fel_celerit

[2021-02-07 21:20] brugrabud-wow commented on #897
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.39-beta3
level: 60 (60)
class: WARLOCK
spec: demonology

talents: burning_rush
    dreadlash
    from_the_shadows
    mortal_coil
    power_siphon
    sacrificed_souls
    soul_conduit

pvptalents: none

covenant: necrolord

conduits: borne_of_blood = 4
   carnivorous_stalkers = 4
   diabolic_bloodstone = 5
   fel_celerit

[2021-02-07 21:21] nzall commented on #899
Sorry, I was dumb and looking at T25 APLs, not T26.

[2021-02-07 22:42] Hekili commented on #897
Thanks.  I'll be able to address this using the snapshot you provided.

[2021-02-08 16:22] ghost commented on #900
https://pastebin.com/6pamEThw
This is it, i hope thats what you asked for, it's first time we did a snapshot.

[2021-02-08 17:28] desuplan opened #901 "Enhance Ascendance"
Ascendance behaves as it is off the GCD and causes skill flickering and incorrect skill rotation suggestion for night fae . I manually changed this in enhance class file to spell and it now behaves as intended. Thought I’d drop this in issues so it can be noted and work in the night fae rotation correctly for others.

[2021-02-08 17:36] Hekili commented on #901
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-02-09 00:45] Hekili commented on #901
Fix incoming.

[2021-02-09 00:45] #901 closed, assigned to nobody

[2021-02-09 00:46] Hekili commented on #900
Fix incoming.

[2021-02-09 00:46] #900 closed, assigned to Hekili

[2021-02-09 00:48] Hekili commented on #897
Incoming fix.

[2021-02-09 00:48] #897 closed, assigned to nobody

[2021-02-09 00:49] Hekili commented on #899
Incoming fix.

[2021-02-09 00:49] #899 closed, assigned to Hekili

[2021-02-09 00:49] Hekili commented on #894
Incoming fix.

[2021-02-09 00:49] #894 closed, assigned to Hekili

[2021-02-09 00:52] Hekili commented on #898
Incoming fix.

[2021-02-09 00:52] #898 closed, assigned to Hekili

[2021-02-09 00:53] Hekili commented on #889
Incoming fix.

[2021-02-09 00:53] #889 closed, assigned to Hekili

[2021-02-09 23:32] Shamancement opened #902 "My Enhancement Shaman only shows Windfury Weapon"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.
It onlly s

[2021-02-09 23:48] Hekili commented on #902
Snapshot?

[2021-02-09 23:57] Shamancement commented on #902
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.39
level: 60 (60)
class: SHAMAN
spec: enhancement

talents: ascendance
    elemental_assault
    forceful_winds
    natures_guardian
    spirit_wolf
    stormflurry
    sundering

pvptalents: none

covenant: night_fae

conduits: crippling_hex = 6
   refreshing_waters = 6
   unruly_winds = 5
   vital_accretion = 6

soulbin

[2021-02-10 00:11] Hekili commented on #902
That's not the default priority.  I'm guessing you've imported from SimC.  There's no need to do that.  You'll want to revert to the built-in/default.

[2021-02-10 00:11] #902 closed, assigned to Hekili

[2021-02-10 00:24] Hekili commented on #896
This behavior is consistent with the sim.  I've done some additional sim testing and the opportunity cost of holding Killing Spree for Vanish seems to neutralize any gains from blending them together.

There are probably burst scenarios where you'd really want to carefully sync them up, but I'm not seeing that pan out in any of my test sims.  (I basically left all other conditions as-is and made i

[2021-02-10 00:24] #896 closed, assigned to Hekili

[2021-02-10 05:32] ArcticLatent opened #903 "Spellflash options"
Please describe your idea or feature and when it would be useful.
The default spellflash options are very hard to see and limited. Is it possible to draw custom shapes on the action bar icon like in maxdps?

Thanks.

[2021-02-10 10:15] sanyex89 commented on #889
https://pastebin.com/KcCXjwT9

its waaay better now, but still occurs sometimes

[2021-02-10 19:23] Firvenn opened #904 "Bar disappeared (mage class, newly made, no spec)"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
The bar disappeared for mage character - and any following cha

[2021-02-10 22:13] #904 closed, assigned to Hekili

[2021-02-13 09:44] Nazeth opened #905 "Lack of smoothie in Unholy Rotation"
I don't want tag it as a bug, because i still didn't look at rotation scripts and still im at 53 lvl, but after first hours i've see huge issues with smooth of rotation. After soo long time you should notice, that SimC scripts aren't very practical in use. They are good base, but not good final material to use it in that addon.

Soul Reaper jumping and dissapear from rotation. Technically it shoul

[2021-02-13 14:35] Industrial opened #906 "Keybinds do not show modifiers"
**Describe the Bug/Issue**
Keybinds do not show modifiers.

**To Reproduce**
Use Hekili with Bongos.

**Expected behavior**
Keybinds to show S for Shift, A for Alt and C for Control

**Screenshots**
![Screenshot](https://i.imgur.com/aEcoqlo.png)

**WHEN SUBMITTING AN ISSUE:**

Please provide the following information.  Leaving it out may result in your ticket being ignored (because I won't have th

[2021-02-13 15:31] Hekili commented on #905
Thanks. Please follow instructions when submitting tickets. Take care.

[2021-02-13 15:31] #905 closed, assigned to Hekili

[2021-02-13 15:33] Hekili commented on #906
If your bars and bindings are organized in a non-standard way, the assumptions made in the keybinding detection will be wrong.

You can manually set the bindings for each ability or you can reorganize your bars. I would recommend setting the bindings via /hek > Abilities, select the ability, Override Keybind Text.

[2021-02-13 15:33] #906 closed, assigned to Hekili

[2021-02-13 15:39] johngallo0892 opened #907 "Fury Warrior with Signet recommending Recklessness on pull"
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.39
level: 60 (60)
class: WARRIOR
spec: fury

talents: anger_management
    bladestorm
    cruelty
    massacre
    storm_bolt
    sudden_death
    warpaint

pvptalents: none

covenant: venthyr

conduits: ashen_juggernaut = 5
   inspiring_presence = 6
   safeguard = 5
   stalwart_guardian = 5

soulbinds: [nadjia_the_mistbl

[2021-02-13 15:48] Thordros opened #908 "#taco-dog-fanclub Discord channel"
_Please describe your idea or feature and when it would be useful._

Add a channel to Discord where you post pictures of the taco dog. She is a sweetie and we love her. You should make it a Patron only benefit and advertise it heavily.

[2021-02-13 16:13] Rebdull commented on #908
Please send dog.

[2021-02-13 17:24] MrSmurfy commented on #908
Dog or riot.

[2021-02-13 17:34] Thordros commented on #908
This is the content we are being denied.

![image](https://user-images.githubusercontent.com/22895308/107856672-eeb9ed00-6de6-11eb-860e-93be8f81f123.png)

[2021-02-13 17:39] Hekili commented on #908
Toofs.

[2021-02-13 17:40] Hekili commented on #907
Thanks, I overlooked an edit.  You can workaround this by going to /hekili > Priorities > Fury > Actions, precombat, entry 2 and unchecking Enabled.

[2021-02-13 19:04] Hekili commented on #907
Should be resolved in 1.0.40.

[2021-02-13 19:04] #907 closed, assigned to nobody

[2021-02-13 19:06] Hekili commented on #903
There is already an open ticket re: spellflash options; it's not a priority but it may be enhanced at some point down the road.

[2021-02-13 19:06] #903 closed, assigned to Hekili

[2021-02-13 19:06] Hekili commented on #888
This will be in the next beta or release (after 1.0.40).

[2021-02-13 19:06] #888 closed, assigned to nobody

[2021-02-13 19:08] Hekili commented on #878
I'd be interested in an update, in terms of whether this is resolved for you or not after 1.0.40.  (It might not be.)

[2021-02-13 19:25] Smudgiee opened #909 "Lua errors on Fire Mage"
Updated to the latest version of Hekili v9.0.2-1.0.40

Basically getting two lua errors that are spammed when playing Fire mage. Only seems to happen during combustion and lust. This was tested on a dummy. I dont know what else to say apart from this wasn't happening in previous updates only this latest one. I tried to read the error to understand it more to report more but no idea what it's sayin

[2021-02-13 19:27] Thordros commented on #908
Pleeeeeaaaaaseeee

![image](https://user-images.githubusercontent.com/22895308/107859467-d3ef7480-6df6-11eb-964c-db4503877a6c.png)

[2021-02-13 23:03] Olanid57 commented on #878
No, it's not.
Do you want a full report with all pastebin links again ?

[2021-02-13 23:09] Hekili commented on #878
Yes, current snapshots would help.  Thanks for responding so quickly.

[2021-02-13 23:23] Olanid57 commented on #878
https://pastebin.com/Zy42RW3r

You're welcome

[2021-02-14 03:58] Smudgiee commented on #878
This may not be helpful but for me it's working the way it should. Have you messed with any of the settings inside of Hekili Rotation?

[2021-02-14 22:50] Olanid57 commented on #878
I dont think so except "skins" stuff.

[2021-02-15 06:09] CosmicRider60 opened #910 "setting Toggles for each character"
Not sure if this is a bug , feature request or missing something in Hekili.

I play two different characters (boomkin and ww monk). For each character I want Toggles set to different values. I have yet to see a way to accomplish this

[2021-02-15 11:52] Nazeth opened #911 "Unholy DK - Apocalypse and Army of the Death"
Commonly Apocalypse and AotD is used everytime if its possibe, but often it's a waste of preparations and cooldown against trash that will die too fast to unleash potential. Instead of that we could use that Festering wounds to cast few scource strikes and kill them faster.

Suggestion:

- Optimize Apocalypse to avoid of use it, if mobs around will die soon. The same with Raise Abomination.
- AotD

[2021-02-15 12:33] Hekili commented on #911
This is what the "toggles" feature is for.  Use it to turn off your damage CD abilities when you don't want to use them.

[2021-02-15 12:33] #911 closed, assigned to Hekili

[2021-02-15 12:34] Hekili commented on #910
You can set up multiple profiles via /hekili > Profiles, that will give them their own toggles.

If you copy settings from your existing profile, the displays and other settings will come over from the original profile.

[2021-02-15 12:34] #910 closed, assigned to Hekili

[2021-02-15 16:36] Nazeth commented on #911
Apocalyple isn't a cooldown. Its a default Ability. Anyway SimC scripts aren't optimized and they will be build and reserve Festering Wounds for it even if will move it to "cooldown" group.

[2021-02-15 16:37] Nazeth commented on #911
Also i want for example use Raise Abomination normally, when AotD only on bosses, but i can't split that. You merged that two abilities together.

[2021-02-15 17:47] whoaisjustin commented on #911
Add it to the cooldowns toggle if you want it to be toggled on/off with your other cooldowns.

[2021-02-15 18:42] Hekili commented on #911
If you want different behavior, but don't have a sim-tested priority to prove an actual benefit, you're on your own in terms of building your own custom priority.

By default Apocalypse is on the Cooldowns toggle, unless you have Army of the Damned.  (Holding Apocalypse w/ AOTD talented is likely to waste a good amount of CDR.)  You can still manually put it on the Cooldowns toggle, as @whoaisjust

[2021-02-15 18:42] Nazeth commented on #911
But i want to use it. i just dont want to build Festering wounds and use Apocalypse on thrash that will die before i will cast Apocalypse. Its a waste of runes.

Imagine to cast 2 Festering Strikes on each trash, because scripts require it to build wounds for Apocaypse, but next 10 targets will die before you will cast Apocalypse. In that reason i wasted multiple festering wounds and runes.

I wan

[2021-02-15 18:47] Nazeth commented on #911
SimC rotation is build around perfect conditions, but real fight never is perferct for that scripts. Even by logic wasting 4 runes to cast 2 Festering Strikes for mob that will die before i will cast Apocalypse is a waste of 4 runes. Intead of that i could cast Festering Strike and 2-3 Scourge strikes to kill it faster and save my Apocalypse cooldown and runes.

[2021-02-15 18:51] Hekili commented on #911
You can absolutely make time-to-die and add-wave-duration based decisions in a SimC priority.  That is what you'll need to do, if you want to demonstrate this value and prove out your logic.

It's not that I'm disagreeing with you, but you have to do the work to *prove* your thinking, if you want something changed in the base addon.  And I don't generally write custom priorities for people otherwi

[2021-02-15 18:57] Nazeth commented on #911
Im mostly doing later my own rotation, because your addon is a good base for programist. Sadly SimC rotation isn't perfect. It isn't even good, because it does not take into account many circumstances, such as targets dying too quickly. SimC focuses mainly on fighting bosses that can be hit much longer.

Sometimes im scared, when i see hundreads of scripts in my rotation and it looks more like a b

[2021-02-15 18:58] Nazeth commented on #911
If I were to publish it, a discussion about closing this type of addons would surely arise.

[2021-02-15 18:59] Hekili commented on #911
That's cool, if you find yourself crossing the line into automation, go break the rules elsewhere.  Take care.

[2021-02-15 20:02] Nazeth opened #912 "That's cool, if you find yourself crossing the line into automation, go break the rules elsewhere. Take care."
That's cool, if you find yourself crossing the line into automation, go break the rules elsewhere.  Take care.

_Originally posted by @Hekili in https://github.com/Hekili/hekili/issues/911#issuecomment-779400684_

I mean that im not changing your addon to bot, but addon posibilities are so huge, that good programist can make a perfect rotation for any situation and any circumates. That mean pleyer

[2021-02-15 20:03] #912 closed

[2021-02-15 20:20] Industrial commented on #906
Thanks!

[2021-02-16 07:21] KOVIKO opened #913 "Hekili.DB.profile.packs[pack].warnings is nil on a brand new action list"
[Options.lua:5856](https://github.com/Hekili/hekili/blob/b42348aa9211864f32fed72f316c89dc67bedfe7/Options.lua#L5856) throws an error when creating a new priority list and attempting to navigate to the "Profile" tab. Replacing nil with an empty string seems to solve the issue.

[code]

[2021-02-16 14:26] LupeHD opened #914 "Fire mage - FPS drops when using Hekili as fire mage"
**1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.**

Yes, latest version

**2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.**
 I saw a LUA error bug report for fire mage, but don't know if it's the same. Excuse me if it

[2021-02-16 14:31] Hekili commented on #914
Fire is the most CPU intensive by far based on the class design and its priority.  If there's an opportunity to optimize it further, I'll do so, but there's not a specific error here.

[2021-02-16 14:31] #914 closed, assigned to Hekili

[2021-02-16 14:34] LupeHD commented on #914
Okay, thank you for your response.
Just thought I should report it, because a month ago it wasn't happening.

thanks for your time!

[2021-02-16 14:35] Hekili commented on #914
I'll do a recheck, sometimes there's new forking the priority that I can simplify, but I don't recall seeing anything new in that regard.

[2021-02-16 14:37] LupeHD commented on #914
Okay, thank you !

[2021-02-16 19:28] Hekili commented on #909
Resolved.

[2021-02-16 19:28] #909 closed, assigned to Hekili

[2021-02-17 07:10] Morshed11218 opened #915 "Duplicate spell id in PaladinRetribution.lua file is causing the_magistrates_judgment check to fail."
Hi,
In PaladinRetribution.lua file, you have two spells 'the_magistrates_judgment' & 'the_arbiters_judgment' with the same spell id (337682). Spell Id 337682 is correct for the_magistrates_judgment. Not certain about the other spell. This is causing the the_magistrates_judgment aura check to fail. Tested and verified on my end.

![image](https://user-images.githubusercontent.com/2136499/108167843-

[2021-02-17 14:29] mrgianlu opened #916 "Brewmaster not showing up as off-spec"
Hi.

I'm mostly used to use Hekili as Windwalker.

I recently started trying out the tank spec, and I'd like to have Hekili helping me out with the rotation.

However for some reasons, even though hekili works like a charm on WW spec, once I switch my spec to BM the addon:

1) recognise the spec (quick action menu shows the Brewmaster option to maximize the celestial brew shield)

2) but it just d

[2021-02-17 14:32] mrgianlu opened #917 "Windwalker Monk defensives"
Hi, in WW monk neither Fortifying Brew nor Fleshcraft (necrolord covenant) are shown even though the defensives are checked. Just a small suggestion for improvement.

[2021-02-17 14:48] Hekili commented on #916
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-02-17 15:01] Hekili commented on #917
Please refer to the FAQ.  Defensives are not built in by default for DPS specializations.  You can modify your own priority to include them by referencing the FAQ.

[2021-02-17 15:01] #917 closed, assigned to Hekili

[2021-02-17 16:05] mrgianlu commented on #916
updated the original post with pastebin link.

honestly I don't know what else could I add to better describe the issue.

[2021-02-17 16:06] Hekili commented on #916
All of the required info would be a fantastic start.  I'm not able to replicate your issue with a fresh profile.  Both Brewmaster and Windwalker are listed.

[2021-02-17 16:10] mrgianlu commented on #917
makes sense, thanks :)

[2021-02-17 16:11] Hekili commented on #915
Good catch, will resolve.

[2021-02-17 16:17] Hekili commented on #916
Looking at a fresh profile, in Brewmaster spec, open /hekili and check the following:

![image](https://user-images.githubusercontent.com/9438134/108232921-4327da00-7111-11eb-9751-42c6a7d69c51.png)

1. In Brewmaster, Core, Enabled is checked.
2. Under Priorities (left), Brewmaster is listed.
3. In Brewmaster, Core, for Priority, Brewmaster is selected.

If those are set and it's not showing anythi

[2021-02-17 17:16] mrgianlu commented on #916
trying out your steps

in the meanwhile this gif is what is happening, the boxes are there but not filled with info:
https://giphy.com/gifs/nLSe46xK9FkaNmZGqB/fullscreen

coming back in few minutes.

OK thanks, you can close this, CORE was unchecked.

Thanks for the support dude and sorry for taking your time with this noob question. I'm subscribing to your patreon right now :)

[2021-02-17 18:02] Hekili commented on #916
No worries.  Not sure how it would've come unchecked, but glad it's covered now.  Thanks for the support.  Take care!

[2021-02-17 18:02] #916 closed, assigned to Hekili

[2021-02-17 20:13] Cruup commented on #914
Hello!

Just wanted to report that I am experiencing the same issue as OP. Willing to provide any data you might need to sort it.

Keep up the good work!

[2021-02-18 02:48] iamkevindu opened #918 "[Outlaw Rogue] Do not suggest vanish unless Killing Spree is up"
Hello. Now that Master Assassin legendary + Killing Spree is becoming popular and meta, I would like to suggest to ask Hekili not to suggest Vanish unless Killing Spree is available. This is important because Vanish will grant Master Assassin buff and you would want to use ambush right out of vanish (for Count The Odd conduit) followed by KS and then a finisher. This is the way MA + KS should be p

[2021-02-18 04:38] nate8282 opened #919 "Recklessness shows in queue but is never recommended"
**Recklessness is no longer suggested on the first icon**
Not sure what I did. Recklessness shows on the second and the third icon as if it's in queue, but never actually shows on the first icon to the left.

**To Reproduce**
1. Enable CDs.
2. Attack a dummy using the recommended skills from the first icon.
3. Notice Recklessness shows in previous icons in queue, but never shows as the first icon.

[2021-02-18 05:10] nate8282 commented on #919
I just downgraded to version 9.0.2-1.0.33 and Recklessness is suggested and working again. I then updated to the current release 9.0.2-1.0.40a and it stopped working again.

[2021-02-18 05:24] nate8282 commented on #919
I just verified that this issue only exists in version 9.0.2-1.0.40a for me and I have no issues with recklessness in version 9.0.2-1.0.40.

[2021-02-18 05:35] nate8282 commented on #919
Ok something weird just happened. When I upgrade from an older version to 9.0.2-1.0.40a the recklessness issue happens. If I reset the profile, but do NOT reload then recklessness works as intended again, but if I reset the profile and then reload it stays broken. It's weird. This could just be something weird with my computer or something.

[2021-02-18 05:46] Smudgiee opened #920 "Fire Mage Auto Snapshot"
The latest version of Hekili is being used.

I keep getting a auto snapshot from Hekili. No idea why it's doing it but it's when I do /Hekili to open the interface it snaps for some reason no idea why. But it says AoE. Apart from that I have no idea what else to give for information as its appears during /hekili interface.

https://pastebin.com/hiDRSuhY - Snapshot
https://pastebin.com/8FL7ng2j - I

[2021-02-18 20:10] Smudgiee commented on #920
I guess I can close, no idea but it's stopped now. Maybe I accidently changed something without noticing to cause the snapshot.

[2021-02-18 20:10] #920 closed, assigned to Hekili

[2021-02-18 20:17] Hekili commented on #920
I'll look at the snaps.  There are a few edge-case scenarios where the addon can't come up with a recommendation, so I'm not surprised this came up with Fire Mage (the most complicated APL of them all).  I can cause an occasional autosnapshot with Shadow Priest hot-swapping between AOE and ST, but I haven't prioritized that issue because nobody else has reported it.  :)  I do appreciate that you b

[2021-02-18 20:35] Hekili commented on #919
The APL as-written uses Recklessness off-GCD.  So if you have your spec set to sync the addon with the GCD, you'll only see Recklessness in-queue while the GCD is active.

I'm probably going to revise it, but if you dig in your spec options, you can uncheck Sync with Global Cooldown (or something like that) and the recommendation will be more stable.

[2021-02-18 20:55] nate8282 commented on #919
Thank you. You can close this if you like.

[2021-02-18 20:57] tr4549c opened #921 "Large FPS drop when only playing Fire Mage Spec"
**BEFORE SUBMITTING AN ISSUE:**

**Describe the Bug/Issue**
I seem to get large amounts of FPS drops when playing only the fire mage spec? all of my other classes are not effected by this. (by large fps drops i mean i go from 110 ish at normal rest, to around 30 in combat). I use hekili on many of my other chars and it works completely fine.

**To Reproduce**
Not sure, but its just whenever you st

[2021-02-18 21:16] ijoihlhnn opened #922 "Auto Generated Snapshots (Unholy DK)"
**BEFORE SUBMITTING AN ISSUE:**

1.  using latest Stable Version "v9.0.2-1.0.39"

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Auto generated Snpahshots during Combat, mostly happens during AOE Scenarios.

happens during Combat mostly in AoE Scenarios with disabled cooldows.

**Expected behavior**
A clear

[2021-02-18 21:27] Hekili commented on #921
Thanks for the report.  If Fire Mage gets updated and becomes more efficient, you'll see it.  If the performance impact is too significant, please don't use it.  Thanks.

[2021-02-18 21:27] #921 closed, assigned to Hekili

[2021-02-18 21:42] Hekili opened #923 "KNOWN ISSUE: Fire Mage performance impact."
The Fire Mage priority (and spec mechanics) are far more complicated that most.  This is known and does not need to be reported.

If the performance impact is too high, and the settings in /hekili > Fire > Performance aren't sufficient, my recommendation is not to use the addon with your Fire Mage.

No further reports are necessary at this time.  Thanks.

[2021-02-18 21:50] Hekili commented on #922
Thanks for the report.  It looks like, because of the way the priority is written, some of the retests that would normally occur are not happening for Unholy.  That results in a lack of recommendations which results in a snapshot.  I'll enable a potential fix in the next build.

[2021-02-20 21:40] machajr opened #924 "target.within doesnt seem to work"
9.   recklessness ( default - 9 )
        The action (recklessness) is usable at (0.00 + 0.00).
         - the action is ready before the current recommendation (at +0.00 vs. +60.00).
         - this entry's criteria FAILS: target.within7[false]
        There were no recheck events to check.
        Time spent on this action:  0.08ms
        TimeData:Fury edit-default-9:recklessness:0.08:Post-TTR

[2021-02-20 22:18] Rafa28062013 opened #925 "Destruction Warlock"
Hello,

the Addon didnt tell me when i have to use Rain of Fire on Multitarget. Why not?

[2021-02-20 22:31] Hekili commented on #924
What about this makes you think it doesn't work?

`target` is your literal target, not the target of the self-buff.  If your target is outside 7 yards, false would be correct.

[2021-02-20 22:31] #924 closed, assigned to Hekili

[2021-02-20 23:26] #925 closed, assigned to Hekili

[2021-02-21 20:55] brucek2 opened #928 "Expose a condition for player has agro (not tank specific)"
I wanted Hekili to suggest using Mirror Image when my frost mage picked up threat, but couldn't find a condition to support that rule. So I added to State.lua a new line after 5639 (state.tanking):

5639 state.tanking = state.role.tank and ( UnitThreatSituation( "player" ) or 0 ) > 1
new  state.has_agro = ( UnitThreatSituation( "player" ) or 0 ) > 1

This may be a naive implementation, but it does

[2021-02-23 23:22] ArcticLatent commented on #493
Same. Still waiting a good spellflash functionality . I hope it is in the works.

[2021-02-24 01:56] mati3464 opened #933 "Balance druid AOE/M+ Suggestion BoAT Lego Starfall vs Starsurge"
Hello

On dreamgrove discord we was talking a bit about aoe prio for balance druid with Balance of All Things lego.
At this moment using hekili profile, hekili on 2+ targets with this lego, allways prio 1-2 Starsurge  in first 1-2 sec after entering eclipse and if you miss it because you to slow, it will change for starfall. This profile have one problem, because if you use those 1-2 starsurge's y

[2021-02-24 02:03] Hekili commented on #933
If you want changes to recommendations, you need to post sims of the different behavior.

[2021-02-24 02:06] mati3464 commented on #933
its hard to get accurate sims for m+ scenario, recommendations that i posted above are after using and watching hekili over month on ST and AoE Scenarios and discussion with others bala druid's.

As bala druid with over 2k Rio i will add this tweek as great enhancement for m+ scenarios and recommendations.

[2021-02-25 13:50] Hekili commented on #933
You'd still need to provide the edits you've described and show how they sim.

[2021-02-28 03:35] Narftv opened #938 "Shadowmeld Rogue"
Hi, you pretty much got trolled with a request removing shadowmeld from Hekili.

While you dont get the stealthbar when you shadowmeld, you can use any ability u usually could do while in stealth. (you dont need to be out of combat at all)
You just need to simplify things with a macro like this:

#showtooltip
/cast [stealth] Ambush; Sinister Strike

Im using Ambush with shadowmeld without any real

[2021-03-01 02:40] NokuraWoW opened #939 "Enable/Disable in Combat is not Successful"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-03-01 04:43] aerix88 opened #940 "Dreadfire Vessel not being recommended for BM Hunter"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Trinket "Dreadfire Vessel" is no longer being recommended for

[2021-03-03 19:51] brugrabud-wow opened #946 "Actionlists not triggering when conditions = true (for Demo at least)"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-03-03 19:59] brugrabud-wow commented on #946
**Describe the Bug/Issue**
Run action lists (Demonology) do not seem to work when the priority list is not the default list

**To Reproduce**
Import SimulationCraft APL from SimulationCraft or Create a new Run Action List in the default priority tree.

In my case, I want the APL to trigger an Action list called Tyrant Prep, w/ the only condition being that cooldown.summon_demonic_tyrant.remains <=

[2021-03-03 20:10] Hekili commented on #946
I moved your snapshot to Pastebin per the instructions.

[code]

Per the snapshot, the the recommendation of demonbolt is from your `tyrant_prep` list.  What am I missing?

[2021-03-03 20:52] brugrabud-wow commented on #946
Unreleated, but being a Paetron supporter - I hope you would have a little more patience, this isn't easy stuff to figure out, and after looking at the directions for 5 minutes I finally found the pastebin request, maybe that should go on the top if it's that important.

Anyhow :)

So if that's true, then maybe it's something very specific to Summon Tyrant.  When I import an APL from SimC, or crea

[2021-03-03 21:01] Hekili commented on #946
You probably don't want to import at all.  Are you writing a customized list or are you trying to just use what comes from your sim?  The addon's defaults are based directly on the sim profile, and if you import from SimC, you lose the customizations I've made.

If you're not actually writing a custom list for yourself, don't import!  If you are writing a custom list for yourself in SimC, you'll a

[2021-03-03 21:07] brugrabud-wow commented on #946
I am taking your default script, and modifying it so that it aligns better with the suggested rotation based on my legendary.

[2021-03-03 21:16] Hekili commented on #946
Show me those specific differences.

[2021-03-03 21:22] brugrabud-wow commented on #946
![image](https://user-images.githubusercontent.com/49727795/109874096-a9961780-7c3c-11eb-8b93-5a622896ec58.png)

[2021-03-03 21:26] brugrabud-wow commented on #946
ok so I moved the demonbolt and shadowbolt lines below Tyrant and it worked.

[2021-03-03 21:26] #946 closed, assigned to Hekili

[2021-03-03 21:26] Hekili commented on #946
What are the differences, though?

[2021-03-05 16:09] Snoogey opened #947 "Hekili_GetRecommendedAbility not returning a valid ID for Trinkets"
**Describe the Bug/Issue**
When calling Hekili_GetRecommendedAbility, it doesn't provide a valid ID for trinkets.
For instance, Sinful Aspirant's Badge of Ferocity returns -166, while Macabre Sheet Music returns -215.

**To Reproduce**
Steps to reproduce the behavior:
/dump Hekili_GetRecommendedAbility("Primary",1)

**Expected behavior**
I was expecting the trinket's to return their ID as presente

[2021-03-05 16:34] Hekili commented on #947
Which spell ID would you expect to get back for items?

I could provide the item ID, but then I'd have to give you a way to differentiate the item ID from a spell ID.

I could provide the ID of the item's spell, but that may or may not be as useful as you need.  What's your use case?

[2021-03-05 17:17] Snoogey commented on #947
For e.g Macabre Sheet Music I would expect to get back 184024, which I assume is the itemID.
I also assume these are unique and don’t conflict with a spell ID, so returning it shouldn’t be an issue, right?

The purpose is essentially me fetching this information into another addon and translating the ID into a string (I.e of the Ability/Spell/Item attached to said ID) to see what Hekili has sugges

[2021-03-05 17:18] Hekili commented on #947
That is not a safe assumption.

[2021-03-05 17:22] Snoogey commented on #947
I’m not sure how I could verify that, so in that case there’s not much that can be done.
What are the current returned values based on, like -215 for Macabre Sheet Music?

[2021-03-05 17:23] Hekili commented on #947
-215 is a unique ID created for addon purposes.

[2021-03-05 17:27] Snoogey commented on #947
Do all the trinkets have unique IDs assigned, or was it merely a coincidence that the two I tried were unique?

[2021-03-05 17:28] Hekili commented on #947
All items and "fake" actions (like call_action_list, variable, etc.) have auto-generated negative IDs.

[2021-03-05 17:30] Snoogey commented on #947
Ok, thanks a lot for all the responses mate, I appreciate it. I will close this here as we cannot proceed with the suggestion from my side which turns out to not be a bug.
Thank you! :)

[2021-03-05 17:30] #947 closed, assigned to Hekili

[2021-03-05 17:34] Hekili commented on #947
You could make use of this information, regardless.

[code]

[2021-03-07 03:49] Ligerfish opened #948 "Rock Icon with no spell or key bind"
![hekili](https://user-images.githubusercontent.com/80186327/110228317-2c81d100-7ece-11eb-9655-2fc9f4f9cf97.PNG)

Can't figure out what this means

[2021-03-07 04:01] Hekili commented on #948
Follow the ticket instructions when submitting a question.

[2021-03-07 04:13] Ligerfish opened #949 "Weird rock icon with no keybind"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
I will be doing my rotation and this icon will be in the prior

[2021-03-07 04:13] Ligerfish commented on #948
submitted

[2021-03-07 04:13] #948 closed, assigned to Hekili

[2021-03-07 04:21] Ligerfish commented on #949
never mind im dumb its the ocarina trinket ive never seen before in my life

[2021-03-07 04:21] Ligerfish commented on #949
gonna go continue being the newb i am

[2021-03-07 04:21] #949 closed, assigned to Hekili

[2021-03-07 16:31] Hekili commented on #940
Is this happening consistently?  It looks like Dreadfire Vessel was missing from your (autogenerated) Use Items list, which is strange.

[2021-03-07 16:38] Hekili commented on #939
I'm not able to replicate this with the information provided.

[2021-03-07 16:38] #939 closed, assigned to Hekili

[2021-03-07 16:41] Hekili commented on #938
When I removed it, I checked sims first and it's not particularly worthwhile in terms of DPS.  Retesting now, it is close to 1%, so I'll add it back in (with a preference to easily enable/disable it).

[2021-03-07 16:44] aerix88 commented on #940
I will let you know after tonight (raid night, woo!). Will likely play just BM to see if this is happening all the time or just sometimes.

[2021-03-07 16:45] Hekili commented on #938
I revised the criteria for Shadowmeld to allow it in boss fights OR when you're in a group (to avoid resetting).

[2021-03-07 16:53] Hekili commented on #940
Thanks.  If you could paste the output from the following command, it would be helpful as well.

`/dump Hekili.Class.itemPack.lists.items`

[2021-03-07 19:23] SpencerMalone commented on #933
I am also seeing this, and I think I tracked down the APL cause. When I encountered it on a training dummy, I had no CDs up and paused to see what was up. Here was the state of the pause:

![idkwhy](https://user-images.githubusercontent.com/8786752/110251692-86b67c80-7f36-11eb-89be-a84332c9b86b.png)

So, the issue is, look at the simc APL: https://github.com/simulationcraft/simc/blob/shadowlands/e

[2021-03-07 19:33] SpencerMalone commented on #933
Ah, was added in https://github.com/simulationcraft/simc/commit/d7221031202ba2571c3cb177361a7c33093bbc0f

[2021-03-07 23:41] Hekili commented on #933
Good catch and great research.  The revised APLs are in a big pile of pending commits.

![image](https://user-images.githubusercontent.com/9438134/110259198-7c1ad800-7f74-11eb-94a7-07fb54327fa3.png)

I would've accidentally resolved this with the next release, but it's good to have confirmation.  I hope to get these changes out tonight or tomorrow.  They require more checking than usual because of

[2021-03-08 01:37] LucianDK opened #952 "Frost Mage: Recommendations flicker when casting Flurry with Brain Freeze but no Fingers of Frost"
**Describe the Bug/Issue**
Ive frequently noticed that with frost mage since I started on the spec yesterday. That the spells in the queue will  quite often very rapidly flicker between the choices when casting flurry with the brain freeze proc, and ice lance is showing as recommended.
Its not pleasant for my eyes to look at for long. I wanted to hear if that is intended behavior.
But should I haz

[2021-03-08 03:04] Hekili commented on #952
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-03-08 04:40] Hekili commented on #933
These fixes are in the new beta.

[2021-03-08 04:40] #933 closed, assigned to Hekili

[2021-03-08 04:40] Hekili commented on #940
Based on our conversation, I'm going to close this, but let me know if you see this come up again.

[2021-03-08 04:40] #940 closed, assigned to Hekili

[2021-03-08 04:41] Hekili commented on #938
This is available in the new beta.

[2021-03-08 04:41] #938 closed, assigned to Hekili

[2021-03-08 04:41] Hekili commented on #922
These changes are in the new beta; let me know if you continue to see these snapshots (and provide new snapshots, if so!).

[2021-03-08 04:41] #922 closed, assigned to Hekili

[2021-03-08 04:41] #919 closed, assigned to Hekili

[2021-03-08 04:49] LucianDK commented on #952
Managed to reproduce the issue :)

BEFORE SUBMITTING AN ISSUE:
build: v9.0.2-1.0.40a

Describe the Bug/Issue
Rapid flickering of Ice Lance icons in queue list after casting Flurry when Fingers of Frost is NOT present and Icicles is at 5, and then casting Flurry once Brain Freeze have procced
If Fingers of Frost is present, the issue does not happen.

To Reproduce
Cast Frostbolt till till Icicles i

[2021-03-08 13:38] Hekili commented on #928
I'll be adding `aggro` in the next release.

[2021-03-08 13:38] #928 closed, assigned to Hekili

[2021-03-08 14:56] LucianDK commented on #952
Its casting Flurry with Brain Freeze, while Fingers of Frost is NOT present. And that Icicles is at 5 stacks.

[2021-03-08 20:32] JL907 opened #953 "Waiting for DnD to come back up 8 seconds during two target fights"
Happens during two target fights like huntsman or during any other 2 target scenario. It stops recommending anything but to wait for death and decay to come back up

https://gist.githubusercontent.com/lemonlust/65b71b9e8fafdcafe616b37987171c85/raw/07782cb36f3ffe0c482f2157186842b01ec150f3/gistfile1.txt

[2021-03-09 03:19] Hekili commented on #953
I'm adding an experimental change to the 9.0.5 release that may help with this.  Essentially, you have target swapping disabled (/hek > Unholy > Targeting) which means you have nothing to do while waiting for DnD to come off CD.  The new logic will let you spend runes/wounds as long as you'll have a few when it's time to DnD.

[2021-03-09 03:20] Hekili commented on #918
I think this is rolled into default APL changes, but if not, report/reopen with a snapshot after 9.0.5 is live.

[2021-03-09 03:20] #918 closed, assigned to Hekili

[2021-03-09 03:20] Hekili commented on #915
This is fixed for 9.0.5.

[2021-03-09 03:20] #915 closed, assigned to Hekili

[2021-03-09 03:22] Hekili commented on #878
Please report/reopen if this is still an issue in 9.0.5.

[2021-03-09 03:22] #878 closed, assigned to Hekili

[2021-03-09 03:23] Hekili commented on #908
No.

*(Maybe.)*

[2021-03-09 03:23] #908 closed, assigned to Hekili

[2021-03-09 03:23] Hekili commented on #493
There is already an open ticket for this.

[2021-03-09 03:23] #493 closed, assigned to nobody

[2021-03-09 03:26] Hekili commented on #877
This appears to be resolved.

[2021-03-09 03:26] #877 closed, assigned to Hekili

[2021-03-09 03:26] Hekili commented on #629
This appears to be resolved.

[2021-03-09 03:26] #629 closed, assigned to Hekili

[2021-03-09 03:39] useotherdoor opened #954 "Moving the icons"
It would be much more useful to have the ability to move the icons. WoW puts temporary action buttons directly in the way for the icons, making them impossible to see

[2021-03-09 12:21] Smudgiee commented on #954
You can? Type "/hekili" in game without the quotation marks ofc, Then you're able to move the positions and plenty of other things.

[2021-03-09 12:56] Hekili commented on #954
Yes, you can move the displays with /hekili open, or set specific coordinates for each display via /hekili > Displays.

[2021-03-09 12:56] #954 closed, assigned to Hekili

[2021-03-09 14:08] mati3464 opened #955 "Cancel starlord after first starsurge for Balance druid at opener before combat"
v9.0.5-1.0-beta1

**Describe the Bug/Issue**
At opener for balance druid hekili recommending wrong spell: After first starsurge hekili recommend cancel starlord, even at opener without Celestial/convoke on, hekilii still recommends cancel starlord after first starsurge.

https://i.imgur.com/fvXc96k.png
https://i.imgur.com/Rdh6cTo.png

https://i.imgur.com/4mYmSuW.png

Recommendation disappear after

[2021-03-09 14:09] Hekili commented on #955
Please follow the ticket instructions.

2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved

[2021-03-09 14:26] mati3464 commented on #955
Snap:

https://pastebin.com/Gpc1UxUh (clean snap )

Screen with Starlord cancel screen recommendation while paused between 3 starsurges:

https://i.imgur.com/LuQOpbR.png

That strange recommendation appear after new beta released.

[2021-03-09 14:52] Hekili commented on #955
Try this:

/hekili > Priorities > Balance > Action Lists.

Select Action List = boat, Entry = 6.

Update the criteria to:
```gcd.remains = 0 & ( buff.balance_of_all_things_nature.remains > 4.5 | buff.balance_of_all_things_arcane.remains > 4.5 ) & ( cooldown.ca_inc.remains > 7 | ( cooldown.empower_bond.remains > 7 & ! buff.kindred_empowerment_energize.up & covenant.kyrian ) ) & astral_power >= 30``

[2021-03-09 15:07] mati3464 commented on #955
Ok it fixed.

[2021-03-09 15:08] Hekili commented on #955
Thanks.  I'll be adding a different fix that accomplishes the same thing.

[2021-03-09 15:08] #955 closed, assigned to Hekili

[2021-03-09 15:58] kplaya1 opened #956 "HEKILI Doesn't show keybind for Druid"
When I play as Druid, Hekily doesn't show keybindings.
However, if I play in a different class, it is fine.
I wonder if this is a bug or another problem.
![WoWScrnShot_031021_005709](https://user-images.githubusercontent.com/80341203/110499567-b682a180-813b-11eb-962c-3a868b50971a.jpg)

[2021-03-09 17:07] Hekili commented on #956
You have your druid's bars arranged in an odd way that interferes with automatic detection.

You can manually set keybindings in /hekili > Abilities > Override Keybind Text, if you don't want to reorganize your bars to match the default.

[2021-03-09 17:07] #956 closed, assigned to Hekili

[2021-03-09 17:07] Hekili commented on #913
This is resolved.

[2021-03-09 17:07] #913 closed, assigned to Hekili

[2021-03-09 21:13] Zavb opened #957 "Balance Druid Rotation wrong numbers in place."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-03-09 21:22] JL907 opened #958 "Hekili still waiting for DnD 8 seconds w/ Cycling Enabled in two target fights"
https://gist.githubusercontent.com/lemonlust/3e289a908b35121d4a8314fe16570260/raw/de136ca6b131d32a056230bede7769e97b242106/gistfile1.txt

Hekili wont make a recommendation other than to wait for DND to come on in 8 seconds. On latest update

Original Issue: https://github.com/Hekili/hekili/issues/953

[2021-03-09 21:53] Hekili commented on #957
You have your druid's bars arranged in an odd way that interferes with automatic detection.

You can manually set keybindings in /hekili > Abilities > Override Keybind Text, if you don't want to reorganize your bars to match the default.

[2021-03-09 21:53] #957 closed, assigned to Hekili

[2021-03-09 21:59] Hekili commented on #958
Reopening original ticket for you, to keep info together.

[2021-03-09 21:59] #958 closed, assigned to Hekili

[2021-03-09 21:59] Hekili commented on #953
https://gist.githubusercontent.com/lemonlust/3e289a908b35121d4a8314fe16570260/raw/de136ca6b131d32a056230bede7769e97b242106/gistfile1.txt

Hekili wont make a recommendation other than to wait for DND to come on in 8 seconds. On latest update

[2021-03-09 22:01] Hekili commented on #953
For some reason, your snapshot isn't including information that mine includes.  Have you made any modifications to your priority?  Are you using the default?

[2021-03-09 22:03] Zavb commented on #957
how do I manually set keybindings for the individual spells?

[2021-03-09 22:05] Hekili commented on #957
You can manually set keybindings in /hekili > Abilities > Override Keybind Text, if you don't want to reorganize your bars to match the default.

[2021-03-09 22:31] lemonlust commented on #953
Happened again on Council

https://gist.githubusercontent.com/lemonlust/e9280b109604d1ce3616bef35ee5c3d7/raw/0c1529bd0a4ab1b8fdb04a21a1a624e809b1cbf8/gistfile1.txt

[2021-03-09 22:32] JL907 commented on #953
Happened again on Council

https://gist.githubusercontent.com/lemonlust/e9280b109604d1ce3616bef35ee5c3d7/raw/0c1529bd0a4ab1b8fdb04a21a1a624e809b1cbf8/gistfile1.txt

[2021-03-10 01:48] kplaya1 commented on #956
Thank you for your feedback!!!
It works well!!

[2021-03-10 12:14] jmusick commented on #341
A possible solution could be enabling the cvar for always displaying the Personal Resource display if this option is selected so it doesn't lose it's anchor point when out of combat.

[2021-03-10 16:56] cremor commented on #629
@Hekili I can **not** confirm that this is fixed in v9.0.5-1.0-beta1. To be more specific: It seems to be fixed for the queue icons, but not for the main icon.

Repro steps for a Prot Paladin:

1. Build 5 holy power so that Shield of the Righteous is shown on the main icon.
2. Use any ability.
3. The main icon will show the GCD spiral on Shield of the Righteous.

Please reopen.

[2021-03-10 16:57] Hekili commented on #629
Provide a fresh snapshot of that, please.

[2021-03-10 17:11] cremor commented on #629
Character data: https://pastebin.com/yjpy8tbS
Snapshot with 5 HP and everything off CD: https://pastebin.com/gNvYttP1
Snapshot with same conditions but during GCD (I hope I got it): https://pastebin.com/Ne3GEpJn

[2021-03-10 17:24] Hekili commented on #629
You have your addon configured to sync with the GCD, so it does.

[2021-03-10 17:33] cremor commented on #629
Oh, wow, sorry. I didn't even remember that that option exists. And I had to read its descripton 3 times now to understand what it actually does. I always thought that it only affects the recommendation itself, not the cooldown swirl on it.
Thanks!

[2021-03-10 17:41] Olanid57 commented on #878
Still not working in 9.0.5, i'll make a snap if required

[2021-03-10 18:01] Hekili commented on #878
Snapshots are always good.

[2021-03-10 19:55] Olanid57 commented on #878
https://pastebin.com/JcL24zDj

[2021-03-11 00:43] Hekili commented on #953
Next version has some new changes to test.  Coming in about ~5 minutes.

[2021-03-11 00:56] ijoihlhnn opened #961 "Auto generated Snpashot Unholy (seems to be the same line)"
**BEFORE SUBMITTING AN ISSUE:**

1.  Using Version v9.0.5-1.0-beta1

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Auto generated Snapshot during Aoe Scenario

**To Reproduce**
Steps to reproduce the behavior:
- Go to '...'
- Click on '....'
- Scroll down to '....'
- See error

**Expected behavior**
A clea

[2021-03-11 01:00] ijoihlhnn commented on #961
WIll test on new Version released 1min ago! can be closed for now.

[2021-03-11 01:00] #961 closed, assigned to Hekili

[2021-03-11 02:11] ijoihlhnn opened #962 "Auto generated Snapshots Unholy DK during Aoe Scenarios"
**BEFORE SUBMITTING AN ISSUE:**

1.  Latest Release

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Auto Genrérated Snapshots during AOE Scenarios

**To Reproduce**
Steps to reproduce the behavior:
- Go to '...'
- Click on '....'
- Scroll down to '....'
- See error

**Expected behavior**
A clear and concise

[2021-03-11 02:33] Hekili commented on #962
That doesn't look like an AOE scenario.  There's only 1 target.

[2021-03-11 02:42] Hekili commented on #962
In /hekili > Unholy > Performance, check Enhanced Recheck and see if that resolves your issue.

[2021-03-11 03:30] ijoihlhnn commented on #962
i will test it tomorrow with Enhanced recheck enabled!

[2021-03-11 12:34] JL907 commented on #962
https://gist.githubusercontent.com/lemonlust/707150bccbe9d8de71144f2f461e968c/raw/e08074c257eaf0b178d2c0068676cd33f9f47d81/gistfile1.txt

i got some auto generated snapshots during an AOE situation wondering if this helps

[2021-03-11 12:34] ijoihlhnn commented on #962
i just saw i already hat enhanced recheck enabled.
The issue arrived with the change made in version
v9.0.2-1.0.39 where you tighted down on Festering wounds, not sure just a thought if that has to do with it.

https://github.com/Hekili/hekili/commit/506a42d941a76a7ca4b6ddbddf34940597c5a9a1

[2021-03-11 12:43] ijoihlhnn commented on #962
actions.cooldowns+=/apocalypse,if=active_enemies=1&debuff.festering_wound.stack>=4

Thats the Simc Profile from https://github.com/simulationcraft/simc/blob/shadowlands/profiles/Tier26/T26_Death_Knight_Unholy.simc

and the profile hekili uses right now uses this line:
actions.cooldowns+=/apocalypse,if=active_enemies=1&debuff.festering_wound.stack>3

line 70.

[2021-03-11 12:49] Hekili commented on #962
Your snapshot shows `enhancedRecheck = false`.

`>=4` and `>3` are functionally the same.

[2021-03-11 13:18] ijoihlhnn commented on #962
i see, my bad the "/hekili > Issue Reporting" export showed it as true because i probably enabled it afterwards and wasnt enabled as the Snpashot occured. Will send you new Snapshots if they should occur with enhanced recheck enabled.

Okay, good to know!

[2021-03-11 18:19] ferky01 opened #963 "WW monk debuff disarm dont work"
the line "debuff.disarm.down and debuff.disarm.up" does not work correctly

[2021-03-11 18:21] Hekili commented on #963
Fill out the whole ticket, please.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise descri

[2021-03-11 18:53] ijoihlhnn commented on #962
Got one with the same setup as above but with enhanced recheck enabled in version: v9.0.5-1.0.1-beta1

AOE window: https://pastebin.com/B4yPCbdK
-------------------------------------------
Primary window:

https://pastebin.com/yA9NRNtE
https://pastebin.com/j3kwMnsd
https://pastebin.com/sFhPmMD9
https://pastebin.com/uz2vwPAC
https://pastebin.com/5xWAH87W

[2021-03-11 20:35] Hekili commented on #962
There's something strange happening with Rune regeneration that I'm working on.  Will post a new beta in a bit.

[2021-03-11 21:11] Lnau opened #964 "Unknown Icon and spell in rotation - Feral Druid"
Unknown Icon and spell in rotation - Feral Druid
I there a way to show a list with icons being used in the rotation?
Can you tell me what spell is associated with this icon?
Thanks
![Icon](https://user-images.githubusercontent.com/11722169/110855461-39564a00-826b-11eb-85e9-0c2e7bc80ac2.jpg)

[2021-03-11 21:30] ijoihlhnn commented on #962
I'm going to test it, not sure if today but i will let u know about it by tomorrow.

[2021-03-11 21:46] tacoinspace opened #965 "Affliction - Agony target swap not at right time"
Agony will only recommend to refresh the dot on other targets when it falls off, not when it's refreshable. This also applies to the other warlock dots as well, but it really hurts warlock dps on agony because it needs to stay on to do full damage.

[2021-03-11 21:53] Hekili commented on #965
Yes, it's a known issue.  It requires rewriting how multi-target is handled, and will not be resolved any time soon.  I suggest using WeakAuras to track when you have Agony close to falling off on secondary targets.

[2021-03-11 21:53] #965 closed, assigned to Hekili

[2021-03-11 21:53] Hekili commented on #964
That is Shadowmeld.  You can Pause (SHIFT-ALT-P, by default) and mouseover the icon to see what is displayed and why.

[2021-03-11 21:53] #964 closed, assigned to nobody

[2021-03-11 21:55] Hekili commented on #963
In addition to the above, you should show me exactly what you're trying to do and not just the piece that doesn't seem to work.

This `debuff.disarm.down and debuff.disarm.up` would never work because Disarm can't be down and up at the same time.  I can't tell from your question whether you're concerned about being disarmed by a monk or a monk wanting to check if you've disarmed someone.

[2021-03-11 22:16] Lnau commented on #964
Thank you for the quick response!

On Thu, Mar 11, 2021 at 1:54 PM Hekili ***@***.***> wrote:

[2021-03-11 22:59] ijoihlhnn commented on #962
Snap from version: v9.0.5-1.0.1-beta2 - seems to be the same line
https://pastebin.com/SjxmzKpx
https://pastebin.com/N46RsDCC

[2021-03-12 08:37] Crelam opened #969 "[Cancel Buff] action not working with Bladestorm."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.
`cancel_bu

[2021-03-12 14:53] octapusxft opened #970 "Shadow Word Death is in the recomendations for healthy targets without the fiend pet being active"
Lastest version of the addon

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
The rotation recommends using Shadow Word: Death on mobs outside of their 20% execution phase when the Shadowflame Prism legendary is equiped even when there is no Mindbender or Shadowfiend active or Off the cooldown.
When looking

[2021-03-12 15:28] Hekili commented on #970
The snapshot you provided was not taken at the time Shadow Word Death was being recommended.  Please provide that.

[2021-03-12 15:58] octapusxft commented on #970
This time I paused it when Shadow world death was the primary icon
I hope it works this time  https://pastebin.com/PihuWpwM

Here is a short recording as well showing the incident
https://www.youtube.com/watch?v=81mHSUGZqzA

[2021-03-12 16:43] Hekili commented on #970
The snapshot was perfect.  I have a fix prepared to go out today.

[2021-03-12 18:20] groooooooooooot opened #971 "[Feral] Circle of Life and Death Legendary causes Hekili to recommend Rip over Primal Wrath in multi-target"
Using latest build for Hekili.

Feral specc'd: 2-3-1-2-1-3-2

With the Circle of Life and Death legendary equipped Hekili is consistently recommending Rip over Primal Wrath when 3+ targets are engaged.  This is consistent at Target dummies or with real mobs.  When the Circle of Life and Death legendary is removed or replaced, Primal Wrath is consistently recommended as expected.

**To reproduce**

[2021-03-12 18:38] Hekili commented on #953
I have 2 threads going re: Unholy DK so I'm closing this one.

[2021-03-12 18:38] #953 closed, assigned to Hekili

[2021-03-12 19:03] Hekili commented on #971
Fill out the ticket completely, please.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise d

[2021-03-12 19:17] octapusxft commented on #970
This is great news, I am happy to help. This addon is very important to me, I do not think I would be able to play a lot of the specs anymore (some became too complex over the years). I hope the time will someday come were disk also gets supported, I will join on Patreon in hopes of making it more likely to happen one day  :)

EDIT: I can confirm the issue was fixed in that latest beta 3 version o

[2021-03-12 19:56] #970 closed, assigned to Hekili

[2021-03-12 20:48] groooooooooooot commented on #971
updated original post

[2021-03-12 22:16] rosenberger877 opened #972 "Interrupts issue"
Set up interrupts and checked enabled. When opponents casts nothing shows up in icon. Also, the enabled box will uncheck itself. Followe a youtube video on setting up interrupts but still doesnt work

[2021-03-12 22:17] Hekili commented on #972
There's really nothing to set up, except for toggling interrupts on.  Regardless, you'd need to submit a ticket following the ticket instructions.

[2021-03-12 22:17] #972 closed, assigned to nobody

[2021-03-13 04:22] rosenberger877 opened #973 "Can't get interrupts to work"
Enabled interrupts feature and created an icon. Tested with a mage dueling me and casting. The icon failed to register the cast. Repeated the process and settings 15 times and cant get the icon to show casts for me to rebuke

[2021-03-13 10:50] Swiftkill opened #974 "Moonkin bad Starfire\SUnfire suggestions"
Hekili often suggest to cast those two in wrong phases. Sunfire should have priority in sun phase, while starfire - in moon phase. While there are edge cases, e.g. spamming moonfire in sun phase while moving to place dots or to use it in PVP - moonfire there got a talent that applies full damage, in general that's a GCD loss and push of counter in wrong direction.

[2021-03-13 14:05] Hekili commented on #974
Please follow the instructions when submitting tickets.

[2021-03-13 14:05] #974 closed, assigned to Hekili

[2021-03-13 14:06] Hekili commented on #973
You will have to submit a ticket where you follow the instructions and include the required information.

[2021-03-13 14:06] #973 closed, assigned to Hekili

[2021-03-13 14:09] Hekili opened #975 "Incomplete tickets will be closed; please follow instructions."
see title.

[2021-03-13 14:09] #975 closed, assigned to Hekili

[2021-03-13 15:57] rosenberger877 opened #976 "Interrupt icon doesnt show up"
Addon is great, but cant get interrupt icon to show up in testing with other classes casting. Have tried to set up 15 times and in test mode can get the box to show up.

Steps to reproduce the behavior:
- Go to 'displays'
- Click on 'interrupts'
- Enable (check) 'target'

build: v9.0.5-1.0
level: 60 (60)
class: PALADIN
spec: retribution

talents: blade_of_wrath
    divine_purpose
    final_reckoni

[2021-03-13 16:00] Hekili commented on #976
This is your third ticket without providing all the ticket information.  I need you to provide a snapshot when this is happening.

If you have /hekili > Toggles > Interrupts: Show Separately checked, then I need you provide a snapshot of your Interrupts display.

If you do not have Show Separately checked, then I need you to provide a snapshot of your Primary display when your target is casting an

[2021-03-13 16:54] rosenberger877 commented on #976
Cant send you a screen shot of the " Primary display when your target is casting an interruptible spell" because the interrupt box doesn't show up when I'm fighting an opponent

I do have this checked:    /hekili > Toggles > Interrupts: Show Separately checked,

<img width="1600" alt="Screen Shot 2021-03-13 at 10 43 48 AM" src="https://user-images.githubusercontent.com/55889865/111037306-1487e100-

[2021-03-13 17:12] Hekili commented on #976
Please reread the instructions I provided. Without a snapshot, this ticket will be closed.

[2021-03-14 00:39] Nazeth opened #977 "Retribution Paladin - Self Healing"
Hey.

I added 2 lines in actions to heal myself, if its very needed.

actions+=/flash_of_light,if=(health.pct<50)&buff.selfless_healer.stack=4
actions+=/word_of_glory,if=(health.pct<50)

sadly for some reason both of them dont trigger, if conditions are truth.

Did i miss something?

[2021-03-14 01:25] Hekili commented on #977
Custom priorities aren't actively supported, but if I did support them, I'd need you to fill out a whole ticket including the required snapshot so I can see what's happening.

My best guess with what's provided here is that you added to the import tab but didn't import.  My next best guess is that, based on where you placed these in your priority, there are other entries that are higher priority t

[2021-03-14 01:25] #977 closed, assigned to Hekili

[2021-03-14 01:25] #976 closed, assigned to Hekili

[2021-03-14 05:04] rosenberger877 commented on #976
Snapshot is beyond my technical skills. Thanks anyway

[2021-03-14 16:25] steveriggins opened #978 "As a player, I would like to be able to opt skills out of moving so that I can know what to press as MM"
I am learning MM and while moving a lot (say Sire) I am having a hard time keeping DPS up because all of my Volley/Aimed Shots are prioritized.

I noticed on Elemental Shaman that spells come and go as I move, and aside from the simc profile, I did not notice a setting or in the code where this is handled. I did try for hours before coming here :)

Mainly I want to be able to tell Aimed Shot to go

[2021-03-14 16:32] SpatenLa commented on #978
there is only one spell where you need to stand still as marksman hunter.
![grafik](https://user-images.githubusercontent.com/39881841/111076101-3b2e4080-84eb-11eb-8999-2d7b6061d277.png)
aimed shot without proc

[2021-03-14 20:21] Linquent opened #979 "disable snapshot"
Please describe your idea or feature and when it would be useful.
I want to disable the snapshot entirely but it continues to take one randomly. I have it set up to not take one automatically but it still does

[2021-03-14 20:30] steveriggins commented on #978
Thanks! No idea why I could not see that checkbox.

[2021-03-14 20:31] #978 closed, assigned to Hekili

[2021-03-14 22:30] p4nchez commented on #979
i can confirm that i get saved snapshots even if i disable the save snap shot option

[2021-03-15 00:20] Hekili commented on #979
Will be fixed in next beta build.

[2021-03-15 00:20] #979 closed, assigned to Hekili

[2021-03-15 00:54] Ethanna166166 opened #980 "HUGE FPS DROP !!!!! HAVE TO DISABLE THE ADDON"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-03-15 00:56] Hekili commented on #980
Will you be filling in the ticket details?

[2021-03-15 01:04] Hekili commented on #962
What do you mean by "seems to be the same line"?

[2021-03-15 02:03] #980 closed, assigned to Hekili

[2021-03-15 02:04] Hekili commented on #969
This will be fixed in the next build.

[2021-03-15 02:04] #969 closed, assigned to Hekili

[2021-03-15 02:04] #963 closed, assigned to Hekili

[2021-03-15 03:27] Hekili commented on #971
This may be resolved in v9.0.5-1.0.1-beta4, but I'm not sure yet.

[2021-03-15 11:56] p4nchez commented on #971
sometimes i had the same error that i get rip recommended in aoe situations even on dummy like grooooooooooot with circle

testet few minutes with beta4
seems fixed.. no miss recommended rip

thx <3

[2021-03-15 17:50] porklasagna opened #981 "[Shadowpriest] pet.fiend.active is returning nil status"
**Describe the Bug/Issue**
Hekili is suggesting casting SW:D even when Shadowfiend/Mindbender isn't up and active.
Upon checking the action list, it seems that the flag pet.fiend.active is returning nil.

**To reproduce : **

1. Go to Hekili (As Shadowpriest, theres a default Shadow profile)
2. Click Priorities
3. From the dropdown of Priorities, select Shadow
4. On the right window, select Action

[2021-03-15 17:52] Hekili commented on #981
Per ticket instructions, try latest beta before reporting.

[2021-03-15 17:52] #981 closed, assigned to Hekili

[2021-03-15 18:33] Hekili commented on #981
(For clarity, this should be solved within the latest beta builds.)

[2021-03-15 18:53] ijoihlhnn commented on #962
it looked like it starts to throw the generated snapshot at the same time as before the fix. it was mainly my own thought idk why i typed it down.

[2021-03-15 19:15] nejkoo opened #982 "Seraphim is not showing under rotation"
**BEFORE SUBMITTING AN ISSUE:**

1.  I used latest version aswell as beta.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
- Go to '...'
- Click on '....'
- Scroll down to '....'
- See error

**Expected be

[2021-03-15 19:16] #982 closed, assigned to Hekili

[2021-03-15 19:23] nejkoo opened #983 "Seraphim is not showing in rotation"
**BEFORE SUBMITTING AN ISSUE:**

I tried to use latest version aswell as beta.

**Describe the Bug/Issue**
Paladin / Retribution
Usually seraphim talent was top priority as soon as it was off cooldown and you had 3HP but now there is no seraphim in rotation. I tried in boss fights, dungeons, dummies, different talents and then go back and it doesnt work.

**To Reproduce**
Cant reproduce if its not

[2021-03-15 19:28] Hekili commented on #983
Fill out the entire ticket, including the snapshots when you think Seraphim should be recommended but it isn't.

[2021-03-15 20:09] nejkoo commented on #983
https://pastebin.com/9H15PP1A

[2021-03-15 20:12] Hekili commented on #983
You don't have any Holy Power in that snapshot, I'm sure you weren't expecting Seraphim to appear without Holy Power.  Can you take a snapshot when you have 3 Holy Power and are expecting Seraphim to be recommended?

[2021-03-15 20:22] nejkoo commented on #983
https://pastebin.com/ULkpi618

[2021-03-15 22:06] Tzuyume opened #984 "Lua Errors on Unholy"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Whenever you play unholy with Soul Reaper the addon gives you

[2021-03-16 02:00] pkuall4life opened #985 "Racials"
Please describe your idea or feature and when it would be useful.
For Goblins, we have either Rocket Jump or Rocket Barrage. Would like to use that in my core rotation if i have no use for using the Rocket Jump Ability.

[2021-03-16 12:34] Groll12 opened #986 "[Feral] Regrwoth recommendation"
Hey,

I wonder why there is no regrowth recommendation for the Feral when the spell is instant.

Many Thanks! :)

[2021-03-16 13:44] Hekili commented on #986
There's no DPS benefit.  You could add it.  It's actually the test/example case in the FAQ.  https://github.com/Hekili/hekili/wiki/Frequently-Asked-Questions

[2021-03-16 13:44] #986 closed, assigned to Hekili

[2021-03-17 04:41] Devates commented on #983
+1 seraphim has not showed up as priority at all in rotation since maybe last week? its driving me nuts haha hopefully it gets fixed <3 even with hp
after every other cd is used it still isn't prio'd
EDIT-THIS IS ONLY WHEN TALENTED INTO EXECUTION SENTENCE AND WORKS GOOD WITH ZEAL ETC I THINK

[2021-03-17 21:16] geraint425 commented on #984
I also have a bug with rotation here is a screenshot. https://imgur.com/a/aW6yObY

[2021-03-17 21:32] Hekili commented on #984
Yes, that's likely the same issue.

I'll be posting a new beta tonight which should resolve it.

[2021-03-18 00:20] Hekili commented on #984
This should be resolved in v9.0.5-1.0.1

[2021-03-18 00:20] #984 closed, assigned to Hekili

[2021-03-18 00:24] lonesniper52 opened #989 "Fury Warrior wrong APL"
**Describe the Bug/Issue**
Hekili starts off with charge, condemn, bloodthirst, raging blow, enrage , recklessness
how it should be: charge, bloodthirst, recklesness

**Expected behavior**
how it should be: charge, bloodthirst, recklesness. Shouldnt wait to enrage before recklessness

**Screenshots**
hekili recommendation: https://cdn.discordapp.com/attachments/691318915149856838/82190138763286937

[2021-03-18 02:08] Twizzerious opened #990 "Frost Shock/Flame Shock"
[Snapshot.txt](https://github.com/Hekili/hekili/files/6160807/Snapshot.txt)

There is something going on with recommendations of flame shock and frost shock based on the pandemic window. Ive seen it for a while but was finally able to get a decent clip and snap shot.

Issue: Hekili will recommend frost shock till the very last second at which point it quickly swaps over to flame shock. Most of the

[2021-03-18 02:21] Hekili commented on #990
Update to the latest version (new release tonight).  That snapshot shows Windfury Totem, etc. being recommended.  It's not a snapshot showing the behavior you're describing.

[2021-03-18 02:45] Hekili commented on #990
As far as it goes, a recommendation doesn't have any kind of verification beyond the recommendation time.  So "use Frost Shock with Hailstorm" can be the right action at +1.05 and "refresh Flame Shock in Pandemic range" can be right at +1.10.  Rechecking to see if the recommendation would be valid for X amount of time isn't CPU efficient at all.

But with a correct snapshot for each scenario, I ca

[2021-03-18 03:04] Thordros opened #991 "[Arcane Mage] Default settings are confusing for new users"
**1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.**
_I did it!_

**2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.**
_You aren't my dad._

****Describe the Bug/Issue**
A clear and concise description of what the bug is.*

[2021-03-18 03:12] jozo1200 commented on #989
Skyhold lodge on discord has it correct as per the current apl if you are using the signet. Always enrage before recklessness btw

Charge -> Condemn -> Bloodthirst (no Enrage) -> Raging Blow -> Condemn -> Rampage + Recklessness -> Condemn (cancel BS proc) -> Bladestorm -> Condemn (cancel BS)

or if enraged from bloodthirst use:

Charge -> Condemn -> Bloodthirst (Enrage) -> Bladestorm -> Condemn (c

[2021-03-18 14:13] LucianDK commented on #952
I am not certain whats missing from here.

[2021-03-18 15:02] lonesniper52 commented on #989
thats incorrect that pin is outdated. that was the normal rotation with signet up until like 2 weeks ago.

[2021-03-18 15:06] Hekili commented on #989
The difference is that the Fury APL, as written for SimC uses the "sequence" feature that the addon doesn't support.  I can (and will) rewrite that part soon.

[2021-03-18 17:07] filliph opened #994 "Error spam in 9.0.5-1.0.1"
**Describe the Bug/Issue**
Error spam after installing 9.0.5-1.0.1, as Frost Mage.

**To Reproduce**
Steps to reproduce the behavior:
- Go into combat
- Watch your BugGrabber error log fill up

**Expected behavior**
The addon to work without spamming up the error log

**PUT ERROR MESSAGE(S) HERE:**
117x Hekili\Hekili-v9.0.5-1.0.1.lua:205: bad argument #4 to 'format' (string expected, got nil)
[str

[2021-03-18 17:24] Kasrkinn opened #995 "DH rota- Fel Rush always shows up without talent or Immolation Aura Buff"

[2021-03-18 17:55] Kasrkinn commented on #995
Blad Dance has no priority ( with first  blood/chaos theory) on single target.

[2021-03-18 17:57] Ampersammich opened #996 "Game Stuttering When Specced Assassination, not when Outlaw"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When using Hekili for Outlaw, experiencing no issues. Switchin

[2021-03-18 19:31] slothplaysnecro commented on #994
Also getting similar errors when in combat with 3+ targets. The following was generated in Heroic MoTS when fighting the Drust Spiteclaws along with the pack of Drust with the Tirnen Villager.

No errors fired while in combat with Droman. (2 target encounter)

73x Hekili\Hekili-v9.0.5-1.0.1.lua:205: bad argument #4 to 'format' (string expected, got nil)
[string "=[C]"]: ?
[string "@Hekili\Hekili-v

[2021-03-18 19:42] Hekili commented on #994
This may be resolved in v9.0.5-1.0.1a.  If any new Snapshots are generated, I'd appreciate if they could be provided here (via Pastebin).

[2021-03-18 21:24] Hekili commented on #995
Submit a proper ticket following the instructions if you have a question.  Thanks.

[2021-03-18 21:24] #995 closed, assigned to Hekili

[2021-03-19 05:25] Crelam opened #997 "Venthyr Warrior Covenant Ability not excluded for range."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Condemn, the Venthyr Warrior Covenant Ability that replaces Ex

[2021-03-19 05:37] Crelam commented on #997
In a tangentially related issue, the minimum range for Charge seems to be off by about 2 yards.  I'm not sure if that is intentional or not.

[2021-03-19 12:36] Hekili commented on #997
First, friendly reminder that I hate "Exclude Out-of-Range" and every time I do something to support it, I get 1% sadder.

Second, I'll make it use Execute's spell ID for range checking (next beta).

It's manually set to 10 yards, when the requirement is actually 8, to deal with some inconsistency with range via the WoW API.  It also makes it a little forgiving.

[2021-03-19 15:26] toddctc76 opened #998 "FPS Drop as Rogue when in combat"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When entering combat as any Rogue spec, there is a 20 - 40 FPS

[2021-03-19 15:29] toddctc76 commented on #996
I am having the same issue where FPS drops anywhere from 20-40 during combat.  This is happening on all specs of Rogue and only the Rogue for me.  I put in a bug report #998

[2021-03-19 15:43] methodrik commented on #994
Frost mage here as well, using v9.0.5-1.0.1a and glacial fragments legendary (now named Icebringer, if that matters at all).
I was getting spam errors before the bandaid but still getting them after updating.

Weird thing is the snapshot spam stops and everything goes back to normal if I unequip the Icebringer legendary (I picked pants slot) and starts again if I put them on.

pastebin of snapshot

[2021-03-19 16:21] Hekili commented on #998
Roll this into the open rogue ticket.

[2021-03-19 16:21] #998 closed, assigned to Hekili

[2021-03-19 16:23] Hekili commented on #994
Post the error after the update.

[2021-03-19 16:29] geraint425 opened #999 "[Survival Hunter] There are questions about the rotation."
Hello. I decided to try the survival hunter rotation and would like to clarify some questions.
1.When taking the legendary power of the Memory of a Wildfire Cluster, why isn't Shrapnel Bomb often used in the AOE rotation? If I used Shrapnel Bomb myself without the recommendation of the addon, then I had a very large DPS in AOE. And if you strictly follow the rotation, then for some reason we use v

[2021-03-19 16:34] Hekili commented on #999
I think you could have good conversations with the theorycrafters for Survival, in terms of what they present in guides vs. what they build into the SimC APL.  If that leads to changes to the sim profile, I'll match those changes at that time.

[2021-03-19 16:34] #999 closed, assigned to Hekili

[2021-03-19 16:40] Hekili commented on #952
Frost mage snapshot:

Frost mage here as well, using v9.0.5-1.0.1a and glacial fragments legendary (now named Icebringer, if that matters at all).
I was getting spam errors before the bandaid but still getting them after updating.

Weird thing is the snapshot spam stops and everything goes back to normal if I unequip the Icebringer legendary (I picked pants slot) and starts again if I put them on.

[2021-03-19 23:40] p4nchez opened #1000 "pool_resource changes impacting Assassination Rogue"
Rotation seems stuck on v9.0.5-1.0.2-beta1

looks like in some AOE situations i stucks and want to me to use garrote even if it had CD or recommend me some spells like fan of knives and shows it with red cooldown number

only happend on the latest v9.0.5-1.0.2-beta1 so i guess it come from the "76db465 Fix pool_resource,for_next. - Hekili"

switching back to Hekili-v9.0.5-1.0.1a and it work as it

[2021-03-20 03:00] Hekili commented on #1000
You're correct that the pool_resource feature is still not working correctly in the beta release.  I'm working on it again.

[2021-03-20 03:18] PitLordKazzy opened #1001 "Not casting Sunfire or Moonfire after the first three eclipses"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Fresh new install.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

Was told on discord that this wasn't a known

**Describe the Bug/Issu

[2021-03-20 03:23] Hekili commented on #1001
Thanks for formalizing the ticket.  As we just discussed, the dummy's health was approaching zero and had a time-to-die estimate of 5 seconds based on that.  The Balance priority is written to not refresh dots if the fight is about to end, focusing on nukes instead.

[2021-03-20 03:47] Hekili commented on #991
I'll shift am_spam to default to off since that's what the current sim profile does.

It is disabled by default.  But I should probably make movement.distance depend on you actually moving.

[2021-03-20 03:47] #991 closed, assigned to Hekili

[2021-03-20 03:49] Crelam commented on #997
Sorry to Saturate you with Sorrow & Sadness.  I tried this under the current beta (v9.0.5-1.0.2-beta1) and now it acting like I don't have the Condemn ability at all.  The entry in the priority list is in red. The ability does not show in the Abilities listing.

Here is an updated snapshot: https://pastebin.com/RLjiWkM2

[2021-03-20 03:53] Hekili commented on #997
Check the end of the Abilities listing.  It sounds like it's disabled (which moves it to the end of the list due to the text coloring).

[2021-03-20 04:03] element221 commented on #1000
is this pool_resource feature for like pooling enough energy before shiv to spam envenoms so they get buffed from shiv? cause that kind of thing on assasination will be excellent. Also if there is a chance for making something to keep track and tell you to mutilate nearest target while doomblade is equipped so it gets dotted

[2021-03-20 04:16] Crelam commented on #997
I thought the same thing, but no dice.  I don't have any red entries in the abilities list.

Also, the snapshot does not indicate that condemn is `ability disabled ( preference )` it just simply skips them.  Note how it goes from  `22.  bladestorm ( single_target - 4 )` to `23.  siegebreaker ( single_target - 6 ) - talent [ siegebreaker ] missing` skipping over `single_target- 5`.

[2021-03-20 04:39] Hekili commented on #997
May be fixed in upcoming beta build.

[2021-03-20 09:11] kolster9 opened #1002 "Keybinding for toggeling class specific"
Please describe your idea or feature and when it would be useful.
Is it possible to set a keybind to toggle on and off the spec specific toggles.

such as cancel starlord and using starfall in Single Target.

this would be useful for the Council fight, where you want Starfall to be up after frieda dies, and not when phasing niklaus.

[2021-03-20 10:39] cremor opened #1003 "Show a notification when a modified default priority package is updated"
I make small modifications to the default priority package to improve it (the improvement is only for "real" gameplay, not for sims, so the SimulationCraft default APL will not include it). My problem is that I loose thise changes every time the default priority package of Hekili is updated.

I do want those updates, so I don't want to create a copy. Manually applying my changes after the default

[2021-03-20 13:21] Hekili commented on #1002
You can use macros for this.  See `/hek set`.  I understand the value here, but the challenge with keybinds is that most people are close to their mental limit for # of useful, accessible keybinds already.  If people feel like they need to bind all the things, it can feel stressful.

I'll leave this ticket open in case there are more strong feelings about it, but I am not immediately persuaded to

[2021-03-20 13:22] Hekili commented on #1003
I find pop-ups at login to be really intrusive, but I also think people get spammed with a lot of text in their chatframe at login so that wouldn't be helpful either.  I'll think about it.

[2021-03-20 13:38] Hekili commented on #1000
May be resolved with -beta2.  Reopen if you still have issues.

[2021-03-20 13:39] #1001 closed, assigned to Hekili

[2021-03-20 13:39] #994 closed, assigned to Hekili

[2021-03-20 13:41] Hekili commented on #952
I could use more information about what it flickers between -- i.e., if it's flickering, I really need a snapshot of the two scenarios it flickers between.  Then I can investigate whether there's an aura detection issue, a spell impact timing issue, or if it really is just a really narrow window between the two recommendations.

[2021-03-20 14:35] Hekili commented on #997
I believe this is fixed, reopen or comment if you find it missing.

[2021-03-20 14:35] #997 closed, assigned to Hekili

[2021-03-20 14:36] Hekili commented on #996
Assassination should work a little better, more like Outlaw in v9.0.5-1.0.2.  If not, please add new snapshots for any scenario where you find performance to be more impacted.

[2021-03-20 14:36] #996 closed, assigned to Hekili

[2021-03-20 14:37] Hekili commented on #989
I've written a really horrible but functional workaround for this into the addon's Fury APL.  It's available in v9.0.5-1.0.2.

[2021-03-20 14:37] #989 closed, assigned to Hekili

[2021-03-20 14:38] Hekili commented on #990
Closing -- if you submit additional snapshots related to flickering, I can reopen and investigate.

[2021-03-20 14:38] #990 closed, assigned to nobody

[2021-03-20 15:40] leg0nz opened #1004 "Forst Mage AOE rotation not loading properly + FPS drops"
Description:
Since the update to v9.0.5-1.0.1a the addon struggles with recommendations in the Frost Mage AOE rotation. I also noticed significant FPS drops which only occurred after updating to this version or later. I haven't tried v9.0.5-1.0.3-beta1 yet. Everything was working fine before. When rolling back to v9.0.5-1.0 the issue doesn't occur and single target also seems to be fine.

I upload

[2021-03-20 16:37] Hekili commented on #1004
Don't submit a ticket unless you're using the latest.

I don't really need videos; I need snapshots per the ticket instructions.

[2021-03-20 16:41] leg0nz commented on #1004
I tried v9.0.5-1.0.3-beta1 in the meantime as well and the same issue persists.

[2021-03-20 16:46] leg0nz commented on #1004
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.5-1.0.3-beta1
level: 60 (60)
class: MAGE
spec: frost

talents: chain_reaction
    frigid_winds
    lonely_winter
    rune_of_power
    shimmer
    splitting_ice
    thermal_void

pvptalents: none

covenant: venthyr

conduits: flow_of_time = 5
   ice_bite = 5
   icy_propulsion = 5
   tempest_barrier = 5

soulbinds: [nadjia_the_m

[2021-03-20 16:46] Hekili commented on #1004
Post a snapshot when this is happening, using the latest beta, then, please.

[2021-03-20 16:49] Hekili commented on #1004
I'll move that to pastebin when I get back, and take a look.

[2021-03-20 16:57] leg0nz commented on #1004
Thanks, much appreciated =)

[2021-03-20 17:56] p4nchez commented on #1000
seems not fixed :(
and i noticed it looks like happens only if switch to a target that dont have garrote but garrote is on CD because i used it on other target before

testet these versions and all got the same problem
Hekili-v9.0.5-1.0.3-beta1.zip
Hekili-v9.0.5-1.0.2.zip
Hekili-v9.0.5-1.0.2-beta2.zip

snapshots
https://pastebin.com/KKRmuG5e
https://pastebin.com/rYhpLAnt

latest working version is

[2021-03-20 18:48] LucianDK commented on #952
[After2.txt](https://github.com/Hekili/hekili/files/6176205/After2.txt)
[Before.txt](https://github.com/Hekili/hekili/files/6176186/Before.txt)
[After.txt](https://github.com/Hekili/hekili/files/6176187/After.txt)
I think After2 may be the better one, as that is right after the flickering stopped on a new round. After was mid-flickering.

Ok, as far as reproducing it reliably, its under these cond

[2021-03-20 21:24] Hekili commented on #1000
I looked at your snapshots, which show some new information that I added to snapshots.  It's definitely trying to pool resources when it doesn't need to, but I have more insight into what I need to change to sort that out.  Thanks for the updated snaps.

[2021-03-20 22:56] Shizukanashi opened #1005 "Feral Druid - Brutal Slash"
**Describe the Bug/Issue**
Recommends Brutal Slash when having no charges for as long as 7 seconds & being at full energy. I believe the addon is ignoring the fact you have no charges and continues to recommend using it

This issue happens in raid and on training dummies

**To Reproduce**
Attacking a training dummy, follow along with what is recommended you will come across the issue within 15~ se

[2021-03-20 23:25] p4nchez commented on #1000
testet your latest commit "9bd001c Re-re-refix pool_resource." in v9.0.5-1.0.3
seems fixed
thx <3

[2021-03-20 23:28] Hekili commented on #1000
Thanks for confirming!

[2021-03-20 23:28] #1000 closed, assigned to Hekili

[2021-03-21 00:23] Hekili commented on #1005
Thanks, this report helped and should be resolved in 1.0.3.

[2021-03-21 00:23] #1005 closed, assigned to Hekili

[2021-03-21 09:10] mati3464 opened #1007 "Prot Warrior Revenge bug + few suggestions for mitigation"
Remodeling mitigation
In default list there are 2 mitigation spells that are recomeding even with no dmg incoming (Shield block when down and ignore pain.
https://i.imgur.com/T3Vs3Sq.png
These two positions will negate position 14 mitigation, and recommending spells like shield block and ignore pain even if no dmg incoming in example "off tanking ", this is waste rage and should be spend on reveng

[2021-03-21 09:22] mati3464 commented on #1007
Also i checked Revenge problems.

Even if rage is 100 and no dmg incoming after disabling shield block and ignore pain from default list, revenge still not recommending because ignore pain down, in WarriorProtection.lua there is a string for this requirements line 736 "if toggle.defensives and buff.ignore_pain.down then return false, "don't spend on revenge if ignore_pain is down" end"

        22

[2021-03-21 09:35] mati3464 commented on #1007
Conclusion:

Here is edited profile that i suggest  ( some random website because pastebin detect blocked words )
https://justpaste.it/7pzzn

Also, need edit WarriorProtection.lua and remove line 736
"if toggle.defensives and buff.ignore_pain.down then return false, "don't spend on revenge if ignore_pain is down" end"

After all those fixes, there are no rage capping, good mitigation on m+/raids a

[2021-03-21 10:19] cremor commented on #1003
What if the user could choose the notification type? E.g. "none", "text message", "popup".

[2021-03-21 19:57] geraint425 opened #1008 "[Unholy DK]The problem with the epidemic is when new targets are added."
**BEFORE SUBMITTING AN ISSUE:**

1.  v9.0.5-1.0.3

**Describe the Bug/Issue**
During the battle with the Generals boss. When the +4 target is added, the addon suggests using the epidemic in rotation without overlapping the Outbreak targets.

**To Reproduce**
Steps to reproduce the behavior:
I press festering strike-> festering strike-> apocalypse-> combo burst (DT + UB + Covenant ability) and see

[2021-03-21 20:47] LucianDK opened #1009 "Ice lance possibly wrongly placed in recommendation"
Using build: v9.0.5-1.0.3

Ive started to notice that Ice lance is pushed seemingly wrongly to recommendations.  I added screenshots of it, where you can see when its properly highlighted, and when its not highlighted with no procs or buffs up in the right corner.  Only seeing a 3 stack Icicles

I added a snapshot right after it

Edit: Hrm, just strikes me its the Winter's chill debuff that is the

[2021-03-21 22:33] SCP002 opened #1010 "Demonology amount of Wild Imps for Imposion preference getting ignored."
**Description:**
Regardless of the value set in Demonology -> Core -> Preferences -> Wild Imps for Implosion, addon suggest to use Implosion only when you have at least 8 (approximately, may be inaccurate) or more wild imps.

**To reproduce:**
1) Open Hekili options.
2) Set Demonology -> Core -> Preferences -> Wild Imps for Implosion to "3".
3) Close Hekili options.
4) Attack grouped training dumm

[2021-03-22 00:07] Hekili commented on #1010
I'm more inclined to remove the feature, as it's not particular relevant any longer.  The newer priority has the optimal imp thresholds in place.

[2021-03-22 00:09] Hekili commented on #1009
The addon simply respects the built-in highlighting of the ability.  Fingers of Frost highlights Ice Lance on your bar; Winter's Grasp on your target does not.

[2021-03-22 00:09] #1009 closed, assigned to Hekili

[2021-03-22 00:11] Hekili commented on #1008
The current Outbreak behavior is consistent with the sim behavior.  I understand that you'd prefer to Outbreak before Epidemic.  Can you do that in a sim and prove it works better than the default?

[2021-03-22 00:19] Hekili commented on #1008
I did my own quick test in a HecticAddCleave sim and it seems pretty straightforward:

![image](https://user-images.githubusercontent.com/9438134/111926293-a8f5e180-8a82-11eb-9f2a-f03fb79be90d.png)

I'll forward my sim to the SimC devs as well.

[2021-03-22 01:36] Hekili commented on #1008
My solution is in the new beta.

[2021-03-22 01:36] #1008 closed, assigned to Hekili

[2021-03-22 01:38] Hekili commented on #1007
I may or may not go this route.  It's a pretty standard functionality for the addon to reserve resources for mitigation, since you have to be able to deal with stuff reactively when needed.  Spending down Rage with Revenge puts you at risk of not being able to mitigate.  Maybe I'll make a spec option.  TBD.

[2021-03-22 03:16] #1010 closed, assigned to Hekili

[2021-03-22 18:20] HoboJingles opened #1011 "Balance Opener"
Hi,

Currently the best opener for Balance - BOTA - Night Fae with Nature’s Balance would be:

Wrath, Wrath, Surge, Surge, Dots then Celestial, Trinkets, Convoke.

Currently in the rotation when cooldowns are enabled during single target it is using the cooldowns before the surges and dots. It’s basically using them after the 2x Wrath.

Is there a possibility that this can be fixed?

I found this

[2021-03-22 18:25] Hekili commented on #1011
Yes, other priorities could be written.  Are you observing a difference between the addon and your sims or a difference between the addon and a guide?  If it's the latter, the solution is for the sim to be built such that it's consistent with the guide (if that is optimal).  When that's done, the addon will be updated to match.

If the addon isn't replicating sim behavior, then a ticket with a sna

[2021-03-22 18:25] #1011 closed, assigned to nobody

[2021-03-22 18:29] Hekili commented on #1004
Try going to /hekili > Priorities > Frost Mage > Action Lists, select `aoe`, then in the second-to-last entry (`wait`), uncheck Enabled.

[2021-03-22 21:10] Rogue1337 opened #1012 "Balance Druid Performance Issues"
Hey, as stated in Discord i have perfomance issues when playing Balance and using Hekili, other classes run fine. Im posting 2 Snapshots where it happend in a dungeon and the performance dropped drastically. Seems like it happends more frequently when using Starfall.

Character Data:

build: v9.0.5-1.0.3
level: 54 (54)
class: DRUID
spec: balancea

talents: mass_entanglement
    natures_balance

[2021-03-22 22:33] leg0nz commented on #1004
That did the trick. AOE working again on 9.0.5-1.0.3
Thank you very much <3

[2021-03-22 23:53] Hekili commented on #1012
1.0.4-beta2 may help address this further.  Let me know if you notice a difference.

[2021-03-23 02:14] Rogue1337 commented on #1012
Will try it out asap! Also reducing the amount of spells recommended from 4 to 3 did help a bit! Thank you again

[2021-03-23 04:43] Zardilann opened #1013 "Balance Druid - Starfall on single target"
Starfall is being suggested for single target when talent "Stellar Drift" is selected and option "Use Starfall in Single-Target with Stellar Drift" is not selected. When selecting another talent, Starfall is not suggested.

I haven't been able to find any recommendations for using Starfall on single target from any other sources.

Issue Report: https://pastebin.com/pZGsRfg4

Snapshot: https://past

[2021-03-23 12:22] Hekili commented on #1013
Yeah, that's a natural part of the latest priorities whereas Stellar Drift Starfall was previously an addon-specific enhancement.

[2021-03-23 12:22] JustinHartline commented on #1013
From the Balance APL:

#### Use Starfall with Stellar Drift and no Starlord, when no Starfall is up, you are in Lunar Eclipse or to proc Pulsar when above 90 AsP or adpative swarm has 8+secs remaining or is in flight
actions.st+=/starfall,if=talent.stellar_drift.enabled&!talent.starlord.enabled&buff.starfall.refreshable&(buff.eclipse_lunar.remains>6&eclipse.in_lunar&buff.primordial_arcanic_pulsar.

[2021-03-23 12:29] Maverick013 opened #1014 "LUA Error."
**Describe the Bug/Issue**
LUA Error When in combat, hekili does not show next combat option. occuring since 1.0.3. rolling back to 1.0.1 works ok

**To Reproduce**
Steps to reproduce the behavior:
entering combat, will fail mid battle, on differnt keypress

**WHEN SUBMITTING AN ISSUE:**

Please provide the following information.  Leaving it out may result in your ticket being ignored (because I w

[2021-03-23 17:39] Zardilann commented on #1013
Thanks for the replies. If it's part of the base rotation, should the option to use it in the rotation then be removed?

[2021-03-23 17:44] Hekili commented on #1013
Probably, unless I make it an internal condition that overrides that entry, too.

[2021-03-23 18:25] Hekili commented on #1014
Go ahead and update, should be resolved.

[2021-03-23 18:25] #1014 closed, assigned to Hekili

[2021-03-23 18:26] Hekili commented on #1012
Let me know if you experience further issues.

[2021-03-23 18:26] #1012 closed, assigned to Hekili

[2021-03-23 18:26] Hekili commented on #1004
This is updated in the default priority now.

[2021-03-23 18:26] #1004 closed, assigned to Hekili

[2021-03-24 01:27] Nolenkw1 opened #1015 "Function Key display"
key binds does not show function key name (f1, f2, etc..)
build: v9.0.5-1.0.4
level: 49 (49)
class: DEMONHUNTER
spec: vengeance

talents: abyssal_strike
    demonic
    fallout
    fracture
    sigil_of_chains
    spirit_bomb

pvptalents: none

covenant: none

conduits: none

soulbinds: []

sets: none

gear: band_of_malornes_chosen = 1
    darksaber_leather_belt = 1
    drogstitch_boots = 1
    dr

[2021-03-24 01:33] Hekili commented on #1015
This is a case where a screenshot would be useful.

[2021-03-24 19:07] DylanHand1027 opened #1018 "Lightning Bolt suggested over Chain Lightning for 2 targets for Elemental Shaman"
**Describe the Bug/Issue**
Lightning Bolt suggested over Chain Lightning for exactly 2 targets.

**To Reproduce**

Follow the recommended queue for AOE Display until Lightning Bolt is suggested.
Though I'm not sure if they may be causing the issue, I've included some changes I made to the AOE Display targeting below under screenshots.

**Expected behavior**
Chain Lightning should be recommended ov

[2021-03-24 19:20] DylanHand1027 commented on #1018
Snapshot

Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.5-1.0
level: 60 (60)
class: SHAMAN
spec: elemental

talents: echo_of_the_elements
    elemental_blast
    icefury
    master_of_the_elements
    natures_guardian
    spirit_wolf
    stormkeeper

pvptalents: none

covenant: necrolord

conduits: call_of_flame = 6
   refreshing_waters = 7
   thunderous_paws = 6
   vital_

[2021-03-24 20:45] ravisangha opened #1019 "Unable to find/disable Sinful Aspirants Emblem in 'Gear and Trinkets'"
Hello, I do not believe the Sinful Aspirants Emblem (the PvP HP trinket) is in the list of 'Gear and Trinkets'. Was hoping to disable it as it shows up by default in the cooldowns profile. Any help would be appreciated. Thanks : )

[2021-03-24 20:47] Hekili commented on #1019
All the Emblems are shared under the Gladiator's Emblem.

[2021-03-24 20:47] #1019 closed, assigned to nobody

[2021-03-24 21:04] ravisangha commented on #1019
Hi, I had looked through what felt like the entirety of the list and couldn't find Gladiator's Emblem or Aspirant's Emblem. The only two Sinful Gladiators badge of Ferocity and Medallion. I have another look through the list however. Thanks regardless for replying

[2021-03-24 22:21] Ajszmen opened #1020 "pvp talent! on warrior!"
hey! Did someone build the spell? Sharpen Blade. this warrior pvp talent! I see other class got all pvp talents! Please! Thank You!

[2021-03-24 22:53] Rogue1337 opened #1021 "Balance Druid Performance Drops"
Hey, me again, after updating to the newest Beta version i did some dungeon and sadly i didnt notice any change to performance drops at all, seems like even im just riding past some mobs and im infight with them the performance starts to drop, i got some Snapshots from an Mists Key i did.

build: v9.0.5-1.0.4
level: 60 (60)
class: DRUID
spec: balance

talents: mass_entanglement
    natures_balance

[2021-03-24 23:25] Nolenkw1 commented on #1015
Hope this helps, but i have modified my UI with several add-ons.

[2021-03-25 01:21] ravisangha commented on #1019
Update: Found it under Notorious Gladiator Emblem. Thanks for the help, take care and great job on the fantastic addon. Cheers!

[2021-03-25 04:43] xfloggingkylex opened #1022 "Volley missing in Hunter rotation"
Volley does not show up in either single target or AoE in the default action lists for 9.0.5-1.0.4.  Not sure if that is intentional but I couldn't get it to trigger and I find it hard to believe there are no scenarios you would want it.

build: v9.0.5-1.0.4
level: 60 (60)
class: HUNTER
spec: marksmanship

talents: double_tap
    explosive_shot
    master_marksman
    natural_mending
    posthaste

[2021-03-25 05:59] Misclicker commented on #636
Hi Hekili,

Thanks for the addon, Just curious, I am also facing this issue where I am wanting to remove Blade Dance from my rotation completely and I have also disabled it in Hekili's settings, but it still recommends me to cast it?

What can I do to remove this?

Thanks

[2021-03-25 12:52] Hekili commented on #1022
Please follow the ticket instructions.  If you have an issue with recommendations, you need to post a snapshot (*see instructions*) when it's happening.

Volley does appear in the priority for Marksmanship.

[2021-03-25 12:52] #1022 closed, assigned to Hekili

[2021-03-25 12:52] Hekili commented on #1015
There is no displayed image in your comment.

[2021-03-25 12:56] Hekili commented on #1021
You may want to use toggles to swap between Auto/AOE instead of using Dual mode.  I don't see anything especially egregious in terms of time spent generating recommendations, and I'm not aware of anything that would cause excessive rechecking of recommendations.

In the same way that 4 icons costs more CPU than 2 icons, 2 displays with multiple recommendations costs more CPU time than 1.  I'll con

[2021-03-25 12:56] #1021 closed, assigned to Hekili

[2021-03-25 13:04] xfloggingkylex commented on #1022
My apologise, first time submitting any kind of bug report.  Below is the snapshot just sitting in town where Volley is normally the 4th recommended use, but since 1.0.4 never comes up for my setup.

https://pastebin.com/BDAxYBve

[2021-03-25 13:08] Hekili commented on #1020
The ability will be supported in the next release; it will NOT be in the default priorities so it is only useful if you are writing custom priorities.

[2021-03-25 13:08] #1020 closed, assigned to Hekili

[2021-03-25 13:13] Hekili commented on #1022
[code]

The conditions for Volley have changed in single-target (same with your sims).

It requires one of:
- Resonating Arrow is up
- You're not Kyrian
- Lethal Shots is talented

And one of:
- Precise Shots is down
- **Chimaera Shot is not talented**
- **There is only 1 enemy**

You would meet the latter criteria but not the former.

[2021-03-25 13:17] #1013 closed, assigned to Hekili

[2021-03-25 13:25] xfloggingkylex opened #1025 "Volley not being recommended"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Volley never gets suggested in Single Target or AoE mode.  Pri

[2021-03-25 13:28] xfloggingkylex commented on #1025
Sorry for the previous ticket, I hope this gives you the info needed.  If there is anything else you need please let me know, I can grab a snapshot of 1.0.3 if that helps to see what is preventing Volley from actually being shown.

[2021-03-25 13:32] xfloggingkylex commented on #1025
Crap and I just realized you replied in the other closed ticket.

Interesting, so for Kyrian hunters, volley is a DPS loss?

If it only needs 1 from each group, I am meeting them so I am not sure why.  Idling in town I clearly have Resonating Arrow available, and do not have precise shots on (haven't attacked recently).  It doesn't matter if its single target or AoE, nothing I do, no skills I use

[2021-03-25 13:49] xfloggingkylex commented on #1025
Sorry man, new to github and accidentally closed this.  I ran a raidbot in both 1 boss and 5 boss mode and it shows volley as being used with every resonating arrow which is how Hekili recommended it prior to 1.0.4.

1 boss 5 min: https://www.raidbots.com/simbot/report/p1xcNwaqsbQxBDgWjM8z7k

5 boss 5 min: https://www.raidbots.com/simbot/report/nJZ6f87xr7CYnARmdknTkR

[2021-03-25 14:09] Nolenkw1 commented on #1015
Not sure why you don’t see the image, does your mail server strip attachments?  Sending again.

[cid:00E4E90F-EB8D-4F61-8C5E-194D31A1E240]

  Kenneth W. Nolen

Sent from my iPad

On Mar 25, 2021, at 7:53 AM, Hekili ***@***.***> wrote:

﻿

There is no displayed image in your comment.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://g

[2021-03-25 14:11] Nolenkw1 commented on #1015
Just thought, this is a .png file, don’t know if you computer knows it.

  Kenneth W. Nolen

Sent from my iPad

On Mar 25, 2021, at 7:53 AM, Hekili ***@***.***> wrote:

﻿

There is no displayed image in your comment.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Hekili/hekili/issues/1015#issuecomment-806687508>, or uns

[2021-03-25 14:20] Hekili commented on #1025
You're not interpreting what I said correctly.

No.  If you're not Kyrian you're probably not concerned with aligning with Resonating Arrow, given that you don't have that ability.

Not "available" -- Resonating Arrow would need to be *applied*.  *Or* Lethal Shots could be talented.  Or you could not just be Kyrian.  *Plus* one of the second three conditions would need to be met (i.e., Chimaera no

[2021-03-25 14:21] Hekili commented on #1015
It's not my email system, it's GitHub.  If you follow the link back to the ticket, you can paste your screenshot.

[2021-03-25 14:31] xfloggingkylex commented on #1025
Here you go, single target priority set, cooldowns off (for simplicity, doesn't impact the recommendations shown), and resonating arrow used, still no volley.

https://pastebin.com/AiTfUEmp

I just took the talent for Lethal Shots and it started recommending Volley in both single target and AoE priorities.  Is there a chance that instead of looking for 1 of those 3 first items it is making lethal

[2021-03-25 14:40] Hekili commented on #1025
That snapshot helps.  Resonating Arrow is detected as debuff on the target rather than as a buff (which is how SimC manages it).  I'll make an adjustment to account for the issue.

[2021-03-25 14:51] Hekili commented on #1025
Try the new beta and see if it works better for you.

[2021-03-25 15:00] xfloggingkylex commented on #1025
Much better.  Volley disappears from the recommendation for the  second that Resonating Arrow is in flight which is slightly confusing if you're strictly following the primary recommendation, but before you use Resonating Arrow Volley is listed immediately after, and when Resonating Arrow lands Volley is the #1 recommendation again.  Since you explained the logic used I understand why, just someth

[2021-03-25 15:13] Hekili commented on #1025
Tracking Resonating Arrow as a projectile would require more processing, so I'd prefer to avoid it.  Try -beta2 and see if that solution works more smoothly for you.

[2021-03-25 15:22] xfloggingkylex commented on #1025
Will do as soon as it becomes available.  Again, really appreciate it.

I'm not sure what changed between 1.0.3 and now because that issue didn't exist before, Volley was always recommended after RA even while it was in flight.  I assume the change in logic helps cover another scenario I am missing (like RA missing the target perhaps?) so I trust your judgement on what works best, just trying to p

[2021-03-25 15:24] Hekili commented on #1025
The conditions changed and it exposed a difference between the addon and SimC.  It's good that you reported.

[2021-03-25 15:26] xfloggingkylex commented on #1025
beta2 works fantastic.  Right back to how it has been in the past with Volley always recommended after RA.  Thanks!

[2021-03-25 16:03] Hekili commented on #1025
Thanks!

[2021-03-25 16:03] #1025 closed, assigned to Hekili

[2021-03-25 16:15] Nolenkw1 commented on #1015
<img width="1264" alt="image" src="https://user-images.githubusercontent.com/77912978/112506105-6fabc300-8d5b-11eb-96d3-2ec417aa839a.png">

[2021-03-25 16:17] Nolenkw1 commented on #1015
Ok, sorry, didn’t realize I was locked into using the online mail.  Let me know if I can do more to help.

  Kenneth W. Nolen

Sent from my iPad

On Mar 25, 2021, at 9:21 AM, Hekili ***@***.***> wrote:

﻿

It's not my email system, it's GitHub. If you follow the link back to the ticket, you can paste your screenshot.

—
You are receiving this because you authored the thread.
Reply to this email di

[2021-03-25 16:18] Hekili commented on #1015
This is likely to have more to do with how you've arranged your bars (the order of them) than anything else.  I'm not sure what bar mod you're using, but the easiest solution is to manually set those bindings in /hekili > Abilities.

[2021-03-25 16:18] #1015 closed, assigned to nobody

[2021-03-26 13:35] Smudgiee opened #1026 "Start After Global Cooldown behaviour"
Latest beta version of Hekili running.

**Describe the Bug/Issue**
Basically without "Start After Global Cooldown" (Which I believe is now set to default unticked. Where as before it was ticked) being ticked the rotation for example on Balance isn't correctly using cooldowns, as shown in the snapshots. It would be suggesting CA for example after ruby or suggesting CA right after the first Starsurg

[2021-03-26 17:15] Smudgiee opened #1027 "Wrath/Starfire issue (not sure if bug?)"
Latest version of Hekili

**Describe the Bug/Issue**
Wrath and Starfire, both have numbers I guess? So like 2 casts of wrath to go into Eclipse.
I'm having a issue.  Basically I follow Hekili with opening with double Wrath, but lets say I cast one Wrath, the number is 1. And I move for whatever reason, it then suggests Starfire, even though Wrath has 1 cast to go into next Eclipse.

**To Reproduce

[2021-03-26 17:42] Williamn88 opened #1028 "Hunter trueshot recommendation is wrong in newest version"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Newest version

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Trueshot is being recommended at the wrong tim

[2021-03-26 19:31] Hekili commented on #1027
The opener relies on you (1) being at max range (2) casting before combat starts.  After combat starts, the in-combat priority takes over.

[2021-03-26 19:31] #1027 closed, assigned to Hekili

[2021-03-28 05:04] geraint425 opened #1029 "[Surv hunter] Fast Rotation Shrapnel Bomb."
**BEFORE SUBMITTING AN ISSUE:**

1.  9.0.5-1.0.5-beta2

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
The rotation is very quickly updated, and the abilities quickly change when you need to use the Shrapnel Bomb. And not only with this ability.

**To Reproduce**
Steps to reproduce the behavior:
- Go to '..

[2021-03-28 09:27] brucek2 opened #1030 "Frost mage: add range check for Frost Nova (like you already do for Arcane Explosion)"
Frost Nova is similar to Arcane Explosion in that while the game engine does not enforce a range requirement for it (or even require that there be a targeted enemy at all), the spell is only useful if there is an enemy within the its area of effect.

I noticed that arcane mage already includes this line for arcane_explosion:
[code]

I've been playing with a manually inserted similar line for Frost

[2021-03-30 07:18] Williamn88 commented on #1028
Just an update. I reset my profile and it was looking normal again.
Thought that was strange as I had not changed anything afaik. So after some digging I could see it was the "start after global cooldown" check box that affected it. When it was unticked trueshot jumped up to the second place and if ticked it was looking normal.

Thought I did try to change that before without seeing anything chang

[2021-03-30 12:29] Hekili commented on #1029
Sorry, I won't be able to do anything for this ticket.

[2021-03-30 12:29] #1029 closed, assigned to Hekili

[2021-03-30 14:00] geraint425 commented on #1029
I looked there Thyminde was updating APL SV can you make a correction? and this will solve the given problem?

[2021-03-30 19:55] CoreyTrombley commented on #442
@lorientalas any chance you have an update for `9.0.5`?

edit:
I noticed that `bestow faith` was missing from the actions so I atempted to add it. I do not know of a way to set a timeout to handle the delay of the holy power gain, but here is the action I created.

Register Aura
[code]

Register Ability
[code]

[2021-03-31 10:56] yoheines opened #1032 "Elemental Shaman rotation bug report / request for clarification"
While learning the Elemental shaman spec, I noticed some behaviour that I can't quite explain:

Character data: https://pastebin.com/8HM3PFwZ

1. Hekili will recommend two Lava Bursts in a row with the "Master of the Elements" talent: https://pastebin.com/Vna6y1f8. Expected behaviour: With Master of the Elements up, prioritize a nature or frost spell.

2. While Lava Burst is casting as an opener,

[2021-03-31 11:33] yoheines commented on #1032
I found out how to configure 2) and 3) - by disabling the respective lines in the action list. I now understand why it recommends Flame Shock even when it's not close to expiring - it actually does want me to swap targets. The problem is that when this icon shows up, it's too late, and I don't want to waste several 100 ms to switch to a different target. Also, in M+, spreading Flame Shock on multi

[2021-03-31 12:01] yoheines commented on #1018
I tried changing the Single Target APL like this, but it doesn't seem to work:
![image](https://user-images.githubusercontent.com/76136578/113141041-7ccc2480-9229-11eb-86ec-868caade5163.png)

[2021-03-31 12:59] yoheines commented on #1032
I "fixed" 1) by removing the stormkeeper conditional in this line of the APL:

actions.single_target+=/lightning_bolt,if=(buff.stormkeeper.remains<1.1*gcd*buff.stormkeeper.stack|buff.stormkeeper.up&buff.master_of_the_elements.up)

I guess this then turns into a question why the official SimC APL wants to prioritize Lightning Bolt with Master of the Elements ONLY when I have Stormkeeper stacks.

Up

[2021-03-31 14:01] element221 opened #1033 "assasination rogue flagellation/vendetta"
the addon seems to work pretty well, what im requesting is that you can set a toggle option so it desyncs flagellation from vendetta so you dont lose casts over the time of a fight, in some situations casting flagellation on cooldown is better than syncing with vendetta,

keep it up!

[2021-03-31 17:15] Smudgiee opened #1034 "Havoc DH - Darkglare Boon double Eye Beaming Fury"
Latest version of Hekili is running

**Describe the Bug/Issue**
It's using double Eye Beam, instead of using two Annihilations in-between the reset of the Eye Beam. As running Blind Fury, it regens Fury as you're channelling Eye Beam. So basically it's just sitting at 120 Fury the entire time instead of spending Fury on for example Annihilation between the casts.

**To Reproduce**
Equip legendary

[2021-03-31 17:25] Smudgiee commented on #1034
I just tried the updated simc version. I know you're not supposed import as it can mess. But I just wanted to test and the newest simc version of Havoc seems to have been fixed.

[2021-03-31 17:31] Smudgiee commented on #1034
Another update. Doesn't seem to be working in the aoe part of the rotation. But I will wait until Hekili is updated with the latest simc changes before posting that?

[2021-03-31 22:57] ijoihlhnn commented on #1034
havoc dh is fine, the legendary is just pure rng nothing else.

[2021-04-01 00:22] Smudgiee commented on #1034
You misread my post or I completely didn't explain properly.
That has nothing to do with what I was trying to explain.

[2021-04-02 13:20] Hekili commented on #46
Closing this; will track in Projects if/when it moves forward.

[2021-04-02 13:23] Hekili commented on #47
I'm closing this ticket since it's remained idle and doesn't fit in current priorities.  It would become a Project if/when it is pursued.

[2021-04-02 13:23] #47 closed

[2021-04-02 13:24] Hekili commented on #263
Closing this ticket, since the answer isn't special to this ticket.  If/when there's time/capacity to add support for healer specs (to DPS), I'll do it.  It won't be considered a main function of the addon.

[2021-04-02 13:24] #263 closed

[2021-04-02 13:24] Hekili commented on #456
Closing; never received Bindpad config files.

[2021-04-02 13:24] #456 closed, assigned to nobody

[2021-04-02 13:26] Hekili commented on #492
More thoughts on this ticket:  The feature could be a "special targets" identifier that allows special behavior based on what enemy (NPC ID) you're targeting.  For example, if you're targeting a Cyst, I could force `active_enemies` to be 1 so that you only get single-target recommendations.

It'd need to be configurable and it's starting to get into bossmod territory, so it'd require some caution.

[2021-04-03 11:16] Myro2 opened #1035 "Drop fps in combat"
Good day.

 I have a mensi problem with adon during combat. when combat or fait in M+ drops fps and it start mowing. Is there anything to look at...? drop fps is from 80fps to 40fps. You can't play with it then

[2021-04-03 11:24] MrSmurfy commented on #1035
Play around with the performance settings;
https://i.imgur.com/W6c1Pyk.png

[2021-04-03 11:27] Smudgiee commented on #1035
Also try changing your display icons to maybe 2 or 1 if you can play that way. I think that is the biggest impact. I use 1 display and I dont think I ever notice lag, apart from the lag I would already have because bad engine and cpu.
But if you're using the Fire Mage then sadly you will get lag no matter what due tohow complex it is with Hekili.

[2021-04-03 11:30] Myro2 commented on #1035
I'm sorry I tried, and it's not working. driv didn't do it, but after the last 2 updates of the adon it did

[2021-04-03 11:32] Myro2 commented on #1035
I only play 2 windows ato on single and aoe. otherwise cpu is Ryzen 5 2600 and gpu gtx 1070

[2021-04-03 11:33] Smudgiee commented on #1035
You mean it didn't happen before? before the last two updates that were pushed? If that is the case maybe fill out the ticket correctly through every step with snapshots and information so Hekili will even bother with this ticket

[2021-04-03 11:34] Myro2 commented on #1035
yes it's so it's only after the update and I've been looking at it

[2021-04-03 12:13] Hekili commented on #1035
I'm going to close this ticket for not following ticket instructions.  If you want to submit a ticket, please follow the directions so I have at least a little bit of the information I'd need to help investigate your issue.  Thanks.

[2021-04-03 12:13] #1035 closed, assigned to Hekili

[2021-04-03 13:40] Hekili commented on #496
This is now in testing and will show up in the next build.

[2021-04-03 13:40] #496 closed, assigned to nobody

[2021-04-03 13:41] Hekili commented on #603
There's no information available to me via the API to do anything different with Survival range checking.

[2021-04-03 13:41] #603 closed, assigned to Hekili

[2021-04-03 13:44] Hekili commented on #741
I'm adding a setting for this.

[2021-04-03 13:44] #741 closed, assigned to nobody

[2021-04-03 14:21] Hekili commented on #810
If this is still a significant issue, it can continue in the other open Tar Trap / Flare issue.

[2021-04-03 14:21] #810 closed, assigned to Hekili

[2021-04-03 14:23] Hekili commented on #879
No, you're going to have to do the work to manage positioning.  Putting a range-filter on SotR based on your target is a bad idea as you could be tanking multiple.  If you're a tank and you're out of range, you should get in range.

[2021-04-03 14:23] #879 closed, assigned to Hekili

[2021-04-03 14:29] Hekili commented on #887
This will go in the next build.

[2021-04-03 14:29] #887 closed, assigned to Hekili

[2021-04-03 14:30] Hekili commented on #891
`pool_resource` should be functional now (when used with `for_next`).

[2021-04-03 14:30] #891 closed, assigned to Hekili

[2021-04-03 14:31] Hekili commented on #952
The piece you seem concerned about is likely a function of travel times for spells.  I don't have a solution for this, and it's been hard for me to track your explanation.  I'm going to close this ticket.

[2021-04-03 14:31] #952 closed, assigned to Hekili

[2021-04-03 14:32] Hekili commented on #962
If there are Unholy DK auto-snapshots in the newer releases, you can open a new ticket with those snapshots.  I don't think there is anything left outstanding at this point in time.

[2021-04-03 14:32] #962 closed, assigned to Hekili

[2021-04-03 14:32] Hekili commented on #971
Thanks!

[2021-04-03 14:32] #971 closed, assigned to Hekili

[2021-04-03 14:33] Hekili commented on #983
This should have been resolved when the logic for Execution Sentence, Final Reckoning, and Seraphim were relaxed.  If it's still an issue, please open a new ticket with updated snapshots.

[2021-04-03 14:33] #983 closed, assigned to Hekili

[2021-04-03 14:33] #1002 closed, assigned to Hekili

[2021-04-03 14:34] Hekili commented on #985
Nah, there's no optimizing around this.  I don't have anyway to know if/when you might want the utility of Rocket Jump and Rocket Barrage is probably a DPS loss in most cases (like how Bag of Tricks can be a DPS loss for Vulpera).

[2021-04-03 14:34] #985 closed, assigned to Hekili

[2021-04-03 14:35] Hekili commented on #1003
I'm warming up to this idea, but still not sold.  I am so annoyed when half my addons pop-up telling me stuff when I update and log in.

[2021-04-03 14:39] Hekili commented on #1018
This is correct behavior, according to sims and Storm, Earth, and Lava.  CL isn't used until 3+ targets.

![image](https://user-images.githubusercontent.com/9438134/113481668-c6ef1900-9468-11eb-863a-a9b576154076.png)

http://stormearthandlava.com/guide/general/priority_list.html

[2021-04-03 14:48] Hekili commented on #1018
Oop, I'm talking to the SEL and Ele friends, and it looks like this is an oversight.  So the priority will be updated soon.

[2021-04-03 14:48] #1018 closed, assigned to nobody

[2021-04-03 14:53] Hekili commented on #1026
Yeah, I'll revert this, though it's confusing because SimC definitely has different behavior in terms of waiting for the GCD between specs.

[2021-04-03 14:53] #1026 closed, assigned to Hekili

[2021-04-03 14:54] Hekili commented on #1028
Start after Global Cooldown is going to be checked again by default.

[2021-04-03 14:54] #1028 closed, assigned to Hekili

[2021-04-03 15:00] Hekili commented on #1032
For 1, compare to sim behavior.  I didn't see an issue there.

For 2, there is a *precombat* entry for Lava Burst.  And then, you're not in combat until something hits, so you could potentially LvB twice there.  I'll block it but it's not something that matters at all.  The recommendation changing is purely a function of the LvB impacting (travel time) or you/your party otherwise starting combat.

[2021-04-03 15:00] #1032 closed, assigned to Hekili

[2021-04-03 15:01] Hekili commented on #1034
Yes, this will be resolved when the next batch of priority updates are uploaded.  Soon.

[2021-04-03 15:01] #1034 closed, assigned to Hekili

[2021-04-03 15:04] Hekili commented on #1033
I can allow it to desync, if Vendetta is on a long CD (or toggled off).  You might regret it, though!

[2021-04-03 15:04] #1033 closed, assigned to Hekili

[2021-04-03 20:07] wow1989 opened #1036 "Boomkin cooldowns"
Hekili not recommending convoke or celestial alignment despite both being toggled on

[2021-04-03 20:24] jacii9467 commented on #1036
Snapshot of issue

https://pastebin.com/geknR5z7

[2021-04-03 22:01] Hairydabs opened #1037 "Warlocks bug Rotation"
**BEFORE SUBMITTING AN ISSUE:**

1. Yes I am currently on Hekili-v9.0.5-1.0.5.zip

 2.  From what I've seen so far, no one has had this issue. I did ask my guild member if he was having the same issue and he was but his addon doesn't even show the rotation bar

**Describe the Bug/Issue**
I'm not too sure whats going on with this update but Hekili has been recommending me to use corruption instead

[2021-04-04 01:14] FullSol commented on #1037
I have the same issue. It's not just malefic rapture it also does not show drain soul. I've uninstalled the addon and reinstalled. I also reset my profile.

[2021-04-04 01:19] Hekili commented on #1037
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2021-04-04 01:31] FullSol commented on #1037
https://pastebin.com/qdG9yhdZ

[2021-04-04 01:58] Hairydabs commented on #1037
https://pastebin.com/XUWXYh0v

sorry kind of new to this. not too sure on how long i need to do the rotation for but hopefully this work

[2021-04-04 02:24] Demosus1143 commented on #1037
Same issue, corruption shows repeatedly even when it's applied and not ready to drop off

https://pastebin.com/vER8XTem

[2021-04-04 02:25] F074 commented on #1037
I have the same problem.

[2021-04-04 02:38] Hekili commented on #1036
Please test the 1.0.6-beta1 and let me know if it is resolved for you.

[2021-04-04 02:38] Hekili commented on #1037
Please try the new beta build and let me know if you still have issues.

[2021-04-04 02:41] Hairydabs commented on #1037
So I switched it to beta and keeps happening. corruption shows still

https://pastebin.com/nMk0HZkZ

[2021-04-04 02:57] FullSol commented on #1037
Working for me now.

[2021-04-04 02:58] Smudgiee commented on #1037
Can confirm, fixed

[2021-04-04 03:07] Hairydabs commented on #1037
can confirm as well. thanks boss!

[2021-04-04 04:33] F074 opened #1038 "New malefic rapture logic."
I just installed the latest beta fixing the corruption bug for aff lock, but I noticed a change with malefic rapture. Specifically if you attempt to hold PS and Soul rot, the rotation will no longer pool shards and just waste them. I'm guessing the new logic just assumes it's pointless to pool if PS/SR don't exist if I disable them through toggles.

The reason I disabled them before the beta was t

[2021-04-04 08:43] cremor commented on #1003
How about one of the following possibilities?
- A new setting like I mentioned in my previous comment. The default could be "none"/"disabled". So it would be an explicit opt-in by the user.
- No new setting, but the popup window contains a "never show this again" checkbox/button.

[2021-04-04 10:25] Smudgiee commented on #1038
I think it's entry 36 of default that changed, that causes this. You can just edit it back to how it was, which is what I've done. Or you could technically just add rupture to a toggle also and just pressing it when u want without addon recommending it until turned back on with PS etc

[2021-04-04 10:44] LucianDK opened #1039 "BUG: Annihilation outside Demonic/Metamorphosis"
build: v9.0.5-1.0.5
BUG: Annihilation outside Demonic/Metamorphosis

Playing a Havoc Demon Hunter, Ive frequently noticed that Hekili will show Annihilation on the queue list without actually being in Demon Form. Additionally Annihilation may show brightly as if having enough fury for it, but actually not having it.
I paused the addon right after getting the issue as described.
[Snap1.txt](https:/

[2021-04-04 12:17] LucianDK commented on #1039
The issue appears to be with the Demonic talent.   Annihilation always appearing when Eye Beam is off cd, but not used yet to trigger Demonic while still not in Demon form that would give you access to Annihilation. And always lit up wether or not you actually have enough fury to use Eye Beam/Annihilation.

[2021-04-04 12:23] F074 commented on #1038
This here?  How do I tweak it? Not sure how to find the old action list.

# Burn soul shards if fight is almost over
actions+=/malefic_rapture,if=boss&fight_remains<execute_time*soul_shard&dot.unstable_affliction.ticking

[2021-04-04 12:25] LucianDK commented on #1039
Bah, accidentally closed it.

[2021-04-04 12:27] Smudgiee commented on #1038
No that's not the one.
I'll wait until Hekili responds and see what he says before giving any information, don't want people to make edits and mess stuff up

[2021-04-04 12:42] F074 commented on #1038
oh you meant this right? either way I have no idea how to change it.

talent.phantom_singularity.enabled & ( dot.phantom_singularity.ticking | cooldown.phantom_singularity.remains > 25 | fight_remains < cooldown.phantom_singularity.remains )

[2021-04-04 12:45] Hekili commented on #1038
Smudgiee's comments are basically right.

If you're wanting to be able to toggle MR off to save Shards, you could add it to whichever toggle you'd like it to be on (Cooldowns, I assume).

When PS is toggled off, it's treated as though it's fully on cooldown.  The newer desynchronizing logic for that entry is intentional, but I've been making efforts lately to adjust priorities when they have "burn

[2021-04-04 12:47] #1038 closed, assigned to Hekili

[2021-04-04 12:50] Hekili commented on #1039
I think you are profoundly misinterpreting what the display is showing you.  It's giving you the next three recommendations, and each is contingent on the previous.

Use Demon's Bite (filler, Fury generation), then Eye Beam (which will trigger Metamorphosis with Demonic), at which point Annihilation is ready to go.

[2021-04-04 12:50] #1039 closed, assigned to Hekili

[2021-04-04 12:50] Hekili commented on #1037
Thanks for confirming!

[2021-04-04 12:50] #1037 closed, assigned to Hekili

[2021-04-04 14:11] khmcfarland opened #1040 "Affliction Warlock Single/Auto setting keeps wanting to use corruption multiple times in a row (FIXED - DOWNLOADED NEW BETA)"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr