[2022-08-21 07:38] elsavira commented on #1587
Ah yes.

/hekili > Specialization > Toggles

This happens on at least Elemental/Enhancement specs.

[2022-08-21 18:39] #1590 closed, assigned to Hekili

[2022-08-21 21:12] Mabellah commented on #1593
Hi Hekili,

Here is the information you requested. Thanks - Mabellah

Snapshot:
Feral; Primary - Prowl(0.00), Rake(0.00), Thrash (Cat)(1.00)

dump result:
dump:value=BT4Bar7.disabled
empty result

Issue reporting information
build: v9.2.5-1.0.8
level: 60 (60)
class: DRUID
spec: feral

talents: balance_affinity
    bloodtalons
    mighty_bash
    predator
    primal_wrath
    soul_of_the_forest

[2022-08-22 02:36] Hekili commented on #1587
This should be resolved in the latest release.

[2022-08-22 02:36] #1587 closed, assigned to Hekili

[2022-08-22 02:37] Hekili commented on #1592
This should be resolved in the latest release.

[2022-08-22 02:37] #1592 closed, assigned to Hekili

[2022-08-22 02:37] Hekili commented on #1586
This should be resolved in the latest release.

[2022-08-22 02:37] #1586 closed, assigned to Hekili

[2022-08-23 16:47] YetAnotherDevWannabe opened #1596 "[FEATURE] Add a general option to activate trinket / offensive CD on boss only. But as an overrride for ALL trinkets/CD."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-08-31 06:04] behub-au opened #1599 "[BUG] Lua Error on login - 9.2.5-1.0.10-beta1"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-31 06:13] behub-au commented on #1599
Logging into DK then produced no error. I didn't want to sound like a liar when I said "any character". I swear it has been :)

[2022-08-31 13:10] behub-au commented on #1599
Thanks. I saw the change come through in my RSS Reader :)

[2022-09-02 23:34] N6REJ commented on #1599
Happens on my mage and shaman...
[code]

[2022-09-02 23:42] N6REJ commented on #1599
This is the error on mage side...

[code]

[2022-09-03 13:45] kingreboot opened #1600 "Does not affect game play, but error pop up for this addon"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-03 15:20] jaychang85 opened #1601 "[FEATURE] Enable SpellFlash on DominosActionButton"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-09-03 15:29] Hekili commented on #1601
This would be better solved via modifying SpellFlashCore -- have you put in a ticket for that project?

https://github.com/Tga123/SpellFlashCore

[2022-09-03 17:34] jaychang85 commented on #1601
Sound good.  Will open ticket to SpellFlashCore.

[2022-09-03 20:43] jaychang85 commented on #1601
look like there is no way to open ticket to SpellFlashCore.

[2022-09-04 13:15] Hekili commented on #1601
I believe you can submit a pull request without a ticket.  Or you could a while back, when I did so.

[2022-09-04 13:55] noiseuu opened #1602 "[REC] Balance druid doesnt use cooldowns with Shadowed Orb"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-09-04 15:12] jaychang85 commented on #1601
np.  let me try pull request.  no hurry.  Just one line code I need to sync every time you have new update tho.

[2022-09-04 16:41] Hekili commented on #1602
It looks like the precombat usage of the Orb is missing, but otherwise in-combat it would use it.

Your snapshot doesn't help clarify much because your Orb *is* on cooldown, so you did use it (and the addon isn't going to recommend it on cooldown).

[2022-09-06 09:32] jdm12983 commented on #1600
Having this same issue suddenly show up on only one of 24 characters so far.

I have used this on at least one of every class and race for the Alliance side; but as soon as I used it on a Vulpera Shaman, this error pops up every time I click any spell.

[2022-09-06 23:08] PaigePB0 opened #1603 "[BUG] Reactive Dual Display - both options stay open indefinitely after detecting multiple targets"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-07 06:40] Romdiaz123 opened #1604 "[REC] Rogue Rotation not recommending Cache (Outlaw)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-09-07 17:18] noiseuu commented on #1602
https://i.imgur.com/rlqOHou.png

Only suggesting wrath, not trinket hmh..

[2022-09-07 17:20] Hekili commented on #1602
Screenshot doesn't help.  I need a snapshot (from the addon, ALT-SHIFT-P or ALT-SHIFT-[) where your Orb *is not* already on cooldown, because the addon does not recommend abilities that are on cooldown.

[2022-09-07 17:24] noiseuu commented on #1602
https://pastebin.com/BZp8Ywkd
i hope paste correct one

[2022-09-07 17:32] Hekili commented on #1602
You do not appear to be wearing the Cache trinket in that snapshot.

[2022-09-07 17:33] noiseuu commented on #1602
Did u answer correct one? Im talking about shadowed orb

[2022-09-07 17:35] Hekili commented on #1602
Ha, you're right, dealing with multiple tickets.

[code]

The trinket, in combat, isn't recommended until/unless Sunfire is on your target, and you don't seem to be far enough into your fight to have applied it.

[2022-09-07 17:39] noiseuu commented on #1602
https://pastebin.com/gZ01ULnJ
i maked new one, do u see problem here?

[2022-09-07 17:41] Hekili commented on #1602
That one is recommending your trinket.

[2022-09-07 17:44] noiseuu commented on #1602
Yea, after that i can dps like 1 minute, and still not suggestin cd:s and trinket should be prepull
Example: https://www.raidbots.com/simbot/report/tauPoTz1toyBDa2zxYUL6C
Tormetted insight at buffs before first wrath.

[2022-09-07 17:51] shredxt commented on #1602
Looks like the precombat actions were updated to include shadowed orb of torment recently in the SimC APL: https://github.com/balance-simc/Balance-SimC/commit/f833711ddfcb06caa1cabf053b4a1dcd84361267 which has yet to be translated into Hekili

[2022-09-07 17:51] noiseuu commented on #1602
Okay, so today update?

[2022-09-07 17:59] Hekili commented on #1602
My first response noted that it's missing from the precombat APL here.  I do plan to update and add it.

[2022-09-07 19:08] jdm12983 commented on #1600
To add to my issue:

I went from version 9.2.5-1.0.10-beta1 from Aug 28, 2022 to version 9.2.5-1.0.10 release [that came out a day ago] and my problem went away.

[2022-09-07 20:22] Ketrel commented on #1599
I get this when I login on a ret pally

[code]

[2022-09-07 20:25] Hekili commented on #1599
What version of the addon are yo uusing?

[2022-09-07 20:31] Ketrel commented on #1599
My apologies.  My addon client is insisting `v9.2.5-1.0.10-beta1` is newer than `v9.2.5-1.0.10` and had me using the one prior.

[2022-09-07 20:40] assariah commented on #1604
Can confirm. noticed the problem today too during the raid

[2022-09-07 20:53] 1onar commented on #1604
Same here. Cache doesnt show up in hekili. Other Trinkets still work as expexted.

[2022-09-08 04:43] jaychang85 commented on #1601
https://github.com/Tga123/SpellFlashCore/pull/2

[2022-09-08 14:09] Ntropy99 commented on #1603
Can Confirm. First ability on AOE prompt also seems to get stuck, even when ability on cooldown stays there

[2022-09-08 14:56] Muskatnuzz commented on #1604
Same for me with Sub Rogue

[2022-09-08 17:06] Livvvvvvven opened #1605 "MonkBrewmaster stagger.pct doesn't seem to be correct value is 0 1 2"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-09-09 07:07] marekCs opened #1606 "[FEATURE] Please add the swap output variable to the function HEKILI_RECOMMENDATION_UPDATE"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-09-10 04:29] kkimmikko commented on #1604
Same issue. Tried different conditions, even on AoE and Axe active it won't show up. It was fine like week ago or so.

[2022-09-10 17:48] CKATEPTb commented on #1604
Same

[2022-09-10 21:38] dubudevs opened #1607 "[REC] Blood DK crimson rune weapon legendary does not give 5 stacks of bone shield"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-09-11 01:04] Livvvvvvven opened #1608 "Allow HEALER to use target.time_to_die"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-09-11 14:03] Hekili commented on #1607
Tell me more about that.  What is "very wrong" aside from initially anticipating Marrowrend after DRW, but updating when it detects you have Bone Shield stacks?

[2022-09-11 14:43] dubudevs commented on #1607
One example is using excessive marrowrends before DRW to bring yourself over the desired amount, causing yourself to overcap and waste runes that you want to keep for your DRW window. Casting MR outside DRW should very rarely be done, as it is possible to maintain stacks almost permanently assuming one has a normal amount of haste and remains in combat. On a tanking dummy it is possible to only ca

[2022-09-11 15:16] Hekili commented on #1607
Why wouldn't this change apply to the SimC priority?

Applying stacks makes sense for Crimson Rune Weapon.  What duration extension are you referencing?

This seems like an appropriate edit to the SimC profile as well, which is also an opportunity to measure it's actual value.

`cooldown.dancing_rune_weapon.remains_expected` (or `remains_guess`) will proportionately reduce the remaining cooldown b

[2022-09-11 15:19] marekCs commented on #1608
Hm interesting. So Hekili addon also works with a healer spec? I have to try it.

[2022-09-11 15:36] Hekili commented on #1608
Healer modules are outside the scope of support.  The most I can say is I don't recall any specific barrier to healers seeing time to die.  It does take a few seconds of damage before TTD will calculate.

[2022-09-11 15:36] #1608 closed, assigned to Hekili

[2022-09-11 15:37] Hekili commented on #1607
DRW will proc the Bone Shield stacks in the next release.  Thanks!

[2022-09-11 15:37] #1607 closed, assigned to Hekili

[2022-09-11 15:42] Hekili commented on #1606
I'll pass this information in the next release.  It will technically pass any "indicator" but it most often references target swapping.  You'll have to take a look at the information that's sent to determine its usefulness.

[2022-09-11 15:42] #1606 closed, assigned to Hekili

[2022-09-11 15:42] Hekili commented on #1605
Sorry, this ticket lacks the required information to be explored further.  Closed.

[2022-09-11 15:42] #1605 closed, assigned to Hekili

[2022-09-11 15:49] Hekili commented on #1603
Your error messages link does not work.  I'm investigating this issue.

[2022-09-11 15:53] dubudevs commented on #1607
https://www.raidbots.com/simbot/report/sbUNiW5Fqxx6A9vU9HdD5A

Look between 26 and 46 seconds and compare to this snapshot where I tried to replicate a similar scenario: https://pastebin.com/PfSgfcQf ( specifically line 387, `| buff.bone_shield.stack[1.00] < 5 )` )

As you can see, there is something in the sims that makes it not cast but I am not certain what it is. This is with the CRW effect im

[2022-09-11 15:54] marekCs commented on #1606
Thank you very much.

[2022-09-11 16:20] Hekili commented on #1607
The first several lines of the `standard` list in the addon and SimC need some reconciliation.

Try this:

[code]

[2022-09-11 16:35] PaigePB0 commented on #1603
Right. I didn't see any lua errors to post but to submit I needed to provide something as a link so I thought I re-posted the previous info, apparently not though.

If there's anything I can do to help diagnose this, please let me know.

[2022-09-11 16:44] Hekili commented on #1603
A fix will be out today in the next release.

[2022-09-11 16:44] #1603 closed, assigned to Hekili

[2022-09-11 16:45] Hekili commented on #1602
Today's release will add the precombat usage of the Shadowed Orb of Torment.  If there are issues afterward, please submit a new ticket with snapshots showing the circumstances of any new issues.

[2022-09-11 16:45] #1602 closed, assigned to Hekili

[2022-09-11 16:48] Hekili commented on #1600
This was corrected in 1.0.10 as noted.  Thanks!

[2022-09-11 16:48] #1600 closed, assigned to Hekili

[2022-09-11 16:48] Hekili commented on #1599
Thanks; closed as resolved.

[2022-09-11 16:48] #1599 closed, assigned to Hekili

[2022-09-11 16:51] Hekili commented on #1596
I have been considering this, but am saving it for 10.0 when I do away with the Covenants toggle (probably).  I may allow for a number of overrides to the remaining toggles, including that you're in a boss fight.  TBD.

[2022-09-11 16:51] Hekili commented on #1604
This should be resolved when I post today's release.

[2022-09-11 16:51] #1604 closed, assigned to Hekili

[2022-09-11 17:22] #1566 closed, assigned to Hekili

[2022-09-11 17:22] #1476 closed, assigned to Hekili

[2022-09-11 20:16] PaigePB0 commented on #1603
Ty!

[2022-09-12 19:10] dubudevs commented on #1607
Seems to be working correctly 👍

[2022-09-14 14:05] noiseuu commented on #1602
Same issue, now suggestin orb at prepull. But not using cooldowns when i get 90 ap

https://pastebin.com/xEZdht4F

[2022-09-15 03:36] CKATEPTb commented on #759
I would like to raise this issue

[2022-09-15 03:48] Hekili commented on #1602
This may be addressed in 9.2.7-1.0.0b.  Let me know if you still have issues after this point.

[2022-09-17 18:46] totalschaden opened #1611 "[Feature Request] Fade Icon as Unuseable"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-09-17 21:02] totalschaden opened #1612 "[Feature Request} Sort Action List by Name"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-09-18 08:44] yuuri1249 opened #1614 "Recent Performance Impact - Reporting Thread"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-18 12:42] Hekili commented on #1614
What was the last release that did not have this issue for you?  You can install a previous version to confirm.

[2022-09-18 15:41] Hekili commented on #1614
Updating this thread for data collection purposes.  Do not submit alternate threads on this topic.  If adding information, the following details are required.  Please copy and paste these questions and supply your own answers.

1. Did you confirm the issue occurs with the latest released version?  (`v9.2.7-1.0.0b` at time of posting.)
2. Please go to `/hekili` > Issue Reporting and copy the Charac

[2022-09-18 19:31] Bonesly opened #1615 "Gear and Items that are set Boss-Only are removed from the list of available gear"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-18 20:03] #1615 closed, assigned to Hekili

[2022-09-19 03:07] yuuri1249 commented on #1614
Did you confirm the issue occurs with the latest released version? (v9.2.7-1.0.0b at time of posting.) - yes
Please go to /hekili > Issue Reporting and copy the Character Data information, paste it on Pastebin, and provide the Pastebin link here: build: v9.2.7-1.0.0b - https://pastebin.com/LYfffY9c
What is/was the first version where you noticed the issue? The most recent version
What was the last

[2022-09-19 12:57] IIeTpoc commented on #1614
I can confirm I have the same issue as yuuri1249 has

[2022-09-19 15:53] Hekili commented on #1614
Please follow the directions for reporting in this thread.

[2022-09-19 18:23] Nemesis977 opened #1617 "ability missing in rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-19 18:57] Hekili commented on #1617
There is no released version of the addon for Dragonflight beta.

[2022-09-19 18:57] #1617 closed, assigned to Hekili

[2022-09-20 00:25] jmtenet211 opened #1618 "[BUG] Shadow Spec Rotation Helper Displays While In Holy Spec"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-20 00:32] jmtenet211 commented on #1618
![Hekili - Shadow Spec](https://user-images.githubusercontent.com/113951822/191142124-0cccf4ca-3c62-4599-8510-5c09fdea6050.jpg)
![Hekili - Holy Spec](https://user-images.githubusercontent.com/113951822/191142132-01bb7851-42ac-4660-b617-b01d354f3e9a.jpg)

[2022-09-20 13:46] Tzuyume commented on #1614
Did you confirm the issue occurs with the latest released version? (v9.2.7-1.0.0b at time of posting.)
Please go to /hekili > Issue Reporting and copy the Character Data information, paste it on Pastebin, and provide the Pastebin link here: https://pastebin.com/935SZqhK
What is/was the first version where you noticed the issue? unsure but its been a month at least
What was the last version that do

[2022-09-20 13:53] marekCs commented on #1614
9.2.5.1.0.10 is doing well.

[2022-09-21 12:06] Kerberos9 commented on #1618
I can confirm this happens when you queue as a different role and get changed automatically. The addon probably doesn't change the spec until it sees the "spec change" event manually, and thus doesn't change when joining a dungeon. Not specific to spriest, I had this happen on my monk.

[2022-09-21 13:25] Hekili commented on #1618
That's one scenario that can trigger it, it seems.  I'll be posting a tentative fix for that scenario, which will recheck your specialization before continuing to generate recommendations.  One part of this issue was that if it takes 2+ frames to generate recommendations, and your specialization changed between frames, when the recommendations thread resumed it would already have passed that check

[2022-09-21 14:36] Kerberos9 commented on #1618
Just in case I'll add that it happens to me as Windwalker into Brewmaster monk, which both have supported rotations.

Thanks for the support!

[2022-09-21 15:15] Hekili commented on #1618
Yup, that case should be covered by the solution that I'm testing.

* When a specialization change is detected normally, the event handler will kill the recommendations thread and force it to restart on the next frame.
* Before resuming the recommendations thread, the addon will check to see that your current specialization matches the specialization you were in when the thread started.  If they d

[2022-09-22 02:05] Hekili commented on #1614
I added a question to my list above, which is:

After noticing this issue in-game and **before** reloading your UI or restarting your client, please type `/hekili` and see if the Warnings section is lit up. Is it?
If so, please screenshot the warnings and/or copy/paste the text to Pastebin and link here.

If you could add this information to your earlier responses (or any new responses), I would a

[2022-09-26 10:36] dubudevs commented on #1618
The same happens when you get changed from a supported spec to another, eg WW to BM monk. To trigger BM recommendations you need to reload.

[2022-09-26 13:39] willz501 opened #1625 "WotLK DK blood rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-09-26 13:41] willz501 commented on #1625
i think its not reading the frost fever dot

[2022-09-26 13:52] willz501 commented on #1625
fixed pastebin link

[2022-09-27 06:18] jmtenet211 commented on #1618
Yeah,

A quick /rl resolves the issue. At least in a "workaround" mode. Not really
a big deal...its probably difficult to code for/account for auto-switching
of specs using the dungeon/raid finder.

On Mon, Sep 26, 2022, 6:36 PM dubudevs ***@***.***> wrote:

[2022-09-27 15:39] Hekili commented on #1618
I have a tentative fix that I haven't shared yet.  Sorry for the wait, but (1) it's not really critical and (2) I'm pulled in at least 3 different directions right now for WoW while working 60+ hours.  I'm literally just out of hours in the day.

[2022-09-28 00:48] jmtenet211 commented on #1618
No worries.

JMT

From: Hekili ***@***.***>
Sent: Tuesday, September 27, 2022 11:40 PM
To: Hekili/hekili ***@***.***>
Cc: jmtenet211 ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] [BUG] Shadow Spec Rotation Helper Displays While In Holy Spec (Issue #1618)

I have a tentative fix that I haven't shared yet. Sorry for the wait, but (1) it's not really critical and (2) I'm pulled in at

[2022-09-28 16:19] Aldwew opened #1627 "Wotlk frost dk only suggesting icy touch, plague strike, blood strike and death coil"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-28 16:56] Alqua1 opened #1628 "[BUG] Wow classic DK unholy runes are not calculated correctly"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-28 21:04] Hekili commented on #1628
Yeah, good catch.  I spent so much time looking at runes the other night that I went cross-eyed.  Having the rune order wonky in the default UI was a really fun and exciting twist that I could've done without.

[2022-09-29 09:59] HunterFace13 opened #1629 "[BUG] Doesnt show MM Hunter"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-09-29 13:39] Hekili commented on #1629
Yes. That's correct. I haven't built hunters yet.

[2022-09-29 13:40] #1629 closed, assigned to Hekili

[2022-09-29 13:41] Hekili commented on #1627
This would be a recommendations issue and would require a snapshot per that ticket form's instructions.

[2022-09-29 13:41] #1627 closed, assigned to Hekili

[2022-09-29 14:20] Aldwew opened #1630 "Frost DK suggesting only couple of skills"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-09-29 18:43] Hekili commented on #1630
I consciously don't have it tell you to change presences unless it's for something specific (like Unholy DKs swapping late in their opener).  Think how annoying it would be for the addon to tell you to swap presences when you specifically chose your presence for a reason.

What else were you wanting it to recommend, aside from Blood Tap (which is considered a cooldown, which you have toggled off)?

[2022-09-29 19:07] willz501 commented on #1630
I agree with not having suggested stances sometimes you can be dpsing and the tank dies you SHOULD know to switch to frost but i do have the issue of death coil being suggested when i am talented into frost strike here is my snapshot https://pastebin.com/u6FckkwA

[2022-09-29 19:08] icemanxs1 opened #1631 "unholy dk rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-09-29 19:14] Hekili commented on #1631
Do you have Scourge Strike?

[2022-09-29 19:36] icemanxs1 commented on #1631
ya

[2022-09-29 20:09] TulukSC2 commented on #1631
Hey! I have the same issue and after checking my snapshot, I realized Scourge Strike isn't registered as a picked talent even if I have the talent chosen.

[2022-09-29 20:22] icemanxs1 commented on #1631
Ya i checked pastenbin and i dont even see it in the list.

[2022-09-29 20:45] willz501 commented on #1631
probably the same issue with frost and frost strke

[2022-09-30 03:40] Aldwew commented on #1630
Frost Strike is talented, but don't have the 32 runic power glyph as of yet. Also if I understand correctly, it only suggests Obliterate when Blood Tap has been used, seems kinda dumb tbh

[2022-09-30 08:26] meak89 commented on #1630
I was waiting till someone had a similar issue because I thought I was doing something but I am having the same exact issue where only the mentioned abilities are showing up. I can get obliterate to show up if I had made my blood runes turn into death runes. Although frost strike never shows up and instead it is death coil like said above as well. Also blood tap I think is supposed to be activated

[2022-09-30 18:13] Dragonfo opened #1633 "Raptor Strike is recommended too often Surv"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-09-30 19:23] Hekili commented on #1633
Your snapshot isn't taken at a useful time to analyze this.  Take the snapshot when the addon is recommending Raptor Strike and you think it shouldn't have.

[2022-09-30 19:24] Hekili commented on #1612
FYI, this should work for Dragonflight.  If not, you can reopen after Dragonflight launches and let me know.

[2022-09-30 19:24] #1612 closed, assigned to Hekili

[2022-10-01 18:33] Zsola79 opened #1635 "Retri pala Doesnt work"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-01 18:35] SpatenLa commented on #1635
yes. its not finished. paladin doesnt exist.

[2022-10-01 18:44] Zsola79 commented on #1635
:(  best addon

[2022-10-01 20:38] Zsola79 commented on #1635
When is the development expected? (upgrade)

[2022-10-02 02:20] dmcdaniels commented on #1631
The problem is in the DeathKnight.lua file. The talent has it selected as looking for 55090 which is the id of the rank 1 spell. As soon as you hit rank 2 the id changes and it thinks you no longer have the spell.  I modified mine for all four ranks and it shows up again.

[2022-10-02 04:27] Hekili commented on #1631
Yeah, it should already be fixed in -beta4 on CurseForge.

[2022-10-02 04:27] #1631 closed, assigned to Hekili

[2022-10-03 00:52] psenne opened #1636 "Subtlety rogue (WOTLK)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-03 01:31] Hekili commented on #1636
no, i haven't implemented rogues yet

[2022-10-03 01:31] #1636 closed, assigned to Hekili

[2022-10-03 15:57] willz501 opened #1637 "Death Runes NYI in Classic"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-03 23:01] Alqua1 commented on #1637
Hi, I'm frost dk too, I noticed that too and I'm using the following and it's working correctly (this is just temporary solution, we'll need to wait Hekili later on):
actions+=/blood_strike,if=(!GetRuneCooldown(1)&GetRuneType(1)=1)|(!GetRuneCooldown(2)&GetRuneType(2)=1)

There are two parts in this code:
A: (!GetRuneCooldown(1)&GetRuneType(1)=1) ==> If your left most rune is off cooldown (which me

[2022-10-03 23:47] Hekili commented on #1637
Or just be patient.

[2022-10-04 18:37] SkullCandyTV opened #1639 "UH DK | Ghoul Frenzy unusable because it doesn't find the Ghoul eventho it's there"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-04 19:08] SkullCandyTV opened #1640 "UH DK | Add either a toggle or second Unholy-Priority for the superior Dualwield/GhoulFrenzy/NoScourgeStrike build"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-10-05 16:01] Dragonfo opened #1641 "Surv an error appears when attacking a manikin and bosses"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-05 17:12] ArtisanNull commented on #1639
Unholy priority Entry 10 pet.ghoul.up shows false

changed to pet.ghoul.active also false

changed to pet.ghoul returned true

looks like the conditions are missing for tracking the buff on the ghoul

something like pet.ghoul.buff.ghoul_frenzy.remains <10 & pet.ghoul.active

[2022-10-05 17:52] Hekili commented on #1641
I'm not sure this is truly an issue with this addon; it is a taint issue.  The addon doesn't touch anything associated with pet action bars.  If you play for a bit without the addon loaded, do you get the same error attributed to another addon?

[2022-10-05 17:55] Dragonfo commented on #1641
I have dominous for panels, and clicked for clicking abilities. It's just that there were no mistakes before. Now it has begun to pour errors and it is on bosses and mannequins

[2022-10-05 19:46] Dragonfo commented on #1641
Just killed 5 bosses already, and there are no mistakes. Disconnected everything only left Bigwigs WA and Hekili. There are no errors. I also included all addons and the error stopped appearing after restarting the interface

[2022-10-06 20:59] Cormelain opened #1643 "PI no longer recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-07 16:05] #1641 closed, assigned to Hekili

[2022-10-08 02:00] Milltips opened #1644 "Cannot revert to original action list, despite re-installing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-08 02:12] Hekili commented on #1644
So, not a bug, and, well, don't do that.

You can reset your profile (see Profiles section of options) and reload and you'll be back to defaults.

[2022-10-08 02:12] #1644 closed, assigned to Hekili

[2022-10-08 04:45] jaychang85 opened #1645 "[FEATURE] Keybinds support for Dominos action bar"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-10-08 06:23] jaychang85 commented on #1645
<Binding name="CLICK DominosActionButton1:HOTKEY" header="DominosActionBar2" category="BINDING_CATEGORY_Dominos"/>
	<Binding name="CLICK DominosActionButton2:HOTKEY" category="BINDING_CATEGORY_Dominos"/>
	<Binding name="CLICK DominosActionButton3:HOTKEY" category="BINDING_CATEGORY_Dominos"/>
	<Binding name="CLICK DominosActionButton4:HOTKEY" category="BINDING_CATEGORY_Dominos"/>
	<Binding name="CL

[2022-10-08 09:07] Rechiyo opened #1646 "[REC] Warrior Fury, Sunden Armor"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-08 17:46] Bingo176 opened #1648 "[BUG][Wrath] Enhancement Shaman when out of mana get snapshot error."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-08 23:43] Jeffreyb723 opened #1649 "[REC] Paladin/Holy active_dot.beacon_of_light = 0 never false"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-09 05:05] 10kmw01 opened #1652 "[BUG] Rogue not working properly"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-09 14:34] deeg427 opened #1653 "[BUG] trying to open on PTR"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-09 16:49] Hekili commented on #1652
Rogue is not yet implemented.

[2022-10-09 16:49] #1652 closed, assigned to Hekili

[2022-10-09 16:49] Hekili commented on #1653
I have not created a release for DF beta/PTR at this time.

[2022-10-09 16:49] #1653 closed, assigned to Hekili

[2022-10-09 16:52] Hekili commented on #1649
I'll look into this.

[2022-10-09 16:56] Hekili commented on #1648
Can you provide a screenshot of these empty Snapshots?  They appear as one line in the UI, but if you CTRL+A then CTRL+C, there is (usually) more information that you can paste per ticket instructions.

The addon does have default behavior to attempt to create a snapshot when it can't come up with recommendations, which it can't do if you have no mana.  I'll consider restricting that to only occur

[2022-10-09 21:25] Bingo176 commented on #1648
Nevermind on the empty snapshots. Basic way to reproduce is to empty your mana bar and attempt to do the rotation. It reappears when you get mana back. More of a minor inconvenience.

https://pastebin.com/vjA5b5V2 -- Interrupt
https://pastebin.com/xRhQNVAZ -- Defensives
https://pastebin.com/a8p6SPUH -- Cooldowns
https://pastebin.com/2SgsCYpg --  Primary
https://pastebin.com/84MMDyVs -- AoE

[2022-10-10 20:28] Urmus-dev commented on #1633
Same issue here is a snapshot: https://pastebin.com/HTqx1Wn2

[2022-10-11 07:03] purplemooni commented on #1302
on my hunter the Tranq shot shows up perfectly fine which is the same as
what a soothe does.

sometimes its nice to have a Soothe alert in a M+ dungeon. I'm still
struggling with these settings. I made it a custom priority but still not
showing for some reason. if you could help me make this a little less
complicated, I'd appreciate it!

On Tue, May 10, 2022 at 11:18 AM Hekili ***@***.***> wrote:

[2022-10-11 07:29] Heshaman commented on #1504
Interesting. I WAS using an add-on called Move and Improve to manage the Bars. It is using a very different method of naming the bars/pages.

The Overide key bind would have been to complicated. I had to type my whole rotation. Instead I reset WOW and repair to get Hekili to work properly.

I appreciate the help!

[2022-10-11 07:57] byllam824 commented on #1563
"C:\Users\bylla\OneDrive\Pictures\hekili.jpg"

    On Saturday, July 23, 2022 at 04:03:30 PM EDT, Hekili ***@***.***> wrote:

Please submit a snapshot of your Primary display via Pastebin. (Yes, even as it displays nothing.)

See your Toggles tab for the snapshot keybind.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Mess

[2022-10-11 08:30] grayjared commented on #1431
Alright, thanks again. I’ll play around with it a bit more myself as well.
________________________________
From: Hekili ***@***.***>
Sent: Saturday, March 19, 2022 12:56:20 PM
To: Hekili/hekili ***@***.***>
Cc: grayjared ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] Fury Warrior Merciless Bonegrinder no longer showing in priority (Issue #1431)

I've fiddled with it a bit and it's

[2022-10-11 12:44] Hekili commented on #1302
https://github.com/Hekili/hekili/wiki/Frequently-Asked-Questions#how-do-i-make-the-addon-recommend-________

[2022-10-11 21:52] pozzer18 opened #1654 "[BUG] no recommendations show in game for Fury warr Wotlk classic"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-12 15:50] FluuXuux opened #1655 "[BUG] Not work for mage ?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-12 15:52] SpatenLa commented on #1655
you are correct. mage does not exist

[2022-10-13 14:00] Tobbelainen commented on #1639
Is there any solution on this? =)

[2022-10-13 14:01] Tobbelainen commented on #1640
This would be so awesome if @Hekili could take a look on this!

[2022-10-13 14:17] Hekili commented on #1640
Please do not pad tickets with unnecessary pings.

[2022-10-14 16:51] AlrikOlson opened #1656 "[BUG] [WotLK] Events.lua:1753: GetSpellCooldown(): Invalid spell slot"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-14 19:10] Hekili commented on #1656
Yeah, that'll happen on a not-yet-supported class.  Will fix.

[2022-10-14 20:25] AlrikOlson commented on #1656
Is there a list of supported classes for WotLK somewhere?

[2022-10-14 22:41] #1656 closed, assigned to Hekili

[2022-10-15 07:54] dirde opened #1657 "[BUG] Addon doesn't load for priest - works for other classes"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-15 09:21] Akaarimune opened #1658 "[BUG] Dont work whit my rogue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-15 09:29] SpatenLa commented on #1657
There is no Version that includes Priest yet.

[2022-10-15 09:30] SpatenLa commented on #1658
There is no version that include Rogue yet.

[2022-10-15 09:48] Akaarimune commented on #1658
oh :( , do you know when you will implement it?

[2022-10-15 14:16] #1658 closed, assigned to Hekili

[2022-10-15 14:16] #1657 closed, assigned to Hekili

[2022-10-15 14:20] Hekili commented on #1640
If there's a spelled out written version, I'll take a look at it.  Translating a video and priority written in Go is a large effort.

[2022-10-15 15:00] Hekili commented on #1639
Fix will be posted later today.

[2022-10-15 15:00] #1639 closed, assigned to Hekili

[2022-10-15 15:00] Hekili commented on #1655
Mage will be released when it's released.  Thanks for your patience.

[2022-10-15 15:00] #1655 closed, assigned to Hekili

[2022-10-15 15:01] Hekili commented on #1654
The fix for this issue will be posted later today.

[2022-10-15 15:01] #1654 closed, assigned to Hekili

[2022-10-15 15:03] Hekili commented on #1633
Please check the "Allow Focus Overcap" option for your specialization.  With it disabled, the addon will follow the default sim priority and require you to spend down Focus before pushing other buttons (so that focus regen is not wasted).

If you still have the same issue with Allow Focus Overcap enabled, please post a new snapshot taken when Raptor Strike is being recommended but you believe it s

[2022-10-16 12:02] FluuXuux commented on #1655
Thx for answer and thx for your beautiful work .

[2022-10-16 13:09] astothialo commented on #1630
found both the rotation severly lacking and pretty bung.
using the following spec: https://wotlk.evowow.com/?talent#jfV0VZG0exArczf0cuzAo:akpVMm and both rotations are broken.
keeps suggesting to use pestilence when i could be doing oblit, bt/erw or whatever.

[2022-10-16 13:23] SpatenLa commented on #1630
you need to provide a Snapshot and make sure that you have the newest Version which is beta8

[2022-10-16 13:58] Hekili commented on #1630
Submit a fresh ticket for your issue, which is not the issue this ticket was for.  Follow the instructions when submitting tickets.

The Frost Strike talent/rank issue is resolved.

[2022-10-16 13:58] #1630 closed, assigned to Hekili

[2022-10-16 15:06] Lillefot92 opened #1659 "Arms warrior Rotation and overlap with sunder armor , and buffs ( battle shout , command shout )"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-16 15:13] pozzer18 opened #1660 "[BUG] Unknown issue more logging for refrence"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-16 17:34] pozzer18 opened #1661 "[REC] Ghoul Frenzy recommended w/o a Ghoul Pet"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-17 03:31] DrManowar commented on #1640
The unholy rotation on wowtbc.gg mostly matches what is said in the video. If you wish to refine it further, the video itself has the general priority list with more info in the forms of slides/screenshots. If you don't want to sift through the video I can send you all the screenshots with your permission.

[2022-10-17 04:56] Kwixii opened #1662 "[BUG] FindUnitBuffByID lua Error"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-17 13:29] Hekili commented on #1659
Ok, so filling out the ticket properly is critical.  You've listed a bunch of things, so let's go through them, starting with this:

That's not a snapshot.  Here are the instructions for snapshotting, which were part of the original ticket template.

I just want to stress, again, that a snapshot taken when you're actually seeing the issue you're concerned with, is critical.  Otherwise, it's like y

[2022-10-17 13:30] Hekili commented on #1662
Thanks, this will be a pretty quick fix.

[2022-10-17 14:42] aaronoo7 opened #1663 "Mage Prio list is missing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-17 14:42] aaronoo7 commented on #1663
Playing Mage* apologies.

[2022-10-17 14:58] Wyste opened #1664 "[REC] "spend" hooks within class files behavior possibly erratic"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-17 15:23] Hekili commented on #1664
Spend hooks are for virtual/emulated behavior, not real spend.  I.e., it fires when the addon recommends an ability and needs to spend resources before generating the next recommendation.

[2022-10-17 15:23] #1664 closed, assigned to Hekili

[2022-10-17 15:27] SpatenLa commented on #1663
you are correct. Mage is not yet implemented in Hekili for WotLK

[2022-10-17 15:42] aaronoo7 commented on #1663
for the entire expansion or for now? Thank you

[2022-10-17 21:18] Hekili commented on #1664
For reference, compare the spend hook here:  https://github.com/Hekili/hekili/blob/dragonflight/Classes/WarriorArms.lua#L331

To the UNIT_POWER_FREQUENT handler here:  https://github.com/Hekili/hekili/blob/dragonflight/Classes/WarriorArms.lua#L369

The spend hook is what the addon does virtually when it is generating multiple recommendations in one moment (i.e., use Bladestorm then Mortal Strike t

[2022-10-18 07:04] Pulseonline opened #1665 "Unholy DK DW/MORB Spec Priority off Wowhead."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-18 10:48] Lillefot92 commented on #1659
https://pastebin.com/TeSwkp2T
here i see a "opening" for mortal strike to come in ,i belive you should use mortal strike when no procs are avaiable (Overpower and execute) , im not an expert on the rotation but thats when it feels like its the best timing for it to be used.
i noticed also that Bloodfury ( Orc racial ) is never recommend , i have it enabled in the addon but still no show.

For the

[2022-10-18 13:22] Hekili commented on #1659
Sorry for the struggle with snapshots; these are not complete.  There's more text in the box that you didn't capture, unfortunately.  When you put the mouse in the box, press CTRL+A (to select all) and then CTRL+C (to copy).  That'll give you thousands of lines of text that explains why you're seeing what you're seeing, even though you can't see it all in-game.

[2022-10-18 18:21] Nikker69 opened #1668 "[BUG] Wrath Nothing show up on my spriest version 3.4.0-1.0.0 -beta8"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-18 18:22] SpatenLa commented on #1668
thats correct, there is no version that includes shadow priest yet.

[2022-10-18 18:29] Lillefot92 commented on #1659
https://pastebin.com/hn79rZK0
https://pastebin.com/fuLt943G

this is both for singel and aoe i hope. :)

[2022-10-18 18:54] Nikker69 commented on #1668
Any chance you guys can have a Eta on when will it be avalible?

[2022-10-19 14:23] arcanechocolate opened #1669 "[BUG] WotLK Classic // Shaman Imbues/Enchants don't show up in the queue (when conditions == True)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-19 14:51] Hekili commented on #1669
This should've been a recommendations ticket with a snapshot.

[2022-10-19 16:19] arcanechocolate commented on #1669
My apologies. I thought of it as a functionality issue instead of a feature since it seems like something is wrong internally (since only specific spells aren't being shown in the queue regardless of their conditionals).

Here's two comparison ([A](https://ibb.co/8cqjGD9) and [B](https://ibb.co/yRP16rj)) screenshots. One with the default Windfury Weapon spell and the condition as True, and another

[2022-10-19 17:43] Doog45 commented on #1635
still not working, any idea when that might change?

[2022-10-19 19:36] arcanechocolate commented on #1669
Well, in the meantime I commented lines 1234, 1447, 1526, 1940 and 2351 in ...\Wrath\Shaman.lua corresponding to each of the 5 weapon enchants.

They all share the same code:
`usable = function() return ( equipped.mainhand and not mainhand_imbued ) or ( equipped.offhand and not offhand_imbued ), "must have an unimbued weapon" end,`

It seems that this is the cause for why the imbues aren't suggest

[2022-10-19 19:52] Hekili commented on #1669
Here are the snapshot instructions from the Recommendations ticket:

[2022-10-19 20:09] arcanechocolate commented on #1669
Here's the snapshot.
The issue is right from the get go this:

Given that my weapons are unimbued.
With the lines commented above on the modified file, the snapshot identifies the weapons as unimbued correctly.

[2022-10-19 20:12] arcanechocolate commented on #1669
[Here's a snapshot.](https://pastebin.com/gwT0amk5)
The issue is right from the get go:

[Here's the snapshot from the modified shaman.lua with the commented lines I mentioned above.](https://pastebin.com/E7DD0aqf)
And here's the difference:

[2022-10-20 19:36] arcanechocolate opened #1671 "[REC] Protection Warrior - Victory Rush recommended with Impending Victory Talented."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-21 01:48] somedhclass opened #1672 "Feral Druid priority questions (Shred, Convoke)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-21 16:17] Hekili commented on #1672
If you do weird things, you get weird results.  My best guess from what you're saying is that you are trying to force Shred vs. Swipe in single-target, which is not optimal in terms of converting Energy into damage.

Which snapshot is meant to reflect this situation?  In your first one, Convoke the Spirits is on cooldown for another 48 seconds.  In your second snapshot, you're in the middle of cas

[2022-10-21 16:26] Hekili commented on #1671
Thanks; I will disable Victory Rush when Impending Victory is talented.

[2022-10-21 16:31] #1671 closed, assigned to Hekili

[2022-10-21 16:58] Hekili commented on #1669
This will be fixed later today.

[2022-10-21 16:58] #1669 closed, assigned to Hekili

[2022-10-21 16:59] Hekili commented on #1635
I will resume working on additional classes after DF prepatch launches and stabilizes.

[2022-10-21 16:59] #1635 closed, assigned to Hekili

[2022-10-21 16:59] Hekili commented on #1668
I will resume working on additional classes for Wrath after DF prepatch launches and stabilizes.

[2022-10-21 16:59] #1668 closed, assigned to Hekili

[2022-10-21 17:00] Hekili commented on #1665
I'm aware of the alternate build.  Wrath updates will be on hold until after Dragonflight prepatch launches and stabilizes.

[2022-10-21 17:00] #1665 closed, assigned to Hekili

[2022-10-21 17:00] Hekili commented on #1663
I will resume working on additional classes for Wrath after DF prepatch launches and stabilizes.

[2022-10-21 17:00] #1663 closed, assigned to Hekili

[2022-10-21 17:01] Hekili commented on #1662
This will be fixed later today.

[2022-10-21 17:01] #1662 closed, assigned to Hekili

[2022-10-21 17:17] Hekili commented on #1659
Read the linked guide re: the priority.

I'm making some priority updates that will go out today.

[2022-10-21 17:17] #1659 closed, assigned to Hekili

[2022-10-21 17:22] Hekili commented on #1640
I've reviewed a bunch of these materials and will work on the UH priority after Dragonflight prepatch releases and is stable.

[2022-10-21 17:25] Hekili commented on #1661
I'm not able to replicate this issue.  Can you tell me more about when this happens?  Did you have a ghoul up that died?

[2022-10-21 17:34] Hekili commented on #1660
Fix will be posted soon.

[2022-10-21 17:34] #1660 closed, assigned to Hekili

[2022-10-21 17:34] #1633 closed, assigned to Hekili

[2022-10-21 17:34] pozzer18 commented on #1661
When using sacrifical pact to regen health it still detects the pet. Even tho I have killed the pet for health

[2022-10-21 17:35] Hekili commented on #1648
This will be resolved in today's update.

[2022-10-21 17:35] #1648 closed, assigned to Hekili

[2022-10-21 17:35] Hekili commented on #1649
This should be resolved with today's update.

[2022-10-21 17:35] #1649 closed, assigned to Hekili

[2022-10-21 17:37] Hekili commented on #1646
This might be fixed with today's update.  If not, please submit a new ticket, correctly, and I'll investigate.

If you say the priority gets "stuck," you will probably want to look for error messages (/hekili > Warnings) and submit any messages you find there.

[2022-10-21 17:37] #1646 closed, assigned to Hekili

[2022-10-21 17:43] Hekili commented on #1643
The short version of this is that the Power Infusion entry in the priority would've passed in a boss fight, but not during trash fights.

[2022-10-21 17:44] Hekili commented on #1645
Closing as resolved.

[2022-10-21 17:44] #1645 closed, assigned to Hekili

[2022-10-21 17:45] Hekili commented on #1637
Death Runes as distinct from other runes is NYI.  Will follow-up later.

[2022-10-21 17:46] Hekili commented on #1625
Previous resolved.

[2022-10-21 17:46] #1625 closed, assigned to Hekili

[2022-10-21 17:46] Hekili commented on #1628
Resolved.

[2022-10-21 17:46] #1628 closed, assigned to Hekili

[2022-10-21 17:47] Hekili commented on #1618
This should be resolved.

[2022-10-21 17:47] #1618 closed, assigned to Hekili

[2022-10-21 17:47] Hekili commented on #1614
Closing for lack of info/updates.

[2022-10-21 17:47] #1614 closed, assigned to Hekili

[2022-10-21 17:49] #1601 closed, assigned to Hekili

[2022-10-21 17:50] Hekili commented on #1472
Closing; set bonus will be disabled soon.

[2022-10-21 17:50] #1472 closed, assigned to Hekili

[2022-10-21 19:24] somedhclass commented on #1672
https://pastebin.com/hAyha3wX

[2022-10-21 19:32] Hekili commented on #1672
No, that snapshot is not in combat. I'm going to decline this ticket and we'll just see how things go in Dragonflight.

[2022-10-21 19:32] #1672 closed, assigned to Hekili

[2022-10-22 13:11] Tobbelainen opened #1673 "DK blood rotation AOE 3 targets seem to freeze on recommended. Overlook rotation aoe."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 02:09] T0xicsmog opened #1677 "Hekilli No longer showing as of 10.0.0 Prepatch"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 02:21] TheHambrick commented on #1677
Hekili has not released a 10.0 version of the addon at the time of this post

[2022-10-26 02:23] xathian commented on #1677
Hekili relies on Simulationcraft APLs as the base for the rotation it displays for you. You will have to wait until your classes community theorycrafters devise an APL for the current class redesigns. As it stands this will likely take a while, you can track the progress of APLs being submitted to Simulationcraft from this google docs page

https://docs.google.com/spreadsheets/d/e/2PACX-1vSCfqvYso

[2022-10-26 02:51] tracyneproski opened #1678 "When Left-clicked to drag and reposition, interface "sticks" to cursor and cursor is no longer responsive to anything."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 02:52] Hekili commented on #1678
No new tickets until I actually post a Dragonflight release.  Reports for the 9.2.7 release will be outdated.

[2022-10-26 03:52] karpana commented on #1677
Thank-you for the awesome tracking spreadsheet.

[2022-10-26 05:38] CDAGaming commented on #1677
![image](https://user-images.githubusercontent.com/16328918/197943622-45eea389-f542-4a58-818a-2e2752bf946c.png)
Known issue from [https://github.com/BigWigsMods/packager](https://github.com/BigWigsMods/packager/commit/439a2f12e22ab111bfa704a577872a1f58731ebd) (As Hekili uploaded a file an hour ago, but its marked as 1.0.0)

[2022-10-26 06:22] L3bulba opened #1679 "Demo Warlock Demonic Core Freeze"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 08:16] auddie2015 commented on #1678
Here as well, Hekili. Just to confirm his report.

[2022-10-26 12:11] Ratayu opened #1680 "[REC] RET PALADIN, NOT RECOMMENDING RADIANT DECREE and EXORCISM."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 12:13] Hekili commented on #1680
Noted.  I have not yet updated the Retribution module for DF.  Thanks.

[2022-10-26 12:25] marekCs opened #1681 "[REC] [Dragonflight] - Enhancement Shaman - Covenant ability, Windfury Weapon, Trinkets"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 12:34] marekCs opened #1682 "DF - Make Windfury totem as an ability I can only cast within x yards of the target."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-10-26 12:42] Yaooti commented on #1682
target.within9

[2022-10-26 12:45] ghost opened #1683 "[REC] Vengeance DH; Fel Devastation rec. without req. Fury; Covenant Ability rec. outside of Shadowlands"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 12:46] marekCs opened #1684 "[REC] [Dragonflight] - Balance druid - Starsurge issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 13:06] Hekili commented on #1681
Try -beta2.

[2022-10-26 13:07] Hekili commented on #1683
Were there any messages in the Warnings section of the addon?

[2022-10-26 13:24] ghost commented on #1683
![image](https://user-images.githubusercontent.com/28655236/198037327-695c6184-b3fb-49ce-a1c2-0cd212b0194f.png)

nothing coinciding with the time of taking the snapshot

[2022-10-26 13:26] pingitoreluiz commented on #1681
Thats seems to happen if you have windfury totem talent selected. Tried -beta2 and no fix

[2022-10-26 13:30] marekCs commented on #1681
me to, trying beta 2 now and I have 2 windfury totems in the icon list (ST and AOE as well).
pastebin: [https://pastebin.com/8p4q1894](https://pastebin.com/8p4q1894)

[2022-10-26 13:32] ghost commented on #1683
upon entering the game, this error is thrown (just updated to beta2

[2022-10-26 13:38] marekCs opened #1685 "[FEATURE] [Dragonflight] - Balance Druid - Target Swaps and player's screen"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-10-26 14:21] Hekili commented on #1685
With nameplates enabled, this is viable and makes sense.  I'm testing something along these lines now.

[2022-10-26 14:25] tcarlsen86 opened #1687 "[BUG] UH DK, Priority does not progress or progresses sporadically"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 14:30] Hekili commented on #1687
Thanks.  I haven't posted the DK updates yet.

[2022-10-26 14:52] Sedveth opened #1688 "Outlaw Rogue Rotation Recommendation is not working"
### Before You Begin

- [x] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 15:25] Cubano0o opened #1689 "DO NOT SUBMIT BUG REPORTS FOR ANY 9.2.7 VERSION OF THE ADDON."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 15:27] woefulwabbit opened #1690 "[REC] Night Fae Balance Druid - Convoke the Spirits not being recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 15:31] #1689 closed, assigned to Hekili

[2022-10-26 15:33] Hekili commented on #1690
I don't think that's the issue; since you're using a dev copy (i.e., not built beta release), I can't triage this and know if I already addressed this or not.

[2022-10-26 15:36] snoblitz opened #1691 "[BUG] [Dragonflight] Hek throwing an error when looting"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 15:38] woefulwabbit commented on #1684
Disabling T28 set bonus seems to fix this

[code]

[2022-10-26 15:50] woefulwabbit commented on #1690
New paste from v10.1.0-beta2
https://pastebin.com/pvrLvjti

[2022-10-26 15:54] woefulwabbit commented on #1690
Commit 554af8d0490798385232581f65dcee2a2e4b8fc4 has fixed this, thanks

[2022-10-26 16:02] daxigua249121589 opened #1693 "[ERROR] Core.lua:47: attempt to index global 'InterfaceOptionsFrameOkay'"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 16:03] daxigua249121589 commented on #1693
This is the only Error(1/1) which the bugsack show

[2022-10-26 16:09] Hekili commented on #1693
Thanks, this will be fixed in the next build.  You can open the addon's options via `/hekili` in the meantime.

[2022-10-26 16:09] #1693 closed, assigned to Hekili

[2022-10-26 16:17] jankozilla opened #1696 "Windfury Totem being repeatedly recommended."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 16:23] Tzuyume opened #1697 "Lua Error Balance Druid"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 16:24] addicu opened #1698 "[BUG] Whirlwind recommended as if with no cooldown when Storm of Swords is talented"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 16:25] N6REJ commented on #1677
only class I see it showing for is for Guardian druid.  I hope we can at least get it working the way it was while its being updated.

[2022-10-26 16:28] Hekili commented on #1696
I'm not able to replicate this on my end.  Please provide the following:

1. Check /hekili > Warnings and select/copy each warning listed and paste here.
2. Type `/dump GetWeaponEnchantInfo()` in-game (with your imbues applied) and paste that information here.

[2022-10-26 16:30] TheHambrick commented on #1677
The talent overhaul is massive for pretty much every spec and their priority. Any recommendation the addon would give you based on the old priorities would be effectively useless. Asking to have it working while it's being updated is like asking the mechanic if you can take your car on a road trip while he's fixing the engine.

[2022-10-26 16:31] Wyste commented on #1698
Fury as a Class/spec is supported, but the APL hasn't been updated for Dragonflight yet. This snapshot appears to be using the SL APL from before the update (which would have been stored in your SavedVariables) even after updating the addon.
You will likely have to wait for an APL to be written for Fury that is DF compatible.

[2022-10-26 16:32] addicu commented on #1698
Understood.

[2022-10-26 16:35] drkrox opened #1699 "[BUG] hekili does not appear on the screen after I installed the latest version"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 16:38] RussellAnas commented on #1699
The same happens with me on Warrior + Hunter. It starts appearing when I go back to the latest Shadowlands version.

[2022-10-26 16:41] SpatenLa commented on #1699
because they arent yet included in the dragonflight release. hekili is working on it.

[2022-10-26 16:46] jankozilla commented on #1696
1. Update: Interface/AddOns/Hekili/State.lua:5779: table index is nil

[string "@Interface/AddOns/Hekili/State.lua"]:5779: in function `ResetQueues'
[string "@Interface/AddOns/Hekili/State.lua"]:6080: in function `reset'
    [string "@Interface/AddOns/Hekili/Core.lua"]:1541: in function <Interface/AddOns/Hekili/Core.lua:1478>

2. [1]=true;
[2]=3501584
[3]=0
[4]=5401
[5]=true
[6]=3503184
[7]=0
[8]=

[2022-10-26 16:47] snoblitz commented on #1696
I also am seeing this. I actually had to disable them to fix it for now.

[2022-10-26 16:57] Wulfknightz commented on #1696
Here is the warnings that are popping up for this. I get same thing on the dump command
Update: Interface/AddOns/Hekili/Classes.lua:114: attempt to compare number with string

[string "@Interface/AddOns/Hekili/Classes.lua"]:114: in function `generate'
[string "@Interface/AddOns/Hekili/State.lua"]:3611: in function <Interface/AddOns/Hekili/State.lua:3569>
[string "@Interface/AddOns/Hekili/State.lua

[2022-10-26 17:04] Hekili commented on #1696
Which version of the addon are you using?

[2022-10-26 17:07] Wulfknightz commented on #1696
Hekili-v10.1.0-beta3.zip

[2022-10-26 17:16] jankozilla commented on #1696
Hekili-v10.1.0-beta3.zip

[2022-10-26 17:24] Cubano0o commented on #1699
how did you get a 10.1 update on hekili. im still stuck on the old version and it says updated

[2022-10-26 17:28] Hekili commented on #1699
There are beta versions posted on CurseForge and everywhere else.

[2022-10-26 17:45] #1690 closed, assigned to Hekili

[2022-10-26 17:45] Wulfknightz commented on #1696
Enhancement; Primary - Windfury Weapon(0.00), Flametongue Weapon(1.08), Windfury Totem(2.17)
build: v10.1.0-beta4
level: 60 (60)
class: SHAMAN
spec: enhancement

talents: ancestral_defense
    ancestral_guidance
    ashen_catalyst
    astral_bulwark
    astral_shift
    capacitor_totem
    chain_lightning
    earth_elemental
    elemental_blast
    elemental_spirits
    elemental_warding
    eleme

[2022-10-26 17:56] drkrox commented on #1699
hekili released a version of 10.0 so ask and let them know since the rotation screen does not appear

[2022-10-26 18:17] SNhurricane commented on #1699
Still doesnt work :( how about you all?

[2022-10-26 18:18] marekCs commented on #1699
Because Priest is not ready yet? Be patient

[2022-10-26 18:18] SpatenLa commented on #1699
what i said didnt change in the last 2 hours.

[2022-10-26 18:18] woefulwabbit opened #1701 "[REC] Covenant abilities not recommended outside Shadowlands after M+ starts"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 18:23] drkrox commented on #1699
just let me know what happens don't be mad :(

[2022-10-26 18:45] K0uds commented on #1699
Same here rotation does not appear after updating to version 10.1.0-beta4

Everything OK with 10.1.0-beta3

[2022-10-26 18:48] Infernas opened #1702 "[BUG] Assasination Rogue Rotation Priority does not progress"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 18:55] chrislloydonline commented on #1699
Same issue for me, ever since todays update Hekili has completely disappeared. All settings are same as they were earlier today, just the interface for Primary/AOE no longer shows up. Have seen on Twitter things are being updated, just wanted to let you know.

[2022-10-26 19:23] chrislloydonline opened #1703 "[BUG] Taint issue (may be resolved)."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 19:24] chrislloydonline commented on #1703
Just before anybody comments I am aware my action bars are empty, this isn't the issue here. Hekili doesn't load on any of my characters, even the ones with full action bars.

[2022-10-26 19:26] jmusick commented on #1703
Have you tried disabling all addons except Hekili to see if that resolves it by chance?

[2022-10-26 19:27] chrislloydonline commented on #1703
I havent, but I will try it now.

[2022-10-26 20:08] markdall commented on #1699
10.1.0-beta4 on a Destruction Warlock. The displays don't appear and there's no message explaining why. If they're not ready, some kind of indication of that would be great. Then none of us would worry about it.

[2022-10-26 20:13] TheKalazar opened #1704 "[REC] GUARDIAN DRUID DOESNT RECOGNIZE INCARN AS BERSERK"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 20:14] baswebbie commented on #1699
There is, in your chat window.

[2022-10-26 20:19] T0xicsmog commented on #1688
grabbed this APL from simming my outlaw rogue if that helps u Hekili

[code]

[2022-10-26 20:22] Tyrakoz opened #1705 "[BUG] Some minor bugs i've been experienced since pre-patch."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 20:35] T0xicsmog commented on #1677
Rogue APL's have been updated, that spreadsheet has not been updated

[2022-10-26 20:42] markdall commented on #1703
Reproduces for me, 10.1.0-beta4.

[2022-10-26 20:53] Hekili commented on #1705
No tickets for 9.2.7.  When I've posted a full release for Dragonflight, feel free to report issues then.

[2022-10-26 20:53] #1705 closed, assigned to Hekili

[2022-10-26 20:53] Hekili commented on #1704
Snapshot is incomplete; I can't even tell which version of the addon you're using.

[2022-10-26 21:02] Hekili commented on #1704
This will be fixed in the next beta.

[2022-10-26 21:02] #1704 closed, assigned to Hekili

[2022-10-26 21:03] Hekili commented on #1703
It's hard to know what can be triggering these taints with all of Blizz's UI changes.  I will no longer register my addon's options in the game's UI, so options will be accessed via `/hekili` or the minimap icon instead.  That may or may not resolve the issue fully.

[2022-10-26 21:03] #1703 closed, assigned to Hekili

[2022-10-26 21:04] Hekili commented on #1702
Please wait for a Dragonflight release.

[2022-10-26 21:04] #1702 closed, assigned to Hekili

[2022-10-26 21:05] Hekili commented on #1699
The first time you cast literally anything, it will warn you that your spec is not yet supported.  Please be patient.

[2022-10-26 21:05] #1699 closed, assigned to Hekili

[2022-10-26 21:08] markdall commented on #1699
Gotta say here folks, no it doesn't. Maybe it's my chat settings? I'm not trying to be difficult here, it truly doesn't. If it did, I'd have never come here and bothered you with it.
![image](https://user-images.githubusercontent.com/238194/198138558-bed45f16-94ab-4c49-b829-2155517ae35e.png)

[2022-10-26 21:08] Hekili commented on #1696
Please test -beta5 and confirm if this is resolved for you.

[2022-10-26 21:09] Hekili commented on #1697
Thanks, this should be fixed in beta5.

[2022-10-26 21:09] #1697 closed, assigned to Hekili

[2022-10-26 21:09] addicu commented on #1698
Just for clarification, the spellID on Whirlwind shouldn't matter, correct? With the Storm of Swords altered Whirlwind being 190411 and the one without CD 1680.

[2022-10-26 21:10] Hekili commented on #1691
You can download a beta version for Dragonflight (with only a handful of specs supported), but please do not submit tickets while using a Shadowlands version of the addon.

[2022-10-26 21:10] #1691 closed, assigned to Hekili

[2022-10-26 21:14] TheHambrick commented on #1699
![image](https://user-images.githubusercontent.com/103148780/198139341-4664be65-d7b8-4f90-9890-7789a43cd798.png)

not the chat box like bas said, but it's there, and it pops up again every time you reload

[2022-10-26 21:16] baswebbie commented on #1699
![image](https://user-images.githubusercontent.com/11398483/198139777-c98808cf-9c3d-48ae-a987-19e03d4c4de6.png)

[2022-10-26 21:20] adamsalem commented on #1696
I was having the same issue and Beta 5 resolves it, thanks!

[2022-10-26 21:24] Hekili commented on #1696
Thanks for confirming!

[2022-10-26 21:24] #1696 closed, assigned to Hekili

[2022-10-26 21:27] markdall commented on #1699
I don't know why you don't believe me. I get that you see what you're supposed to see. I don't.

I showed you my chat window with zero output from Hekili. Here's a snippet of the screen just after a hit a target dummy with a chaos bolt. The notification window is directly there in the middle, if something was going to show up, you'd see it here.
![image](https://user-images.githubusercontent.com/2

[2022-10-26 21:34] jankozilla commented on #1696
works on my side aswell, thx Hekili.

[2022-10-26 21:38] vond82 commented on #1699
I just tried logging in with a class that isn't supported yet and I got the msg immediately upon logging in, in the notification window. There's nothing when you attack a target (that would be extremely intrusive if there was too)

[2022-10-26 21:55] Maro91tp commented on #1688
I tried the latest upload and continue to not work

[2022-10-26 22:13] T0xicsmog commented on #1688
outlaw is still not updated :) give hekili some time :) it could take a bit

Keep an eye on the Actions tab of this Github

[2022-10-26 22:28] tance77 opened #1706 "[BUG] Keybinds not working with Bartender."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-26 22:37] Tzuyume opened #1707 "Stellar Flare is spamrecommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-26 22:59] tance77 commented on #1706
Related from 2 months ago https://github.com/Hekili/hekili/issues/1593

[2022-10-27 00:41] caist4321 opened #1708 "[BUG] Elemental Shaman Missing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 01:18] xathian commented on #1698
It's not perfect, but if you want a roughly functional APL (better than nothing) you can take the one from Raidbots. Just run a Quick Sim of your character then choose "Full HTML Report" then scroll to the APL section and basically just copy paste each line into Hekili's Priority list.

It ain't pretty but it's updated for DF talents, the biggest caveat, and it's a big one, is that Raidbots APLs a

[2022-10-27 01:22] addicu commented on #1698
Okay, cool! thank you

[2022-10-27 01:36] KEH912 opened #1710 "[BUG] Havoc DH - Fel Rush remaining in rotation after unchecking recommend movement and not recognizing keybind."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 01:57] pingitoreluiz opened #1711 "Covenant Skills not being recommended inside of a mythic+ dungeon"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 02:06] sfmulla opened #1712 "[BUG] Interface/AddOns/Hekili/Events.lua:745: attempt to call global 'GetPlayerAuraBySpellID' (a nil value)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 02:07] Hekili commented on #1711
There's already an open ticket and this added no information.  You can add a snapshot to the other ticket.

[2022-10-27 02:07] #1711 closed, assigned to Hekili

[2022-10-27 02:07] Hekili commented on #1712
Wait for a Dragonflight release; do not post tickets for Shadowlands versions of the addon.

[2022-10-27 02:07] #1712 closed, assigned to Hekili

[2022-10-27 02:07] Hekili commented on #1708
I haven't implemented Elemental for Dragonflight yet; it'll be there soon.

[2022-10-27 02:07] #1708 closed, assigned to Hekili

[2022-10-27 02:08] Hekili commented on #1707
Update.

[2022-10-27 02:08] #1707 closed, assigned to Hekili

[2022-10-27 02:08] Hekili commented on #1698
This should be resolved in the latest beta versions.

[2022-10-27 02:08] #1698 closed, assigned to Hekili

[2022-10-27 02:47] UltiDeeps opened #1713 "UH DK APL Has Hardcoded Opener for Gargoyle. Also, Apoc not suggested with Dark Transformation."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 02:51] Hekili commented on #1713
Can you post snapshots from when the Apocalypse issue is actually occurring?  Specifically, when it is second-in-queue per your description.  Thanks!

[2022-10-27 02:58] UltiDeeps commented on #1713
https://pastebin.com/2zfz2N7P

Updated snapshot of the moment.

[2022-10-27 02:58] marclapl commented on #1706
Looks like it's from a change in Bartender4

They changed the GetBindingKey from :LeftClick to :Keybind

Here's an exemple:

![image](https://user-images.githubusercontent.com/67342980/198180506-3b3b9fd9-02f8-4020-bed4-8933608e7ac2.png)

seen in the code of Bartender4:
https://github.com/Nevcairiel/Bartender4/commit/4907a6ae639a7ac5ea19960bf9209c7306d059f1

[2022-10-27 03:24] NokuraWoW opened #1714 "[BUG] Not recommending Spear of Bastion for Prot Warrior"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 03:28] penguinlust commented on #1714
This is true of all Covenant abilities for warriors, I suspect -- I'm not seeing Ancient Aftershock (Night Fae) on Arms. Heck, I'm not seeing any equipped item abilities either, like Gavel of the First Arbiter.

[2022-10-27 05:02] Wyste commented on #1714
It's likely because the name is the same as the talent. SIMC handled this by renaming the Cov ability to "kyrian_spear" within the code, something similar might need to be done here as well, to differentiate between the two (covenant vs class ability).

penguinlust's statement about all cov abilities not being recommended is false, the included APL in the current DF release just doesn't include An

[2022-10-27 05:55] Sammzy1 commented on #1714
Without making a new thread. Just will type it here. Odyn's Fury is also not showing up

[2022-10-27 06:20] Sammzy1 commented on #1714
Sweeping Strikes for Arms also doesn't show up in recommended list

[2022-10-27 06:35] penguinlust commented on #1714
Ok, fair enough. The APL is probably woefully inadequate at this point and if so that's not a Hekili issue. Trying to figure out why no equipped items are showing up either, but it's probably the same issue.

[2022-10-27 06:39] tance77 commented on #1706
I think this PR that I made will fix the bartender issue, I just really quickley skimmed through the Event.lua file and did a replace on the ones that were referencing bartender. This may be completly wrong but I thought I would open a PR just for the heck of it.

https://github.com/Hekili/hekili/pull/1715

[2022-10-27 06:40] pingitoreluiz commented on #1714
be sure to see if youare doing a shadowlands content. Because he disabled the cov abilities outside of shadowlands but they aren't working for S4 dungeons that go outside of shadowlands(Iron Docks, Grimrail Depot, Mehcagon and karazhan)

[2022-10-27 08:24] thomasbrezina opened #1716 "[REC] 3 Issues with Protection Warrior"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 09:12] marekCs opened #1717 "[REC] [Dragonflight] - BM - Death Chakram is never recommended for the first position"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 09:19] marekCs commented on #1717
Btw on BM and also on MM it still snapshots my chat, even when I turn off automatic snapshots.

[2022-10-27 09:28] Wiqz opened #1718 "[REC] Vengeance DH - Fracture is being recommended I believe but the icon is wrong."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 09:34] CedricPriouret opened #1719 "[BUG] CAN'T STOP LEFT CLICK TO MOVING INTERFACE"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 10:05] ltbutterman opened #1720 "[REC] BLOOD DK NOT USING EMPOWER RUNE WEAPON IN CDS OR ROTATION."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 10:32] ltbutterman opened #1721 "FURY WAR BETA ROTATION STILL NOT FUNCTIONAL/RESPONDING"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 11:15] RoseFarts commented on #1718
Similarly, with beta7 I get a recommandation for shear, although there is not enough fury available: https://pastebin.com/BXkGVJey

The title here might be misleading, but shear should not be recommanded, if there is not enough fury to cast it.

[2022-10-27 11:29] ghost commented on #1683
Similarly, with beta7 I get a recommandation for soul cleave, although there is not enough fury available: https://pastebin.com/BXkGVJey

[2022-10-27 11:31] CedricPriouret commented on #1719
Problem solved with Hekili Beta :)

Sorry.

[2022-10-27 11:52] ghost commented on #1683
Regarding the covenant abilities: when I simply test IsUsableSpell("Elysian Decree") ingame, it returns the expected behaviour. In Shadowlands its true, in dalaran e.g. its not true. I could not find in your code where or if that ingame function is applied for every spell recommandation.

[2022-10-27 12:09] Hekili commented on #1713
This is an APL issue that I'll need to resolve.  Thanks!

[2022-10-27 12:32] Cubano0o commented on #1677
has the new 10.0 verison come out yet bc i dont see it. i use wowup and its still on that 9.2 version. and the addon isnt appearing on my screen.

[2022-10-27 12:36] Cubano0o opened #1722 "[BUG] REPLACE THIS TEXT WITH A SHORT DESCRIPTION OF THE BUG YOU ARE REPORTING"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 12:49] Yaooti opened #1724 "[REC] BM Cleave Cobra shot issue."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 13:18] Wyste commented on #1677
You need to change the channel to the BETA channel in WoWUp. After that you'll see version v10.1.0betaX.
![image](https://user-images.githubusercontent.com/5103286/198294803-1d63fa57-8823-4047-acae-fe3a88c2a052.png)

[2022-10-27 13:49] OhsawaSenpai opened #1725 "[REC] Arms Warrior - Rend not being recommended properly, sometimes rotation seems to get stuck"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 14:19] Prejudice182 commented on #1722
You have the wrong version. Your version needs to be at least 10.x to view rotations on prepatch. From your player information, you are still on 9.2.7-1.0.0b. WowUp shows version 10.1.0-beta7 as the latest available on it.

[2022-10-27 14:34] MrBean73 opened #1726 "[REC] Covenant ability Wild Spirit outside of SL for BM Hunter"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 15:02] tomtim90 commented on #1717
Having the exact same issue with MM. I suspect it's the talent/covenant ability issue that other specs are having. Death Chakram is simply not being suggested.

[2022-10-27 15:04] RussellAnas commented on #1717
I'm having the same issue on MM. Death Chakram is not being recommended.

[2022-10-27 15:11] irdx commented on #1725
I've been testing and got a conclusion:

The rotation becames stuck when Warbreaker/Colossus smash is recommended on the rotation list. Once you use colossus/warbreaker, the rotation flows normally.

Temporally fix: on addons settings, remove warbreaker/colossus recomendation :)

[2022-10-27 15:16] Hekili commented on #1726
Can you do me two favors?

1. Can you type `/dump Enum.CovenantType` in chat and share the result?
2. Can you mouse over your Wild Spirits ability and post a screenshot of the tooltip?

This may be a locale issue for the German client.  Thanks!

[2022-10-27 15:25] MrBean73 commented on #1726
sure :-)

![Dump_Enum](https://user-images.githubusercontent.com/116820193/198331862-e7383430-e581-44b0-a233-44ac2f22a133.png)
![WildSpirits-German](https://user-images.githubusercontent.com/116820193/198331919-9fd8535f-358a-4f72-a24f-2cd99b061281.png)

[2022-10-27 15:28] bchinfoon commented on #1724
I made a copy of my Beast Mastery priorities and went to action list and edited the following for cleave:
21. Kill Command:
focus > cost
25. Cobra Shot:
focus.time_to_max < gcd * 2 & cooldown.kill_command.remains

I'm not sure if this is 100% optimized or not, but I am getting pretty much 100% uptime on beast cleave and 3 stacks of frenzy maintained pretty much all the time so I think it's a decen

[2022-10-27 16:22] luisillo1cr opened #1728 "[BUG] [Dragonflight] Multiple Lua error messages when entering the game"
- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Desc

[2022-10-27 16:25] Hekili commented on #1728
I'm guessing this is a Shadowlands version of the addon.  There are beta versions you can download on CurseForge to test, but I have not posted a full release for Dragonflight yet.

[2022-10-27 16:25] #1728 closed, assigned to Hekili

[2022-10-27 16:25] Hekili commented on #1726
Ok, the next beta build should address this.

[2022-10-27 16:25] #1726 closed, assigned to Hekili

[2022-10-27 16:29] Ole6731 opened #1729 "[BUG] LUA Error on Ret Paladin"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 17:06] Hekili commented on #1725
Please provide the talent export from the game, instead of Wowhead links.  I can't import the Wowhead links.

If Rend isn't detected, it's likely an issue with a talent changing its spell ID.  Are you able to see the spell ID of the Rend debuff on your target?

[2022-10-27 17:07] ghost commented on #1718
you are not on the old SL build.
Download latest version here https://github.com/Hekili/hekili/releases or on wowup/ curseclient

[2022-10-27 17:09] ghost commented on #1683
I found a fix for the elysian decree problem: https://github.com/Hekili/hekili/pull/1730 with other small fixes.

The fury problem is not 100% reproducible on my end either.

[2022-10-27 17:09] #1683 closed, assigned to Hekili

[2022-10-27 17:10] Hekili commented on #1729
You are using a 9.2.7 version.  There is not a release for Retribution for Dragonflight yet.

[2022-10-27 17:10] #1729 closed, assigned to Hekili

[2022-10-27 17:10] Hekili commented on #1724
Ticket is lacking required info.

[2022-10-27 17:10] #1724 closed, assigned to Hekili

[2022-10-27 17:11] #1722 closed, assigned to Hekili

[2022-10-27 17:11] Hekili commented on #1721
Ticket is lacking required information.

[2022-10-27 17:11] #1721 closed, assigned to Hekili

[2022-10-27 17:11] Hekili commented on #1720
Ticket is lacking required information.

[2022-10-27 17:11] #1720 closed, assigned to Hekili

[2022-10-27 17:11] #1719 closed, assigned to Hekili

[2022-10-27 17:12] Hekili commented on #1718
Yes, please update to a Dragonflight version of the addon.  No tickets for 9.2.7 anything.

[2022-10-27 17:12] #1718 closed, assigned to Hekili

[2022-10-27 17:14] Hekili commented on #1717
Try beta8 and report back.

If snapshots are generated, it's a good idea to put them on Pastebin and link them so I can read them.  :)

[2022-10-27 17:19] Hekili commented on #1716
Should be addressed in next beta.

[2022-10-27 17:19] #1716 closed, assigned to Hekili

[2022-10-27 17:22] RussellAnas commented on #1717
I didn't see snapshots taken by the addon, but it is still not recommending Death Chakrams on MM. Here is the data for my char profile atleast if it helps:

*clipped*

[2022-10-27 17:31] tomtim90 commented on #1717
Beta 8 still doesn't show Chakram for MM. BM it never makes it to the next action icon. Staying at 2nd or 3rd priority. Seeing the same MS spam behavior reported above for BM.

BM - https://pastebin.com/BfAfTRFw

MM - https://pastebin.com/3keVdbim

[2022-10-27 17:41] ravisangha commented on #1718
I was hoping to get some clarification about the 9.2.7 version of the addon. Should people be using the 10.0 beta versions of the addon while playing the current live game which is in prepatch, or is that for the beta client? If we are able to use the beta releases for the live game, do I just extract the file into my retail addon files? Ive tried that and the game did not pick up the addon. Any h

[2022-10-27 17:42] woefulwabbit commented on #1684
Base cost of Starsurge has been increased from 30 to 40
https://www.wowhead.com/spell=78674/starsurge
![image](https://user-images.githubusercontent.com/8460043/198360981-67a80802-a22d-4d02-8bf3-a9d836ded680.png)

Dragonflight/DruidBalance.lua line 2508:
[code]

[2022-10-27 17:43] marekCs commented on #1684
Oh, that might be it, thanks

[2022-10-27 17:55] kkelley1987 opened #1731 "[REC] [Dragonflight] Death Knight / Unholy - Death And Decay Recommended when standing in Death And Decay with Death's Echo Talent"
### Before You Begin

- [x] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 17:56] woefulwabbit commented on #1684
Also looks like Elune's Guidance astral power cost reduction isn't implemented yet

[2022-10-27 18:08] marekCs commented on #1717
I can confirm as well that on beta8 there is no Death Chakram recommendation, 2 minutes fight with MM, and with BM, same situation like before, DCH is max 2nd in the order but never first spell in the row, [pastebin](https://pastebin.com/AtcH501c)

[2022-10-27 18:15] marekCs opened #1732 "[BUG] [Dragonflight] Beast Mastery - autosnapshot creates snapshots after each I'm targeting a target"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 18:31] Hekili commented on #1717
@marekCs:  Type `/dump GetSpellInfo( "Death Chakram" )` and let me know what you see in chat.

@tomtim90:  Your BM snapshot has too much focus to recommend Death Chakram.  There's logic looking to spend down Focus before using Death Chakram, but I'm sure it feels counterintuitive.  Hopefully, new APLs account for this fairly quickly.

For MM, it says you don't know the spell (so obviously a bug).

[2022-10-27 18:36] marekCs commented on #1717
It says:
1 - Death Chakram
3 - 3578207
4 - 0
5 - 0
6 - 40 on BM and on MM it's: 43.17142868042
7 - 375891
8 - 3578207

[2022-10-27 18:48] Hekili commented on #1717
I'm posting possible fixes in beta9 now.

[2022-10-27 18:49] Hekili commented on #1731
Please clarify.  Is Death and Decay on cooldown when it's being recommended?

[2022-10-27 18:52] kkelley1987 commented on #1731
No, Death's Echo gives you a second charge of Death and Decay.
![image](https://user-images.githubusercontent.com/1396307/198374440-27b97a49-299c-4023-81ad-48d50d5ecdab.png)

[2022-10-27 18:54] Hekili commented on #1731
Ah, okay.  This is a simple priority issue, then.  When I get actual DF priorities that account for charges, it'll be resolved.

[2022-10-27 18:57] Plasmaxyz opened #1733 "[REC] BM Hunter Cobra Shot Recommended Too Often in AOE"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 19:02] marekCs commented on #1717
Marksman - v10.1.0-beta9 - Death Chakram works, it's the first spell to come to the foreground, however the icon doesn't disappear immediately after the cast, it goes dark like it's offcd and is there in the first place for about 5 - 10 seconds. I'll try on BM now.
BM same

[2022-10-27 19:03] marekCs commented on #1717
Now it seemed to me that on BM late registered the system that the Death Chakram was pressed, because it stopped as offcd only in the second place, it works as if with a delay. [Pastebin](https://pastebin.com/mtC9W4E6)

[2022-10-27 19:15] T0xicsmog commented on #1677
Not officially I don't think. There's some class support for beta versions
which U can get off the github

On Thu, 27 Oct 2022, 10:32 pm Cubano0o, ***@***.***> wrote:

[2022-10-27 19:16] tomtim90 commented on #1717
It's showing up on marksman but like @marekCs said...something is locking up. It's like the addon gets stuck for a few GCDs showing Chakram and abilities you've already pressed without updating. Addon will not snapshot while it happens. I did get a screenshot of it. You can see Chakram has been pressed as of 3-4 seconds prior but the addon has frozen.

Snapshot MM post addon freeze - https://paste

[2022-10-27 19:18] tomtim90 commented on #1717
Another MM snapshot directly post freeze https://pastebin.com/GFdyhKBT

[2022-10-27 19:24] Cubano0o opened #1735 "[BUG] REPLACE THIS TEXT WITH A SHORT DESCRIPTION OF THE BUG YOU ARE REPORTING"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 19:25] marekCs commented on #1735
https://www.curseforge.com/wow/addons/hekili/files/all

[2022-10-27 19:34] Nepv1 opened #1736 "Enhance Shaman; Post Primordial Wave (Talent) doesn't recommend using a lightning bolt in aoe when playing venthyr covenant"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 19:36] Cubano0o commented on #1735
this is for curseforge not wowup?

[2022-10-27 20:04] Ohm1989 opened #1737 "10.1.0-beta9 - Havoc DH: Not recommending Vengeful Retreat to activate Initiative talent, and not recommending Sigil of Flame"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 20:10] UltiDeeps commented on #1713
I received clarification on the play style from APL writer. In DF, Apoc and DT will be synced all of the time while in pre patch due to a conduit, Apoc is casted on CD since it’s reduced so heavily.  When release happens and the conduit goes away they are always synced. Not sure if this has any impact on what you plan to do moving forward.

[2022-10-27 20:10] UltiDeeps commented on #1713
Sorry didn’t mean to close. Reference above comment.

[2022-10-27 20:12] Gyudon47 commented on #1735
You need to change the download to beta or alpha. You're downloading the stable version. All dragonflight releases are still in beta

[2022-10-27 20:12] UltiDeeps commented on #1713
Did not mean to close ticket. Phone is misreading screen inputs because cracked glass I think? Lol

Reference above comment.

[2022-10-27 20:26] Glendan78 opened #1738 "Issue with moving addon on the screen"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 20:27] irdx commented on #1725
so far I know, the spell id remains the same
![image](https://user-images.githubusercontent.com/1235043/198390803-960d2292-781a-45c5-9428-390927384f79.png)

The bug of spell queue being stuck when Colossus/Warbreaker are on the queue is still happening.

with colossus:
![image](https://user-images.githubusercontent.com/1235043/198391050-34814f9d-2a64-488a-a4fc-c682d85bf70f.png)

colossus on cd:
![

[2022-10-27 20:27] Glendan78 commented on #1738
Also have noticed that when swapping Wake of Ashes with Radiant Decree the addon doesn't seem to recognize Radiant Decree

[2022-10-27 20:30] Wyste commented on #1738
Your using the wrong version of the addon for the new PrePatch retail is on. Use the beta version of the addon in whatever addon updater you use. You want the latest version (10.1.0-betaX)

Also, Paladin's are not yet fully implemented in the pre-patch version of the addon, so you will need to be patient and keep watching the changelog of the releases to see when it's added.

[2022-10-27 20:36] Glendan78 commented on #1738
Thank you for the fast response and making this addon that I have been
using for years.

On Thu, Oct 27, 2022 at 3:30 PM Wyste ***@***.***> wrote:

[2022-10-27 20:37] Wyste commented on #1738
Nope, I don't make it, Hekili makes the addon. I'm just trying to be helpful!

[2022-10-27 20:41] Kranky916 opened #1739 "[REC] 10.1.0-beta9 - Fury Warrior not recommending Spear of Bastion, Avatar, or Odyn's Fury"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 20:50] Wyste commented on #1739
Fury's APL (which came from SIMC) does not have them included in the rotation list currently.
You can either add them yourself (and any other missing new talent/ability) to the rotation, or wait for SIMC to update their APL's and then Hekili to update the addon for the Fury spec.

[2022-10-27 20:53] addicu commented on #1739
I have noticed that if you have Spear of Bastion untalented and you're in SL (with Kyrian Covenant) the APL skips it.

[2022-10-27 20:55] Wyste commented on #1739
Covenant/new talent overlaps are tricky at the moment. #1714 already covers this (with some discussion) and I imagine a better solution is being worked on as well, but not yet currently fixed as of this time.

[2022-10-27 21:18] RumbleDumble opened #1740 "Celestial Alignment not being registered as used. So keeps suggesting it, despite being on CD"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-27 21:28] OhsawaSenpai commented on #1725
@Hekili my current build: BcEAAAAAAAAAAAAAAAAAAAAAAAAkkkkkQkoUSSAAAAABRkoQAEJQiAHgmEhASQIAAAAAAAA4AgEJA

I have also tried what @irdx mentioned, and it works fine after disabling Colossus!

[2022-10-27 21:29] IIeTpoc commented on #1740
Install please Bugsack and Buggrabber addons. Then reboot wow, turn off all addons but Hekili Bugsack Buggrabber and start following recommendations. When this error occures again post both snapshot and LUA errors from BugSack on different links via pastebin.com and put links here. It will help fixing the problem

[2022-10-27 21:37] RumbleDumble commented on #1740
I'm not getting an Error at all

[2022-10-27 22:54] Bsirk commented on #1740
Then you are going to have to do a !snapshot You can read how to do this in the discord and take a snapshot of when this is happening. Then add it to the ticket.

[2022-10-27 23:16] hubikys opened #1741 "[FEATURE] REPLACE THIS TEXT WITH A BRIEF DESCRIPTION OF YOUR NEW FEATURE"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-10-27 23:22] #1741 closed, assigned to Hekili

[2022-10-27 23:23] Hekili commented on #1740
Yeah, this belongs as a Recommendations ticket with the required information submitted correctly.  Feel free to resubmit if needed.

[2022-10-27 23:23] #1740 closed, assigned to Hekili

[2022-10-27 23:23] #1738 closed, assigned to Hekili

[2022-10-27 23:36] RumbleDumble opened #1742 "Celestial Alignment being recommended while on CD and after use"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 23:48] RumbleDumble opened #1743 "Convoke the Spirits being recommended for Feral despite not having the talent and not being in SL's content"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-27 23:52] Hekili commented on #1743
Your snapshot is not complete.  Make sure to CTRL+A to select all and CTRL+C to copy.

[2022-10-27 23:53] Hekili commented on #1742
Your snapshot is not complete.

[2022-10-27 23:56] RumbleDumble commented on #1743
https://pastebin.com/PPmUDVX2

Here's Feral one

[2022-10-27 23:57] RumbleDumble commented on #1742
https://pastebin.com/TMgnFySz

Here is Balance snapshot :)

[2022-10-28 00:00] Hekili commented on #1742
Thanks.  Is there anything in the "Warnings" section of the addon when this occurs?

[2022-10-28 00:02] RumbleDumble commented on #1742
Nope, nothing. No error or anything

[2022-10-28 00:02] Hekili commented on #1743
This will be fixed in the release tonight.

[2022-10-28 00:02] #1743 closed, assigned to Hekili

[2022-10-28 00:15] bchinfoon commented on #1733
I posted this in another ticket that got closed...but for me this has worked as a stop gap until there is a fix:

I made a copy of my Beast Mastery priorities and went to action list and edited the following for cleave:
21. Kill Command:
focus > cost
25. Cobra Shot:
focus.time_to_max < gcd * 2 & cooldown.kill_command.remains

I'm not sure if this is 100% optimized or not, but I am getting pretty m

[2022-10-28 00:22] ghost opened #1745 "[BUG] Spellflash sometimes fails to flash on some abilities."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 00:32] Shizukanashi opened #1746 "Feral Druid - Feral Frenzy/Furious Bite Apex procs recommended as opener from prowl"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 00:35] aemar32 opened #1747 "[BUG] LUA Error with HUD Edit Mode"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 01:14] mackdoherty opened #1748 "[REC] MM Hunter - Stuck on recommending steady shot."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 01:15] pingitoreluiz opened #1749 "Enhancement shaman- Fae trasnfusion not being recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 01:19] orcphelia opened #1750 "Enhancement only showing windfury, flametongue, and lightning shield"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 01:22] Mishel71 opened #1751 "[BUG]the icons aren't showing up on my screen"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 01:30] vond82 commented on #1751
1. You're using a Shadowlands release that doesnt work for the pre-patch. Set up your addon manager to download beta versions to get Hekili to work with pre-patch. :)
2. Mage is not yet implemented in the beta mentioned above, Hekili is working on adding every spec but with so much changed everyone just has to be patient

[2022-10-28 01:36] mackdoherty commented on #1717
Can confirm the MM chakram freeze is continuing. Applicable pastebin with warnings here: https://pastebin.com/8ViULeAX

[2022-10-28 01:38] Terenfirehawk opened #1752 "Multiple Lua Errors on lvl 54 DK"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 01:44] vond82 commented on #1752
You're using a Shadowlands release that doesnt work for the pre-patch. Set up your addon manager to download beta versions to get Hekili to work with pre-patch. :)

[2022-10-28 03:40] ghost commented on #1745
Updated with the correct Feral talent build.

Also might be relevant.
I have Moonfire on Shift-2 and New Moon on Shift-3, could it be that those keybinds are sometimes not detected?

[2022-10-28 03:40] UltiDeeps commented on #1713
https://pastebin.com/wZr6dKSh

Above is a snap shot that takes place right after I Dark Transformation and should subsequently Apoc but it instead shifted a Death Coil to the front which if hit will then send Apoc down the suggestion chain even deeper again.

[2022-10-28 03:52] #1752 closed, assigned to Hekili

[2022-10-28 03:52] #1751 closed, assigned to Hekili

[2022-10-28 03:52] Hekili commented on #1750
Snapshot is incomplete, but I'm posting a release in a bit, so you can open a new ticket if you're still having issues after installing the release.  Thanks.

[2022-10-28 03:52] #1750 closed, assigned to Hekili

[2022-10-28 03:57] #1749 closed, assigned to Hekili

[2022-10-28 04:02] #1748 closed, assigned to Hekili

[2022-10-28 04:03] Hekili commented on #1747
This is a "taint" issue -- your error message blames a different addon.
`1x [ADDON_ACTION_FORBIDDEN] AddOn 'Classic Quest Log' tried to call the protected function 'ClearTarget()'.`

[2022-10-28 04:03] #1747 closed, assigned to Hekili

[2022-10-28 04:06] Hekili commented on #1746
I'm going to leave this as-is, since the Feral theorycrafters seem to have set this up intentionally.  I'll watch for priority updates from them and update if this changes.

[2022-10-28 04:06] #1746 closed, assigned to Hekili

[2022-10-28 04:10] Hekili commented on #1745
Initial release will have a fix in place.  If it isn't resolved, feel free to reopen the ticket.

[2022-10-28 04:10] #1745 closed, assigned to Hekili

[2022-10-28 04:10] Hekili commented on #1742
I think this is resolved; let me know if this is still happening for you after the initial 10.0 release goes live (in a half hour or so).  If it's still having problems, add new snapshots to the ticket.  Thanks.

[2022-10-28 04:10] #1742 closed, assigned to Hekili

[2022-10-28 04:11] Hekili commented on #1739
Warrior priorities will be updated to include abilities when there's a priority written that includes them.  SimC doesn't have updates for Warrior yet.  @Wyste might help fill in the blanks in the meantime.

[2022-10-28 04:11] #1739 closed, assigned to Hekili

[2022-10-28 04:14] Hekili commented on #1737
This should be resolved in the release coming out in a few minutes.  If not, feel free to reopen.

[2022-10-28 04:14] #1737 closed, assigned to Hekili

[2022-10-28 04:19] Hekili commented on #1736
Please test after installing the release version of the addon.  Thanks!

[2022-10-28 04:19] #1736 closed, assigned to Hekili

[2022-10-28 04:24] Hekili commented on #1733
The Kill Command edit shouldn't really matter there.  I've made a couple of similar edits and they'll be in the release version.  If it is still an issue after the release, let me know.  I'll keep an eye out for updated Hunter priorities.

[2022-10-28 04:24] #1733 closed, assigned to Hekili

[2022-10-28 04:24] #1735 closed, assigned to Hekili

[2022-10-28 04:25] Hekili commented on #1732
The snapshot you posted is from your Interrupts display.  Please update with a snapshot from your Primary display if/when it occurs.

[2022-10-28 04:25] Hekili commented on #1731
Let me know if this is still an issue after the release.

[2022-10-28 04:25] #1731 closed, assigned to Hekili

[2022-10-28 04:31] Hekili commented on #1725
When you say Colossus, are you referencing Colossus *Smash* or something else that I should know about?

Please let me know if this is resolved in the release version, or if I need to investigate further.  I have not been able to replicate this issue with/without Colossus Smash and/or Warbreaker.  If you are still having the issue after the release, be sure to provide an updated snapshot when this

[2022-10-28 04:33] Hekili commented on #1717
This should be resolved in the upcoming release.

[2022-10-28 04:33] #1717 closed, assigned to Hekili

[2022-10-28 04:34] Hekili commented on #1714
There are no current Warrior priorities from SimulationCraft that have these abilities.  Will update when a priority is written.

[2022-10-28 04:35] Hekili commented on #1713
May be resolved in the release.  If not, feel free to reopen.

[2022-10-28 04:35] #1713 closed, assigned to Hekili

[2022-10-28 05:48] MrBean73 commented on #1733
hi Hekili, i think you forget the conditions for cobra shot under "cleave" , "Cobra Shot" the field is blank in release. and the behavoiur is the same as before. too many cobra shots

[2022-10-28 05:59] Fynnconceivable opened #1753 "[BUG] Enhancement shaman - Doom Winds legendary breaks queue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 06:07] Dov1an opened #1754 "Arms Missing, Fury Broken, Ret minor broken"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 06:21] Dazdruid opened #1755 "Balance Druid keeps recommending Starsurge when I don't have enough Astral Power to cast."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 06:27] kkelley1987 commented on #1731
fixed

On Fri, Oct 28, 2022 at 12:25 AM Hekili ***@***.***> wrote:

[2022-10-28 06:38] TerrySmith22 opened #1756 "[REC] RET PALADIN, CONTINUES RECOMMENDING RADIANT DECREE WHILE ON CD"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 06:38] penguinlust commented on #1714
I should add that when I run simulationcraft directly these abilities do show up as does the equipment in the generated action priority list. I can't find it in their code (admittedly haven't looked too hard), but it's doing the right thing. However, I was able to directly add this stuff to the Hekili priority lists and it works just fine.

[2022-10-28 06:44] TakeyaIkuhara opened #1757 "Warrior/Fury Passiv abalities showned"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 07:36] OhsawaSenpai commented on #1725
@Hekili, yes, I'm referring to Colossus Smash (https://www.wowhead.com/spell=167105/colossus-smash).

I have updated to the latest version v10.0.0-01.

The issue persists:
![image](https://user-images.githubusercontent.com/116802120/198530607-c967582a-7faa-46b0-a06e-b74b2831b34a.png)

Since I am still determining if I'm accurately collecting the snapshots, I tried to collect them 3 times.
[new-1.t

[2022-10-28 08:33] xathian commented on #1754
Doesn't really matter much, Hekili is basically worthless for Warriors right now anyway. The dev didn't pull down functional prepatch APLs from the Warrior Discord (I don't blame him, they're hard as hell to find), he just imported Simc's defaults which are not updated at all and are just copypasted from Shadowlands.

This leaves Fury not ever casting Avatar, Slam (Annihilator), Thunderous Roar, S

[2022-10-28 08:43] Wouterdude opened #1758 "[Bug] Ret Paladin, not recommending Templar's Verdict / Final Verdict with final verdict legendary equipped"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 08:49] Wouterdude commented on #1758
talent build:

BYEAwtJ2KpR8WbGzhz/jy2AP8AAAAAAgQAIKpFJSOAAplSSSKlAAAAAAAICJJplAJJFkEUOgSA

[2022-10-28 09:16] Reunion2792 opened #1759 "[BUG] RET PALADIN - NOT RECOMMENDING ANY HOLY POWER ABILITIES OR WAKE OF ASHES or AVENGING WRATH"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 09:17] Reunion2792 commented on #1759
Talents
BYEAAAAAAAAAAAAAAAAAAAAAAAAAAAAIQAIKplIRCAKplkkWJAAAAAAASDJJpIQSShDkEUCB

[2022-10-28 10:23] hubikys commented on #1741
так он не работает

[2022-10-28 10:29] hubikys opened #1760 "[FEATURE] REPLACE THIS TEXT WITH A BRIEF DESCRIPTION OF YOUR NEW FEATURE"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-10-28 10:36] Jacii1121 commented on #1758
Snapshot that I hope supports this ticket.  - https://pastebin.com/X1kZN9fR
Warnings - https://pastebin.com/aj5wTdHx

[2022-10-28 11:41] tomtim90 commented on #1733
Yeah still getting a lot of Cobra Shots recommended during cleave.

https://pastebin.com/2EdyNEdp

Often telling me to spam CS 3x in a row on 3 targets.

10.0.0-01 release.

[2022-10-28 11:49] Pulseonline opened #1761 "RET PALADIN NOT RECOMMENDING TEMPLARS VERDICT OR FINAL RECKONING EVER"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 11:50] TheHambrick commented on #1760
To save you a trip to google translate: The guy is asking, "why do you immediately close my topics, your addon does not work, I just want to know the approximate waiting time."

If they were all exceedingly high quality tickets similar to this one, I'm not sure why you would close them /s

[2022-10-28 12:05] Hekili commented on #1761
Thanks, this will be fixed in a little bit.

[2022-10-28 12:05] #1761 closed, assigned to Hekili

[2022-10-28 12:08] #1760 closed, assigned to Hekili

[2022-10-28 12:09] Hekili commented on #1759
This should be resolved by the same fix as #1761 -- I'll post an update in a few minutes.

[2022-10-28 12:09] #1759 closed, assigned to Hekili

[2022-10-28 12:12] Hekili commented on #1758
Thanks for the ticket and snapshot.  This should be fixed by the same fix as #1761, and the warning re: Aspiration of Divinity will be resolved at the same time.

[2022-10-28 12:12] #1758 closed, assigned to Hekili

[2022-10-28 12:13] Hekili commented on #1757
Your snapshot is not complete, use CTRL+A and CTRL+C to copy the whole snapshot (there should be many lines of text).

What specific passive ability are you seeing?

[2022-10-28 12:15] Hekili commented on #1757
It looks like the displayed abilities are:
1. Recklessness
2. Dreadfire Vessel (trinket)
3. Blood Fury (racial)

None of those are passive abilities.  Am I mistaken?

[2022-10-28 12:20] Hekili commented on #1756
Thanks, fixing now.

[2022-10-28 12:20] #1756 closed, assigned to Hekili

[2022-10-28 12:23] Hekili commented on #1755
Can you post your talent string please?  Thanks.

[2022-10-28 12:30] Hekili commented on #1754
Yeah, it'd be great if SimulationCraft priorities for Dragonflight were found in the dragonflight branch of SimulationCraft.

In the future, @xathian, when there are out-of-date priorities, you can just put in a ticket with the updated APL and its source and I'll check it out.  Thanks for posting this here.

@Dov1an:  Please don't put 3 separate issues in one incomplete bug report.  If you're not

[2022-10-28 12:30] #1754 closed, assigned to Hekili

[2022-10-28 12:33] Hekili commented on #1753
I'm going to post a new release; please let me know if you still have issues with Doom Winds / WFT after updating.

[2022-10-28 12:33] #1753 closed, assigned to Hekili

[2022-10-28 12:33] #1732 closed, assigned to Hekili

[2022-10-28 12:35] Hekili commented on #1725
Snapshots 1 and 2 don't show Rend at the front of the queue.  Snapshot 3 shows Rend at the front.

If you open /hekili > Warnings after experiencing this issue, are there any messages in the dropdown?  If so, please copy and paste them here.  Thanks!

[2022-10-28 12:36] OhsawaSenpai commented on #1725
No warnings showing up.

[2022-10-28 12:37] OhsawaSenpai commented on #1725
Would it help if I recorded a video for example?

[2022-10-28 12:38] Hekili commented on #1725
Video wouldn't hurt, but probably won't help.

If you took all three of those snapshots when Rend appeared at the front of the queue, it sounds like a display bug.  In which case, there should be either Warnings or error messages that could be caught with BugSack/BugGrabber.

[2022-10-28 12:51] irdx commented on #1725
The bug isn't related to Rend itself.

When addon suggests to use Colossus Smash/Warbreaker, the spell queue gets stuck until we use colossus smash/warbreaker.
Like you said, it sounds like a display bug.

When we remove Colossus Smash/Warbreaker from spell suggestions on Hekili, the spell queue doesn't get stuck at all.

I'll try to generate some snapshots and grab error messages laterly. I'm wor

[2022-10-28 12:52] cs96 opened #1762 "[BUG] Suggested abilities not changing properly"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 12:59] Ormal1708 commented on #1688
Please ensure Dreadblades is included. Any idea when rogue will be available?

[2022-10-28 13:07] cs96 commented on #1762
https://gfycat.com/frenchcompassionatearcticfox
video shown here

[2022-10-28 13:31] OhsawaSenpai commented on #1725
Sorry if this is not the correct one: [new-4.txt](https://github.com/Hekili/hekili/files/9888803/new-4.txt)

I confirm what @irdx is saying - if Colossus Smash/Warbreaker is disabled, everything seems to work just fine!

[2022-10-28 13:35] Hekili commented on #1725
Yes, the challenge is that it works just fine for me 100% of the time.  If the display doesn't update due to an error, I need the error messages (from BugSack/BugGrabber) or warnings (from /hekili > Warnings).  I don't have this issue in my own testing, with or without Colossus Smash, Warbreaker, etc.

[2022-10-28 13:56] Pulseonline opened #1763 "Ret paladin Still not recommending Final Reckoning Or Radiant Decree"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 14:00] Dazdruid commented on #1755
BYGAGX1kx6Mci9Zl2t+S+sRoPCAAAAAAAAAAAAAAAAAAAoAQSiIQChkEkIgWCJ5ARayBIEISaJJESDgA

[2022-10-28 14:01] TakeyaIkuhara commented on #1757
Sorry for the waste of time... yes, it was the trinket and the racial (I'm really a noob ^^' )

[2022-10-28 14:06] johndolotko opened #1764 "Some/all keybinds not detected"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 14:57] OhsawaSenpai commented on #1725
Unfortunately, there is no **warning** 😢

[2022-10-28 14:58] OhsawaSenpai commented on #1725
Have you tried with **Colossus Smash** specifically? No **Warbreaker**.

I think the behavior might be different, will test again and share the results.

[2022-10-28 15:10] manu310891 commented on #1725
I have the same issue but only when I skill Test of Might. I get the following error in Hekili:
Update: Interface/AddOns/Hekili/State.lua:5655: attempt to call method 'QueueAuraEvent' (a nil value)

[string "@Interface/AddOns/Hekili/State.lua"]:5655: in function `QueueAuraExpiration'
[string "@Interface/AddOns/Hekili/Dragonflight/WarriorArms.lua"]:850: in function `handler'
[string "@Interface/Add

[2022-10-28 15:21] felipelariu commented on #1763
Not recommending Divine Toll either

[2022-10-28 15:22] Peligroz opened #1767 "RET PALA HAMMER OF WRATH FROM FINAL VERDICT NOT RECOMMENDED AT ALL"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 15:27] OhsawaSenpai commented on #1725
I tested it again, it seems the issue only occurs with **Colossus Smash**, not with Warbreaker.

I was also able to get an error. Seems to be the same error as the one above.
_Update: Interface/AddOns/Hekili/State.lua:5655: attempt to call method 'QueueAuraEvent' (a nil value)

[string "@Interface/AddOns/Hekili/State.lua"]:5655: in function `QueueAuraExpiration'
[string "@Interface/AddOns/Hekili/D

[2022-10-28 15:28] OhsawaSenpai commented on #1725
Also, considering the long CD of Colossus Smash/Warbreaker, shouldn't this be part of the CDs instead of the normal priority list?

[2022-10-28 15:32] imarkvisser opened #1768 "Lua error [ADDON_ACTION_FORBIDDEN] AddOn 'Hekili' tried to call the protected function 'TargetUnit()"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 15:39] rynotoole opened #1769 "Addon not showing for monk"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 15:51] imarkvisser commented on #1769
Monk is not supported yet. Windwalker is coming soon.

[2022-10-28 15:52] lootahn commented on #1769
:(

[2022-10-28 15:54] Hekili commented on #1725
Thanks, these error messages will help me get this sorted.  That's exactly what I needed to see.

[2022-10-28 16:02] manu310891 commented on #1725
colossus_smash = {
        id = 167105,
        cast = 0,
        cooldown = 45,
        gcd = "spell",

        talent = "colossus_smash",
        notalent = "warbreaker",
        startsCombat = false,
        texture = 464973,

        handler = function ()
            applyDebuff( "target", "colossus_smash" )
            applyDebuff( "target", "deep_wounds" )
            if talent.in_for_the_ki

[2022-10-28 16:02] #1769 closed, assigned to Hekili

[2022-10-28 16:03] Hekili commented on #1768
My addon doesn't ever touch those functions.  Something else is tainting your user interface and blaming the addon.  Blizzard may need to resolve this as part of their UI overhaul.

[2022-10-28 16:03] #1768 closed, assigned to Hekili

[2022-10-28 16:16] Williamn88 commented on #1733
In the default profile atm it seems like the Cobra shot entry at line 31 in cleave have no conditions which makes it dump focus and never get above the threshold for KC as mentioned. With that being said adding "focus.time_to_max<gcd*2" like the  current apl used in raidbots did not fix the issue.

Here is a snap shot that shows it - https://pastebin.com/HUJ708Uf
Seems like it fails it and then se

[2022-10-28 16:25] #1757 closed, assigned to Hekili

[2022-10-28 16:42] tpfleck commented on #1733
I am also encountering this issue - I've tried to place a couple conditions as well which haven't been resulted in any change. Likely a problem with the APL rather than a technical detail.

[2022-10-28 16:44] JGBG78 opened #1770 "[REC] DK/FROST : Only howling blast during BOS"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 16:46] MrBean73 commented on #1733
„Cobra Shot:
focus.time_to_max < gcd * 2 & cooldown.kill_command.remains“
This works for me

[2022-10-28 16:49] bchinfoon commented on #1733
Where are you editing?  Are you Importing your Profile after editing or manually editing the Action List?

[2022-10-28 17:14] UltiDeeps opened #1771 "UH DK Gargoyle Opener Slightly Varies From Suggested Opener and then suggests several Scourge Strikes instead of Death Coil"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 17:27] UltiDeeps opened #1772 "UH Wounds M+ Build has Slightly Incorrect Opener From Discord and Wowhead Suggestions."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 17:47] UltiDeeps opened #1773 "UH DK AOE Opener is Incorrect from information provided by guide."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 17:50] Jacii1121 commented on #1763
I was having similar recommendation issues, but I reset priority back to default, it seemed to correct itself.  (I didn't previously mess with the priority).  /hekili > Priorities > Retribution > Summary > And click the big yellow refresh arrow.

[2022-10-28 17:52] Pulseonline commented on #1763
Trying that

[2022-10-28 18:05] Pulseonline commented on #1763
That worked!

[2022-10-28 18:07] craveica commented on #1763
For me is not recommending (even after reset):
Divine Toll
Final Reckoning
Justicar's Vengeance

and it doesn't have any option to keep up Blessing of Dawn/Dusk.

[2022-10-28 18:09] Pulseonline commented on #1763
This worked perfectly!

[2022-10-28 18:16] Testthewest123 opened #1774 "[BUG] Feral recommends Blood Talon combo generators without having the talent activated"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 18:19] Pulseonline commented on #1763
Yea Hekili everything is recommended and working perfectly.  Just not sure why we had to refresh the priority.  I never messed with it

[2022-10-28 18:43] woefulwabbit commented on #1755
Duplicate of #1684
PR at #1734

[2022-10-28 19:02] T0xicsmog commented on #1688
When its done? patients' young grasshopper

[2022-10-28 19:34] Toggiie commented on #1688
Give him time or do you want an unfinished build?

[2022-10-28 19:51] Darkman06660 opened #1775 "[BUG] Nothing show in primary box"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 19:53] Fost47 opened #1776 "Ret Paladin Divine Toll still being recommended after use"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 19:53] vond82 commented on #1775
The message you got tells you that shadow priest has not yet been implemented for pre-patch.

[2022-10-28 20:17] Bri134 opened #1777 "[BUG] Warlock rotation priorities gone in 10.0.0-02"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-28 20:21] T0xicsmog commented on #1777
Hekili relies on Simulationcraft APLs as the base for the rotation it displays for you. You will have to wait until your classes community theorycrafters devise an APL for the current class redesigns and then wait a little longer for hekili to implement them into the addon. Please be patient.

[2022-10-28 20:32] Ratayu commented on #1680
Just downloaded latest update(Hekili-v10.0.0-02.zip) and radiant decree and exorcism are not being recommended.  You stated in this fix addressing radiant decree not being recommend and it being recommended when it should not be. Just wanted to give you a heads up. @Hekili

[2022-10-28 20:33] Darkman06660 commented on #1775
Ok thank you for the response, I thought there was a bug.

And thank you for your work on this add-on.

[2022-10-28 21:27] apospathi commented on #1763
Just did some testing as I was experiencing the same thing.  I would also add, Final Reckoning is considered a cooldown, so make sure cooldowns are enabled.

Furthermore I noticed that it will only recommend Final Reckoning when you have 4+ holy power.  From my little testing I noticed that it wasn't adjusting to pool holy power when FR is coming off of cooldown.  I'm super new to this, but I'm gu

[2022-10-28 21:32] JargerWolf opened #1778 "[REC] Ret Paladin priority not showing Final Reckoning, Exorcism, Divine Toll"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 21:56] Hekili commented on #1777
There is a message at login that explains not all specs are supported yet. I'll get to it.

[2022-10-28 21:56] #1777 closed, assigned to Hekili

[2022-10-28 21:56] #1775 closed, assigned to Hekili

[2022-10-28 21:58] Hekili commented on #1773
This doesn't look like a defect but will be addressed as priorities get updated in general.

[2022-10-28 22:09] Zeuslight56 opened #1779 "Adding interrupt"
### Before You Begin

- [ ] I confirm that I have downloaded the latest version of the addon.
- [ ] I am not playing on a private server.
- [ ] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [ ] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-10-28 22:43] Zeuslight56 opened #1780 "DH Havoc Fel Bombardment"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-28 22:53] #1779 closed, assigned to Hekili

[2022-10-28 23:57] Nemesis977 commented on #1763
for me even after reset of the last release is not recommending
Final Reckoning
Divine Toll

He told me to use exorcism at pull without consacration (that i think is wrong)

and it doesn't have any option to keep up Blessing of Dawn/Dusk.

[2022-10-29 00:34] Krucible94 commented on #1762
I think the fix might be here:
WarriorFury.lua
"if talent.deft.experience.enabled then" --> "if talent.deft_experience.enabled then"

[2022-10-29 00:44] Hekili commented on #1780
In your snapshot, it does not show that you have Immolation Aura up.  Is that incorrect?

[2022-10-29 00:54] Zeuslight56 commented on #1780
No it had just ended.

[2022-10-29 01:13] xathian opened #1781 "[REC] Arms Prepatch APL"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 01:28] RumbleDumble commented on #1742
Hi, still having the issue, new Snapshot: https://pastebin.com/xwqF6ue3

[2022-10-29 01:28] Joshywa89 commented on #1770
having the same exact issue just basically telling me to spam howling blast.

[2022-10-29 01:53] RumbleDumble opened #1782 "Celestial Alignment still being recommended despite being used"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 02:08] kaza125125 opened #1783 "monk winderwalker no spells showing to use for aoe/single"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-29 02:27] Lipstopica commented on #1783
Guess you also can't see what it says in your in game chat box? or on the general page when you type /hekili. He is still working on classes/specs.

[2022-10-29 02:34] Purehotty commented on #1763
Also noticed it is telling you to Exorcism without having Consecration down to spread the DoT and isn't suggestion final reckoning or Divine Toll

[2022-10-29 02:38] Hekili commented on #1778
I will be posting a testfix soon.  I'm closing this ticket as an overlap of #1763.

[2022-10-29 02:38] #1778 closed, assigned to Hekili

[2022-10-29 02:38] #1783 closed, assigned to Hekili

[2022-10-29 02:42] Hekili commented on #1782
I'm not able to import the talents you listed.

[2022-10-29 02:45] RumbleDumble commented on #1782
BYGAGX1kx6Mci9Zl2t+S+sRoPCAAAAAAAAAAAAAAAAAAAoAQSiIQChkEkIgWCJJhWCiDkDAFplIESDgA

Try this

[2022-10-29 03:51] Hekili commented on #1780
After the new release (03) goes up, can you get a snapshot when all the conditions for using Throw Glaive would be met?  You should have Immolation Aura up at the time of snapshot.  Thanks!

[2022-10-29 03:52] Hekili commented on #1782
This may be fixed in -03, which is being released right now.  Let me know either way.  If it's not resolved, please link a new snapshot where Celestial Alignment is being recommended despite being on cooldown.  Thanks!

[2022-10-29 03:53] Hekili commented on #1776
Please retest after updating to the 03 release.  If it is still an issue, submit an updated snapshot where Divine Toll is recommended despite being on cooldown.  Thank you!

[2022-10-29 04:17] RumbleDumble commented on #1782
Unfortunately, the issue is still happening. Here is new snapshot: https://pastebin.com/FhATMyyY

[2022-10-29 04:20] TerrySmith22 commented on #1756
love it thanks!

[2022-10-29 04:23] Bsirk commented on #1681
I also had this same issue. I'll attach the snapshot so you can see

https://pastebin.com/YnmBxV2w

[2022-10-29 04:31] Bsirk commented on #1782
I can confirm. After posting the issue on my Shaman I logged into my Balance Druid and was hitting some target dummies. The same issue happened to me.

https://pastebin.com/2tqFRe5T

[2022-10-29 04:32] AOkes commented on #1782
I believe this has something to do with the Syzygy talent, directly underneath Celestial Alignment. It doesn't appear to be in the Lua code anywhere at all. Try switching to the Primordial Arcanic Pulsar talent, that's what fixed it for me.

[2022-10-29 04:37] TheHambrick commented on #1733
https://pastebin.com/4Q9L8Ayz still doing it as of 10.0.0-03. I know a fix wasn't in the changelog but I saw in the changelog that you added more info to snapshots, so hopefully a snapshot from 10.0.0-03 will help

[2022-10-29 04:40] Terenfirehawk commented on #1752
Patrik,

Thank you so very much!

Kate

Katherine Reab, RN. FNE. LNC

Integrity Legal Nurse Consulting PDX

 ***@***.***> ***@***.***

970-231-7205

 ***@***.***> ***@***.***

 <http://legalnursepdx.com/> http://legalnursepdx.com

 <tel:(503)%20775-3221> 503-775-3221

HELPING YOU UNDERSTAND MEDICAL RECORDS,

GIVING YOU MORE TIME TO  PRACTICE LAW.

Please note we offer record retrieval services for

[2022-10-29 05:11] RumbleDumble commented on #1782
You are correct, I disabled the Syzygy talent and the rotation works fine!

[2022-10-29 06:25] Fynnconceivable commented on #1753
This particular issue is fixed! But opening a new ticket for another Doom Winds bug.

[2022-10-29 06:43] Fynnconceivable opened #1786 "[BUG] Enhancement shaman - Queue gets stuck on windfury totem using Doom Winds legendary"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-29 07:46] IIeTpoc commented on #1786
write !snapshot in discord chat and pls link a snapshot on pastebin.com and include link here

[2022-10-29 08:50] chevyn11 opened #1787 "[REC] Kyrian Warrior doesnt recommend Spear of Bastion"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 08:50] MrBean73 commented on #1733
reload Priority and the conditions for Cobra Shot gone...till not fix in 10.0.0-03

[2022-10-29 08:51] Fost47 commented on #1776
Hi, have retested but it is still recommending Divine Toll while it is still on cooldown. Have updated the snapshot.

[2022-10-29 11:13] SteffiLee86 opened #1788 "[BUG] Hekili doesn't show up in game."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-29 11:15] hlokk101 opened #1789 "[Survival] Survival isn't currently included in Hekili 10.0.0-03"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-10-29 11:19] SpatenLa commented on #1789
that is correct, survival is not yet included.

[2022-10-29 11:27] Duktoc commented on #1788
I am also having the same issue. I have been using Hekili for a while but now no icons. I have checked all my settings and still no icons

[2022-10-29 11:33] shredxt commented on #1788
https://pastebin.com

Are you sure Hekili is enabled?
https://i.imgur.com/zgNm08U.png

Have you tried reloading the priority pack from Defaults?
https://i.imgur.com/dHN9A8j.png

You'll have to excuse my incomplete/broken WAs but the Balance Druid display is working fine for me on v10.0.0-03
https://i.imgur.com/m9e60Ky.png

[2022-10-29 11:37] SteffiLee86 commented on #1788
I have no idea what happened, but I logged back in to my druid and poof! It's here now. *Shrug*

[2022-10-29 11:42] Ruffelgnab opened #1790 "BM Hunter on AoE it suggests Cobra Shot over Kill command even with 2 Kill Commands available"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 11:54] marekCs commented on #1790
I'll use this thread, since the AOE rotation is going to be fixed, to see if we could consider adding a target swap on the Barbed shot to make it a well spaced on at least 2 targets.

[2022-10-29 13:06] badudulance opened #1791 "[REC] Boomie SS during INC+RF still thinks it costs less than 40 AP"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 13:16] badudulance opened #1792 "[REC] Boomie recommends Convoke after CA/RF without spending AP first AND FoE recommended right at the start of the ramp."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 13:22] Hekili commented on #1782
Great catch.  I'll regather Balance talents to make sure nothing else is missing/left out and post a correction.

[2022-10-29 13:29] Ratayu commented on #1680
Update: I saw in other tickets folks recommended to reset the default priority and that seemed to resolve the problem. I haven't fully tested the rotation but wanted to update you.

[2022-10-29 13:34] Hekili commented on #1782
Incoming fix!

[2022-10-29 13:34] #1782 closed, assigned to Hekili

[2022-10-29 13:37] Hekili commented on #1792
Please provide a Raidbots sim report for comparison purposes.

[2022-10-29 13:51] Hekili commented on #1791
In the snapshot provided, you have 40+ AP when Starsurge is recommended.  Please provide a snapshot where Starsurge is recommended but you do not have sufficient AP for it.

[2022-10-29 14:18] Hekili commented on #1790
All of the Barbed Shot entries in the Cleave list have a `cycle_targets=1` flag.

[2022-10-29 14:18] #1789 closed, assigned to Hekili

[2022-10-29 14:19] Hekili commented on #1788
Thanks for confirming.

[2022-10-29 14:19] #1788 closed, assigned to Hekili

[2022-10-29 14:34] Hekili commented on #1790
Re: Cobra Shot, I've made an adjustment to the priority so that Cobra Shot won't supplant Kill Command when Kill Command is waiting on Focus.  This will be posted soon.

[2022-10-29 14:34] #1790 closed, assigned to Hekili

[2022-10-29 14:40] ivannpaz opened #1793 "[REC] Shaman Enhancement - Feral Spirit locks the queue on weapon imbues"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 14:42] Hekili commented on #1787
Thanks for the ticket and data.  I am fixing this now and will post within the next hour or so.

[2022-10-29 14:42] #1787 closed, assigned to Hekili

[2022-10-29 15:01] Blujelly87 commented on #1763
I still have this issues as well, have tried some of the above but this didnt work for me

[2022-10-29 16:01] Hekili commented on #1786
This should be resolved in -04, which is being released now.

[2022-10-29 16:01] #1786 closed, assigned to Hekili

[2022-10-29 16:06] Hekili commented on #1793
Yeah, keybinds are a backburner issue because the default UI actionbars and paging got changed very late in beta/PTR.

The snapshot you provided shows the following recommendations:
`Primordial Wave(0.00), Stormstrike(1.19), Lava Lash(2.38), Sundering(3.57), Fire Nova(4.76)`

Did you take the snapshot while you were experiencing the issue you described?  It doesn't match the screenshot you provide

[2022-10-29 16:10] Hekili commented on #1793
I triggered the error myself and found the issue.  Will post another release in an hour or two.  If you want to fix for yourself in the meantime, on line 862 of Dragonflight/ShamanEnhancement.lua, change `chain_lighting` to `chain_lightning`.  Typo.

[2022-10-29 16:10] #1793 closed, assigned to Hekili

[2022-10-29 18:31] hlokk101 commented on #1789
Survival still isn't in it?

[2022-10-29 20:09] SpatenLa commented on #1789
correct. the last 7 hours didnt change that

[2022-10-29 20:36] hlokk101 commented on #1789
?
Why is it marked as completed then?

[2022-10-29 20:41] Hekili commented on #1789
Because it's not an issue, it's planned work.

[2022-10-29 20:44] hlokk101 commented on #1789
Okay. Thanks for letting me know 👍

[2022-10-29 21:13] Drizzt1990 opened #1794 "[REC] Druid/Balance Incarnation recommended while on CD"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 21:24] Zeuslight56 commented on #1780
No it still does not work, Hekili does not advise throw glaive to 5 stack of fel bombardment.
https://pastebin.com/DNnR2vMJ

[2022-10-29 21:34] Zeuslight56 commented on #1780
With the right talent.
https://pastebin.com/tgYE3T2t

[2022-10-29 21:59] Zeuslight56 opened #1795 "essence break build"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-29 22:06] Drizzt1990 commented on #1794
maybe a problem with talent registration?

it's registered as incarnation_chosen_of_elune
![grafik](https://user-images.githubusercontent.com/59632954/198853900-02d5df8e-788b-4b05-874a-6b1c70814f21.png)

but the talent check in celestial alignment ability registration (line 1661) checks with notelent = "incarnation"
![grafik](https://user-images.githubusercontent.com/59632954/198853966-9a301e0e-2c

[2022-10-29 22:36] ivannpaz commented on #1793
I just pressed my keybind for `Feral Spirits` and then pressed "Pause" in the Hekili config window. Chances are I did the snapshotting incorrectly, so sorry about that!

Just tried again with the latest update from CurseForge and the error still persists. Took another snapshot that looks more "correct" on what the current state was for the decision queue here: https://pastebin.com/M0FGjC2u

Then w

[2022-10-29 22:45] Zeuslight56 opened #1796 "Beta MM+ build DH havoc"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 00:33] LordSkeletor commented on #1763
Post a snapshot. You very likely have it disabled somewhere.

You can run /hek, go to Abilities, and select Final Reckoning in dropdown. Make sure it is not set to be Disabled, Boss Encounter Only, and also check if there is a required toggle. If you want it to always be available you can change that to None.

[2022-10-30 01:04] TheHambrick commented on #1733
Fixed in 10.0.0-04 just went for 2 1/2 minutes on 5 targets and cast 8 cobra shots

[2022-10-30 01:08] Deathhunt opened #1798 "[REC] Not recommending Fel Devastation for Vengeance DH"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 01:25] Zavalla opened #1799 "[REC] WOTLK - ROGUE - ASSASSINATION - Hunger For Blood Issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 02:32] Tao519 opened #1800 "[REC] Blood DK Not updating when standing in Death's Due as Night Fae"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 02:36] Hekili commented on #1781
I'm rolling out a version of this in a little bit.

[2022-10-30 02:36] #1781 closed, assigned to Hekili

[2022-10-30 03:05] Hekili commented on #1800
This will be fixed in the next release.

[2022-10-30 03:05] #1800 closed, assigned to Hekili

[2022-10-30 03:07] RumbleDumble opened #1801 "Celestial Alignment still being recommended after use/on CD with the Syzygy Talent"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 03:13] Hekili commented on #1798
Will post a fix soon.

[2022-10-30 03:13] #1798 closed, assigned to Hekili

[2022-10-30 03:13] Hekili commented on #1801
You do not need to resubmit tickets we've already discussed.

[2022-10-30 03:13] #1801 closed, assigned to Hekili

[2022-10-30 03:14] Hekili commented on #1796
Thanks for the information.  I'll continue to watch SimulationCraft for updated APLs and integrate them as I find them.

[2022-10-30 03:14] #1796 closed, assigned to Hekili

[2022-10-30 03:23] Hekili commented on #1795
You do not need to submit multiple tickets for the same spec when reporting priority concerns.  You can add to one ticket.  I will update Havoc priorities as they are updated in SimulationCraft.  Thanks.

[2022-10-30 03:23] #1795 closed, assigned to Hekili

[2022-10-30 03:23] Hekili commented on #1794
That's a good catch, but not the reason for the issue you're having.  This will already be fixed in the next release.

[2022-10-30 03:23] #1794 closed, assigned to Hekili

[2022-10-30 03:24] #1792 closed, assigned to Hekili

[2022-10-30 03:24] #1791 closed, assigned to Hekili

[2022-10-30 03:25] Hekili commented on #1780
This will be fixed in the next release.

[2022-10-30 03:25] #1780 closed, assigned to Hekili

[2022-10-30 03:31] Hekili commented on #1776
You don't have to replace original ticket info, you can just add links in comments.  So information doesn't get lost.  I'll be posting a new release in a little bit, so please post a new snapshot if you're having this issue (i.e., with Divine Toll on cooldown).  Please include your talent string as well, and confirm whether you're in Shadowlands content or not.  Thank you!

[2022-10-30 03:33] Hekili commented on #1774
Please resubmit a Recommendations ticket with a snapshot if you're confident you're still experiencing this issue in 05 or later.

[2022-10-30 03:33] #1774 closed, assigned to Hekili

[2022-10-30 03:57] Hekili commented on #1773
You have 2 targets in your snapshot.

This should be resolved in the next release; in your case, it would show Death's Due, of course.

If this is unresolved in 05, can you post an updated snapshot along with your talent string?  Thanks.

[2022-10-30 03:57] Hekili commented on #1772
If this is an issue in 05, keep updates in a single Unholy related ticket, please.

[2022-10-30 03:57] #1772 closed, assigned to Hekili

[2022-10-30 03:57] Hekili commented on #1771
One Unholy ticket for all of your Unholy concerns, please.

[2022-10-30 03:57] #1771 closed, assigned to Hekili

[2022-10-30 04:07] Hekili commented on #1770
This should be resolved in 05 (posting in a bit).  Comment and let me know if it persists after updating.  If it does, provide a new snapshot when the issue is occurring, and include your talent string.  Thanks!

[2022-10-30 04:07] #1770 closed, assigned to Hekili

[2022-10-30 04:08] Hekili commented on #1767
Thanks.  After updating to 05, let me know if this is still an issue.  If it is, please post a new snapshot along with a copy of your talent string.

[2022-10-30 04:09] Hekili commented on #1764
Keybind detection is on the back burner.  Are you using a specific bar mod?

[2022-10-30 04:10] Hekili commented on #1763
After updating to the 05 release, comment and let me know if the issue persists.  If it does, provide a new snapshot as well as your talent string.  Thanks!

[2022-10-30 04:10] #1763 closed, assigned to Hekili

[2022-10-30 04:11] Hekili commented on #1762
This should be resolved in 05.  If not, please open a new ticket with a new snapshot.  Thanks!

[2022-10-30 04:11] #1762 closed, assigned to Hekili

[2022-10-30 05:00] soze2k opened #1802 "[REC] REPLACE THIS TEXT WITH YOUR CLASS/SPEC AND BRIEF ISSUE DETAILS"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 05:04] Hekili commented on #1802
These are the correct recommendations for the sim profile with the talents you selected. If the sim profile is changed, I'll update.

[2022-10-30 05:04] #1802 closed, assigned to Hekili

[2022-10-30 05:05] #1706 closed, assigned to Hekili

[2022-10-30 05:17] Dorfess opened #1803 "Fury Warrior - Whirlwind"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 06:15] CooremanM opened #1804 "[REC] Beast Mastery Hunter not recommend Bestial Wrath"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 06:34] Paua-Hua commented on #1804
Cooldowns enabled or disabled? take it off CD usage nd it will fall into rotation.

[2022-10-30 06:35] kraiser1624 commented on #1688
Anything I can do to help speed up outlaw's onboarding with Hekili for prepatch?

[2022-10-30 06:52] Wyste commented on #1803
looks like Line 19 in the Hekili default action list in the APL needs tweaked.

original:
`spell_targets.whirlwind > 1 & ! buff.meat_cleaver.up | raid_event.adds.in < 2 & ! buff.meat_cleaver.up`
new:
`spell_targets.whirlwind > 1 & (talent.improved_whirlwind.enabled & ! buff.meat_cleaver.up)
| raid_event.adds.in < 2 & (talent.improved_whirlwind.enabled & !buff.meat_cleaver.up)`

Even if a talent bu

[2022-10-30 07:37] Deathhunt commented on #1798
Tested in v10.0.0-05, it seems to be fixed, Fel Devastation is back. Thanks a lot for the great work.

[2022-10-30 08:38] chevyn11 opened #1805 "[REC] Bladestorm cooldown is 0 when not talented"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 09:36] fbrown663 opened #1806 ""Addon action blocked" taint issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-30 09:57] JGBG78 commented on #1770
Yeah it seems fixed, but now addon doesnt recommand Breath of sindragosa anymore

[2022-10-30 10:04] Joshywa89 commented on #1770
Im at work atm but it's not recommending ghoul or Death and Decay when more then 1 target

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: JGBG78 ***@***.***>
Sent: Sunday, October 30, 2022 7:58:03 PM
To: Hekili/hekili ***@***.***>
Cc: Joshywa89 ***@***.***>; Comment ***@***.***>
Subject: Re: [Hekili/hekili] [REC] DK/FROST : Only howling blast during BOS (Iss

[2022-10-30 11:08] johndolotko commented on #1764
Yes I am using bartender. I have manually configured them for now so no real urgency.

Best Regards

John

From: Hekili ***@***.***>
Sent: 30 October 2022 04:09
To: Hekili/hekili ***@***.***>
Cc: John Dolotko ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] [BUG] No keybind shown in icon (Issue #1764)

Keybind detection is on the back burner. Are you using a specific bar mod?

—
Repl

[2022-10-30 11:25] Peligroz commented on #1767
Still an issue for the legendary Final Verdict. However, it seems to work for the talent version.
https://pastebin.com/qaRHwBeZ
BYEAwtJ2KpR8WbGzhz/jy2AP8AAAAAAAAgokWSikAQaKJJpVCAAAAAAgQkkkWSQCFOQSQJKB

[2022-10-30 11:27] Hekili commented on #1804
Please submit a proper and complete snapshot.

[2022-10-30 11:31] goldur opened #1807 "[REC/BUG] Havoc Demonhunter - Some minor mistakes in configuration(Deathsweep/Bladedance/Throw Glaive)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 12:33] Fost47 commented on #1776
Ok have retested and found that there are two distinct Divine toll spells, one is the Kryian covenant ability and only works in shadowlands and the other is the Talent tree ability and this works everywhere and is what Hekili is tracking. Hekili does not track the Covenant ability but the talented version from the talent tree is working as intended

[2022-10-30 13:25] badudulance commented on #1792
https://www.raidbots.com/simbot/report/ibd3jbMevCoD3hkZxQLBm6
Does appear that even this report recommends convoke right after CA and RF, however that is afaik incorrect due to casting convoke and losing about 80AP generated from it. But I guess this will be resolved once the APL or whatever it's called by simcraft will be updated.

[2022-10-30 13:29] Hekili commented on #1807
Thanks, these will be resolved in the next release.

[2022-10-30 13:29] #1807 closed, assigned to Hekili

[2022-10-30 13:31] Hekili commented on #1806
If you log in with *only* this addon loaded, do you get the same issues?  I ask because this is a "taint" issue where an addon somewhere has touched secure code, which this addon doesn't actually do.  Once there's taint, the UI will blame just about any code.

[2022-10-30 13:41] Testthewest123 opened #1808 "[REC] Feral: Shred for 3+ targets and Swipe for single target recommended despite no Bloodtalon talent active."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 13:42] darkkain92 opened #1809 "[Wrath] Mage not yet supported"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-30 13:44] Hekili commented on #1809
Mage is not yet supported.

[2022-10-30 13:46] Hekili commented on #1808
Thanks; I will add a check for the Bloodtalons talent before testing the bloodtalons list.

[2022-10-30 13:46] darkkain92 commented on #1809
oh ok

[2022-10-30 13:47] Hekili commented on #1805
Thanks, I'll add a check for the Bladestorm talent in the part of the priority.

[2022-10-30 13:48] lkj61 opened #1810 "Spellflash throws errors when turning the brightness past 100"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-30 13:52] Hekili commented on #1803
Thanks, will be posted in next release.

[2022-10-30 13:52] #1803 closed, assigned to Hekili

[2022-10-30 13:52] Hekili commented on #1805
This will be resolved in the next release.

[2022-10-30 13:52] #1805 closed, assigned to Hekili

[2022-10-30 13:57] Hekili commented on #1810
Thank you.  This will be fixed in the next release.

[2022-10-30 14:03] #1810 closed, assigned to Hekili

[2022-10-30 14:04] lkj61 commented on #1810
Thank you for such a great addon!  I know you've put a lot of work into this, and it is truly appreciated.

[2022-10-30 14:19] Hekili commented on #1808
Fix will be posted in a little bit.

[2022-10-30 14:19] #1808 closed, assigned to Hekili

[2022-10-30 14:44] Hekili opened #1811 "[BUG] Add a Short Title for your Report"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-30 14:50] Joshywa89 commented on #1770
build: v10.0.0-05
level: 60 (60)
class: DEATHKNIGHT
spec: frost

talents: acclimation
    antimagic_barrier = 1/1
    antimagic_shell = 1/1
    antimagic_zone = 1/1
    biting_cold = 1/1
    breath_of_sindragosa = 1/1
    brittle = 1/1
    chains_of_ice = 1/1
    cleaving_strikes = 1/1
    death_strike = 1/1
    deaths_echo = 1/1
    empower_rune_weapon = 1/1
    enduring_strength = 2/2
    enfeeb

[2022-10-30 14:53] Joshywa89 commented on #1770
also feel its asking for empower rune weapon to early into burst window
________________________________
From: Joshua Cox ***@***.***>
Sent: Monday, 31 October 2022 1:50 AM
To: Hekili/hekili ***@***.***>
Subject: Re: [Hekili/hekili] [REC] DK/FROST : Only howling blast during BOS (Issue #1770)

build: v10.0.0-05
level: 60 (60)
class: DEATHKNIGHT
spec: frost

talents: acclimation
    antimagic_barri

[2022-10-30 14:56] #1811 closed, assigned to Hekili

[2022-10-30 15:03] Hekili opened #1812 "Title"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 15:08] #1812 closed, assigned to Hekili

[2022-10-30 15:14] Hoopla47 opened #1813 "(Elemental) EoGS Icon not showing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting