[2022-03-16 15:09] Hekili commented on #1428
Thank you!

[2022-03-16 15:09] Hekili commented on #1428
![image](https://user-images.githubusercontent.com/9438134/158622692-e0fa539d-519f-41a9-b400-565297591eaf.png)

[2022-03-16 16:59] grayjared opened #1431 "Fury Warrior Merciless Bonegrinder no longer showing in priority"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-16 18:16] Hekili commented on #1431
The addon detected the buff in your snapshot.

This sim doesn't show what you're saying it shows.

![image](https://user-images.githubusercontent.com/9438134/158654868-ea021500-6fd4-4f04-95e3-da1bb32c6bf7.png)

If you look at this part of the sim, after Bladestorm is used, other abilities are used in addition to Whirlwind -- the priority itself is still considered.

In your sim, the first Whirlwin

[2022-03-16 18:28] Hekili commented on #1431
I am running some comparison sims via Bloodmallet now to see if this should be changed for SimulationCraft.

[2022-03-16 18:33] grayjared commented on #1431
Thanks so much for looking into this for me. I really appreciate it.
________________________________
From: Hekili ***@***.***>
Sent: Wednesday, March 16, 2022 12:28:28 PM
To: Hekili/hekili ***@***.***>
Cc: grayjared ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] Fury Warrior Merciless Bonegrinder no longer showing in priority (Issue #1431)

I am running some comparison sims via Bl

[2022-03-16 22:47] Shizukanashi commented on #1428
having same issue on enhance shaman, both my trinkets were appearing on cooldown display until i updated today and the cache of acquired treasures is not appearing anymore

Sword:
385248.995 Acquired Sword 952541 1 nil 0 0 player false false 368657 false false true false 1 82 0

Axe:
385306.478

Wand:
385420.444 Acquired Wand 135488 0 nil 0 0 player false false 368654 false false true false 1 2198

[2022-03-16 23:11] Fowka2 commented on #1428
![image](https://user-images.githubusercontent.com/100809564/158706094-4bbb07a7-04d1-40dc-9d2b-67eb314baa77.png)

This is what I'm getting when i try do the numbers for "Sword - Axe and Wand"

[2022-03-16 23:18] Fowka2 commented on #1428
![image](https://user-images.githubusercontent.com/100809564/158706830-92857b77-3469-4526-9280-3feb27e35e92.png)

My Cache doesn't appear on my addon also! These are the numbers I get. (83448.043 is the AXE)

(SUB ROGUE)

[2022-03-17 00:13] Shizukanashi commented on #1428
my other trinket in the cooldown display is now randomly disappearing too while in combat, ill revert last update and see if problem persists with trinket issues

[2022-03-17 00:22] Hekili commented on #1428
I'm in the process of fixing the buff detection so that it times out/expires properly.  I'll post here when there's an alpha version to test.

[2022-03-17 13:51] Hekili commented on #1428
Please try out 1.0.9c (release) and see if the issue is resolved.  Thanks!

[2022-03-17 14:33] Dragonfo commented on #1428
https://pastebin.com/HSth6CM1  missing from the Gear and Trinkets contribution, and not rotated in the 3 hunter specializations.

[2022-03-17 16:25] Dragonfo commented on #1428
After installing the alpha version v9.2.0-1.0.9d-alpha1 Rotation display stopped working gives an error.
Update: Interface\AddOns\Hekili\State.lua:3357: C stack overflow

[string "@Interface\AddOns\Hekili\UI.lua"]:1096: in function <Interface\AddOns\Hekili\UI.lua:899>

[2022-03-17 16:49] Hekili commented on #1428
Thanks.  -alpha2 may solve this issue.

[2022-03-17 17:11] MattMellies commented on #1428
using alpha2 branch, still not seeing cache pop up in the rotation. No LUA errors though.

[2022-03-17 17:12] Hekili commented on #1428
Go ahead and supply a snapshot when you have a Cache buff and the trinket is not being recommended but should be recommended.

[2022-03-17 17:25] MattMellies commented on #1428
Right, sorry.

https://pastebin.com/AWmYcfZT

(Looks like it's look for buff "acquired_treasure", while I have "acquired_wand"?)

[2022-03-17 17:52] Hekili commented on #1428
Not exactly, but sorta.  -alpha***4*** is out to try now (I had to remove a change I made for testing purposes).

[2022-03-17 17:59] MattMellies commented on #1428
Appears to be working now on alpha4!

[2022-03-17 18:21] Fowka2 commented on #1428
I updated my Hekili and still Cache doesn't show up. Am I doing something wrong?

[2022-03-17 18:31] noiseuu opened #1432 "[REC] 2 set wrong opener in raid nf druid"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-17 18:32] MattMellies commented on #1428
It's not on stable branch yet. You'd have to be using alpha4, or wait until it's pushed to stable

[2022-03-17 19:29] Dragonfo opened #1433 "[Surv Hunter] Quick change of bombs between rotations after activating the mad bombardier buff."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-17 19:38] Hekili commented on #1433
Are you able to show that happening?  Screenshots or a short recording?  Thanks.

[2022-03-17 20:42] Floapy opened #1434 "[REC] BM Hekili not recommending Multishot / not detecting AoE"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-17 21:01] Hekili commented on #1434
You have nameplate-based target detection turned on, so it's looking for targets around your character.

You should probably look at /hekili > Beast Mastery > Targeting and set up Pet-Based Target Detection and turn off nameplate-based detection.

[2022-03-17 21:20] #1434 closed, assigned to Hekili

[2022-03-17 21:51] Dragonfo commented on #1433
https://imgur.com/a/fhR3Pcl Attached a piece of video as it is displayed when the buff is consumed. It flickers very quickly every time, is it possible to remove it somehow? So that it does not flash, but simply shows as usual without quick changes.

[2022-03-18 03:30] Hekili commented on #1433
Thanks.  Can you tell me if your Mad Bombardier buff goes away instantly on cast or if it goes away when your bomb hits?

[2022-03-18 04:13] Hekili commented on #1433
I made some changes that might address this for you, but I can't test the set bonus directly.  It may also cause issues with the texture used for Wildfire Bomb.  Please try it out and let me know if it works for you.

https://github.com/Hekili/hekili/releases/tag/v9.2.0-1.0.10-alpha1

[2022-03-18 06:48] Dragonfo commented on #1433
As for the mad bombardier, it activates when it hits a target. I just checked today and recorded another short video where he still shows the bombs just as quickly.  I recorded a video a little longer so that you can see how it manifests itself now. https://imgur.com/a/1uXEjBL

[2022-03-18 11:01] Hekili commented on #1433
The question I am asking is: when you already have a Mad Bombardier buff, does the buff go away immediately on cast, or does it go away when the bomb hits the target?

I can't tell from your video. You can test by getting the buff and then throwing your bomb from a distance.

[2022-03-18 11:14] Dragonfo commented on #1433
Here I am attaching a video where I did it from a distance. https://imgur.com/a/Ui3nwnQ

[2022-03-18 12:25] Hekili commented on #1433
Okay, that makes sense -- the buff is consumed on impact rather than on cast.  I'll sort it out.  Thank you.

[2022-03-18 12:36] Hekili commented on #1433
Could you please try the latest alpha?  1.0.10-alpha2?

https://github.com/Hekili/hekili/releases/tag/v9.2.0-1.0.10-alpha2

[2022-03-18 13:12] Dragonfo commented on #1433
Well, you can say 50 to 50. In some moments everything is fine, but in others it is not. He also keeps changing priorities quickly. I noticed that when the turn of the blue bomb comes up, he immediately consumes it without taking into account the mad bombardier buff. It seems to me that the problem is in the blue bomb, since it is simply used by rotation without any conditions. I recorded a longer

[2022-03-18 13:17] Hekili commented on #1433
Can you snapshot this?  The priority is always considered.  The priority does basically say to use whatever bomb you have when Mad Bombardier is up, barring a few higher priority buttons.

The recordings have helped when trying to investigate "I see this then it changes to that" while seeing what your fight situation looks like, but snapshots before/after would help for comparing the other details

[2022-03-18 13:23] Dragonfo commented on #1433
https://pastebin.com/FpJARd1E I took a snapshot, at that moment I had two charges of the Kill command, and for some reason, not using the Kill command, the recommendation decided to suggest just using the blue bomb, without trying to get the mad bombardier buff.

[2022-03-18 14:55] Hekili commented on #1433
There were two Kill Command entries considered before using Raptor Strike.

[code]

Not recommended because it wants you to have Pheromone Bomb ticking.

[code]

This didn't get recommended because you were not capped on Kill Command charges for another 2.24 seconds.  Additionally, it wants you to spend down focus such that you won't overcap during the time you use Kill Command -- and you were alr

[2022-03-18 15:24] Dragonfo commented on #1433
I could only fix the blue bomb on 3 points when it hit the target. But most likely this was done again with the aim of wasting focus.
https://pastebin.com/bN72zb3P
It's just that if this condition worked again, that you threw it off above, then I don't understand the rotation. If we play with the Mad Bombardier buff, we don't want to make 0 bombs, we want to implement them under the buff to get as

[2022-03-18 16:39] dewson8 commented on #1428
edit:  https://pastebin.com/PP0wge14

[2022-03-18 16:39] dewson8 commented on #1428
edit: https://pastebin.com/9w5rZip2

[2022-03-18 18:13] Hekili commented on #1428
@dewson8 Your snapshot shows Cache of Acquired Trinkets as disabled based on a toggle.

1. Please go to /hekili > Toggles and take a screenshot that shows your Cooldowns, Interrupts, Defensives, and Covenants toggles, and paste the image here.
2. Also go to /hekili > Gear and Trinkets, then select Cache of Acquired Trinkets and take a screenshot of that section and paste the image here.

Thanks!

[2022-03-18 18:46] dewson8 commented on #1428
![WoWScrnShot_031822_134203](https://user-images.githubusercontent.com/101888532/159065197-01a217fb-ac9a-4be9-bf96-b1fde6dc2193.jpg)
![WoWScrnShot_031822_134243](https://user-images.githubusercontent.com/101888532/159065202-aed2e7bd-b8bf-4d99-95ce-5b7e8213948c.jpg)

[2022-03-18 18:51] Hekili commented on #1428
Thanks.  Because your Cooldowns are shown separately, I need the snapshot to come from your Cooldowns display.  Can you take another snapshot when you think the trinket should be ready to go, and select "Cooldowns" for display instead of "Primary"?

The requirements for the trinket for BM would include that you either (1) have one target and the wand buff or (2) have multiple targets and don't hav

[2022-03-18 18:52] dewson8 commented on #1428
oh is the wand buff optimal over the sword for bm?

[2022-03-18 18:54] Hekili commented on #1428
The hunter theorycrafters seem to think so, if there's only one target.

[2022-03-18 18:55] dewson8 commented on #1428
then i digress... it is recommending what you mentioned properly if its going off of the theorycrafters

[2022-03-18 18:57] Hekili commented on #1428
No worries, thanks for being so willing to provide info.

[2022-03-18 18:57] #1428 closed, assigned to Hekili

[2022-03-18 18:57] dewson8 commented on #1428
no problem, thanks for putting out such a kick ass product!!!

[2022-03-19 04:07] Hekili commented on #1433
I don't understand what you mean here, but you can study the priority in your sims if you want to look at it more closely.

You have to report snapshots that relate to exactly what you're asking about, and provide the context.  That means when you think, "hey, I don't think I should actually use this bomb right now, it'll spend down to 0 charges and I want to be able to use a bomb with Mad Bombard

[2022-03-19 04:07] #1433 closed, assigned to Hekili

[2022-03-19 04:08] Hekili commented on #1432
This snapshot doesn't match the report.  Please add a snapshot taken when the Starfire recommendation is appearing.

[2022-03-19 04:29] Hekili commented on #1423
This has been addressed in the latest release.

[2022-03-19 04:29] #1423 closed, assigned to Hekili

[2022-03-19 04:58] Dragonfo commented on #1433
The last alpha version you posted works great and even fixed that blue bomb issue ) Thank you so much for your work and quick fixes. You are the best.

[2022-03-19 05:13] Lipstopica opened #1435 "[REC] MM Hunter Volley Trick Shots timing with Aimed Shot"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-19 05:24] Hekili commented on #1435
There are multiple criteria for casting Aimed Shot in that scenario, not just Trick Shots.  However, there *is* a bug because the `focused_trickery_count` should be stuck at 0 while you don't have the tier set.

[code]

\# | Criteria | Pass/Fail
--|--|--
A | buff.trick_shots.remains[0.63] >= execute_time[1.26] | Fail
B | focused_trickery_count[30.00] > 0 | **Pass**
C | buff.precise_shots.down[fals

[2022-03-19 05:28] Lipstopica commented on #1435
Oh so if I understood correctly. It currently thinks I have the 4pc bonus effect? So it thinks because I spend the rage, I should have the buff of trick shots? due to the two casts of aimed shot which is over 40 rage spent.

[2022-03-19 07:45] noiseuu commented on #1432
https://pastebin.com/ukRvDKku
sry there new snapshot

[2022-03-19 09:34] cremor opened #1436 "[REC] Ret using HP builders when capped during desync"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-19 13:12] Hekili commented on #1435
No, it doesn't think you actually have the 4pc (`set_bonus.tier28_4pc[0.00]` means "you don't have the 4pc"), but the tracking mechanism that counts focus spent is still running anyway (`focused_trickery_count[30.00]`).  It's a simple fix.

[2022-03-19 18:16] Hekili commented on #1436
The snapshot needs to come from the current version.  Thanks!

[2022-03-19 18:26] Lipstopica commented on #1435
Can confirm, fixed in new update. Thank you.

[2022-03-19 18:43] cremor commented on #1436
@Hekili I reproduced the problem with the current version on the target dummy and updated the issue with the new snapshot.

[2022-03-19 18:54] Hekili commented on #1435
Will post in actual release in a little bit.

[2022-03-19 18:54] #1435 closed, assigned to Hekili

[2022-03-19 18:55] Hekili commented on #1432
This will be fixed in next release.  Thanks!

[2022-03-19 18:55] #1432 closed, assigned to Hekili

[2022-03-19 18:56] Hekili commented on #1431
I've fiddled with it a bit and it's just an optimization that becomes less and less valuable as you get better gear.  I'm not sure if it's genuinely worth pursuing without a lot more data.  Will continue to ponder.

[2022-03-19 18:57] Hekili commented on #1424
You'll have to investigate the priority a bit more on your own going forward.

In this case, the addon is using Kill Command specifically because the Pheromone Bomb debuff is applied.

[2022-03-19 18:57] #1424 closed, assigned to Hekili

[2022-03-19 19:03] Hekili commented on #1422
I'll close this ticket and look at your new ticket.

[2022-03-19 19:03] #1422 closed, assigned to Hekili

[2022-03-19 19:06] Hekili commented on #1436
Which finisher/cooldown should the addon have recommended, and why?

[2022-03-19 19:10] Lipstopica opened #1437 "[REC] MM Hunter Rapid Fire Trick Shots buff"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-19 19:12] Dragonfo commented on #1424
It seems to me that in this case everything is simple. If we got the mad bombardier buff from Kill Command and we have a 3-4 second bomb cooldown, we use Carve. After we use the bomb and for the rest of the time we implement the pheromone bomb. As far as I can see, this moment can be beaten. Just here you need to take into account one point, if Carve can reduce the time of the bomb in 1 hit so tha

[2022-03-19 19:29] Hekili commented on #1424
Your sim doesn't do this.  If you make a sim profile that does this, you can contribute to SimulationCraft once you've proven it's a DPS increase to do so.

We've talked about the Wildfire bomb/Pheromone Bomb/Kill Command interaction already.

Your sim doesn't do this.  If you make a sim profile that does this, you can contribute to SimulationCraft once you've proven it's a DPS increase to do so.

[2022-03-19 19:41] Hekili commented on #1436
I don't want to run a separate alpha release for this while I'm trying to wrap up another daily release, so I'm going to share the import string for a Ret priority that *might* address this.  It's a rush job so it might still be problematic, but should allow Divine Storm, and Templar's Verdict while Final Reckoning is off-cooldown but criteria isn't met to push the button.

[Priority](https://past

[2022-03-19 19:46] Hekili commented on #1437
Here is what I will test, but since you're downloading changes (says you have a dev build), you may consider trying this yourself and reporting back.

In Classes/HunterMarksmanship.lua, scroll down to the entry for the `rapid_fire` ability.  It should be ~line 827.  Replace the ability with this:

[code]

Save the file and then `/reload` in game.

This shifts the removal of Trick Shots to the end

[2022-03-19 19:59] Lipstopica commented on #1437
That seems to have fixed the issue :) thank you

[2022-03-19 20:14] Hekili commented on #1436
I did my own testing and found issues, so I'm trying a new approach.

[Priority 2](https://pastebin.com/DpAk7j3M)

I think this one works (also, this is named `Retribution 2` by default -- make sure to activate it if you import it.)

[2022-03-19 20:16] #1419 closed, assigned to Hekili

[2022-03-19 20:16] Hekili commented on #1415
I've released updates that include audits that more consistently purge these expired auras.  Feel free to comment/reopen if you are still having a problem.

[2022-03-19 20:16] #1415 closed, assigned to Hekili

[2022-03-19 20:17] Hekili commented on #1421
This has since been resolved.

[2022-03-19 20:17] #1421 closed, assigned to Hekili

[2022-03-19 21:46] Hekili commented on #1404
The potion ability will be listed in the Gear and Items section in the next release.

[2022-03-19 21:46] #1404 closed, assigned to Hekili

[2022-03-19 21:53] Hekili commented on #1436
I'm going to go live with these adjustments and we'll see how it goes.

[2022-03-19 21:53] #1436 closed, assigned to Hekili

[2022-03-19 22:00] Hekili commented on #1437
Thanks, fix will be live soon.

[2022-03-19 22:00] #1437 closed, assigned to Hekili

[2022-03-20 10:53] dubudevs commented on #1419
I should point out that this is still an issue playing all trinkets, albeit less consistent. I just haven't had a chance to sit at a dummy for 20 minutes to figure out when and when it doesn't happen.

[2022-03-20 14:30] Hekili commented on #1419
You can add to the ticket and reopen the ticket if/when you get information.

You can force a snapshot at any time you're seeing this issue; it doesn't have to be vs. a dummy.

[2022-03-20 15:43] cremor commented on #1436
Looks good, thanks!

Just one thing I noticed:
I got the 2 set bonus in the meantime and the Seraphim proc from it is treated the same way as a "real" Seraphim buff. Meaning, when you are in a state where Seraphim and Final Reckoning are desynced, a 2 set bonus proc will cause Final Reckoning to be recommended, thus "extending" the desync.

I guess waiting for the "real" Seraphim buff would be bet

[2022-03-20 15:51] Hekili commented on #1436
I'd hope it's something that the SimC maintainers have considered and factored into the priority. Maybe it doesn't matter. If you do some sim testing and find it makes a difference, please let me know.

[2022-03-20 16:02] cremor commented on #1436
Is this even something a sim could answer? A desync shouldn't happen in sims normally. You'd have to create a custom fight with downtime just at the right moment...

[2022-03-20 16:17] Hekili commented on #1436
It's easy to add a 5 second stun or a condition that would result in a desync.  But no, generally speaking, Seraphim is going to come off CD and get used before Final Reckoning under normal circumstances.

[2022-03-20 17:53] Icebane1331 opened #1438 "Bladestorm gives almost constant Interface errors"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-20 19:30] Hekili commented on #1438
It looks like this occurs when the recommendation to cancel Bladestorm is active.  A fix is incoming.

[2022-03-20 19:33] Hekili commented on #1227
I know it's been a long wait -- it took a pretty significant rewrite of Adaptive Swarm -- but this should be addressed in the next release.

[2022-03-20 19:33] #1227 closed, assigned to Hekili

[2022-03-21 01:36] Hekili commented on #1438
This should be resolved.

[2022-03-21 01:36] #1438 closed, assigned to Hekili

[2022-03-21 01:38] Icebane1331 commented on #1438
Thank you

On Sun, Mar 20, 2022, 8:36 PM Hekili ***@***.***> wrote:

[2022-03-21 03:40] Icebane1331 commented on #1438
not sure what happened but now spell flash isn't working with Hekili since
you updated it

On Sun, Mar 20, 2022 at 8:38 PM Icebane Kramer ***@***.***>
wrote:

[2022-03-21 08:25] Dragonfo opened #1439 "[Surv Hunter] 3+ target AoE uses Volatile Bomb without Serpent sting."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-21 13:37] dubudevs commented on #1419
Prepull https://pastebin.com/n7RBySEf
Post pull https://puu.sh/IPZqw/f7896dea5d.txt
![image](https://user-images.githubusercontent.com/91028108/159273002-2983854a-3f2c-4eae-ae55-7be5862d6638.png)

512kb pastebin limit.

[2022-03-21 14:11] Hekili commented on #1419
So the first point where the Tyrant could've been recommended here was this:

` - this entry's criteria FAILS: time[10.35] > first_tyrant_time[10.01] & ( pet.dreadstalker.active[true] & pet.dreadstalker.remains[1.41] > action.summon_demonic_tyrant.execute_time[1.49] ) & ( ! talent.summon_vilefiend.enabled[false] | pet.vilefiend.active[false] ) & ( soul_shard[0.00] = 0 | ( pet.dreadstalker.active[t

[2022-03-21 14:16] Hekili commented on #1439
You've submitted this already, and I even brought the issue to Hunter theorycrafters.  It doesn't pay off to delay bombs for Serpent Sting.  You can always press Serpent Sting anyway, if you want to, but overall the tradeoff is not worth it.

[2022-03-21 14:16] #1439 closed, assigned to Hekili

[2022-03-21 14:47] dubudevs commented on #1419
It's possible that it is getting confused by a demonic calling proc (demonbolt precast>instant cast dogs). This would make it look like combat was started by dogs because they are way faster than db, and they leave at the same time.

Unsure whether this happens in sims too but I will look into it.

[2022-03-21 14:50] dubudevs commented on #1419
Yep, sim issue. https://www.raidbots.com/simbot/report/i9NLVdPjLEZvi5NvTA1Rda

Will suggest a fix shortly.

[2022-03-21 15:00] dubudevs commented on #1419
You actually have a better insight into the reasoning behind why things are or aren't used, so if you have a suggestiong for a fix that would be useful.

[2022-03-21 15:30] dubudevs commented on #1419
It is as simple as setting first tyrant time to 9 if you arent playing gfg or vf, that will be pushed to the simc apl shortly

[2022-03-21 16:00] Hekili commented on #1419
That would definitely cover the scenario in a truly fresh sim, but going pull-to-pull in M+ might suffer a bit.  But I can make that change for the addon plus some changes to support a not-fresh scenario.

[2022-03-21 16:04] dubudevs commented on #1419
The issue arises when you pull with dogs, which if anything is more likely in m+, especially considering that not playing VF GFG is the m+ build

[2022-03-22 20:54] melarki opened #1440 "[BUG] addon not loading on any of my characters after reset"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-22 20:57] Hekili commented on #1440
When was the last time you updated the addon?  I see that you're up to date, but has it been a while since you updated before now?

It looks like the addon -- or your specialization -- is not enabled.  Please check your specialization's section of the addon options.

[2022-03-22 21:02] melarki commented on #1440
I update it regularly, but yes I see now the spec is disabled, something weird must have happened with my settings on reset. Thanks will make sure to check that first next time! :)

[2022-03-22 21:02] #1440 closed, assigned to Hekili

[2022-03-22 21:05] Hekili commented on #1440
No, it's an issue that it's resetting for some folks, so I appreciate the report.  I'll keep investigating.

[2022-03-23 18:43] Dragonfo opened #1441 "[surv hunter] Another bug with a quick change of bombs with the mad bombardier talent"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-23 19:00] Hekili commented on #1441
If recommendations change quickly, you would need to provide information about what is shown before, what it changes to, what it ends up as.  A single snapshot can't show multiple sets of recommendations.

[2022-03-23 19:08] Dragonfo commented on #1441
Well, there, apart from Raptor Strike and Kill Command, it does not show anything. Often after Kill Command since we spam recommendations more often than Kill Command, this Kill Command is more often shown as priority 1 and then bomb and then Raptor Strike. Well, I'll try to capture this moment now. It is very difficult because there is a fraction of a second it flickers.

[2022-03-23 19:17] Hekili commented on #1441
So, let's pin down specifics.  You said:

What do you mean, exactly?

Tell it in chronological order, without trying to persuade me of anything.  Just explain.
- I see X recommended, followed by Y.
- I press X.
- The recommendation changes to Z instead of Y, then quickly changes to Y.

Tell me what you see.

[2022-03-23 19:21] Dragonfo commented on #1441
https://pastebin.com/G5pszh6u
https://pastebin.com/9KLKnYJ8

I took 2 pictures here. Each time different ability is recommended once can be kill command or raptor strike

[2022-03-23 19:23] Hekili commented on #1441
You're not providing the information I need from you to help.  Please answer what I'm asking you.  I need the actual context.

What does this mean in relation to the title of this ticket?

[2022-03-23 19:29] Dragonfo commented on #1441
Is this some kind of joke? I've provided you with 2 snapshots. I can't how can I capture this moment in a split second? there is a 1 second shift that changes as fast as the blink of an eye. Can you catch it? me not. You fixed this earlier, but didn’t add it to the release, you have an alpha 2 version that fixes this but not the release one. It turns out that you did not add the fix that you previ

[2022-03-23 19:38] Hekili commented on #1441
No, I asked:  Tell it in chronological order, without trying to persuade me of anything. Just explain.

So explain, as I asked.  What do you see?  What does it change to?  What does it change to after that?

All the code that was in the alpha is in the release, so I need you to provide the explanation you asked for.  It wouldn't really make sense for me to just unfix something that I already delib

[2022-03-23 19:38] ghost opened #1442 "[BUG] Demonology Warlock rotation wrong 9.2"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-23 19:40] Hekili commented on #1442
1. You have Cooldowns turned off.  See /hekili > Toggles.  You'll want to get used to toggling them on/off so the addon recommends them only when you want them to show up.
2. If you submit another ticket in the future, please select the right ticket type (this was about recommendations), and then make a more serious attempt to fill out the questions that are asked.

[2022-03-23 19:40] #1442 closed, assigned to Hekili

[2022-03-23 21:05] Hekili commented on #1442
Also, I realize my response was harsh, so I apologize for that.  There is a Getting Started article in the wiki here that explains a bit about toggles, etc., which can help you get started.

The reason for those toggles is that there are times where you'd want the addon not to recommend those big cooldowns and toggling them off/on is how you control that.  I don't leave them on by default because

[2022-03-24 03:58] Hekili commented on #1441
I've made updates that may address this in 1.0.12.

[2022-03-24 03:58] #1441 closed, assigned to Hekili

[2022-03-24 12:07] Dragonfo commented on #1441
https://imgur.com/a/8DRauOw
I recorded a video, again I was not able to take a snapshot of the problem as you ask. Just physically, in the video you will see exactly why. If you tell me exactly where I should click on the snapshot and make it write, I will do it. I updated if that addon but the problem is not solved.

[2022-03-24 12:21] Hekili commented on #1441
I think something is being lost in translation, because I explained that I need you to explain/describe what you see vs. what you're expecting -- but that a video would be fine, so the video does help.  Can you confirm that the video was recorded on the current release?  Based on what you said, I don't know if you downloaded the update before/after recording that bit.

In your video, I see the bom

[2022-03-24 12:44] Dragonfo commented on #1441
https://imgur.com/a/mtb6Rjp
I have attached a screenshot with the addon version. I was making a video on it now. Regarding the new idea that was proposed, I think this, in turn, can worsen the current situation. I guess I'd better get used to this quick change of bombs. I just understand that when we throw a bomb, the mad bombardier buff is still hanging on us, after when the bomb hits the target,

[2022-03-24 13:06] Hekili commented on #1441
You could've just said, "yes, the recording is from 1.0.12."  But this works.

The icon swap might be addressed in the 1.0.13-alpha1.

This explanation helps a lot.  I had understood that Mad Bombardier is removed when the bomb impacts the target, but had not modeled that the charge gain happens then as well.  I can have the addon anticipate the additional charge based on this feedback.  Thank you

[2022-03-24 14:01] Dragonfo commented on #1441
https://imgur.com/a/rrtfwIl
I recorded a video of what happened with your modifications. As for me, it's good, better than it was, of course, when it just switched quickly. Thanks for the great idea and your work. P.S. I apologize in advance if I was rude at the beginning)

[2022-03-24 14:01] Khaniixx opened #1443 "[Rogue/Outlaw] Invigorating Shadowdust not accounting for Kyrian CD"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-24 14:36] Hekili commented on #1441
Thanks for the follow-up video.  And there's no need to apologize, I could've been more polite as well.  Your feedback has been really helpful.

I will say that I really don't *like* that there's a moment where the icon updates before new recommendations occur -- since that *seems* like a recommendation change and might lead people to react incorrectly.

It's a hard problem to solve, because the a

[2022-03-24 17:13] machajr opened #1444 "cycle_enemies doesnt work"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-24 17:32] Hekili commented on #1444
`cycle_enemies` is something I created for the addon; it only works with "Recommend Target Swaps" enabled (a.k.a., cycling).  You do not have it enabled.

It is the number of targets that you would actually want to cycle through in a fight, essentially filtering `active_enemies` based on internal ability criteria and your spec's settings (i.e., if you specify that targets need to live for 10 secon

[2022-03-24 17:32] #1444 closed, assigned to Hekili

[2022-03-24 18:19] crflanigan opened #1445 "[BUG] Arcane Mage + Siphon Storm Legendary results in odd reccomendations"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-24 18:20] Hekili commented on #1445
Please submit a "Recommendations" ticket following those instructions.  Thanks.

[2022-03-24 18:20] #1445 closed, assigned to Hekili

[2022-03-24 21:44] coanarcanius opened #1446 "[REC] Hammer of Wrath suggested when not usable"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-24 22:40] crflanigan opened #1447 "[REC] Arcane Mage + Siphon Storm Legendary results in odd reccomendations"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-24 23:04] deodanyt opened #1448 "[REC] REPLACE THIS TEXT WITH YOUR CLASS/SPEC AND BRIEF ISSUE DETAILS"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-24 23:48] #1448 closed, assigned to Hekili

[2022-03-25 05:41] whoaisjustin opened #1449 "Interrupt Window Gets Stuck"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-25 10:47] Trantore opened #1450 "[BUG] LUA Error - 1704 attempt to call global 'GetItemTexture' (a nil value)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-25 12:18] Hekili commented on #1449
Thanks for the report.  It'd be helpful to also have a snapshot to see what exactly is getting stuck.  Do you have BugSack and BugGrabber.  Are you *sure* there's no error message?  Thanks!

[2022-03-25 15:21] deodanyt opened #1451 "[REC] Feral: The First Sigil trinket not recommended."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-25 15:30] deodanyt commented on #1451
https://pastebin.com/FJ03zbP0
here new pastbind accidently put wrong

[2022-03-25 16:40] cremor opened #1452 "[REC] Judgment debuff isn't triggered by Divine Resonance"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-25 17:50] Hekili commented on #1452
Thanks, good diagnosis on this one.

When Divine Resonance procs, should the Judgment cast also generate Holy Power?  I genuinely don't recall.  It looks like it wouldn't right in the addon's model.

[2022-03-25 18:03] cremor commented on #1452
Yes, it does generate Holy Power. But that already works. You fixed that in 72f400fa36a2b006fa669f86f9aa9cf11d7f946c

The snapshot also shows this working. holy_power is increased to 4 on line 806 (after the periodic Divine Resonance event).

[2022-03-25 21:24] coanarcanius commented on #1446
seems to be working as intended, I don't know how prot pal works. This is due to leveling into how r2, which allows how during wrath, wrath was up and cds suggested, so wrath was suggested. user error in that i was saving wings and following prio past that, which breaks things.

[2022-03-25 21:24] #1446 closed, assigned to Hekili

[2022-03-26 00:13] crflanigan commented on #1447
After playing a little more I am still seeing the same pattern, but another weird thing is coming up.

Hekili will tell me to Arcane Barrage when I have plenty of mana, but no way to fill up my Arcane charges because ToM and Orb are on 10+ seconds CD left. I basically just ignore when it does that but I do have to catch myself.

Mirrors of Torment continue to not get reccomended even when it's bee

[2022-03-26 02:08] whoaisjustin commented on #1449
I've installed Bugsack/BugGrabber and will try to provide amplifying information when I see it again. Feel free to close the issue and I can just throw in another one when/if it happens.

[2022-03-26 02:32] Hekili commented on #1447
The same ticket instructions apply. Snapshot it, provide a link. Sim link of your character helps, too. Thanks!

[2022-03-26 02:49] crflanigan commented on #1447
When you say snapshot, do you mean I screen capture when Mirrors is off CD but not recomended, or when Arcane Barrage is suggested but there's no way to rebuild charges besides Arcane Blast?

[2022-03-26 02:59] Hekili commented on #1447
![image](https://user-images.githubusercontent.com/9438134/160222238-dee63f3e-5205-4ffe-81b1-16a08d9f750e.png)

(For either/both scenario.)

[2022-03-26 09:34] cremor commented on #1452
Oh, now I see what you mean. If the change in 89a96bb3a4b2a70f69042ef5624efec4787b9e2d would have worked, a periodic Divine Resonance tick would now simulate 2 Holy Power, right? One from the change from 72f400fa36a2b006fa669f86f9aa9cf11d7f946c and one from `judgment.handler`.

[2022-03-26 11:27] cremor commented on #1452
I noticed another bug in 89a96bb3a4b2a70f69042ef5624efec4787b9e2d:
You seem to call `judgment.handler` for both Ret and Prot. But Divine Resonance only casts Judgment for Ret. For Prot it casts Avenger's Shield (so the same spell as Divine Toll casts).

[2022-03-26 13:05] Hekili commented on #1452
Technically, the bug is that it doesn't cast anything on tick for either. Because the event processor wasn't running the function for those events. It'll be fixed soon. I just couldn't work on it last night.

[2022-03-26 14:31] Hekili commented on #1452
Ok, I'll be posting 1.0.13-alpha3 that should address this for both Ret and Prot.  The change can impact other specializations, so I want to look closely at it.

[2022-03-26 16:18] Hekili commented on #1449
Another place to check would be /hekili > Warnings -- issues that occur when the addon is generating recommendations might get caught here and not show up as a normal error.

[2022-03-27 15:50] cremor commented on #1452
I just tested v9.2.0-1.0.13-alpha3 and it seems like I can still reproduce the bug.

Here is a new snapshot: https://pastebin.com/m43B8tJ5
A Divine Resonance tick is on line 804. The next recommendation after that is Judgment. But it shouldn't have been. `debuff.judgment.up` is false on line 1062, but should be true here.

I've also quickly checked the commits and while I could find the spell chan

[2022-03-27 20:56] Hekili commented on #1452
The change to address it isn't actually in the Ret or Prot file, it's in State, but I can see it didn't make it into the alpha for some reason.  I'll add it now.

[2022-03-27 21:01] Hekili commented on #1451
![image](https://user-images.githubusercontent.com/9438134/160300854-10cbb134-e081-4782-af41-12a68c8fe306.png)

This should be resolved in the latest alpha (1.0.13-alpha4) and will be in the next full release.

[2022-03-27 21:01] #1451 closed, assigned to Hekili

[2022-03-27 21:03] Hekili commented on #1450
This is resolved in the latest alphas and will be in the new release.

[2022-03-27 21:03] #1450 closed, assigned to Hekili

[2022-03-27 21:03] Hekili commented on #1443
You mentioned this is still not working; can you post a new snapshot using the latest alpha?  Thanks.

[2022-03-27 21:17] BigBong69 opened #1453 "[BUG] Execute being suggested when the boss was significantly above 20%"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-27 22:30] Hekili commented on #1453
Thanks, I'm investigating this now.

[2022-03-28 03:20] Khaniixx commented on #1443
https://pastebin.com/eMnvgBKR

[2022-03-28 05:00] NokuraWoW opened #1454 "Marksman Hunter 4 piece with unblinking vigil priority"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-28 05:56] cremor commented on #1452
Thanks! I'll test it in a few hours when I get home.

But just from reading the code, wouldn't it now simulate 2 Holy Power per Divine Resonance tick? Because as far as I see it, we now have 3 places where Divine Resonance is handled:

- `spec:RegisterResource`: This only simulates Holy Power gain, right? If we indeed have 2 Holy Power per tick now, this could be removed.
- `spec:RegisterHook( "re

[2022-03-28 15:11] Hekili commented on #1452
Yeah, if I want to implement Divine Resonance this way, I need to consistently put the Holy Power gain in the handler for those abilities (or not).  It's a problem that it's inconsistent.

[2022-03-28 16:22] cremor commented on #1452
I've just tested v9.2.0-1.0.13-alpha4 plus the changes from 0899358198ec8e49e561a91428296fa49805c309. Looks good now, thanks!

[2022-03-28 16:33] Hekili commented on #1454
Hey, I'll need you to be a lot more specific with the report.  What makes you think this isn't already factored into the priority?  What recommendation are you seeing that you think you shouldn't?  What recommendation are you not seeing that you think you should?

What happens everytime?  Your snapshot shows:

1. Pre-pull Aimed Shot.

2. Volley: `buff.resonating_arrow.up[false] | ! covenant.kyrian

[2022-03-28 17:00] NokuraWoW commented on #1454
its recommending that i keep aimed shot capped, which is the #1 priority as MM not to do. its much more important to use aimed shot than it is to cap focus. i was having 2 aimed shot charges and it was telling me to rapid fire

[2022-03-28 17:11] Hekili commented on #1454
There's no recommendation that translates to "keep Aimed Shot capped."  Take a snapshot when you think Aimed Shot should be recommended, but isn't recommended, and we can look at that.

[2022-03-28 17:17] Hekili commented on #1452
Thanks!

[2022-03-28 17:17] #1452 closed, assigned to Hekili

[2022-03-28 17:55] #1454 closed, assigned to Hekili

[2022-03-29 22:29] noiseuu opened #1455 "[BUG] 4 set bug with venthyr druid"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-29 23:05] Hekili commented on #1455
I'll fix this, but if you submit any more tickets, please make an effort to pick the right kind of ticket and actually describe the problem in a meaningful way.  The easier you make it for me to understand the problem you are having, the more likely I'll be able to fix it in a timely fashion.

The AP cost reduction of the tier set was tuned based on the original design, and wasn't updated to accou

[2022-03-29 23:05] #1455 closed, assigned to Hekili

[2022-03-30 19:06] Jroy21 opened #1456 "Shaman/Enhancement - Suggests FlameShock when target already has it active"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-30 19:20] Jroy21 opened #1457 "Shaman/Enhancement - Crash Lightning is not suggested before Stormstrike in AOE situation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-30 19:30] Hekili commented on #1456
Lava Lash was not available for 5.13 seconds.
Primordial Wave was not ready for 34.86 seconds.

Your choices were to push nothing or to push Flame Shock; pushing Flame Shock was the better option.  There is a class setting you can use to turn this off if you want.  /hekili > Enhancement > Filler Shock.

[2022-03-30 19:30] #1456 closed, assigned to Hekili

[2022-03-30 19:41] Hekili commented on #1457
1. There's no AOE "profile."  There's just a priority list that can make different recommendations based on targets and other factors.
2. Actually, talents do influence when you'd use Crash Lightning.  With Crashing Storm, you end up using it again before the Crash Lightning buff expires.
3. In your snapshot, you had another 1.79 seconds of Crash Lightning buff up.  This means both the Lava Lash a

[2022-03-30 19:41] #1457 closed, assigned to Hekili

[2022-03-30 20:03] Jroy21 commented on #1457
Thanks for the explanation

[2022-03-30 20:04] Jroy21 commented on #1456
Great, thanks for the info, didn't know about the Class settings.

[2022-03-31 23:19] CaffeineFueled opened #1459 "[BUG] DPS/Guardian rotation being suggested when in Druid Restoration spec"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-31 23:22] Fringetastic opened #1460 "[REC] Feral opener, Convoke before Rip?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-31 23:59] Hekili commented on #1460
The reason Convoke was recommended here was because you were in Berserk.

[code]

If I had to guess, your Tiger's Fury button is macro'd to also cast Berserk.

[2022-04-01 08:35] woefulwabbit opened #1461 "[REC] Balance - Convoke not recomennded on Pulsar proc when CDs are disabled and Covenants are enabled"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-01 11:49] Dragonfo opened #1462 "[Surv Hunter] Problem with CT rotation and mad bobardier implementation in one target."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-01 13:52] PoroKingWin commented on #1462
I think this is happening because the full_recharge_time is always 0 for Wildfire Bomb (this is probably part of the new changes to make it work for spells that are unknown) so it thinks the player is permanently capped. The APL has it as a priority to not cap so it is recommending bomb as soon as it's available. I think this might be because of the changing spell ID for Wildfire Bomb when using W

[2022-04-01 14:33] Dreamin93 opened #1463 "[Vengeance Demon Hunter] Infernal Strike Usage"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-01 15:51] Hekili commented on #1463
Your snapshot doesn't show what you're saying you see.

[2022-04-01 15:59] Hekili commented on #1463
If I had to guess, this might've shown up for you based on a bug impacting abilities with charges that is fixed in the upcoming alpha build.  If not, let me know and provide a snapshot showing the issue.

[2022-04-01 15:59] #1463 closed, assigned to Hekili

[2022-04-01 16:05] Hekili commented on #1462
This was a bug that should be resolved in -alpha3.  Thanks for the report.

For future reports, if necessary, I'd appreciate it if you can keep it brief and in bulletpoints or numbered:

1. I see X, Y, Z.
2. I should see A, B, C.
3. Because D, E, F.

[2022-04-01 16:05] #1462 closed, assigned to Hekili

[2022-04-01 16:06] #1460 closed, assigned to Hekili

[2022-04-01 16:08] Hekili commented on #1461
Yeah, you were right in our other discussion on this topic -- `druid.no_cds` in SimC will block usage of Convoke even though the addon lets you toggle Convoke separately.  I'll remove the `druid.no_cds` check since it's not needed for addon purposes.

[2022-04-01 16:11] Dragonfo commented on #1462
Thanks for the quick fix. For the future, I will take into account I will describe the problem more briefly) And also thanks to PoroKingWin for finding the problem.

[2022-04-02 13:57] #492 closed, assigned to nobody

[2022-04-02 13:58] Hekili commented on #1431
I'm not going to pursue this further because it's not proving beneficial consistently enough to build into the addon.

[2022-04-02 13:58] #1431 closed, assigned to Hekili

[2022-04-02 13:58] #1447 closed, assigned to Hekili

[2022-04-02 13:59] Hekili commented on #1449
Going to close -- if you see it again and can get a snapshot/error messages, feel free to reopen.

[2022-04-02 13:59] #1449 closed, assigned to Hekili

[2022-04-02 14:00] Hekili commented on #1453
This should be resolved in 1.0.13.

[2022-04-02 14:00] #1453 closed, assigned to Hekili

[2022-04-02 14:05] Hekili commented on #1443
The latest alpha appears to address this successfully.

[2022-04-02 14:05] #1443 closed, assigned to Hekili

[2022-04-02 14:09] Goldenstar74 commented on #1459
Hello,

I have the same issue with Resto Shaman when I switch from Enhance to Resto on my shaman.

If I /reload while in Resto spec the issue clears, I have also noticed the issue will happen when in Resto spec and join a group, again /reload resolves the issue.

Let me know if you need any more detail or information

[2022-04-03 02:48] yomeistro opened #1465 "[BUG] Warlock (Destruction) - Immolate spam in AOE scenario bug"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-03 03:41] Hekili commented on #1465
Can you sim yourself in a 5 target scenario and provide the link?

[2022-04-03 11:34] yomeistro commented on #1465
https://www.raidbots.com/simbot/report/cAuFtDFvqHB7zENyZ1WbV5

[2022-04-03 14:56] Hekili commented on #1465
Ok, so, fun news:  your sim does the same thing!  The default profile will absolutely spam Immolate in multi-target.

![image](https://user-images.githubusercontent.com/9438134/161434003-8a748e18-6260-4d0a-a9ad-c407009012cc.png)

https://www.raidbots.com/simbot/report/ou69AFLgrgdzt2ssYVVbux

I tried a couple of quick edits and it's clearly a mistake.  I'll post a ticket for SimC to do their update

[2022-04-03 17:49] Fringetastic commented on #1460
I finally got time to look into this further, thank you for this. Yes, I have TF macroed together with Berserk. I did mention it but maybe it wasn't clear.

I don't understand why simc would have ferals convoke before rip is up but okay. It still feels wrong to me so I dug around to learn how to change the behavior. I ended up changing the convoke action under cooldowns in the action list. I added

[2022-04-03 22:45] Hekili commented on #1459
Thanks, this will be resolved in today's release.

[2022-04-03 22:45] #1459 closed, assigned to Hekili

[2022-04-03 22:58] Hekili commented on #1460
It's not that it explicitly wants to; it's that your TF/Berserk macro puts you in a situation that the sim wouldn't put itself in.  The sim would not have used Berserk before Rip is up:

`actions.cooldown+=/berserk,if=dot.rip.ticking&(cooldown.convoke_the_spirits.up|cooldown.convoke_the_spirits.remains>32|fight_remains<20)`

But you're using Berserk early, and skipping past that point.

If I adjus

[2022-04-04 02:36] Fringetastic commented on #1460
Thanks again. I can see how I've gotten to this point.

I removed Berserk as a possible recommendation because there are times/phases/events that I want to hold it and I didn't like trying to figure out what actions to take while ignoring the recommendation. I have an alert for when it is available so I don't forget to use it.

That, along with the feral guide on wowhead recommending berserk+TF at

[2022-04-04 03:30] yomeistro commented on #1465
your a star mate thank you very much!

[2022-04-04 09:14] Elmegaard opened #1466 "[FEATURE] Add option to disable addon for specific specs"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-04-04 12:57] Hekili commented on #1466
Use the latest version of the addon.

[2022-04-04 12:57] #1466 closed, assigned to Hekili

[2022-04-04 12:57] #1465 closed, assigned to Hekili

[2022-04-04 12:58] Hekili commented on #1461
1.0.14 should address this issue.

[2022-04-04 12:58] #1461 closed, assigned to Hekili

[2022-04-05 01:51] Saebeas opened #1467 "[FEATURE] Disc Priest Solo/Questing PvE Rotation."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-04-06 21:24] TheHambrick opened #1468 "Hunter/Surv recommending double bomb when it shouldn't"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-07 00:13] faidtastic opened #1469 "[BUG] Hekili does not disappear when switching to unsupported specs. (HPal)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-04-07 00:47] Hekili commented on #1469
Thanks for your ticket.  Please download and install https://github.com/hekili/Hekili/releases/v9.2.0-1.0.15-alpha2 and see if the issue persists.

[2022-04-07 04:30] Glorithan opened #1470 "[BUG] Hekil no showing modifier key for modifier keybinds"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-04-07 04:57] Glorithan commented on #1470
I just dropped dominos and it fixed it.

[2022-04-07 04:57] #1470 closed, assigned to Hekili

[2022-04-07 09:44] Dragonfo opened #1471 "[MM Hunter] Problem with Secrets of the Unblinking Vigil."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-07 17:28] faidtastic commented on #1469
Yes, this version you've posted above is now working well, thank you!!

[2022-04-07 17:28] #1469 closed, assigned to Hekili

[2022-04-07 23:05] Hekili commented on #1471
You can't predict that the legendary is going to proc when Trick Shots is gained; it would be incorrect for the addon to tell you that you'll be able to press Aimed Shot.

You can't predict it, and if you're waiting 1-2 seconds, you're probably making a poor choice because waiting is worth 0 DPS.

It's not the same thing; when Mad Bombardier is up and your bomb explodes, you reliably get a charge

[2022-04-07 23:05] #1471 closed, assigned to Hekili

[2022-04-08 13:55] Hekili commented on #1468
Can you recheck this with 1.0.15?  Thanks.

[2022-04-08 14:19] Williamn88 opened #1472 "[REC] Not tracking focused trickery count properly"
### Before You Begin

- [x] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-09 01:23] Amortalist opened #1474 "Survival Hunter Serpent Sting Spam"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-09 05:09] Williamn88 commented on #1472
Okay kinda ignore the pre fight bursting shot part. Blizz just fixed that so focus spend is reset  on pull :)

EDIT: On second thought maybe not ignore it as it still have its use in other content then raids.

 I did some more testing on a target dummy as I wanted to see if it counted bursting shot while in combat. That worked fine but I discovered something else. It does not seem to count the ver

[2022-04-09 06:04] Williamn88 commented on #1472
Added more info above after doing some more testing.

[2022-04-10 01:07] Hekili commented on #1472
Where are you looking at it, precisely?

I'm looking at both of these, just deciding on how I want to solve it.

I'd like to know how you're testing this *precisely*.  I.e., if you're pausing and looking at the display, firing an arcane shot, and then checking the same paused display, the number is not going to update.

[2022-04-10 01:25] Hekili commented on #1474
Thanks for the report.  Are you the only Survival Hunter in your raid?

[2022-04-10 01:39] Williamn88 commented on #1472
Hi Hekili

Im going into the apl, selecting any skill that got focused_trickery_count and hovering over it. Like here https://imgur.com/a/Mb73jPj

The addon is not paused or anything.
Can try to precisely describe what im doing.

1. Going to a target dummy
2. unequip, re-equip tier set and reloadui to reset everything
3. Open Hekili and go to the priorities and select something like aimed shot fro

[2022-04-10 02:21] #1468 closed, assigned to Hekili

[2022-04-10 12:44] Lipstopica commented on #1474
I've also encountered this. I was with another Hunter but he was a MM Hunter in a dungeon. I didn't get a snapshot only because I've just encountered and didn't see this until after. I will get a snapshot next time I see it happen, if needed.

[2022-04-10 14:01] Hekili commented on #1474
So far, I'm trying to determine if:

1. It only happens with "Recommend Target Swaps" enabled (this shows as `cycle = true` in snapshots.
2. If this only started with 1.0.15, which attempts to use a more efficient aura detection system.
3. If this only happens with another Hunter also using Serpent Sting.

In Amortalist's post, the addon has clearly detected Serpent Sting on the target pre-recomme

[2022-04-10 14:08] Lipstopica commented on #1474
1. I had my target swap disabled when it happened to me
2. If I have time later on I will go pre version and see if I can catch it
3. The MM I was with did not use the talent Serpent Sting or the legendary that grants Serpent Sting

I couldn't seem to replicate the issue on a target dummy when I tried too.

[2022-04-10 18:30] Amortalist commented on #1474
I tried without recommended swap and it seemed to have done the same SS spam, actually in the Hekili minimap menu as a survival hunter, whether you click on "recommend target swap" or not doesn't trigger the yellow dot that indicates if it's active or not, rather you have to see the prompt in the middle of your screen. It has been doing that in Single Target bosses (or no continuous ads) like Daus

[2022-04-10 19:28] Dragonfo commented on #1474
If you look at the APL, then conditions are worked out there such as if there are 3 seconds left on the target before the Serpent sting subsides, the addon should check if we have a bomb.volatile to update the SS, or do a refreshabl. But the addon does not work out these conditions very well.
`serpent_sting,target_if=min:remains,if=!dot.serpent_sting.ticking&target.time_to_die>7|buff.vipers_venom.

[2022-04-10 19:48] Hekili commented on #1474
The minimap dropdown is a separate issue that I have fixed but not released.

So far, I am *thinking* that the newer code that tries to make aura updates more efficient is just...losing track of Serpent Sting somehow, and it may occur for other auras.  I am adding some code to test and catch scenarios where a snapshot detects a buff/debuff up front but that it is missing when decisions are being m

[2022-04-10 19:49] Hekili commented on #1472
There's no need for a video, the explanation is fine.  I can test on PTR directly; I just wanted to be confident you were looking in the right places because some things are "frozen" and some things are immediately updating, so it's easy to mislead one's self.  It looks like you're largely correct.

[2022-04-10 19:50] Hekili commented on #1474
@Dragonfo I'll take a look and see if I can prove that extensions/applications by Volatile Bomb are a trigger for this issue.  That's a good suggestion.

[2022-04-10 19:51] Williamn88 commented on #1472
Ah perfect. Not sure if I was able to put it into words correctly. Handy with the PTR for stuff like this.
Let me know if there is anything more I can assist with.

[2022-04-10 20:54] 25haberianh opened #1475 "Implosion spam at 3 imps seems inefficient for Implosive Potential"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [ ] I am reporting

[2022-04-10 21:04] Hekili commented on #1475
Hi, could you please put your snapshot on Pastebin and provide the link; otherwise it's basically unreadable.  Thanks!

It would also be helpful if you were to sim your character in circumstances that match what you're concerned about (i.e., imploding in single target = Patchwerk with 1 boss).

[2022-04-10 21:41] 25haberianh commented on #1475
Sorry about the monster of a recommendation, lol.

I've added both your suggestions - I set the Raidbots sim for 3 bosses, and light movement.
Thanks for your help!

[2022-04-10 22:42] Hekili commented on #1475
Looking at your snapshot, your priority does not match my default priority.  Did you edit it intentionally?

The first ability in your `default` action list is Implosion with absolutely no conditions associated with it.  That is inconsistent with the default.

The default priority would use Implosion in the following cases:

`actions+=/implosion,if=boss&fight_remains<2*gcd`
`actions+=/implosion,if

[2022-04-10 22:43] Hekili commented on #1474
Okay, 1.0.16-alpha1 is available now.  I made it so Snapshots will now tell me if you have a buff but the addon didn't capture it earlier.  I also reverted a change to buff detection that will force all buffs and debuffs to be updated more often.

I couldn't find any relationship between Serpent Sting disappearing and Volatile Bomb, although I was testing on dummies and dummies have odd behavior t

[2022-04-10 23:10] 25haberianh commented on #1475
I think I was looking for an option for minimum Imps. I've reset my priority. Want me to re-send it?

[2022-04-11 13:05] Hekili commented on #1475
If you're using the default priority and you believe you have an opportunity for improvement, sure.  Provide a snapshot when it's recommending Implosion and you think it shouldn't.  Make sure your sim and snapshot are the same scenario -- if your snapshot is against 1 target but your sim is 3 targets, they're not comparable.  Thanks.

[2022-04-11 13:06] Hekili commented on #1474
Please update and let me know if the Serpent Sting issue persists with the alpha version.  If it's resolved, I'll leave these solutions in place.  If it's not resolved, please post updated snapshots so I can investigate further.  Thanks!

[2022-04-11 15:17] dubudevs commented on #1475
The demo APL is highly unoptimised for implosion cycles, especially with SC. With SC you can "reliably" get 9, and without SC you alternate between 6 and 9. SimC does not have the functionality built in to handle implosion cycles intelligently so it is unlikely to be updated any time soon, but imploding with 3 imps should never be recommended unless the target is about to die.

For IP there is als

[2022-04-11 15:52] dubudevs commented on #1475
Changing these two lines into four lines with a SC check on each one is a DPS gain, and reflects "correct" gameplay more accurately

[code]

[2022-04-11 16:04] Hekili commented on #1475
I occasionally add things I need or would prefer, like creating generic expressions for when the next 'major demon' would expire.  Catching how many imps will expire in the next X seconds and comparing it to how long it would take to generate more (time to 3 shards + hand of guldan cast time) is not that complicated.

[2022-04-11 16:49] 25haberianh commented on #1475
@dubudevs What you're saying is, it isn't recommending me to generate 6 imps before imploding, because that would make the Bloodlust bonus useless? You would think the two stack...

Either way, I think adding a slider for "Minimum Implosion Imps" is a smart idea, because it would give players flexibility based on their build. Lets say I set the slider to 9 imps. I could do multiple large Implosion

[2022-04-11 16:50] dubudevs commented on #1475
If this can be implemented it would make it significantly more accurate in aoe than the current simc implementation, this is one of the biggest differences between real gameplay and sims right now. The logic is relatively simple for implosion cycles, the only "real" logic would come with optimisations that aren't implemented elsewhere in the APL yet, so it does basically boil down to just replacin

[2022-04-11 16:53] dubudevs commented on #1475
[25haberianh](https://github.com/25haberianh) It should always be recommending 6 imps, unless the target is about to die (in which case it will recommend to implode as the last global, roughly). But, as Hekili mentioned it looks like there is an issue with your APL.

I'll un-hijack this thread now lol.

[2022-04-11 16:55] 25haberianh commented on #1475
@dubudevs No problem, man! I haven't had a ton of time to test my newly-reset APL, so I'll send an update on that later.
Thanks so much!

[2022-04-11 16:56] dubudevs commented on #1475
@25haberianh FWIW, as I eluded to earlier, if you are playing IP you probably want to play SC too, in which case you can get 45% haste reliably from 9 imps.

[2022-04-11 17:06] dubudevs opened #1476 "[FEATURE] Demonology implosion and demonic core functionality tweaks"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-04-11 17:42] Hekili commented on #1476
### Imp Tracking Expression(s)

Hopefully, priority logic will avoid burning imps that could still be extended by your Tyrant if you have DCon.

So, let's say we want to call this `next_imp_remains` to `time_to_imp_expires` and it is simply the remaining time on your lowest imp (whether based on timing out or based on depleting their energy).  Does that cover it?  If not, why not?

Imps are alread

[2022-04-11 19:05] dubudevs commented on #1476
Hopefully yes. However, the `variable.next_tyrant_cd>5` really ought to be changed to imp lifetime (a set number of GCDs). But that's a task for the APL probably. This can get a little awkward with haste buffs that come in around this time, its hard to say how problematic this is without play testing though. I bet it would be a gain to force an implosion with N+ imps (6+?) at this point, since oth

[2022-04-11 22:31] 25haberianh commented on #1475
@dubudevs I thought about that, I think I'll start running it now. The only reason I've been running Grimoire: Felguard is because IcyVeins says that it "deals a lot of burst damage, and is a particularly powerful cooldown for cleave." Then I read the next sentence, which says that this only happens with Demonic Consumption (which I am running) and Summon Vilefiend (which I'm not)
Thanks so much f

[2022-04-12 14:50] Amortalist commented on #1474
It seems to be ok now, tried multi target and ST, haven't seen any SS spam advised

[2022-04-13 01:21] CDelongchamp opened #1477 "[REC] Fury Warrior Recommending triple whirlwind"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-13 11:35] Shamuray82 commented on #1477
Merciless bonegrinder conduit may cause that if it hapeens after bladestorm or you may not have enogh rage so it tells u to use free ww

[2022-04-13 11:56] Shamuray82 opened #1478 "Fae Transfusion always showing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [x] I am reporting

[2022-04-13 13:10] CDelongchamp commented on #1477
In this setup Merciless Bonegrinder isn't equipped, and both bloodthirst and whirlwind are rage builders, as such are cooldown based. So I don't think that's the culprit.

[2022-04-13 13:15] Shamuray82 commented on #1477
then i dont know what to tell you, works fine for me every time. You sure u havent modified the default rotation to change some variables?

[2022-04-13 13:25] Dragonfo opened #1479 "[RECOMMENDATION] Blood DK using Blood Boil less during DRW with tier set."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-13 13:30] Hekili commented on #1479
Have you made sims for the changes you're asking for?  What is the result?

[2022-04-13 13:30] CDelongchamp commented on #1477
I haven't knowingly changed any variables that would affect this, but the issue is more than just whirlwind three times, rather it's suggesting abilities that mathematically shouldn't be priority.

[2022-04-13 13:31] Dragonfo commented on #1479
Here I apologize, but I'm not strong here, I don't know how to make a sim with changes.

[2022-04-13 13:48] Hekili commented on #1477
The simple reason for 3 Whirlwinds there is that despite being "3 GCDs" for Bloodthirst is that that your GCD is as  the timing is as follows:

<table>
<tr>
	<td>Time
	<td>Action
    <td>Notes
<tr>
	<td>0.00
	<td>Still on GCD
    <td>GCD has 0.02 seconds remaining.
<tr>
	<td>0.02
	<td>Whirlwind
    <td>Bloodthirst had 2.47 seconds left on its cooldown (ready at +2.49 from the time recommendations

[2022-04-13 15:12] Hekili commented on #1479
You'd have to be able to explain the "why" for your changes.  If you can't sim it, you still need to provide a sim of your character in the situation you describe, and explain why you think this would perform better.

[2022-04-13 15:14] Hekili commented on #1478
Show me a screenshot of your settings where you have Fae Transfusion disabled or set to show on boss only.

[2022-04-13 15:14] Hekili commented on #1474
I'll be putting these changes into a release this week.  Thanks!

[2022-04-13 15:14] #1474 closed, assigned to Hekili

[2022-04-13 15:55] 25haberianh commented on #1475
I ran a M+ yesterday, it seems to be fixed. And, I'm doing significantly more damage now that I've switched to Soul Conduit.

Thanks for everything!

[2022-04-13 15:55] #1475 closed, assigned to Hekili

[2022-04-13 16:38] Shamuray82 commented on #1478
![ss](https://user-images.githubusercontent.com/103365654/163228829-5d26ac43-48c8-48f5-b793-9d3dcd74d5f7.jpg)

[2022-04-13 16:41] Dragonfo commented on #1479
Here are my two sims. https://www.raidbots.com/simbot/report/3mBgFBmk1JyZDQtjhsMECA  https://www.raidbots.com/simbot/report/ibcLJSfqXhzxGK1qR1cDtk Why did I emphasize on the ability of Blood boil during active DRW. According to the rotation of the sim, we have the minimum amount of Blood boil. This is due to the fact that now the rotation is built around DRW and its cooldown. Here is a screenshot

[2022-04-13 17:05] Hekili commented on #1479
I just want to remind you that the "wall of text" explanations are a real challenge to interpret and work with.  Please think about submitting bullet points with short, specific topics.  This is...too much.  I need to be able to clearly delineate "here is what the addon/sim does" vs. "here is what I want" vs. "here is the evidence that supports what I want."

I'm sorry if there is a communication

[2022-04-14 06:08] Hekili commented on #1479
I'm getting closer to a sim profile that uses Blood Boil more, but there has been a fairly significant loss of mitigation in the process.

https://www.raidbots.com/simbot/report/sU3DLjJFziUDei4jmqoYPG
https://www.raidbots.com/simbot/report/93B3hbYLUXdVt2M3SNENK5

[2022-04-14 08:06] Jimmis79 commented on #1478
I can confirm that Fae Transfusion is been shown even when is disabled

[2022-04-14 14:01] SirWillae opened #1480 "[REC] No Niuzao on Brewmaster"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-14 14:08] Hekili commented on #1480
You can see the criteria in /hekili > Priorities > Brewmaster.  Invoke Niuzao appears in the default action list.  It requires you have a target that will live 6+ seconds, and that you have fewer than 2 Purifying Brew charges.  If you aren't taking damage and purifying, it won't be recommended.

[code]

There are some new criteria for Brewmaster in sims that I have not yet implemented, but if you

[2022-04-15 06:12] Shamuray82 commented on #1478
any chance it can be hotfixed?

[2022-04-15 06:20] Hekili commented on #1478
It will be fixed; I've been busy with my real job so I haven't had time to resolve it, but it will be fixed this weekend.

[2022-04-15 06:22] Shamuray82 commented on #1478
ty vm

[2022-04-15 06:36] Jimmis79 commented on #1478
Thank you very much for your hard work and the awesome addon! I am using it for years! I can't play WoW without it:)

[2022-04-15 23:00] twonwick opened #1481 "On Default, Hekili wants me to moonfire everything before using rotation."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-16 00:44] Hekili commented on #1481
You'll have to submit a complete ticket with the snapshot showing this occurring.

Did you import a priority? There's no need.

[2022-04-16 02:47] Hekili commented on #1478
Fix is incoming.  Thanks for reporting.

[2022-04-16 02:47] #1478 closed, assigned to Hekili

[2022-04-16 02:47] #1480 closed, assigned to Hekili

[2022-04-16 03:37] Hekili commented on #1477
@CDelongchamp -- there is an existing feature that may help resolve this; I'd appreciate it if you would test it.

Go to /hekili > Abilities > Bloodthirst, and set the "Clash" to something around 0.2.  That should address it in your snapshot (since the CD difference was 0.12 seconds).  I'm going to close the ticket since there is a solution, but let me know if this doesn't meet your needs for some

[2022-04-16 03:37] #1477 closed, assigned to Hekili

[2022-04-16 08:25] Dragonfo commented on #1479
Hello. I apologize for not answering for so long. I saw that you added these changes to the alpha version. I tested with this function in AoE damage increased, and problems with AoE disappeared.
There is a problem now with DRW. There is a suggestion to use a runic power overcap in favor of extending the DRW time. Right now the addon uses Death strike when we hit the runic power cap, but we still h

[2022-04-16 08:27] Dragonfo commented on #1479
We just need to reduce more death strikes during DRW. To increase DRW uptime. The current game for BDK looks like our healing is cut off by 3 times. Due to the large uptime of DRW
![1](https://user-images.githubusercontent.com/63850853/163668380-4a724845-adc6-4ca5-bce5-03ecc9755953.jpg)
.

[2022-04-16 11:10] Dragonfo commented on #1479
I've also attached screenshots. To show that we still have problems with DRW uptime and we still need to reduce the number of death strikes. We should have DRW uptime somewhere around 70-80%
To make it comfortable to tank. Now while uptime does not exceed 60% percent. We lose 20% on using Death strike.
![1](https://user-images.githubusercontent.com/63850853/163672680-0020ddd2-e4d0-463e-ab6b-42c2a0

[2022-04-16 14:37] #1479 closed, assigned to Hekili

[2022-04-16 14:38] Hekili commented on #1479
I would encourage you to work with SimulationCraft to prove the changes you are asking for.  You are welcome to add to this closed ticket when you have data that supports further changes.  Thanks.

[2022-04-16 22:31] #1481 closed, assigned to Hekili

[2022-04-17 04:03] Monkeychow66 commented on #1377
Hi I'm having the same issue.

The screenshot shows that Hekili identifies that I have Templar's Verdict on my bar, key bound to 3 but it should be Final Verdict as shown in the spell book and the tool tip.

The spell flash function works with well without the Legendary chest on.

Also Final Verdict ability is not listed in the Retribution Specialization

I hope this helps and I appreciate the wor

[2022-04-17 08:51] S4mmis opened #1482 "Wrong keybinds sometimes"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-04-17 21:06] Hekili commented on #1482
Unfortunately, I won't be able to diagnose this for you, because it's a function of which bar mods you use and how you've organized your bars.  The game reuses action bar pages and so the addon has to try to guess which binding from which page actually applies at the moment.

If the detected keybindings are incorrect, you can manually specify the binding by going to /hekili > Abilities, select the

[2022-04-17 21:06] #1482 closed, assigned to Hekili

[2022-04-17 21:58] Hekili commented on #1377
Final Verdict is just treated as a "variant" of Templar's Verdict.  I have added code to try to help it flash, but I can't test it myself because PTR is down.  This will be in the next release tonight.

[2022-04-17 22:14] Hekili commented on #1476
I'll be making Dreadstalkers proc Demonic Cores when they despawn now.  It'll spawn 2 without tier, 3 with tier.

[2022-04-18 13:53] Doog45 opened #1483 "When Destro lock gains the buff (ritual of ruin) from the two piece set bonus, the addon is not recommending to use the proc right away"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-04-18 15:23] Williamn88 commented on #1472
No rush at all, just curious if you found a smart way to tackle it ?

[2022-04-18 17:36] Monkeychow66 commented on #1377
Tested it today and it is working.

Thank you!

[2022-04-18 18:43] #1377 closed, assigned to Hekili

[2022-04-20 21:16] Thackery-Binx commented on #1377
I can confirm that this also works for me again on both Bartender4 and ElvUI. Thanks for looking into this!

[2022-04-21 15:29] Darthkakarot opened #1485 "[BUG] Spellflash Texture Option not working"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-04-22 16:09] jpnow opened #1486 "Rogue/Assassination Importing apl from raidbots and not showing any recommendaiton"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-22 16:11] Hekili commented on #1486
Imported or edited priorities are not supported.  The defaults are already the latest properly translated priorities from Raidbots/SimulationCraft.  (Assassination does have some recent changes that I have not yet translated, but you won't be able to translate them either.)

[2022-04-22 16:11] #1486 closed, assigned to Hekili

[2022-04-23 16:44] MistarrBubbles opened #1487 "Destruction Warlock, Opening recommendation (Soul Fire, Immolate, Channel Demonfire)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-23 22:39] Hekili commented on #1487
Could you provide a sim of yourself as well?

### Raidbots Sim Report (Link)

[2022-04-23 22:46] MistarrBubbles commented on #1487
Of course I can.
Here you go: https://www.raidbots.com/simbot/report/kPU7HF21htChQFGBzE3Nmd

[2022-04-24 04:15] Majcolorado opened #1488 "Balance rotation being suggested while I'm in guardian spec"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-24 14:13] Raven7576 opened #1489 "[BUG] GCD Timer Glitchy on Demo Lock (Mostly in raid)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-04-24 17:35] Hekili commented on #1489
This is convenient timing for a ticket, as this has annoyed the hell out of me for some time.  So I fixed it in my working copy but haven't put it in a release yet.

This should be fixed in the next few days.

[2022-04-24 17:54] Hekili commented on #1488
I'm not able to replicate this.

What do you mean by this?

[2022-04-24 18:02] Hekili commented on #1487
So, if you look at your sim, your sim actually does the same thing.  It looks like the addon model and the sim model are not applying Immolate on Soul Fire cast.  I checked SimulationCraft and it applies on impact rather than on cast.  I submitted a ticket for that issue and will make the addon expect Immolate to be applied following a Soul Fire cast as well.

[2022-04-24 18:17] MistarrBubbles commented on #1487
Ah, I see! That makes it understandable why it does what it does.

I'm glad I could bring this to your attention then, so that you had the chance to review it and bring it forward.

[2022-04-24 18:17] #1487 closed, assigned to Hekili

[2022-04-24 18:19] Raven7576 commented on #1489
Glad I wasnt just imagining it then, Haha and good timing too

[2022-04-24 18:21] Hekili commented on #1485
I'm not able to replicate this.

You do not need to have these installed separately for the addon to work.

[2022-04-24 18:22] Hekili commented on #1489
Today's release will include my fix.  Feel free to reopen if the issue is unresolved for you.

[2022-04-24 18:22] #1489 closed, assigned to Hekili

[2022-04-24 18:23] Hekili commented on #1472
Still working on and strategizing.  I couldn't get on PTR to test.

[2022-04-24 18:29] Hekili commented on #1483
This is not a bug report; this should be a recommendations ticket with a snapshot of recommendations along with a sim of your character to compare.  You can add a snapshot and sim link and reopen if you'd like me to review it.

However, keep in mind, with Ritual of Ruin up, the Destruction sim profile is written to pool shards and not immediately spend.

![image](https://user-images.githubusercont

[2022-04-24 18:29] #1483 closed, assigned to Hekili

[2022-04-24 19:52] Darthkakarot commented on #1485
Thanks for checking, today I disabled SFC in game and it works. Thanks for letting me know it doesnt have to be installe separetly. I was deleting and reinstalling SFC and SF, was getting frustrating, TYSM both for the helpo and the awesome addon.

[2022-04-25 00:13] Majcolorado commented on #1488
I solved this. The addon was suggesting HotW pre pull because that's the max dps move at that moment. Once I press HotW or engage a pack the addon returns to normal suggestions. User error on my part. Sorry for the distraction.

[2022-04-25 00:25] #1488 closed, assigned to Hekili

[2022-04-27 22:00] UFTimmy opened #1490 "[REC] Ranged character doesn't match expected AOE/target numbers"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-04-27 22:23] Hekili commented on #1490
Yes.  Dummies repeatedly "die" which can purge them from the target count.

Yes, probably.  Pet-based detection counts targets near your pet, which isn't particularly useful for Destruction, since your pet is also at ranged.  Nameplate-based detection isn't helpful either, because you can have nameplates on screen that are far away from one another that you're not *really* interested in hitting.

[2022-04-27 22:23] #1490 closed, assigned to Hekili

[2022-04-27 22:37] UFTimmy commented on #1490
Hello,

Thanks for the fast reply. I am using felhunter on the target dummies, so it is in melee range of all of them. Additionally I am both dotting them all up with immolate, and casting rain of fire. So all three target dummies are:

1. Within melee range of my pet
2. Receiving dot damage from Immolate
3. Receiving periodic damage from rain of fire.

But, you are of course correct. Detection wo

[2022-04-27 22:38] Hekili commented on #1490
I'll look at keeping dummies from lying about dying and impacting target detection, but no promises.  Glad things are working under normal circumstances.

[2022-04-28 02:42] Raven7576 commented on #1489
Sorry to necro but, any time line on a release? maybe a beta push?

[2022-04-28 03:46] Hekili commented on #1489
I've pushed it out as an alpha for -17 now.  I've been busy with work and haven't had time to merge other changes.

[2022-04-29 07:40] AckItsMe opened #1491 "[FEATURE] Keybinds with modifiers"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-04-29 13:58] Hekili commented on #1491
No, as far as the addon is concerned, it looks at which actions are in which slots and what the bindings are for that slot.  What you're asking for would involve also parsing macros to try to determine all the potential key combinations it could be.

The solution for this sort of issue is already available.  You can go to /hekili > Abilities > Sinful Brand > Override Keybind Text and type what you

[2022-04-29 13:58] #1491 closed, assigned to Hekili

[2022-04-29 13:59] #1485 closed, assigned to Hekili

[2022-04-29 17:50] Dragonfo opened #1492 "[BUG] Unable to make recommendation for Primary #2; triggering auto-snapshot.."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-01 07:01] ChrisKader opened #1493 "[BUG] Multiple Display Visibility Sliders"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-02 04:04] #1493 closed, assigned to Hekili

[2022-05-03 00:08] Prejudice182 opened #1494 "[REC] Unholy DK Snapshots and Warnings"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-03 04:54] SUU09 opened #1495 "[BUG] Hekili\Targets.lua error"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-04 16:21] JmZz64 opened #1496 "[BUG] The spells qeue disapear when i go demonology but works in all other specs"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-04 16:26] JmZz64 commented on #1496
Just a precision it was working fine till today's hekili update

[2022-05-04 16:54] Hekili commented on #1496
The error messages that are linked aren't relevant to the addon.  Do you have multiple errors?  Do any of them contain the word "Hekili"?

Do you see anything about a snapshot being created in your chat box?

Do you see any Warnings shown in /hekili?  If so, what are they?

Can you create a snapshot by pausing the addon (ALT-SHIFT-P by default) and retrieving it from /hekili > Snapshots?  If so, p

[2022-05-04 19:16] JmZz64 commented on #1496
there's that in warning

Update: Interface\AddOns\Hekili\State.lua:6961: attempt to compare number with table

[string "@Interface\AddOns\Hekili\UI.lua"]:1102: in function <Interface\AddOns\Hekili\UI.lua:903>

[2022-05-04 19:45] Hekili commented on #1496
And the other questions?

[2022-05-04 19:50] JmZz64 commented on #1496
i don't know how to create a snapshot, i can show you on discord what's exactly happening on my hekili so you will understand better

[2022-05-04 19:54] Hekili commented on #1496
I explained it right there.  There are instructions in Discord as well (see `!snapshot`).

I have not been able to replicate this issue on my Warlock.

[2022-05-04 19:55] JmZz64 commented on #1496
i'm really bad at these things can i show you directly what's happening via my screen ?

[2022-05-04 19:55] Hekili commented on #1496
I don't need to see your screen; I need the data that is in the snapshot.

[2022-05-04 19:56] JmZz64 commented on #1496
can't find the discord link to see the section

[2022-05-04 19:57] Hekili commented on #1496
Actually, I may be okay without the snapshot; I can see that when I match your Imps setting, I get the same warning.  Will fix.

[2022-05-04 19:58] JmZz64 commented on #1496
it's not when i smah imps for me i use 4 spells then hekili stop to queue the spells and nothing else appear

[2022-05-04 20:03] JmZz64 commented on #1496
mb i missreaded, yeah just use the 4 first spells and you normally won't see any more spells after that hekili stop working

[2022-05-04 20:16] #1496 closed, assigned to Hekili

[2022-05-04 20:33] JmZz64 commented on #1496
You closed it but idk what to do :/

[2022-05-04 20:58] Hekili commented on #1496
Get the updated version of the addon.

[2022-05-05 01:28] Hekili commented on #1495
Hi, could you provide the missing information?  I moved the error messages to Pastebin and linked them.  Your Player Information?  How is this error impacting your game?

[2022-05-05 02:52] DeathspectreNZ commented on #1495
I'm having this issue every zone change.

[2022-05-05 12:10] Hekili commented on #1495
This should be resolved in 1.0.17b.

[2022-05-05 12:10] #1495 closed, assigned to Hekili

[2022-05-05 17:28] SUU09 opened #1498 "[BUG] bad argument #1 to 'IsAzeriteItemEnabled'"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-05 17:33] Hekili commented on #1498
What's showing up in Warnings?

Are you *sure* you're not using a custom priority here?

Do you have error messages in BugSack/BugGrabber rather than screenshots?

Have you tried a fresh install (not resetting your profile, but just redownloading the addon itself)?

[2022-05-05 18:12] SUU09 commented on #1498
It got resolved by logging-out then in

[2022-05-05 18:12] #1498 closed, assigned to Hekili

[2022-05-08 10:57] MrDickslap opened #1499 "[BUG] Hekili wont work on any caracter after update"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-08 12:51] Hekili commented on #1499
You'll have to follow the instructions from the original ticket form so you can submit error messages; otherwise, there's no information here I can use to diagnose a problem.

[2022-05-08 15:43] MrDickslap commented on #1499
Found the mistake. Some addons blocked Hekili from getting informations. But i sadly cand locate the addon.

[2022-05-08 15:43] #1499 closed

[2022-05-08 18:16] Hekili commented on #1499
Thanks MrDickslap.

[2022-05-08 23:07] SnipeMaster opened #1500 "[FEATURE] Make Hekili more responsive and add defensive abilities and buffs to the default of every class"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-05-09 00:16] Eltinator92 opened #1501 "[FEATURE] Holy Priest DPS Rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-05-09 23:35] Noodleboy0 opened #1502 "[REC] Frost DK Unable to make recommendation for Primary #7"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-10 00:33] Hekili commented on #1502
There's really no point in having 7+ recommendations, especially on a spec that has any procs whatsoever -- the entropy and RNG will make any recommendations that far out invalid.  The option to show that many recommendations is mainly for testing and philosophical purposes.

You're otherwise able to spend down runes and RP to the point where you really have nothing to do in the period of the time

[2022-05-10 00:33] #1502 closed, assigned to Hekili

[2022-05-10 14:22] purplemooni commented on #1302
as a balance druid, I have enabled to see Soothe in the Utility/Interrupts category but I never see it displayed. so when I'm attacking a mob that has an enrage the soothe button doesn't show up.

[2022-05-10 15:18] Hekili commented on #1302
Being controlled by a toggle only means that, when the toggle is activated, a priority that includes the ability can treat that ability as usable.  If the priority doesn't include Soothe, toggling it on will do nothing.

You'd need a custom priority that includes Soothe -or- to persuade me to add it.  Which I'm undecided on at this point.

[2022-05-11 11:08] tessel8 opened #1503 "Mage Frost Spec no longer works with Disciplinary Command leggo"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-11 12:48] Hekili commented on #1503
The snapshot must be taken at the time you see Arcane Explosion recommended.  It is not recommended in the snapshot you provided.

[2022-05-11 20:44] purplemooni commented on #1302
sometimes its nice have a Soothe alert in a M+ setting. I'm still struggling with the settings. I made it a custom priority but still not showing for some reason

[2022-05-13 23:51] Heshaman opened #1504 "Addon Text does not match Keybind"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-14 01:21] itsbarryboys opened #1505 "[REC] Druid/Balance - change rotation and priority"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-14 01:58] Hekili commented on #1505
The addon uses SimC's priority and accounts for set bonuses, legendaries, talents, etc. by default.  There are a number of mistaken assumptions, but that doesn't mean there's not an error or issue to resolve.

First, could you sim your character on Raidbots and provide a link, so we can compare apples to apples?  That will let me compare what the sim is doing when you're coming out of Celestial Al

[2022-05-14 02:24] Hekili commented on #1504
You can manually set keybinds for abilities in /hekili > Abilities.  You likely have your action bars set up in a weird order.  If you look at your player information (which should've been on Pastebin), you can see:

[code]

That's `ability` = `detected_keybind` [`actionbar/page`].

If you're doing other weird things with action bars and their pages that don't correspond to the normal bar layout,

[2022-05-14 02:24] #1504 closed, assigned to Hekili

[2022-05-14 06:25] ravisangha opened #1506 "[REC] Ossuary passive/Marrowrend too high of a priority during DRW"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-14 11:29] itsbarryboys commented on #1505
Sorry,
I already thought I posted the simc:

[2022-05-14 11:29] itsbarryboys commented on #1505
https://www.raidbots.com/simbot/report/irEgQmgqnWA8asGFXQ5HGu

[2022-05-14 17:46] badbrain79 commented on #1503
I have the same problem but not only with Arcane Explosion but also with Fire Blast. Arcane Explosion or Fire Blast is suggested whenever Disciplinary Command is active or on cooldown.

Snapshot with Fire Blast and Disciplinary Command Buff active: https://justpaste.it/40e1n
Snapshot with Arcane Explosion and Disciplinary Command Buff active: https://justpaste.it/83jt7

[2022-05-14 17:53] Hekili commented on #1506
Thanks, this is a good call-out.

In order to maintain uptime, Marrowrend had been shifted up in the priority list, which left one specific entry in place before the priority would fork depending on whether DRW was up or not.  That will be fixed in the next release (later today).

[2022-05-14 17:54] Hekili commented on #1503
Thanks, these snapshots will help.  I can see that Disciplinary Command buff is up but that the internal cooldown for it says that it's ready.  I'll investigate.

[2022-05-14 18:11] ravisangha commented on #1506
Great, thanks alot :D

[2022-05-15 04:46] Hekili commented on #1506
This should be resolved in 1.0.18.

[2022-05-15 04:46] #1506 closed, assigned to Hekili

[2022-05-15 04:47] Hekili commented on #1503
This should be resolved in 1.0.18.

[2022-05-15 04:49] Hekili commented on #1505
Reviewing your sim, it doesn't look like it goes into Lunar at every opportunity.

![image](https://user-images.githubusercontent.com/9438134/168457714-011f9d7b-bcec-41a0-9218-4ec5ebe91a61.png)

![image](https://user-images.githubusercontent.com/9438134/168457730-18a0dde4-c43a-466c-a5ac-cc4eba956864.png)

![image](https://user-images.githubusercontent.com/9438134/168457735-31d16b91-2c09-41af-b056-

[2022-05-15 13:46] badbrain79 commented on #1503
I'm not sure if this leads to another problem with Disciplinary Command. Hekili correctly suggests a Frost and Fire spell to activate Disciplinary Command but then doesn't suggest an Arcane spell to complete the activation and activate the buff. In the snapshot you should be able to see that the frost and fire spell has been cast and the fire spell to activate is about to expire but no arcane spel

[2022-05-15 13:49] Hekili commented on #1503
In your snapshot, it is perceiving that an Arcane spell has been cast in the past 10 seconds.

[2022-05-15 13:59] badbrain79 commented on #1503
Well, that's not true. As you can see in the screenshot on the right side with the weakaura, a frost and fire spell was cast but no arcane spell and in my opinion an arcane spell should now be suggested on the left side because the fire spell for activation is about to expire.
https://i.imgur.com/F15Lfpz.jpeg

[2022-05-15 14:14] badbrain79 commented on #1503
Made another snapshot of the same situation. Admittedly, that doesn't happen often. If you miss this one activation of Disciplinary Command, then he suggests Fire Blast again anyway and with the next Rune of Power you have an Arcane Spell again and the Frost Spell you have always activated as a Frost Mage anyway.
But what is striking is that he only suggests counterspell in the pre-pull and otherw

[2022-05-15 14:16] Hekili commented on #1503
Don't misunderstand me; I'm not arguing about the outcome you want.  I'm telling you what I'm seeing when I look at it.  Yes, it's entirely possible that there's an error in determining whether an Arcane spell has been cast.  I'm investigating.

[2022-05-15 14:34] badbrain79 commented on #1503
No problem, you put a lot of work into the addon and respond very quickly, I think that's great.
As long as you have a weakaura and realize that you're missing an arcane spell, it shouldn't be a problem.

[2022-05-15 14:36] Hekili commented on #1503
Appreciated.  It'll be fixed soon.  Fortunately, I can track the internal auras that represent whether a fire/frost/arcane spell has been cast, instead of having to manually construct that information.  You were on the right track mentioning a trinket, the addon makes some assumptions about whether an ability will trigger DC if it's not explicitly spelled out.

[2022-05-15 14:42] badbrain79 commented on #1503
I have these two trinkets on the Frost Mage, but they don't count as an Arcane Spell.
Maybe that helps in some way.
https://www.wowhead.com/item=188272/resonant-reservoir?bonus=6805
https://www.wowhead.com/item=188268/architects-ingenuity-core?bonus=6805

[2022-05-15 15:30] badbrain79 commented on #1503
No idea if this is a general problem but in the quick sim you can see at 0:39:161 that you get the DC buff but 10 seconds before that no arcane spell was cast or am I blind?
https://www.raidbots.com/simbot/report/kDjxpp8TGXt6BjHJm4CvwU

[2022-05-15 15:43] Hekili commented on #1503
That might be a good sim report.  It's possible that the trinket buff is "casting" an Arcane spell in the sim when it expires, or something similar.  If that doesn't match in-game behavior, the SimC developers might wanna fix it.

I've made changes to Disciplinary Command and it's available in the alpha build I just published.  I'd be interested to know if it works closer to what you'd expect.

ht

[2022-05-15 16:06] badbrain79 commented on #1503
Works great now, just as expected.
He now suggests Counterspell to activate the DC buff. And if I turn off Counterspell because I'd rather use it to interrupt in M+, then he suggests Arcane Explosion.
I think that's done and the ticket can be closed.
Great work

[2022-05-15 16:26] #1503 closed, assigned to Hekili

[2022-05-16 06:42] Toresh opened #1507 "[BUG] Ret Pally Final Verdict / Templar's Verdict Spell Flash Size not changing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-16 12:18] Hekili commented on #1507
Do you have SpellFlash installed separately, or are you using the addon's built-in version?

[2022-05-16 18:36] Zetaprime82 opened #1508 "[BUG] attempt to concatenate local 'aFlash' (a table value)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-16 18:53] Hekili commented on #1508
Thanks; this may help explain another spellflash ticket.  I'm testing a solution.

[2022-05-16 22:31] Toresh commented on #1507
Only using the built-in version with Hekili.

Thanks

[2022-05-17 22:13] Tiltmage opened #1509 "Necro Frostmage reccomending to shatter with IL instead of FB"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-18 08:04] im-naomi opened #1510 "[REC]Nightfae Frost Mage Disciplinary Command recommending CS right before Rune of Power"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-18 17:59] Zetaprime82 commented on #1508
Thats realy nice :D

[2022-05-20 01:15] JacobERobison opened #1511 "[BUG] Hekili does not appear to be installed on certain characters"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-05-20 14:34] Dreamin93 opened #1512 "Arcane Mage (Almost perfect) - It's recommending 5 Arcane Blasts in Opener instead of 4"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-24 11:31] purplemooni commented on #1302
on my hunter the Tranq shot shows up perfectly fine which is the same as what a soothe does.

sometimes its nice to have a Soothe alert in a M+ dungeon. I'm still struggling with these settings. I made it a custom priority but still not showing for some reason.

[2022-05-31 12:55] Sdw8 opened #1513 "[REC] Destruction Warlock - Rain of Fire recomendation with 2 targets"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-05-31 13:05] Hekili commented on #1513
Thanks for the report.

Have you simmed yourself in a 2 target scenario and looked at what your sim does?

[2022-05-31 13:11] Sdw8 commented on #1513
2 target also uses Rain of Fire, but looking at a lot of logs, I see that everyone uses Chaos Bolt in 2 targets, even without Chaos . But at least with active Chaos, it seems to me that Chaos Bolt should be used, or am I wrong?

[2022-05-31 13:32] Hekili commented on #1513
This is the sort of thing to prove with data.  Logs help, but comparative sims would be useful for a direct comparison.  Looking at the sim priority, it's pretty explicitly written to use the AOE action list with 3 enemies by default, but 2 enemies with Tier 28 4pc.

`actions+=/call_action_list,name=aoe,if=active_enemies>2-set_bonus.tier28_4pc`

Want to link your sim?  I can run a few comparison s

[2022-05-31 13:36] Sdw8 commented on #1513
https://www.raidbots.com/simbot/report/t3hbpvMAD3zXqWRYDNbFLK
I don't know how to change the priority to use Chaos Bolt :)

[2022-05-31 14:21] Hekili commented on #1513
So, I tried calling the AOE action list only with 3+ targets (despite the sim profile being written to fork at 2 targets with Tier 28), and it was a significant DPS loss.

I also tried having the AOE action list run with 2+ targets with Tier 28, but only calling Rain of Fire with 3+ targets.  It was also a significant DPS loss.

I'm considering adding a spec option that will force the 3 target req

[2022-05-31 14:24] Sdw8 commented on #1513
Maybe add something like a priority target. Thanks anyway.

[2022-06-03 08:45] Thordros opened #1514 "[FEATURE] Exclude Gavel of the First Arbiter Soul Fragments from enemy target counts"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-06-04 16:51] Hekili commented on #1514
This will be in the next release.

[2022-06-04 16:51] #1514 closed, assigned to Hekili

[2022-06-04 16:51] Hekili commented on #1513
There's a spec option for Destruction that will be available in the next release.

[2022-06-04 16:51] #1513 closed, assigned to Hekili

[2022-06-06 00:47] tmttn commented on #1470
I am seeing the same behaviour, besides that I want to add that Spellflash also doesn't work for any dominos action bar, besides action bar 1.

[2022-06-06 02:49] Hekili commented on #1470
This is a closed ticket.

If the detected keybinds are not correct, you can specify your keybinds in /hekili > Abilities.  Thanks!

[2022-06-06 02:50] Hekili commented on #1511
I am not able to investigate this with the information provided.

Confirm that the addon is loaded and enabled for each of your characters/classes -- you can sometimes have an addon turned on for one class/spec and not another.  Thanks!

[2022-06-06 02:50] #1511 closed, assigned to Hekili

[2022-06-06 03:15] Hekili commented on #1508
This should be resolved (I just took forever to close it).

[2022-06-06 03:15] #1508 closed, assigned to Hekili

[2022-06-06 03:16] Hekili commented on #1509
If this is still an issue, please link a sim to compare behavior and reopen the ticket.

[2022-06-06 03:16] #1509 closed, assigned to Hekili

[2022-06-06 03:27] #1507 closed, assigned to Hekili

[2022-06-06 03:28] #1505 closed, assigned to Hekili

[2022-06-06 05:20] IIeTpoc opened #1516 "[REC] ROGUE OUTLAW FAILS TO GENERATE RECOMMENDATION"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-06 05:27] IIeTpoc commented on #1516
Also I noticed the following Warning in the Warning tab of the addon.

Returned unknown string 'use_combo' in state metatable [Outlaw:finish:1].

[string "@Interface\AddOns\Hekili\State.lua"]:2198: in function <Interface\AddOns\Hekili\State.lua:1726>
    [string "@Interface\AddOns\Hekili\Classes\RogueOutlaw.lua"]:690: in function `handler'
[string "@Interface\AddOns\Hekili\State.lua"]:5765: in fun

[2022-06-06 08:56] IIeTpoc commented on #1516
I think i made a fix in https://github.com/Hekili/hekili/pull/1517

[2022-06-06 12:28] Hekili commented on #1516
Fixed in 1.0.0a.

[2022-06-06 12:28] #1516 closed, assigned to Hekili

[2022-06-06 15:11] Oni-Wan opened #1518 "[REC] Feral Druid Priority Issue with Shred & Swipe(cat)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-06 15:23] Hekili commented on #1518
The priority is explicitly written to do this, because Swipe is better damage-per-energy than Shred under most circumstances.  It's a WoW design issue, not a priority issue.

[2022-06-06 15:37] Oni-Wan commented on #1518
This may be sometimes the case, but I think on the long run (or should i say in short fights) shred is more usefull than swipe.
Unfortunately does this not explain why I'am getting Shreds in some Multi-Targets fight beside my CDs. It is not happen very often and I don't know how to reproduce outside of a raid/m+

[2022-06-06 15:53] Hekili commented on #1518
Sim yourself and look at what your sim does.  You can edit your sim profile to make it Shred instead of Swipe and see if it is more performant.

When your Shred is free (Clearcasting), damage-per-energy isn't a factor and so Shred is prioritized.  This can be seen in the priority itself.  These are the impacted lines:

[code]

**edit:**  Shred is also used for proccing Bloodtalons.

[2022-06-09 03:09] Elutriate opened #1519 "[REC] Elemental Shaman - Flame Shock reapplication is suggested too early when Storm Elemental is talented and active"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [x] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-09 11:01] elsavira commented on #1519
Can confirm this one, was in the process of gathering this data too.

[2022-06-09 14:35] Hekili commented on #1519
Give the alpha version a try and see if it is resolved.  Thanks.

[2022-06-10 01:12] Elutriate commented on #1519
How do I use the alpha version? Is that an option within the addon or is it a separate addon? Having difficulty finding it.

[2022-06-10 01:22] Hekili commented on #1519
edit: https://github.com/Hekili/hekili/releases/tag/v9.2.5-1.0.1-alpha1

[2022-06-10 01:23] #1518 closed, assigned to Hekili

[2022-06-10 01:58] Elutriate commented on #1519
Thank you. This issue is fixed in the Alpha version :)

[2022-06-10 02:11] Elutriate opened #1520 "[REC] Elemental Shaman - Hekili Does not Account for Elemental 2 Piece Guaranteed Lava Surge Procs"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-10 02:19] Hekili commented on #1520
You would need to provide sims that demonstrate that Maelstrom waste is better than Lava Surge waste.

The tier procs are modeled by the addon, though.

[2022-06-10 02:34] Elutriate opened #1521 "[REC] Elemental Shaman Hekili Sometimes incorrectly recommends Casting Earthquake"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-10 04:00] Elutriate commented on #1520
Can you explain what you mean by this? Are you referring to the Hekili addon or a Sim addon? And what do you mean that the tier procs are modeled?

Regardless, I will learn how to run said sims. Thanks!

[2022-06-10 12:27] Hekili commented on #1520
When the addon engine generates recommendations, it looks at the present moment forward, and "knows" that predictable Lava Surge procs occur every 8 seconds.

What you're looking to determine is if spending a Lava Surge proc before a new one will proc is more valuable than spending Maelstrom via Earth Shock at that key moment.  That's something that may be true, and sounds fairly intuitive, but ev

[2022-06-10 13:21] Hekili commented on #1521
This should be addressed in https://github.com/Hekili/hekili/releases/tag/v9.2.5-1.0.1-alpha2.

[2022-06-10 13:21] #1519 closed, assigned to Hekili

[2022-06-10 13:21] Hekili commented on #1512
If/when sims are updated to behave differently, the addon will also be updated to match.  Thanks!

[2022-06-10 13:21] #1512 closed, assigned to Hekili

[2022-06-10 14:01] MrZombieCow opened #1522 "[REC] Windwalker Monk, Spinning Crane Kick can not be recommended while being channeled"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [] I am reporting

[2022-06-10 14:51] Hekili commented on #1522
https://github.com/Hekili/hekili/releases/tag/v9.2.5-1.0.1-alpha3 should prevent Spinning Crane Kick's cast/channel/cooldown timing from getting mangled.

[2022-06-10 14:51] #1522 closed, assigned to Hekili

[2022-06-10 16:27] fzarr opened #1523 "[REC] Outlaw w/ Concealed Blunderbuss recommends pistol shot at max CP with Blunderbuss proc active"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-10 16:31] fzarr opened #1524 "[REC] Outlaw w/ Concealed Blunderbuss recommends sinister strike as a builder at low (0 - 1) CP even with Blunderbuss proc active"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-10 16:45] Hekili commented on #1524
This is working as expected.  Pistol Shot wasn't used because you were at risk of wasting Energy regen since Pistol Shot's energy cost was reduced by Opportunity.

[code]

Using Sinister Strike would help you spend down Energy to avoid waste.  You can customize a priority and test in Raidbots to see if changing the priority to match your expectations will sim higher than the default.

[2022-06-10 16:45] #1524 closed, assigned to Hekili

[2022-06-10 17:21] fzarr commented on #1524
Ah it seems the latest outlaw profile isn't included in the addon yet, from here: https://github.com/simulationcraft/simc/blob/shadowlands/profiles/Tier28/T28_Rogue_Outlaw.simc the line:

`actions.build+=/pistol_shot,if=buff.opportunity.up(buff.greenskins_wickers.up|buff.concealed_blunderbuss.up|buff.tornado_trigger.up)`

adds an extra case for this situation.

[2022-06-10 17:34] Elutriate commented on #1520
The Ele Discord seems to agree with this theory. Favoring Lava Surge procs over Earth Shock casts with this legendary is not new to this tier, it is just a much more common scenario due to the predictability and frequency of Lava Surge procs that comes with the tier set bonus. With the fact that this is not a new choice we have to make, I am surprised to find that this is not already represented i

[2022-06-11 01:32] Elutriate commented on #1520
I believe I have gathered proof that what I'm suggesting is better. [Here](https://pastebin.com/xRtQ5D5J) is the altered APL I used:

The only change that I made to the [original](https://pastebin.com/3KEBrAnA) is I added the following action on the single target list of actions, beneath a bunch of Lava Burst casts that I saw (There is storm ele stuff in it because I stole it from the storm ele se

[2022-06-11 02:19] Elutriate commented on #1520
I believe I have the proof that I need. I can provide .txt files of the sims that I ran with my custom APL , or feel free to run my custom APL against the default Shaman APL.
Here is my custom APL
https://pastebin.com/DSJe405Y

The only change that I made is I replaced the Earth Shock line with:

actions.single_target+=/earth_shock,if=buff.fireheart.tick_time_remains>gcd&maelstrom>=60&runeforge.wi

[2022-06-11 06:49] Elutriate commented on #1521
After installing this version, I was unable to recreate the described bug. Thank you!

[2022-06-11 09:17] fzarr opened #1525 "[REC] Subtlety Rogue recommends Eviscerate rather than Slice and Dice, and instead recommends Slice and Dice in cooldown window"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-11 13:37] Divalicious72 opened #1526 "Shadow priest rotation has the word DELETE across the icons"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-11 14:03] SpatenLa commented on #1526
is the keybind for you vampiric touch the del key?

[2022-06-11 14:33] Divalicious72 commented on #1526
Well I feel like an idiot. Apparently my keybind changed DELETE to the 2nd bind of my vampiric embrace.. I've recently returned to the game, didn't change any binds so not sure how/why that happened as I only use it as the 1 key.  Thank you very much as that was driving me insane. Thought maybe wow was hinting at me to delete my priest ;-)

[2022-06-11 14:35] #1526 closed, assigned to Hekili

[2022-06-11 17:02] Hekili commented on #1525
Thanks, this was a good report and a well-chosen snapshot.

It looks like I have erroneously based `refreshable` on the maximum duration of the buffs/debuffs instead of based on the duration of the DOT that would be applied now, with your current Combo Points.  I also needed to update Slice and Dice to adjust its expected duration based on your current `effective_combo_points`.

In your snapshot,

[2022-06-11 17:03] Hekili commented on #1521
Thanks for reporting back!

[2022-06-11 17:03] #1521 closed, assigned to Hekili

[2022-06-11 17:34] Hekili commented on #1520
This is what Raidbots is for.  :)

Your version:

https://www.raidbots.com/simbot/report/bVRwwc2ZUfFaTqaMfQenA3

![image](https://user-images.githubusercontent.com/9438134/173198330-f59ea2e8-ecac-4b2a-800a-01e336e56b4e.png)

Looks like a marginal average improvement with possible higher top-end, but 0.1% is very close to "caring about this is less productive than not caring about this" territory.

[2022-06-11 17:34] fzarr opened #1527 "[REC] Sub Rogue second Shadow Dance charge recommended at tail end of Shuriken Tornado (e.g. in opener) which can be misleading"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-11 18:18] Hekili commented on #1527
It looks like there's potentially an opportunity here, but you'll need to provide comparison sims to determine if it's a performance increase (or at the very least, not a performance loss).

[2022-06-11 20:08] Elutriate commented on #1520
I have messaged them and was told they would look into it.

[2022-06-11 21:07] Elutriate commented on #1520
Also, sorry I could not figure out how to use custom APL within raidbots :(

[2022-06-12 02:03] kanegasi opened #1528 "[FEATURE]? Spamming GetItemInfo with index numbers"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-06-12 11:34] fzarr commented on #1527
I ran a few sims that seems to indicate its not a dps loss:

https://www.raidbots.com/simbot/report/5hKiumMCNXC4oGsVNw8MTZ / https://www.raidbots.com/simbot/report/5hKiumMCNXC4oGsVNw8MTZ/simc (ST)

https://www.raidbots.com/simbot/report/f729eVNyvUpekQGXo7a966 / https://www.raidbots.com/simbot/report/f729eVNyvUpekQGXo7a966/simc (DungeonSlice)

However, I'm not confident it won't be worse in some si

[2022-06-12 16:07] fzarr commented on #1525
Nice one! Its working a lot better now but not tried it outside of a single dummy as of yet.

[2022-06-12 16:49] Hekili commented on #1528
Thanks, I'll put some bounds on this.  And probably use some caching because those item events can be surprisingly expensive.

[2022-06-12 17:11] Hekili commented on #1528
I did some checking, and real items should be cached after a single run, but I'll prevent item slots from being sent to GetItemInfo since that's nonsensical.  Thanks again.

[2022-06-12 17:11] #1528 closed, assigned to Hekili

[2022-06-13 15:13] fzarr commented on #1523
I think this might be caused by the finish_condition variable not getting set correctly:

From the snapshot:

`combo_points.current[5.00] >= cp_max_spend[6.00] - buff.broadside.up[false] - ( buff.opportunity.up[true] * talent.quick_draw.enabled[false] | buff.concealed_blunderbuss.up[true] ) | effective_combo_points[5.00] >= cp_max_spend[6.00]`

The expression `cp_max_spend[6.00] - buff.broadside.u

[2022-06-13 15:20] Hekili commented on #1523
Please provide an updated snapshot using the latest alpha of the addon.

[2022-06-13 15:29] elsavira commented on #1523
FWIW: quickly checked this out on latest alpha.
https://pastebin.com/8RvxvUEg

[2022-06-13 16:00] Hekili commented on #1523
Try editing Outlaw - default - 5 from:

[code]

To:

[code]

(The change is **`*`** to **`&`**.)

[2022-06-13 16:31] fzarr commented on #1523
Changing * to & seems to have fixed it.

[2022-06-13 16:32] elsavira commented on #1523
https://pastebin.com/mcDPktd0 to confirm this fix.

[2022-06-15 02:21] Bri134 opened #1531 "BM Hunter CORE dropdown does not have BM as a choice"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-15 03:03] pozzer18 commented on #1472
any update on this?

[2022-06-15 03:04] Hekili commented on #1472
I'll post when there's an update on this.

[2022-06-15 03:13] Romancito9 opened #1532 "[BUG] I can´t view the BM Rotation."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-15 03:16] Hekili commented on #1532
See #1531.

[2022-06-15 03:16] #1532 closed, assigned to Hekili

[2022-06-15 03:17] Hekili commented on #1531
Fixed in 9.2.5-1.0.1a.

[2022-06-15 03:17] #1531 closed, assigned to Hekili

[2022-06-15 03:17] Hekili commented on #1523
Fix is in 1.0.1 (and 1.0.1a).

[2022-06-15 03:17] #1523 closed, assigned to Hekili

[2022-06-15 03:17] Hekili commented on #1525
Changes are in 1.0.1 and 1.0.1a.

[2022-06-15 03:17] #1525 closed, assigned to Hekili

[2022-06-15 03:18] Hekili commented on #1527
You'd have to provide a clear explanation of what you're seeking to accomplish and why someone would want to opt-in or opt-out of the feature, and a rationale for which option should be default.  But I'd consider it then.  Otherwise, I'll leave this as closed.

[2022-06-15 03:18] #1527 closed, assigned to Hekili

[2022-06-15 03:19] Hekili commented on #1520
I'll make changes if/when SimulationCraft updates the priority to handle it.  Thanks.

[2022-06-15 03:19] #1520 closed, assigned to Hekili

[2022-06-15 03:20] Hekili commented on #1510
Have you done any comparison sims to see if it's worthwhile to prevent this behavior?

[2022-06-15 03:20] #1510 closed, assigned to Hekili

[2022-06-15 03:21] Romancito9 commented on #1531
I am not seeing this update.

[2022-06-15 05:10] ghost commented on #1532
Thank you soooo much for the quick fix! I struggled all night trying to diagnose and revert to a previous build but nothing worked. Then I found the update just when we hit the Jailer boss. All seems to work as expected.

[2022-06-15 11:15] HolteUnderscore opened #1533 "[BUG] In Game Errors with Assassination Rogue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-15 13:39] Hekili commented on #1533
Please try this test version in a few minutes when it's done packaging:

https://github.com/Hekili/hekili/releases/tag/v9.2.5-1.0.2-alpha1

[2022-06-15 17:10] HolteUnderscore commented on #1533
Yeah, that seems to be working properly now - not getting any errors and the actions are showing on target as I have them set.
Thank you.

[2022-06-15 17:10] #1533 closed, assigned to Hekili

[2022-06-15 18:05] stx4 opened #1534 "[BUG] Demonology not working anymore since the latest update v9.2.5-1.0.2"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-15 20:10] shredxt commented on #1534
I can repro this, might be related to the RegisterPack change: https://github.com/Hekili/hekili/commit/5026eb2443ec9dc43bb28f8f706dcbdfc0f64e53#diff-fb7619404d3488311210dcb3863acc4315cfe1fad77141a8a0c43cebc70efc41R2007

The string starts with Hekili:Hekili: and is much shorter than the previous value.

[2022-06-15 20:20] shredxt commented on #1534
Here is a working Priority Export String:
`Hekili:v3ZAtoUTr(BzQurR08qReNh749Kukh7C52T85KkJVZ(tdffjKeRHIuHp0UZvQ0V9RBa(aaeaKusZ6KpyVJibA0DJg9taWNh)8V88tEoPKN)zRrwwJEy89dTgBnA09p)u6RBjp)0wh3xCwb)rOZg4))JKnrHrbrREfF1RbroEiisIYIDHxVonDBYhF)7x5NUoBXq3OnVpXFtwGtQFuOBSZYu83UV)5NwK5hK(PWNxOy8h)G1dam3sCHh)a8NR998iS2ssC5XIdZ)vN4Gi3xo85pNfsomF84RpmhH1HpF4Z)WANWvKKpE4Z3Cy(tBjbbhM)tqJhsFWFlma6FmbWYnKqVdZPGDruq

[2022-06-15 20:22] shredxt commented on #1534
Here is a working string for Demo using the updated priority: https://pastebin.com/RWUhCpMz

![image](https://user-images.githubusercontent.com/47064656/173920041-e027583e-fce8-4b85-8e06-8243a913ce64.png)
![image](https://user-images.githubusercontent.com/47064656/173920074-ebdfe78c-df7a-45a3-9c24-2692fe63756b.png)

[2022-06-16 00:48] Hekili commented on #1534
A string so nice, I named it twice...

When the build comes up, please test this alpha (https://github.com/Hekili/hekili/releases/tag/v9.2.5-1.0.2a-alpha1) and then report back if it works.

[2022-06-16 07:12] stx4 commented on #1534
Checked. Works again.

[2022-06-16 14:17] #1534 closed, assigned to Hekili

[2022-06-16 19:38] dubudevs opened #1536 "[REC] Affliction recommends cancelling decibolt buffed DS when you get a tier proc"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-16 19:54] IIeTpoc opened #1537 "[REC] Subtelty Rogue Recommendation issue (autosnapshot)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-16 21:15] IIeTpoc commented on #1537
One more Autosnapshot which occured during target dummy 2 minute fight  https://pastebin.com/7YSnGgBP

And a link from Warning tab which represents lua error in State.lua  (echoing_reprimand buff) https://pastebin.com/nx0BR0Lp

Issue Reporting tab link: https://pastebin.com/nJmu57cP

[2022-06-17 00:09] Hekili commented on #1536
This was a little hard to read.

The issue here is a functional difference between SimC and the addon.  The addon has no way to know *why* you cast a particular Drain Soul -- you could've cast because it was the addon's recommendation or your cat might've walked across the keyboard.  The addon has to consider all "interrupt_if" conditions and if any of them pass, the channel is considered interrup

[2022-06-17 16:08] GiurlaniDev opened #1538 "[BUG] Windwalker Monk only showing 1 icon, sometimes none"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-17 16:09] Hekili commented on #1538
Thanks!  I'm investigating and testing a fix right now.

[2022-06-17 16:18] Hekili commented on #1538
Test fix is here:  https://github.com/Hekili/hekili/releases/download/v9.2.5-1.0.3-alpha1/Hekili-v9.2.5-1.0.3-alpha1.zip

[2022-06-17 16:18] Hekili commented on #1536
Test fix is here:  https://github.com/Hekili/hekili/releases/download/v9.2.5-1.0.3-alpha1/Hekili-v9.2.5-1.0.3-alpha1.zip

[2022-06-17 16:19] Hekili commented on #1537
None of these look like the auto-snapshot -- they all successfully generated recommendations.  Are you submitting the right snapshots?

[2022-06-17 16:23] Hekili commented on #1537
Test fix will be here soon:  https://github.com/Hekili/hekili/releases/download/v9.2.5-1.0.3-alpha2/Hekili-v9.2.5-1.0.3-alpha2.zip

[2022-06-17 17:00] blake8705 commented on #1538
Had the same issue on WW monk, the posted fix seems to have worked for me. Thank you!

[2022-06-18 10:01] IIeTpoc commented on #1537
I have tested the latest addon verison as of today and still got this issue. I am posting auto screenshot and snapshot of today's  recommendation issue. BUT i want to adress that it is for the icon number 3, thus it is not very urgent in my opinion. Still just noticed that it happens which did not occure 2 weeks ago.

![hekilisubbug](https://user-images.githubusercontent.com/64799395/174432677-2b2

[2022-06-18 12:29] #1538 closed, assigned to Hekili

[2022-06-18 12:29] Hekili commented on #1537
If you enable Enhanced Recheck (/hekili > Subtlety > Performance > Enhanced Recheck), does this still occur?

[2022-06-18 12:31] IIeTpoc commented on #1537
I am checking it right now. Will be back in 5 minutes

[2022-06-18 12:36] IIeTpoc commented on #1537
No it stopped occuring, Thanks for the hint!

[2022-06-18 12:38] #1537 closed, assigned to Hekili

[2022-06-18 15:26] awcarr opened #1540 "Fire mage rotation can't produce a recommendation, typically seems to be due to Sun King's Blessing legendary."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-20 12:48] Livvvvvvven opened #1542 "WarlockDestruction.fixed_aoe_3_plus checked and 2targets still recommend Rain of Fire."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-06-20 14:04] Hekili commented on #1542
You are welcome to submit a ticket re: Recommendations and provide all the required information if you'd like me to look into this issue.

[2022-06-20 14:04] #1542 closed, assigned to Hekili

[2022-06-20 19:06] Hekili commented on #1540
This should be addressed in 1.0.4; if not, reopen this ticket and add a new snapshot, please.

[2022-06-20 19:06] #1540 closed, assigned to Hekili

[2022-06-20 19:06] Hekili commented on #1536
This is live; feel free to reopen the ticket if you're seeing issues.

[2022-06-20 19:06] #1536 closed, assigned to Hekili

[2022-06-20 20:23] #1500 closed, assigned to Hekili

[2022-06-20 20:25] Hekili commented on #1492
Closing; you are able to disable auto-snapshotting in your addon settings (/hekili > Snapshots).

When auto-snapshotting is enabled, it will create them if a recommendation slot could not be filled.  This is usually related to a nuance of a particular action list.  If you have new, recent, snapshots for the current addon you can submit a ticket for it (since this has aged a bit).

[2022-06-20 20:25] #1492 closed, assigned to Hekili

[2022-06-20 20:26] Hekili commented on #1494
Thanks for reporting; I know this aged quite a bit.  If this continues in the latest release of the addon, feel free to submit an updated snapshot and reopen this issue ticket and I'll take a look.

[2022-06-20 20:26] #1494 closed, assigned to Hekili

[2022-06-20 20:28] Hekili commented on #1501
I know there's a general desire for healer DPS priorities to exist in the addon, but I don't have a good reason to add that to the maintenance burden of the addon at this time.

The addon is meant to present sim-tested priorities in-game so you can have some level of confidence that it's showing you something that has evidence of being optimal.  That doesn't really exist for healer specs, generall

[2022-06-20 20:28] #1501 closed, assigned to Hekili

[2022-06-20 20:29] Hekili commented on #1476
Note to self:  You still need to "fudge" demon (totem) expiration times because the WoW API is dumb.

[2022-06-20 20:29] #1467 closed, assigned to Hekili

[2022-06-22 15:50] IIeTpoc opened #1546 "[REC] Subtelty rogue shadow dance during GCD recommendation + possible skip_rupture tweak with simms."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-22 16:10] IIeTpoc opened #1547 "[REC] Cache of acquired treasures is meant to be used off gcd"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-22 16:31] Hekili commented on #1547
You would need to supply a snapshot where the trinket is being recommended.  This one does not.  It shows that your trinket is on CD for ~170 seconds.

[2022-06-22 16:36] Kathalian opened #1548 "[BUG] Lua errors in/after combat after swapping from Feral to Resto"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-22 17:15] Hekili commented on #1548
The addon shouldn't even work for Resto, so I'll address that problem.

[2022-06-22 17:29] IIeTpoc commented on #1547
Sorry. this one should have it

https://pastebin.com/wwVLudkG

[2022-06-22 17:30] Hekili commented on #1548
I'm not able to replicate this issue with the information provided.

Edit:  Looks like it only takes effect if you are Feral and swap to Resto after logging in.

[2022-06-22 17:47] Hekili commented on #1547
This snapshot shows it being recommended now, but your GCD isn't active.  Take a snapshot while the GCD is still active and the trinket is being recommended after the GCD expires.

[2022-06-22 17:51] Hekili commented on #1548
This should resolve the issue when the link becomes active:  https://github.com/Hekili/hekili/releases/download/v9.2.5-1.0.5-alpha2/Hekili-v9.2.5-1.0.5-alpha2.zip

Let me know if you still see errors.

[2022-06-22 18:11] IIeTpoc commented on #1547
I hope this one shows it
![WoWScrnShot_062222_210801](https://user-images.githubusercontent.com/64799395/175107270-7a4b1edc-e561-4d25-8454-61310055cb21.jpg)
https://pastebin.com/KcmWKw0H
Enhanced recheck is turned on

[2022-06-22 21:49] Kathalian commented on #1548
I've never had it happen under this circumstance (feral is the one spec I don't play) though it may happen when swapping between guardian and resto I do that a lot

[2022-06-22 22:28] Kathalian commented on #1548
yep that seems to have solved the problem just did a dungeon no errors at all :)

[2022-06-23 03:03] 3ternalhunter opened #1549 "[BUG] Xy'mox - Addon disappears for survival hunter on latest update"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-23 03:03] nhiebert1776 opened #1550 "Priority display disappears as soon as adds spawn in Xymox attempt."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-23 03:08] KNP54 opened #1551 "[BUG] Priority list dissapears in the transition phase on Xymox (demo warlock)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-23 03:10] Hekili commented on #1549
v9.2.5-1.0.2a is not the latest update.  Try https://github.com/Hekili/hekili/releases/download/v9.2.5-1.0.5-alpha2/Hekili-v9.2.5-1.0.5-alpha2.zip.

[2022-06-23 03:10] #1549 closed, assigned to Hekili

[2022-06-23 03:10] Hekili commented on #1551
Try https://github.com/Hekili/hekili/releases/download/v9.2.5-1.0.5-alpha2/Hekili-v9.2.5-1.0.5-alpha2.zip

[2022-06-23 03:11] Hekili commented on #1550
Try https://github.com/Hekili/hekili/releases/download/v9.2.5-1.0.5-alpha2/Hekili-v9.2.5-1.0.5-alpha2.zip

[2022-06-23 03:11] Hekili commented on #1548
Thanks!

[2022-06-23 03:11] #1548 closed, assigned to Hekili

[2022-06-23 03:11] Hekili commented on #1551
Closing as a duplicate ticket.

[2022-06-23 03:11] #1551 closed, assigned to Hekili

[2022-06-23 03:11] 3ternalhunter commented on #1549
My bad, I downloaded an old version to fix the issue and pasted the old.
It exists in the new

[2022-06-23 03:19] Hekili commented on #1549
You'll have to show it happening with the latest version; do you routinely use alpha versions?  The one I linked has only been available for 9 hours.

If you don't have BugSack and BugGrabber (or there are no error messages there), please check /hekili > Warnings and look if any error messages have been captured there.  If/when you have data from the latest alpha version, you can reopen the ticket

[2022-06-23 03:25] nhiebert1776 commented on #1550
Thanks for the fast response. Same issue though.

[2022-06-23 03:29] Hekili commented on #1550
I'll need the following information to proceed:

1. When this is occurring, try to generate a Snapshot.  The keybinding for this is `ALT-SHIFT-[` by default but can be changed on the Toggles section of `/hekili`.  After the fight, you can retrieve the snapshot from `/hekili` > Snapshots, paste the text to Pastebin, and link it here.

2. If you have BugSack and BugGrabber (addons), if they have col

[2022-06-23 03:31] 3ternalhunter commented on #1550
This is the warning I am receiving using 9.2.5-1.0.5-alpha2:

Update: Interface\AddOns\Hekili\Targets.lua:282: attempt to compare nil with number

[string "@Interface\AddOns\Hekili\UI.lua"]:1104: in function <Interface\AddOns\Hekili\UI.lua:903>

[2022-06-23 03:32] nhiebert1776 commented on #1550
We just finished on prog for the week unfortunately. Hopefully 3ternalhunter can provide the requested info, otherwise I'll do it next Wednesday raid. I'll try in LFR maybe same issue.

[2022-06-23 03:34] nhiebert1776 commented on #1550
I have this same warning.

[2022-06-23 03:36] Hekili commented on #1550
Thanks, I'm posting a 1.0.5-alpha3 that may resolve this issue.  It'll take a minute before it's online.

https://github.com/Hekili/hekili/releases/download/v9.2.5-1.0.5-alpha3/Hekili-v9.2.5-1.0.5-alpha3.zip

[2022-06-23 03:47] Hekili commented on #1550
If either of you get an opportunity to test and confirm this is working, let me know and I'll post the fix as a release.  Thanks again for reporting.

[2022-06-23 04:00] Plasmaxyz commented on #1550
I was having this same issue on mythic on my BM/Survival hunter with the latest version and 1.0.5-alpha3 has fixed the issue.

[2022-06-23 04:22] Hekili commented on #1550
Thanks.  I'll go ahead and publish a full release to address this ASAP for other folks.

[2022-06-23 04:22] #1550 closed, assigned to Hekili

[2022-06-25 14:00] jpnow opened #1552 "Rogue Assassination low crimson tempest uptime"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-26 18:34] srice88 opened #1554 "[BUG] FURY BLADESTORM AND RECKLESSNESS NOT SHOWING IN RECOMMENDED LIST"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-06-26 19:52] Hekili commented on #1554
Turn on cooldowns in `/hekili` > Toggles.

[2022-06-26 19:53] #1554 closed, assigned to Hekili

[2022-06-28 23:20] Drizzt1990 opened #1555 "[REC] DK/Unholy Apocalypse is recommended without being castable"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-29 02:56] Jacii1121 opened #1556 "[REC] Ret Paladin Precombat Boss Recommendation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-06-29 03:04] Hekili commented on #1556
Any errors in BugSack/BugGrabber or /hekili > Warnings?  (You can ignore any warnings about flashes or auras being removed.)

It looks like the time-to-death calculation is showing 1 second remaining.  I'm going to assume this was after at least one pull.  Does it occur after a /reload?

[2022-06-29 09:23] Jacii1121 commented on #1556
Just checked again this morning. Able to replicate with the "Raider Training Dummy" in Bastion.  (not able to get back into a raid). Nothing in Bugsack or /hekili > Warnings.

Reloading seems to fix, temporarily. However, after about 10 seconds of just standing in front of the dummy, the recommendations change to Trinket>DT>BoJ.

[2022-07-06 21:09] killer1209 opened #1557 "Warrior/Arms 2+ Target Cleave addon will not recommend MS"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-07-06 21:40] killer1209 commented on #1557
So i dug into this a little bit more and it appears that the addon is following the sim recommendations
https://i.imgur.com/QNE5JlM.png

It looks like the sim is saying when SS is not up it only MS to refresh deep wounds.

Is it possible that the sim rotation is incorrect? or do i just not know what im talking about.

IMO the only time you would WW over MS is if enough targets are present to do mo

[2022-07-07 02:16] Hekili commented on #1557
All things are possible.  You can edit the priority in your sim and see if you get better results.  If you do, you'd want to let SimulationCraft know and let me know, and I can adopt similar changes.

The only way to find out is to edit priorities in SimulationCraft and see if you end up with higher DPS output.

https://www.raidbots.com/simbot/report/cvgRZDrgh4k7HtiVFZE3Pv

Without putting a lot o

[2022-07-07 11:09] Sneezry opened #1558 "[BUG] Hekili crashes when sorting bag"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-07-13 18:27] gblnunes opened #1560 "[REC] WARRIOR/FURY - CONDEMN RECOMMENDED WITHOUT HEALTH CONDITIONS MET"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-07-23 01:16] gblnunes commented on #1560
Any updates? :/.

[2022-07-23 14:34] byllam824 opened #1563 "Only one icon works for Deathknight - no error message"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-07-23 20:03] Hekili commented on #1563
Please submit a snapshot of your Primary display via Pastebin. (Yes, even as it displays nothing.)

See your Toggles tab for the snapshot keybind.

[2022-07-23 23:09] gaveer opened #1564 "[BUG] HasVehicleActionBar seems broken"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-07-24 01:26] Hekili commented on #1563
I am not able to replicate this issue with the same settings that you are using.

[2022-07-24 01:57] Hekili commented on #1564
Thanks, this will be addressed in the next release; these are technically override action bars and not vehicle action bars.

[2022-07-24 01:57] #1564 closed, assigned to Hekili

[2022-07-24 02:38] Hekili commented on #1560
This will be fixed in the next release.

[2022-07-24 02:38] #1560 closed, assigned to Hekili

[2022-07-24 02:55] Hekili commented on #1558
This should be addressed in the next release.

[2022-07-24 02:55] #1558 closed, assigned to Hekili

[2022-07-24 03:14] Hekili commented on #1557
I'm going to go ahead and make some updates that reflect my own testing.  If SimC makes different updates at some point, I'll incorporate those when they're available.

[2022-07-24 03:14] #1557 closed, assigned to Hekili

[2022-07-24 03:15] Hekili commented on #1556
This should be addressed in the next release; it was related to time-to-die calculations.

[2022-07-24 03:15] #1556 closed, assigned to Hekili

[2022-07-24 03:22] Hekili commented on #1555
This will be addressed in the next release.

[2022-07-24 03:22] #1555 closed, assigned to Hekili

[2022-07-24 03:23] Hekili commented on #1552
Hi, I will be posting an updated version of the addon tonight; if you are still having this issue, feel free to reopen this ticket with a snapshot taken at a time you think Crimson Tempest should be recommended, but isn't.  Thank you.

[2022-07-24 03:23] #1552 closed, assigned to Hekili

[2022-07-24 03:24] Hekili commented on #1547
This should be addressed in the next release.  If not, feel free to reopen this ticket with an updated snapshot where the trinket is looking to sync with the GCD.  Thanks!

[2022-07-24 03:24] #1547 closed, assigned to Hekili

[2022-07-24 03:26] Hekili commented on #1546
I would recommend having the default simc priorities updated, if you have not already, and then I would incorporate this once those are published.  Thanks!

[2022-07-24 03:26] #1546 closed, assigned to Hekili

[2022-07-24 05:29] gaveer commented on #1564
ty <3

[2022-07-24 08:03] Leondis opened #1565 "Survival Core has completely disappeared."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-07-24 10:35] cypiate commented on #1565
Have same problem

[2022-07-24 11:15] jinyoung-lee7 commented on #1565
Me too, have same problem. Please fix.

[2022-07-24 11:32] parwiz7 commented on #1565
same

[2022-07-24 12:43] esipaland commented on #1565
Hekili help us to fix this

[2022-07-24 13:52] elsavira commented on #1565
You seem to have unfortunately registered the BM Pack for survival in [this commit](https://github.com/Hekili/hekili/commit/db3af85058a45e2418adefddb26d46d91040738c)

Changing line 1426 of Classes/HunterSurvival.lua to `spec:RegisterPack( "Survival", 20220724, [[Hekili:T3t7YnUns(SOkv4inJhns0wZmBolTv2S3TxMlx2RItv79llrlrzX1sKAjPShNsLE2Vga8daWUbaLKNj7v7wBLela0Or3n6VqdWBhE7VE7nlcYdV9N9h47p4d(x1F4OrdU8

[2022-07-24 15:46] kyatastrophe opened #1566 "[BUG] When queueing as <tank> but sitting in town as <dps>, addon priority shows <dps> in dungeon"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-07-24 17:21] Hekili commented on #1565
I'll post a fix after lunch. Thanks.

[2022-07-24 17:37] ghost commented on #1565
I tried to uninstall and install the last version and still had the same issue.

[2022-07-24 18:21] vyktir commented on #1565
Just copy the profile and switch to survival in your copy and make it your active profile. Takes a few seconds.

[2022-07-24 18:58] Renai-glitch commented on #1565
How?

[2022-07-24 19:00] esipaland commented on #1565
pls say step by step until fix it

[2022-07-24 19:20] TheForbiddenToegang commented on #1565
same here ...

[2022-07-24 20:07] Hekili commented on #1565
1.0.6a will be published soon.  You'll be able to download it [here](https://github.com/Hekili/hekili/releases/tag/v9.2.5-1.0.6a) in a few minutes.  It will land on Wago/CurseForge/WoWInterface shortly after.  Thanks for the reports.

[2022-07-24 20:07] #1565 closed, assigned to Hekili

[2022-07-24 20:33] vyktir commented on #1565
Removed by Hekili.

[2022-07-24 20:52] Hekili commented on #1565
I removed vyktir's instructions to add your own sim profile because 99 times out of 100, you will only lose functionality by importing from SimulationCraft.  The default profiles are translated from SimC and have a few optimizations to function better in-game, which you lose if you import your own.

By and large, your sim profile's action list *does not* change based on your gear/talents/etc., it

[2022-07-24 22:01] Hekili commented on #1376
Hey, this has been an older ticket, but the reason for this difference is that the addon uses your ElvUI *Cooldown Text* settings, not your *ActionBars* settings.  It appears fairly complicated to treat it like an action bar instead.

[2022-07-24 22:02] #1563 closed, assigned to Hekili

[2022-07-25 03:02] Hekili commented on #1566
I would need a snapshot for this.  What did you queue for?  I just tested on my Paladin and queued for a dungeon, and it didn't swap me.

[2022-07-25 12:49] kyatastrophe commented on #1566
Might be a chromie time related issue actually now that I think of it. I will test

[2022-07-25 15:46] badudulance opened #1567 "[REC] Balance druid not recommending INC or CA/Ravenous Frenzy on single target"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-07-25 16:07] Hekili commented on #1567
Thank you for the snapshots.  There appears to be a missing element related to ST cooldowns that I'll be able to correct later in the day.

[2022-07-25 16:09] Hekili commented on #1567
If you go to /hekili > Priorities > Balance, go to the second tab, and scroll down to a line that starts with `+action.st`, you can remove the `+`, click Accept, and then click Import.  You may find this resolved at that point.

[2022-07-25 16:22] badudulance commented on #1567
That has indeed solved the issue, thank you for all your work!

[2022-07-25 20:32] Hekili commented on #1567
This is built-in to 1.0.6b, which I just released.  Thanks!

[2022-07-25 20:32] #1567 closed, assigned to Hekili

[2022-07-27 20:42] Earendil-Jenkins opened #1570 "[FEATURE] Add text to trinket recommendations"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-07-28 07:21] zvifflemeyer opened #1571 "no bars for bear tank. checked UI. they are enabled."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-01 03:55] Hekili commented on #1571
I'm not able to replicate this.  In Guardian spec, please get a snapshot and put it on Pastebin, then link it here.

Did you get BugSack and BugGrabber, and if so, did you have any error messages?

What do your /hekili > Guardian > Core settings look like?  (Screenshot is fine.)

[2022-08-01 11:42] zvifflemeyer commented on #1571
no error messages but the problem seems to have sorted itself out. Thank you for responding. 
    On Monday, August 1, 2022 at 11:55:38 AM GMT+8, Hekili ***@***.***> wrote:

I'm not able to replicate this. In Guardian spec, please get a snapshot and put it on Pastebin, then link it here.

Did you get BugSack and BugGrabber, and if so, did you have any error messages?

What do your /hekili > Guardi

[2022-08-02 07:19] Jackpkmn opened #1572 "Shadow priest without 4pc only recommends mind sear for 3+ targets"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-08-02 12:25] Hekili commented on #1571
Thanks for the update.

[2022-08-02 12:25] #1571 closed, assigned to Hekili

[2022-08-02 13:01] Hekili commented on #1572
I'm posting a potential fix, but first:

* Don't import a simc priority.  It helps nothing.  I import those and customize them for the addon.

I've added some changes to the Shadow priority for 1.0.7 that should address this issue.  It was related to Vampiric Touch and wanting to multidot but having "Recommend Target Swaps" turned off.

There's some other oddities to your snapshot, that could sugg

[2022-08-02 13:01] #1572 closed, assigned to Hekili

[2022-08-02 18:27] Jackpkmn commented on #1572
Importing the Simc profile was a fix i tested becasue this worked for me in the past when the blood dk rotation was broken (like completely broken, suggesting double marrowrending on pull with another one after popping DRW even with CRW that's like 10 overcapped bones) I don't typically run the addon with an imported profile it was just something i tested.

I did try the recommend target swap opti

[2022-08-02 23:49] Bsirk opened #1573 "Addon not Displaying Version 1.0.7"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-03 01:34] Hekili commented on #1573
This should be fixed by 1.0.7a.  Thanks!

[2022-08-03 01:34] #1573 closed, assigned to Hekili

[2022-08-03 09:51] drjeangrey opened #1574 "Enhancement Shaman- Vulperan Racial"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-08-03 13:40] Hekili commented on #1574
![image](https://user-images.githubusercontent.com/9438134/182622226-7496f6a0-c54e-4166-84d3-1b49a5398f1c.png)

Sounds like removing it from the Toggle is, at best, the opposite of what you wanted.

You can disable the ability entirely -- the addon will _never_ recommend it -- via /hekili > Abilities.  Select your Specialization and Bag of Tricks, then check Disable Bag of Tricks.

[2022-08-03 13:40] #1574 closed, assigned to Hekili

[2022-08-04 08:33] maccabe opened #1575 "[RogueOutlaw] Unable to make recommendation(s) in combat (auto-snapshotting)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-04 08:37] maccabe commented on #1575
Ps:
![Fighting stopped with triggermessage](https://user-images.githubusercontent.com/34674993/182802818-2066a419-92e9-4951-ab06-d65a2ba556ab.png)

[2022-08-04 10:15] maccabe commented on #1575
Update: the addon works with my other spec "Subtlety" and the other chars on my acc.

[2022-08-04 12:33] Hekili commented on #1575
If it's automatically creating snapshots, could you provide the snapshots? They're in /hekili > Snapshots.

Is there anything in /Hekili > Warnings?

[2022-08-04 13:49] maccabe commented on #1575
There is only
Outlaw; Primary - N/A
Outlaw; AOE - N/A
no warnings

[2022-08-04 14:02] Hekili commented on #1575
Only the first line is visible on that tab.  Press CTRL+A, CTRL+C and see if there's more when you paste it to Pastebin.

[2022-08-04 14:49] maccabe commented on #1575
Ok. Sry
https://pastebin.com/XLmSaVRJ
https://pastebin.com/6HhJNrSu

[2022-08-04 16:00] Hekili commented on #1575
You somehow have an internal logic/flow "ability" assigned to a toggle and disabled.

`/dump Hekili.DB.profile.specs[260].abilities.call_action_list.toggle` will tell you what toggle it has been assigned.

I'm guessing you managed to inadvertently add it via /hekili > Outlaw > Toggles > (some section) > Add Ability, so I'll prevent that from occurring again.

You'll probably be fine if you type:

[2022-08-04 16:44] maccabe commented on #1575
Thank you very much.
This resolved the problem

[2022-08-04 18:57] #1575 closed, assigned to Hekili

[2022-08-05 20:15] Cheadstina opened #1576 "Windwalker - Touch of Death being recommended even when it's on cooldown"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-08-05 20:19] Hekili commented on #1576
That's not Touch of Death. It's pressing Storm, Earth, and Fire again to fixate them on a single target.

[2022-08-05 20:35] Cheadstina commented on #1576
Thank you very much!
Sorry for this post.

[2022-08-05 20:35] #1576 closed, assigned to Hekili

[2022-08-06 23:13] Tga123 opened #1577 "[BUG] Lua Error: attempt to compare number with nil"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-06 23:17] Hekili commented on #1577
I have a pending fix for this; thanks for reporting.  It does not impact the addon performance at all, it will just occur once or twice per display when they first get recommendations.

[2022-08-09 06:09] bignoob8 opened #1578 "[BUG] attempt to compare number with nil (rogue)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-09 12:07] Hekili commented on #1578
No, but this is already fixed and will be posted soon.  This error doesn't prevent the addon from functioning as normal.

[2022-08-09 12:07] #1578 closed, assigned to Hekili

[2022-08-09 14:50] bignoob8 commented on #1578
Awesome. I saw that you told the spriest you already had a fix for this but
just wanted to submit in case it was somewhat different being that we were
two different specs. glad to hear though, thanks for the response and help!

On Tue, Aug 9, 2022 at 05:07 Hekili ***@***.***> wrote:

[2022-08-09 17:53] Hekili commented on #1577
Resolved in 1.0.7b.

[2022-08-09 17:53] #1577 closed, assigned to Hekili

[2022-08-09 17:54] Hekili commented on #1570
I would probably not add text, but I've thought about using other indicators.

You can also just pause the display and mouse over the icon to see what it is.

[2022-08-10 08:23] ghost opened #1579 "Trinket add request: Kihra's Adrenaline Injector"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-08-10 13:59] xSaltyx opened #1580 "Trinket add request: New PvP Trinkets"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-08-12 12:39] mon1800 opened #1581 "Hekili primary display will not show rotation or only one skill"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-12 13:27] Hekili commented on #1581
I'd recommend resubmitting your ticket as a recommendations issue, and follow the instructions for that ticket to include the snapshots that are generated when the addon cannot make recommendations.

[2022-08-13 15:45] dubudevs opened #1584 "[BUG] Addon doesn't consistently pick up all damaged enemies"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-13 15:50] MagicHomie5 opened #1585 "[FEATURE] add Fleshrender's Meathook trinket"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-08-13 15:51] dubudevs commented on #1585
Many of the new trinkets are not recommended currently

[2022-08-13 16:26] MagicHomie5 commented on #1585
Guess I just have to wait until then

[2022-08-13 19:38] Hekili commented on #1584
Pet-based detection supercedes damage-based detection, if you're targeting something in range of your pet ability.

[2022-08-14 02:29] dubudevs commented on #1584
Any chance we can get the option to choose between the higher of the two values?

[2022-08-14 17:12] Hekili commented on #1584
There's not really a point to that.  You'd just turn off pet-based detection.

[2022-08-14 22:01] #1584 closed, assigned to Hekili

[2022-08-14 23:43] Hekili commented on #1581
I realize the New Text Document(3).txt actually uploaded and was readable.  I was able to replicate the issue and I believe I have a fix prepped for the next release.  Thanks!

[2022-08-14 23:43] #1581 closed, assigned to Hekili

[2022-08-15 01:36] Hekili commented on #1585
Yeah, if a trinket is missing, reporting them here is the right thing to do.  Thanks.

[2022-08-15 01:56] #1579 closed, assigned to Hekili

[2022-08-15 01:56] #1580 closed, assigned to Hekili

[2022-08-15 01:56] #1585 closed, assigned to Hekili

[2022-08-15 02:00] #1376 closed, assigned to Hekili

[2022-08-15 17:22] dubudevs commented on #1585
Enforcer's Stun Grenade is missing too

[2022-08-17 09:32] Fyurie opened #1586 "[FEATURE] Add Enforcer's Stun Grenade"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-08-17 09:36] Fyurie commented on #1586
Looking at the commit history, I see https://github.com/Hekili/hekili/commit/72132095c28a1d11b36fa2efede84f4f8e48ce14 is there. Is the build containing this commit just not propagated to Curseforge yet? I can still only download a 9.2.5 release build from there.

If that's the case, just close this ticket. My apologies for not checking the commit history first.

[2022-08-17 16:39] Hekili commented on #1586
Yeah, this will be enabled in the next release, which will be today or tomorrow.

What spec are you playing?

[2022-08-17 16:52] Fyurie commented on #1586
Survival. The numbers have looked promising for using it with that spec.

The current APL info suggests it's just popped with every CA, so that's simple enough to deal with without it included right now, but I imagine others will want it to show on their priority lists.

[2022-08-17 19:46] dubudevs commented on #1586
Bis or close for demo too

[2022-08-18 04:31] mrgrimms commented on #1586
This has also been showing up on sims for balance druid and feral

[2022-08-18 14:21] elsavira opened #1587 "[BUG] Abilities that are added and then removed from toggles disappear from the toggle window permanently"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-08-19 18:17] Envidiosa opened #1588 "Trinket is not showing as part of priority"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-08-19 18:23] Hekili commented on #1588
Duplicate of #1586.  I'll be adding it soon.

[2022-08-19 18:23] #1588 closed, assigned to Hekili

[2022-08-19 23:01] Sisrat opened #1589 "Hunter MM"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-08-20 00:34] RyukiResain opened #1590 "[BUG] Memory leak issue as of 9.2.7"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-08-20 03:28] Hekili commented on #1590
What is your assumption that memory usage and lag spikes are related based upon?  Which dungeons?

What do you mean by tick?

WoW's Lua interpreter will garbage collect as needed.  The alternative is actually using CPU to wipe and reuse tables, which has a larger impact on performance.

Is there another recent version of the addon where you don't see the memory usage (or the lag spikes)?  Which ve

[2022-08-20 03:29] Hekili commented on #1589
Duplicate of #1586.

[2022-08-20 03:29] #1589 closed, assigned to Hekili

[2022-08-20 18:22] Ohm1989 opened #1592 "Wrap of Electrostatic Potential not being recommended or shown on any display"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-08-20 19:54] Hekili commented on #1592
This is an issue with recommendations; I need a snapshot of addon recommendations to be able to investigate.
If you have multiple on-use items, put the other one(s) on cooldown and wait for Wraps to be ready to be used, then take a snapshot.  See /hekili > Snapshots for details.

[2022-08-20 23:03] Mabellah opened #1593 "Hekili does not show key bind on default bar when using Bartender4"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-08-21 00:50] Ohm1989 commented on #1592
Hello, here is the snapshot of recommendations, after making sure the
Skulker's Wing trinket was used and on cooldown. Wraps is still not being
recommended to use.
https://pastebin.com/3uah7Ftv
Also attached is a screen showing the trinket on cooldown and the next 7
spells recommended

On Sat, Aug 20, 2022 at 3:54 PM Hekili ***@***.***> wrote:

[2022-08-21 01:05] Hekili commented on #1592
You didn't copy the whole snapshot.

[2022-08-21 01:15] Ohm1989 commented on #1592
I'm sorry this process is new to me. Do I use the trinket, press Alt Shift
[ to start the snapshot, then do combat for a few seconds to get a full
snapshot, then Alt Shift P to pause the snapshot, then send that in a
pastebin link?

On Sat, Aug 20, 2022 at 9:05 PM Hekili ***@***.***> wrote:

[2022-08-21 01:54] Hekili commented on #1593
Set up your bars however you normally would and then get a snapshot (see /hekili > Snapshots) or grab the information from the Issue Reporting tab and post it here.

Assuming you end up with Rake on bar 7 and your bar 1 changes to bar 7 in Cat Form, I'd also like to know the output of:

`/dump BT4Bar7.disabled`

Thanks!

[2022-08-21 01:56] Hekili commented on #1587
For your reproduction steps, can you tell me which approach you're taking to add/remove abilities from the toggle?  There are two places:
* /hekili > *Your Specialization; presumably Elemental* > Toggles
* /hekili > Abilities > Require Toggle

[2022-08-21 02:19] Hekili commented on #1592
No, the whole snapshot is instantly created, you just didn't select it all after making it.

![image](https://user-images.githubusercontent.com/9438134/185772498-2a674609-8e60-46ea-9102-45803e1ed92f.png)

Click in the box, press CTRL+A to select all (there are multiple lines, though you can only see one), then hit CTRL+C and paste that to Pastebin.  It'll be *much* longer.  :)

[2022-08-21 03:49] Ohm1989 commented on #1592
https://pastebin.com/k4CxcuGr
there we go, i believe this is correct.

On Sat, Aug 20, 2022 at 10:19 PM Hekili ***@***.***> wrote: