[2022-10-30 15:43] akaRaven opened #1814 "Monk Reverse Harm still an option under WW > Core"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 15:45] Hekili commented on #1814
Thanks.  I'll remove it; the setting doesn't harm anything but could cause confusion.

[2022-10-30 16:00] Hekili commented on #1814
This will be in the next release.

[2022-10-30 16:00] #1814 closed, assigned to Hekili

[2022-10-30 16:01] Hekili commented on #1813
You will need to provide the required snapshot for this to be investigated.

[2022-10-30 16:02] Hekili commented on #1776
Next release will have another stab at fixing this issue.  It passes my testin, but I'm not sure if there is another variable here.  If you report again, please include your talent string and a new snapshot.

[2022-10-30 16:42] Blujelly87 commented on #1764
Have/had a similar problem, before the latest Hekili patch some of my key binds weren't showing, then the new update dropped & all was ok & showing. Changed my UI around to do, moved abilities on to different bars (same key bind though) now it won't show 2 abilities that have had the same key bind, currently using Bartender

[2022-10-30 16:45] Dorfess opened #1815 "Fury Warrior rotations not showing avatar"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 16:45] Hekili commented on #1764
Are you saying that the addon won't show the *ability* in general, or that it doesn't show the *keybind* of the ability?

[2022-10-30 16:47] Blujelly87 commented on #1764
Just the key binding only, rest works like a dream :)

[2022-10-30 17:00] Dragonfo opened #1816 "Please add Clicked support"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-10-30 17:07] Hekili commented on #1816
Seems pretty reasonable, but will come after all spec support is restored.

[2022-10-30 17:10] Hekili commented on #1815
You did not copy the entire snapshot; provide the whole snapshot in your ticket.  Press CTRL+A then CTRL+C to copy all the text, even hidden text.

[2022-10-30 17:12] Hekili commented on #1767
I have tested and this will be fixed in the upcoming release.

[2022-10-30 17:12] #1767 closed, assigned to Hekili

[2022-10-30 17:12] Dorfess commented on #1815
Fury; Primary - Odyn's Fury(0.00), Crushing Blow(1.01), Crushing Blow(2.03)
build: v10.0.0-05
level: 60 (60)
class: WARRIOR
spec: fury

talents: anger_management
    armored_to_the_teeth = 2/2
    ashen_juggernaut = 1/1
    avatar = 1/1
    berserker_stance = 1/1
    bloodthirst = 1/1
    bounding_stride = 1/1
    cruelty = 1/1
    defensive_stance = 1/1
    double_time = 1/1
    dual_wield_specia

[2022-10-30 17:13] #1773 closed, assigned to Hekili

[2022-10-30 17:13] Hekili commented on #1679
9.2.7 versions are out of date; Warlock is not yet supported in Dragonflight.

[2022-10-30 17:13] #1679 closed, assigned to Hekili

[2022-10-30 17:14] #1678 closed, assigned to Hekili

[2022-10-30 17:15] #1682 closed, assigned to Hekili

[2022-10-30 17:15] Hekili commented on #1685
This has been implemented in the retail release.

[2022-10-30 17:15] #1685 closed, assigned to Hekili

[2022-10-30 17:15] #1643 closed, assigned to Hekili

[2022-10-30 17:15] Dorfess commented on #1815
https://pastebin.com/c0bLBiJt

[2022-10-30 17:16] #1687 closed, assigned to Hekili

[2022-10-30 17:16] #1701 closed, assigned to Hekili

[2022-10-30 17:17] Hekili commented on #1710
This is a "recommendations" issue.  If it persists with the 05.1 release, submit a new ticket re: recommendations and include the required snapshot.

[2022-10-30 17:17] #1710 closed, assigned to Hekili

[2022-10-30 17:18] Hekili commented on #1684
This has been addressed as of release 05.

[2022-10-30 17:18] #1684 closed, assigned to Hekili

[2022-10-30 17:18] #1677 closed, assigned to Hekili

[2022-10-30 17:19] Hekili commented on #1714
This is addressed in release 05.

[2022-10-30 17:19] #1714 closed, assigned to Hekili

[2022-10-30 17:19] #1725 closed, assigned to Hekili

[2022-10-30 17:20] Hekili commented on #1680
This is resolved in the latest release.

[2022-10-30 17:20] #1680 closed, assigned to Hekili

[2022-10-30 17:21] #1804 closed, assigned to Hekili

[2022-10-30 17:21] #1776 closed, assigned to Hekili

[2022-10-30 17:30] mackdoherty opened #1817 "[REC] [Dragonflight] Windwalker Monk - On-Use Trinkets not being recommended."
### Before You Begin

- [ ] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 17:37] Hekili commented on #1817
Update to the latest release and report back (with a new snapshot) if you still have this issue.

[2022-10-30 17:48] Bazzerk opened #1818 "Not Working for any class"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-30 18:07] Ohm1989 opened #1819 "10.0.0-05 - Havoc DH not recommending Throw Glaive in AoE build"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 18:09] Hoopla47 commented on #1813
I've added snapshot.

[2022-10-30 18:16] RumbleDumble commented on #1813
Can confirm, also getting same issue

[2022-10-30 18:36] Hekili commented on #1818
Priest is not yet implemented; the addon tells you this at login and on the `/hekili` screen.  Thanks.

[2022-10-30 18:36] #1818 closed, assigned to Hekili

[2022-10-30 18:36] Hekili commented on #1813
What are you expecting to see instead?

[2022-10-30 18:37] RumbleDumble commented on #1813
Earthquake is what it should be for Echoes of the Great Sundering right?

[2022-10-30 18:38] Hekili commented on #1813
That makes sense, but wasn't explicitly stated.  The ticket instructions ask what you see and what you expect to see instead.

[2022-10-30 18:39] RumbleDumble commented on #1813
s

Sorry didn't mean to hop in here, I was about to make a ticket myself. So I can't speak for him, just letting you know I was also getting the same error :) Keep up the good work

[2022-10-30 18:46] Lillefot92 opened #1820 "WOTLK Arms Warrior Rotation and CD"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 20:05] Hekili commented on #1820
Yes, Wrath work is backlogged behind Dragonflight, but I'll pick this up later.

[2022-10-30 20:05] Hekili commented on #1813
Could you please update to 05.1 and retest?  If the issue persists, please take a new snapshot and include your talent string.  Thanks.

[2022-10-30 20:08] Hekili commented on #1681
If this issue persists with 05.1 or later, please add a comment with an updated snapshot and your talent string.  Thanks.

[2022-10-30 20:08] #1681 closed, assigned to Hekili

[2022-10-30 20:08] #1755 closed, assigned to Hekili

[2022-10-30 20:45] OsulivanAB opened #1821 "Elemental Shaman - Primal Storm Elemental and Tempest"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 20:58] Pulseonline opened #1822 "Unholy DK Hekili Bar disappearing even when I have runes available"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 21:03] Pulseonline commented on #1822
Also Hekili - its not Recommending Empower Rune Weapon ever in the rotation either.

[2022-10-30 21:12] DannyA3434 opened #1823 "Ele Shaman. Frost Shock Keybind the Same As Icefury."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-30 21:14] DannyA3434 commented on #1823
Whoops. Looks like after a few minutes of testing roations, the issue corrected itself. Apologies for the incvonenience.

[2022-10-30 21:43] Hoopla47 commented on #1813
I downloaded the latest file. Earthquake is starting to appear sometimes but at same time as earth shock, with earth shock first, then earthquake right next to it. What I expect to see is during the rotation earth shock is suggested (which it is), then earthquake when you have enough maelstrom because you can now benefit from the EoGS buff after casting Earth Shock. I reset the priorities to defau

[2022-10-30 22:16] tance77 opened #1824 "Feral Fails To Reccommend Anything After Using Cooldowns"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-30 22:35] tance77 commented on #1824
It seems to happen after a 5 combo point rip very often.

[2022-10-30 23:36] Melinamun opened #1825 "Bars are not showing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-31 00:26] Purehotty opened #1826 "Exorcism only with Consecration Active?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-10-31 01:32] Hekili commented on #1823
Thanks for updating.

[2022-10-31 01:32] #1823 closed, assigned to Hekili

[2022-10-31 01:33] Hekili commented on #1826
This is not a feature request, nor does it include any context as to why I would want to do that.

[2022-10-31 01:33] #1826 closed, assigned to Hekili

[2022-10-31 01:34] Hekili commented on #1825
Your specialization is not supported in Dragonflight (yet).  This information is presented to you when you log into the game, and is also shown if you open the addon menu.  All classes/specializations will be supported, but it takes time to implement all the new talents and nuances.  Thank you for being patient.

[2022-10-31 01:34] #1825 closed, assigned to Hekili

[2022-10-31 01:40] Hekili commented on #1819
This should be resolved in 05.1.

[2022-10-31 01:40] #1819 closed, assigned to Hekili

[2022-10-31 01:45] Hekili commented on #1813
Thanks for posting.  What does "Earthquake is starting to appear sometimes but at same time as earth shock" mean?  Both your screenshot and snapshot show Earth Shock but do not show Earthquake.  Snapshots need to be taken when the issue you're describing is occurring.

If you add additional snapshots, please just put them in your reply.  It is helpful if you wrap it in tick marks like this:
\`\`\`

[2022-10-31 02:06] natgeo001 opened #1827 "BM hunter not showing bestial wrath in rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-31 02:46] Hekili commented on #1822
Post a snapshot when you think it should be recommending Empower Rune Weapon, but isn't.  In your reply, put the snapshot between sets of 3 tick marks, like this:

\`\`\`
snapshot text goes here
\`\`\`

[2022-10-31 03:09] Hekili commented on #1822
The original issue in this ticket should be resolved on 05.3 (posting soon).

[2022-10-31 03:11] Hekili commented on #1827
Bestial Wrath is a DPS cooldown and you have cooldowns toggled off.  See /hekili > Toggles.

[2022-10-31 03:11] #1827 closed, assigned to Hekili

[2022-10-31 03:31] Hekili commented on #1813
This should be resolved in 05.3 (posting soon).

[2022-10-31 03:31] #1813 closed, assigned to Hekili

[2022-10-31 03:31] #1822 closed, assigned to Hekili

[2022-10-31 03:32] Hekili commented on #1824
You're on the right track.  It was when Rip was up and your combo points are maxed out; the Ferocious Bite conditions were wrong.  Fixing now.

[2022-10-31 03:32] #1824 closed, assigned to Hekili

[2022-10-31 03:41] Hekili commented on #1821
This should be resolved in 05.3 which I'll post in a few minutes.  If not, please comment and I'll reopen the ticket.

[2022-10-31 03:41] #1821 closed, assigned to Hekili

[2022-10-31 03:43] Hekili commented on #1815
This should be resolved as of 05.3; if not, please comment with a new snapshot taken when you think Avatar should be recommended, but isn't.  When you paste a snapshot, put it between 3 rows of tick marks like this:

\`\`\`
snapshot goes here
\`\`\`

[2022-10-31 03:43] #1815 closed, assigned to Hekili

[2022-10-31 03:43] #1817 closed, assigned to Hekili

[2022-10-31 04:49] AleSSouza opened #1828 "Unholy DK Hekili suggesting 2 DnD in a row."
![hekili_unholy](https://user-images.githubusercontent.com/87926384/198933966-fca6b58c-4047-4aed-bc32-c1d3b22f616d.png)
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find

[2022-10-31 04:51] Tga123 opened #1829 "[BUG] Actionbuttons continue flashing (with SpellFlash) alfter combat ends and "displays" hide."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-31 05:50] angrydanger opened #1830 "10.0.0-05.3 LUA errors addon does not load"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-31 05:54] Paua-Hua opened #1831 "Beast Mastery: Kill Shot not showing on targets below 20%"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-31 07:24] Paua-Hua commented on #1831
Also Multi-Shot not being reccomended in aoe

[2022-10-31 09:26] dado82rm commented on #1764
i Can Confirm that the Keybind is only appearing if the spell is on Bar 1 or Bar 2
i tested all the other 3 to 8 blizzard action bar without any other addons loaded

[2022-10-31 09:28] PettyPeterPettigrew opened #1832 "Ret Paladin - incorrect order recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-10-31 12:42] Hekili commented on #1832
Snapshots are required for recommendations tickets.

[2022-10-31 12:57] PettyPeterPettigrew commented on #1832
Retribution; Primary - Exorcism(0.00), Consecration(1.38), Crusader Strike(2.76)

[2022-10-31 15:29] angrydanger commented on #1830
After deleting the saved variables file, the addon now opens and appears to function properly.

[2022-10-31 16:03] jordancrain opened #1833 "Add option to hide actionbar proc glow when using SpellFlash"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-10-31 16:12] angrydanger opened #1834 "Ele Shaman - Recommends Flametongue Weapon even though buffs exists"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-10-31 16:12] angrydanger commented on #1834
![flametongue](https://user-images.githubusercontent.com/71839957/199055823-3e04495f-ec01-4f8b-b45d-0cd640e37dba.png)

[2022-10-31 16:18] pozzer18 commented on #1828
This also happens on blood spec aswell :)

[2022-10-31 16:40] royalplisk1 commented on #1832
I just did a +15 as Ret and final reckoning and divine toll were not recommended at all.

build: v10.0.0-05
level: 60 (60)
class: PALADIN
spec: retribution

talents: art_of_war
    ashes_to_ashes = 2/2
    ashes_to_dust = 1/1
    aspiration_of_divinity = 2/2
    auras_of_swift_vengeance = 1/1
    avenging_wrath = 1/1
    blade_of_justice = 1/1
    blade_of_wrath = 1/1
    blessing_of_freedom = 1/1

[2022-10-31 16:42] royalplisk1 commented on #1832
Actually, I think when I casted Final (without recommendation) it did recommend Divine Toll right after.

[2022-10-31 17:41] crashedorange commented on #1832
Hi, I don't have anything to contribute in coding, buuuuuuut I have discovered something that *should* work until the expansion is fully released...... do not have divine toll in the talent tree as that seems to be clashing with as that seems to be what is causing the duplicate suggetion in the addon.

[2022-10-31 18:59] Hekili commented on #1832
@royalplisk1 That still is not a snapshot, but you don't have your cooldowns toggle enabled.

@crashedorange I do not understand what you're saying, but if you are seeing incorrect recommendations, provide a snapshot and clear, specific details.

[2022-10-31 19:04] Paua-Hua commented on #1831
Multishot is a detection issue. pet-based detection doesnt work but minor, thanks bro :) appreciate your work.

[2022-10-31 19:09] Hekili commented on #1831
Provide a snapshot of an AOE scenario.

What makes you think this is the case?

[2022-10-31 19:16] Paua-Hua commented on #1831
![bug aoe](https://user-images.githubusercontent.com/98681769/199091332-53e7210d-b166-418f-9dd7-f962f38145a5.png)

[2022-10-31 19:17] Paua-Hua commented on #1831
![bug aoe 2](https://user-images.githubusercontent.com/98681769/199091401-d68dd895-3d44-44ce-9f6a-567925486c06.png)

[2022-10-31 19:17] royalplisk1 commented on #1832
Per the previous poster - thanks cooldowns somehow turned off. Fixed that. Figured out what a snapshot is below - I believe that Final Reckoning should be within the first 8 spells for sure (and it just isn't coming up for me and neither is Divine Toll until I click Final Reckoning). I wonder if it has something to do with it being a target ground ability that I have macro'd to a cast on self - th

[2022-10-31 19:18] Hekili commented on #1831
![image](https://user-images.githubusercontent.com/9438134/199091630-612a1ff7-1775-492d-b46e-955e66f4d366.png)

[2022-10-31 19:19] Paua-Hua commented on #1831
bro i am sorry 🤦‍♂️🤦‍♂️🤦‍♂️ ima stop being annoying now, soz bro

[2022-10-31 21:19] MrBean73 commented on #1831
I think its correct that Killshot ist not recommended, because it has a very low priority

[](url)
![Screenshot 2022-10-31 221910](https://user-images.githubusercontent.com/116820193/199112632-e32353d8-eb4f-4969-b967-000bbdb76dcf.png)

[2022-10-31 21:21] Paua-Hua commented on #1831
oh wow? really?

[2022-10-31 22:18] j-hickman commented on #1831
Pretty much.  In a 5 minute Patchwerk sim, I'm showing it only activates 6 times on average.  It doesn't come up all the time and we don't get flayed shot (e.g. Venthyr covenant) in this expansion.  So, no, it won't come up a lot.  Sims still use it though, obviously.

[2022-10-31 22:23] tance77 commented on #1764
I think your addon is outdated. I think i fixed this issue described here. https://github.com/Hekili/hekili/compare/v10.0.0-04...v10.0.0-05

I may be miss reading the build from the log wrong but it says you are on build: v10.0.0-01 and it was patched in v10.0.0-05

[2022-10-31 22:26] mackdoherty commented on #1817
Updated to 10.0.0-05.3 issue is still persisting.

Snapshot
https://pastebin.com/wWSnDYF3

Raidbots Profile:
https://www.raidbots.com/simbot/report/daGBZ22dSgSaxdPCv82mpg

[2022-10-31 23:13] Purehotty commented on #1832
I believe what the OP is trying to say is that it currently puts Exorcism before Consecration, which should be reversed as with the new talent when Consecration is down and you Exorcism a target inside of it the DOT effect is spread to other enemies also inside the Consecration which is a huge DPS increase on AOE packs. I was wondering the same how it could be possible to make sure Consecration is

[2022-10-31 23:13] Hekili commented on #1831
This is what snapshots are good for, if taken at the right time.  It explains how the addon arrived at the decisions it arrived at.  If you just post a snapshot from when you are idle, there are a bunch of higher priority abilities in the queue ahead of it.

The Kill Shot entries in the BM priority are:
1. cleave (5) - With Flayer's Mark up and Pouch of Razor Fragments.
2. cleave (19)
3. st (10)

[2022-10-31 23:13] #1831 closed, assigned to Hekili

[2022-10-31 23:16] Ashgaion opened #1835 "Enhancement - Earth shield missing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-01 00:13] onelz232 opened #1836 "Windwalker its not recomending any trinkets"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-01 00:23] mackdoherty commented on #1836
Adding on, since my ticket was closed yesterday, issue is still persisting with the latest release.

Updated to 10.0.0-05.3 issue is still persisting.

Snapshot
https://pastebin.com/wWSnDYF3

Raidbots Profile:
https://www.raidbots.com/simbot/report/daGBZ22dSgSaxdPCv82mpg

[2022-11-01 01:16] Jacii1121 commented on #1832
[Snapshot ](https://pastebin.com/CPnY3ADw) that hopefully supports the ticket.  Don't think the simc apl supports this however.

[2022-11-01 01:23] jordancrain opened #1837 "Unholy DK: Deadliest Coil legendary no longer functions"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-01 02:31] petewoolley commented on #1832
Agreed on the Exorcism point, shouldn't be prioritised ahead of consecrate unless single target.

[2022-11-01 02:38] petewoolley opened #1839 "Retribution paladin - not accounting for Dusk and Dawn maintenance"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-01 03:25] #1839 closed, assigned to Hekili

[2022-11-01 03:25] petewoolley commented on #1839
Closed, talked to Bolas, he hasn't implemented D&D in the APL yet.

[2022-11-01 03:42] Lillefot92 commented on #1820
Ok, sounds good :)

[2022-11-01 06:21] Deathhunt opened #1840 "[REC] Unholy DK unable to show recommendation on single target"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-01 08:35] Klownmechanics opened #1841 "Shadow Priest not rotating through abilities"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-01 10:09] PettyPeterPettigrew commented on #1832
Thanks for posting. I've followed the instructions to create my own but its just giving me the thing I posted. Maybe because I'm not on  level 60 dunno

[2022-11-01 10:10] PettyPeterPettigrew commented on #1832
Yes thanks for repeating exactly what I said lol

[2022-11-01 11:13] jmtenet211 opened #1842 "WW Priority Displayed for Brewmaster Monk"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-01 11:55] Hekili commented on #1832
You have to CTRL+A in the textbox to select all the text, including the hidden text. Otherwise, you're just copying the first line.

[2022-11-01 12:25] Hekili commented on #1842
Correct, Brewmaster is not yet implemented so it is not listed yet.

![image](https://user-images.githubusercontent.com/9438134/199231772-543a4f47-b552-4c18-84bd-c798f248f937.png)

[2022-11-01 12:25] #1842 closed, assigned to Hekili

[2022-11-01 13:46] Hekili commented on #1832
This morning's release will shift Exorcism vs. Consecration based on target counts, sort of.  Sims will eventually shake out how long you'd hold Exorcism for Consecrate without losing DPS.

[2022-11-01 13:46] #1832 closed, assigned to Hekili

[2022-11-01 13:47] Hekili commented on #1841
This will be fixed in this morning's update.  Thanks for the report.

[2022-11-01 13:47] #1841 closed, assigned to Hekili

[2022-11-01 13:48] PettyPeterPettigrew commented on #1832
Thanks!

[2022-11-01 15:17] johndolotko opened #1843 "Unknown icon in list of spell priorites"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-01 15:40] vond82 commented on #1843
Thats the Chains of Domination trinket.

[2022-11-01 16:08] Hekili commented on #1843
This should not have been a "bug" trinket; it was a question about recommendations.

The snapshot would've shown exactly what ability it was on the first line, as well.  If you don't recognize an ability, you can always pause the addon and mouseover the icon to see whta it is.  But yes, the answer is almost always "it's your trinket."

[2022-11-01 16:08] #1843 closed, assigned to Hekili

[2022-11-01 16:37] Hekili commented on #1840
This looks like some Festermight logic was blocking, when you don't have the talent.  Next release should have a fix.

[2022-11-01 16:37] #1840 closed, assigned to Hekili

[2022-11-01 16:38] Hekili commented on #1837
Where were you when you experienced this issue?  In Shadowlands content or elsewhere?

[2022-11-01 16:53] jordancrain commented on #1837
I was in Stormwind, and the legendary effect was grayed out on the item.  It didn't occur to me to go back to a Shadowlands zone to test.

[2022-11-01 17:00] marekCs opened #1844 "Balance druid - Sunfire is still swap recommended even it is already dotted"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-01 17:07] jordancrain commented on #1837
I double checked, and the legendary effect becomes active again in Shadowlands zones.  But there's no obvious buff to indicate that.  Not sure if there something behind the scenes that can be queried to determine if the effect is actually active or not.

[2022-11-01 17:13] vond82 commented on #1837
Since pre-patch Shadowlands stuff like that only works inside Shadowlands zones, so just gotta keep track of where you are :)

[2022-11-01 17:30] marekCs commented on #1844
But it works pretty ok in dungeons, so please just review when you have time, it's not a priority.

[2022-11-01 17:45] jleafey opened #1845 "Shadow Priest function error"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-01 18:17] MichaelKaiser opened #1846 "Shadow Priest: Devouring Plague / Mindgames"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-01 18:46] Hekili commented on #1846
The first part is due to a bug that'll be fixed when I post a release in a few minutes.

You can add a snapshot for this scenario -- the one you provided matches the Devouring Plague part, but your dots aren't applied for Mindgames.

[2022-11-01 18:47] Hekili commented on #1845
Yep, these will be fixed in the next posted release.

[2022-11-01 18:47] #1845 closed, assigned to Hekili

[2022-11-01 18:59] marekCs commented on #1844
Happened again in raid on 2 targets [https://pastebin.com/CMDprd10](https://pastebin.com/CMDprd10)

[2022-11-01 18:59] MichaelKaiser commented on #1846
Sure: https://pastebin.com/euNaER3b

on this stage I would have expected Mindgames as suggestion

[2022-11-01 20:31] dado82rm commented on #1764
The issue is still present on build: v10.0.0-06 on blizzard official bars
this is what the snapshot 1 find a skeybinds

[code]

![image](https://user-images.githubusercontent.com/12471644/199333301-d2066bbd-ec3a-41bc-ad81-c520b36450ab.png)

for the purpose of reporting the issue
i moved away all the spells from bar 1 and bar 2
and i only have spells on bar 6 and bar 7

on my normal ui Bar 6 and 7

[2022-11-01 20:38] Hekili commented on #1844
This should be resolved in the next release.

[2022-11-01 20:38] #1844 closed, assigned to Hekili

[2022-11-01 20:50] Tzuyume opened #1847 "Shadowpriest gets stuck and doesnt recommend anything new"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-01 20:52] Hekili commented on #1847
No new Shadow Priest tickets until after the next release.

[2022-11-01 20:52] #1847 closed, assigned to Hekili

[2022-11-01 20:55] Hekili commented on #1846
This should be fixed in the next release.

[2022-11-01 20:55] #1846 closed, assigned to Hekili

[2022-11-01 20:56] Hekili commented on #1837
Next release will disable Shadowlands legendaries outside of Shadowlands content.  Hopefully.  Maybe.

[2022-11-01 20:56] #1837 closed, assigned to Hekili

[2022-11-01 21:26] Brew0monk opened #1848 "BREWMASTER MONK NOT WORKS"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-01 21:35] Hekili commented on #1836
Thanks.  This was due to a typo in the priority.  It'll be fixed in today's release.

[2022-11-01 21:35] #1836 closed, assigned to Hekili

[2022-11-01 21:36] Hekili commented on #1848
Your specialization is not supported in Dragonflight (yet).  This information is presented to you when you log into the game, and is also shown if you open the addon menu.  All classes/specializations will be supported, but it takes time to implement all the new talents and nuances.  Thank you for being patient.

[2022-11-01 21:36] #1848 closed, assigned to Hekili

[2022-11-01 21:36] Hekili commented on #1835
This will be handled in today's release.

[2022-11-01 21:36] #1835 closed, assigned to Hekili

[2022-11-01 21:38] Hekili commented on #1834
This should've been a recommendations ticket with a snapshot and your talent string.  Can you provide those, please?

[2022-11-01 21:43] Hekili commented on #1834
This will be fixed in the next release.

[2022-11-01 21:43] #1834 closed, assigned to Hekili

[2022-11-01 21:53] johndolotko commented on #1843
Thanks guys,

I have my trinkets macro’d, is there a way to add a keybind to the icon?

[2022-11-01 22:17] bmira420 opened #1849 "Taint error warning"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-01 22:42] Hekili commented on #1843
You can set custom keybind text for any ability or item:

/hekili > Abilities > Override Keybind Text
/hekili > Gear and Items > Override Keybind Text

![image](https://user-images.githubusercontent.com/9438134/199355854-0b7d9dd2-b9b3-4a51-9536-ef6da29b369d.png)

[2022-11-01 22:43] Hekili commented on #1849
I have no idea what this means.  What says this, and where?

???

[2022-11-01 22:44] #1830 closed, assigned to Hekili

[2022-11-01 22:46] bmira420 commented on #1849
There’s no error code that it gives. When I press the #12 button on my
razor naga. Which is ghost wolf form. It tells me to disable hekili and
reload ui. It doesn’t do it all the time but is very random.

On Tue, Nov 1, 2022 at 5:43 PM Hekili ***@***.***> wrote:

[2022-11-01 23:08] Hekili commented on #1849
Ok, does this occur if you disable all your other addons and have only Hekili loaded?

[2022-11-01 23:13] bmira420 commented on #1849
I am occasionally having issues with details and silver dragon. But I don’t
have a ton on addons maybe 10 at most. Dbm handynotes sliver dragon,
decursive, details, tomtom, and Hekili. If u have a suggestion on which to
disable to minimize the occurrence I’m happy to oblige

On Tue, Nov 1, 2022 at 6:09 PM Hekili ***@***.***> wrote:

[2022-11-01 23:25] Hekili commented on #1849
I don't. You didn't answer the question I asked, though.

This is a "taint" issue, and taint issues are notoriously misattributed in WoW. Once some addon touches something secure by mistake, other addons can get blamed.

If you play with Hekili and no other addons enabled, do you get the same error?

[2022-11-01 23:26] bmira420 commented on #1849
I’ll give it a try

On Tue, Nov 1, 2022 at 6:25 PM Hekili ***@***.***> wrote:

[2022-11-02 03:01] petewoolley commented on #1832
Noice.

[2022-11-02 04:45] ckeurk opened #1850 "Localization"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-02 05:28] Deathhunt commented on #1840
Test v10.0.0-06.1 and it's fixed, thanks for the great work.

[2022-11-02 06:48] Xeltor opened #1851 "Exhilaration was (accidentally) removed in Hekili from BM Hunter"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-02 08:09] leinstay opened #1852 "Request: add option to turn off current/queued spell highlight"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-02 10:16] zvifflemeyer opened #1853 "hekili has been ignored for an action available only to blizz ui"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-02 11:16] johndolotko commented on #1843
Thank you

From: Hekili ***@***.***>
Sent: 01 November 2022 22:43
To: Hekili/hekili ***@***.***>
Cc: John Dolotko ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] Unknown icon in list of spell priorites (Issue #1843)

You can set custom keybind text for any ability or item:

/hekili > Abilities > Override Keybind Text
/hekili > Gear and Items > Override Keybind Text

 <https://user-i

[2022-11-02 12:01] maxiixam commented on #1853
These classes are not yet implemented. you are putting unnecessary strain on this dev by opening this ticket for classes not finished yet. dude is working tirelessly to get these classes out and functional as fast as they can. PLEASE be patient and understand that tickets like this only slow down the development of this addon.

[2022-11-02 12:04] zvifflemeyer commented on #1853
I JUST became aware that they weren't yet available. I was doing something else on my lock and reloading and that's when I saw an alert. beforehand, there was nothing I will remove my post
    On Wednesday, November 2, 2022 at 08:01:38 PM GMT+8, maxiixam ***@***.***> wrote:

These classes are not yet implemented. you are putting unnecessary strain on this dev by opening this ticket for classes not

[2022-11-02 12:04] #1853 closed, assigned to Hekili

[2022-11-02 13:16] Hekili commented on #1850
Yeah, at some point, I'd like to re-localize the addon but I haven't had the time/opportunity to do so while focusing on getting specializations released.  But I do plan to do so, eventually.

[2022-11-02 13:20] Hekili commented on #1852
This is not a bug.  The "glows" that the addon lets you control are the spell activation overlay glows (i.e., then an action bar button lights up when you get a buff).

The "highlight" you are asking about is showing when an ability is queued (`IsCurrentSpell` or `IsCurrentItem`).  It is a fairly recent addition to the addon, and it makes sense to make it configurable at some point, though it won'

[2022-11-02 13:24] Hekili commented on #1851
I'll add it back; generally, shared abilities need to exist in at least one specialization's file.

[2022-11-02 13:24] #1851 closed, assigned to Hekili

[2022-11-02 13:28] KennyBurch opened #1854 "Shadowpriest: Devouring Plague suggestion without enough resource to cast."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-02 13:30] sleepness22 opened #1855 "Balance Druid - Convoke and Celestial Alignment Not in rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-02 14:09] Hekili commented on #1855
Check /hekili > Toggles and confirm that you have Cooldowns enabled.  If so, follow ticket instructions and submit the required information.  I'm closing this ticket since it's incomplete, but if you comment with the required information, I can reopen it.

[2022-11-02 14:09] #1855 closed, assigned to Hekili

[2022-11-02 14:34] Hekili commented on #1854
The check for Devouring Plague's cost (and every other ability's) is built in and not part of the priority list logic itself.  The addon seems to know that you have only 17 insanity, but it looks like resource forecasting could've broken down.

Do you have BugSack/BugGrabber installed?  I'm not able to replicate the issue on my end, but this would typically occur if there was an error in the cours

[2022-11-02 15:23] gkchesterton opened #1856 "Hekili causing item compare tooltip to flicker on WW Monk"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-02 15:29] Hekili commented on #1856
I'm not able to replicate this issue.  Do you have BugSack/BugGrabber installed?  Are there error messages?

[2022-11-02 15:42] ckeurk commented on #1850
Thank you for your answer.
the French version is practically translated

[2022-11-02 15:46] leinstay commented on #1852
Thanks!

[2022-11-02 15:50] gkchesterton commented on #1856
Just installed them. No error messages come up unfortunately when the flickering happens.

[2022-11-02 15:51] Hekili commented on #1850
How so?  Just because the abilities themselves are translated?  Or is somebody publishing a French version that I don't know about?  :)

[2022-11-02 16:01] gkchesterton commented on #1856
I just created a new monk Kul Tiran character, with only Hekili, Bugsack, and Buggrabber enabled, set my spec to WW, searched for some gear in the AH and got the flickering issue when hovering over listings in the AH. It went away when I switched my spec to MW. Still no error reports unfortunately though.

[2022-11-02 16:04] slybax commented on #1854
I have this issue as well. Ill install BugSack/BugGrabber and post when I get a chance if OP hasn't by then.

The issue does not happen with Wowheads M+ build. It only happens with their single target build:
(BIQAu+2Vv7op3uGggQnVDr07wIk0CAAAAAAAAAAAAAISiSESRLSkUSIBAJ5AJSIhEkIaRQCA)

[2022-11-02 16:27] vleermuisman opened #1857 "Balance Druid AoE Starfall not available"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-02 20:41] Behnam45 opened #1858 "Death Knight Blood (Tank) Death and Decay issu"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-02 20:55] Hekili commented on #1858
This will be addressed in the next release.

[2022-11-02 20:55] #1858 closed, assigned to Hekili

[2022-11-02 21:48] Zeuslight56 opened #1859 "Spellflash texture"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-02 22:30] JumpyCraft opened #1860 "Not showing up"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-02 22:34] picklerick84 commented on #1706
Hello.  I am having the same issue as the op of this thread.  I'm trying to swap off elvui today and use bartender and the keybindings won't show when using bartender.  If I go back to elvui it works fine.

I should add that it does work for abilities on bar 1, but none of the other keybindings show up when using bartender.

[2022-11-02 22:40] tatatada opened #1861 "BUG / Usage: local treeInfo = C_Traits.GetTreeInfo(configID, treeID)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-02 23:13] pozzer18 commented on #1860
locks are not currently supported, they are still being worked on try typing /hekili in game to see which current specs / classes are supported

[2022-11-02 23:16] pozzer18 commented on #1860
Current list of non implemented classes and specs

DruidRestoration
EvokerDevastation
EvokerPreservation
MageArcane
MageFire
MageFrost
MonkBrewmaster
MonkMistweaver
PriestDiscipline
PriestHoly
RogueAssassination
RogueOutlaw
RogueSubtlety
ShamanRestoration
WarlockAffliction
WarlockDemonology
WarlockDestruction

[2022-11-02 23:21] Zagora69 opened #1862 "Shadowpriest doesn't seem to recommend mind sear under any parameter"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-02 23:24] JumpyCraft commented on #1860
ty sm

[2022-11-03 00:00] machajr commented on #1415
exactly same error again i cant remember how did you fix it but its pop up again. i dont know it s just me or not.

[2022-11-03 00:06] whoaisjustin opened #1863 "C_Traits.GetTreeInfo LUA Error"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-03 00:37] FallsC0ming commented on #1863
Received same error on Shadow Priest and Balance Druid.

build: v10.0.0-06.2
level: 55 (55)
class: DRUID
spec: balance

talents: BYGAGX1kx6Mci9Zl2t+S+sRoPCAAAAAAAAAAAAAAAAAAAoAQiICSChkEkIAQSSkmAkDgUSkEEUAI
    astral_influence = 2/2
    celestial_alignment = 1/1
    circle_of_life_and_death = 1/1
    convoke_the_spirits = 1/1
    eclipse = 1/1
    frenzied_regeneration = 1/1
    fungal_growth = 1/

[2022-11-03 00:54] FallsC0ming commented on #1854
I have this issue on my S.Priest also. Interesting observation by slybax about this happening on ST build only.

[2022-11-03 01:42] KennyBurch commented on #1854
Okay, so I did a bit more digging.
1) Removed all addons except buggrabber+bugsack and Hekili.   Ran ST build for a few minutes on the targeting dummies in necrolord area to catch a good example of the event here: https://pastebin.com/GjqtfWjC

No bugs seen in bug grabber.

Screenshot even shows that even with all debuffs dropped off target, the unpaused Hekili was still suggesting a Devouring Pla

[2022-11-03 03:37] ckeurk commented on #1850
No worries Hekili I participated in the translation under another pseudo (Prissti)
[CurseForge](https://www.curseforge.com/wow/addons/hekili/localization)

[2022-11-03 08:06] alexnaumovich commented on #1863
Getting the same error with every class so far, every time I loot something.

Update: issue is reproduced both with v10.0.0-06.2 and v10.0.0-06.3. Downgrading to v10.0.0-06.1 resolves the issue.

[2022-11-03 08:30] Fugaz1 commented on #1863
Same here:

[code]

This happens on load (I run SL tables for gold) on all characters (I have all classes) since yesterday (so I would point at v10.0.0-06+).

[2022-11-03 10:06] deeg427 opened #1866 "just a small issue, cant seem to get any circle texture on spellflash after updating this morning"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-03 10:50] sanyex89 opened #1867 "Death and Decay spam as soon as Dancing Rune Weapon is usable."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-03 11:23] Eziair commented on #1866
I've had the same thing.
![Hekili](https://user-images.githubusercontent.com/43756971/199708740-c63fa213-beb3-4c71-93a5-ff8bd530f918.jpg)

[2022-11-03 11:27] Eziair commented on #1863
Every class when log-in
![Hekili](https://user-images.githubusercontent.com/43756971/199709397-e4c63f78-7eb5-42e5-b9c6-239fd0834ab4.jpg)

[2022-11-03 11:52] thematrixincendies commented on #1859
Yes, same issue was working before the latest 1 or 2 updates.

[2022-11-03 13:27] karpana commented on #1863
Can confirm that I too am getting the same issue on login.
![image](https://user-images.githubusercontent.com/15716173/199732703-e1a041f0-c41b-4758-ad25-a0d2eb43afcd.png)

I had upgrded from 10.0.0-06.1 where it wasn't occuring to 10.0.0-06.3 where it is happening.

[2022-11-03 14:12] Hekili commented on #1863
Duplicate of #1861

[2022-11-03 14:12] #1863 closed, assigned to Hekili

[2022-11-03 14:12] Hekili commented on #1860
Your specialization is not supported in Dragonflight (yet).  This information is presented to you when you log into the game, and is also shown if you open the addon menu.  All classes/specializations will be supported, but it takes time to implement all the new talents and nuances.  Thank you for being patient.

[2022-11-03 14:12] #1860 closed, assigned to Hekili

[2022-11-03 14:33] Hekili commented on #1859
In the tooltip for that option, it specifies that you must reload for the change to take effect.  SpellFlashCore only sets a button's flash texture the first time it is flashed.

![image](https://user-images.githubusercontent.com/9438134/199749393-c735d398-c8ee-440e-a4d2-c6c9f782066a.png)

[2022-11-03 14:33] #1859 closed, assigned to Hekili

[2022-11-03 14:33] Hekili commented on #1866
That Lua error is unrelated.

SpellFlash texture changes are now managed by SpellFlashCore; they only take effect upon `/reload`.

![image](https://user-images.githubusercontent.com/9438134/199749606-03a895a9-731c-46bc-bef0-88d537ef7534.png)

[2022-11-03 14:33] #1866 closed, assigned to Hekili

[2022-11-03 14:38] Zeuslight56 commented on #1859
It doesn't change anything when I reload.

[2022-11-03 14:45] thematrixincendies commented on #1859
Obviously, we tried that. It's broken.

[2022-11-03 15:35] motairex commented on #1859
same for me! reload doesn't change the flashing star. @Hekili can you reopen this ticket please?

[2022-11-03 15:53] Hekili commented on #1867
Could you do me a favor?  In your description, you say the addon is telling you to *wait* and use DRW again.  In the snapshot, it's actually saying to use Death and Decay *immediately*.  Can you provide a snapshot taken when it is telling you to wait?

[2022-11-03 15:54] Hekili commented on #1862
Thanks, I've updated the priority from SimC (and shoehorned covenant stuff back in) and will load it later today.

[2022-11-03 16:02] evaera opened #1868 "Nameplate targeting should use UnitAffectingCombat"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-03 16:16] Hekili commented on #1868
It may help a little bit (i.e., not counting another pack on screen that's not pulled in M+), but it doesn't solve for the fundamental problem related to ranged use of nameplates.  Once targets are engaged, if they spread out, it is misleading to count them as targets for an AOE effect.

That's an existing problem, though, and it's not worsened by accounting for targets being in combat.

[2022-11-03 16:17] Hekili commented on #1852
This is either in the latest release or will be in the next release.  It is controlled by the "Enable Action Highlight" option on each display's Glows tab.

[2022-11-03 16:17] #1852 closed, assigned to Hekili

[2022-11-03 16:21] evaera commented on #1868
This is true, but overall I think using nameplate detection in Mythic+ is an overall improved experience for me. It's usually bad for mobs to be intentionally spread out in Mythic+ so it doesn't happen often. If it's required, you can usually angle your camera to make the nameplates you don't want to hit go away.

Either way, I agree that whether or not you choose to use nameplate detection as Ran

[2022-11-03 16:43] sanyex89 commented on #1867
oh what i meant was: hekili shows me the Death and Decay symbol with the swirl on top (like it still needs a few seconds till its off cd)

so if i would only do what hekili tells me i would only spam Death and Decay with the occasional Deaths Caress in between

the snapshot was from the moment when i had no more Death and Decay charges and told me to wait (a few seconds till its off cd) till i get

[2022-11-03 17:12] Ralgamaziel commented on #1859
i confirm, even with reload the texture is always the default one.

[2022-11-03 17:15] Wyste commented on #1868
Would there be a potential solution to account for mob 'grouping' by using a geometric algorithm against the Advanced Combat Log's positionX and positionY to constrain valid targets (in comparison to your actual target).

It would take some doing obviously to implement (and processing power), but would required the Advanced Combat Log to be running though to get access to those parameters through

[2022-11-03 17:19] SpatenLa commented on #1868
no, thats not how the advamnced combatlogging works. they are file only

[2022-11-03 17:20] Wyste commented on #1868
You are absolutely correct, belay my last then. I'm not fully awake yet.

[2022-11-03 18:16] yenbounger commented on #1857
Pastebins of the issue:

Just before I had enough astral power for one starfall:
https://pastebin.com/eWidDKfQ

Just After I cast that starfall:
https://pastebin.com/aAp7rCNa

Let me know if you need any other cases :)

[2022-11-03 23:35] Hekili commented on #1854
This was 3 different bugs in a trenchcoat, honestly.  I am testing a solution.

[2022-11-04 02:18] angrydanger opened #1869 "Hekili preventing talent loudouts from loading"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-04 02:18] Hekili commented on #1854
This should be fixed in 10.0.0-06.4.

[2022-11-04 02:18] #1854 closed, assigned to Hekili

[2022-11-04 02:21] Hekili commented on #1869
This should be fixed in 10.0.0-06.4.

[2022-11-04 02:21] #1869 closed, assigned to Hekili

[2022-11-04 02:21] Hekili commented on #1857
This should be fixed in 10.0.0-06.4.

[2022-11-04 02:21] #1857 closed, assigned to Hekili

[2022-11-04 02:23] Hekili commented on #1867
This should be fixed in 10.0.0-06.4.

[2022-11-04 02:23] #1867 closed, assigned to Hekili

[2022-11-04 02:24] Hekili commented on #1861
This should be fixed in 10.0.0-06.4.

[2022-11-04 02:24] #1861 closed, assigned to Hekili

[2022-11-04 02:24] Hekili commented on #1862
This should be fixed in 10.0.0-06.4.

[2022-11-04 02:24] #1862 closed, assigned to Hekili

[2022-11-04 02:25] Hekili commented on #1833
The more I think about this one, the more I think this belongs with SpellFlash rather than my addon.

[2022-11-04 02:25] Hekili commented on #1828
This should be fixed in 10.0.0-06.4.

[2022-11-04 02:25] #1828 closed, assigned to Hekili

[2022-11-04 06:16] Fynnconceivable opened #1870 "Elemental - Earth shock not recommended in priority queue when using EOGS legendary in multi-target situations"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-04 07:18] branioparusic opened #1871 "Can´t change texture for spallflash"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-04 08:50] Bjoerntr commented on #1871
same for me with druid (tank and balance)

`build: v10.0.0-07.1
level: 60 (60)
class: DRUID
spec: guardian

talents: BgGAGX1kx6Mci9Zl2t+S+sRoPCAAAAAAAAAAAAASEJJplAkEJQEJNIAIIIBSSSSSCAAAAAAAARA
    astral_influence = 2/2
    berserk_ravage = 1/1
    berserk_unchecked_aggression = 1/1
    brambles = 1/1
    circle_of_life_and_death = 1/1
    convoke_the_spirits = 1/1
    elunes_favored = 1/1
    fla

[2022-11-04 09:03] Sedveth opened #1872 "Outlaw rotation recommend"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-04 09:48] vond82 commented on #1872
1. This seems correct? Finisher rules includes finishing at -1 when opportunity is up
3. While true i dont think the APL has been updated with this yet

[2022-11-04 09:56] Sedveth commented on #1872
You only want to finish at 6 CP if broadside is up or at 6 stack of FTH
Edit: yeah my bad, I just checked the finisher rule again. It seems to be corrected

[2022-11-04 10:01] vond82 commented on #1872
Thats neither what APL (nor outlaw FAQ on rogue discord) says though, and Hekili follows the latest APL

[2022-11-04 10:06] Sedveth commented on #1872
Yeah I edited my comment, thanks for your reply

[2022-11-04 10:06] Sedveth commented on #1872
Yeah I edited my comment, thank you for reply

[2022-11-04 10:57] thematrixincendies commented on #1871
We already had an issue for that: https://github.com/Hekili/hekili/issues/1859
Which was just rejected without investigation...
Yes, it's broken for me too.

[2022-11-04 12:14] praiseshiva opened #1873 "Priority-rotation not automatically updating"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-04 12:19] Hjorimir opened #1874 "Elemental Shaman (easy to check) shouldn't prompt for Stormkeeper back-to-back (doesn't stack)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-04 13:31] Hekili commented on #1874
20 second sim is pretty funny.  You'll note that your sim also uses Stormkeeper back to back.  I'll add checks to not use Stormkeeper if the buff is already applied.

[2022-11-04 13:41] Hekili commented on #1874
This will be resolved in the next release (later this morning).

[2022-11-04 13:41] #1874 closed, assigned to Hekili

[2022-11-04 13:42] Hekili commented on #1873
This should've been a recommendations ticket and requires a snapshot to diagnose.

[2022-11-04 13:45] Hjorimir commented on #1874
Thanks!

[2022-11-04 13:46] Hekili commented on #1873
A snapshot is required to diagnose this issue.

# Snapshot

Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a screenshot. To generate a Snapshot, please complete the following steps.

 * Log into your WoW character.
 * Recreate the issue you are reporting (i.e., generate 5 Holy Power).
 * When you see the recommendation you disagree with,

[2022-11-04 14:14] praiseshiva commented on #1873
Just to be clear, I'm not suggesting a different rotation/priority. I'm saying it seems the addon is not updating the primary suggestion shortly after initiating combat.
Here is a snapshot? I hope you can get what you need out of this.
In this example, Hekili was suggesting Sinful Brand but the ability had already been used several seconds prior. Sinful Brand is also not the only ability that seem

[2022-11-04 14:22] mkh67465 opened #1875 "Bestial Wrath is not included in the rotation for Beast Master"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-04 14:41] MrBean73 commented on #1875
you deactivate cooldowns in the  settings ( toogle)

[2022-11-04 14:56] Cheetah714 opened #1876 "FDK priority issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-04 15:25] MrMime71 opened #1877 "2x Usage: C_Timer.After(seconds, callback) [string "=[C]"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-04 15:39] mkh67465 commented on #1875
Thanks! dont know why it got placed under there :)

[2022-11-04 15:39] #1875 closed, assigned to Hekili

[2022-11-04 16:13] Hekili commented on #1873
Thanks.  The error message and snapshot (which included warnings) helped diagnose this issues.  Will post a fix in a little bit.

[2022-11-04 16:15] #1873 closed, assigned to Hekili

[2022-11-04 16:24] Hekili commented on #1877
Will post a test fix in a little bit.

[2022-11-04 19:02] Tzuyume opened #1878 "Possible talent string export crash"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-04 19:11] vond82 opened #1879 "Feral: Adaptive Swarm talent not working/recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-04 19:18] vond82 commented on #1879
Update: Tested with covenant version and that works fine

[2022-11-04 22:19] tatatada commented on #1861
thank u very much for your efforts. like your addon alot!

[2022-11-04 23:46] juniperus2018 opened #1880 "[Bug Report] Recommendation missing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-04 23:51] juniperus2018 commented on #1880
Restoring to default fixes this problem. Not sure about the cause but I am all good. Feel free to close this ticket or further investigate. Thx,

[2022-11-05 01:55] Pulseonline opened #1881 "Unholy DK again stopping recommendations, buttons disappearing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-05 02:13] Dorfess opened #1882 "Fury Warrior rotation reccomends Whirlwind when its not needed."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-05 03:44] Hekili commented on #1882
I've reviewed the snapshot; you had nothing else to use but Whirlwind at that time.  Bloodthirst was on cooldown for another 1.64 seconds which left room for only Whirlwind as filler.

[2022-11-05 03:44] #1882 closed, assigned to Hekili

[2022-11-05 03:46] Hekili commented on #1881
Your snapshot needs to go on Pastebin and get linked, as it's unreadable.

[2022-11-05 03:57] Hekili commented on #1880
For clarity:  Restoring to default from what?  Did you import something and need to reset?

Also, if recommendations aren't appearing, a recommendation ticket is preferred with a snapshot taken (instructions are in the ticket).  Just for future cases.  Thanks.

[2022-11-05 03:57] #1880 closed, assigned to Hekili

[2022-11-05 04:07] Hekili commented on #1879
This will be addressed in the next release.

[2022-11-05 04:07] #1879 closed, assigned to Hekili

[2022-11-05 04:14] Hekili commented on #1878
Weird.  I'll disable the relevant code you've listed for now.

[2022-11-05 04:14] #1878 closed, assigned to Hekili

[2022-11-05 04:15] #1877 closed, assigned to Hekili

[2022-11-05 04:16] Hekili commented on #1876
This is a subtle issue but should be resolved in the next release.

[2022-11-05 04:16] #1876 closed, assigned to Hekili

[2022-11-05 04:28] Hekili commented on #1871
Will be fixed in next release.

[2022-11-05 04:28] #1871 closed, assigned to Hekili

[2022-11-05 04:31] Hekili commented on #1872
Echoing Reprimand will be accounted for in `effective_combo_points` in the next release.

[2022-11-05 04:31] #1872 closed, assigned to Hekili

[2022-11-05 04:37] Hekili commented on #1870
The legendary version of EOGS will be accounted for in the next release.

[2022-11-05 04:37] #1870 closed, assigned to Hekili

[2022-11-05 05:35] Pulseonline commented on #1881
https://pastebin.com/2AgC1B3K

[2022-11-05 06:29] marekCs commented on #1881
It's showing up normally. Try type /reload after installing a new version of the addon or check if the addon is not automatically disabled after a new release, type /hekili and see if it is enabled.

[2022-11-05 08:15] Pulseonline commented on #1881
I can tell you its not showing up normally lol.  It disappears shortly after starting any fight.  I have zero buttons on my screen to press.

[2022-11-05 09:41] marekCs commented on #1881
ok once again, everything works as it should, rotation 1 minute. Just update your addon to 7.2 you have still 7.1.

[2022-11-05 09:43] Matze0001 opened #1883 "Beastmastery Hunter - Bestial Wrath?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-05 09:46] marekCs commented on #1883
You have off your cooldowns in Hekili settings.

[2022-11-05 10:27] Matze0001 commented on #1883
OMG, thanks, thats it...

Am Sa., 5. Nov. 2022 um 10:46 Uhr schrieb marekCs ***@***.***

[2022-11-05 13:11] Hekili commented on #1881
There's a priority adjustment I need to make -- the `pop_wounds` variable is built around you having Apocalypse and you don't.  Thanks for the snapshot; will fix.

[2022-11-05 13:26] Hekili commented on #1881
Will post a fix soon.

[2022-11-05 13:26] #1881 closed, assigned to Hekili

[2022-11-05 13:28] Hekili commented on #1883
Yeah, for the record, the addon starts with cooldowns disabled because using them on CD will end up being suboptimal in actual gameplay outside of a Patchwerk fight.  Think of fights like Sludgefist -- if you use CDs on pull and don't have them after his charges, your CDs may be on cooldown when he is vulnerable and taking more damage.

[2022-11-05 13:28] #1883 closed, assigned to Hekili

[2022-11-05 13:54] Matze0001 commented on #1883
Got it - thanks for the immediate reply! Cheers, Mat

Am Sa., 5. Nov. 2022 um 14:28 Uhr schrieb Hekili ***@***.***>:

[2022-11-05 16:17] branioparusic commented on #1871
Fixed for me, thank you so much for the quick and excellent help!
Any link on where i can contribute to your work?

Sorry if i missed it somewhere, but please link it and ill donate.

Appreciate the work alot.
Best regards

[2022-11-05 17:13] archxlock opened #1884 "Error when trying to use Edit Mode for UI"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-05 17:51] JimA1966 opened #1885 "More powerful spell active"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-05 18:04] Hekili commented on #1885
Can you elaborate on this?

Are you saying that when the addon is recommending Between the Eyes, you try to press the button and the game says "A more powerful spell is active"?  Is that right?

[2022-11-05 20:44] Hekili commented on #1884
The addon never calls TargetUnit; this is a taint issue caused by another addon.

[2022-11-05 20:44] #1884 closed, assigned to Hekili

[2022-11-05 20:48] Darthkakarot commented on #1859
If it helps, last version the circle worked was Hekili-v10.0.0-06.1 released 11/1

[2022-11-05 20:56] Hekili commented on #1859
No, it works now if you're up to date.  You do have to reload UI after picking a different texture, though.

[2022-11-05 21:04] JimA1966 commented on #1885
yes

[2022-11-05 21:05] Darthkakarot commented on #1859
Oh cool, thanks!

[2022-11-05 21:10] JimA1966 commented on #1885
![World of Warcraft 11_5_2022 5_09_26 PM](https://user-images.githubusercontent.com/116915094/200141440-e098d09f-6363-469f-a776-bf339359de4f.png)
here is screen shot

[2022-11-05 21:17] JimA1966 commented on #1885
I think it has something to do with roll the bones because when I try and cast the suggestions flicker a lot and give me the A more powerful spell warning

[2022-11-05 21:46] Tzuyume commented on #1878
Just as an update it hasn't crashed since your update after this closed.

[2022-11-05 23:09] OfficialExiled opened #1887 "Recommending Slice & Dice on opening with no CP but also no shadowmeld recommendation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-06 01:19] sociallyineptclownpc opened #1888 "Vengeance DH Metamorphosis"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-06 01:43] jmusick commented on #1888
Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a screenshot. To generate a Snapshot, please complete the following steps.

    Log into your WoW character.
    Recreate the issue you are reporting (i.e., generate 5 Holy Power).
    When you see the recommendation you disagree with, press ALT-SHIFT-P to Pause and Snapshot (or use ALT-SHIF

[2022-11-06 12:41] GitHubberino247 opened #1889 "MM Hunter Dungeon Spamming Steady Shot"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-06 12:46] ViolenceAUT opened #1890 "Recommended Spell shows long after GCD and not immediatly (Rogue-Outlaw)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-06 14:10] Hekili commented on #1890
There's an underlying issue related to forecasting for Echoing Reprimand that I am testing right now and which may resolve this for you.  Wait for 08.1 and let me know if you're still experiencing this.

[2022-11-06 14:38] Hekili commented on #1889
Thanks for the ticket.  This will be resolved in 08.1.

[2022-11-06 14:38] #1889 closed, assigned to Hekili

[2022-11-06 15:11] Hekili commented on #1890
08.1 is now available.

[2022-11-06 15:11] Hekili commented on #1888
Closing; required snapshot was not included.

[2022-11-06 15:11] #1888 closed, assigned to Hekili

[2022-11-06 15:12] Hekili commented on #1887
Please test version 08.1 and let me know if you are still experiencing this issue.  Thanks.

[2022-11-06 15:47] OfficialExiled commented on #1887
Looks like Slice & Dice is now fixed thank you very much. Shadowmeld is still not showing but I guess its also there is no value of dps increase yet due to no Nightstalker talent. Anyways thanks for your hard work <3

[2022-11-06 15:47] #1887 closed, assigned to Hekili

[2022-11-06 16:04] Hekili commented on #1885
Do you have anything macroed to those abilities?

[2022-11-06 16:51] marekCs opened #1891 "Demonology - Cannot cast Demonic Strength because Felguard is missing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-06 16:52] ViolenceAUT commented on #1890
[v10.0.0-08.1] has fixed it  - Thanks :)

[2022-11-06 16:52] #1890 closed, assigned to Hekili

[2022-11-06 16:59] Memorialized opened #1892 "Feral Druid only recommending Primal Wrath in both Aoe and single target"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-06 17:07] Hekili commented on #1892
Yes; that's correct.  That's the talent build you selected.  With Tear Open Wounds and Rip and Tear, using Primal Wrath to consume some of your Rip and refresh/extend it is intentional.  There may be further tuning for that later (i.e., determining that you could get a Ferocious Bite off and then PW again before Rip falls off), but this is a correct interpretation of the priority.

[2022-11-06 17:07] #1892 closed, assigned to Hekili

[2022-11-06 17:08] Hekili commented on #1891
Thanks, I'll add the Felguard check back to Demonic Strength.

[2022-11-06 17:20] JimA1966 commented on #1885
No I do not, no other abilities macroed to the spell keys.  I only macro Items on top keys like kick F thru = are key press only
***@***.***
Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Sunday, November 6, 2022 11:04 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [Hekili/hekili] More powerful spell active (Issue #1885)

Do yo

[2022-11-06 19:08] N6REJ opened #1893 "Vegenance demon hunter Infernal strife stuck on."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-06 20:04] Ashgaion opened #1894 "Enhancement - Lightning (and earth) shield recommendation is missing when they expire mid combat."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-06 21:16] Mike160770 opened #1895 "Spell Flash always shows Circle"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-06 22:44] Zeuslight56 commented on #1895
Have you tried /reload after changing the texture?

[2022-11-06 23:43] Mike160770 commented on #1895
Yeah I did. No effect

[2022-11-07 01:35] jdm12983 commented on #1895
Similar issue - but mine is always showing as the "star".

[2022-11-07 01:40] Hekili commented on #1895
![image](https://user-images.githubusercontent.com/9438134/200209271-9bfcf820-810e-4070-b732-bed81e5514bc.png)

![image](https://user-images.githubusercontent.com/9438134/200209338-6b899ed5-b41d-41d3-a9ee-c376498436da.png)

![image](https://user-images.githubusercontent.com/9438134/200209364-bb4f1c1a-c94c-472e-88ba-5da859226d05.png)

![image](https://user-images.githubusercontent.com/9438134/20020

[2022-11-07 05:05] Deathhunt opened #1896 "[REC] Demonology - Soul Rot is not recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-07 05:56] Mike160770 commented on #1895
OK I found the "culprit": the addon "SpellFlash Core" is causing this issue... I deactivated it and: no problem anymore :-)

[2022-11-07 08:08] marekCs commented on #1891
Everything works quite well now, thank you (only pity that the resulting Demo is not as OP as I expected, a number of melees will turn it over :))).

[2022-11-07 08:18] marekCs commented on #1891
Hmm, something is wrong, no Soul Strike or Implosion during 2 minutes fight. My talents BoQAbtPS25JQs0VfQSDmhm+p3AhkEJSgItIItkkQaBAAAAAlIIhQikISi0SLJSIAAAAAAA

[2022-11-07 10:53] Alpha0o opened #1897 "Spinning Crane Kick not being recommended at all unless Dance of Chi-Ji is up"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-07 12:50] daxigua249121589 opened #1898 "How we choose the talnet to fit Hekili?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-07 14:40] vond82 commented on #1898
As long as you use the latest version of Hekili and one of the supported specs it just works. Do /hekili in game to see what specs are currently supported. If your spec isnt on that list, just remain patient until its added. :) The prepatch changed a lot of things so its a lot of work for Hekili to implement each spec

[2022-11-07 16:06] marekCs opened #1899 "Balance druid stopped showing swap target"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-07 19:03] bitmatt2 opened #1900 "unholy dk not recommending dark transformation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-07 19:47] chiraino opened #1901 "Flame Shock Enhancement is wrong"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-07 21:01] basalt51 commented on #1881
Since this is closed does that mean its fixed? I am having this issue.

[2022-11-07 22:26] jdm12983 commented on #1895
I don't have the "SpellFlash Core" addon; and no matter how many times I change the texture and reload after; it keeps show the "star" texture.

I know before this; 10.0 release [of WoW] I was using "starburst".

[2022-11-08 00:17] Hekili commented on #1881
Feel free to provide updated information for me to review.

[2022-11-08 00:18] #1895 closed, assigned to Hekili

[2022-11-08 01:18] Hekili commented on #1901
Your ticket is about AOE situations and you posted a single-target snapshot.  I'll review it, anyway.

[code]

Ultimately, this is correct.  You had nothing else better to push based on your toggles, talents, etc.  Let's look solely at the abilities where their usage conditions were met:

[code]

Stormstrike would've been recommended in 3.73 seconds if there was nothing to do.
Fire Nova would've b

[2022-11-08 01:18] #1901 closed, assigned to Hekili

[2022-11-08 01:28] Lejes9X opened #1902 "Hand of Guldan at 1 Shard."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-08 01:29] Lejes9X commented on #1902
Hand of Guldan will also be suggested after a Demonic Core Demonbolt cast as well but never at 2 or 3 after that.

[2022-11-08 01:29] Hekili commented on #1900
Your Raidbots sim report was not a link to a completed sim, but we can ignore that.

Your snapshot is not complete.  A snapshot is required to diagnose this issue.

# Snapshot

Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a screenshot. To generate a Snapshot, please complete the following steps.

 * Log into your WoW character.
 * Recr

[2022-11-08 01:31] Hekili commented on #1902
Thanks, this is an issue with `variable` entries that I'm working to resolve.

[2022-11-08 01:42] Lejes9X commented on #1902
Narrowed it down to this
Hand of Gul'dan - soul_shard >= 1 & variable.next_tyrant_cd < gcd.max & time > variable.first_tyrant_time - gcd.max
Once its disabled the priorities go back to suggesting 3 shard Hand of Gul'dan.

[2022-11-08 01:43] Hekili commented on #1902
I know; that's not the underlying issue but I'm fixing it now.

[2022-11-08 02:11] bitmatt2 commented on #1900
https://pastebin.com/M51B1nji

I hope the link above is the snapshot ur after. the addon should be
recommending dark transformation in cooldowns along with apocalypse but it
is not. my si is the link below. let me know if u need any more info.

https://www.raidbots.com/simbot/report/b8PuBRn6VZVCaJX1D6dkHF

On Mon, Nov 7, 2022 at 7:30 PM Hekili ***@***.***> wrote:

[2022-11-08 02:23] Hekili commented on #1900
Thanks.  I assume your Ghoul pet was active at this point in time.  Do you have any glyphs applied that change your ghoul?

[2022-11-08 02:58] bitmatt2 commented on #1900
Yes, I do.  Turns him into a giest

On Mon, Nov 7, 2022, 8:23 PM Hekili ***@***.***> wrote:

[2022-11-08 03:51] Hekili commented on #1902
Actually, it's both issues.  I've adjusted the APL per your recommendation, and have revised scripting again.  I'm completing other testing and will post a release tonight.

[2022-11-08 04:42] Hekili commented on #1900
This should be resolved in 08.3 (the new release, just posted).

[2022-11-08 04:42] #1900 closed, assigned to Hekili

[2022-11-08 04:43] Hekili commented on #1902
This should be resolved in 08.3 (the new release, just posted).  There is still some potential for weirdness, so I'll leave this open for now.  I needed to keep that entry in the APL with additional conditions so that it can be used as the "last HoG before summoning a Tyrant" regardless of shards.  Let me know if you see weirdness.

[2022-11-08 04:45] Hekili commented on #1899
For **Describe the Issue** / **How to Reproduce**, I need you to provide more specific detail.  Which specific dot, at the time you took the snapshot, do you think should've been recommended on a different target?

You will also need to provide your Talent Loadout; it's not really optional.  Thanks.

[2022-11-08 05:03] Hekili commented on #1899
I was able to diagnose this as being related to recent script changes.  I'm going to post a new 08.4 release that seems to resolve it.

[2022-11-08 05:03] #1899 closed, assigned to Hekili

[2022-11-08 05:04] Hekili commented on #1898
You don't pick your talent build around the addon.  The addon priorities are written to work with any talents.  Because it is prepatch and early in Dragonflight, some may require further updates.  You don't need to import anything, and you certainly should not pick your class/specialization/talents around the addon.

[2022-11-08 05:04] #1898 closed, assigned to Hekili

[2022-11-08 05:07] Hekili commented on #1897
If the issue you are experiencing is that SCK isn't being recommended without Dance of Chi-Ji, you should supply a snapshot taken when you think SCK should be recommended but Dance of Chi-Ji is not up.

In your snapshot, Dance of Chi-Ji is up and SCK is the first recommendation.  I need a snapshot where the issue you're reporting is happening instead.  Thanks!

[2022-11-08 05:11] Hekili commented on #1891
You will need to supply an updated snapshot; talents alone don't help.  Take a snapshot (or multiple!) when you think Soul Strike should be recommended or Implosion should be recommended, but isn't.  Label each snapshot and link them in a new comment.

Also, to help me understand:  How is your comment about Soul Strike and Implosion related to the original Demonic Strength issue?

[2022-11-08 05:17] Hekili commented on #1893
Where in your screenshot is it saying to use Infernal Strike?  The snapshot you provided is recommending Fiery Brand and The Hunt.

You will have to provide your Talent Loadout and a Snapshot that is taken when you're experiencing the issue you're reporting, or else I cannot do anything to investigate the issue.

[2022-11-08 05:21] Hekili commented on #1885
I genuinely have no idea.  The addon itself doesn't trigger that message.  Your screenshot indicates Sinister Strike is recommended and you only have two combo points.  I wonder if this is happening when you cap out on Flagellation stacks.  Regardless, I don't know that I can do anything about this issue.

[2022-11-08 05:44] Sedveth commented on #1885
That text only happens if you try to cast SnD while the remaining duration last longer than the new one. So probably something's wrong with your keybinds. Fix your keybinds I guess

[2022-11-08 05:50] marekCs commented on #1891
The problem is that I don't know when exactly what should be better recommended. I'm not a pro warlock. And simulationcraft still doesn't run. So sorry for the bad ticket in your eyes. I just felt like Demo should be spinning more. Maybe a ticket with Hands of Guldan as someone posted will solve that.

[2022-11-08 05:50] #1891 closed, assigned to Hekili

[2022-11-08 09:54] Solmyrus opened #1903 "[Wotlk] Feral - Maul"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-08 12:28] N6REJ commented on #1893
I'm so sorry, I got my icons mixed up.  That explains everything.

Right this minute you can't share talent loadouts.. it says its is copied but nothing is in the clipboard.  At least not for me.

[2022-11-08 12:29] #1893 closed, assigned to Hekili

[2022-11-08 12:51] marekCs commented on #1899
it works thx

[2022-11-08 13:31] Hekili commented on #1903
Yes, Druid for WotLK is not complete.  I will not be working on it again until after all specializations are in Dragonflight.  You are correct that Maul is missing from the ability list at this time.

[2022-11-08 14:33] Alpha0o commented on #1897
https://pastebin.com/ZLJAH2n3
sry... fixed :) To explain more, SCK doesn't get recommended as a spender not matter how many targets are present inside or outside cooldowns in general unless a Dance of Chi-Ji proc is up. In this snapshot, SotWL is on CD, I have 6 stacks of Hit Combo, I have 5 stacks of Mark of the Crane (The SCK modifier should be at maximum). However, RSK is my first recommendatio

[2022-11-08 14:59] MajorKryme commented on #1764
Still present on build: v10.0.0-08.  I'm using Bartender 4 (latest version as of Nov 8). Keybinds on bars 1 & 2 work fine, negative on the remaining bars.  I know it's low prio/back burner, no rush, just posting for history.

[2022-11-08 16:41] Hekili commented on #1897
Thanks, the snapshot helps.  There's a new expression related to Spinning Crane Kick in SimC that I have not yet modeled in the addon.  I'll be working on this today.

[2022-11-08 20:03] clielausis opened #1904 "Opening options for Notification Panel gives error"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-08 21:07] Hekili commented on #1897
I've added the missing expression and brought in an updated priority list; will post in 08.5.

[2022-11-08 21:07] #1897 closed, assigned to Hekili

[2022-11-08 21:44] Alpha0o commented on #1897
Thanks for your assistance :)

[2022-11-08 22:11] Hekili commented on #1904
Thanks; this will be fixed in 08.5.

[2022-11-08 22:11] #1904 closed, assigned to Hekili

[2022-11-08 22:51] JimA1966 commented on #1885
Unfortunately I have nothing macroed to my spell cast keys just remapped to my orbweaver.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

________________________________
From: Sedveth ***@***.***>
Sent: Tuesday, November 8, 2022 12:44:41 AM
To: Hekili/hekili ***@***.***>
Cc: JimA1966 ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] More powerful spell ac

[2022-11-08 23:02] Hekili commented on #1894
These should be available to refresh in combat in 08.5.

[2022-11-08 23:02] #1894 closed, assigned to Hekili

[2022-11-08 23:18] Hekili commented on #1896
This should be available in 08.5.

[2022-11-08 23:18] #1896 closed, assigned to Hekili

[2022-11-09 00:32] Ashgaion commented on #1894
Thank you for the hard work!

Op wo 9 nov. 2022 00:03 schreef Hekili ***@***.***>:

[2022-11-09 04:56] Dorfess opened #1905 "Reccomending Whirlwind when Raging blow is up."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-09 06:32] bason1c commented on #1829
This is simply telling you the first spell in rotation.  ime it wont go away unless you turn off spell flash.  could be wrong though.

[2022-11-09 06:47] devil81 opened #1906 "error when left click and disable recommend movement"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-09 10:52] fzarr commented on #1897
I was interested in what this expression was so took a look at the commit and noticed this line of code:

`mod = mod * 1 + ( t.count * ( conduit.calculated_strikes.enabled and 0.28 or 0.18 ) )`

Just thought I'd highlight a possible bug here since the `* 1` doesn't seem like its doing anything. I did not test to see if this is causing an issue in-game.

Sorry if this isn't the right place for this

[2022-11-09 15:42] Hekili commented on #1906
Thanks for the report.  This will be resolved in 08.6 (today).

[2022-11-09 15:42] #1906 closed, assigned to Hekili

[2022-11-09 16:04] Hekili commented on #1905
Thanks, this will be resolved in 08.6 today.  I appreciate the snapshots and explanation.

[2022-11-09 16:04] #1905 closed, assigned to Hekili

[2022-11-09 18:29] #1902 closed, assigned to Hekili

[2022-11-09 18:49] Aliemaxi1 opened #1907 "WW Monk Fealine stomp doesnt get recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-09 20:37] maxiixam commented on #1856
This may not be limited to WW spec. I have been experiencing the same thing but on other classes sporadically. Wish I could give me details, but I have def seen this tooltip flickering recently and figured it was something on blizzards end. Will try and get mroe details next time I see it happening.

[2022-11-09 20:56] Damianff7 commented on #1809
Will be anytime soon?
and thanks for your great work! :)

[2022-11-09 21:11] Hekili commented on #1907
This should be resolved in 08.7.

[2022-11-09 21:11] #1907 closed, assigned to Hekili

[2022-11-09 21:23] gkchesterton commented on #1856
Yeah, this is happening as well on my new paladin alt that I'm leveling.

[2022-11-10 01:17] JH2535 opened #1908 "[Retail] Mage priorities not showing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-10 03:03] Hekili commented on #1908
Your specialization is not supported in Dragonflight (yet).  This information is presented to you when you log into the game, and is also shown if you open the addon menu.  All classes/specializations will be supported, but it takes time to implement all the new talents and nuances.  Thank you for being patient.

[2022-11-10 03:03] #1908 closed, assigned to Hekili

[2022-11-10 03:10] N6REJ opened #1909 "Hekili suddenly gone for elemental shaman"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-10 04:13] Hekili commented on #1909
This is resolved in 09-beta3.

[2022-11-10 04:13] #1909 closed, assigned to Hekili

[2022-11-10 09:50] Fugaz1 opened #1910 "Shaman error on login"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-10 09:54] Osmodium commented on #1910
I get similar error as elemental shaman

[2022-11-10 10:01] Chipthemunk commented on #1910
Got errors on the sames lines in Classes.lua

[2022-11-10 13:25] MrWizard516 opened #1911 "Elemental Shaman, recommending wrong spells and spells disabled."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-10 14:23] Hekili commented on #1910
This is resolved in 09 which is being published now.

[2022-11-10 14:23] #1910 closed, assigned to Hekili

[2022-11-10 14:24] Hekili commented on #1911
This is resolved in 09 and is also a duplicate ticket.

[2022-11-10 14:24] #1911 closed, assigned to Hekili

[2022-11-10 18:25] tommaricle opened #1912 "Priest NYI for Wrath Classic"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-10 19:42] Oxxinator opened #1913 "Request for support with Affliction Warlock (Retail)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-10 21:33] Hekili commented on #1912
Yep, nothing loaded for Priest yet in Wrath.

[2022-11-10 21:33] Hekili commented on #1913
Patience.

[2022-11-10 21:33] #1913 closed, assigned to Hekili

[2022-11-10 21:34] Hekili commented on #1829
This is not a bug.

[2022-11-10 21:34] #1829 closed, assigned to Hekili

[2022-11-10 21:35] #1833 closed, assigned to Hekili

[2022-11-11 03:38] Stantik opened #1914 "Keybindings no longer matching"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-11 03:44] zhaoweizw2000 opened #1915 "I am new player, Would you tell me that hekili v3.4 download link?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-11 06:58] elvitusplay opened #1916 "Add keybind sound"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-11 10:04] IIeTpoc opened #1920 "[Retail,Rec,OutlawRogue] Pistol shot CP generation problem"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-11 10:07] IIeTpoc commented on #1920
Also yes, I understand I am supposed to use default priority but in this case i impemented PullRequest #1919 to represent finish condition typo fix and lines with pistol shot were not changed at all.
I was testing without Seal Of Fate talent, thus critical hits did not grant me an extra CP.

Another test I made is change line 1556 in Outlaw.lua in cp_gain function where i just hardcoded it to gain

[2022-11-11 16:02] dewson8 opened #1921 "Necrolord BM Hunter Not Recommending Death Chakram"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-11 16:07] dewson8 commented on #1921
Adding an additional pastebin for  my CD toggle as well.

https://pastebin.com/W8FLpkac

[2022-11-11 19:17] Hekili commented on #1921
Thanks, will fix.

[2022-11-11 20:35] marekCs opened #1922 "Fire mage - recommendation suddenly disappeared after Combustion"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-12 03:31] mt69420 opened #1923 "Frost Mage/Arcane Mage - The addon has no recommendations at all for Frost Mages or Arcane Mages"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-12 04:24] Paua-Hua opened #1924 "Hammer of Wrath suggested when popping crusade CD, RET paladin"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-12 04:33] Paua-Hua commented on #1924
never mind im an idiot

[2022-11-12 04:33] #1924 closed, assigned to Hekili

[2022-11-12 06:47] marekCs commented on #1923
It’s not implementer yet. Just Fire and the Fire in beta mode. Open the addon settings and at the very first page/tab you can see all info about supported classes/specs.

[2022-11-12 07:49] Aalsaana opened #1925 "Hekili suggestions not showing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-12 07:56] pozzer18 commented on #1925
Healers are not supported currently so there it won't show.

[2022-11-12 10:08] Yakrel commented on #1922
I can confirm bug, sometimes it's only showing 1 recommendation sometimes there is none.

[2022-11-12 11:59] mortallon commented on #1856
this happening to me on my druid monk also, i didnt check all. just leveling my characters and i observed this issue with hekili enabled. "also i have elvui"

[2022-11-12 12:34] mt69420 commented on #1923
Ah ok. Thanks for responding.

[2022-11-12 12:39] gramg83 opened #1926 "Assassination Rogue - Sepsis stays recommended after use/on cooldown."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-12 12:44] #1926 closed, assigned to Hekili

[2022-11-12 18:36] GarvielTwo opened #1927 "Assassination Priorities and Small Inconsistencies"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-12 19:44] marekCs opened #1929 "Shadow - Mind Flay recommended briefly"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-12 21:26] #1925 closed, assigned to Hekili

[2022-11-13 00:36] #1914 closed, assigned to Hekili

[2022-11-13 02:22] Dravus814 opened #1930 "Bm hunter Bestial Wrath issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-13 04:31] Hekili commented on #1930
You are asking about an ability that is treated as a major cooldown by the addon.  It will not show unless you toggle Cooldowns on.

See `/hekili` > Toggles > Show Cooldowns

It is recommended that you use a keybind to turn this toggle on/off depending on whether you want your major DPS cooldowns to be recommended.  This helps you save them for key parts of a fight.

[2022-11-13 04:31] #1930 closed, assigned to Hekili

[2022-11-13 04:34] Hekili commented on #1929
I'm not sure what to do for this. The addon cannot model your reaction time.  Sometimes, there is a very small window of time before a recommendation will change.  Can you explain more about what you want the addon to do?

Also, your snapshot is not taken at a time where Mind Flay is being recommended.  Snapshots need to be taken when the issue you describe is occurring.  Please provide an updated

[2022-11-13 04:36] Hekili commented on #1927
You will need to provide snapshots for each item in your list.  Snapshots need to be taken when you are experiencing the specific issue(s) you are reporting.  Which issue were you seeing when you took the snapshot you provided?

A snapshot is required to diagnose this issue.

# Snapshot

Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a s

[2022-11-13 04:36] Hekili commented on #1923
Your specialization is not supported in Dragonflight (yet).  This information is presented to you when you log into the game, and is also shown if you open the addon menu.  All classes/specializations will be supported, but it takes time to implement all the new talents and nuances.  Thank you for being patient.

[2022-11-13 04:36] #1923 closed, assigned to Hekili

[2022-11-13 04:37] DkVizu opened #1931 "Demo Lock suggests Felguard even though its already summoned."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-13 04:45] Hekili commented on #1922
That may not be the same bug; I'd need a snapshot from when you have that happen to know for sure.

Fix for this bug will be in the next release.

[2022-11-13 04:45] #1922 closed, assigned to Hekili

[2022-11-13 04:45] Hekili commented on #1921
Will post this fix shortly.  Thanks.

[2022-11-13 04:45] #1921 closed, assigned to Hekili

[2022-11-13 04:46] Hekili commented on #1931
It is recommending the talent "Grimoire: Felguard" -- not resummoning your Felguard pet.

[2022-11-13 04:46] #1931 closed, assigned to Hekili

[2022-11-13 04:46] Hekili commented on #1915
All releases can be found on CurseForge/Wago/WoWInterface.

[2022-11-13 04:46] #1915 closed, assigned to Hekili

[2022-11-13 04:47] Hekili commented on #1916
This is not planned.  You can make similar audio cues with WeakAuras.  Thanks.

[2022-11-13 04:47] #1916 closed, assigned to Hekili

[2022-11-13 06:04] Tga123 commented on #1829
Nah nah, it about another case.
I know Hekili flashed first spell in rotation, when combat started or just targeting harm unit.
It is good feature.
But now Hekili continued flashing after combat ends and/or clearing target.
E.G.
I target dummy, first spell in rotation start flashing,
	i cast few spells (combat start), it flashing another spells by rotation (all going right),
	i stop casting, clear

[2022-11-13 09:14] GarvielTwo commented on #1927
Hello,

The snapshot is for the 5th point.

I believed the others can be easy to replicate but I will look to provide snapshots for all of them.

Thank you,

[2022-11-13 09:17] HurtkBV opened #1932 "Outlaw Between the Eyes renewal vs. Dispatch usage in the rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-13 09:28] GarvielTwo commented on #1927
https://pastebin.com/ijzQsgEs - snapshot for point 4 - I have Atrophic Poison on, yet the addon recommends crippling, does not detect the Atrophic.
https://pastebin.com/cA33Zzja - snapshot for point 3 - when I have seen Echoing Reprimand first recommended in the list, again this might be personal preference but I feel it's recommended very late in the rotation.
https://pastebin.com/iXXxNesD - snap

[2022-11-13 12:44] Sedveth commented on #1932
You want to BTE on cooldown (but not when GSW is up) to get GSW buff. This is in APL.

[2022-11-13 12:46] Sedveth commented on #1932
For dispatch dmg below auto attack, maybe your gear is not optimized or you might have overcapped your CP, probably need log to see.

[2022-11-13 15:33] Hekili commented on #1932
In your Raidbots sim, which was for Hectic Add Cleave, your sim has 27.55 casts of Between the Eyes vs. 94.42 casts of Dispatch.  When you play Outlaw in a similar environment (meaning several add waves over a similar period of time), how many casts of Dispatch are you seeing vs. casts of Between the Eyes?

The Between the Eyes recommendation you're getting in the snapshot is intentional, as Sedve

[2022-11-13 15:35] Hekili commented on #1927
Thanks.

For your 5th item, I think the issue you're describing is that Indiscriminate Carnage will go on cooldown after you spend the second "buff" (even though there is only one buff).  Is that accurate?

[2022-11-13 17:09] Hekili commented on #1927
Can you please provide a Raidbots sim of your character for your 1st item, with the same talents selected and in a Patchwerk fight?

[2022-11-13 18:14] marekCs opened #1933 "Feral Druid - icon has a bad keybind info"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-13 18:15] marekCs commented on #1933
And ofc under Shift+C is nothing. And even then, when I try to press the SC keys - nothing happens.

[2022-11-13 18:37] MrBean73 opened #1934 "Feral- Convoke Season 4 Dungeons (German Client)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-13 19:06] GarvielTwo commented on #1927
For the 5th item - Indiscriminate Carnage only goes on cooldown after you spend the second "buff" correct. After you cast it you now have 1 IC Garrote and 1 IC Rupture that you are allowed to cast and it gets spread to 8 targets.

However, in a 2-3 minute fight, the addon recommends to cast IC a second time (around the 1 minute mark), I then get recommended an IC garrote (all good so far), I cast

[2022-11-13 19:10] MrBean73 commented on #1934
![image](https://user-images.githubusercontent.com/116820193/201539674-7ee48bd2-db37-4526-839c-ba743ef2ff37.png)

[2022-11-13 19:28] Hekili commented on #1934
I'll post a test fix in 10.1 in a little bit.

[2022-11-13 19:54] Hekili commented on #1927
1st, 4th, and 5th points will be resolved in next release.

## 2

Your original question was about Vanish being recommended followed by FoK instead of making use of Improved Garrote.  In your snapshot, you didn't use Vanish and it's recommending FoK, but you described that it was recommending Vanish but changed to FoK before it got to it.  Am I misunderstanding?

With the snapshot provided, I woul

[2022-11-13 19:58] Hekili commented on #1933
You have Prowl on multiple bars:

`prowl                  = 0   [06], SC  [08]`

On bar 6, it's bound to 0.  On bar 8, it's bound to Shift-C.  The addon uses a priority system for selecting which binding to show:  The order is 7, 8, 2, 3, 4, 5, 6, 9, 10, 1, based on default assumptions about bars and forms.

If you remove Prowl from bar 8, you should only see 0 for it.  Otherwise, you can set the

[2022-11-13 19:58] #1933 closed, assigned to Hekili

[2022-11-13 20:15] Hekili commented on #1920
There are a lot of different things I'm trying to track in here all at once.

For:
combo_points>=cp_max_spend-buff.broadside.up-(buff.opportunity.up*(talent.quick_draw|talent.fan_the_hammer)|buff.concealed_blunderbuss.up)|effective_combo_points>=cp_max_spend

What made you think the * is a typo?  What is not calculating correctly?

Yeah, there's a lot of fundamentals here that I don't think you're

[2022-11-13 20:22] TerrySmith22 opened #1935 "Elemental Shaman - Night fae - Fae Transfusion ability not being recommended at all"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-13 21:01] MrBean73 commented on #1934
works

[2022-11-13 21:08] marekCs commented on #1933
First of all, I thought I couldn't have a bind of combination of spells twice, on two bars. But okay, I guess I can. Second, the addon is wrong - I now have SC on bar 1 (but no spell here). And I only have bars 1 - 7 enabled, with only 1 - 5 binded. So as of bar 6 I have no binds on them.

[2022-11-13 21:34] marekCs commented on #1933
You can check my binds here: [https://uloz.to/tamhle/G3nuXRoGFJeQ#!ZGuyBQR2ZzVmAmSuAwx2MGp2AwR4AISyFxMMETckIJHlFQOuZN==](https://uloz.to/tamhle/G3nuXRoGFJeQ#!ZGuyBQR2ZzVmAmSuAwx2MGp2AwR4AISyFxMMETckIJHlFQOuZN==)

[2022-11-13 21:35] Hekili commented on #1933
Not according to the WoW API, apparently.

When I reference the "bar" here, I'm really talking about action bar pages (which mostly align, but shift for forms and stealth and whatnot).  The bar can be enabled, and when you go into Cat Form or Prowl, you notice how the buttons change?  That's your action bar page changing for the form in question.

Regardless, just set the keybind text.

[2022-11-13 21:40] marekCs commented on #1933
ok if I leave the cat everything is fine. When I'm in the cat it shows bad. And my keybinds are still the same, cat or human.

[2022-11-13 21:46] Hekili commented on #1933
I'm sorry that I'm not able to explain it any better.  You can look at Wowpedia regarding action bars, pages, forms, and stealth.

[2022-11-13 21:47] Hekili commented on #1934
Thanks for confirming!

[2022-11-13 21:47] #1934 closed, assigned to Hekili

[2022-11-13 21:54] Hekili commented on #1935
I'm posting 10.2 which will fix this issue.  Thanks.

[2022-11-13 21:54] #1935 closed, assigned to Hekili

[2022-11-13 22:16] OfficialExiled opened #1936 "Outlaw - Sometimes Flagellation and Dreadblades doesnt show in rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-13 22:56] IIeTpoc commented on #1920
Thank you for the thorough reply! I appreciate it and I definetely did not take into account the interaction between forecasting and processing recommendations during Pistol Shot with Fan the Hammer talent.
By any means i did not want to offend you and provide my "fix", it was purely just for test purposes and more snapshots which i considered to be useful when i was creating this ticket. I will t

[2022-11-13 23:27] vond82 commented on #1936
This might not be the case here, but is your main target (since I notice you're on swarm dummies) at very low hp from extended fighting? Stuff like flagellation and BtE won't be recommended then due to "time to kill" checks in the APL

[2022-11-13 23:28] OfficialExiled commented on #1936
Time to kill didnt matter for me. I was doing M+ as well and that was the same case over there.

[2022-11-13 23:28] OfficialExiled commented on #1936
Time to kill didnt matter for me. I was doing M+ as well and that was the same case over there.

[2022-11-13 23:54] Chugdogg commented on #1936
I've noticed the same thing as well in Retail/Beta M+ keys... All of sudden it's stopped recommending Dreadblades and Shadow Dance... However, if as soon as I manually use Dreadblades, it will then recommend using Shadow Dance.
However, if I don't manually cast Dreadblades, it will not ever recommend using either.

Snapshot - https://pastebin.com/HAxneKM2

This is after opening rotation, I would b

[2022-11-13 23:55] Hekili commented on #1936
If you add to the ticket, please include a snapshot where you're experiencing the issue.

[2022-11-13 23:56] Hekili commented on #1936
@OfficialExiled Your snapshot is taken before you're even in combat, which I will assume is not when you're expecting Flagellation to be recommended.  Please provide a snapshot taken at a time you'd expect Flagellation to be recommended.

[2022-11-14 00:06] OfficialExiled commented on #1936
@Hekili Oh my bad, https://pastebin.com/rhLnqjgh hopefully this is working.

[2022-11-14 00:10] Hekili commented on #1936
That one is taken from your AOE display, and it still says you're not in combat.  At least finish your opener so that your initial buffs aren't in the way (Roll the Bones, Slice and Dice, etc.).

[2022-11-14 01:11] OfficialExiled commented on #1936
@Hekili https://pastebin.com/wA4r0siB Hey sorry for taking your time, but am i in combat now? It seems snapshot doesnt automatically record it, tried to do it manually but that doesnt record either which is weird.

[2022-11-14 01:13] Hekili commented on #1936
Snapshotting is a manual process.  You have to push the button when you're seeing what you want to show me (or should be seeing it).

A snapshot is required to diagnose this issue.

# Snapshot

Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a screenshot. To generate a Snapshot, please complete the following steps.

 * Log into your WoW c

[2022-11-14 01:34] PhilipH3ro commented on #1736
Still not working, maybe covenant check or spellid issue? Tested with edited action lists.

[2022-11-14 01:41] Hekili commented on #1920
I did "fix" it there once for clarity purposes, but the interpreter handles it.  If something is a boolean true/false value and a math operator is being used, it's converted to 1/0 internally.  I'll double-check that it is working correctly, though.

[2022-11-14 01:45] OfficialExiled commented on #1936
https://pastebin.com/3TMvSrS4 So looking at the snapshot, After Flagellation, it goes to vanish before using Dreadblades at all.

[2022-11-14 01:48] OfficialExiled commented on #1936
This is different talent tree with (BQQAOB/7AZ//CwQOf4fPMswHVDAAABJBQSCJtkkIJBSISAkIAAAAAAAJBpRJJIJJpFAAAA) . But on opening it shows Adrenaline but straight to Sinister Strike and not Ambush. https://pastebin.com/GDYauExN

[2022-11-14 02:10] Hekili commented on #1920
Ok, I double-checked and there was still an issue here, so I've made more edits to the script translator that should resolve that.

[2022-11-14 02:10] #1920 closed, assigned to Hekili

[2022-11-14 03:11] Bdrood opened #1937 "Balance Druid, Incarnation over Celestial Alignment being issued even with Incarnation not taken as talent."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 03:40] Hekili commented on #1937
Hi, please provide your talent string.

[2022-11-14 03:41] icehawk97 commented on #1936
Flagellation/Dreadblades/ambush doesnt show up/recommended for me neither. Also Adrenaline Rush used to be recommended while dreadblades is active, not anymore.

[2022-11-14 03:46] Hekili commented on #1936
@icehawk97 If adding to the ticket, please include a snapshot and your talent string.

[2022-11-14 03:47] Bdrood commented on #1937
BYGAGX1kx6Mci9Zl2t+S+sRoPCAAAAAAAAAAAAAAAAAAAoAQSiIQChkEkIgWCJJhWCiDkDAFplIESBgA

[2022-11-14 04:04] icehawk97 commented on #1936
Talents - BQQAOB/7AZ//CwQOf4fPMswHVDAAABJBQSCJtkkIJBSIiAkIAAAAAAAJBpRJJIJJpEAAAA

https://pastebin.com/LFg75syD - out of combat (in stealth) Ambush not recommended after Adrenaline rush. (http://piclair.com/o4ckq) Screenshot #1 AR not used.
http://piclair.com/adbnf Screenshot #2 AR used still not recommending Ambush while in stealth.

https://pastebin.com/Gjbs4c6M - In combat with (Chitali the Eld

[2022-11-14 05:33] KaiserAnguirus opened #1938 "WW Monk not recommending Storm, Earth, and Fire"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 05:48] vond82 commented on #1938
You're specced into Serenity, not SEF

[2022-11-14 06:04] KaiserAnguirus commented on #1938
https://pastebin.com/q7exs1kF
![image](https://user-images.githubusercontent.com/118151758/201587251-900d3d96-07a2-458a-816b-f45e0bebc813.png)

Corrected snapshot and screenshot showing I have SEF spec'd

[2022-11-14 06:58] funappear commented on #1937
I am also having the same problem.
When testing for each version, it was confirmed that a problem occurred when updating from v10.0.0-10.2 to v10.0.0-10.3.

Problem caused by changing the code below,
Dragonflight/Classes.lua
30 -            talent.rank = data[2] > 0 and IsPlayerSpell( data[2] ) and node.activeRank or 0
30 +           talent.rank = data[2] > 0 and node.activeRank or 0

[2022-11-14 06:59] MajorKryme opened #1939 "ARMS Warrior: Warbreaker recommended even while the talent isn't enabled."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 07:01] zzzmj commented on #1936
I've noticed the same thing as well in Retail/Beta M+ keys

[2022-11-14 07:34] IIeTpoc commented on #1936
@Hekili It looks like that dreadblades (line 77) was completely removed from the APL according to https://github.com/Hekili/hekili/commit/78addc982fbe49f4d9ea2622e7d3b263021f81f0
That should be the reason why it is not suggested at all.

Also despite the translator fix ingame finish_condition still shows "*" with the latest v10.0.0-11
![image](https://user-images.githubusercontent.com/64799395/201

[2022-11-14 09:01] Teufelaffe opened #1941 "[Ret Pally] Recommending Radiant Decree when not specced"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 09:43] aleksisyrjamaki commented on #1936
Adding this in case it is still needed
Dreadblades is not recommended
Talents: BQQAOB/7AZ//CwQOf4fPMswHVDAAABJBkkkQSLRgEIRiEAJCAAAAAAQSQaUSCSSSaBAAAA
Snapshot: https://pastebin.com/isJjZM4j

[2022-11-14 11:35] timonohe opened #1942 "Demon-Warlock: Soul Rot does not picked up by Hekili"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 11:59] IIeTpoc opened #1943 "LUA error from UI.lua"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-14 12:46] icehawk97 commented on #1936
Would also like to add in that vanish doesnt get recommended and netiher ambush after using vanish.

[2022-11-14 13:32] IIeTpoc commented on #1936
In 99% of the time you want to use Dispatch after ambush. For me it is working as it was coded by the simc recommendations, so basicly apart from missing dreadblades APL is pretty ready for the DF launch.
As for Vanish recommendation, a little APL tweak is needed to increase Vanish efficency with Shadowdust legendary, We still need to wait until Hekili checks it, though i suggest it is better to p

[2022-11-14 14:19] coldvyb commented on #1936
I'd just like to add in some behaviour I have found regarding Flagellation not being recommended sometimes, I've found similar errors on other specs and I have a feeling that when you're in non-shadowlands content, for example any of the dungeons in the current rotation except for Tazavesh, covenant abilities are not being recommended, and then when you go into Shadowlands content, everything is w

[2022-11-14 14:25] RussellAnas opened #1944 "[Feral] Brutal Slash recommended when not talented"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 14:28] RussellAnas commented on #1944
As you can see, I have 'swipe' enabled in my spells, which means I have not taken 'Brutal Slash' (since it replaces Swipe).

![WoWScrnShot_111422_192635](https://user-images.githubusercontent.com/77004545/201685245-40b32fb9-4a25-4c78-8c2a-efa434c57c65.jpg)

[2022-11-14 14:47] Hekili commented on #1936
If adding to the ticket, include a snapshot of your own specific case.

[2022-11-14 14:48] Hekili commented on #1936
The point of the translator isn't to remove the `*`, it's to ensure it's interpreted correctly.  But there is still an issue with that that I couldn't resolve last night.

Odd that Dreadblades got clipped when updating to use the DF priority.  Will resolve.

[2022-11-14 14:58] IIeTpoc commented on #1943
Also I want to add that I am not using SpellFlash at all

[2022-11-14 15:12] P0wn3DD commented on #1944
Same for me as Unholy DK… Hekili recommends „Clawing Shadows“ instead of „Festering Strike“, so I didnt even select „Clawing Shadows“ in my talent-tree… and ignoring the abilitie leads to that point that the hekili rotationhelper cant recommend any abilities because he is missing one…

Edit: I switched back to Hekili-v10.0.0-10.2 and its working again. The cause could be one of the updates from to

[2022-11-14 15:28] Wyste commented on #1939
The snapshot is showing both blunt_instruments + warbreaker (same choice node) talented at the same time. This might help Hekili with dialing in whatever the issue is. The problem likely caused #1941 too.

[2022-11-14 15:28] Hekili commented on #1944
Yeah, talent detection needed to change but choice nodes were not working.  I'm posting a fixed release now (10.0.0-11.1).

[2022-11-14 15:28] #1944 closed, assigned to Hekili

[2022-11-14 15:28] Hekili commented on #1939
Yeah, talent detection needed to change but choice nodes were not working.  I'm posting a fixed release now (10.0.0-11.1).

[2022-11-14 15:28] #1939 closed, assigned to Hekili

[2022-11-14 15:30] Hekili commented on #1936
I added Dreadblades back into the priority and edited the * again, since the interpreter is taking too long to fix.  Try 11.1 and let me know if the same issues persist.

There was already an update to address this (rechecking that spells are available when M+ starts); if you are experiencing that presently then please provide a snapshot.

[2022-11-14 15:31] Hekili commented on #1942
Thanks.  I'll post an 11.2 version that removes the talent requirement from Soul Rot.

[2022-11-14 15:31] #1942 closed, assigned to Hekili

[2022-11-14 15:33] Hekili commented on #1941
Yes, choice nodes were bugged.  This should be resolved in the latest releases (11.1 and later).

[2022-11-14 15:33] #1941 closed, assigned to Hekili

[2022-11-14 15:33] Hekili commented on #1937
Yes, choice nodes were bugged -- that previous code could not differentiate Drain Soul being talented, unfortunately.

This should be resolved in the latest releases (11.1 and later).

[2022-11-14 15:33] #1937 closed, assigned to Hekili

[2022-11-14 15:33] Hekili commented on #1938
Yes, choice nodes were bugged.  This should be resolved in the latest releases (11.1 and later).

[2022-11-14 15:33] #1938 closed, assigned to Hekili

[2022-11-14 15:34] #1929 closed, assigned to Hekili

[2022-11-14 15:34] #1932 closed, assigned to Hekili

[2022-11-14 15:40] Hekili commented on #1943
This doesn't have anything to do with SpellFlash.  Might be an Ace3 issue, though.  I'll try something but it's honestly a shot in the dark.

[2022-11-14 16:11] icehawk97 commented on #1936
Tried the new update in workshop +2. This is some problems i found.

While stealthed - Addon suggests bladeflurry before ambush while you are around multiple mobs.
Dreadblades now gets suggested and recommended but flag doesnt.
If i can remember correctly Hekili didnt recommend using DB/Flag if both werent off CD.
Now it recommends DB even if flag is not off CD for another 10sec or so.

Vanish is

[2022-11-14 16:20] Tzuyume opened #1945 "Auto Snap Blood DK"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 16:34] jgwallace3 opened #1946 "Keybindings for action bars 6-8 not being detected"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-14 16:54] IIeTpoc commented on #1943
Thanks! The occurence of this is very rare, that is why i am not sure how to reproduce to report if it fixed the problem or not. I think i should close for now this ticket

[2022-11-14 16:54] #1943 closed, assigned to Hekili

[2022-11-14 17:03] Hekili commented on #1936
### 1

Seems reasonable; will make Blade Flurry unusable while in Stealth.

### 2

Need to provide a snapshot, not a screenshot.  See `/hekili > Snapshots` and/or `/hekili > Toggles`.

### 3

This is probably an artifact of updating to DF priority, where Flagellation goes away.  I'll consider reverting more of this.

### 4

Same as 4.

### 5

Need to provide a snapshot when you think Vanish should

[2022-11-14 17:06] OfficialExiled commented on #1936
So I tried hitting a Sinfall dummy, so I dont know if there is any difference in raid or m+, but looking at the opening everything is fine except in the later in the fight. Looking at the snapshot, https://pastebin.com/kiXtSsj9 it now recommends Dreadblades before Flagellation but fixes when Flagellation is back sometimes but not always.

For AOE opening,  https://pastebin.com/Rb709Z5N, I am not i

[2022-11-14 17:39] IIeTpoc commented on #1936
Dread

Dreadblades should be used on CD as it is a DPS gain in a long fight despite flagelation might still be on CD. Only 1st Dreadblades should be synced with Flagellation which sort of already happens for me.

As for vanish fix i made a pull request which fixed vanish recommendation with shadowdust legendary at least for me
#1947 (at least on target dummies)

[2022-11-14 17:42] Myro2 opened #1949 "When rotating at Hunter, the position of the midi is completely indicative of rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-14 17:45] Hekili commented on #1949
Please resubmit as a recommendations ticket and include the snapshot(s) that it's telling you it's creating.  The recommendations ticket has instructions for the snapshots.

![image](https://user-images.githubusercontent.com/9438134/201729869-c42d59e8-be5e-4159-9833-9c9e8216c7b1.png)

[2022-11-14 17:49] Myro2 commented on #1949
I didn't quite understand the answer, sorry

[2022-11-14 17:49] Hekili commented on #1949
A snapshot is required to diagnose this issue.

# Snapshot

Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a screenshot. To generate a Snapshot, please complete the following steps.

 * Log into your WoW character.
 * Recreate the issue you are reporting (i.e., generate 5 Holy Power).
 * When you see the recommendation you disagree with,

[2022-11-14 18:06] Myro2 opened #1950 "Hunter recommendations missing"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-14 18:34] Myro2 commented on #1950
And https://pastebin.com/5Yg2ArRk

[2022-11-14 19:06] icehawk97 commented on #1936
Tested again with an atempt to make a snapshot in Workshop +2

Problem#(Flag not Recommended when off CD before DB)

Snapshot from that dungeon - https://pastebin.com/SnjFpduU
Screenshot from that exact same time the snapshot was taken where flag was off CD - http://piclair.com/c3462

As for when Vanish is to be used or not i cannot speak for, the knowledge ends there... therefore no snapshot of i

[2022-11-14 19:11] LucasNavim opened #1951 "Retribution paladin rotation wih Crusade"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 19:12] IIeTpoc commented on #1936
Line 488 from your snapshot

        27.  flagellation ( cds - 8 ) - covenant spells are disabled
        Time spent on this action:  0.02ms
        TimeData:Outlaw-cds-8:flagellation:0.02:Ability Known, Enabled(0.02)

Enable it in options

[2022-11-14 19:15] Doofbert opened #1952 "Outlaw - Vanish not recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 19:17] MrBean73 commented on #1934
update: Works yesterday in Kara but not in Gogrond

[2022-11-14 19:54] icehawk97 commented on #1936
http://piclair.com/ubofv - it is enabled, or am i missing something?

http://piclair.com/gknik

[2022-11-14 20:09] IIeTpoc commented on #1936
ur toggle covenant is turnt off

[2022-11-14 20:13] plastiik commented on #1950
I have the same issue, was about to report it 👍

[2022-11-14 20:15] Myro2 commented on #1950
hopefully they will recognize it and I won't have to write it again :D

[2022-11-14 20:15] icehawk97 commented on #1936
I havent touched any of that, but if you say so and saw it from the snapshot, how do i turn it on?

[2022-11-14 20:21] IIeTpoc commented on #1936
You literaly made a screenshot from the tab where you toggle on/off covenants.

[2022-11-14 20:28] Tzuyume opened #1954 "Affliction rotation wont use cds with Malefic Wrath"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 20:34] icehawk97 commented on #1936
figured it out, but how it was disabled is beyond me, never even looked that far in to the addon itself before.

[2022-11-14 20:42] plastiik commented on #1950
Adding my pastbin also: [https://pastebin.com/NfJySHsJ](https://pastebin.com/NfJySHsJ)

[2022-11-14 20:45] plastiik commented on #1950
Rotation is just disappearing, and no suggestions are available.

[2022-11-14 21:13] GarvielTwo commented on #1927
First of all thank you for the very detailed response and for resolving the mentioned points.

It's clear for me on points 2 and 3b and they can be considered resolved.

I would just like to bring up point 3a for a second. Most of my tests were done on 4 targets, I understand that for single target, Echoing Reprimand is cast exactly as you mentioned. Not contesting any of it.

However on 4 targets

[2022-11-14 22:09] Tzuyume opened #1955 "Destruction not using Immolate on Singletarget"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 22:34] Hekili commented on #1955
Did you disable Cataclysm?  It sees you've talented for it and it's not on cooldown, but it shows up as ability unknown in your snapshot.

[2022-11-14 22:48] Tzuyume commented on #1955
I think its the talent string being a bit wonky then, im talented into inferno.

[2022-11-14 23:08] Memorialized opened #1956 "Balance Druid recommending Celestial Alignment when Incarnation: Chosen of Elune is talented"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-14 23:13] jankozilla opened #1957 "Stops suggesting spells after certain amount of time."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-14 23:17] Oxizennnn commented on #1950
same issue here

[2022-11-15 00:21] JimA1966 commented on #1885
Fixed this one, keybinds overlaping thank you

[2022-11-15 00:21] Hekili commented on #1885
Thanks for updating!

[2022-11-15 00:21] #1885 closed, assigned to Hekili

[2022-11-15 00:22] pefcs opened #1958 "Druid - Incarnation got lost during talent reorder"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-15 00:24] Hekili commented on #1958
Yep, these will be added back.  Thanks.

[2022-11-15 00:30] JimA1966 opened #1959 "Outlaw rogue not suggesting Ambush on opener but does after you press it for the first time"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-15 00:33] Hekili commented on #1959
Please paste the original snapshot to Pastebin and provide the link.  The above is not readable.  Thanks!

[2022-11-15 00:38] Hekili commented on #1950
If you add to a ticket, please include a snapshot so I have information to help diagnose it, along with your talent export string.  Thanks.

[2022-11-15 00:45] Hekili commented on #1951
![image](https://user-images.githubusercontent.com/9438134/201798477-5348eee0-5631-497b-83a9-8ea90a3cd916.png)

???

![image](https://user-images.githubusercontent.com/9438134/201798555-0cb6c3c0-0da5-42ca-a166-aa40c0a0b492.png)

![image](https://user-images.githubusercontent.com/9438134/201798580-26188d3a-59db-4077-bdbe-9c4dbef40075.png)

???

[2022-11-15 00:47] Hekili commented on #1950
That's not a snapshot, just player information.  Snapshots are found in /hekili >Snapshots after recommendations can't e made or if you manually generate them by pressing Pause or Snapshot (see /hekili > Toggles).

[2022-11-15 01:21] JimA1966 commented on #1959
# Morfeind - Outlaw - 2022-11-14 20:15 - US/Area 52
# SimC Addon 10.0.0-3
# WoW 10.0.0.46597, TOC 100000
# Requires SimulationCraft 1000-01 or newer

rogue="Morfeind"
level=60
race=blood_elf
region=us
server=area_52
role=attack

spec=outlaw

talents=BQQAU3BjZ/IAySQ6AmAmsjvQ+BAAABJJAJJRSLJJQgEJSAkIAAAAAAAJBpRJJIJJpEAAAA

# Saved Loadout: ST RAID
# talents=BQQAU3BjZ/IAySQ6AmAmsjvQ+BAAABJBkkkQSLRgEIR

[2022-11-15 01:22] Hekili commented on #1959
Please just put the snapshot from the addon, in-game, into Pastebin and provide the link so I can read it.

[2022-11-15 01:27] JimA1966 commented on #1959
[no ambush or AR.txt](https://github.com/Hekili/hekili/files/10008313/no.ambush.or.AR.txt)

[2022-11-15 01:51] JimA1966 commented on #1959
https://pastebin.com/5056N5at

[2022-11-15 01:58] Hekili commented on #1959
Ambush in Dragonflight isn't used without Count the Odds or Hidden Opportunity, so that's likely the issue with the opener.  However, I've added a setting (/hekili > Outlaw > Use Ambush Regardless of Talents) that allows the addon to Ambush from stealth regardless of those talents.

[2022-11-15 01:58] #1959 closed, assigned to Hekili

[2022-11-15 02:00] Hekili commented on #1950
I don't know which talents y'all are using, but I've reverted some changes and I am consistently seeing full sets of recommendations on my end.  I'll post 10.0.0-11.3 soon -- let me know if you still have issues after.  Thank you!

[2022-11-15 02:01] Nepv1 opened #1960 "BM Hunter not using multishot in aoe"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-15 02:17] Hekili commented on #1960
You do not have pet-based target detection enabled.  See /hekili > Beast Mastery > Targeting to enable it.

[2022-11-15 02:17] #1960 closed, assigned to Hekili

[2022-11-15 02:17] #1951 closed, assigned to Hekili

[2022-11-15 02:17] #1958 closed, assigned to Hekili

[2022-11-15 02:18] #1936 closed, assigned to Hekili

[2022-11-15 02:19] Hekili commented on #1936
When 11.3 is released, please test and comment if needed.  I have fixes to Covenant detection and APL updates coming out in a little bit.

[2022-11-15 02:20] Hekili commented on #1957
There shouldn't be anything preventing an actual snapshot from being taken -- they're likely generated automatically when this is happening.

I'm going to close this ticket since I'm posting 11.3 which will make it obsolete.  If you have the same issue again, please submit a Recommendations ticket and include a snapshot (or snapshots) when the issue is occurring.  Thanks!

[2022-11-15 02:20] #1957 closed, assigned to Hekili

[2022-11-15 02:21] Hekili commented on #1955
Ok, this was an issue with choice nodes, from earlier.  You should be fine with the latest releases.

[2022-11-15 02:21] #1955 closed, assigned to Hekili

[2022-11-15 03:17] Pulseonline opened #1961 "Shattering Star being recommended after Eternity Surge, should be before."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-15 03:18] tance77 opened #1962 "Convoke not recommended in M+"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-15 03:28] Hekili commented on #1962
A snapshot is required to diagnose this issue.

# Snapshot

Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a screenshot. To generate a Snapshot, please complete the following steps.

 * Log into your WoW character.
 * Recreate the issue you are reporting (i.e., generate 5 Holy Power).
 * When you see the recommendation you disagree with,

[2022-11-15 03:30] Hekili commented on #1950
I actually jumped to version 10.0.0.12, but the release is published now.

[2022-11-15 03:36] Hekili commented on #1961
I'll go ahead and make a revision for this, but there are subtle issues potentially.  This won't save Shattering Star if Eternity Surge is coming off CD soon since I haven't run sims to test.  I'll publish as 12.1 just to save time.

[2022-11-15 03:36] #1961 closed, assigned to Hekili

[2022-11-15 03:37] Pulseonline commented on #1961
Yea to be honest I figured that.  Its mainly for the opener.  Its pretty big on opener.  As far as rest of rotation goes.  I'm not sure yet.

[2022-11-15 03:47] Hekili commented on #1956
This has been resolved; make sure to update to the latest release (12.1 at time of posting).

[2022-11-15 03:47] #1956 closed, assigned to Hekili

[2022-11-15 04:06] tance77 commented on #1962
[Snapshot 1](https://pastebin.com/pfXP6pgL)

[2022-11-15 04:09] tance77 commented on #1962
[Snapshot 2](https://pastebin.com/X2923RBP)

[2022-11-15 04:15] tance77 commented on #1962
It also does not seem to be reccomending Ferocious Bite outside of the Predator proc

[2022-11-15 04:15] Pulseonline opened #1963 "Devastation Evoker - Tip the Scales is being recommended for Fire Breath - Should be Eternity Surge"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-15 04:17] Pulseonline commented on #1963
![opener](https://user-images.githubusercontent.com/116061761/201825235-bbb7c5ce-57f4-4fef-bf04-0a64413a47ab.PNG)

If this Helps at all.

[2022-11-15 04:24] Hekili commented on #1927
I think we are probably more interested in the opposite; a snapshot when you think Echoing Reprimand should be recommended but it isn't.

The reason Echoing Reprimand is shown here is that Deathmark is on cooldown and `use_filler` is true.  There's nothing higher priority to use.  Use Filler means:

`combo_points.deficit[5.00] > 1 | energy.deficit[169.00] <= 25 + energy.regen_combined[22.72] | ! v

[2022-11-15 04:34] vond82 commented on #1962
This is due to ferals APL for prepatch not being updated properly (afaik it likely won't until DF release) so if you have both Tear Open Wounds and Rip and Tear talents, the APL will say you should PW even on single target

As for the other issue, in the snapshot it says you have Covenant spells disabled

[2022-11-15 04:41] Hekili commented on #1962
Update to the latest release and confirm you're somewhere that you should be able to Convoke.  Your snapshot does not show Convoke talented and you seem to be somewhere that Shadowlands items are not allowed.

@vond82 If you wanna share the upcoming changes, I can update the addon accordingly to match.

[2022-11-15 04:42] Hekili commented on #1962
Note:  It does look like you're in M+ based on Challenger's Burden being applied.  Please test with the latest release and confirm that Convoke is not being recommended inside M+.  Thanks.

[2022-11-15 06:47] tance77 commented on #1962
I updated to 10.0.0-12.1 and it seems to reccommend convoke near the start of the M+, but as time goes on it does not even reccomened it at all even on boss fights. Nore does it reccommend foroceous bite outside of Apex Predator Procs.

It always reccomeneds primal wrath in Single Target as the Combo Spender

[2022-11-15 07:08] LucasNavim commented on #1951
Sorry, gostaria check Whats going on, because i cant use Hammer of
wrath...otherwise wouldnt make this post.

Thanks for The reply

Em seg., 14 de nov. de 2022 23:17, Hekili ***@***.***>
escreveu:

[2022-11-15 10:17] timonohe commented on #1942
Hey, just installed the Version 11.2 but Soul Rot is still missing :(

[2022-11-15 10:45] plastiik commented on #1950
It worked 😄 thanks @Hekili appreciate all the work ❤️

[2022-11-15 11:17] Myro2 commented on #1950
everything works as it appears to me so far. thank you very much

[2022-11-15 13:36] Hekili commented on #1962
This was explained above.

What does this mean, precisely?  When was Convoke recommended in M+?  When was it not?  Two snapshots would be helpful; one in M+ when Convoke was shown, and one in M+ when it *should* be recommended but isn't.

[2022-11-15 13:50] LucasNavim commented on #1951
Hey Hekili,

So apparently the HoW cast on AW only works from lvl 58 onwards..

On Tue, 15 Nov 2022 at 04:08, Lucas Magalhaes ***@***.***> wrote:

[2022-11-15 14:13] Hekili commented on #1951
That may have been the case prior to it being a talent.  Can you post an updated snapshot so I can verify which talents you actually have?  Make sure to update to the latest version first.

[2022-11-15 14:14] Hekili commented on #1950
Thanks for confirming.

[2022-11-15 14:14] #1950 closed, assigned to Hekili

[2022-11-15 14:29] Hekili commented on #1927
I'm going to go ahead and shift Echoing Reprimand and Ambush up in priority so that they get used sooner (while leaving other related conditions intact).

[2022-11-15 15:37] OfficialExiled commented on #1936
So looking at the new updates, with the Ambush option checked, it seems opening is fine except now it recommends Dreadblades first then Flagellation looking at this snapshot. https://pastebin.com/dNg3xVAw. Same goes here after few rotation. https://pastebin.com/7qeSx05T After using Flagellation suddenly it recommends Vanish and Dispatch then Dreadblades. Which should usually be Flagellation - Disp

[2022-11-15 17:51] namasteh97 opened #1964 "Wrong keyboard shortcuts shown by the addon"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-15 17:52] GarvielTwo commented on #1927
After the latest update, I can see Echoing Reprimand be recommended as I would expect, thank you for the excellent work on this, I believe all of the raised points were address so I will go ahead and close the ticket.

[2022-11-15 17:52] #1927 closed, assigned to Hekili

[2022-11-15 17:56] vond82 commented on #1964
`roll_the_bones        = G   [02], M5  [06]`

It shows you have Roll the Bones bound on 2 different hotbars, 'G' on hotbar2 and 'M(ouse)5' on hotbar6. Hekili uses a priority system for selecting which binding to show: The order is 7, 8, 2, 3, 4, 5, 6, 9, 10, 1 so if you remove the keybind from hotbar2 it will show as M5 the way you prefer it.

You can also go into /hekili > abilities > Roll the Bo

[2022-11-15 18:38] BitterPasta opened #1965 "Shadow Dance"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-15 18:43] Hekili commented on #1965
You didn't provide your Talent Loadout, but your snapshot shows that you do not have Shadow Dance talented.  Is that incorrect?

[2022-11-15 18:45] Hekili commented on #1964
@vond82 is correct.  I'll take another pass at making keybind detection smarter down the road, but it is a lower priority given that you can manually set the keybind text if needed.

[2022-11-15 18:45] #1964 closed, assigned to Hekili

[2022-11-15 18:47] Hekili commented on #1963
The pivotal piece is really that sims get updated to reflect this behavior (which makes sense, spending your instant on FB-1 and then charging ES is silly).  I really don't want to be chasing guides.  You might consider submitting pull requests to SimulationCraft with these changes, which will then arrive downstream here later on.

[2022-11-15 18:48] vond82 commented on #1965
Subtlety rogues have Shadow Dance as baseline and get a 2nd charge from the talent (while Outlaw and Assassin gets 1 charge from talenting into it)

[2022-11-15 18:49] BitterPasta commented on #1965
My apologies. Had to refresh the page before I could post. Shadow Dance is a base ability with the option to get one more charge as a talent.

[2022-11-15 18:57] Hekili commented on #1945
I would appreciate if you'd provide more careful detail when submitting tickets, especially with regard to describing the issue and reproducing the issue.

Feel free to submit an update if this is not resolved in the 12.2 or later.

[2022-11-15 18:57] #1945 closed, assigned to Hekili

[2022-11-15 18:57] #1949 closed, assigned to Hekili

[2022-11-15 18:58] Hekili commented on #1946
Duplicate of #1764

[2022-11-15 18:58] #1946 closed, assigned to Hekili

[2022-11-15 19:05] Hekili commented on #1965
Thanks.  I'll post a fix in a bit.

[2022-11-15 19:33] Hekili commented on #1952
In the linked snapshot, your Vanish is on cooldown for another 18 seconds.  Can you provide a new snapshot where Vanish should've been recommended but isn't, and is not on cooldown?  Thanks.

[2022-11-15 19:54] timonohe opened #1966 "Demonology - Soul Rot not recommended in M+"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-15 20:02] Hekili commented on #1966
Your snapshot needs to be taken when you think Soul Rot should've been recommended.

[2022-11-15 20:23] timonohe commented on #1966
Sorry here it is: https://pastebin.com/Hcv71ZKs

Soul Rot has to be cast on Cooldown with Tyrant.

[2022-11-15 20:33] Hekili commented on #1966
Where are you doing your testing?  Your snapshot still didn't reach any criteria associated with Soul Rot.  It looks like maybe you were in Mechagon.  Is that right?

[2022-11-15 20:36] timonohe commented on #1966
Yes that was in a Mythic+ Dungeon. The criteria for Soul Rot is if it is off Cooldown and used with Tyrant...

[2022-11-15 20:40] Hekili commented on #1966
Ok, so this is because your soulbinds were still viewed as disabled.  That's easy enough to solve.  Thanks for confirming.

[2022-11-15 21:25] Hekili commented on #1966
I'm posting 10.0.0-12.3 now with a testfix for this.

[2022-11-15 22:10] timonohe commented on #1966
Tested it with 12.3 but Soul Rot still does not show up. Soulbinds are enabled now and tested on dummies with multiple targets.

https://pastebin.com/DuLs6jdJ

[2022-11-15 22:14] Hekili commented on #1966
It looks like Soul Rot criteria aren't met with Korayn.  Do you have the legendary equipped?

[2022-11-15 22:20] timonohe commented on #1966
I dont have any legendary on this character. What criteria with Korayn do you mean? I dont know any legendary that is needed for Casting Soul Rot?

[2022-11-15 22:28] Hekili commented on #1966
Soul Rot is pretty pointless in-and-of-itself.  With Dreamweaver, you use it because it triggers [Field of Blossoms](https://www.wowhead.com/spell=319191/field-of-blossoms?spellModifier=137042) for haste.  With Niya, you use it for [Grove Invigoration](https://www.wowhead.com/spell=342937/grove-invigoration?spellModifier=137042) because it grants Redirected Anima for Mastery.

With the Decaying So

[2022-11-15 22:28] #1966 closed, assigned to Hekili

[2022-11-15 22:28] Hekili commented on #1965
This should be resolved in 12.3.

[2022-11-15 22:28] #1965 closed, assigned to Hekili

[2022-11-15 22:29] Hekili commented on #1962
This may be addressed in 12.3 or later.  If Convoke is not recommended in M+, please provide an updated snapshot.

[2022-11-15 22:31] Hekili commented on #1856
This may be resolved when 10.0.2 launches today, as the tooltip API will change.  Let me know; I still haven't seen this myself.

[2022-11-15 22:32] Hekili commented on #1954
Does this still occur in 12.3?  If so, please provide an updated snapshot.

[2022-11-15 22:45] tance77 commented on #1962
Sorry I haven't had time to get you an updated snapshot, but will test in a few hours with 12.3

[2022-11-15 22:50] timonohe commented on #1966
Well Tyrant was in cooldown but no Soul Rot was recommended....

[2022-11-15 23:31] Hekili commented on #1966
It was on cooldown but it was active.  You have better buttons to push during Tyrant if Soul Rot isn't granting you buffs to make it worth pushing.

[2022-11-16 00:37] tommaricle commented on #1912
I used Hekili in Retail and loved it.  Please let me know when there's something in WOTLK.
________________________________
From: Hekili ***@***.***>
Sent: Thursday, November 10, 2022 2:33 PM
To: Hekili/hekili ***@***.***>
Cc: tommaricle ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] Nothing is showing on the screen ie no frames/boxes (Issue #1912)

Yep, nothing loaded for Priest y

[2022-11-16 01:46] Wyste opened #1967 "[Fury] Bloodbath being recommended while ability still on CD (new Reckless Abandon changes)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-16 03:01] tance77 commented on #1962
Working on Training Dummy, will check in M+ shortly.

Edit: Unfortunately I didn't get time to test this yesterday will test tonight.

[2022-11-16 03:25] Hekili commented on #1967
So your snapshot is actually recommending Bloodthirst while it's transformed into Bloodbath.  The trick here (most likely) is to set the textures on both spells, and make sure when you use Bloodbath it spends a charge of Bloodthirst and vice versa.

[2022-11-16 04:51] Hekili commented on #1967
Should be fixed with latest commit.

[2022-11-16 04:51] #1967 closed, assigned to Hekili

[2022-11-16 04:54] Hekili commented on #1963
This should be addressed in the latest releases.

[2022-11-16 04:54] #1963 closed, assigned to Hekili

[2022-11-16 06:49] N6REJ opened #1969 "Error upon accepting Devastation evoker class spec"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-16 07:32] zzzmj commented on #1952
I had the same bug

[2022-11-16 07:36] zzzmj commented on #1952
Snapshot：https://pastebin.com/HUxPssxj
![image](https://user-images.githubusercontent.com/38660039/202116528-36b48d89-a48a-405c-8765-95693118709c.png)

[2022-11-16 09:12] vond82 opened #1970 "Assassination: Shiv not recommended during Kingsbane"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-16 14:51] Hekili commented on #1970
Thanks for the clear report.  I'm fixing the Kingsbane dot detection to resolve this issue.

[2022-11-16 14:51] #1970 closed, assigned to Hekili

[2022-11-16 14:53] Hekili commented on #1952
That's not a snapshot, unfortunately.  I'll post snapshot instructions below.

A snapshot is required to diagnose this issue.

## Snapshot

Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a screenshot. To generate a Snapshot, please complete the following steps.

 * Log into your WoW character.
 * Recreate the issue you are reporting (i.e

[2022-11-16 14:57] rivengh opened #1971 "Enhancement: Wind Fury Totem recommended for Doom Winds Buff while Doom Winds Debuff is still present"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-16 15:05] Hekili commented on #1952
If you use the Use Ambush Regardless of Talents setting, the addon will recommend Vanish without considering other talent requirements.  This change will work with 10.0.2-1.2.  Thanks!

[2022-11-16 15:05] #1952 closed, assigned to Hekili

[2022-11-16 15:36] Pyxl00 opened #1972 "Please add Arcane Mage"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-16 15:44] Hekili commented on #1972
There is no DF priority for Arcane Mage available yet.  It will be added when there's something to add.

[2022-11-16 15:44] #1972 closed, assigned to Hekili

[2022-11-16 16:14] Hekili commented on #1971
There will be a testfix in the next release.

[2022-11-16 16:15] Hekili commented on #1969
This will be addressed in the next release.

[2022-11-16 16:15] #1969 closed, assigned to Hekili

[2022-11-17 00:01] Twizzerious opened #1973 "Arms: Bladestorm recommended while on CD with Hurricane talented"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-17 01:19] tance77 commented on #1962
It is working in M+ now thanks

[2022-11-17 01:19] #1962 closed, assigned to Hekili

[2022-11-17 02:27] pefcs opened #1974 "Guardian Druid Tooth and Claw changes"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-17 04:52] Hekili commented on #1973
This will be resolved in the next release.

[2022-11-17 04:52] #1973 closed, assigned to Hekili

[2022-11-17 04:58] jmusick opened #1975 "Blood Death Knight - Death and Decay suggested while on cooldown"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-17 04:59] Hekili commented on #1974
This will be addressed in the next release.

[2022-11-17 04:59] #1974 closed, assigned to Hekili

[2022-11-17 05:01] Hekili commented on #1975
How long was Death and Decay on cooldown for when you took this snapshot?  It is recommending DnD in 0.25 seconds -- which is when the GCD would expire.  Was Death and Decay actually on a longer cooldown at this time?

[2022-11-17 05:19] Hekili commented on #1975
I think I have the root cause; the upcoming release should prevent this from occurring.

[2022-11-17 05:19] #1975 closed, assigned to Hekili

[2022-11-17 05:19] Hekili commented on #1971
This should be resolved in 10.0.2-1.2 and later.

[2022-11-17 05:19] #1971 closed, assigned to Hekili

[2022-11-17 07:39] rivengh commented on #1971
Thank you very much, Hekili! Looks good to me after a short test. I will give you further feedback, after more extensive testing.

[2022-11-17 12:01] marekCs opened #1976 "Shaman Elemental - Nature's Swiftness still recommended even on CD"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-17 12:06] marekCs commented on #1976
Closing. It looks like a beta spell bug.

[2022-11-17 12:06] #1976 closed, assigned to Hekili

[2022-11-17 12:18] MrWizard516 opened #1977 "Gift of the Naaru never comes up."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [ ] I am reporting

[2022-11-17 12:30] marekCs opened #1978 "Shaman Elemental - Nature's Swiftness still recommended even on CD"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-17 13:24] Hekili commented on #1977
The addon couldn't tell that you know Gift of the Naaru, but custom priorities aren't supported.  In-game, if you type `/dump GetSpellInfo("Gift of the Naaru")`, what is printed on screen?

[2022-11-17 14:44] Hekili commented on #1978
Thanks, this will be addressed in next release.

[2022-11-17 14:45] #1978 closed, assigned to Hekili

[2022-11-17 14:51] Hekili commented on #1977
This should be resolved in the next release.  Thanks!

[2022-11-17 14:51] #1977 closed, assigned to Hekili

[2022-11-17 14:51] #1954 closed, assigned to Hekili

[2022-11-17 14:55] bandophahita opened #1979 "lua error with zygor?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-17 14:58] Tzuyume commented on #1954
The rotation seems to work now with that setup, there is a weird thing with siphon life showing up 4 times in recommendation before you press it though. When you press siphon life it returns to the recommendations as it should though. https://pastebin.com/GXKmj4Ab is the snapshot if that helps.

[2022-11-17 15:03] bandophahita commented on #1979
It would appear there are 3 copies of AceTimer, each in a libs folder under hekili, zygor, and datastore.

Normally I would assume they are isolated within namespaces under each addon.   Does lua load 3 different copies of acetimer or does only the first one load and this is perhaps an order of events issue?

[2022-11-17 15:10] Hekili commented on #1979
Ace3 includes version control of timers and so all end up using the latest version.  In this case, it seems my addon was built most recently and has the newest Ace3 / AceTimer included.

You could try installing Ace3 directly and seeing if you get Zygor errors without my addon loaded.

Alternatively, it's possible that when my addon loads item data, Zygor isn't sanity checking GET_ITEM_INFO_RECEIV

[2022-11-17 15:12] Hekili commented on #1954
K, posting a fix.

[2022-11-17 15:40] bandophahita commented on #1979
Including cross post link to the zygor forum for clarity - https://zygorguides.com/forum/forum/technical-support/zygor-guide-viewer/190316-lua-errors-possible-integration-issue-with-hekili#post190322

[2022-11-17 18:16] Hekili commented on #1856
Can anyone confirm whether they're experiencing this since 10.0.2 launched?

[2022-11-17 18:18] maxiixam commented on #1856
I have not had it in quite a few versions myself. Seems to be gone.

[2022-11-17 19:15] W8ink opened #1980 "Essence forecast issue impacting recommendations based on 'time_to_max'"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-17 19:16] W8ink commented on #1980
first time creating report wrong category...

[2022-11-17 19:39] Hekili commented on #1856
Thank you!

[2022-11-17 19:39] #1856 closed, assigned to Hekili

[2022-11-17 22:20] clielausis commented on #1979
Zygor was just updated and I'm not getting errors from Zygor/Hekili now.  Other stuff, yes.  I might have a Titan Panel/Hekili issue, lol.

[2022-11-18 02:02] bandophahita commented on #1979
I think you might be right.  I updated and I'm not seeing the errors between these two addons now.

[2022-11-18 02:04] #1979 closed, assigned to Hekili

[2022-11-18 02:08] Fenix919 opened #1981 "[Retail] Fury Warrior will not show AOE recommendation when display mode set to Auto"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-18 02:26] Hekili commented on #1981
The other nameplates aren't on.

[2022-11-18 02:44] Wyste opened #1982 "ReAdd Bartender4 keybind support for other bars"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### WoW Ve

[2022-11-18 03:51] Schizkey opened #1983 "Assassination Rogue rotation doesn't prompt covenant version of Serrated Bone Spike. Talented version works fine."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-18 05:28] Fenix919 commented on #1981
ahh it seems to work now, sorry!

[2022-11-18 07:21] chiraino opened #1984 "Expel Harm (monk/windwalker) is given highest priority when it should be lowest"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-18 10:33] marekCs opened #1985 "Frost Mage - frequent stuttering of recommended spells"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-18 13:16] saminilison opened #1986 "i cant see the hekili icon around mini map"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-11-18 13:18] #1986 closed, assigned to Hekili

[2022-11-18 14:15] Hekili commented on #1982
I trust your judgment and testing on this.  If you want to submit a PR, I'll merge.

[2022-11-18 14:20] Hekili commented on #1985
Thanks for the report with loadout and snapshot.  I appreciate it.

If I understand correctly, you are saying that momentarily there will be no recommendations but they will reappear?  On the /hekili > Snapshots tab, do you have Auto-Snapshot enabled?   If it's enabled, that situation should result in a snapshot generated that doesn't have recommendations.

Alternatively, there may be a bug in the

[2022-11-18 14:35] jmusick opened #1987 "Protection Warrior never recommends Revenge"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-18 15:23] Wyste commented on #1987
Check to see if you have the 'Only Revenge when Free' option checked within the spec options. See screenshot below for finding it.

![image](https://user-images.githubusercontent.com/5103286/202739423-017170ec-8099-4a66-9046-2a0f21c6a689.png)

[2022-11-18 15:38] mightymist3ry opened #1988 "Evoker Pyre Priority bug/issue maybe?"
![evoker1](https://user-images.githubusercontent.com/46112381/202744516-c817e1de-e8cc-4aa0-87e1-c91275d22bc4.png)

### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.

[2022-11-18 15:38] Hekili commented on #1980
Thanks for the report.  I am testing a solution for this now; fundamentally, the problem is that the base UI does not give information about progress as Essence regenerates.  I mostly have it solved now and will post in the next release.

[2022-11-18 15:47] Hekili commented on #1988
Thanks for the Snapshot.  Fire Breath, Shattering Star, and Eternity Surge are much higher in priority than Pyre; it looks like Pyre is recommended as soon as they are out of the way in the snapshot you provided.

[code]

So far, this makes sense because you'll want to use those ASAP such that their cooldowns can start regenerating sooner.

For reference, the priority list works by recommending th

[2022-11-18 15:47] marekCs commented on #1985
No, it won't disappear completely. It's kind of like if I'm /stopcasting myself so that the same spell in the middle of the GCD ring that's showing starts all over again. It looks to me like the algorithm gets stuck in the middle of the GCD wait and restarts again, we're talking maybe a few milliseconds but it's crazy :) Ok when it's M+ I'll do a snapshot on some boss when it's cast. Or is there a

[2022-11-18 15:50] Hekili commented on #1985
Let's keep the two distinct issues you're reporting in separate paragraphs from here forward.

The state of the GCD is pulled directly from the game and updated independently of recommendations.  That could mean an ability is modeled incorrectly as to whether it is on GCD or not, so that initial recommendation expects to wait for GCD and then the actual GCD isn't applied.  Is it the same spell eac

[2022-11-18 15:56] Hekili commented on #1987
Yeah, they do have `free_revenge` enabled per the `settings` section of the snapshot.  That setting exists to help ensure you keep some Rage reserved for your mitigation abilities, but it's not intuitive.  @Wyste, we may want to think about revising that option to use a Rage reserve threshold instead of being simply on or off.

The snapshot also shows a warning for the Outburst buff being referenc

[2022-11-18 15:56] mightymist3ry commented on #1988
He was using the same version as i was this test was about 2 hours ago in the screenshots above, im not sure i can get a snapshot of that at this time unelss i recreated the issue exactly. i think the event is rare but happens sometimes

[2022-11-18 16:05] jmusick opened #1989 "Vengeance DH doesn't ever seem to want to cast Sigil of Flame"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-11-18 16:09] jmusick commented on #1987
I overlooked that setting for Revenge. Sorry

[2022-11-18 16:13] Wyste commented on #1987
Thanks jmusick. I agree with Hekili though, there's three approaches I feel here for long-term design intent.

1 - Remove the option entirely. DF's prot changes have made TClap substantially better and slowed the spec down. Having Shield Slam + TClap filler is more frequent and helps break up any Revenge spam seen. This really depends on simc APL's being optimal though.

2 - Change the option to o

[2022-11-18 16:16] Tzuyume commented on #1987
Sorry to butt in on another conversation but is it possible to do something similiar for Execute as it uses up all rage for execute and you get no rage for defensives if you follow hekili. Like an option to turn it off or maybe like wyste say add execute as a condition when you have too much rage and is able to execute.