[2020-10-15 15:39] Aphoristic opened #467 "Large Number of Error Messages"
**Describe the Bug/Issue**
Hekili causing a large number of errors.

**To Reproduce**
Steps to reproduce the behavior:
- Enter combat with an enemy.  Only tried as a fire mage so far.

**Expected behavior**
No errors.

**PUT ISSUE REPORT LINK HERE:** https://pastebin.com/NGdwXZXJ

**PUT ERROR MESSAGE(S) HERE:**
129x Hekili\State.lua:6233: bad argument #2 to 'max' (number expected, got function)
[s

[2020-10-15 15:46] Hekili commented on #467
Is that the entirety of the error message?

[2020-10-15 15:48] Hekili commented on #467
Fixed in 1.0.9.

[2020-10-15 15:48] #467 closed, assigned to Hekili

[2020-10-15 15:48] Hekili commented on #466
Please fill out a complete and proper ticket, thanks!

[2020-10-15 15:48] #466 closed, assigned to nobody

[2020-10-15 15:53] Hekili commented on #457
This will be in 1.0.10.

[2020-10-15 15:53] #457 closed, assigned to Hekili

[2020-10-15 16:03] kusosando commented on #465
1.0.8 looks like a winner!

On Thu, Oct 15, 2020 at 8:34 AM Hekili <notifications@github.com> wrote:

[2020-10-15 16:09] badinplaid737 opened #468 "Demonology LUA error"
Message: ...nterface\AddOns\Hekili\Classes\WarlockDemonology.lua:209: attempt to compare number with nil
Time: Thu Oct 15 11:04:30 2020
Count: 122
Stack: ...nterface\AddOns\Hekili\Classes\WarlockDemonology.lua:209: attempt to compare number with nil
[string "=[C]"]: ?
[string "@Interface\AddOns\Hekili\Classes\WarlockDemonology.lua"]:209: in function <...nterface\AddOns\Hekili\Classes\WarlockDemono

[2020-10-15 16:10] Hekili commented on #468
Where's the rest of the ticket info?

[2020-10-15 16:12] Hekili commented on #468
Should be fixed in 1.0.10 though.

[2020-10-15 16:12] #468 closed, assigned to Hekili

[2020-10-15 16:15] tharpy35 opened #469 "Moonfire/Starfire/Stellar Flare Refreshing too Soon"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.  - Up to date

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports. - Nope

**Describe the Bug/Issue**
A clear and concise description of what t

[2020-10-15 16:18] Hekili commented on #469
Please don't just delete the instructions.  Provide the snapshot information that the ticket asks for.

[2020-10-15 16:19] Hekili commented on #469
Also, I'm not sure why you think you need to wait until the last tick of Moonfire and Sunfire, but that's not correct.  The priority refreshes them when they're under 30% duration, at which point you do not lose any uptime.

[2020-10-15 16:28] Hekili commented on #469
I rechecked that Stellar Flame also refreshes at 30% without losing uptime.  There's no reason to wait until the last second.

[2020-10-15 16:28] #469 closed, assigned to Hekili

[2020-10-15 16:30] tharpy35 commented on #469
Yep, after review, that is my bad

Sent from Yahoo Mail on Android

  On Thu, Oct 15, 2020 at 12:19 PM, Hekili<notifications@github.com> wrote:

Also, I'm not sure why you think you need to wait until the last tick of Moonfire and Sunfire, but that's not correct. The priority refreshes them when they're under 30% duration, at which point you do not lose any uptime.

—
You are receiving this becaus

[2020-10-15 16:33] Hekili commented on #465
There will be more iteration on Affliction, but glad this is resolved.  Thanks for working through it.

Note that there's no real effort to set up Seed of Corruption for AOE yet.

[2020-10-15 16:33] #465 closed, assigned to Hekili

[2020-10-15 20:50] Macneel opened #470 "Affliction Warlock Rotation not showing Summon Darkglare or Dark Soul Misery"
Not exactly sure where to put this, but this is my first time using Hekii and unless it is intended, when i go thru the rotation and follow the recommended spells/abilities shown for an Affliction Warlock, it is currently never showing Summon Darkglare or Dark Soul Misery.

[2020-10-15 20:54] Hekili commented on #470
https://github.com/Hekili/hekili/wiki/Getting-Started

[2020-10-16 08:55] Lipstopica opened #471 "Frost Mage Winter's Chill issue"
I've noticed on Mage after using Flurry it will suggest to use Ice Lance which is correct because of the Winter's Chill target debuff which is 2 stacks so you would double Ice Lance but for some reason it suggest Frostbolt after the first Ice lance with 1 stack left of Winter's Chill. It does change to Ice Lance eventually. But it stays on Frostbolt for some time before switching.
Can be hard to f

[2020-10-16 13:44] cnantz opened #472 "Affliction lock"
Please describe your idea or feature and when it would be useful.
The Hekili rotation wants me to cast UA twice when you can only have one up at a time.

[2020-10-16 13:45] Hekili commented on #472
Please review the ticket instructions before submitting tickets.

But the answer is:  you have the Cascading Calamity Azerite and you're being prompted to trigger it.

[2020-10-16 13:45] #472 closed, assigned to nobody

[2020-10-16 14:06] NostraDavid opened #473 "ProtPally missing Crusader Strike - hammer icon instead?"
**BEFORE SUBMITTING AN ISSUE:**

This is for v9.0.1-1.0.11

**Describe the Bug/Issue**
When following the rotation, there's a hammer icon, without key binds. I don't recognize the icon, but I think it probably should be the Crusader Strike instead, because that is the only ability that is missing from the rotation.

**To Reproduce**
Steps to reproduce the behavior:
- Pick Protection Paladin
- Atta

[2020-10-16 14:07] Hekili commented on #473
The addon warns you that it's for current content (level 50+) when you first start combat.  There are abilities that change a lot over the course of leveling, and modeling them all would require tons of maintenance and take up CPU time at level cap.

[2020-10-16 14:07] #473 closed, assigned to Hekili

[2020-10-16 15:27] Lipstopica commented on #471
I'm guessing it's kind of meant to be like that because it's predicting at that time you can cast a Frostbolt and then Ice Lance right after, Because I am pretty sure the Ice Lance will reach the target before Frostbolt will, from further testing.

[2020-10-16 15:28] Hekili commented on #471
I'll do some testing again.  The addon does model having an Ice Lance in the air (consuming Winter's Chill).  But if Winter's Chill is consumed on Ice Lance cast, then I should undo that.

[2020-10-16 15:39] Lipstopica commented on #471
It's one of those where I had to record the gameplay and did see the Ice Lance hit the target first but there was one occasion where it suggest rune of power after the Frostbolt. Will check more myself when I can see if I can get that situation to happen again. But not actually sure if would or or not be a dps increase from how it is currently to if it was moved. I guess with it removed it would b

[2020-10-16 16:30] NostraDavid commented on #473
I figured out what went wrong in my case:
I had Hammer of the Righteous before the Level Crunch, but because of the level crunch, I lost that ability, which conflicted with Hekili - this didn't happen before the level crunch. I am now level 14 and just regained the ability, which made this bug click in my head.

My bad, apologies for the wasted time :)

PS: I'm a Starter Edition player, so I'll ne

[2020-10-16 17:14] Hekili commented on #473
Enjoy the Starter Edition.

Yeah, the addon generally assumes you have the full repertoire of level 50 skills available to you, and the way Blizzard gradually replaces some abilities over time doesn't line up with what the addon is looking for.  Any usage below the "current" content is at your own risk.  But I hope you're having fun!

[2020-10-16 17:15] slipkorn20 opened #475 "Warlock demonology's rotation priority is wrong, spell "implosion" never appears"
Warlock demonology's rotation priority is wrong, spell "implosion" never appears,

**https://pastebin.com/M1XnChf5**

[2020-10-16 17:17] Hekili commented on #475
Yup, the Warlock theorycrafters have communicated that AOE priorities are not-yet-implemented as of yesterday, but I'll incorporate changes as they come out.

[2020-10-16 17:24] #475 closed, assigned to Hekili

[2020-10-16 17:31] Hekili commented on #475
FWIW, the next build will have Implosion, new sims have come out.

[2020-10-16 18:02] MaddyLif3 opened #476 "Aff lock rotation issue"
Affliction lock rotation is still showing unstable affliction stacking with shards instead of suggesting malefic rupture to dump shards. You can only cast one unstable affliction now. Below is screenshot of the issue.

https://imgur.com/ksyRrj8

[2020-10-16 18:05] Hekili commented on #476
Fill out a proper ticket if you'd like to explore further, but you're probably wearing Cascading Calamity azerite and referring to when it procs your haste buff.

[2020-10-16 18:05] #476 closed, assigned to Hekili

[2020-10-16 18:17] MaddyLif3 commented on #476
ah good call, thank you for that!

[2020-10-17 00:09] Macneel commented on #470
Thank you so much for the Getting Started link.

In the Affliction Action List,

The criteria for both Step 12 : Call Action List darkglare_prep & 13: Dark Soul Misery are apparently not happening, preventing the recommendation to cast both those abilities in the rotation.

[2020-10-17 01:09] Hekili commented on #470
Please follow the ticket instructions and post a snapshot (instructions will explain) when this is happening for you.

Do you have Cooldowns toggled on?

[2020-10-17 01:09] #470 closed, assigned to nobody

[2020-10-17 13:58] Switchuser1 opened #477 "Shaman Flame Shock"
Shaman flame shock doesnt show to use Spell when switching to a new target

[2020-10-17 14:11] Hekili commented on #477
Submit a complete and proper ticket with a snapshot (see the instructions) for concerns about recommendations.  Thanks!

[2020-10-17 14:11] #477 closed, assigned to Hekili

[2020-10-17 19:05] Cristisnyke opened #478 "Spellflash Integration not working correctly"
First of huge thank your for your work on this project. You are awesome.

I have tried this on all the releases and beta releases you put out in the past couple of days. Cleared cache wtf, reinstalled addons from scratch. All that to rule out that possibility.

I did not notice anyone else reporting this here so far.

Description:
As of prepatch, Spellflash no longer seems to be working correctly

[2020-10-17 19:07] Hekili commented on #478
I haven't changed anything with the addon's implementation of SpellFlash, so SpellFlash may need updates.  I genuinely don't know.  It works fine for me with SpellFlashCore, though.

[2020-10-17 19:08] Cristisnyke commented on #478
I will do some more testing and come back on this ASAP. I just noticed an issue,
![image](https://user-images.githubusercontent.com/73036971/96351614-4d838a00-10c5-11eb-8d99-dfc31275d75d.png)
![image](https://user-images.githubusercontent.com/73036971/96351615-52e0d480-10c5-11eb-9748-5604fae4f9f5.png)

[2020-10-17 19:10] Cristisnyke commented on #478
I know this is a lot to ask but could you link me to your version of SFC in any way ?

[2020-10-17 19:17] Hekili commented on #478
## Interface: 80000
## Version: 8.0.5
## Author: BigRedBrent

[2020-10-17 19:54] Cristisnyke commented on #478
Wow Okay so, downloading and using bartender in addition fixed my issue, there is  something going on with the default blizzard interface that is causing my issue. Thank you very much.

[2020-10-17 19:54] Cristisnyke commented on #478
This was very helpful thank you.

[2020-10-17 19:56] Hekili commented on #478
Thanks for posting the solution. I guess default bars have changed enough that SF no longer works.

[2020-10-17 20:24] #478 closed, assigned to Hekili

[2020-10-17 20:24] #471 closed, assigned to Hekili

[2020-10-18 15:51] Devilwench opened #479 "Affliction AOE optimization"
Hi,

So currently, when the Vile Taint talent is taken, Hekili assumes that should be the first thing cast.  This should not generally be the case as you're setting up for as many Malefic Raptures as possible and it means that VT will fall off before you get to the end.  You'll generally want to put the other dots (at least agony/corruption, and potentially UA/Siphon depending on situation and tal

[2020-10-18 17:51] Hekili commented on #479
Many priorities are still being theorycrafted by their respective class/spec groups.  Everything you're saying is probably valid, but the way to prove it would be with some sim testing that can be translated into the addon.  You're welcome to do some of that testing and provide data or to wait for theorycrafters to sort more out.  Thanks!

[2020-10-18 17:51] #479 closed, assigned to nobody

[2020-10-18 21:11] seathasky commented on #442
This would be amazing!

[2020-10-18 21:14] seathasky commented on #479
The addon is literally not procc'ing malefic at all, even after casting all dots. The addon is just doing a bad job on a base spell.

[2020-10-18 21:16] Hekili commented on #479
I've played a fair amount of Affliction this week, and know that's not accurate. If you're actually seeing that happen, follow the instructions to fill out a complete ticket with snapshot and I'll be happy to investigate.

[2020-10-18 21:36] seathasky commented on #479
https://www.youtube.com/watch?v=XCAWO1rfLTc  video might be processing still. looks like a lot of shadow bolts to me. on latest version of hek as well. cleared wtf saved variables as well just to make sure.

[2020-10-18 21:37] Hekili commented on #479
I'll look, but you still need to read the instructions so you can submit the snapshot that allows for investigating the issue.

[2020-10-18 21:38] seathasky commented on #479
I'm not sure how to do that. Similar to what i just did here on a seperate ticket you mean?

[2020-10-18 21:39] Hekili commented on #479
When you go to submit an issue here, it starts prefilled with instructions.

[2020-10-18 21:40] Lipstopica commented on #479
In current APL without the azerite cascading calamity it wont use Rapture unless you have vile taint dot on the target, I believe.

[2020-10-18 21:41] Hekili commented on #479
Same deal, submit a ticket that has a snapshot of what you're describing. Thanks.

[2020-10-18 21:42] Lipstopica commented on #479
Oh no I am not putting it as a bug, just saying thats why its not showing Rapture. Which is why it's not suggested to use Hekili low levels

[2020-10-18 21:44] seathasky commented on #479
That's still buggy imo. And i've been leveling as a rogue from level 1 and have not had any rotation issues, it actually been updating as i get new spells. I'm gonna bug ticket it regardless.

[2020-10-18 21:45] Lipstopica commented on #479
I wouldn't say it's buggy. It's the APL. Maybe a suggest to change/add in a function to allow it without vile and azerite enabled on low levels.

[2020-10-18 21:45] Hekili commented on #479
Yeah, low levels and short trash fights are not the best situations for testing. Snapshots will help clarify what's happening exactly, but it's most likely a matter of pooling shards. You wouldn't waste UA on something dying in a GCD and you wouldn't dump Raptures prematurely either. But there's room to enable such behavior on enemies that are short-lived (but it would not sim as optimal).

[2020-10-18 21:46] seathasky commented on #479
I'm not sure what snapshots are, i'm creating a ticket now, this is my first time posting for this addon, any help is appreciated.

[2020-10-18 21:46] Hekili commented on #479
And anything sub-50 is explicitly not supported because abilities change significantly as you level in most cases.

[2020-10-18 21:47] seathasky commented on #479
Or should i not bother since its not a level 50 toon? Let me know.

[2020-10-18 21:49] Hekili commented on #479
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2020-10-18 21:49] Lipstopica commented on #479
When you made the ticket, it should've gave you instructions in the actual box on how to send the details needed.

[2020-10-18 21:49] seathasky commented on #479
i see it now thanks!

[2020-10-18 22:06] seathasky opened #480 "Affliction Lock Malefic Rapture doesnt proc (lower level)"
**Describe the Bug/Issue**
 Malefic Rapture doesnt proc on addon after all requirements met.

**To Reproduce**
Steps to reproduce the behavior:
Casting all dots on target.

**Expected behavior**
 Malefic Rapture proccing after all dots put on target. Some other user in another ticket said you need an azerite

**Screenshots**
https://www.youtube.com/watch?v=XCAWO1rfLTc

**Issue Reporting tab:**

ht

[2020-10-18 22:06] seathasky commented on #479
updated https://github.com/Hekili/hekili/issues/480

[2020-10-18 22:09] Hekili commented on #480
That snapshot was not taken at the time you thought Malefic Rapture should've been recommended. You're not in combat.

[2020-10-18 22:11] seathasky commented on #480
You can see in the youtube video clearly shows the issue but heres another snap https://pastebin.com/iW8Hk89s i'm not sure why that one says i was out of combat

[2020-10-18 22:13] seathasky commented on #480
Another https://pastebin.com/W8Tt2xH2

[2020-10-18 22:14] Hekili commented on #480
You are not in combat in that snapshot.

[2020-10-18 22:14] TooUnskilled opened #481 "Brwmaster Monk has permanent no 1-2 priority a passive talent ability (judging by the icon)"
![WoWScrnShot_101920_001046](https://user-images.githubusercontent.com/49813844/96387063-ce16b900-119f-11eb-8b6b-c399365f08fc.jpg)

It's Special Delivery. For some reason it reads as if it's on the no1 slot in the interface as well, even if that slot has nothing in it.

[2020-10-18 22:15] Hekili commented on #481
I have no idea what you mean, but if you submit a complete ticket following the instructions I might be able to investigate.

[2020-10-18 22:16] seathasky commented on #480
https://pastebin.com/GujnPxhS

[2020-10-18 22:25] TooUnskilled commented on #481
Actually never mind, it was a different ability with the same icon, but even though it was missing from my interface, it wasn't glowing in the spellbook. Just chalk it up to Blizz bugs :)

By the way, I got here this way:
1) Report a bug on Twitch client
2) "Issues" on Hekili's page on curseforge
3) Issues tab on Github

Unless I just can't see it, there isn't a template for reporting bugs shown s

[2020-10-18 22:25] #481 closed, assigned to nobody

[2020-10-18 22:26] Hekili commented on #481
Thanks for following up. The ticket form starts prepopulated with instructions, you'd have to delete them for them not to be included. Take care!

[2020-10-18 22:27] Hekili commented on #480
That one works. But yes, the short answer is that because the addon and priority is designed for 50+, the priority is written assuming you have a talent you don't yet have.

You would need to write a custom priority or just level until you have more talents before the issue will resolve. Thanks!

[2020-10-18 22:27] #480 closed, assigned to Hekili

[2020-10-18 22:33] seathasky commented on #480
I know it has nothing to do with spells I do not have.
![Screen Shot 2020-10-18 at 6 25 26 PM](https://user-images.githubusercontent.com/17598024/96387353-5fba0280-116f-11eb-98fd-1fe47173dde0.png)

Basically the addon is all builders atm no spenders.  EVEN at low levels, I tested on my wifes warlock which has seed of corruption  spender and it still throws back the same Shadow Bolt bs. It shouldnt

[2020-10-18 22:34] TooUnskilled commented on #481
Oh wow, so it is.
I wasn't logged in to GitHub when I got here. I clicked on create new issue, and that took me through the login process. Then after logging in I was thrown into the "new post" page, but my post wasn't prepopulated. Maybe it only happens like that?

Anyway, thanks for the addon since I'm here, I love it <3

[2020-10-18 22:42] Lipstopica commented on #480
Well seed of corruption will only be used on +2 targets, and if it isn't well then report that as bug with the snapshots and stuff.

The video you linked shows it suggesting the dots including UA. The only spender you have is Rapture... which isn't meeting the requirements of the APL. If you don't have Vile Taint talent, it's not going to suggest Rapture. It's the way the APL/Addon work.
It's usin

[2020-10-18 22:47] seathasky commented on #480
Doesnt change the fact that it's still the incorrect rotation but I digress, it's not for low levels. Just annoying since he knew i was low level from the get go and had me do snapshots to then come back and tell me i'm low level and to fuck off. So yea i'll do that now.

[2020-10-18 22:55] Lipstopica commented on #480
Well if you message me on discord (Snappi#2212), I can try and help you set up a custom priority until you get the talent.

[2020-10-18 22:59] Hekili commented on #480
I told you that if you provided the snapshot, I could tell you why.  I answered, perfectly amicably, that because the addon and priority is designed for 50+, the priority is written assuming you have a talent you don't yet have.

Lipstopica's explanation is mostly right, though I'd clarify that Malefic Rapture doesn't rely entirely on Vile Taint specifically.

![image](https://user-images.githubus

[2020-10-19 00:14] seathasky commented on #480
Well, maybe I read you wrong Hek, just seemed like that from my angle. Thanks for the help.

[2020-10-19 00:23] Ramned opened #482 "2+ Man Hekili Shaman Elemental Bug"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-10-19 00:30] Hekili commented on #482
?

[2020-10-19 11:38] Snichy opened #483 "Elemental Shaman - Echoing Shock then Flame Shock?"
Not sure if this is intended, a bug or my understanding of the rotation is way off.

Quite often, after it recommends I use Echoing Shock (which duplicates the next ability), the next recommendation in the queue is to cast Flame Shock (DoT).  I would have thought this was a waste of the proc as it simply re-applies the DoT and we gain no more benefit than a couple of seconds on the DoT, whereas af

[2020-10-19 12:00] Hekili commented on #483
Elemental Shaman will definitely see some revision in the near future.  You're welcome to toy with the priority (see /hekili > Priorities > Elemental), but otherwise we'll both need to wait for the spec's theorycrafters to update SimulationCraft.

(If it takes much longer, I'll look at porting SE&L or Icy-Veins priorities.)

[2020-10-19 12:00] #483 closed, assigned to nobody

[2020-10-19 12:00] #482 closed, assigned to Hekili

[2020-10-20 01:24] avrosati opened #484 "Massive Number of LUA errors on latest patch"
**Update: I installed latest version. LUA errors still registered and recorded by BugSack.**
Hekili error issue reporting info:

build: v9.0.1-1.0.13
level: 50 (50)
class: PRIEST
spec: shadow

talents: ancient_madness
    auspicious_spirits
    body_and_soul
    damnation
    mind_bomb
    searing_nightmare
    unfurling_darkness

covenant: none

azerite: azerite_empowered = 3
    azerite_globules

[2020-10-20 01:32] Hekili commented on #484
Please post a complete ticket with all the required information.  (For example, I can't see what version you are using here.)

[2020-10-20 11:47] seathasky commented on #480
![Screen Shot 2020-10-20 at 7 43 23 AM (2)](https://user-images.githubusercontent.com/17598024/96581880-7dd74e00-12a8-11eb-8561-cfaaec037913.png)

Thanks for the update, works good at lower levels!

[2020-10-20 14:32] FrostSTeeL opened #485 "Crippling poison keeps getting suggested"
Even though i don't have the ability yet, it keeps getting suggested. Disabling Crippling poison doesn't help.

[code]

[2020-10-20 14:34] Hekili commented on #485
Yep, low levels aren't actively supported.

You can disable the "Poisons" or "Apply Poisons" ability in /hekili > Abilities to make it go away.

[2020-10-20 14:34] #485 closed, assigned to Hekili

[2020-10-20 15:01] FrostSTeeL commented on #485
Thank you!

[2020-10-20 19:35] #159 closed

[2020-10-20 23:11] avrosati opened #486 "Additional LUA errors in latest version for pre-patch"
**Describe the Bug/Issue**
My LUA bug collector addon reported performance degrading issues due to a high volume of LUA errors.

**To Reproduce**
Open LUA bug collector addon (i.e., BugSack)

**Expected behavior**
No LUA errors being registered and recorded.

**Screenshots**
N/A

**WHEN SUBMITTING AN ISSUE:**

Please provide the following information.  Leaving it out may result in your ticket bein

[2020-10-21 00:17] mon1800 opened #487 "Demon Hunter-Unbound Chaos"
you may have been asked this, and apologies if you have answered already, but do you plan on adding Fel Rush to the rotation of hekili with the talent Unbound Chaos? Im reading it is the current go to spec but there is no rotational suggestion to Fel Rush when it is buffed. Thanks for all you do in advance.

[2020-10-21 00:35] Hekili commented on #487
Check out your spec options.

[2020-10-21 00:35] #487 closed, assigned to nobody

[2020-10-21 00:35] #484 closed, assigned to nobody

[2020-10-21 00:36] Hekili commented on #486
Should be resolved in 1.0.14.

[2020-10-21 00:36] #486 closed, assigned to Hekili

[2020-10-21 00:39] mon1800 commented on #487
it says for momentum? optimal build doesnt run momentum but undound chaos? is that an error in tooltip or am i just being too literal?

[2020-10-21 00:47] Hekili commented on #487
Click it.

[2020-10-21 00:48] mon1800 commented on #487
i did. works great just making sure TY SIR!

[2020-10-21 01:06] oforia3 opened #488 "Brewmaster Monk only suggesting Blackout Kick"
build: v9.0.1-1.0.13
level: 16 (16)
class: MONK
spec: brewmaster

talents: eye_of_the_tiger

covenant: none

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: ascetics_cord = 1
    ascetics_cuffs = 1
    ascetics_handguards = 1
    eternal_will_of_the_martyr = 1
    inherited_cape_of_the_black_baron = 1
    lasting_feralheart_spaulders = 1
    mash_tun_mixer = 1
    pr

[2020-10-21 01:13] Hekili commented on #488
Level 16 is not supported.

[2020-10-21 01:13] #488 closed, assigned to Hekili

[2020-10-21 07:58] iPisces77 opened #489 "A priority bug for windwalker"
Action sequence bug after windwalker uses the Eye of the Tiger talent
just like this
![Snipaste_2020-10-21_15-56-11](https://user-images.githubusercontent.com/39837211/96690226-fe37a500-13b5-11eb-9916-d7f2433bb98c.png)
Mastery of windwalker requires us to use a different skill than the last one.

[2020-10-21 11:10] Hekili commented on #489
Hi, thanks for reporting. Please revisit the ticket instructions about including a snapshot (not screenshot) so I can troubleshoot. Thanks!

[2020-10-21 11:54] Hekili commented on #489
A quick look based solely on talents shows that this is intentional in the opener.

[code]

The last entry for Tiger Palm specifically does not check combo_strike.

[2020-10-21 12:11] Hekili commented on #489
Example showing sim opening with 2x Tiger Palm:
![image](https://user-images.githubusercontent.com/9438134/96717753-f73c7280-1374-11eb-8d0a-0be5b6c73afd.png)

[2020-10-21 12:47] iPisces77 commented on #489
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.1-1.0.14
level: 50 (50)
class: MONK
spec: windwalker

talents: ascension
    dance_of_chiji
    diffuse_magic
    eye_of_the_tiger
    ring_of_peace
    tigers_lust
    whirling_dragon_punch

covenant: none

azerite: azerite_empowered = 3
    dance_of_chiji = 1
    elemental_whirl = 1
    fury_of_xuen = 1
    gemhide = 2
    gu

[2020-10-21 12:53] iPisces77 commented on #489
Looks like I got it. Tiger Paw*2+Expel Harm, exactly five chi.

[2020-10-21 17:11] RSGriggs commented on #442
dglynch, I couldn't agree more with the need for this.  I play a lot of arena and believe this would add a lot of value, to include providing insights on when to use SoV as a HP dump based on being targeted or proximity to benefit from the armor buff.  Yesterday, I began trying to work from the prot pally file to generate a HPal profile, but am new to the libraries and how to nest them, and have t

[2020-10-21 19:26] seathasky commented on #442
Now that Hpals have an actual dps rotation this would be soo dope!

[2020-10-21 21:01] tharpy35 opened #490 "Balance Druid Shadolands Beta"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version. yes

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports. no

**Describe the Bug/Issue**
A clear and concise description of what the bug is.
Bal

[2020-10-21 21:49] Hekili commented on #490
I need the snapshot.

[2020-10-21 21:51] tharpy35 commented on #490
How do i get that?

Sent from Yahoo Mail on Android

  On Wed, Oct 21, 2020 at 5:50 PM, Hekili<notifications@github.com> wrote:

I need the snapshot.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-21 21:52] Hekili commented on #490
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2020-10-22 00:11] Hekili commented on #490
Resolved.

[2020-10-22 00:11] #490 closed, assigned to Hekili

[2020-10-22 00:27] #489 closed, assigned to Hekili

[2020-10-22 02:38] shadagada opened #491 "Arcane mage rotation is not correct"
Hi Hekili,

the arcane mage rotation is not correct. According to icy viens and wowhead guides during the "conserve" phase we should be saving up our rune of power and touch of the magi, and using them together in order to benefit from a "mini-burn' the addon does not recommend this, rather it uses the CDs on cooldown. It seems that the addon is having trouble with understanding the idea of the bu

[2020-10-22 02:40] Hekili commented on #491
Yes, the arcane mage priority will be updated due to hotfixes.

No, the addon doesn't have trouble differentiating burn and conserve.

In the future, please follow the ticket instructions to provide the required information when reporting a priority issue.  Thanks!

[2020-10-22 02:40] #491 closed, assigned to nobody

[2020-10-22 03:10] razko opened #492 "Feature request: custom "Ignore these NPCs for AoE" list"
I think it'd be really cool if we could have a list where we add NPCs by ID that makes the "automatic" switching ignore them for its AoE detection purposes. From reading changelogs for recent versions, I understand such a list already exists internally, there's just no interface for it.

It might even make sense to make this an extra option for every spec individually (i.e. put it into the Display

[2020-10-22 03:21] Hekili commented on #492
This seems pretty reasonable.  I've thought about making the NPCID filter ignore itself if/when you are targeting something with that NPCID (i.e., if you're targeting a cyst, maybe you're into popping cysts).

Making it editable in-game is totally reasonable, but would take more time.  What is the NPCID of the cyst?

[2020-10-22 04:20] razko commented on #492
Grabbed it from a random log: https://www.wowhead.com/npc=161408

Btw, for what it's worth, usually if you're targeting cysts, you're just killing them with single target spells anyway. In best case the boss will be dragged near them and walk by momentarily so you might get to press a cleave spell like once or twice, but he's never really explicitly tanked near a cyst for dps purposes, so I don't

[2020-10-22 15:56] Peregran opened #493 "Using Spellflash functionality - Improving it?"
Please describe your idea or feature and when it would be useful.
I'm using the spellflash functionality and the flashing of the action bar icons is hard to see with my interface.   I can barely see them flash the color they are supposed to.   Is there a function I'm missing or if not a way to give the user some alternatives to be able to see the flashing better.

Thanks in advance!

- Richard

[2020-10-22 20:57] codecrete-ross opened #494 "Cooldowns - Can we get a "Show Separately" checkbox for Cooldowns?"
Having a separate display for cooldowns would be a game-changer for this addon.

As much as I love Hekili, it's a little annoying having cooldowns taking up space in my primary display when I know that I'm going to be saving them for an upcoming fight.

I realize we can toggle cooldown display, but having a separate display is a quality of life change that I think would add a significant degree of

[2020-10-23 18:15] tflo opened #495 "Add a trinket/utility toggle"
Please, please add a general (class-agnostic) toggle for trinkets/utilities, similar to the existing potions toggle.

I have macroed my trinkets to the most appropriate CDs, and I’m not a cutting-edge-level player where a suboptimal trinket usage would matter.

But I have 11 toons, and it is really annoying that I have to find and disable the utility/trinket usage in the action lists for each and

[2020-10-23 18:16] RyanMcCullough1997 opened #496 "[Request] WW Monk - SEF charged ability option"
WW Monk has 2 charges on their DPS cooldown, Storm, Earth, and Fire. Would there be a way to have Hekili group the first charge with your normal rotation and leave the second charge up unless you have cooldowns enabled? Ideally the first charge would be recommended just prior to using Fists of Fury or as an opener.
This way you could still have one charge saved for DPS windows like bloodlust.

You

[2020-10-23 19:05] Hekili commented on #495
You could disable the trinkets themselves rather than their priority entries.

[2020-10-23 22:53] Monkzuk opened #497 "Spell queue disappearing depending on how much holy power i have"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-10-24 08:23] RyanMcCullough1997 opened #498 "Spell Queue Disappearing as WW Monk"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-10-24 11:09] Sratarak opened #499 "Prompting to constantly replace Windfury Totem when 2 enhancement Shaman are in the same group"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When 2 enhancement Shaman are in the same group, hekili will c

[2020-10-24 20:54] Hekili commented on #499
This will be fixed in the next build.

[2020-10-24 20:54] #499 closed, assigned to Hekili

[2020-10-25 18:13] codecrete-ross opened #500 "Discipline Priest rotation. I see a closed issue for this, but I can say with certainty that there is demand for it."
I'm not really sure what to say to add to the discussion, but we want this feature. Honestly, all healer classes would benefit from Hekili support, especially with the changes in Shadowlands.

[2020-10-25 21:29] NavarJo opened #501 "BM Hunter"
build: v9.0.1-1.0.16
level: 50 (50)
class: HUNTER
spec: beast_mastery

talents: animal_companion
    killer_cobra
    one_with_the_pack
    posthaste
    stomp
    thrill_of_the_hunt
    trailblazer

covenant: none

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: none

legendaries: none

itemIDs: none

settings: aoe = 3
    buffPadding = 0
    custom1Name = Custom 1

[2020-10-25 22:17] Hekili commented on #501
?

[2020-10-26 02:42] FrostSTeeL opened #502 "Can't cast a spell from spellbook"
When i try to use a spell from my spell book (Pick Lock in this case) it gives me this error and won't let me cast the spell

[code]
[code]
_Edit: Formatting_

[2020-10-26 13:26] nvillahermosa opened #503 "Paladin: Judgment Holy Power generation doesn't account for Sanctified Wrath talent"
**Describe the Bug/Issue**
Version v9.0.1-1.0.16
PaladinProtection.lua, line 913: `gain( buff.holy_avenger.up and 3 or 1, "holy_power" )`

The calculation above doesn't account for the Sanctified Wrath talent. For Prot, if taken, during Avenging Wrath Judgment generates +1 power (so 4 during Holy Avenger, 2 otherwise). This leads to the addon recommending actions that overcap HP.
See https://www.w

[2020-10-26 16:46] penguinsane commented on #502
I have the same issue, but here is my error:

[code]

[2020-10-26 16:48] Hekili commented on #502
Can you replicate this with all other addons except BugSack/BugGrabber disabled?

[2020-10-26 17:02] FrostSTeeL commented on #502
I don't have BugSack/BugGrabber but it sill happens

[2020-10-26 17:14] Crelam commented on #502
You misunderstand.  Hekili is asking you to disable all addons except Hekili, Buggrabber, & Bugsack.  If you don't have Buggrabber & Bugsack, please install them.  These addons capture error messages.

https://www.curseforge.com/wow/addons/bug-grabber
https://www.curseforge.com/wow/addons/bugsack

[2020-10-26 17:29] FrostSTeeL commented on #502
Ok sorry i misunderstood. I installed the BugGrabber and BugSack.

**When i have everything enabled i get this;**

[code]

**When i disable BugGrabber and BugSack but keep everything else**, it actually works, it didn't work yesterday and i don't think ElvUI got an update.

**When i disable everything but BugGrabber and BugSack,** No bugs either

I tried everything again, but now it seems everythi

[2020-10-26 18:56] Hekili commented on #502
Sorry, to be more clear:  I'm looking at whether, with only Hekili + BugSack + BugGrabber, you get the error.

This looks like a taint error, and a problem with taint errors is that they falsely attribute blame to the wrong source.  My addon literally does not touch the spellbook or its clickable elements in any way.

[2020-10-26 19:16] Hekili commented on #503
Fixed in next build.  You're welcome to make adjustments to the module or the priority and submit your changes as well.

[2020-10-26 19:16] #503 closed, assigned to Hekili

[2020-10-26 19:17] Hekili commented on #501
Sorry, you haven't presented an issue so I'm closing this ticket.

[2020-10-26 19:17] #501 closed, assigned to Hekili

[2020-10-26 19:17] Hekili commented on #500
I'm still open to adding healers, when everything else feels stable enough to spend time on that.  Maybe soon.

[2020-10-26 19:17] #500 closed, assigned to nobody

[2020-10-26 19:20] penguinsane commented on #502
I get the same results as FrostSTeeL with just Hekili, Bugsack, and Buggrabber. Sometimes it resolves itself, sometimes it doesn't. I understand that it may not be specifically an issue with your addon, but this is an issue that only recently popped up in the last few versions of Hekili, when previously both Hekili and Bugsack/grabber worked fine together. I am not sure which author would need to

[2020-10-26 19:28] Hekili commented on #502
It's not an interaction between BugSack/BugGrabber and Hekili.  BugSack/BugGrabber are just addons that make it easy to catch error messages.  Please don't assume that I'm saying something I'm not.

What I am saying is, the situation that causes this error isn't something that the addon does.  It might not even be another addon -- it might be a bug in the default UI.  In order to find out, I need

[2020-10-26 19:33] Hekili commented on #497
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2020-10-26 20:38] FrostSTeeL commented on #502
As i said above, i tried it in total of 6 times in these combinations, 2 times all the addons enabled, 2 times just hekili and bugsack+buggrabber, 2 times all addons enabled without bugsack and buggrabber. In those 6 tires, sometimes it gives the error, sometimes it does not no matter what the addon combinations are. Are there anything else i can do to help you ?

[2020-10-26 20:47] Hekili commented on #502
What you said there doesn't match what you said above, but that's okay.  I'll test a fix and we'll see what happens from there.  Thanks.

[2020-10-26 21:40] Lipstopica opened #504 "Frost Mage - Ice Lance"
Pretty sure this can't be helped because of flight times etc etc but I'll give it a shot and see if you can see anything.
I did take a snapshot but it didn't end in log with ice lance even though it was paused on Ice Lance so not sure if I missed it... again. Mostly all during Lust but can happen without Lust.

https://pastebin.com/UHQaNpf0

Basically it's suggesting Ice Lance more than it should,

[2020-10-26 21:45] Hekili commented on #504
In your snapshot, the first recommendation is Ice Lance so I'm not sure about that part of your comment.

Your snapshot has no Ice Lance in-flight, and so it seems like Ice Lance should be a fine recommendation to consume that last stack.

Did you have an Ice Lance in the air when you snapshotted?

[2020-10-26 21:46] Lipstopica commented on #504
Yeah I had already pressed the Ice Lance, so it was travelling to the target as it suggested a third which I snapshotted

[2020-10-26 21:57] Lipstopica commented on #504
https://pastebin.com/kbD68fmX

Not related to that ice lance but I also notice sometimes on ice lance and frostbolt its got the "delay" overlay on it so its darkened. Not sure why that happens.

[2020-10-26 21:59] Hekili commented on #504
One issue per ticket.  But any delay means that the criteria to cast the spell aren't met until the delay is up.

[2020-10-26 22:00] Lipstopica commented on #504
Got another snap I believe of the issue of ice lance

https://pastebin.com/T4u3f0DR

![ssss](https://user-images.githubusercontent.com/48372691/97233352-bc07cc80-17d6-11eb-878f-5b4375488f29.png)

[2020-10-26 22:01] Hekili commented on #504
I just double-checked; if Ice Lance was in-flight, the addon had not detected it.  `remaining_winters_chill` is reduced by 1 if there's an Ice Lance in-flight.

[2020-10-26 22:03] Lipstopica commented on #504
![sssssss](https://user-images.githubusercontent.com/48372691/97233556-0e48ed80-17d7-11eb-937c-fcc1fc0ace4f.png)
Thats the overlay for the last message I sent here

[2020-10-26 22:04] Hekili commented on #504
Yeah, that information is always in the snapshot.  I'll see if Ice Lance impacts aren't being queued up, but that would seem pretty odd.

[2020-10-26 22:04] Lipstopica commented on #504
shows remaining 1 but there is no stack of winters chill on the target as u see in the pic

[2020-10-26 22:11] Hekili commented on #504
Yeah, those queued impacts don't seem to be successfully removing Winter's Chill stacks.  I'm investigating.  Thanks.

[2020-10-26 22:11] Lipstopica commented on #504
Good luck ^^

[2020-10-26 22:12] Hekili commented on #504
It actually looks like a pretty simple error.  Will roll any fixes into the next build.

[2020-10-26 22:21] MSgtShadow opened #505 "Hekili broken on certain characters and works on others"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

I have tried various versions of the addon between the 10/13 release and the 10/25 release. Issue exists with the latest release version and beta1 and beta2 versions.

2.  Check to see if someone else

[2020-10-26 22:26] Hekili commented on #505
Does it go away if you equip an offhand weapon?

[2020-10-26 22:58] KestrelWild opened #506 "script ran too long Error"
I have been getting some huge client freezes in the middle of combat lately (like 30 seconds long and come back dead kind of thing). Turned on bug grabber/sack and it caught this error when I experienced a freeze. Also adding the copy paste from Hekili Issue Reporting, but I have had this happen on multiple toons, not just the mage. Not sure what the lines about Adibags are about. Seems odd - is i

[2020-10-26 23:04] Hekili commented on #504
Incoming fix in next beta build.

[2020-10-26 23:04] #504 closed, assigned to Hekili

[2020-10-26 23:06] Hekili commented on #506
Thanks, you're not the first person to report this, but narrowing down the source has been challenging.

Can you think more about when it happens?  Are you button mashing to cast something while another cast or channel is finishing?

The next build will force the addon to abort its recommendations if CPU utilization is high.

[2020-10-26 23:20] KestrelWild commented on #506
I really can't think of anything specific, though I do tend to button mash :p Would it help to keep running it and getting new error messages? Or will it always be the same message. Anything else I can do to help figure it out?

[2020-10-26 23:23] Hekili commented on #505
Will baby-proof this function in the next build.

[2020-10-26 23:23] #505 closed, assigned to Hekili

[2020-10-26 23:24] Hekili commented on #506
No, it's just a matter of looking for circumstances where it tends to happen more than others.  I'll keep investigating, and the next build should have controls to keep certain loops from running endlessly.

[2020-10-26 23:29] KestrelWild commented on #506
Oh. One possible thing is that I *think* it either started happening or is happening more often after I switched from Automatic to Fixed Dual Display. I just can't remember for sure if it happened before I switched so I'm not sure how useful that observation is. Going to switch back to automatic and see if it keeps happening.

[2020-10-26 23:39] KestrelWild commented on #506
Nope still happens. Nevermind!

[2020-10-26 23:59] Hekili commented on #506
1.0.17-beta3 is being built right now.  Let me know if it performs any better.

[2020-10-27 00:18] parkerstan93 opened #507 "Prot warrior Auto Attack"
Prot warrior auto attack has started showing up but there isnt an option dissable it under abilities

[2020-10-27 00:39] Hekili commented on #507
1. Please follow ticket instructions when submitting a ticket.

2. Use your pause keybind (ALT-SHIFT-P by default) and put your mouse over the icon to see what it actually is -- there's no "auto-attack" option in the addon.

[2020-10-27 01:18] Lipstopica commented on #504
The issue still happens

https://pastebin.com/SYLfrsW3
https://pastebin.com/uPgQDvxj

[2020-10-27 01:25] KestrelWild commented on #506
been running it since you posted and no freezes/errors/crashes so far!

[2020-10-27 01:31] Hekili commented on #504
Neither of those are showing an Ice Lance in-flight, which means the Ice Lance impact is estimated to have already happened and expired when it hasn't actually hit yet.  I can account for that, to some extent, but travel time is always an estimation.

Do you notice any differences based on how close you are to your target?

[2020-10-27 01:33] Lipstopica commented on #504
only a slight suggestion of ice lance when closer to the target. Not as long as longer distance

[2020-10-27 01:34] Hekili commented on #504
Sorry, can you explain that differently?

[2020-10-27 01:34] Lipstopica commented on #504
Yeah, it still appears but not like when it's at a further distance. It doesn't appear on the icon for as long. Just at the very start. It's like a fast flicker

[2020-10-27 01:40] SARCaelvin opened #508 "BM Hunter: Bloodshed Talent Issue"
**Describe the Bug/Issue**
The error apears in bugsack when I click on a unit and have the talent Bloodshed selected for Beast Mastery

**To Reproduce**
Steps to reproduce the behavior:
- Select Beast Mastery Spec on hunter
- Have the Bloodshed Talent on the last row selected
- Target an ememy or have hekli  turned on
- The addon breaks and will not work

**Expected behavior**
Able to use the addo

[2020-10-27 01:43] Hekili commented on #508
Thanks, will be fixed in the next build (later tonight).

[2020-10-27 01:43] #508 closed, assigned to Hekili

[2020-10-27 01:47] KestrelWild commented on #506
I just got this error, but no freeze:

1x Hekili\Events.lua:2223: attempt to perform arithmetic on local 'maxR' (a nil value)
[string "@Hekili\Events.lua"]:2223: in function <Hekili\Events.lua:2074>
[string "@Hekili\Events.lua"]:2352: in function `handler'
[string "@Hekili\Events.lua"]:55: in function <Hekili\Events.lua:49>

Locals:
event = "COMBAT_LOG_EVENT_UNFILTERED"
_ = 1603763226.682000
subty

[2020-10-27 01:50] Hekili commented on #506
Unrelated to this ticket, but I'll look at it.

[2020-10-27 01:50] KestrelWild commented on #506
oops, sorry. i can make a new ticket if you want?

[2020-10-27 03:08] Hekili commented on #504
Alright, as of -beta4, those Ice Lance impact events should survive a little longer than before, so it should be much less often that you'll see Ice Lance pop-in.

[2020-10-27 13:53] Hekili commented on #507
(It's probably Devastate.)

[2020-10-27 13:53] #507 closed, assigned to Hekili

[2020-10-27 14:40] Hekili commented on #506
The 'maxR' issue should be fixed in beta4.

Can you post a fresh BugSack + Issue Reporting tab information if you see the "script ran too long" again after updating to beta4?  I think I pinned down the issue, but again, it's *never* happened for me so I can't confirm on my own.

[2020-10-27 15:12] lorientalas commented on #442
I just made file for Holy. It has minimum functionality, but seems ok.
@Hekili May I share it?

[2020-10-27 15:19] Hekili commented on #442
Sure.

[2020-10-27 15:47] lorientalas commented on #442
Thx!
[Hekili/Classes/PaladinHoly.lua](https://github.com/lorientalas/WoW_AddOns/blob/main/Hekili/Classes/PaladinHoly.lua)
Also needed to add:
`Classes\PaladinHoly.lua`
in Hekili.toc @39:

[2020-10-27 16:22] KestrelWild commented on #506
will do

[2020-10-28 08:01] Shadowjab opened #509 "Shadow Priest Void Torrent"
Please describe your idea or feature and when it would be useful.
Hi! Thank you for your good work.

Void Torrent applies Devouring Plague itself, so seems pointless being suggested cast a Devouring plage always before Void Torrent.

And in the opener, Shadow priest with Void Torrent is like ( Vampiric Touch (pre-cast) > Azerite essence > Use Items > Shadowfiend > Void Torrent > Void Eruption > Vo

[2020-10-28 12:44] Hekili commented on #509
I'll look at it, but it'd be more useful to have an actual link to your sim to have talents, etc.

[2020-10-28 13:13] Hekili commented on #509
I found that there was a change to Void Torrent's conditions that I overlooked, so I'm reimporting the simc profile to make sure all updates are included.  The result will look more like this (with Misery and Void Torrent):

![image](https://user-images.githubusercontent.com/9438134/97440438-d7b9c280-18fd-11eb-898c-b9fb2cd9bc16.png)

Thanks for the report.

[2020-10-28 14:05] Shadowjab commented on #509
Thats looks wonderful.

Thanks mate. Youre awesome.

[2020-10-28 22:44] RSGriggs commented on #442
Lorientalas.  First, thank you for taking this on.  I added the PaladinHoly.lua file to the classes folder and inserted "Classes\PaladinHoly.lua" at line 39 in Hekili.toc; but the Holy profile is not being recognized within the options panel, nor is is loading.  Any adice.

[2020-10-28 22:50] seathasky commented on #442
Unfortunately same is happening for me. Can't seem to get it to work

[2020-10-28 22:54] Hekili commented on #442
I haven't done any testing and noted a few things I'd need to clean up (I can tell that this was based off the Protection module).  But the file loads and runs for me without issue.

If you're testing on beta right now, a lot is broken on beta right now so that could be your issue.

[2020-10-29 01:24] lorientalas commented on #442
The only issue I catch at first loading new char after cleaning saved variables(at 2nd login all is correct).
I don't know if my changes relates to it.
Errors:
Message: Interface\AddOns\Hekili\Core.lua:1243: attempt to index local 'pack' (a nil value)
Time: Thu Oct 29 04:08:44 2020
Count: 1
Stack: Interface\AddOns\Hekili\Core.lua:1243: attempt to index local 'pack' (a nil value)
[string "=[C]"]: ?

[2020-10-29 15:19] tflo commented on #495
This would be the same or even more work, no? (Unless all toons have the same trinkets.) Or am I missing something obvious?

[2020-10-29 15:45] Hekili commented on #495
A toggle implies that you want to be able to quickly and easily turn them off/on for good reasons in combat.  That doesn't sound like your use-case, here.

I don't think it's exceptionally burdensome to go into the trinket's options and hit disable when you acquire a new trinket that you want to keep out of your priority.  (Far better than adjusting the priority and then having your priority reset

[2020-10-29 18:00] Hekili commented on #502
I've been investigating this and will continue to investigate.  It's really annoying.  I'm not touching anything I'm not supposed to touch, but here we are.

[2020-10-29 19:02] tflo commented on #495
No, the idea of a toggle was to circumvent the repeated “patching” of the priorities because of resets (updates). A more long-term thingy, not so much for quickly switching on/off. And keybinds are optional either way.

But this…

…seems to imply that the Trinket options are *not* reset with updates. _If it is like this, then it is something I didn’t know._ In that case it is indeed better than pa

[2020-10-29 19:02] #495 closed, assigned to nobody

[2020-10-29 19:03] Hekili commented on #495
Thanks for understanding.  It's still up for consideration if there's more thought behind it.  It just creates more complexity.

And yes, the rule of default priorities is that I can update them at any time I want.  Your trinket options are not reset with priority updates.  :)

[2020-10-29 19:04] tflo commented on #495
Thanks for the confirmation. Great!

[2020-10-29 19:41] lloydBl opened #510 "Sub Rogue off Hand Speed Error (Performance Slowdown)"
**Describe the Bug/Issue**
This is not a huge issue as it does not affect gameplay in combat, however as a sub rogue when I unequip my off hand out of combat I get a ton of errors which slow down the game.  The error is pretty self explanatory below but results through no valid off hand speed value to read

**To Reproduce**
Steps to reproduce the behavior:
- Be a rogue in subtlety spec
- Unequip y

[2020-10-29 19:44] Hekili commented on #510
Yep, this is already fixed and will be available soon.

[2020-10-30 04:46] Hekili commented on #502
This was a pain in the ass to solve, but I think it's fixed in 1.0.17-beta5.

[2020-10-30 04:46] #502 closed, assigned to Hekili

[2020-10-30 04:46] Hekili commented on #510
This should be fixed in 1.0.17-beta5.  Open another ticket if you find this again.

[2020-10-30 04:46] #510 closed, assigned to Hekili

[2020-10-30 04:47] Hekili commented on #442
I added this to 1.0.17-beta5 but disabled it in the TOC (commented out with `#`).

After I review it more thoroughly, I'll look at enabling the module.

The error message above should also be resolved.

[2020-10-30 04:47] #442 closed, assigned to nobody

[2020-10-30 04:48] Hekili commented on #509
This is in 1.0.17-beta5 if not -beta4.

[2020-10-30 04:48] #509 closed, assigned to nobody

[2020-10-30 04:48] Hekili commented on #506
This seems to be solved, but please open a new ticket if issues reappear.

[2020-10-30 04:48] #506 closed, assigned to Hekili

[2020-10-30 04:48] Hekili commented on #497
I'll close this in 24 hours if there's no snapshot from the addon to review.  Thanks!

[2020-10-30 04:57] Hekili commented on #498
This is under investigation; I received a potential fix from Monk theorycrafters but haven't tested it yet.  It'll go in 1.0.17-beta6 or the 1.0.17 release.

[2020-10-30 05:52] FrostSTeeL commented on #502
Thank you for your hard work! You are awesome!

[2020-10-30 18:32] TelleThomas opened #511 "WW monk on use trinkets"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-10-30 18:39] #511 closed, assigned to Hekili

[2020-10-30 21:07] maenemanutzzz opened #512 "spell Q dissapearing on ret paladin"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

v9.0.1-1.0.17-beta6

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.
There was one paladin who talked about it here, but he didnt provide

[2020-10-30 21:10] Hekili commented on #512
The snapshot needs to be taken when you are experiencing the problem you've described.

[2020-10-30 21:14] maenemanutzzz commented on #512
Sorry, i accidentaly uploaded the wrong one, here you go:
https://www.pastebin.cz/cs/p/nyZaHQx

[2020-10-30 22:04] maenemanutzzz commented on #512
Also i just dicovered that when i use Seraphim it recommends Templars verdict, and even after Seraphim is over it keeps recommending Templars verdict until execution sentence comes off cooldown.

https://imgur.com/HpR51Df

[2020-10-30 22:12] Hekili commented on #512
Screenshots aren't that useful, that's why I ask for snapshots. Tell me more about your last post. What is the problem and what do you think you should see instead?

[2020-10-30 22:21] maenemanutzzz commented on #512
The problem is that hekili should recommend Templars verdict always, not just when i use Seraphim.
Here is a snapshot i captured after i used seraphim and execution sentence and it recommended me Templars verdict:

https://www.pastebin.cz/cs/p/2BwPERm

Here is a snapshot i posted previously that was captured without using Seraphim but using Execution sentence at which point hekili doesnt recommend

[2020-10-30 22:38] Hekili commented on #512
Right, just for tracking purposes, it's most helpful to structure information like:

This snapshot shows X.  It should show Y, because Z.

If there's a lot of editorializing or extra information that's less relevant, it makes it take longer for me to get to the heart of it.  I'll investigate.

[2020-10-30 22:48] maenemanutzzz commented on #512
Oh shit im sorry, im fucking retarded, idk what the 2nd snapshot is but its worng. This is the correct one: https://www.pastebin.cz/cs/p/dh2TjBs
Also, i would love to help you with this but im not experienced in this stuff, i can barely recognize whats going on in those snapshots, let alone analyze the code, although just from control+f search for templars verdict i discovered that the snapshot wi

[2020-10-30 23:05] Hekili commented on #512
Thanks for the information.  I did some testing, and the reason is an interaction between Seraphim and Final Reckoning.  FR waits for the Seraphim buff, which you don't have because cooldowns are toggled off and Seraphim is on the cooldowns toggle.

I am:
1.  Removing Seraphim from the Cooldowns toggle, since it's a short CD and should be used as often as possible (like Tiger's Fury for Feral).
2.

[2020-10-30 23:21] maenemanutzzz commented on #512
Just tested the new version (v9.0.1-1.0.17), works perfectly, thank you.

[2020-10-31 13:57] Hekili commented on #512
Thanks for the confirmation!

[2020-10-31 13:57] #512 closed, assigned to Hekili

[2020-10-31 13:57] Hekili commented on #498
Please let me know if you still have issues after upgrading to 1.0.17.  Thanks!

[2020-10-31 13:57] #498 closed, assigned to Hekili

[2020-10-31 13:58] Hekili commented on #496
Still considering this, just wanted to confirm that I've seen this.

[2020-10-31 14:19] Incompetent-Tech opened #513 "Hekili LUA error when first logging into game with character"
**LUA Error:**
Message: Interface\AddOns\Hekili\Classes.lua:623: table index is nil
Time: Sat Oct 31 09:10:56 2020
Count: 1
Stack: Interface\AddOns\Hekili\Classes.lua:623: table index is nil
[string "=(tail call)"]: ?
[string "@Interface\AddOns\Hekili\Classes.lua"]:623: in function `?'
[string "@Interface\AddOns\Hekili\Events.lua"]:282: in function `RunSpellCallbacks'
[string "@Interface\AddOns\He

[2020-10-31 14:27] Hekili commented on #513
Thanks, will sort it out.

[2020-10-31 14:46] mrlenxa opened #514 "LibSpellRange Error"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
LUA Error when targeting any type of mob. Doesn't trigger unti

[2020-10-31 14:55] Hekili commented on #514
?

[2020-10-31 14:59] Hekili commented on #514
Please provide the following information.  Leaving it out may result in your ticket being ignored (because I won't have the information needed to explore your report).

1.  The information from the Issue Reporting tab ( /hekili > Issue Reporting ).  This provides your talent and gear information.  You can paste it to pastebin.com and provide a link here.

[2020-10-31 15:00] mrlenxa commented on #514
Sorry. Just updated the actual problem.

[2020-10-31 15:06] mrlenxa commented on #514
https://pastebin.com/ne8R1AcN

[2020-10-31 16:06] Hekili commented on #513
I can't replicate this directly, but when 1.0.18-beta1 is out in a few minutes, would you please try it and see if this is resolved for you?  Thanks in advance.

[2020-10-31 16:06] Hekili commented on #514
Can you test 1.0.18-beta1 and let me know if this is resolved for you?  Thanks.

[2020-10-31 16:58] mrlenxa commented on #514
Just tested and can confirm that the issue is resolved

[2020-10-31 23:18] Forcefulpuspus opened #515 "Fury Warrior Whirlwind"
Not a huge issue by any means but while leveling (Fury Warrior) Hekili wants you to press whirlwind first for AOE but doesn't change after you press it, it never moves forward.  My guess is its anticipating the buff for whirlwind that causes your next attacks to cleave but you don't obtain that buff (Rank 3 Whirlwind) until level 37.

Thanks for your excellent work!

[2020-10-31 23:26] Hekili commented on #515
Submit the snapshot where it's happening.  I can tell you if it's that or if it's because you took the talent that causes you to ignore Slam.

[2020-11-01 00:49] Forcefulpuspus commented on #515
![ezgif com-gif-maker](https://user-images.githubusercontent.com/73762781/97792865-28f1dc80-1bb2-11eb-9723-de11c1190ae9.gif)

[2020-11-01 01:41] Incompetent-Tech commented on #513
Looks to be working. No errors or noticeable issues.  Thanks for the quick fix.

[2020-11-01 01:41] #513 closed, assigned to nobody

[2020-11-01 04:25] Forcefulpuspus commented on #515
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/73762781/97795126-50f03880-1bd0-11eb-9f42-afed03d84842.gif)

[2020-11-01 12:47] Hekili commented on #515
Sorry, by snapshot, I mean /hekili > Snapshots. It's a log of the addons decision-making at one moment.

[2020-11-01 13:53] Rickard811 commented on #497
I had the same problem but i think its is locked to Seraphim.

[2020-11-01 13:55] Rickard811 commented on #497
![image](https://user-images.githubusercontent.com/73783482/97804761-32cb1c80-1c52-11eb-8bfe-98db1294a98e.png)
![image](https://user-images.githubusercontent.com/73783482/97804766-3a8ac100-1c52-11eb-86f4-58a1369e438c.png)
![image](https://user-images.githubusercontent.com/73783482/97804770-41b1cf00-1c52-11eb-8e06-11b493464a9c.png)

[2020-11-01 13:56] Rickard811 commented on #497
https://pastebin.com/JqaGuFji

[2020-11-01 14:01] Rickard811 opened #516 "Sometimes not getting recomendations when using sreaphim"
I´m sorry this is my first time reporting, I love your addon and I think you have done a great work.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repe

[2020-11-01 16:09] Hekili commented on #516
Yep, this will be fixed soon.  I failed to add a priority change that allows Seraphim and FR to desynchronize.

[2020-11-01 16:09] #516 closed, assigned to Hekili

[2020-11-01 16:10] Hekili commented on #497
This will be fixed in next build.

[2020-11-01 16:10] #497 closed, assigned to Hekili

[2020-11-01 17:46] phi1316 opened #517 "CD Showing for Current Ability to Cast"
Currently using a Subtlety Rogue, backstab will show as the next to cast with a cooldown/timeframe counting down say with 3sec remaining.  However, the ability is already available to use despite what is showing in Hekili.  See image with Hekili CD showing vs no CD on Backstab in the toolbar.
![Hekili CD Issue](https://user-images.githubusercontent.com/8217019/97810201-2dfd6d00-1c40-11eb-8fa9-7e80

[2020-11-01 17:50] Hekili commented on #517
Submit a ticket following the ticket instructions.  Screenshots tell me almost literally nothing.

If you pause and mouseover the icon, you'd see that Subtlety generally pools energy rather than spending instantly.  The addon is timing its recommendations accordingly.

[2020-11-01 17:50] #517 closed, assigned to nobody

[2020-11-01 18:15] phi1316 commented on #517
Sorry for not following the posting guidelines as I did not see anything other than new issue when I created.

As far as pausing and mousing over, what do you mean by pause and the mouseover shows nothing on my interface over the Hekili Primary Ability.  I looked around in what I could find under Hekili but did not realize it was pooling energy but I would love to understand the mouseover in the f

[2020-11-01 18:17] Hekili commented on #517
Pause is ALT-SHIFT-P by default; found in /hekili > Toggles.

On Sun, Nov 1, 2020 at 1:16 PM phi1316 <notifications@github.com> wrote:

--
 Tony Robbins
 trobbins@gmail.com

[2020-11-01 18:20] phi1316 commented on #517
I see now, again thanks for your time on this.

[2020-11-02 00:21] Forcefulpuspus commented on #515
https://pastebin.com/0fwvnPH8

[2020-11-02 18:39] lundbergaj opened #518 "Shadow Priest dps uses Mind Control in rotation, and Mind Control is not included in the abilities list (so it can't be disabled)."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Hekili uses Mind Control in the shadow priest rotation, and th

[2020-11-02 18:42] Hekili commented on #518
Press ALT-SHIFT-P to pause and mouseover that icon.

[2020-11-02 19:03] Hekili commented on #518
(It's Mind Blast.)

[2020-11-02 19:03] #518 closed, assigned to Hekili

[2020-11-03 12:18] Rickard811 opened #519 "RET Paladin still have problems with seraphim"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Ret paladin still don't get suggestion s sometimes with seraphim**
A clear and concise

[2020-11-03 12:21] Rickard811 commented on #519
https://pastebin.com/nj3LzZJZ

[2020-11-03 13:04] Hekili commented on #519
Please use Pastebin for snapshots per the instructions (otherwise GitHub eats the snapshot/formatting).

Without Crusade, it looks like the APL is trying to sync FR with Seraphim and sync Seraphim with AW, and AW with Execution Sentence, which can put you in a problematic situation if you used Execution Sentence before enabling cooldowns.  I'll sort it out.

[2020-11-03 18:09] Rickard811 commented on #519
Added another snapshot, seams something goes wring I have 5 holy power, and it's waiting for several seconds for ES but  I could use a spender and filler before the CD of ES is off. And one more thing if the rotation is to only use ES when seraphim/FR is up why does it give a recommendation to use ES of Seraphim/FR?

[2020-11-03 18:15] Hekili commented on #519
Yes, again, it's logic that's trying to sync up Seraphim + Final Reckoning + Execution Sentence.  I have the info that I need.  I'll have to make edits and test solutions.

[2020-11-03 20:02] Freazerr opened #520 "Fury warrior rampage on all rotation icons"
Updated to the last version (v9.0.1-1.0.19) and noticed that when i hit the rage required for rampage insted of it being on 1 of the rotation icons its takes up all of them. After downgrading to the previouse version (v9.0.1-1.0.18) it only showed up on 1 as normal

Steps to reproduce the behavior:
- Update to v9.0.1-1.0.19
- Play Fury warrior
- Get enough rage for rampage

**Expected behavior**
I

[2020-11-03 20:03] Hekili commented on #520
I'll look into it, but please re-read the ticket instructions re: snapshots.  Thanks!

[2020-11-03 21:33] wow1989 opened #521 "Request: Don't Try to Hardcast while Moving (i.e., Aimed Shot)"
Please please please

A toggle to stop recommending a casted aimed shot while moving.

[2020-11-04 06:46] knagls commented on #521
+++ !

[2020-11-04 08:57] Beyonderr opened #522 "Wrong size/position"
Updated to the last version (v9.0.1-1.0.21).

Wrong size and position after login in game with a profile since Hekili-v9.0.1-1.0.17.

Steps to reproduce the behavior:
- Create a profile
- Save size and position
- log out
- log in
- Wrong size and position (until you re-input 1 number in the position/size)

**Expected behavior**
Wrong size and position

**Screenshots**
https://imgur.com/YG8z1r6

**

[2020-11-04 14:57] Hekili commented on #522
Thanks.

Can you try the following?

In UI.lua, search for "SetIgnoreParentScale" and then preface that line and the SetScale line that follows with two dashes (--), like this:

[code]

Reload UI and see if that fixes the issue for you.

[2020-11-04 16:39] Hekili commented on #521
To be fair, that sort of recommendation is technically correct -- you should move as little as possible so you can get back to casting.

Do you have a list of abilities (with a cast time or channeled) that can be used while moving?  (Obviously, instants are fine while moving.)  If I have that information, I can potentially add an option for this.

[2020-11-04 16:44] Beyonderr commented on #522
Thanks.
Just tested and the issue is resolved.

[2020-11-04 16:44] #522 closed, assigned to Hekili

[2020-11-04 16:53] Hekili commented on #520
This should be resolved in 1.0.20 and/or 1.0.21.

[2020-11-04 16:53] #520 closed, assigned to Hekili

[2020-11-04 16:54] Hekili commented on #519
Try 1.0.21 and submit a new ticket with new snapshots if you run into this again.

[2020-11-04 16:54] #519 closed, assigned to Hekili

[2020-11-04 17:26] wow1989 commented on #521
I believe the ONLY marks ability that can’t be cast while moving is aimed shot (And sniper shot pvp talent, but that currently isn’t recognized by hekili)

Rapid fire and steady shot can both be cast while moving.

I believe the rotation can just play as is minus casted aimed shots.

[2020-11-04 17:28] wow1989 commented on #521
Note the talent *lock and load* proccing instant aimed shots being the only current exception

[2020-11-04 19:20] Rickard811 opened #523 "Issue: Seraphim/Final Reckoning/Execution Sentence CD alignment causes no-rec with 5 HP."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Ret Paladin not getting recommendation using seraphim**
A clear and concise description

[2020-11-04 19:30] Hekili commented on #523
Please put the snapshot on pastebin as I'd mentioned before.

On Wed, Nov 4, 2020, 2:21 PM Rickard811 <notifications@github.com> wrote:

[2020-11-04 21:34] Aravj opened #524 "Hekili\Events.lua:1764: attempt to perform arithmetic on a nil value (SpellQueueWindow)"
Got a couple of errors when i login.

Strange thing is, i can get it to work if i delete the profile and reinstall the addon. But that's more a 50/50 kind of thing.

Last working Version was "v9.0.1-1.0.18-beta1". Don't know if this is important, but i did a new Installation of WoW and changed the language from english to german.
--------------------------------------------
First Error:
[code]
---

[2020-11-04 21:41] Hekili commented on #524
Interesting, it's probably related to how long it takes your game to load.  Only the first error would actually matter.

[2020-11-04 21:46] Aravj commented on #524
It takes about 30 seconds to login and the bugsack error sound about half way in ^^

[2020-11-05 02:21] Radius256 commented on #524
I'm getting these errors too.  I've tried disabling all other addons.  Taking everything off my bars and then putting them back on.  Resetting my keybinds.
I installed a clean install of wow, on a different computer, and was still getting these errors.
When I first log in, it is fine.  Shows 3 (default) Hekili icons.  If I log out and back in, or /reload, I get these errors and I only see 1 Hekili

[2020-11-05 02:23] Hekili commented on #524
Could you post snapshots?

[2020-11-05 02:27] Radius256 commented on #524
![WoWScrnShot_110420_182649](https://user-images.githubusercontent.com/73975535/98190170-5056eb00-1ecb-11eb-8f9d-02f10d2dce37.jpg)

[2020-11-05 02:28] Hekili commented on #524
No, see /hekili > Snapshots

[2020-11-05 02:37] Radius256 commented on #524
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.1-1.0.21
level: 50 (50)
class: WARRIOR
spec: protection

talents: anger_management
    best_served_cold
    bounding_stride
    devastator
    double_time
    indomitable
    unstoppable_force

pvptalents: none

covenant: none

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: none

legendaries: non

[2020-11-05 02:39] Radius256 commented on #524
That was while it was in it's errored state, like the screenshot above

[2020-11-05 03:11] Hekili commented on #524
I'm testing a fix that looks like it'll be in the next build.

[2020-11-05 03:15] Radius256 commented on #524
awesome, thanks

[2020-11-05 03:57] wow1989 commented on #521
I believe the ONLY marks ability that can’t be cast while moving is aimed shot (And sniper shot pvp talent, but that currently isn’t recognized by hekili)

Rapid fire and steady shot can both be cast while moving.

I believe the only rotational change would be to leave a base energy amount so you can cast aimed shot once you’re stationary again.

[2020-11-05 03:58] Hekili commented on #524
Should be resolved in 1.0.22; let me know if I'm wrong.

[2020-11-05 03:58] #524 closed, assigned to Hekili

[2020-11-05 10:12] Kumicoo opened #525 "When does hekili start working?"
Hello, i'm fairly new to WoW so I thought this addon is a blessing. I'm currently leveling and hekili is not showing up. At what level does it start working for Rogue, Priest and Mage??

I'm very sorry if this is the wrong place to ask but i could not find any discord or something

[2020-11-05 10:13] Kumicoo commented on #525
I also have not bought anything besides the subscription. So i am currently at BFA i think. Didnt buy Shadowlands. (No point - im still leveling) or do i need to buy that? The troubleshoot says it should work after legion. I also sometimes get a pop up in the middle "hekili is designed for current content..."

[2020-11-05 10:24] #525 closed

[2020-11-05 10:24] Kumicoo commented on #525
Found the discord

[2020-11-05 10:57] mkaya035 opened #526 "Hekili options panel doesn't open"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.:
**I am using the latest version of the addon.**

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.:
**I didnt saw any issue like this.**

**

[2020-11-05 12:09] Hekili commented on #526
Revisit the ticket instructions, to see if there is an error message that needs to be resolved.

[2020-11-05 12:16] mkaya035 commented on #526
What do you mean with Visit ticket instructions?

[2020-11-05 12:18] Hekili commented on #526
The instructions that you deleted when submitting this ticket. They tell you what information I need from you to be able to help you.

[2020-11-05 13:21] Hekili commented on #526
Also, if you're playing Classic, the addon does not support Classic.

[2020-11-05 13:21] #526 closed, assigned to Hekili

[2020-11-05 13:21] #514 closed, assigned to Hekili

[2020-11-05 13:27] mkaya035 commented on #526
Its about retail let me see for the information thank you:)

[2020-11-05 13:35] mkaya035 commented on #526
its okay like this?

[2020-11-05 13:37] Hekili commented on #526
If you submit a ticket with actionable information, I can review. As it stands, there's literally nothing I can do with the information provided.

Just submit a ticket, following the instructions, and then we can try again. Thanks.

[2020-11-06 00:00] Hekili commented on #526
Were you going to submit more information?  Thanks.

[2020-11-06 16:16] Rasmutant opened #527 "Feral Druid"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-11-06 16:20] Hekili commented on #527
Hi, I will need the other required information in the ticket as well.  Please provide, at the very least, the information from your Issue Reporting tab.

[2020-11-07 14:21] Hekili commented on #527
It's wild, I didn't actually see this in-game at all, despite raiding on my Feral this week.

But I have a solution for this ready to go in the next release.  Thanks.

[2020-11-07 14:59] Hekili commented on #523
Please try 1.0.25-beta1 when the build is complete.

[2020-11-07 16:03] Rickard811 commented on #523
Hi I will 😊

Skickades från E-post<https://go.microsoft.com/fwlink/?LinkId=550986> för Windows 10

Från: Hekili<mailto:notifications@github.com>
Skickat: den 7 november 2020 15:59
Till: Hekili/hekili<mailto:hekili@noreply.github.com>
Kopia: Rickard811<mailto:rickard_lind@hotmail.com>; Author<mailto:author@noreply.github.com>
Ämne: Re: [Hekili/hekili] Issue: Seraphim/Final Reckoning/Execution Sente

[2020-11-07 17:47] Rasmutant commented on #527
I may have fixed my issue.  I deleted the mod during maintenance last night and re-installed.  Played this morning after I got the Hekili update and no issues.  Thanks

Sent from AT&T Yahoo Mail for iPhone

On Saturday, November 7, 2020, 8:22 AM, Hekili <notifications@github.com> wrote:

It's wild, I didn't actually see this in-game at all, despite raiding on my Feral this week.

But I have a solu

[2020-11-08 19:09] N30Exca opened #529 "Last Emperor's Capacitor/CJL not getting called in WW rotation"
**Describe the Bug/Issue**
With Last Emperor's Capacitor equipped (therocally BiS Leggo for WW) CJL is not getting called for the at any point in time in the rotation
**To Reproduce**
Steps to reproduce the behavior:
Equip the Last Emperor's Capacitor leggendary and follow the suggested rotation.

**Expected behavior**
CJD shoud be called to be used, but it is dose not happend even at 20 stack of

[2020-11-08 19:21] Hekili commented on #529
Please use pastebin for snapshots (per the instructions).  I'll look into it.  It doesn't look like the priority has anything written in to explicitly check for the buff and consume it.

[2020-11-08 19:28] N30Exca commented on #529
ouch my bad sorry for the wall of text then......

[2020-11-09 03:03] Dragnclaw opened #530 "Addon Bar not even showing for Affliction"
Have latest version, Version before this one was telling me to cast corruption over and over.

As of when I clicked to submit the bug had not been reported

Addon Bar not even showing for Affliction. It does show if I switch to destruction.

I assume all you would have to do is try to play affliction.

Spell priority bar to show up.

build: v9.0.1-1.0.26
level: 50 (50)
class: WARLOCK
spec: afflict

[2020-11-09 03:04] Hekili commented on #530
Try to take a snapshot and submit that as well.

[2020-11-09 03:09] Hekili commented on #530
And/or BugSack and BugGrabber information per the ticket instructions.

[2020-11-09 03:17] Hekili commented on #530
Hellooooo, you _just_ opened this ticket.  Can you respond?

[2020-11-09 03:18] #527 closed, assigned to Hekili

[2020-11-09 03:18] Dragnclaw commented on #530
Snapshot:
[code]

No error or bug reported

[2020-11-09 03:20] Hekili commented on #530
Your priority isn't set in /hekili > Affliction > Core.  If you click the dropdown, is Affliction listed?

[2020-11-09 03:22] Dragnclaw commented on #530
No it was not, and that has made it reappear. Thank you.

Only thing is I did not change this setting. I was using the addon, saw there was an update, downloaded it, and /reload.

So i have no idea why that option changed.

[2020-11-09 03:23] Hekili commented on #530
Let me know if it vanishes again.  Going to tweak the priority again real quick.

[2020-11-09 03:23] #530 closed, assigned to Hekili

[2020-11-09 09:35] Impact009 opened #531 "Ret module disappearing during N'Zoth"
This seems to only happen during N'Zoth so far and was not happening before pre-patch. Hekili disappears after exiting Phase 1 and will only reappear upon entering the Mindgate again. It's pretty consistent, but out of about 5 pulls, I did see Hekili once outside of the Mindgate.

[2020-11-09 13:15] Hekili commented on #531
Please submit a proper ticket following the ticket instructions, thanks.

[2020-11-09 13:15] #531 closed, assigned to nobody

[2020-11-10 00:44] Impact009 opened #532 "Ret Module Disappears When Bosses Phase"
Hekili disappears when phase 2 begins on Carapace. On N'Zoth, it disappears after existing Phase 1 and will only show up again if I go into the Mindgate, but it will consistently disappear every time I leave the Mindgate. I have tried resetting my profile, and it only started happening during pre-patch.

The only error that Bugsack and Buggrabber show is

`20x (null)`

Snapshot:

`build: v9.0.1-1.

[2020-11-10 00:50] Hekili commented on #532
That's not a snapshot.  And I would guess that there is probably some other error behind that "20x (null)"

If it happens again, please get an actual snapshot and try disabling and re-enabling the addon.  (You can do it via the minimap icon, if needed.)

[2020-11-10 02:09] #523 closed, assigned to Hekili

[2020-11-10 02:11] #515 closed, assigned to Hekili

[2020-11-10 02:15] Hekili commented on #532
Another potential venue to check would be /hekili > Warnings (which only appears if there's a warning message to show).

[2020-11-10 06:01] Impact009 commented on #532
Sorry, I wasn't sure if you had wanted the snapshot or the character data. I had the wrong label. /hekili > Warnings hasn't appeared yet either. Made it to Phase 3 of Carapace and Hekili reappeared, so it seems to disappear every other phase after pull. It looks like the null LUA errors were from before combat. When I disabled Informant, the null errors disappeared. Here's the snapshot during Phas

[2020-11-10 12:44] Hekili commented on #532
Please follow the ticket instructions, it helps a lot. It says to paste the snapshot to Pastebin and provide the link.

Is that snapshot taken when you're not seeing any recommendations from the addon? Because it has abilities recommended.

[2020-11-10 13:13] Impact009 commented on #532
My apologies. I'm trying to follow the addon's instructions, but all I saw was the "Issue Reporting" tab saying to post the Character Data to this page, and the "Snapshot" tab doesn't mention Pastebin anywhere. Are there instructions somewhere else that I'm not seeing? Similarly, I couldn't find your Discord server before submitting these tickets to ask questions to other users.

https://pastebin.

[2020-11-10 13:31] Hekili commented on #532
Thanks for trying.  The instructions were in the issue report box when you first submitted the ticket.  I'll include those at the end, just for reference.

First:  I don't have any code that attempts to sync up with a particular phase of the fight.  However, I am wondering if there is visibility logic that isn't working as expected.  Or if there's something vehicle related.  None of the Ret Paladi

[2020-11-11 01:05] Aramilgaeda opened #533 "Error on loading addon."
**Describe the Bug/Issue**
A console error is occuring when I load or reload the UI. This is happening with the most recent version of Hekili, v9.0.1-1.0.27, however, I have tried rolling back to older versions I still get this error on loading the game or reloading the UI. I saw it said something about Ace3 so I went to CurseForge and installed the Ace3 addon as well, which is version Ace3-Releas

[2020-11-11 01:13] Hekili commented on #533
`Interface\AddOns\Hekili\Classes.lua:623: table index is nil`

That doesn't correspond to the current version of the addon.  Use the latest version and post the error message from the latest version.

[2020-11-11 01:39] Hekili commented on #532
Any new info?

[2020-11-11 02:05] mati3464 opened #534 "Affliction SingleTarget Roration suggestion"
Hello, after review priority i suggest modify meletic rapture suggestion to cast for pure single target.

if=
talent.phantom_singularity.enabled &
talent.haunt.enabled &
talent.siphon_life.enabled &

this mean player use pure single build, that's means meletic rapture must be cast only in phantom_singularity window with all 5 dot's active (corruption,agony,haunt,phantom and siphon  life) & dotphan

[2020-11-11 02:12] Aramilgaeda commented on #533
Oooff. I had re-downloaded the addon and copied it over to my addons folder and overwrote all the files it said were the same name even before posting this. I couldn't understand how it could be the wrong version when I even checked the file dates of the zip, etc. But since you said it was the wrong version, I just completely deleted the folder from my addons folder, downloads folder, etc. and tot

[2020-11-11 02:12] #533 closed, assigned to Hekili

[2020-11-11 03:12] Hekili commented on #534
If you have priority recommendations, you pretty much always have to demonstrate them with simulationcraft.  Got a Raidbots link?

[2020-11-11 18:27] Hekili commented on #532
I'll be closing this ticket if no new information is available by the end of today.

[2020-11-11 19:43] vladimars opened #535 "Celestial Alignment preferring Starfire"
For single target CA seems to be preferring you to cast Starfire over Wrath. Wrath should be higher single target dps and thus be the preferred spell. Is there a way to change that?

[2020-11-11 20:04] Hekili commented on #535
You can edit the priority, but if you'd like to see the defaults changed, you'd need to provide sims that reflect that a change is a DPS increase.  Thanks!

[2020-11-11 20:05] #535 closed, assigned to nobody

[2020-11-11 20:23] vladimars commented on #535
Ok. How do I edit the priority? I looked into the apl and its pretty ... long. After consulting with the balance druid community the general consensus is that wrath should be better than starfire for single target.

[2020-11-11 20:29] Hekili commented on #535
/hekili > Priorities > Balance.

For syntax, you can generally refer to SimulationCraft's wiki.  Again, I strongly recommend you prove any changes you'd make in SimulationCraft before even touching it in the addon.

I won't be able to help you customize further, simply as a matter of time management.  Everything you need is there, aside from the expertise of actually writing priorities/APL.

[2020-11-11 20:32] Hekili commented on #535
There's a little detail about modifying priorities here, as well:  https://github.com/Hekili/hekili/wiki/Frequently-Asked-Questions

Last bit of advice:  I'd encourage you to look into why you're seeing Starfire before deciding that you ought not see it.  It's entirely possible that you and those you've spoken to are right in general.  But it's generally a good idea to know why you see what you se

[2020-11-11 20:57] Jmz1988 opened #536 "Balance druid Shadowlands Rotation"
Hi im just wondering how accurate the Balance rotation is at the moment? im feeling that Streaking stars maybe causing some confliction can someone verify :)

[2020-11-11 21:01] Hekili commented on #536
Please submit a proper ticket following the ticket instructions.  Thanks.

[2020-11-11 21:01] #536 closed, assigned to nobody

[2020-11-12 01:34] monoliith opened #537 "Unholy DK - Hekili bar disappears after pressing just a couple of buttons in combat, in any combat situation. Or randomly it will shrink to 1 or 2 buttons, and not show a queue."
Hekili bar disappears after pressing just a couple of buttons in combat, in any combat situation. Or randomly it will shrink to 1 or 2 buttons, and not show a queue.
![Screenshot_165](https://user-images.githubusercontent.com/65993671/98884084-e30c0280-2454-11eb-886f-cc2cf42f759e.jpg)
![Screenshot_164](https://user-images.githubusercontent.com/65993671/98884087-e3a49900-2454-11eb-983b-f1e75932f712

[2020-11-12 01:36] Hekili commented on #537
Please resubmit the ticket with the information required.

[2020-11-12 01:36] #537 closed, assigned to Hekili

[2020-11-12 03:19] Hekili commented on #536
FYI, I've done a fairly extensive revamp of Balance in the latest beta (1.0.28-beta1) if you want to test and see if you get more of what you're expecting.  If you find issues, please submit a ticket following the instructions that are pre-filled.  Thanks!

[2020-11-12 03:19] Hekili commented on #535
FYI, I've done a fairly extensive revamp of Balance in the latest beta (1.0.28-beta1) if you want to test and see if you get more of what you're expecting.  If you find issues, please submit a ticket following the instructions that are pre-filled.  Thanks!

[2020-11-12 06:24] vicwac opened #538 "[Issue] WW Monk Touch of Karma and Fortifying Brew"
Touch of Karma always gets recommended at around 80% hp even after setting the conditions to health.percent <=50. Tried it under default and defensives action lists, no change.

Fortifying Brew does not get recommended at all, suspect that it is broken as I notice the icon looks different from my spell list but there's no way to tell unless I can see the spell ID.

Character Data:

build: v9.0.1-1

[2020-11-12 07:33] knagls commented on #521
hi! any news? :)

[2020-11-12 13:02] Hekili commented on #538
You will need to provide a snapshot when this is happening per the ticket instructions.

[2020-11-12 13:23] Hekili commented on #521
Nope.  I don't keep anything secret.  You'll know if/when there are any changes.

[2020-11-12 23:30] Jmz1988 commented on #536
Thank you for replying, I love the work you have done with that addon. I actually just think the changes to balance have been not very well designed on blizzards behalf, esp lack of UI elements and after testing a lot more I just think that its partly due to Streaking stars with so much going on and trying to track everything else. Im sure Shadowlands release it will be a lot more fluid 😊 but I ha

[2020-11-14 19:45] Shamuraj opened #539 "DH blade dance/death sweep not showing"
Playing Cycle of hatered and not First Blood casues the addon not to display blade dance or death sweep. If I manually remove the varaible string its working, or if i swap the 2 talents.

this is the data:
build: v9.0.1-1.0.27
level: 50 (50)
class: DEMONHUNTER
spec: havoc

talents: burning_hatred
    cycle_of_hatred
    demonic
    demonic_appetite
    netherwalk
    trail_of_ruin
    unleashed_po

[2020-11-14 19:46] Hekili commented on #539
Please revisit the ticket instructions re: snapshots.

[2020-11-14 20:55] Shamuraj commented on #539
https://pastebin.com/bPaDaTB7

[2020-11-14 20:58] Hekili commented on #539
I moved your post to pastebin, per the instructions.

Death Sweep was not recommended, per the priority:

[code]

`variable.blade_dance` = `talent.first_blood.enabled[false] | spell_targets.blade_dance1[1.00] >= ( 3 - talent.trail_of_ruin.enabled[true] )`

With Trail of Ruin, you still need at least 2 targets for Death Sweep requirements to be met.

[code]

Blade Dance also relies on having at lea

[2020-11-14 21:07] Hekili commented on #539
(If you think it should be different, you can do some sim testing and link your results.)

[2020-11-14 21:07] #539 closed, assigned to Hekili

[2020-11-14 22:32] virtualbs opened #540 "[Request] Rogue PvP Talents: Smoke Bomb and Shadowy Duel"
Hi, currently there is no support for the Rogue PvP Talents "Smoke Bomb" and "Shadowy Duel" to be used in APL (e.g., cooldown.smoke_bomb.up or cooldown.shadowy_duel.up).

For example, for Smoke Bomb, I have tried to add the following to _RogueSubtlety.lua_, under _spec:RegisterAbilities_, but it is not working currently:

[code]

[2020-11-15 00:28] virtualbs commented on #540
Shadowy Duel seems to work properly, as:
[code]

[2020-11-15 00:29] virtualbs commented on #540
Smoke Bomb works if registered with a name other than smoke_bomb. For example:
[code]

[2020-11-15 14:23] Hekili commented on #540
Completed.  Did not find an issue with "smoke_bomb."

[2020-11-15 14:23] #540 closed, assigned to nobody

[2020-11-15 17:27] Zehirut opened #541 "Low level Demonology Warlock rotation issues"
Greeting,

Today I updated the addon, mostly out of out of habit, since it was working fine yesterday, the issue I have is that after a full rotation, Hekili studently starts switching between “shadow bolt” and “Hand of Gul’dan” even though I only have one “soul shard” all it does is intercalating between those two skills and throwing a “Call Deathstalker” the moment Demonic Calling activates.

![

[2020-11-15 17:37] Hekili commented on #541
Please, _please_ use Pastebin for snapshots per the instructions.

Yes, this is likely due to changes I made to update for Summon Demonic Tyrant at level 50.  I'll see if I can hold them back before you have the Tyrant.

[2020-11-15 17:46] Hekili commented on #541
You can try 1.0.29-beta1 once it is finished building.  Let me know if that resolves the issue.

[2020-11-15 17:46] #541 closed, assigned to Hekili

[2020-11-15 17:48] Zehirut commented on #541
thank you very much, sorry for the mistake in the way I placed the Snapshot, not that skilled using github

[2020-11-16 04:53] Bakamaka11 opened #542 "[Sub Rogue] Symbols of Death usage"
Hello, the addon often recommends me to use Symbols of Death despite me having 80++ energy. Is it supposed to be so and there is a math behind it or just some kind of bug? The skill instantly regenerates 40 energy and lot of energy would be wasted, since cap is 100.

https://www.wowhead.com/spell=212283/symbols-of-death

[2020-11-16 05:10] mati3464 commented on #534
Custom APL: https://www.raidbots.com/simbot/report/fWYbvANyQvDAUuSTgrdS15

(changed strings for better sims to:

actions+=/malefic_rapture,if=talent.phantom_singularity.enabled&(dot.phantom_singularity.ticking|dot.Haunt.ticking|dot.siphon_life.ticking|dot.phantom_singularity.remains>3)

**

[code]

Hekili APL

https://www.raidbots.com/simbot/report/98desAQ3bcHC8z6Y6SVqPQ

(removed few strings due

[2020-11-16 05:21] Hekili commented on #542
Please follow the instructions when submitting a ticket.

[2020-11-16 10:27] Jimmis79 opened #543 "Hekili not suggesting imlosion for demonology warlock"
build: v9.0.1-1.0.28
level: 50 (50)
class: WARLOCK
spec: demonology

talents: demon_skin
    demonic_calling
    demonic_consumption
    dreadlash
    mortal_coil
    soul_conduit
    soul_strike

pvptalents: none

covenant: none

azerite: demonic_meteor = 1
    desperate_power = 2
    explosive_potential = 1
    heart_of_darkness = 2
    overwhelming_power = 1
    unstable_flames = 1

essences: [

[2020-11-16 13:05] Hekili commented on #543
Conditions for Implosion are:

[code]

At 50, you need at least 2 ranks of Explosive Potential (you have 1) before you'll use Implosion, by design.  Sim yourself and look at your Implosion usage in sim.

[2020-11-16 13:05] #543 closed, assigned to nobody

[2020-11-16 13:10] Hekili commented on #542
You can review Symbols of Death requirements in the Subtlety priority.

`actions.cds+=/symbols_of_death,use_off_gcd=1,if=buff.shuriken_tornado.up&buff.shuriken_tornado.remains<=3.5`

`actions.cds+=/symbols_of_death,if=variable.snd_condition&!cooldown.shadow_blades.up&(talent.enveloping_shadows.enabled|cooldown.shadow_dance.charges>=1)&(!talent.shuriken_tornado.enabled|talent.shadow_focus.enabled|c

[2020-11-16 13:10] #542 closed, assigned to nobody

[2020-11-16 18:23] #532 closed, assigned to Hekili

[2020-11-18 09:53] Merdips opened #544 "Disabling all trinket, gear and pot use."
I would like a feature to disable all trinkets and pots from popping up. I either use them on my own or in macros and it's kinda frustrating to have a pot show up when there's 10% hp left on a mob in a pack in a dungeon before we are to say run for a period of time after.
Since I have like 10 alts i play on I'd like a feature so I don't have to disable each trinket/pot for each char on each spec.

[2020-11-18 10:06] MrSmurfy opened #545 "Affliction warlock target cycling"
Hello,

For some reason Hekili is not suggesting the cycling of targets after casting Seed of Corruption. Ideally you want to maintain Agony on all targets, for soul shard generation and for increasing your damage output when casting Malefic Rupture.

Am I doing something wrong, or is this perhaps broken?
Or am I expected to switch targets myself without it being suggested? Either is fine for me,

[2020-11-18 12:36] Hekili commented on #545
Hi, reread the ticket instructions and resubmit with the required info and I'll take a look.

[2020-11-18 12:36] #545 closed, assigned to nobody

[2020-11-18 15:32] ShmooDude opened #547 "Druid ticks_gained_on_refresh not accounting for time to die."
`ticks_gained_on_refresh `isn't accounting for `target.time_to_die`.

For example, on Rip, the simc apl has `druid.rip.ticks_gained_on_refresh > variable.rip_ticks` which should prevent it from casting Rip on targets that are about to die.  However, this is not the case.

After looking at the code, this is because it is only considering `fight_remains `and not `target.time_to_die` for most of the

[2020-11-18 15:46] Hekili commented on #544
Potions are already on a toggle, so feel free to toggle those off.

I'll see about a quick "Enable All" vs. "Disable All" option for Gear and Trinkets.  But it would not be exclusive to trinkets, it would apply to other usable gear as well (i.e., hyperthread wristwraps).

[2020-11-18 20:50] DavidBruun opened #548 "PvP addition to conditions"
I would find it very useful to be able to add in actions with the condition to check for if target is enemy player of opposite faction. That would improve the addons usability in open world PvP or instanced PvP tremendously, so you don't have to make seperate profiles and switch up all the time.

[2020-11-19 10:12] ShmooDude opened #549 "Interrupts should default to "Use Off GCD""
Interrupts are a little wonky without this option checked.  It should probably be on by default since all interrupts are off the GCD and there's no need to sync it with the GCD on DPS abilities like Tiger's Fury/Berserk.

[2020-11-19 12:57] SHJordan opened #551 "IsKnown error in Demonology"
**Describe the Bug/Issue**
During rotation it will popup this error

**To Reproduce**
Just follow rotation.

**Expected behavior**
No UI error

**Screenshots**
![image](https://user-images.githubusercontent.com/884602/99669130-64632680-2a4d-11eb-9daf-0328aac7e659.png)

**PUT ISSUE REPORT LINK HERE:**
build: v9.0.2-1.0.1
level: 39 (39)
class: WARLOCK
spec: demonology

talents: bilescourge_bombers

[2020-11-19 14:06] Hekili commented on #551
Will fix in next build.

[2020-11-19 14:06] #551 closed, assigned to Hekili

[2020-11-19 14:07] Hekili commented on #548
Is `target.is_player` not sufficient for this purpose?  Let me know.  Thanks.

[2020-11-19 14:07] Hekili commented on #547
Thanks again for this.

[2020-11-19 14:07] #547 closed, assigned to Hekili

[2020-11-19 14:28] mati3464 opened #553 "Affliction Warlock - No Rec and Auto-Snapshotting"
**BEFORE SUBMITTING AN ISSUE:**

**Describe the Bug/Issue**

Auto Snapshot for affliction each time combat start, probably problem with recommendations, and problems with queue display.
Video: https://youtu.be/lPKXMu5GNe0 ( recommendations TOP left corner )
REcommendations appear, disappearing. I test on hunter, warrior , destro warlock and only on Affliction i see something like this.

**WHEN SUB

[2020-11-19 14:50] Trilkin opened #554 "Unholy DK - Recommend Target Swaps and # of Targets"
**Bug/Issue**
The current SimC APL is working off of a BiS list that is impossible to achieve due to certain features (corruptions) being outright removed already. This is manifesting most obviously in the AOE recommendations for splashing the Festering Strike DoT and the likely assumption of more Rune refunds than you would actually get.

Additionally - and partially relatedly - there is no fall-

[2020-11-19 16:07] Hekili commented on #553
The addon is stopping recommendations early based on your throttle settings (/hekili > Affliction > Performance).

[2020-11-19 16:07] #553 closed, assigned to Hekili

[2020-11-19 19:22] jokeyrhyme opened #555 "Elemental Shaman recommendations give conflicting advice regarding elementals"
**Describe the Bug/Issue**
Hekili seems to recommend using Earth Elemental even when I have my Storm Elemental active, even though doing so would dismiss the Storm Elemental early

**To Reproduce**
Elemental Shaman with Storm Elemental and Primal Elementalist talents

**Expected behavior**
Whilst the Shaman has any elemental active, they should not get a recommendation to summon another elemental

[2020-11-19 20:02] Hekili commented on #555
Did you take your snapshot when Storm Elemental was up, or no?

[2020-11-19 23:18] jokeyrhyme commented on #555
Yes, it was up when I took the snapshot, and Earth Elemental was the left-most (first) recommended next ability

[2020-11-19 23:19] Hekili commented on #555
Try the newest alpha (1.0.3-alpha2) and it should be resolved.

[2020-11-19 23:19] #555 closed, assigned to Hekili

[2020-11-19 23:21] jokeyrhyme commented on #555
Thanks heaps! Also, earlier, I should have said thanks for working on this addon and the short turn around on this report :) <3

[2020-11-19 23:22] Hekili commented on #555
Thanks for reporting.  Let me know if you find anything else.  (Or if this doesn't seem fully resolved for you.)  Take care!

[2020-11-20 06:38] zya44 opened #557 "MM hunter problem"
Hi.
In Hunter, in automatic mode and aoe mode, when you cast Rapid Fire in AOE, he proposes to cast just after Aimed Shot instead of Multi-Shot. (Without Volley activated) Thx ;)

[2020-11-20 08:16] vicwac opened #558 "Survival Hunter recommends Wildfire Bomb while CD is still several seconds long"
Rotation freezes on Wildfire Bomb about 1 minute after attacking target dummy, focus is full and other skills such as Kill Command are off cooldown but Hekili does not recommend them, and freezes until Wildfire Bomb cooldown finishes and is used before continuing.

p/s - This seems to be happening with Windwalker monk as well, where it freezes for a short time at Rising Sun Kick and waits for it t

[2020-11-20 08:47] vicwac commented on #548
In addition to checking if the target is a human player, can Hekili also check what class and spec the target player is and recommend skills, for example as a Hunter if fighting a rogue, feral druid, mage or another hunter (any class that has stealth or invisibility), the rotation would recommend Hunter's Mark if not cast on that player.

[2020-11-20 08:57] SirColeslaw commented on #558
Hello together,

i notice a similar behavior with the unholy death knight, the recommendation stops there as well, in fact it is even so that the queue simply runs empty and no further recommendations are displayed. The Hekili button bar is then simply empty, but as soon as I change the target, recommendations appear again. The last version that ran without problems was Hekili-v9.0.2-1.0.0.

[2020-11-20 12:21] Hekili commented on #557
Hi, here is the information needed to process your ticket:

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A

[2020-11-20 12:24] Hekili commented on #558
@vicwac - Thanks for the report.  I can investigate the snapshot you provided re: Survival, which I've moved to Pastebin.  For Windwalker, you'll need to submit a separate ticket with the snapshot for that situation.

@SirColeslaw - You'll need to submit a separate ticket, following the ticket instructions (including a snapshot).

[2020-11-20 12:25] Hekili commented on #548
I won't put PvP strategy into the default priorities, but I can provide the expressions (like you've described) that you can use to customize your own priority.

I'll take a look at `target.class` and `target.specialization` and see what I can come up with.  To be honest, though, if I have to rely on WoW's inspect system to get the specialization information, I'm probably not going to do it.

[2020-11-20 12:34] Hekili commented on #558
Which ability or abilities did you think it should've recommended instead?

[2020-11-20 13:11] Hekili commented on #558
I fixed a minor bug in the Survival module (not impacting this) and updated the priority.  It looks like the previous priority didn't want to recommend Mongoose Bite (to start Mongoose Frenzy) without Coordinated Assault.  This seems to work more consistently -- but let me know if you still have problems.

The fix is in 1.0.4-beta1.

[2020-11-20 13:11] #558 closed, assigned to Hekili

[2020-11-20 13:39] Hekili commented on #549
Are you seeing something that looks like interrupts being synced to the GCD?  Can you provide a snapshot of it?

[2020-11-20 17:59] ShmooDude commented on #549
I thought it was, but after looking close it's not.  It's the fact that the interrupt cooldown sweep resets based on abilities cast.  It makes it harder to determine when precisely to use the interrupt (from Hekili as opposed to watching the cast bar).

Example from when I was generating the snapshots you requested.

Enemy starts casting 2s casttime spell, Skull Bash starts cooldown swipe
@ about

[2020-11-20 18:02] Hekili commented on #549
Making the cooldown spiral overfunction to handle delays has had a bit of complexity.  I'm realizing that maybe the delay start time should be based on the start of the enemy cast, rather than the last GCD invocation or whatever else is impacting it.  So there's room to improve this, for sure.

[2020-11-21 03:02] djcosmic22 opened #559 "Elemental Shaman - Echoing Shock timing wrong"
BEFORE SUBMITTING AN ISSUE:

Check to see if you are using the latest version of the addon. If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Check to see if someone else has already opened an issue report here. Please don't submit repeat reports.

Describe the Bug/Issue
Echoing Shock is not being placed in the rotation at the correct time. In single

[2020-11-21 04:34] BohdanPenchukov opened #561 "How i can disable a White flash after Gcd that added in new version?"
How i can disable a White flash after Gcd that added in new version? Im Asking to add a fuction to disable it.
![image](https://user-images.githubusercontent.com/23499600/99867597-7cf54d00-2bc3-11eb-92db-fe7ac9174ac3.png)

[2020-11-21 04:37] #561 closed, assigned to Hekili

[2020-11-21 05:31] Hekili commented on #559
Update to 1.0.3 and you should be set.

[2020-11-21 05:31] #559 closed, assigned to nobody

[2020-11-21 05:32] Hekili commented on #561
I didn't add the cooldown flash.  Were you using Masque?  I noticed that you closed the ticket.

[2020-11-21 06:11] BohdanPenchukov commented on #561
It was because of masque dude ye. Sorry for ticket i was wanted to delete it. Sorry again

[2020-11-21 08:07] ShmooDude commented on #341
I've been messing around with this since it's something I've been wanting.  What you had in there got me started.  What was needed to get the personal resource display (PRD) option to work was to hook the `NAME_PLATE_UNIT_ADDED` event to get the player's nameplate information and the `NAME_PLATE_UNIT_REMOVED` event to handle when the player's nameplate isn't visible (currently I go back to UIParen

[2020-11-21 11:20] SirColeslaw opened #562 "Recommendation stops while in fight - Unholy DK"
1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.
#Hekili-v9.0.2-1.0.4-beta1#

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.
#I could not find anything#

**Describe the Bug/Issue**
It can happen that when I'm in combat t

[2020-11-21 11:55] iPisces77 opened #563 "Shadow Priest's Void eruption's cast timing is different from simc's cast timing."
When I use addon, it tells me the loop is
![Snipaste_2020-11-21_19-46-49](https://user-images.githubusercontent.com/39837211/99876620-dea0d000-2c32-11eb-8a97-833ea2f02388.png)
But the simc results are
![Snipaste_2020-11-21_19-45-05](https://user-images.githubusercontent.com/39837211/99876527-2d9a3580-2c32-11eb-8ebc-28deb04d49f8.png)

[2020-11-21 11:58] iPisces77 commented on #563
https://pastebin.com/HrkYWFR5

[2020-11-21 12:01] iPisces77 commented on #563
I think there is a problem with the condition pet.fiend.down, where simc means fiend already exists, and addon means fiend is gone!

[2020-11-21 12:26] Hekili commented on #341
Yeah, I got to a similar point and wasn't happy with some of the limitations. I had started to think about seeing if I could do something with RegisterUnitWatch and secure code, but set it aside when launch got closer. I'll take a look.

[2020-11-21 13:06] Hekili commented on #563
I moved your snapshot to pastebin per the instructions (so it remains readable).  There is some tuning for Insanity generation that I'll work on, that will get that prediction in alignment with simc more proactively, but keep in mind that the addon still reacts to actual Insanity generation and is going to update to recommend Void Eruption as soon as you actually have the Insanity for it it.

What

[2020-11-21 13:22] Hekili commented on #563
Reading through the sims, it does look like you're right about fiend.  Which is massively stupid.  `pet.X.up` means the pet is active in every other context, so I'll have to make this backwards for Shadow Priests in particular.

[2020-11-21 13:46] Hekili commented on #563
I've submitted a ticket for simulationcraft to explore this behavior; I really think they should be using `pet.fiend.up` to reflect that the pet is active (similar to how you'd use `buff.voidform.up` to show that the buff is active).

In my working copy, I've modified the logic for Shadow Priests with the following result:

![image](https://user-images.githubusercontent.com/9438134/99878801-f0a055

[2020-11-21 13:46] #563 closed, assigned to Hekili

[2020-11-21 13:50] Hekili commented on #562
Can you provide any more detail about the circumstances when the recommendations fail?  Is it multiple targets?  Anything else stand out about the circumstances?

[2020-11-21 19:56] smadam813 opened #564 "Demonology never recommends Tyrant - Tyrant_Ready is not working as intended"
I have been trying to address locally myself, but the issue is tyrant ready logic just feels really off.  The only thing in normal SIMC apl which sets tyrant_ready to true is if Tyrant is off cooldown.

[2020-11-21 20:04] Hekili commented on #564
Please provide the info in the ticket instructions.

[2020-11-21 20:05] #564 closed, assigned to Hekili

[2020-11-21 20:06] smadam813 commented on #564
djsisson pull request fixed my issue.  vilefiend had a spelling error.

[2020-11-21 20:11] Hekili commented on #564
Sure, but keep in mind that I wouldn't have been able to connect the two issues without the info that is asked for in the ticket instructions.  Nice that it's solved though.

[2020-11-22 03:00] #557 closed, assigned to Hekili

[2020-11-22 10:19] SirColeslaw commented on #562
First of all the answers to your questions:

My character is level 45, which is certainly not optimal, and Hekili gives a hint that it is actually made for level 50 characters, but I had no problems until version 9.0.1-1.0.0.

So I tested a little bit, and here's what I found:

On a single training dummy in Stormwind the problem does not occur, even after a longer time.

It does not occur on sever

[2020-11-22 13:39] Belrend opened #565 "Use a title that describes the problem scenario."
**Message: Interface\AddOns\Hekili\Options.lua:6608: script ran too long
Time: Sun Nov 22 07:00:34 2020
Count: 1
Stack: Interface\AddOns\Hekili\Options.lua:6608: script ran too long
[string "=[C]"]: ?
[string "@Interface\AddOns\Hekili\Options.lua"]:6608: in function `EmbedPackOptions'
[string "@Interface\AddOns\Hekili\Options.lua"]:8196: in function `RefreshOptions'
[string "@Interface\AddOns\Heki

[2020-11-22 13:40] Hekili commented on #565
I'm going to ask you to add all the information in the ticket instructions, but first:

Which version of the addon do you have?  Did you make sure you were up to date with the latest?  Thanks.

[2020-11-22 15:37] vicwac commented on #558
Working great now, thanks!

[2020-11-22 21:38] #565 closed, assigned to Hekili

[2020-11-24 09:42] RazaronGit opened #566 "Custom Priority / Elemental / Earth Shield precombat"
Before Shadowlands I added a line,

talent.earth_shield.enabled & buff.earth_shield.down

and turned off the lightning shield buff, but now it's not working. It doesn't show up on the primary bar, I'm not well versed in this so could anyone help me?

[2020-11-24 09:59] RazaronGit commented on #566
Seems to work with elemental when the precombat is pretty bare.. might be to do with what already is there for enhancement.

[2020-11-24 10:27] vicwac opened #567 "WW Monk Fortifying Brew not being recommended"
Touch of Karma and Fortifying Brew are not being recommended even though I set it at health.percent <=60 and <=40 respectively under the default category. Strangely If I remove Touch of Karma from the priorities list, it gets auto recommended at 80% hp. Would be great if we could get a GUI slider to set the % at which to recommend these two defensives (or any big cd defensives for all classes for

[2020-11-24 11:40] Publikstomp opened #568 "Fury Warrior and Condemn/Execute"
Neither Condemn nor Execute is appearing in the rotation for a Fury Warrior

[2020-11-24 12:26] Freazerr commented on #568
I am also having this issue

[2020-11-24 13:00] Rogue1337 commented on #568
Yeah same here, Condemn is not getting recommended at all

[2020-11-24 13:04] Zckyy opened #569 "Sub Rogue black powder wrong icon"
Hi there,

The new black powder AoE spell for sub rogues have the wrong icon, its not a big deal, but might a confusing to new players as i spent atleast 10 minutes trying to figure out what ability the rotation was trying to tell me to press.

**To Reproduce**
Steps to reproduce the behavior:

- Go to a AoE mob pack of 3+ targets and be level 52+, with black powder unlocked.

**Expected behavior*

[2020-11-24 15:00] Hekili commented on #568
Please follow the ticket instructions and include all the required information.  Thanks!

[2020-11-24 15:01] Hekili commented on #562
I'm going to close this for now -- if it's still happening, or if a new issue is happening, I'll need new snapshots.

[2020-11-24 15:01] #562 closed, assigned to Hekili

[2020-11-24 15:07] Hekili commented on #567
Please use Pastebin for snapshots.

Touch of Karma requires some incoming damage to proc.  I can adjust it or make it an option, though.

Fortifying Brew was still flagged to require a PvP talent, which I will remove.

[2020-11-24 15:07] #567 closed, assigned to Hekili

[2020-11-24 15:12] Hekili commented on #566
You'd need to post a snapshot for me to see the decision-making, but if your entry for Earth Shield is at the end of the priority, after a spell that would cause combat to begin, it's not going to be recommended.

[2020-11-24 15:15] Hekili commented on #569
Updated icon, will be in next release.

[2020-11-24 15:15] #569 closed, assigned to Hekili

[2020-11-24 15:16] #538 closed, assigned to Hekili

[2020-11-24 15:22] vicwac commented on #521
Under priorities-marksmanship tab, select aimed shot from the st drop down menu, click modifications and enable the movement option to stationery, so Hekili won't recommend it when you're moving. This can be done for all classes/specs that have skills that can only be cast when stationery.

[2020-11-24 15:32] vicwac commented on #548
I can try to input it and see if it works in pvp, what is the exact parameter? Is it "target.is_player & target.class.rogue"? How do you input multiple classes, "target.is_player & target.class.rogue | target.class.hunter | target.class.druid | target.class.mage" for example?

Sorry not too familiar with simulationcraft syntax.

[2020-11-24 15:43] Rogue1337 opened #570 "Condemn not recommended in the Fury Warrior Rotation"
**BEFORE SUBMITTING AN ISSUE:**

**Describe the Bug/Issue**
The addon ist not recommending Condemn in the rotation when choosing the Venthyr Covenant.

**Expected behavior**
The addon recommending Condemn in the rotation.

**WHEN SUBMITTING AN ISSUE:**

Please provide the following information.  Leaving it out may result in your ticket being ignored (because I won't have the information needed to

[2020-11-24 15:56] Hekili commented on #570
The snapshot was the key part that's missing.

[2020-11-24 15:57] Publikstomp commented on #568
build: v9.0.2-1.0.4
level: 60 (60)
class: WARRIOR
spec: fury

talents: cruelty
    double_time
    dragon_roar
    frenzy
    siegebreaker
    sudden_death
    warpaint

pvptalents: none

covenant: none

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: ashjrakamas_shroud_of_resolve = 1
    grove_wardens_breastplate = 1
    grove_wardens_greathelm = 1
    gubbins_polis

[2020-11-24 16:25] Rogue1337 commented on #570
Thats the snapshot from above 80% HP where it should recommend Condemn, do you need one with under 35%/20% too?

https://pastebin.com/mJMkKBwp

[2020-11-24 16:45] RazaronGit commented on #566
Basically I like to have it so if I choose the Earth Shield talent it appears priority to recast if it's down, I put the,

talent.earth_shield.enabled & buff.earth_shield.down

line in precombat and default rotation, so in pvp it'll always remind me to recast if it's fallen down. I also edit -just- the precombat lightning shield conditions so it doesn't appear if I choose the earth shield talent.

[2020-11-24 17:19] commismurf opened #571 "tiger palm brewmaster monk"
Outside of brews and trinket, addon is recommending I only use "Tiger Palm" ability

build: v9.0.2-1.0.4
level: 56 (56)
class: MONK
spec: brewmaster

talents: black_ox_brew
    chi_torpedo
    dampen_harm
    eye_of_the_tiger
    high_tolerance
    ring_of_peace
    rushing_jade_wind

pvptalents: double_barrel
   incendiary_breath
   niuzaos_essence

covenant: none

azerite: none

essences: [none]

[2020-11-24 17:34] Bustaclompa opened #572 "Kill command for Survival."
It only recommends Kill Command, outside of Kill shot and Death Chakram.

build: v9.0.2-1.0.4
level: 55 (55)
class: HUNTER
spec: survival

talents: birds_of_prey
    bloodseeker
    born_to_be_wild
    guerrilla_tactics
    mongoose_bite
    natural_mending
    vipers_venom

pvptalents: none

covenant: necrolord

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: argent

[2020-11-24 17:37] commismurf commented on #571
sorry... I found how to take a snapshot. here is the snapshot

build: v9.0.2-1.0.4
level: 57 (57)
class: MONK
spec: brewmaster

talents: black_ox_brew
    chi_torpedo
    dampen_harm
    eye_of_the_tiger
    high_tolerance
    ring_of_peace
    rushing_jade_wind

pvptalents: double_barrel
   incendiary_breath
   niuzaos_essence

covenant: none

azerite: none

essences: [none], none

sets/legendari

[2020-11-24 17:42] Bustaclompa commented on #572
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.4
level: 55 (55)
class: HUNTER
spec: survival

talents: birds_of_prey
    bloodseeker
    born_to_be_wild
    guerrilla_tactics
    mongoose_bite
    natural_mending
    vipers_venom

pvptalents: none

covenant: necrolord

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: argent_conscripts_fol

[2020-11-24 18:57] knagls commented on #521
its GREATE! THX!

[2020-11-24 19:45] Nerull91 commented on #571
I am having the same problem! :( I even downgraded to the previous version and its still happening.

[2020-11-24 20:52] Hekili commented on #566
Snapshot, not screenshots.  Refer back to the instructions in a new ticket.

[2020-11-24 21:47] ZhollTas commented on #571
Same issue in brewmaster spec

[2020-11-24 21:51] alexmr06 commented on #570
Good evening everyone, in fact the trick is to play with the talent "massacre". So it replaces the execution ^^. But in any case the technique is not displayed. Even having pasted our own Simc. (60).  Thanks for all the work done so far :).

[2020-11-24 23:25] Publikstomp commented on #570
Tried that and still not getting the recommendation

[2020-11-25 02:13] sumosizeit opened #573 "UI placement shifted unexpectedly to defaults after v9.0.2-1.0.4"
**Describe the Bug/Issue**
I logged out, updated to v9.0.2-1.0.4, logged back in, and found the placement of Hekili to be moved from where I left it. I noticed the PR said : _Default display position didn't center the Primary display... Oops._

The problem is, this seems to have moved the UI for anyone who had already configured the placement of their UI, back to default.

**To Reproduce**
This is

[2020-11-25 02:31] sumosizeit commented on #573
This is mitigable with some tweaking of the X placement of each unit, and is a pretty minor issue, but still kind of jarring nonetheless.

[2020-11-25 02:32] Hekili commented on #573
Yup.  Just move it once and it'll stay.  If not, let me know.

[2020-11-25 02:32] #573 closed, assigned to Hekili

[2020-11-25 02:58] Hekili commented on #572
Thanks for the ticket and info.  The Beast Mastery priority was imported for Survival by mistake.  This will be fixed in the next build.

[2020-11-25 02:58] #572 closed, assigned to Hekili

[2020-11-25 05:03] zeylin17 opened #574 "Subtelty rogue seeing Black Arrow on ability rotation how to fix?"
When using Hekili, while playing my Subtlety Rogue, I get a Black Arrow Icon that pops up during rotation often.  It isn't always and I have yet to be able to determine when it decides to show it.  It feels like when there are multiple enemies it tends to show up more often.  How can I disable that ability recommendation or fix this?    I am guessing it may have black powder and black arrow confus

[2020-11-25 05:06] Hekili commented on #574
Yes, the texture will be fixed in the next release.

[2020-11-25 05:06] #574 closed, assigned to Hekili

[2020-11-25 05:07] Hekili commented on #570
The next release will include Covenant abilities that were missing.

[2020-11-25 05:07] #570 closed, assigned to Hekili

[2020-11-25 05:07] Hekili commented on #571
A fixed priority will be posted in the next release (soon).

[2020-11-25 05:07] #571 closed, assigned to Hekili

[2020-11-25 05:20] Hekili commented on #566
Earth Shield's spell ID changed for Enhancement in Shadowlands.  I've updated to match it, which will be in the next release.

At that time, something like this should work:

![image](https://user-images.githubusercontent.com/9438134/100186380-defbce00-2eb3-11eb-8963-e17d203f7c8a.png)

![image](https://user-images.githubusercontent.com/9438134/100186395-e6bb7280-2eb3-11eb-9c23-457414fd79b1.png)

I

[2020-11-25 05:20] #566 closed, assigned to Hekili

[2020-11-25 08:49] #568 closed, assigned to Hekili

[2020-11-25 08:49] Publikstomp commented on #568
Will resubmit

[2020-11-25 10:13] alexmr06 commented on #570
Nice :). Ty.

[2020-11-25 12:59] Nystroza opened #575 "CDs not being suggested *Balance and Fire* and Empowered Bonds Ability not working properly *Mainly With Party Members*"
**Describe the Bug/Issue**
I have cooldowns toggled on but Combustion and Celestial Alignment are not being recommended and the overall rotation seems to be incorrect until I use the cooldown.  for fire it's suggesting I only cast fireball.

Empowered bonds is also trying to get me to cast Kindred Spirits on myself in combat and only recommends Lone Empowerment and never Empowered Bonds when I hav

[2020-11-25 13:01] Hekili commented on #575
One ticket per spec, please.

[2020-11-25 14:18] Hekili commented on #575
I think I have these sorted and queued up for the next release (1.0.6).  Submit individual tickets for each spec if you find issues in 1.0.6.

[2020-11-25 14:18] #575 closed, assigned to Hekili

[2020-11-25 16:40] Trilkin opened #576 "[Druid, All Specs] Kindred Spirits (Kyrian) being recommended when applied to another player."
Title is issue. Pastebin includes snapshot for all three specs; just Ctrl+F *** GUARDIAN ***, *** FERAL ***, or *** BALANCE ***. Screenshot is just to show exactly what I'm seeing. It's the same for all three specs: Kindred Spirits > Shapeshift > First Real Rec.

https://pastebin.com/w5JcPcYV
https://i.imgur.com/Ri9m1Bh.jpg (rip anybody with eyes i'll do this more elegantly next time)

[2020-11-25 17:16] Trilkin commented on #576
As requested in Discord:

Buff Spell ID when bonded to other player is 326967. This does not change with spec, thankfully.
Buff Spell ID when bonded to myself is 338041.
ID for the spell itself on my bar is 326434.

[2020-11-25 19:11] Nystroza commented on #576
Having this same issue on v9.0.2-1.0.6

[2020-11-25 19:22] Hekili commented on #576
All those spell IDs match what I have at the moment.  Still investigating.

[2020-11-26 00:39] odellcubed opened #577 "cooldowns off/on inverted"
cooldowns are turned on when selected off and vice versa. and for demo lock tyrant doesnt seem enabled either way.

build: v9.0.2-1.0.6
level: 58 (58)
class: WARLOCK
spec: demonology

talents: burning_rush
    demonic_calling
    demonic_consumption
    demonic_strength
    mortal_coil
    soul_conduit
    soul_strike

pvptalents: none

covenant: none

azerite: none

essences: [none], none

sets/l

[2020-11-26 01:12] Hekili commented on #577
Fill out a proper ticket with a snapshot when you think this is happening.

[2020-11-26 02:17] odellcubed commented on #577
![WoWScrnShot_112520_211203](https://user-images.githubusercontent.com/75050716/100300174-6eac8580-2f63-11eb-9dc7-9b8ec0bfd415.jpg)
![WoWScrnShot_112520_211202](https://user-images.githubusercontent.com/75050716/100300183-766c2a00-2f63-11eb-8e30-7537129ab315.jpg)

[2020-11-26 02:23] Hekili commented on #577
Please follow the instructions and provide the requested information:

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug

[2020-11-26 07:26] naofabo opened #578 "fire mage"
when playing fire mage, it's only suggesting to cast scorch. all the time.

[2020-11-26 09:46] djsisson commented on #577
incorrect spellid for tyrant

should be 265187 NOT 265817, made pull request

[2020-11-26 09:56] MarcoStudi commented on #578
I also encountered this bug. For me it only occured with Cooldowns Off, so that's a workaround until it's fixed, just play with Cooldowns.

[2020-11-26 10:04] naofabo commented on #578
ye exactly. I just forgot to mention it. I think it has something to do with the simulation string. I tried to install an older version but it didn't change anything. The string was updated yesterday, since then I have this bug.

[2020-11-26 11:24] Hekili commented on #578
Please fill out a complete ticket with all the requested info.

[2020-11-26 12:33] Hekili commented on #578
I'm putting in a workaround for this in 1.0.8; however, part of the workaround is that Shifting Power was moved from the Covenants toggle to the Cooldowns toggle (because it relies on having accurate CD values for Combustion, etc.).

[2020-11-26 12:33] #578 closed, assigned to Hekili

[2020-11-26 12:34] Hekili commented on #577
Thanks for the PR, merged.  I'm closing this ticket because either (1) this will resolve it or (2) I'll need a new ticket that has the required ticket information to pursue further.

[2020-11-26 12:34] #577 closed, assigned to Hekili

[2020-11-26 12:34] Hekili commented on #576
I believe we determined that this is solved.

[2020-11-26 12:34] #576 closed, assigned to Hekili

[2020-11-26 12:35] Hekili commented on #549
I think my new approach, using the enemy's cast start/duration rather than your interrupt's cooldown information, seems to work better.  I'm closing this ticket, but if there's more to sort out, we can reopen or start from a new ticket.

[2020-11-26 12:35] #549 closed, assigned to nobody

[2020-11-26 13:20] vicwac opened #580 "WW Monk Touch of Karma & Fortifying Brew still not being recommended"
After my previous ticket, there was a fix in the form of a health % slider for Touch of Karma to be recommended, but that is not happening, and Fortifying Brew is also not showing up (apparently the snapshot says ability unknown).

I have tried putting both under Defensives, creating a Defensives action list and a call action list function under the Default tab first with active_enemies >=1 and ag

[2020-11-26 13:31] Hekili commented on #580
The slider is not your health percentage.  The slider is how much incoming damage you've taken in proportion to your health.

[2020-11-26 13:53] vicwac commented on #580
Ok I tried that out, but I don't know really how to use that slider, when I set it to 10 it would recommend around 60% HP, and when I set it to 8 it would trigger at around 90% HP, so I'm not sure what the unit of measurement is. Perhaps you could just allow users to set it to based on their health.percent? If you're too busy to fix it now that's fine, I'll just leave the slider at 10 and it will

[2020-11-26 14:10] Hekili commented on #580
The slider doesn't care about your health percentage at all.  It's incoming damage in proportion to your health.

If you set it to 10%, that means Touch of Karma can be used when you've taken 10% of your maximum health in damage in the past 3 seconds.  I've reset the number to be smaller (1%) so that you don't ToK when you're taking no damage.

If you want to use it as a defensive, based on health

[2020-11-26 14:10] #580 closed, assigned to Hekili

[2020-11-26 14:59] vicwac commented on #580
Ok noted, what about Fortifying brew not being recommended?

[2020-11-26 15:01] Hekili commented on #580
Can you see the spell ID for Fortifying Brew?  If so, what is it for WW?

[2020-11-26 15:04] vicwac commented on #580
It's there above in the screenshot I sent, spell ID 243435

[2020-11-26 15:05] Hekili commented on #580
I'll update the spell ID in the addon, and then it should be fine.

[2020-11-26 15:05] Hekili commented on #580
(If you don't want to wait, you can change line 927 in MonkWindwalker.lua to `id = 243435,` and try it out.)

[2020-11-26 15:06] vicwac commented on #580
Ahh ok great I'll just do it myself, I know you're busy, thanks man

[2020-11-26 22:38] vicwac commented on #580
Happy to report that Fortifying Brew is working as intended now, but I see you've already updated the addon, thanks!

[2020-11-27 00:46] Vaniolock opened #581 "Game freezes and runs pretty bad whenever you start a boss fight."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-11-27 01:01] Hekili commented on #581
There's not really any data in this ticket that I can use to investigate or pursue anything.

A snapshot might clarify some details.

BugSack or BugGrabber information might catch some kind of error message.

[2020-11-27 01:01] #581 closed, assigned to Hekili

[2020-11-27 07:28] brucek2 opened #582 ""if not t.boss then return 3600 end""
Referring to the mob/fight time remaining functions in State.lua (time_to_die, fight_remains, etc.), around line 1700.

The code includes the quoted condition which appears to defeat ttl timers for trash mobs, etc, which means rules that prevent the use of DOTs on mobs that could be killed with a single direct spell don't work (as well as rules designed to preserve cooldowns.)

Would it be possibl

[2020-11-27 12:19] MrHunter79 opened #583 "Guardian Rotation isn´t working with night fae"
Only showing this when in bear form:
![image](https://user-images.githubusercontent.com/75111071/100448670-f3f28000-30b2-11eb-81aa-dfc0409a9334.png)

Snapshot Link:

https://pastebin.com/165f2jx4
Issue Reporting:

build: v9.0.2-1.0.9
level: 60 (60)
class: DRUID
spec: guardian

talents: balance_affinity
    blood_frenzy
    earthwarden
    galactic_guardian
    mighty_bash
    rend_and_tear
    wil

[2020-11-27 12:20] MrHunter79 commented on #583
This is the acutal snapshot:
https://pastebin.com/165f2jx4

[2020-11-27 12:49] Hekili commented on #583
That is intentional for Convoke, but I'll make it into an option.

[2020-11-27 17:20] Sleepy6280 opened #584 "Balance Druid rotation"
Hi.

I think Balance Druid Rotation is Broken. Single Target it wants me to cast Starfall. Maybe it isnt updatet to Shadowlands?

[2020-11-27 17:57] Hekili commented on #584
Fill out the ticket properly, providing the information that is required.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the

[2020-11-27 17:58] Hekili commented on #583
Discussed in Discord.

[2020-11-27 17:58] #583 closed, assigned to nobody

[2020-11-27 17:58] Hekili commented on #582
These are intentionally designed to avoid triggering conditions that are aimed at burning CDs as a fight ends, unless you're actually in a boss encounter.

You can provide snapshots of this as a problem if you'd like me to explore it further.

[2020-11-27 18:41] chaosboy91 opened #585 "PROT Pala - Kyrianer unable to unable classutily"
hi,

ich try to deselect the Kyrianer ability from my rotation - there is an Checkbox -but nothin happen.
Its still in my rotation.

build: v9.0.2-1.0.9
level: 60 (60)
class: PALADIN
spec: protection

talents: blessed_hammer
    cavalier
    divine_purpose
    first_avenger
    fist_of_justice
    judgment_of_light
    sanctified_wrath

pvptalents: none

covenant: kyrian

azerite: none

essences:

[2020-11-27 18:49] Hekili commented on #585
/hekili > Abilities > Divine Toll, check Disabled.

And you probably want to undo whatever else you did.

[2020-11-27 18:49] #585 closed, assigned to Hekili

[2020-11-27 19:49] S4BRE21 opened #586 "Serrated Glaive Not Working"
I am not getting prompted to throw glaive before eye beam.

https://pastebin.com/BVszRrzA

[2020-11-27 19:51] Hekili commented on #586
Please follow the complete ticket instructions in the future.  I moved your snapshot to Pastebin.  I'll take a look.

[2020-11-27 19:52] Hekili commented on #586
Can you post a screenshot that shows Serrated Glaive enabled and active?

[2020-11-27 20:01] brucek2 commented on #582
I see. Thank you for explaining.

Assuming that will be an ongoing necessary safeguard for best out-of-box experience with default SimC APLs, maybe I should reframe this as a feature request for non-safeguarded versions that custom APLs could opt into using? i.e., maybe something like time_to_die_actual? That way players could choose to use it when desired, while still having the protection you're

[2020-11-27 20:01] S4BRE21 commented on #586
![Capture](https://user-images.githubusercontent.com/51067321/100481227-125b7a00-30b9-11eb-9166-c1aac0a0351b.JPG)

[2020-11-28 03:53] fieldser opened #587 "Shadow Priest pre-combat issue: Vampiric Touch -> Damnation?"
Noticed an issue where Hekili is wanting me to open combat by casting Vampiric Touch first, followed by Damnation. Seems redundant since Damnation just applies Vampiric Touch already. I'm very new to Hekili and I've been unable to figure out how to modify my profile to fix this myself.

[2020-11-28 04:00] fieldser commented on #587
I should also say I'm pretty new to Github and I see in the previous reported issue it was mentioned to follow complete ticket instructions. Trying to find those, but having trouble.

[2020-11-28 04:04] fieldser commented on #587
OH it was located in the add-on... sorry. Here is a snapshot from pre-combat

https://pastebin.com/hv6wSKTV

[2020-11-28 05:56] fieldser commented on #587
So I seemed to have resolved the problem by going to:
_Priorities -> Shadow -> Profile tab_
Then added a line for Damnation just before Vampiric Touch.

Though i'm guessing this may cause issues if I ever talent out of Damnation, not sure. But for now it's what I need.

[code]

[2020-11-28 06:31] Hekili commented on #587
This is one of those scenarios where you'd need to do your own sim testing, but both sims and guides presently agree -- use VT to open, even with Damnation.

![image](https://user-images.githubusercontent.com/9438134/100495393-6302bf80-3119-11eb-9a5e-7ffe78c697b1.png)

https://www.wowhead.com/shadow-priest-rotation-guide

If you do sim testing that demonstrates otherwise, that might lead to change

[2020-11-28 06:31] #587 closed, assigned to nobody

[2020-11-28 08:27] fieldser commented on #587
Ahh, okay. I see and don't really understand, but it's hard to argue with sim testing so I'll accept it as is. Thank you for the response!

[2020-11-28 13:34] Graamm opened #588 "MM Hunter - Double Tap and Trueshotnot not shown in rotation"
I'm a MM Hunter in Night Fae covenant. Seems the Double Tap and Trueshot skills are not shown in the rotation nor in the pre combat part.
Here's my report from the addon:

build: v9.0.2-1.0.10
level: 60 (60)
class: HUNTER
spec: marksmanship

talents: double_tap
    explosive_shot
    master_marksman
    posthaste
    streamline
    trailblazer
    volley

pvptalents: dragonscale_armor
   survival_

[2020-11-28 13:43] #588 closed, assigned to Hekili

[2020-11-28 15:18] Bastyani opened #589 "Marksman Hunter dispel and interrupt suggestion"
As Marksmanship Hunter it doesn't suggest for dispel and interrupt. In beastmaster spec works normally.

[2020-11-28 15:57] Starcallerreign opened #590 "[Incomplete Ticket] Significant frame drop while in combat"
For the last couple of days I've noticed significant frame drops while in combat. I tried reinstalling/updating the addon but nothing changed. Frames go back to normal when addon is disabled. Hekili also sends a lot of snapshot reports while the frame drop is  happening.

https://pastebin.com/3849A9Fx - Snapshot
![Screenshot_2](https://user-images.githubusercontent.com/75174254/100519851-c6810180-

[2020-11-28 16:17] Hekili commented on #590
You have to submit the requested ticket information.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear

[2020-11-28 16:18] Hekili commented on #590
If the addon is generating snapshots, you can provide those snapshots here so I have the relevant information.

[2020-11-28 16:18] Hekili commented on #589
People have mixed feelings about dispels, but I'll check on interrupts.

[2020-11-28 16:19] #586 closed, assigned to nobody

[2020-11-28 16:19] #584 closed, assigned to Hekili

[2020-11-28 16:33] Starcallerreign commented on #590
Here it is, sorry for the trouble.
https://pastebin.com/3849A9Fx - Link version
[Hekili snapshot - FPS.txt](https://github.com/Hekili/hekili/files/5610904/Hekili.snapshot.-.FPS.txt)

[2020-11-28 17:30] Hekili commented on #590
That's not an autogenerated snapshot, it has recommendations for 6 slots.

Also, 6 recommendations is a lot, and each recommendation costs a bit more CPU, so you might not want that many to begin with.

Beyond 3 or 4, there's such a high amount of entropy -- anything could proc that might revise those recommendations -- making the time spent generating them effectively wasted.

[2020-11-28 17:33] Hekili commented on #554
I'm going to close this ticket as we'll just need to keep an eye on the evolution of the sim priority and this doesn't show enough cost/benefit to make it worth maintaining a fork.

[2020-11-28 17:33] #554 closed, assigned to Hekili

[2020-11-28 18:38] tdevine21 opened #591 "Affliction - Extreme FPS drops when Drain Soul is being cast."
Something with the addon is triggering FPS drops when Drain Soul is cast. Also, love the addon!

:)

[2020-11-28 18:50] Hekili commented on #591
Submit all the required ticket info.

[2020-11-28 20:01] tdevine21 commented on #591
First time posting a ticket. How do I post the required ticket info?

[2020-11-28 20:05] tdevine21 commented on #591
build: v9.0.2-1.0.10
level: 60 (60)
class: WARLOCK
spec: affliction

talents: absolute_corruption
    burning_rush
    drain_soul
    haunt
    mortal_coil
    soul_conduit
    vile_taint

pvptalents: none

covenant: kyrian

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: darkmoon_deck_putrescence = 1
    evernight_drape = 1
    faemoss_bindings = 1
    glowing_endmi

[2020-11-28 20:07] tdevine21 commented on #591
Frames drop from a solid 120 to around 75.

[2020-11-28 20:39] Hekili commented on #591
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-11-28 20:54] tdevine21 commented on #591
Sorry, brotha. To busy with family to post all this information. Pretty simple issue to describe though. Consistent FPS whole fight until Drain Soul becomes my next talent to cast. Once Drain Soul starts channeling my FPS tanks about 30FPS. Once it's done, FPS goes right back to normal.

Something is up with Drain Soul in the latest version. Have a good one man and look forward to the next update!

[2020-11-28 21:01] #591 closed, assigned to Hekili

[2020-11-28 21:16] Hekili commented on #589
I'm not finding any issue with the interrupt here.

[2020-11-28 21:16] #589 closed, assigned to Hekili

[2020-11-29 01:26] 69bossmustang opened #592 "Can't move bar w/Elvui?"
Instructions say just go into config mode and you can move the bars. Only Elvui wont let you move the Hekili config window to get at the bars behind it.

MoveAnything wouldnt even move it.

Not a problem with your work, only inconsistent method of toggling lock bars. It would help if there was either a commandline or a config "toggle" option so the menu can be closed and still can move.

[2020-11-29 01:29] Hekili commented on #592
I use my addon with ElvUI all the time. If you can't click the window (by the title) and drag it out of the way, you can set x/y positioning in each display's settings.

[2020-11-29 01:53] 69bossmustang commented on #592
You are correct, it must have been a issue with me being on so long. Once I logged out/back in Elvui allowed me to move (they also had a update between that).

Thanks for your insight ;)

[2020-11-29 01:53] #592 closed, assigned to nobody

[2020-11-29 02:01] Hekili commented on #590
I adjusted the Affliction priority to avoid some redundant checking, so that should result in some reduced CPU usage.

[2020-11-29 02:01] #590 closed, assigned to Hekili

[2020-11-29 07:52] Dragonfo opened #593 "Is it possible to somehow get the ability to other windows?"
Hello. Faced a problem in rotation about my bursts. The problem lies in the fact that the rotation suggests using them always and everywhere, regardless of the battle. And I want to control this process. But in the addon, you can only delete them, or hide them. Is there a possibility, like the same herorotation, to make them be taken out in another window from the rotation, like they were implemen

[2020-11-29 09:02] whoaisjustin opened #594 "Outlaw - Flagellation stacks not being consumed at end of debuff"
Add-on recommends flagellation at the beginning of combat, however it lets the debuff fall off without consuming the stacks for the haste buff.

https://pastebin.com/qeAN4X3y

[2020-11-29 09:35] Bastyani opened #595 "BM Hunter Beastial Wrath Aura in Torghast"
There is an Anima Power in Torghast that activates your Bestial Wrath for 60 seconds when you enter new floor. Is it posible that Hekili checks if the aura is already up on you so it doesn't suggest it in the rotation. Right now it suggests it and it overwrites the 60 second one with 12 second one so you practically lose it if you follow the rotation.

[2020-11-29 11:50] Triggersad opened #596 "MM hunter steady shot while moving"
This is similar to functionality you had with fire mages and scorch. The only caveat being with mm hunters is that it really should only suggest steady shot while aim shot is in the priority spot. As other skills can already be cast while moving. (Rapid fire,
 Arcane shot, etc). This functionality should be toggles on and off like the fire mage for those that have a preference.

[2020-11-29 11:54] Hekili commented on #593
Not at this time.

[2020-11-29 11:54] #593 closed, assigned to nobody

[2020-11-29 11:54] Hekili commented on #596
There's already an open ticket for this.

[2020-11-29 11:55] #596 closed, assigned to Hekili

[2020-11-29 11:56] Hekili commented on #595
It depends. Do you have the spell ID of the Torghast version? If it is the same, then this is easy enough.

[2020-11-29 11:56] Hekili commented on #594
Will take a look.

[2020-11-29 13:59] Hekili commented on #594
Should be addressed in next build, but I'd watch it closely -- the default priority puts stealth and CDs above Flagellation Cleanse and there's some risk that you'd miss the 2 second window.

[2020-11-29 13:59] #594 closed, assigned to nobody

[2020-11-29 13:59] Hekili commented on #595
I've added a toggle in your spec options that allows you to avoid this issue.

[2020-11-29 13:59] #595 closed, assigned to Hekili

[2020-11-29 14:00] Hekili commented on #521
I've added a checkbox to /hekili > Marksmanship to disable Aimed Shot while moving (if it has a cast time).

[2020-11-29 14:00] #521 closed, assigned to nobody

[2020-11-29 14:00] #534 closed, assigned to nobody

[2020-11-29 14:46] Bastyani commented on #595
Wow that was fast! Thanks a lot!

[2020-11-29 14:49] Vaniolock commented on #591
i also have this problem only on warlock affliction , also i can say boss encounters do trigger alot of performance issue until u pause it

[2020-11-29 14:51] Hekili commented on #591
Still has to be properly reported.  Update and provide the missing info.

[2020-11-29 14:52] Vaniolock opened #597 "Please fix affliction warlock performance issue"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Whenever there is a boss encounter or spamming drain soul game

[2020-11-29 15:23] Hekili commented on #597
???

[2020-11-29 15:23] #597 closed, assigned to Hekili

[2020-11-29 16:29] Hekili commented on #591
I have two changes in that should reduce CPU usage.

1.  I revised the APL to avoid rechecking the darkglare_prep list multiple times each time the recommendations are iterated upon.  This is in 1.0.12.

2.  In 1.0.13-beta1, I've added a "Manage Drain Soul Ticks" checkbox for Affliction, defaulting to false.  If checked, the addon models the application of Shadow Embrace with each tick of Drain So

[2020-11-29 19:21] cremor opened #598 "Support Torghast anima powers that alter the availability of abilities"
It would be nice if Hekili would support the temporary anima powers inside Torghast. Some of those alter the availability of abilities - so they could affect the next suggested ability.

For Paladin I've noticed those powers until now that could be supported:
https://www.wowhead.com/spell=332545/ring-of-unburdening
https://www.wowhead.com/spell=335069/negative-energy-token

[2020-11-29 21:32] towicode opened #599 "Aff Lock UA being reccomended on multiple targets."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

Unstable

[2020-11-30 00:06] machajr opened #600 "revenge is not using"
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.13-beta1
level: 58 (58)
class: WARRIOR
spec: protection

talents: anger_management
    booming_voice
    crackling_thunder
    double_time
    indomitable
    punish
    unstoppable_force

pvptalents: none

covenant: venthyr

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: ashjrakamas_shroud

[2020-11-30 00:29] Hekili commented on #600
Please move the snapshot to Pastebin and link it here.

[2020-11-30 07:53] Helliance opened #601 "Incomplete Ticket: Unholy DK Recommendations Missing"
https://pastebin.com/EM64nyWm

[2020-11-30 13:09] Hekili commented on #601
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-11-30 13:13] Hekili commented on #599
Resolved in beta.

[2020-11-30 13:13] #599 closed, assigned to Hekili

[2020-11-30 13:16] Hekili commented on #600
Revenge gets recommended:
1.  When it's free.
2.  When you aren't having the addon generate defensive recommendations.
3.  When Ignore Pain is up (i.e., you've already used defensives).
4.  When Shield Block is up (same as previous).

Otherwise, you'd spend down rage to the point where you can't use your active mitigation.

[2020-11-30 13:16] #600 closed, assigned to Hekili

[2020-11-30 13:20] Hekili commented on #598
This is a "probably, eventually" kind of thing.  I may work on it piecemeal, so it's good to list them here.

[2020-11-30 19:15] Amortalist opened #602 "Heavy fps stutter whenever I mouseover on healing spec"
Using latest version available, this problem only happens on my Rdruid while the addon is loaded but not in use (healing spec), other specs / classes are ok. It is 100% tied to Hekili (tried every addons one by one). It's a similar type of stutter that when changing a talent on a dps spec.

Basically whenever I mouseover a npc or a player, or a health bar in my groups, my fps drops heavily, indepe

[2020-11-30 19:27] Hekili commented on #602
Can you provide all the ticket information?  Obviously, a snapshot would not apply.

[2020-11-30 19:34] Amortalist commented on #602
Hey, sorry not used to this :

build: v9.0.2-1.0.13
level: 53 (53)
class: DRUID
spec: restoration

talents: none

pvptalents: none

covenant: night_fae

azerite: rampant_growth = 1
    resounding_protection = 1
    synergistic_growth = 1
    waking_dream = 1

essences: [none], none

sets/legendaries/artifacts: none

gear: corrosive_handlers_gloves = 1
    deadly_laestrite_choker = 1
    deathstalk

[2020-11-30 19:35] Amortalist commented on #602
It doesn't seem to be a conflict with another addon, the stutter still happens with only Hekili loaded.

[2020-11-30 19:43] Hekili commented on #602
Are you comfortable testing an edit?

In Events.lua, we need to change line 2250; from:

[code]

To:

[code]

(It's just adding the `-- ` before the `ACTIONBAR_SLOT_CHANGED` line.)

Can you try that?  Save the file and then /reload in game.

[2020-11-30 19:56] Amortalist commented on #602
Trying that asap

[2020-11-30 20:00] Amortalist commented on #602
Yup, seems to be fixed ! Still having the stutter from changing talents but I guess it's normal because it has to calculate the new rotation.

[2020-11-30 23:48] howtnted opened #603 "Exclude Out-of-Range for Survival Hunters"
Hello I get some weird recommendation for Survival Hunter while I am not in melee range (but in range to cast my attacks). I have Exclude Out-of-Range activated. But in this case I am in range, but the attacks [Kill Command] and [Serpent Sting] are "mistakenly?" excluded.

Thank you for your help!

https://pastebin.com/ngP52veU

[2020-12-01 05:09] dr0wningless0n5 opened #604 "Interupt not showing on priority"
Playing blood dk and vengeance hunter.   Interupts are no longer flashing with spellflash as a priority when interruptible attacks are being cast.  It will flash every few spells, but no longer seems to be a main priority.   i have made no changes other than updating the addon yesterday morning, and again today.

[2020-12-01 15:03] Amortalist commented on #602
Using this to ask a question, is there a way to show cooldowns separately from main bar ? For example to still have them displayed but not forcibly taking a spot in the rotation images ?

[2020-12-01 15:04] Hekili commented on #602
No, not at the moment.

[2020-12-01 15:08] Amortalist commented on #602
Is it planned ?

[2020-12-01 15:18] Hekili commented on #602
Yes...ish.

I have a plan for a "tray" feature that basically does this, and can glow (or otherwise indicate) when the CD's criteria would be met.  (If the icons are showing all the time, it's not really a "priority" any more and this addon is a _priority_ helper.)

However, until that's ready, the smart/best option is to just get some WeakAuras for those key abilities that you want to be able to

[2020-12-01 16:16] Amortalist commented on #602
Awesome :) Yeah so far I'm mostly using the shortcut to activate it on boss / deactivate it on packs and world content. I'm already tracking most of them, I just enjoy the no brain mode with Hekili when playing alts.

I also like the Bloodlust override feature, but sometimes it has to be delayed / it's off cd

[2020-12-01 18:29] Abraxion opened #605 "Enhancement Shaman Doom Winds Legendary"
1) Addon is fully up to date in support of 9.0.2.

2) When using the enhancement shaman Doom Winds Legendary, the priority list changes from your regular priority to only dropping Windfury Totem.  Under normal circumstances, Hekili will recommend dropping Windfury Totem around the end of its natural duration.  However, with Doom Winds legendary equipped, upon dropping Windfury Totem, the priority

[2020-12-01 18:30] Hekili commented on #605
Were the instructions missing when you came to make this bug report?

[2020-12-01 18:30] Hekili commented on #605
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-01 18:48] Hekili commented on #605
@Abraxion Can you confirm if you'll be providing the missing info (especially the snapshot)?

[2020-12-01 18:50] Abraxion commented on #605
Are the screenshots not appearing? I added two of them, let me go back and see what the issue on my end is.

[2020-12-01 18:50] Hekili commented on #605
Please read the ticket instructions I provided.  Snapshots are not screenshots.

[2020-12-01 18:58] Hekili commented on #605
Never mind, testing a solution in beta right now.

[2020-12-01 18:58] #605 closed, assigned to Hekili

[2020-12-01 19:21] geraint425 opened #606 "Can a range check be added to all DK abilities?"
Hello. While playing DK in 3 specializations, I noticed that abilities that work on AOE are like blood boil, unholy blight, frostscythe, remorseless winter, and so on. Please tell me, is it possible to make them be used when they can really reach the target? It would be great if they worked in a place with a range check of other abilities. This would remove accidental triggers when the target is f

[2020-12-01 19:23] Hekili commented on #606
It depends.  I have Wake of Ashes configured with a setting for this.  For Frost DK, the entire priority might fall apart if Frostscythe were blocked.  (Keep in mind, the actual optimal recommendation when Frostscythe appears is to be in range or get in range and use Frostscythe.)  You have to think about whether you'd actually have a different button to push, if those actions were excluded.

[2020-12-01 19:28] jmusick opened #607 "Prot Paladin suggests Guardian of Ancient Kings while it's on cooldown sometimes"
Screenshot paused on the recommendation showing the ability on cooldown on hotbars.

![WoWScrnShot_120120_142238](https://user-images.githubusercontent.com/2590271/100787388-8f506180-33e1-11eb-8166-a7f9838c812e.jpg)

Here's a paste of the snapshot

https://pastebin.com/Wkrhkzfp

[2020-12-01 19:29] jmusick commented on #607
Updated screenshot.

[2020-12-01 19:30] geek0x23 opened #608 "After equipping Doom Winds legendary, enhance shaman only shows Windfury totem"
Today I obtained the Doom Winds legendary helmet from Torghast.  Once equipped, Hekili looks fine.  It tells me to drop a Windfury totem at the start of the fight.  However, once I actually do drop a Windfury totem, the UI shows nothing but Windfury totem in the queue.

**To Reproduce**
Steps to reproduce the behavior:
- Equip Doom Winds legendary on an enhancement shaman.
- Cast Windfury Totem
-

[2020-12-01 19:34] Hekili commented on #608
Get 1.0.14, re-report if you still see this issue.  With a snapshot per the ticket instructions.  Thanks.

[2020-12-01 19:34] #608 closed, assigned to Hekili

[2020-12-01 19:35] Hekili commented on #607
Can you see spell IDs in your UI?  What is the spell ID for your Guardian of Ancient Kings?

Do you have any gear or talents that modify GoAK?

[2020-12-01 19:40] jmusick commented on #607
I don't see anything that modifies it. I installed a spellID addon to put the id in the tooltip and the GoAK shows ID# 212641

[2020-12-01 19:40] jmusick commented on #607
Oh I have the Glyph of the Queen glyph on. Maybe that's why?

[2020-12-01 19:43] Hekili commented on #607
Yeah, looks like it.

[2020-12-01 19:48] Hekili commented on #607
I have a fix to detect the changed spell ID planned for the next release.

[2020-12-01 19:48] #607 closed, assigned to Hekili

[2020-12-01 20:29] Hekili commented on #602
This is officially fixed in 1.0.14.  Thanks!

[2020-12-01 20:29] #602 closed, assigned to Hekili

[2020-12-02 01:03] dmack94 opened #609 "Doom winds breaks rotation"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Yes, running the most recent version as per Wowup.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

Not that i've seen

**Describe the Bu

[2020-12-02 01:04] Hekili commented on #609
Update to 1.0.15.

[2020-12-02 01:04] #609 closed, assigned to Hekili

[2020-12-02 01:05] Varori opened #610 "Use a title that describes the problem scenario."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-02 01:11] Varori commented on #610
Ok, so hello. My Hekili does not show an option to move any of it's bars around the screen. I am using v9.02-1.0.13. I don't know what I've done but I've checked and rechecked. Downloaded and re-downloaded. Deleted all old folders from my HD and gone through with a fine tooth comb to make sure nothing is lingering. I went and re-downloaded once again and still it doesn't have an option to "Lock."

[2020-12-02 01:14] Hekili commented on #610
https://github.com/Hekili/hekili/wiki/Getting-Started#positioning

[2020-12-02 01:14] #610 closed, assigned to Hekili

[2020-12-02 07:07] geraint425 commented on #606
Well, if I understood you correctly. Then, in principle, it is realizable. It's just that with the same Frostscythe, it cannot be dropped from rotation. Because it, in principle, when it does not reach the goal, it is simply used, and does not spend anything, but in the vicinity, it is implemented normally. But the other abilities that I listed, they also work fine. But I would like me to use them

[2020-12-02 10:04] Colorette opened #611 "Add the ability to funnel damage into main target in AOE situations for subtlety rogue"
ideally with keybind toggle.
Building combo points with shuriken storm and funneling main target is a great DPS increase.

[2020-12-02 12:58] Gvasa opened #612 "Sinful aspirants badge of ferocity missing"
**Describe the Bug/Issue**
Cannot find Sinful aspirants badge of ferocity in the gear and trinkets list

**To Reproduce**
Steps to reproduce the behavior:
- Go to Gear and trinkets
- Click on gear and trinkets dropdown
- Scroll down to Sinful aspirants badge of ferocity. itemid: 175884
- See error

**Expected behavior**
List the trinket

**Screenshots**

![image](https://user-images.githubusercont

[2020-12-02 14:08] Hekili commented on #612
Are there any other Aspirant's/Gladiator's Badge entries in that list?  All the Badges share the same entry, regardless of how they're labeled.

Does the list change after /reload ?

Did you just get the Badge or have you relogged or done a /reload since getting it and equipping it?

[2020-12-02 15:04] Gvasa commented on #612
Not there after relog / reload

There is a  [Sinful gladiator's badge of ferocity](https://www.wowhead.com/item=175921/sinful-gladiators-badge-of-ferocity), itemid 175921, there, which is the conquest version of it

other pvp trinkets found
[Corrupted Gladiator's maledict](https://www.wowhead.com/item=172672/corrupted-gladiators-maledict)
[Corrupted Gladiator's Spite](https://www.wowhead.com/item=

[2020-12-02 15:46] Hekili commented on #612
Any/all Badges are the same, as far as the addon is concerned.

[2020-12-02 15:49] Gvasa commented on #612
Ok! Other trinkets with a cooldown has been added automatically to the rotation, however this one wont show. Most likely an error on my part but cannot seem to find where it should be turned off.
Cheers for answering

[2020-12-02 19:02] hekiliuser opened #613 "how do I remove army of dead from the rotation for dk."
I would love to use the cooldown feature but that major cool down "army of the dead" messes up the rotation for 99% of the fight. if i could use the cooldown feature but just remove army of the dead would be great.

[2020-12-02 19:05] Hekili commented on #613
You can disable Army of the Dead in the priority or in /hekili > Abilities > Army of the Dead.

[2020-12-02 19:05] #613 closed, assigned to Hekili

[2020-12-02 20:03] Yannkes commented on #612
I have exactly the same problem the trinket just don't show up in the addon. it's just not there. Item ID: 175884. And we can't add ID trinkets either

[2020-12-02 20:36] ShmooDude commented on #582
Just use `target.time_to_die`, that should be what you're looking for.

[2020-12-02 22:26] parkerstan93 opened #614 "Should Death Strike be showing up for Unholy DK?"
I'm not getting Death Strike showing up for my DK no matter what toggles I choose. I did get it to work for a day when i had show defensives checked and show separately checked (but was still showing in the automatic window) , but then it stopped showing up again.

what can I do to have it show in my rotation again?

[2020-12-02 22:30] Hekili commented on #614
https://github.com/Hekili/hekili/wiki/Frequently-Asked-Questions#how-do-i-make-the-addon-recommend-________

[2020-12-02 22:30] #614 closed, assigned to nobody

[2020-12-02 22:32] Hekili commented on #604
Fill out a complete ticket with a snapshot.

[2020-12-02 22:32] #604 closed, assigned to Hekili

[2020-12-03 00:10] hekiliuser opened #615 "major cooldown like "army of the deadUse a title that describes the problem scenario."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-03 00:12] hekiliuser opened #616 "major cooldown like "army of the dead" to be removed"
army of the dead to be taken off  the cooldown list of dk's. it gets in the way during non boss fight and messes up rotation of the addon

[2020-12-03 00:12] #615 closed, assigned to Hekili

[2020-12-03 00:42] k4zar opened #617 "Victory rush warrior rotation"
Hi all,Victory Rush dont show up on rotation when it procs.Cant find how to do this works

[2020-12-03 00:46] #617 closed, assigned to Hekili

[2020-12-03 03:45] WeirDave opened #618 "Export /Import Profile"
Please describe your idea or feature and when it would be useful.
I'd like to be able to export my profile so I can load it in on my laptop when I am not able to play on my desktop. I can currently do this with ELVUI and your graphics model and detailed settings page seems to be loosely based on that so I thought I would suggest.

[2020-12-03 09:49] ilu4ko commented on #616
I'd rather vote for making an option to all classes to either not show damage cooldowns everywhere except for bosses or just to clone primary line without any CDs.

In both ways, players will manage their CDs. Because sometimes the queue is fully loaded with cooldown abilities and not showing any others (can make more than 5 slots, but it's inconvenient)

[2020-12-03 10:47] ShmooDude commented on #616
You can already set individual abilities to "Boss Encounter Only" in the abilities pane or disable them entirely.

However, it might be more convenient for some classes with a lot of cooldowns if there was a global option in the Toggles pane that would flag it for all of them.

[2020-12-03 12:44] Hekili commented on #616
Taking Army of the Dead off the Cooldowns toggle doesn't disable Army -- it makes it always enabled regardless of the toggle.

I don't think any specs have enough cooldowns that manually setting the Boss Encounter Only check is asking too much.  (Half the CDs for any spec are racials, and you really only have one of them on any character.)

Historically, I've left Army of the Dead disabled in the

[2020-12-03 12:45] Hekili commented on #618
Which settings are you wanting to share that you can't through Import/Export for your Displays?

The dirty secret of the addon is that all of the data for all of the specs is included in your profile.  So the export strings that includes 30 specializations' priorities is going to be pretty large.

[2020-12-03 13:13] ilu4ko commented on #616
Guys, you are the best. I just set the required rules and it's amazing. Thank you a lot!

[2020-12-03 15:19] WeirDave commented on #618
I was primarily thinking of:

- Button Size
- Button Placement
- Number of buttons/steps

I like my stuff to be in the same spot for me where ever I play and whatever character/toon I use.

THEN when I saw your message I just realized, and found, that I can export and import that stuff already under "Share Styles". At least that's what it looks like.

I just expected it to be under "Profile" like

[2020-12-03 15:46] Hekili commented on #618
It was a good question.  A lot of my options are not exactly intuitive.  Let me know how Share Styles goes for you.

[2020-12-03 18:05] Pendorax opened #620 "(Frost) DK death strike"
Would it be possible to add some kind of slider or other form of option to change the rotation based on health% to focus on death strike instead of frost strike?

[2020-12-03 18:07] Hekili commented on #620
You can edit your own priority as you see fit -- it's just not necessarily *optimal*.

The closest thing I have in terms of instructions is here:  https://github.com/Hekili/hekili/wiki/Frequently-Asked-Questions#how-do-i-make-the-addon-recommend-________

[2020-12-03 18:07] #620 closed, assigned to Hekili

[2020-12-03 18:28] KestrelWild commented on #263
same for balance affinity!

[2020-12-03 18:35] #618 closed, assigned to Hekili

[2020-12-03 18:35] #616 closed, assigned to Hekili

[2020-12-03 18:36] Hekili commented on #611
This is available in 1.0.16-beta3, but without a keybind.

[2020-12-03 18:36] #611 closed, assigned to Hekili

[2020-12-04 03:36] vicwac opened #621 "Movement check for classes with hard cast spells/skills"
As a modification has already been done to the MM Hunter rotation to recommend Aimed Shot only when stationery, it would be great if this can be extended to all other classes such as Balance Druid Wrath/Starfire, Fire Mage Pyroblast, Destro Lock Chaos Bolt, to name a few.

Currently I can set the movement check modification to stationery for all my recommended hard cast skills, but it gets overwri

[2020-12-04 04:27] Hekili commented on #621
Fire Mage already has settings.

Refer to the Wiki here about how to make a copy of a default priority so that your changes aren't overwritten.

[2020-12-04 04:27] #621 closed, assigned to Hekili

[2020-12-04 05:11] behub-au opened #622 "btn Error (v9.0.2-1.0.16-beta4)"
Since beta3 with the keybind detection change, I often get this popping up at the start of combat, changing sub-zones, standing still. Running ElvUI 12.16

[code]

[2020-12-04 13:07] Hekili commented on #622
What version of ElvUI are you using that you have 15 action bars?

[2020-12-04 16:44] grokat opened #623 "[Druid, Feral Spec] Kindred Spirits (Kyrian) being recommended when applied to another player."
This has been raised before ( 576) , but as of Version v9.0.2-1.0.15 (2020-12-01) , it is still recommending to apply Kindred Spirits to self when in a party . I only checked Feral.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see i

[2020-12-04 16:49] #623 closed, assigned to Hekili

[2020-12-04 16:49] grokat commented on #623
I just loaded and tried again and it worked! Sorry.

[2020-12-04 19:21] behub-au commented on #622
Honestly have no idea where that bar is coming from. I have these installed for ElvUI:
![image](https://user-images.githubusercontent.com/870239/101205537-e2683400-36c1-11eb-83d5-956cc6068a02.png)
When I get the error next I'll see if I can do a dump on that frame. Get some more info for you but right now 'ElvUI_Bar15Button1' is nil.

I tried looking through my entire folder for things that intera

[2020-12-04 19:23] Hekili commented on #622
Yeah, it's more that you have an action slot 169, which is a high number.  I'm putting some validation testing into that code and it'll be sorted.

[2020-12-04 21:08] behub-au commented on #622
Got a quest that uses ExtraActionButton. Got a different Action Bar number error. `/dump ElvUI_Bar12Button1` comes back nil.

[code]

[2020-12-04 22:05] doktorstick opened #624 "Abilities: Elite Encounter (similar to Boss Encounter Only)"
The change would be to add a checkbox for "Elite Encounter" under the Abilities configuration for the per ability toggle. Often, I don't care about big cooldowns when out in the world, but there are rares, group world quests, and now, with sections of the Maw being rather tough, I would like these abilities to be available. I imagine it working not just with the mob you have targeted, but if there

[2020-12-04 22:10] JediMaDMZ opened #625 "Can't remove Ashen Hallow"
I can't remove Ashen Hallow, covenant skill, from my Hekili rotation, how can I do it please?

[2020-12-04 23:28] JediMaDMZ commented on #625
Found it

[2020-12-04 23:28] #625 closed, assigned to nobody

[2020-12-05 01:48] Mhedo opened #626 "stutterin during combat"
Hi all,

as soon as I start combat WoW starts to stutter on my Fire Mage. I checked all addons and it is definitely a problem caused by Hekili.

build: v9.0.2-1.0.15
level: 60 (60)
class: MAGE
spec: fire

talents: flame_on
    flame_patch
    frenetic_speed
    kindling
    rune_of_power
    searing_touch
    shimmer

pvptalents: none

covenant: night_fae

azerite: none

essences: [none], none

se

[2020-12-05 02:06] Hekili commented on #626
Yep, Fire Mage requires a lot.  Show fewer icons or don't use it.

[2020-12-05 02:06] #626 closed, assigned to Hekili

[2020-12-05 02:52] Zarggg commented on #624
I'm definitely in favor of this use case, but would also like to add that currently I just toggle Cooldowns on for these encounters, then back off when I'm only fighting normal mobs.

[2020-12-05 05:36] nate8282 opened #627 "Legendary: Account for Deathmaker"
The Deathmaker legendary gives Rampage a 30% chance of applying Siegebreaker for 6 seconds (Instead of the default 10). Currently, with this legendary equipped in fury spec, Siegebreaker is cast even if Siegebreaker was just applied by Rampage causing up to 4 seconds of Siegebreaker to be wasted.

It would be nice if Siegebreaker would wait to be applied if it's already currently applied by the le

[2020-12-05 05:58] Hekili commented on #627
Have you simmed any APL changes to account for this?

[2020-12-05 07:39] Tuiz opened #628 "Error: attempt to index local 'btn' (a nil value)"
I got this errir while doing the Smack and Grab quest in Maldraxxis after i feed and mount the Bonetooth mob

Message: Interface\AddOns\Hekili\Events.lua:2324: attempt to index local 'btn' (a nil value)
Time: Sat Dec  5 18:31:31 2020
Count: 31
Stack: Interface\AddOns\Hekili\Events.lua:2324: attempt to index local 'btn' (a nil value)
[string "@Interface\AddOns\TradeSkillMaster\LibTSM\Service\ErrorH

[2020-12-05 13:57] Hekili commented on #622
Try beta5

[2020-12-05 13:57] #622 closed, assigned to Hekili

[2020-12-05 13:58] Hekili commented on #628
Try beta5, and please provide the information in the ticket instructions with future reports. Thanks.

[2020-12-05 13:58] #628 closed, assigned to Hekili

[2020-12-05 13:59] Hekili commented on #627
So far, in my own sim testing, holding Siegebreaker when it has already been applied by Rampage has been DPS neutral on average with a possibility of higher top-end damage when you're lucky.

[2020-12-05 15:54] cremor opened #629 "Don't show GCD on abilities that are off the GCD"
Abilities that are always off the GCD like Shield of the Righteous from the Protection Paladin shouldn't show the GCD on the icon.

[2020-12-05 16:01] tflo opened #630 "Wrong icons with The Codex of Xerrath"
On my Warlock I have [The Codex of Xerrath](https://www.wowhead.com/spell=101508/the-codex-of-xerrath#comments) (the achievment that makes all fire spells green).

After login, Hekili shows the default red (fire) icons, instead of the green (fel) icons. However, after a manual UI reload the correct icons are shown.

Wrong (after login):

![WoWScrnShot_120520_163943-bad](https://user-images.githubu

[2020-12-05 18:28] TeaguePerry opened #631 "Trueshot and Double Tap are not being recommended"
**BEFORE SUBMITTING AN ISSUE:**

1.  I am using the latest version

2.  I saw another issue reported in February but it has been closed.

**Describe the Bug/Issue**
When using Hekili trueshot and double tap are never being recommended.

**To Reproduce**
Steps to reproduce the behavior:
- Go to '...'
- Click on '....'
- Scroll down to '....'
- See error

**Expected behavior**
I expect that they wou

[2020-12-05 18:54] Hekili commented on #631
They are controlled by the Cooldowns toggle, which you have turned off.

[See the Getting Started part of the Wiki.](https://github.com/Hekili/hekili/wiki/Getting-Started#toggles--cooldowns-interrupts-potions-and-defensives)

[2020-12-05 18:54] #631 closed, assigned to Hekili

[2020-12-05 19:56] nzall opened #632 "Getting your specialization automatically changed by entering or exiting an queued dungeon does not change the priority"
**Describe the Bug/Issue**
If you are DPS in the open world, and then join a dungeon as a tank, you enter the dungeon immediately as a tank. However, entering the dungeon in this way does not change the Hekili recommendations to match the new spec. Example, as a Ret Paladin, if I queue as a tank for a random dungeon, I get automatically set to Protection spec upon entering (similar to how BGs work

[2020-12-05 22:58] codecrete-ross opened #633 "Affliction Warlock: no target swap icon when Recommend Target Swaps is enabled"
**Describe the Bug/Issue**
When using an AoE rotation for Affliction Warlock, the target swap icon does not appear on any spells.

**To Reproduce**
Steps to reproduce the behavior:
- Spec as Affliction.
- Enable the "Recommend Target Swaps" setting under Affliction > Targeting.
- Engage in a multi-target fight.
- Observe the lack of target swap icons when the queue fills up with Agony.

**Expected

[2020-12-06 00:20] Hekili commented on #633
Why did you cut off the snapshot instructions and not include one?

[2020-12-06 01:29] karpana opened #634 "Question: How do I disable an ability from being used (e.g. Covenant Ability: Ashen Hallow)"
Not an issue so much as a request.
I've tried "x'ing" the Covenant Ability that I want to not have recommended automatically, but that doesn't seem to work.

Specifically, I find I prefer having this ability not recommended, as I find it better to manage it's use for those "clutch" moments, and not within my standard rotation.

How do I configure Hekili to not provide me with a recommendation, tha

[2020-12-06 01:32] karpana commented on #634
THis can be closed/cancelled.
I couldn't figure out how to find "closed/answered" issues.

but after figuring it out, I found this issue which provided the answer I was seeking.
https://github.com/Hekili/hekili/issues/613

(by the way ... the sophistication of this addon continues to impress me).

[2020-12-06 01:55] #634 closed, assigned to Hekili

[2020-12-06 19:36] nate8282 commented on #627
Thanks for checking.

[2020-12-06 22:05] hlokk101 opened #635 "Tranquilizing Shot not recommended as Marksmanship"
Tranquilizing Shot is not recommended when in combat and targeting a mob with a dispelable debuff, which it does for Beast Mastery.

**To Reproduce**

Fight any mob with a dispelable debuff as a Marksmanship hunter and you will note that Tranquilizing Shot is not recommended.

**Expected behavior**

Tranquilizing Shot is expected to be recommended when targeting a mob with a dispelable debuff.

**

[2020-12-06 22:21] HallwayRaptor opened #636 "Demon Hunter Havoc - Cycle of Hatred Talent"
**Describe the Bug/Issue**
Addon doesn't account for the Cycle of Hatred talent which eliminates Blade Dance from the rotation completely. Currently it is suggesting Blade Dance in the ST and AOE rotations, it shouldn't be in either.

**To Reproduce**
Fight any target with Cycle of Hatred talent

**Expected behavior**
choosing the Cycle of Hatred talent should remove blade dance/death sweep from t

[2020-12-07 01:04] Hekili commented on #636
You are not using the default priority for Havoc.

The default priority uses the following criteria for Blade Dance:

`talent.first_blood.enabled | spell_targets.blade_dance1 >= ( 3 - ( talent.trail_of_ruin.enabled + buff.metamorphosis.up ) ) | runeforge.chaos_theory.enabled & buff.chaos_theory.down`

That is:
1.  First Blood is talented.
-OR-
2.  There are 3 targets; that requirement is reduced b

[2020-12-07 01:04] #636 closed, assigned to Hekili

[2020-12-07 01:38] Hekili commented on #630
I believe this is fixed in beta; try the beta branch and include the required ticket information (from /hekili > Issue Reporting) if this needs follow-up.

[2020-12-07 01:38] #630 closed, assigned to Hekili

[2020-12-07 01:39] #582 closed, assigned to Hekili

[2020-12-07 01:40] Hekili commented on #635
It's not there.  To be honest, half the time when I include dispels, people want them removed.  If I don't include them, people want them added.

I'll probably do this when I also have time to make it easier to turn on/off.

[2020-12-07 01:40] #635 closed, assigned to Hekili

[2020-12-07 01:40] Hekili commented on #627
The edit is currently in beta and will be included in the next release.  Even though it's neutral.

[2020-12-07 01:40] #627 closed, assigned to Hekili

[2020-12-07 01:41] Hekili commented on #633
@kehlankrumme Can you provide a snapshot taken when there are multiple targets, but no recommendations to apply dots to other targets?

[2020-12-07 02:41] Hekili commented on #632
I believe this is fixed in the 1.0.16 release I'm putting out now (it worked for me).  Let me know if it persists.

[2020-12-07 02:41] #632 closed, assigned to Hekili

[2020-12-07 02:43] Hekili commented on #624
Yeah, CDs toggle is meant to address this, for the most part.  I'd encourage you to get used to toggling them on/off as needed.  It's very helpful for saving CDs for fight mechanics, too.

The biggest barrier to this feature is that WoW is reeeeeeally inconsistent with whether they flag specific enemies as elite or not.

[2020-12-07 02:43] #624 closed, assigned to Hekili

[2020-12-07 03:15] Smudgiee opened #637 "MM Hunter suggesting Multishot during Volley"
While you have Volley up as MM Hunter you get Trick Shots buff for the entire durtation, which means you should be able to get off a Aimed Shot and Rapid Fire,
I was testing out using Double Tap and Volley (which is cds used inbetween next Trueshot) and after the first Aimed Shot, it was suggesting to use Multishot maybe thinking it needs to reapply Trick Shots. I don't believe Hekili is tracking

[2020-12-07 03:35] codecrete-ross commented on #633
Apologies. I will try to reproduce this ASAP and provide a snapshot. I just did a bunch of dungeons and it seems intermittent.

[2020-12-07 05:08] tflo commented on #630
Yes, seems fine now. Thank you!

[2020-12-07 06:27] vicwac opened #638 "Hekili Updates Don't Overwrite Customized Priorities"
Correct me if I'm wrong, but if I use a customized priority, does that mean when Hekili is updated I won't be able to enjoy the latest updates unless I switch back to the latest default priority?

Is it possible to make it such that updates don't overwrite customized settings unless the update directly affects that particular setting? For example when an improvement or fix has been made to a skill

[2020-12-07 07:35] Provocate opened #639 "Unholy DK suggests apocalypse icon without festering strikes"
after newest update its not showing the icon for festering strike before apocalypse. it just sits at the apoc icon until i hit a few festering strikes for it to apply Festering wounds then icons go back to normal

[2020-12-07 07:38] #639 closed, assigned to Hekili

[2020-12-07 10:20] hlokk101 commented on #635
Thanks mate <3

[2020-12-07 12:39] Hekili commented on #638
Nope.

If you use customized priorities, it's on you to maintain them.

The FAQ explains to make a copy.

[2020-12-07 12:39] #638 closed, assigned to Hekili

[2020-12-07 12:40] Hekili commented on #639
Where is the required info for your ticket?

[2020-12-07 13:57] McWohlsen opened #640 "Since today Unholy DK wants to use Apocalypse even if not possible"
build: v9.0.2-1.0.16
level: 60 (60)
class: DEATHKNIGHT
spec: unholy

talents: all_will_serve
    army_of_the_damned
    asphyxiate
    death_pact
    soul_reaper
    unholy_blight
    unholy_pact

pvptalents: cadaverous_pallor
   decomposing_aura
   necrotic_aura

covenant: venthyr

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: artisan_officers_shirt = 1
    bloodo

[2020-12-07 14:07] Hekili commented on #640
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-07 14:24] McWohlsen commented on #640
Hope this works. Sorry

Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.16
level: 60 (60)
class: DEATHKNIGHT
spec: unholy

talents: all_will_serve
    army_of_the_damned
    asphyxiate
    death_pact
    soul_reaper
    unholy_blight
    unholy_pact

pvptalents: cadaverous_pallor
   decomposing_aura
   necrotic_aura

covenant: venthyr

azerite: none

essences: [none],

[2020-12-07 16:11] Hekili commented on #640
This should be resolved in 1.0.17

[2020-12-07 16:11] #640 closed, assigned to Hekili

[2020-12-07 16:13] Hekili commented on #633
Can you tell me more about the circumstances you're concerned about?  Are you trying to set up initial dots or are you concerned with dots falling off?  It'll be very challenging for you to get a snapshot, but keep in mind that when targets are expected to die quickly, or when targets haven't been seen long enough to know how quickly they will die.

[2020-12-07 17:06] Hekili commented on #637
Resolved.

[2020-12-07 17:06] #637 closed, assigned to Hekili

[2020-12-07 17:27] codecrete-ross commented on #633
The main problem is that sometimes the queue will completely fill up with Agony casts, but it won’t give me a target swap icon, which can make things difficult when trying to tab over to the correct target that needs the Agony DoT.

[2020-12-07 17:39] Hekili commented on #633
Use a mouseover macro, but also, yeah, snapshot that.

[2020-12-07 20:12] Gamniac opened #641 "Missing Recommendations at 2 3 and 4 Wounds | Unholy DK"
**Describe the Bug/Issue**

Hekili does not provide a Recommendation at 2 3 or 4 Wounds.

**To Reproduce**

I simply played Wow with Hekili on? I was inside the Maw should that matter.

**Screenshots**

Infight with 2 Wounds

https://www.bilder-upload.eu/bild-f16591-1607371652.jpg.html

Out of Combat

https://www.bilder-upload.eu/bild-6b3d79-1607371699.jpg.html

**WHEN SUBMITTING AN ISSUE:**

Plea

[2020-12-07 20:16] Gamniac commented on #641
Oh by the Way it only started with the latest Version of Hekili

[2020-12-07 22:05] Hekili commented on #641
When it finishes building, try 1.0.18-beta1.

[2020-12-07 23:20] smadam813 opened #642 "Tyrant Logic within summon_tyrant is no longer summoning optimal Tyrants"
**Describe the Bug/Issue**
The latest change to demonology breaks the opener.

The line `actions.summon_tyrant+=/summon_demonic_tyrant,if=!talent.demonic_consumption|buff.wild_imps.stack>5` is what is at fault.

I don't believe this line needs any logic at all since tyrant_prep ensures everything is in order.  Setting this back to simc defaults aka `actions.summon_tyrant+=/summon_demonic_tyrant` t

[2020-12-07 23:34] smadam813 commented on #642
My working summon_tyrant and tyrant_prep blocks.

[code]

[2020-12-07 23:45] Serenga opened #643 "Shadlowlands are missing from "Default Potion""
Hello! Absolutely love your work! I am using version: Using Version: 9.0.0-1.0.17

Shadowlands potions such as " Potion of Spectral Strength"  are missing from the drop down.

Here are the item id's:

spell=307098 Potion of Spectral Strength
spell=307093 potion-of-spectral-agility
spell=261423 spiritual-rejuvenation-potion
spell=307095 potion-of-spiritual-clarity

Is there a way I can manually add

[2020-12-07 23:53] jeanbmar opened #644 "Expose IsSpellInRange in State"
First, thank you for the impressive and well polished work on this project.

Right now we have no way to check if a spell is in range to change priorities since IsSpellInRange is not exposed in state.
target.distance doesn't provide a reliable value and target.in_range uses an hardcoded value.
State.IsUsable won't work since self.rangefilter is nil or false.

Could you expose LSR.IsSpellInRange in

[2020-12-08 00:42] pltboom opened #645 "Druid "Moonkin" Symbol stays in rotation"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is. When using

[2020-12-08 00:44] Hekili commented on #645
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2020-12-08 00:45] Hekili commented on #645
Are you using Glyph of Stars?  If so, what is the spell ID of your Moonkin Form?

[2020-12-08 00:49] Hekili commented on #644
Give me examples of usage.

[2020-12-08 00:52] pltboom commented on #645
Im lookoing for it, can you tell me exactly where to look? Im in the character data but Im lost

[2020-12-08 01:00] pltboom commented on #645
I have no idea where to look, Im in the character data, please point me in the right direction and Ill be happy to get it for you and yes I am using glyph of stars

[2020-12-08 01:07] Hekili commented on #643
Will add a bunch.  Will retire the old ones.

[2020-12-08 01:07] #643 closed, assigned to Hekili

[2020-12-08 01:07] Hekili commented on #645
To see the spell ID, you'd need an addon like TipTac that shows spell IDs when you mouseover the icon.  But I will get this sorted.

[2020-12-08 01:08] Serenga commented on #643
Thank you very much!!!!

[2020-12-08 01:12] Hekili commented on #645
I can't replicate this on my druid, so you'll need to get the snapshot per the instructions I posted earlier.

[2020-12-08 01:13] Hekili commented on #645
Oh, wait -- why don't you use your Kyrian ability (which will knock you out of Moonkin Form) and then use Moonkin Form again?

I'm actually not seeing a problem here.

[2020-12-08 01:14] pltboom commented on #645
Yep that worked thank you so much, sorry I wasted your time. My apologies

[2020-12-08 01:14] #645 closed, assigned to Hekili

[2020-12-08 01:19] Hekili commented on #644
Gonna throw in `in_range` or `action.whatever.in_range` and see what comes of it.

If an ability doesn't have an actual range, it's going to return true.  Or if you don't have a target.  Or if you have a non-attackable target.

So basically it returns false if you don't have an attackable target or you're out of range for the ability.

[2020-12-08 01:19] #644 closed, assigned to Hekili

[2020-12-08 01:42] jeanbmar commented on #644
Sounds good thank you.
I'm using this to prioritize sub rogue blink abilities (shadowstrike, shadowstep) over melee stuns (cheap shot) for non-raid APL.

[2020-12-08 03:55] johngallo0892 opened #647 "Rogue Vanish toggle"
Ability to toggle the use of vanish for subtlety within the combat rotation

[2020-12-08 04:12] witchof0x20 opened #648 "Hekili does not recommend Flare when Tar Trap affects certain enemies, such as bosses"
**Describe the Bug/Issue**
Hekili should recommend casting Flare while the target is inside a Tar Trap if the player is wearing a Soulforge Embers legendary. On certain enemies, such as bosses, or the Raider's Target Dummy, the target is not afflicted by the Tar Trap Debuff, and Hekili does not recommend Flare.

Extra info:
* I casted Tar Trap on Raider's Target Dummy
* I ran: `/run for i=1,40 do

[2020-12-08 06:04] Siba234 opened #649 "Enhance shammy with Doom Winds legendary - windfurry totem error"
build: v9.0.2-1.0.3
level: 60 (60)
class: SHAMAN
spec: enhancement

talents: earthen_spike
    elemental_assault
    forceful_winds
    natures_guardian
    spirit_wolf
    stormflurry
    sundering

pvptalents: ride_the_lightning
   spectral_recovery
   swelling_waves

covenant: venthyr

azerite: none

essences: [none], none

sets/legendaries/artifacts: none

gear: boneshatter_helm = 1
    bottle

[2020-12-08 09:52] element221 opened #650 "Sub rogue funnel mode keybind"
make a keybind to enable or disable funnel mode, cant find something similar in the addon

[2020-12-08 09:56] element221 opened #651 "sub rogue rupture"
the addons recommends rupture, but if i rupture with lower cp it will recommend rupture again i think (not 100% sure) what im saying is if the target is ruptured you shouldnt re rupture with more cp. i.e. some mobs dont need 5 cp ruptures, so if i overwrite that is shouldnt recommend to do it again

[2020-12-08 10:20] tflo commented on #633
Seeing the same or a similar thing.

Tested it on a swarm dummy (5 targets):

- Happens only when set to AoE or Auto (or in the separate AoE display, if activated)
- The recommendation basically seems correct (put Agony on all targets), but, as @kehlankrumme said, the queue fills up with Agony, and often (not always) no Swap icons, even with Target Swaps enabled:

![WoWScrnShot_120820_105418](http

[2020-12-08 12:57] #651 closed, assigned to Hekili

[2020-12-08 12:58] Hekili commented on #650
There are no keybinds for spec options at this time.  I may pursue it later on.  I'll leave this open.

[2020-12-08 12:58] Hekili commented on #649
You are more than 15 releases behind.  You need to update your addons more frequently.

[2020-12-08 12:58] #649 closed, assigned to Hekili

[2020-12-08 13:30] Hekili commented on #648
I'm not able to replicate this on my end.  The only place where Flare fails to show up is when the Tar Trap debuff is not applied.

Can you throw a Tar Trap at a dummy and provide the following output:

`/run local s = Hekili.State; s.reset(); print( s.tar_trap.up, s.tar_trap.remains, s.debuff.tar_trap.up, s.debuff.tar_trap.remains, s.debuff.tar_trap.id )`

[2020-12-08 13:35] Hekili commented on #642
Can you provide a snapshot where the added condition has a negative impact?

There are subtle differences in how tyrant_prep is handled between simc and the addon.  This condition shouldn't hurt, but if there's specific info, I can look.

[2020-12-08 14:00] Xeltor commented on #641
For me 1.0.18-beta1 seems to have fixed the issue.

[2020-12-08 14:02] Hekili commented on #641
Thanks for confirming.  Will get this in a release ASAP.

[2020-12-08 14:02] #641 closed, assigned to Hekili

[2020-12-08 23:57] Scaelam opened #653 "Unholy DK ui is dissapearing for a few seconds."
Im using the latest version of the app through curse.
There does seem to be incomplete tickets on here regarding this, sorry if I'm retreading old ground

The issue is that in seemingly random scenarios across pvp and pve at time the UI element just completely vanishes for a couple seconds.

Issue report - https://pastebin.com/k76P0WRj

appreciate the hard work my man!

[2020-12-09 00:09] Hekili commented on #653
Use beta.

[2020-12-09 00:09] #653 closed, assigned to Hekili

[2020-12-09 00:13] Scaelam commented on #653
Likely a dumb question but how do I do that?

[2020-12-09 05:56] smadam813 commented on #642
I can try to capture it no problem.  I think the real issue though is tyrant_ready is often set to true, when it should be false.  For example if cooldowns are disabled, and you do some mob packs etc.  Then you get to boss, tyrant_ready will be set to true despite everything being off of cooldown and tyrant_prep will never execute.  If I do a /reload it flips tyrant_ready back to false.  I think i