[2020-12-09 08:33] Brdrker opened #656 "Retribution Paladin: Fails to provide recommendations (needs Issue Reporting / Snapshot information)"
Initial engagement starts off proper enough but reduces down to one displayed indicator, basically indicating spamming Consecration.

[2020-12-09 08:44] Brdrker commented on #656
This shows upon login:

Message: Interface\AddOns\Hekili\Options.lua:3943: attempt to concatenate local 'k' (a nil value)
Time: Wed Dec  9 03:44:03 2020
Count: 1
Stack: Interface\AddOns\Hekili\Options.lua:3943: attempt to concatenate local 'k' (a nil value)
[string "=(tail call)"]: ?
[string "=[C]"]: ?
[string "@Interface\AddOns\Hekili\Options.lua"]:3943: in function `EmbedItemOption'
[string "@In

[2020-12-09 08:54] Brdrker commented on #656
Movie of flow

https://www.dropbox.com/sh/dhmqp28gq44d9gn/AAAtar-0w8buPxqhB9vwlCm_a?dl=0

[2020-12-09 10:36] Irornbound commented on #656
I have exactly the same problem. Starts off fine then reduces to spamming consecration. I'm reverting back to the previous version untill the author finds the time to fix this.

[2020-12-09 11:38] Hekili commented on #656
Follow the instructions for submitting a ticket and provide the required information.

[2020-12-09 12:43] Gamniac commented on #641
While this fixed the Issue for the Wounds it opened up the Issue that Unholy Blight and Dark Transformation are not recommended anymore whatsoever

[2020-12-09 12:50] Hekili commented on #656
(Here are those instructions...)

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise descript

[2020-12-09 12:52] Hekili commented on #648
Rechecking, can you provide the requested information?

[2020-12-09 12:53] Hekili commented on #647
There is now a setting for this.

[2020-12-09 12:53] #647 closed, assigned to Hekili

[2020-12-09 12:55] fragnot opened #657 "Problem with BOAT legendary just spamming wrath/Starfire after entering eclipse.. Its not dumping Astral Power like it should. Only happens when i have BOAT leggo equipped."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.
- Got the latest version from wowup-

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.
- Cant see any other topic about this.

**Describe th

[2020-12-09 13:23] fragnot commented on #657
Snapshot of entering eclipse 1,5-2 seconds after

https://pastebin.com/nvUR8zfA

[2020-12-09 13:39] fragnot commented on #657
The 2 BOAT IDs : 339946 and 339943

Pastebin of the rotation you asked for : https://pastebin.com/qvRzSZgT

[2020-12-09 13:48] Hekili commented on #633
I have a fix for this that will be in 1.0.19.

[2020-12-09 14:18] #657 closed, assigned to Hekili

[2020-12-09 14:43] #633 closed, assigned to Hekili

[2020-12-09 14:44] Gamniac opened #658 "Unholy Blight and Dark Transformation not recommended while not on CD"
**Describe the Bug/Issue**

As reported, Unholy Blight (if talented) and Dark Transformation are not recommended on the Main "Window" while not on CD. Strangely it is shown on the AOE "Window"

**To Reproduce**

Did not figure to how reproduce sorry

**Screenshots**

https://ibb.co/YXjz1Q6

**PUT ISSUE REPORT LINK HERE:**

https://pastebin.com/sz0R1sgb

**PUT SNAPSHOT LINK HERE:**

with the issue

[2020-12-09 14:47] Hekili commented on #658
The APL was trying to sync Dark Transformation with Unholy Blight but was failing to detect the Unholy Blight dot.  Should be fixed in 1.0.19.

[2020-12-09 14:47] #658 closed, assigned to Hekili

[2020-12-09 14:50] Hekili commented on #656
The error info you provided *shouldn't* be related but maybe it is.  I added some code to generate a warning (the "Warnings" section will appear in /hekili if that happens) to provide me some more information.

I can't replicate the issue you're having, so you'll have to provide the snapshot information if you want me to solve.

Make sure to pick up 1.0.19 before testing.  Thanks.

[2020-12-09 14:50] #656 closed, assigned to nobody

[2020-12-09 14:57] Hekili commented on #650
There's now the ability to do:

`/hek set`

Which can be used in macros.  Try it out.

[2020-12-09 14:57] #650 closed, assigned to Hekili

[2020-12-09 14:59] Hekili commented on #612
I need the output of `/dump Hekili.Class.abilities.gladiators_badge` and `/dump Hekili.Class.abilities.sinful_gladiators_badge_of_ferocity` to test this (with the Badge equipped).

[2020-12-09 15:04] vaskolukas opened #659 "After few seconds of fight hekili stops to show or recommend rotation"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Basically after today update to newest version, when i start t

[2020-12-09 15:22] Hekili commented on #659
Thanks for the complete ticket.  Fix is coming in 1.0.20 in a few minutes.

[2020-12-09 15:22] #659 closed, assigned to Hekili

[2020-12-09 17:09] Yannkes commented on #612
[18:09] Dump: value=Hekili.Class.abilities.gladiators_badge
[18:09] [1]={
[18:09]   gcd="off",
[18:09]   itemSpellName="Gladiator's Badge",
[18:09]   realCast=0,
[18:09]   handler=<function>,
[18:09]   copy={
[18:09]     [1]="dread_aspirants_badge",
[18:09]     [2]="dread_gladiators_badge",
[18:09]     [3]="sinister_aspirants_badge",
[18:09]     [4]="sinister_gladiators_badge",
[18:09]     [5]="no

[2020-12-09 17:10] Yannkes commented on #612
[18:10] Dump: value=Hekili.Class.abilities.sinful_gladiators_badge_of_ferocity
[18:10] [1]={
[18:10]   gcd="off",
[18:10]   itemSpellName="Gladiator's Badge",
[18:10]   realCast=0,
[18:10]   handler=<function>,
[18:10]   copy={
[18:10]     [1]="dread_aspirants_badge",
[18:10]     [2]="dread_gladiators_badge",
[18:10]     [3]="sinister_aspirants_badge",
[18:10]     [4]="sinister_gladiators_badge",

[2020-12-09 17:14] Yannkes commented on #612
Sinful Gladiator's its conquest trinket
Sinful Aspirant's its honor trinket

[2020-12-09 17:36] Hekili commented on #612
Can you confirm that the trinket was equipped when this was done?

[2020-12-09 17:36] smadam813 commented on #642
Here is a snapshot, after doing opener, but not calling tyrant.  Then waiting until all cooldowns are back up and restarting the opener.  Snapshot taken while casting opening Demonbolt to get to 5 Shards.

https://pastebin.com/j2uStnuf

The following is the snapshot after reload when casting Demonbolt in the same state as the above screenshot.

https://pastebin.com/eWKBCMke

As you can see, Tyrant

[2020-12-09 17:39] Hekili commented on #642
A snapshot doesn't have memory.  It's what's recommended now, and why.  So what I need is a snapshot taken when you disagree with the recommendation and an explanation of what you thought you should see instead:

[2020-12-09 17:45] Yannkes commented on #612
Yes, the trinket was equipped. But you gave the trinket command for conquest points. And only from today we are able to farm them. We wrote early on whether I or the author of the post about the trinket for honor.

[2020-12-09 17:46] smadam813 commented on #642
I am sorry, but I don't know how to capture what you are asking then.  The top pastebin in the last post is where I disagree with the recommendation.  The bottom pastebin is what it should be doing.  I can only achieve what it should be doing when the value of summon_tyrant is false during an opener with all cooldowns up.   The only way to get summon_tyrant to be false after it was set to true is

[2020-12-09 17:46] Hekili commented on #612
Then let's get `/dump Hekili.Class.abilities.sinful_aspirants_badge_of_ferocity` as well.

[2020-12-09 17:47] Hekili commented on #642
When you think the current recommendation is wrong, press pause or snapshot.  Put that snapshot on Pastebin and link it here.  Say what you thought should've been recommended *at that moment*.

Don't try to debug, just get me the debugging info I've asked for.

[2020-12-09 17:48] smadam813 commented on #642
Okay well, I posted both my snapshots in the post above.

[2020-12-09 17:48] Hekili commented on #642
But you didn't know what the snapshot was, and you didn't explain what you thought should be recommended at that moment.

[2020-12-09 17:49] smadam813 commented on #642
https://pastebin.com/j2uStnuf

It should be recommending Grimoire Felguard not HoG.

[2020-12-09 17:56] Yannkes commented on #612
[18:55] Dump: value=Hekili.Class.abilities.sinful_aspirants_badge_of_ferocity
[18:55] [1]={
[18:55]   gcd="off",
[18:55]   itemSpellName="Gladiator's Badge",
[18:55]   realCast=0,
[18:55]   handler=<function>,
[18:55]   copy={
[18:55]     [1]="dread_aspirants_badge",
[18:55]     [2]="dread_gladiators_badge",
[18:55]     [3]="sinister_aspirants_badge",
[18:55]     [4]="sinister_gladiators_badge",
[

[2020-12-09 17:59] Hekili commented on #612
This is very strange.  I don't know how `cast` would be 0 there, nor how `item` could be blank.  It's not for me.  I'll keep investigating.

[2020-12-09 18:29] Hekili commented on #642
Thanks.  I'm putting up 1.0.22-beta1 with some test changes.  Give those a shot when they pop up.

At this time, I plan to leave in some conditions on having > 3 imps with Summon Demonic Tyrant for DCon, but it's correct that if you really do the tyrant_prep before the tyrant_ready list then you should be set.  I am now factoring in queued imps that haven't spawned so that you don't get 5 Shards >

[2020-12-09 19:38] Racerx323 opened #660 "Interface LUA Error upon game load in"
1.  The information from the Issue Reporting tab ( /hekili > Issue Reporting ).  This provides your talent and gear information.  You can paste it to pastebin.com and provide a link here.

build: v9.0.2-1.0.20
level: 60 (60)
class: PALADIN
spec: protection

talents: blessed_hammer
    blinding_light
    divine_purpose
    first_avenger
    sanctified_wrath
    unbreakable_spirit

pvptalents: none

[2020-12-09 20:03] Hekili commented on #660
Thanks for the report.  Does this keep the addon from working?

[2020-12-09 20:05] Marakuja commented on #648
Maybe I can help here as I experience the same issue, it seems. When targeting a boss (or crowd control immune mobs) with a tar trap, the debuff is not shown on the target frame, but placing a flare there will still apply soulforge embers debuff. Like the tar trap is "hidden" but active on the target.

I screenshotted a boss fight this evening, where he stands in a tar trap and casting flare is pl

[2020-12-09 20:07] Hekili commented on #648
This is a challenging scenario.  I could potentially capture the triggering of the trap and assume that a target is in the trap for a certain amount of time.  But it's entirely possible for a boss to get kited through and out of your trap very quickly.

[2020-12-09 20:10] Racerx323 commented on #660
It does not appear to prevent the add-on from functioning.

[2020-12-09 20:23] smadam813 commented on #642
Okay, thank you.  I will give it a test and let you know how it's performing.

[2020-12-09 21:07] Gyudon47 opened #661 "Vanish is not showing up in recommendation after toggle update"
https://pastebin.com/k8KhjSNU

Vanish is not showing up in recommendation with either solo toggle on or off. Did not show up in any content.
Thanks for all the work you do hekili

[2020-12-09 21:16] grand-lotus-iroh opened #662 "LUA Error on Login"
here is pastebin of error below: https://pastebin.com/01XDzWH6

[code]

[2020-12-09 21:41] Hekili commented on #662
Duplicate of #660

[2020-12-09 21:41] #662 closed, assigned to Hekili

[2020-12-09 21:45] Hekili commented on #661
Test 1.0.22-beta2 in a few minutes.

[2020-12-09 21:48] Hekili commented on #529
This should be long since resolved.

[2020-12-09 21:48] #529 closed, assigned to Hekili

[2020-12-09 21:48] Hekili commented on #305
Not going to pursue this at this time.

[2020-12-09 21:48] #305 closed

[2020-12-09 21:49] #199 closed

[2020-12-09 21:49] #246 closed

[2020-12-09 21:50] Hekili commented on #351
With `/hek set` in place for toggles/number values, allowing you to set the *priority* might be something I'm willing to do.

Changing profiles is actually pretty CPU intensive, as all the action lists have to be recompiled and it's a lot.

[2020-12-09 21:51] Hekili commented on #298
Hey, this happened.

[2020-12-09 21:51] #298 closed

[2020-12-09 21:51] #406 closed

[2020-12-09 21:52] Hekili commented on #494
So, this exists now, but is experimental and fairly high risk.  Try it.

[2020-12-09 21:52] #494 closed, assigned to nobody

[2020-12-09 22:23] Gyudon47 commented on #661
working after 1.0.22-beta2 update. Thank you

[2020-12-09 22:24] #661 closed, assigned to Hekili

[2020-12-10 00:08] bobtatuss opened #663 "Corpse exploder"
Hello i was just wondering how would i go by removing an ability off my rotation , ive never had corpse exploder pop up in the rotation before and id like to remove it so it doesn't show up. thank you

[2020-12-10 00:09] Hekili commented on #663
/hekili > Abilities, and you're probably concerned with "Sacrificial Pact" -- you really should consider blowing up your friend before he goes away.

[2020-12-10 00:09] #663 closed, assigned to Hekili

[2020-12-10 00:12] bobtatuss commented on #663
Oh my god that's what it is! because its the same image i got hell confused man , your a legend thank you so much for the help and quick response!

[2020-12-10 04:32] justnubby opened #664 "Retribution paladin Torghast doesn't show next ability (sometimes)"
I have Sanctified Wrath talent.  When I get the "free" level 50 talent through an anima orb, I pick Crusade.  Hekili freaks out and starts showing random abilities in the list.  It will usually go blank within 1-5 GCDs.

build: v9.0.2-1.0.18
level: 60 (60)
class: PALADIN
spec: retribution

talents: divine_purpose
    empyrean_power
    fist_of_justice
    healing_hands
    righteous_verdict
    sa

[2020-12-10 05:33] Hekili commented on #664
Always update to the latest version before submitting a bug report.

[2020-12-10 06:03] geraint425 opened #665 "How to add Death Strike to rotation so that it is shown by percentage."
Hello. Tell me please. How do I add Death Strike to the rotation? and in which section in the addon is it better to register it? I would like to add the condition that if we have less than 70% HP then use Death Strike. If more than 70% are not offered for rotation. And if there is a dark succor buff, then also make him the same conditions as above so that I apply it in the same way as a percentage

[2020-12-10 07:21] justnubby commented on #664
Would it be worthwhile to try again with the latest?  I'll give it a try tomorrow and report back.

[2020-12-10 12:11] Hekili commented on #665
Sorry, I don't write custom priorities for people. I don't have the time. Look at the FAQ.

[2020-12-10 12:11] #665 closed, assigned to Hekili

[2020-12-10 12:12] Hekili commented on #664
Yes, of course, that's why I said it.

[2020-12-10 12:12] #664 closed, assigned to Hekili

[2020-12-10 14:54] Destruo opened #666 "Request Ability to remove recommendations from list!"
Please describe your idea or feature and when it would be useful.
Hi this may already be available and apologies if it is but is there anyway to remove or disable an ability from being recommended.

[2020-12-10 18:18] witchof0x20 commented on #648
`false 0 false 0 135299`

I think this would be nice as an option, though not necessarily as the default.

[2020-12-10 18:20] Hekili commented on #648
Yeah, for bosses, I will have to fake a trap because I can't even see the trap trigger vs. a boss (the only indicator is the debuff application, which doesn't happen).

Tuning around how long one should reasonably expect the trap to be applied, how long it should take to trigger, etc., is complicated.  But I'm thinking about it.

[2020-12-10 18:21] Voltaec opened #667 "Windfury no longer pops up when out of range"
With the last update, the Doom Winds legendary effect is causing the mod to not prompt a new Windfury Totem when out of range of the last one.  It's now only looking at the Doom Winds debuff and prompting a new totem when the debuff is gone.  This happened with the most recent update, as it was working correctly last night in the raid, and the behavior changed when I went to the newest version, ev

[2020-12-10 18:22] witchof0x20 commented on #648
FWIW, I sometimes use a modified profile that takes `if=tar_trap.up` out of Flare's condition and just tells me to use it on CD, and it works fairly well. The only issue I've run into is that since Tar Trap sits on the ground longer than its CD, Hekili will tell me to refresh it, and I just ignore the recommendation until the boss moves and I need to throw it.

[2020-12-10 19:45] KestrelWild opened #668 "Potions - show separately"
Love the potion toggle, but would it be possible to add a show separately option for it as well? I'm a druid, I have no extra hotkeys to be toggling it on or off all the time based on the content I'm doing :D I just want it to show up for raid bosses.

[2020-12-10 19:57] Hekili commented on #668
No, that would be getting out of hand.

[2020-12-10 19:57] #668 closed, assigned to Hekili

[2020-12-10 19:59] Voltaec commented on #666
if you add an ability to a toggle list that you don't have active it will not be recommended...so put the ability on custom 1, and leave custom 1 turned off, and you'll never see it.

[2020-12-10 20:34] Hekili commented on #666
You can disable abilities permanently in /hekili > Abilities.

[2020-12-10 20:34] #666 closed, assigned to Hekili

[2020-12-10 20:37] geraint425 opened #669 "Please check the rotation with legendary power on the death coil."
Today I crafted legendary power on the death coil and buff extension. I have a sacrifice packt in the AoE rotation, but my dark transorm is still active. And it seemed to me that the rotation offers very little death coil. Please see the rotation of AOE and ST in this regard.

[2020-12-10 20:38] Hekili commented on #669
You have to start filling out complete tickets and providing snapshots.

[2020-12-10 20:39] Hekili commented on #669
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-10 21:14] narvell3 commented on #669
1. v9.0.2-1.0.23-beta2
Describe the Bug/Issue

[2020-12-10 21:14] #669 closed, assigned to Hekili

[2020-12-10 21:28] TrackManGod opened #670 "Implement movement detection (easy + adds a lot of value)"
A lot of Simc actions rely on checking if the character is moving or not.
We could easily implement this check by checking if WoW api function GetUnitSpeed("player") > 0 .

This could be used to improve many action packs, especially for classes that have both casted spells and instant spells, for example Arcane Mage, Elemental Shaman, Shadow Priest, Marksman Hunter, and more.

[2020-12-10 21:37] Hekili commented on #670
Good news, this already exists.  `moving` is a valid condition.

[2020-12-10 21:37] #670 closed, assigned to Hekili

[2020-12-10 22:18] machajr opened #671 "use priority rotation (funnel damage) doesnt working it keep using black powder"
[use priority rotation (funnel damage).txt](https://github.com/Hekili/hekili/files/5675936/use.priority.rotation.funnel.damage.txt)

[2020-12-11 00:08] Hekili commented on #671
This required some priority tweaks that should resolve it and also improve performance for Sub.  This will be in the 1.0.23 release (soon).

[2020-12-11 00:08] #671 closed, assigned to Hekili

[2020-12-11 00:14] Hekili commented on #667
This will be resolved in 1.0.23.

[2020-12-11 00:14] #667 closed, assigned to Hekili

[2020-12-11 00:40] Hekili commented on #351
`/hek profile` will be in the next release.

![image](https://user-images.githubusercontent.com/9438134/101846687-823d1c00-3b1f-11eb-90dc-a9e4998b826d.png)

[2020-12-11 00:40] #351 closed

[2020-12-11 00:56] Hekili commented on #660
After updating 1.0.23, can you let me know if there is anything in /hekili > Warnings (the section only appears if there's a warning).

[2020-12-11 00:56] Hekili commented on #629
This may be addressed in 1.0.23.

[2020-12-11 00:57] Hekili commented on #642
Let's start a new ticket with a fresh snapshot if you find new issues.

[2020-12-11 00:57] #642 closed, assigned to Hekili

[2020-12-11 00:57] #601 closed, assigned to nobody

[2020-12-11 05:26] marshmallowpotato opened #672 "Use a title that describes the problem scenario."
**Describe the Bug/Issue**
On Marksmanship Hunter in AoE Multi-shot on 3 or more target causes your next aim shot or rapid fire to cleave.

On the Addon it will say MultiShot -> Aimed Shot -> Rapid Fire , after the aimed shot cast goes off the Trickshots buff that makes it cleave is consumed meaning you should be casting another multi shot immediately after.  By default in AoE on 3+ target you sho

[2020-12-11 05:28] marshmallowpotato opened #673 "Implosive Legendary Demonology"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-11 11:40] Hekili commented on #672
Please fill out the ticket correctly.

[2020-12-11 11:41] Hekili commented on #673
Please fill out the ticket correctly.

[2020-12-11 13:20] Hekili commented on #672
I'm just going to close this, actually.  Submit a new ticket with the information required, following all the steps, if needed.

[2020-12-11 13:20] #672 closed, assigned to Hekili

[2020-12-11 13:20] Hekili commented on #673
Closed.

[2020-12-11 13:20] #673 closed, assigned to Hekili

[2020-12-11 13:50] cremor commented on #629
I've just tested 1.0.23. The main icon still shows the GCD for Shield of the Righteous. The queue icons behaves a bit weird. Most of the time it doesn't show the GCD, but sometimes it does. I couldn't figure out when.

I don't really care about the queue icon, but fixing it for the main icon would be great. So please re-open this issue.

Here is a snapshot. I took it during the GCD while Shield of

[2020-12-11 14:05] Hekili commented on #629
The spiral isn't always the GCD; it can also be the delay if you're waiting to use it (i.e., daisy-chaining or waiting to push right as the buff falls off).

[2020-12-11 14:24] cremor commented on #629
Sure, but in my tests it was always shown when I used an ability. So I'm quite sure that it was the GCD.
Also, the bar button didn't show the spiral, only the icon of Hekili.

[2020-12-11 15:02] Hekili commented on #629
The bar button would not show a spiral when the addon is delaying SotR to wait for the buff to wear off.  But I'll check it out.

[2020-12-11 15:17] EventMerge opened #676 "Void eruption missing from rotation"
Is there any reason why i would be missing void eruption in the shadow priests rotation..ive confirmed i have the latest version and that its on my bar. However im never asked to use it and just do it myself - once i have void bolt does appear in the rotation. Im not an experience user with Hekili but so far im liking the addon!

[2020-12-11 15:23] Hekili commented on #676
It's most likely that you do not have the Cooldowns toggle turned on (see /hekili > Toggles).

If it's not that I have no way of answering with the limited information provided.  See the ticket instructions when you click the "New issue" button here.

[2020-12-11 15:23] #676 closed, assigned to Hekili

[2020-12-11 16:06] dazedsean opened #677 "Sub Rogue - Prey on the Weak"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

When the

[2020-12-11 18:28] Hekili commented on #677
As we discussed, neither Sub nor Assassination attempts to take advantage of Prey on the Weak in sims (mainly because it's useless on bosses, generally).  Please keep me updated on the outcome of your simc ticket.

[2020-12-11 18:30] Hekili commented on #606
You can use `target.withinX` as a condition (in addition to any existing conditions) in your custom priority to solve for this.

[2020-12-11 18:30] #606 closed, assigned to Hekili

[2020-12-12 08:40] vernetroyer opened #680 "protection warrior venthyr (no condemn suggestion, only old execution)"
Hello, I decided to play Venthyr warrior tank, and Condemn is not suggested in my rotation, it's only the old Execution, I felt like it was a bug, so I'm coming here to tell you :)

build: v9.0.2-1.0.23
level: 60 (60)
class: WARRIOR
spec: protection

talents: anger_management
    booming_voice
    crackling_thunder
    devastator
    indomitable
    rumbling_earth
    unstoppable_force

pvptalents

[2020-12-12 13:48] Hekili commented on #680
If you'd like to resubmit with a complete ticket, following all the instructions re: required information, I'll take a look.

[2020-12-12 13:48] #680 closed, assigned to Hekili

[2020-12-12 13:49] Hekili commented on #660
I'm closing due to lack of updated information.

[2020-12-12 13:49] #660 closed, assigned to Hekili

[2020-12-12 14:25] Hekili commented on #548
`target.class` will exist in the next release.  I'm not going to do specializations (requires using inspect API and that is asynchronous).  If there's a quick way to identify healers, I'm open to that.

You'd use `target.class` as a comparison vs. the english class name strings from Blizzard, but in lowercase.

`target.class = "demonhunter"`
`target.class != "priest"`

If you don't have a target,

[2020-12-12 14:59] Racerx323 commented on #660
Hi,
Apologize for the delay. There is not a 'warnings' section and the error no longer occurs after the update to 1.0.23. Thank you for the excellent work and awesome plugin.

[2020-12-12 15:40] Smudgiee opened #681 "Hekili not suggesting to cancel/break FoF channel during SeF with WoO"
When playing Kyrian with the ability Weapons of Order (WoO) it's suggest during the cooldown windows that include both WoO and SeF (Storm, Earth and Fire) up, it should be cancelling the channel of FoF (Fists of Fury). This is actually in the SIMC APL by the looks of it with Interrupt=1. And also suggested by the people in Monks discord to perform. But only during WoO and SeF, both must be up. But

[2020-12-13 06:01] secondcircle commented on #442
Was this ever released?

[2020-12-13 07:30] ValokAsura opened #682 "Customizable Skill Icons"
I wonder if we could be allowed to change the icons for the spells to our own textures, similar to the TellMeWhen or WeakAura addons.

For example: In WarriorProtection.lua, dragon_roar's texture setting is "texture = 642418"  I would like to be able to change this to something like "texture = 'Interface/Addons/MyTextures/CoolTexture.tga'"    I tried doing this myself in various ways, but with no

[2020-12-13 08:03] ltbutterman opened #683 "WW AND BM Monk Tweak please"
Amazing rotations so far for both specs but can support be added for WW profile if using "Memory of the Last Emperor" lego? To cast Jade Lightning when at 20 stacks and ONLY at 20 stacks?

For Brewmaster can we add support for "Scalding Brew" conduit. If socketed to prioritize Breath of Fire over Keg Smash?

[2020-12-13 09:01] ShaanMeisterr opened #684 "Keeps recommending potions when I have it disabled under toggle (even when potions are on CD)"
I have potions disabled under hekili's toggls ( https://imgur.com/a/ALscd7z ); yet, it keeps recommending my potions during boss fights.

**To Reproduce**
Start any boss fight (Dungeons/raids/Maw rares), does not happen during target dummy.
Pop Trueshot/wildspirits and it will show potion recommendations, EVEN when potions are on cooldown

**Expected behavior**
Used to not see the potions on my he

[2020-12-13 17:46] seathasky commented on #442
Nope

On Sun, Dec 13, 2020 at 1:02 AM Ike Melancon <notifications@github.com>
wrote:

[2020-12-13 18:03] Hekili commented on #442
It's exactly as I described -- included and not enabled.  People with addon/Lua experience would be able to enable and toy with it.

[2020-12-13 18:14] RSGriggs commented on #442
It's released, you just have to enable it by removing the # on line 39 of
the Hekili.toc file.

On Sun, Dec 13, 2020 at 9:46 AM Matthew Centonze <notifications@github.com>
wrote:

[2020-12-13 18:22] Hekili commented on #684
I can't replicate this on my end.  If you make a new profile, does it do it with the new profile?

[2020-12-13 18:59] Cager1974 opened #685 "Rogue Vanish showing up when it should not."
The rogue Vanish ability is getting recommended when not in a group.  This is an error, as using it in single player content causes mobs to disengage and return to full health.  This happens even when the player has NPC allies/bodyguards.

Vanish definitely is a DPS gain in group content as it triggers a number of abilities and buffs.

Thanks!

[2020-12-13 19:04] Hekili commented on #685
Use your spec options.  Or submit a complete ticket.

[2020-12-13 19:04] #685 closed, assigned to Hekili

[2020-12-13 19:41] Smudgiee opened #686 "Fists of Fury channel not broken when expected (Weapons of Order) + other stuff."
When having this option ticked and with the new changes to WW Monk to interrupt FoF with SeF and WoO up, it's not suggesting to interrupt at all. It stays greyed out until the end of the channel, this also applies for SeF it's greyed out until 1gcd has ended then lights back up when its useable and should be used right away. I will include two snapshots, one with FoF not suggesting to cancel with

[2020-12-13 19:58] Hekili commented on #686
1.  You have interrupts disabled.
2.  Fists of Fury doesn't (yet) have tick times in place for the FoF channel to be interrupted.
3.  When I resolve part 2, it will still not recommend to break Fists of Fury to interrupt a spell, as the conditions for breaking Fists of Fury are related to Weapons of Order being up, not interrupting.
4.  You could resolve 3 with a custom priority or by showing inte

[2020-12-13 20:02] Smudgiee commented on #686
Interrupts have nothing to do with interrupting a channel? Isn't that for an actual interrupt/kick ability? Maybe I didnt word it correctly but I meant interrupted the channel not interrupt kick. Should've used "breaking".

[2020-12-13 20:04] Hekili commented on #683
The Windwalker priority includes conditions for Crackling Jade Lightning at 20 stacks; if you're not seeing that, submit a proper ticket, following the instructions, including a snapshot when you're at 20 stacks and CJL is not recommended.

For Brewmaster, you'd need to do some sims to show that's actually optimal.  For Scalding Brew to work, it appears that you need to have hit Breath of Fire aft

[2020-12-13 20:04] #683 closed, assigned to Hekili

[2020-12-13 20:05] Hekili commented on #682
What's the use case for this?  Why would you want to see the wrong icon?

For bonus points, convince me that this feature isn't intended to support an automation bot or something along those lines.

[2020-12-13 20:06] Hekili commented on #686
Well, you said interrupts, so...

Since you have two tickets for the same issue, I'll close this one.

[2020-12-13 20:06] #686 closed, assigned to Hekili

[2020-12-13 20:07] Hekili commented on #681
This will be resolved when I provide tick times for Fists of Fury.

[2020-12-13 20:07] Smudgiee commented on #681
Thank you (brain freeze with using the word Interrupt for some odd reason when I know it was breaking -.- apologies)

[2020-12-13 20:27] Hekili commented on #681
Not a big deal.  Will be doing some testing now.

[2020-12-13 23:48] ShaanMeisterr commented on #684
Ya, with a new profile, it seems to be fixed.

[2020-12-13 23:48] #684 closed, assigned to Hekili

[2020-12-14 00:29] ValokAsura commented on #682
Thanks for responding! I don't know if there is a strong use case I can provide you, I can only suggest that people like to customize things to fit their preferred style and interface configuration. I can't tell you why anyone would like to see the wrong icon, but I might be able to explain why they would want to see a preferred icon that fits their needs/style.

Like WeakAuras, I bet not everyone

[2020-12-14 07:27] Dreamin93 opened #687 "Balance Druid - Convoke the Spirits + Legendary"
I'm noticing some weird things going on now that I have the Balance of all things Legendary.

In the opener it never asks me to use 'Convoke the Spirits' - It's also not appearing at all in my rotation - I have both cooldowns and essences ticked.
(It sometimes randomly asks me to use it but i can be off cooldown for ages and the times it wants me to use it seem to be random.)

It also seems to be

[2020-12-14 07:35] Dreamin93 commented on #687
I'm doing some more testing, and if I use convoke the Spirits it gets me out of that loop - but Hekili isn't asking me to use it. So it looks like Hekili is expecting to get a bunch of Astral Power from Convoke, but it's not being used so it gets stuck in a loop.

[2020-12-14 07:58] lorientalas commented on #442
@Hekili Is there condition for shield_equipped? Or dagger_equipped for Assassination Rogue. Some Abilities requires specific gear.

[2020-12-14 09:58] worldskorobei opened #688 "Elemental Shaman with legendary "Echoes of Great Sundering""
Elemental shaman with legendary "Echoes of Great Sundering" has a rotation problem on 2 targets. Addon recommend "Earthquake", instead of alternating with "Earth Shock".

version 9.0.2-1.0.23

[2020-12-14 12:10] Hekili commented on #687
Submit a snapshot when you're having the issue, per the ticket instructions.

[2020-12-14 12:10] Hekili commented on #442
At the moment, there is not.

[2020-12-14 12:11] Hekili commented on #688
Follow the ticket instructions and submit a snapshot from when this is happening.

[2020-12-14 12:15] Dreamin93 commented on #687
https://pastebin.com/2rks9Q4i

[2020-12-14 12:59] Hekili commented on #687
Thanks, I moved that snapshot to Pastebin.  In the snapshot you provided, Starsurge was cast because you were in Celestial Alignment and the BOAT buff was up.  Which would be intended.

Can you provide a snapshot of the addon recommending Starsurge when it should be pooling AP pre-Celestial Alignment?

[2020-12-14 13:03] Hekili commented on #687
Also, could you do a Quick Sim of your character on Raidbots and provide the link?  Thanks for your help investigating this.

[2020-12-14 13:25] gonzorogue opened #689 "Sub Rogue rotation incorrectly suggesting rupture during shadow dance"
Title says it all really, if I had half a brain I might be able to tell this rather brilliant addon not to suggest this if shadow dance is active.

According to recommendations, snd and rupture should never be used during dance.

is there a way to change this?

[2020-12-14 13:26] Hekili commented on #689
Fill out the ticket properly if you want this to be investigated.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Iss

[2020-12-14 13:28] vicwac opened #690 "WW Monk rotation freezes when some spells on CD"
Rotation stops making recommendations sometimes when Rising Sun Kick, Whirling Dragon Punch and Fists of Fury are on cooldown. This happens randomly, I haven't found a pattern to it, as sometimes Hekili recommends filler skills like Tiger Palm when the main ones are on CD, and sometimes it just gets stuck on a skill (even when there's enough energy to recommend Tiger Palm) until it comes off CD. L

[2020-12-14 14:00] Hekili commented on #690
What is the snapshot meant to illustrate?  It provides recommendations in all slots.  What did you think should be recommended?  What does "stuck on a skill" mean?

[2020-12-14 14:10] Hekili commented on #687
Okay, I think I have a fix in place for this.  There was a subtle bug, and then a failure to set a value on the BOAT buffs.  1.0.24-beta2 should fix it.  Could you try it out?

If you see Convoke recommended and then quickly disappearing, let me know.  That would require a tweak to the priority to solve, one that I've already sim tested and shows as equal DPS.

[2020-12-14 14:20] gonzorogue commented on #689
Would this be better as a suggestion rather than a bug report?

[2020-12-14 14:21] Hekili commented on #689
No, just fill out the ticket and provide a snapshot of Rupture being recommended when you think it shouldn't be.

[2020-12-14 17:34] vicwac commented on #690
I believe it should recommend a filler skill like Tiger Palm when all others are on cd, sometimes I have enough energy for TP to be recommended but it is not. If this is by design to pool energy then I'm fine with it, I'm just not completely familiar with the logic you programmed so I assume it was an error. No offense intended.

[2020-12-14 18:15] Morl0ck opened #691 "Kyrian Paladin - Divine Toll - Holy Power # of Targets"
I have noticed this mainly while playing as retribution.

Divine toll is recommended regardless of how many targets it will hit around you.
Divine toll can hit up to 5 targets around the paladin meaning it will generate 5 holy power.

I have seen it where Divine toll is recommended as the next spell even though I have 8 targets around me but only 4/5 holy power.
Meaning that 4 holy power will be w

[2020-12-14 18:21] Hekili commented on #691
Sure.  This is the sort of thing one would test by tinkering with sims and verifying that it's worth holding (it probably is).  If you complete sims that show a consistent DPS gain, both the simc maintainers and I would be happy to incorporate those updates.

[2020-12-14 18:22] Hekili commented on #690
I still need you to provide a snapshot that actually shows the problem you're describing.

If there are times where the addon offers no recommendations, get a snapshot at that time and submit it here, per the instructions.

[2020-12-14 19:55] Dreamin93 commented on #687
Hey, thanks for looking into this - sorry I'd just gone to bed after posting.

I've tested the beta build and it seems to be coming up now (as I can see it in the queue) but disappears as soon as I hit Celestial Alignment. Also once Celestial Alignment is on cooldown, it comes up again but disappears as soon as I enter an eclipse.

Snapshot with cooldown:
https://pastebin.com/xy6JRVVb

Snapshot wi

[2020-12-14 21:01] Dreamin93 commented on #687
Sure, here's the link here:
https://www.raidbots.com/simbot/report/qaJQmdSjfgvqJ5N81py9kz

[2020-12-14 22:17] Mkay321 opened #692 "Stuttering/lag Sub Rogue"
**Describe the Bug/Issue**
Stuttering/lag during fights (mostly in instances like dungeons, raids, torghast)
Only happens with my sub rogue, I've tried disabling every other addon I have and the issue only happens with Sub Rogue and Hekili.

**To Reproduce**
N/A

**Expected behavior**
No lag/stuttering.

**Screenshots**
N/A

1.  The information from the Issue Reporting tab ( /hekili > Issue Report

[2020-12-14 22:32] Hekili commented on #692
You skipped this part:

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Update to the latest version of the addon, then submit a complete ticket if you're still seeing performance issues.

[2020-12-14 22:33] #692 closed, assigned to Hekili

[2020-12-15 00:51] Smudgiee commented on #690
Not sure if he means this, not sure but it was hanging on sun kick when it was like 4 seconds left. But this is when I had toggles disabled for other abilities which might be the cause but only had this issue on monk myself when toggling certain abilities

https://pastebin.com/bcu1zm1i

[2020-12-15 00:53] Hekili commented on #690
I don't have any idea what "hanging on sun kick" means.  What are you talking about?  What is the specific, actual problem?

[2020-12-15 00:55] Smudgiee commented on #690
I dont know... I am trying to see what he sees and it basically stays on sun kick for like 4 seconds? I have no idea myself but he seems its an issue so I gave a report because I think that is what he is talking about. I dont feel like it should be sitting on sunkick for 4 seconds when it could be doing another combo or ability?

[2020-12-15 00:56] Smudgiee commented on #690
suggesting sunkick for 4 seconds when its not usable*

[2020-12-15 01:01] Hekili commented on #690
The OP's description says "stops making recommendations" so that needs a snapshot showing missing recommendations to investigate.

Your snapshot shows Rising Sun Kick in 3.11 seconds.  It doesn't recommend Tiger Palm because that would overcap Chi.  It doesn't recommend Blackout Kick because that would break your combo.  What were you thinking should've been recommended in your snapshot, @Smudgiee

[2020-12-15 01:06] Smudgiee commented on #690
My bad then. I thought that is what he meant by rotation freezes. English isn't my first language. I thought he meant frozen as in stops recommending "stuck on a skill". I was just trying to help him out as he didnt give a log, and I could get one. My bad. And I Im not sure I am learning but my guess it was like that because I toggled certain abilities off which should've been recommended (wdp, fi

[2020-12-15 01:08] Hekili commented on #690
I appreciate that you're helping and your English is very good.  I am just trying to identify precise issues; the instructions and tools (snapshotting!) are intended to make it easy for me to understand what is happening, but it's incredibly challenging and time-consuming to pry information out of people.  If people follow the ticket instructions, I can help them.

[2020-12-15 01:13] Smudgiee commented on #690
I understand. But as you say its recommending sun kick in 3 seconds because it would overcap chi or break the combo. If that's how the apl is then it must be right. Just feels odd to play like that but I guess thats how it should be saved instead of overcapping on chi which mighht "feel" better but not be suggested/worth.

[2020-12-15 01:15] Hekili commented on #690
I just ran a quick sim comparison, overcapping is actually okay, though the Tiger Palm overcap should be pretty rare.  I'll keep an eye on it and potentially make changes.

[2020-12-15 01:18] Smudgiee commented on #690
Thank you for doing what we're too silly and misunderstanding to do ^^ sorry.

[2020-12-15 12:07] j3llevdb opened #693 "AOE targets confusion"
build: v9.0.2-1.0.23
level: 60 (60)
class: DEATHKNIGHT
spec: unholy

talents: army_of_the_damned
    grip_of_the_dead
    infected_claws
    pestilent_pustules
    unholy_blight
    unholy_pact
    wraith_walk

pvptalents: none

covenant: venthyr

sets: none

gear: blue_linen_shirt = 1
    breastplate_of_brutal_dissonance = 1
    drape_of_twisted_loyalties = 1
    fleshfused_circle = 1
    gormshe

[2020-12-15 12:17] Hekili commented on #693
No, the feature just doesn't work the way you think it does. Read the information you see when you put the mouse over it.

Basically, it controls how many targets, minimum, the addon will pretend you have when your display mode is AOE or the AOE display is shown.

Few specs have an AOE rotation (priority) but just use multitarget abilities based on conditions including target counts.

[2020-12-15 12:36] #693 closed, assigned to Hekili

[2020-12-15 13:16] JacksonLawrence1 opened #694 "Havoc Demon Hunter Darkglare Medallion Eyebeam capping fury"
**Describe the Bug/Issue**
Currently using a legendary called Darkglare Medallion which has a 20% chance to reset the cooldown of Eye beam entirely. Whenever the item procs it seems to want to cast eye beam immediately after the previous eyebeam so it caps a lot of excess fury at 100%, so it's wasting a lot of the fury. Also I think it might be not spending the excess fury after casting metamorphi

[2020-12-15 13:22] DrWren opened #695 "BFA Neck still Shows up in Rotation for Combat Rogues"
I don't know if this is just over sight but when trying to learn Combat, it still has me using my Heart of the Essence in my rotation?

[2020-12-15 14:19] Hekili commented on #695
If it shows you Combat Rogues, welcome back to Warlords of Draenor.

The Heart still shows up only in settings where you can use it.  It'll be filtered back out of the action lists over the next few releases.  In the meantime, you can disable any heart-related actions in /hekili > Abilities or /hekili > Essences.

[2020-12-15 14:19] #695 closed, assigned to Hekili

[2020-12-15 14:21] Hekili commented on #694
Have you done any comparison sims to compare the default behavior vs. what you're asking for?

It's possible that it should spend down some Fury, but we'd need to test and prove that.  Delaying usage of Eye Beam means you get fewer uses over the course of a fight, so the opportunity cost could be more than the benefit.

[2020-12-15 14:22] Hekili commented on #690
Will put in a change in an upcoming build.

[2020-12-15 14:22] #690 closed, assigned to Hekili

[2020-12-15 14:59] JacksonLawrence1 commented on #694
Tried to find how I could go about simming different behaviour and tried using AMR, but it's apparently bad and doesn't give accurate results (also not the same APL used in the addon).

I'm not sure how I could go about altering the APL for raidbots as I couldn't find the option where you could change it, though I think it's just because its unfamiliar territory for me. I'm not sure of another way

[2020-12-15 15:01] Hekili commented on #694
If you sim yourself on raidbots, you can get your whole profile from the result and then make edits and compare.  I'm going to close this for now, since there's no data to base a change on at this time.  If new information becomes available, I'll look at it then.

[2020-12-15 15:01] #694 closed, assigned to Hekili

[2020-12-15 15:05] Hekili commented on #689
I'll close this today if there's no snapshot provided where Rupture is recommended while in Shadow Dance (and shouldn't be).

[2020-12-15 15:06] Hekili commented on #687
The issue with it disappearing is that you're actually supposed to hit it simultaneously with CA when you have BOAT.  It wants you to start Convoke with max BOAT stacks.  But they immediately tick down, and the addon moves on as you no longer meet the criteria.

I'm loosening that restriction since it's easy to mess up in actual gameplay.

[2020-12-15 18:57] Lockem90 opened #696 "Table to blacklist mobs that cannot be stunned"
Would it be possible to add a blacklist for non-boss mobs that cannot be stunned? This would be extremely helpful for rogues running Prey on the weak, as well as adding an option to interrupt with stuns.

Thanks

[2020-12-15 20:13] IIeTpoc opened #697 "Sub Rogue auto-snapshot during fight"
Hi! To be honest I don't know what caused the bug. I was DPSing on last boss at Sanguine Depths and my addon for a split second did not know what to suggest and used an auto snapshot function. Here is a link to a snapshot.
 
**PUT SNAPSHOT LINK HERE:**
https://pastebin.com/squ2PF2V

[2020-12-15 21:58] Brudoken opened #698 "Combat Rogue - Kick not being suggested for interrupt against interruptible target."
**Describe the Bug/Issue**
A mob casting an interruptible spell, when targeted, is not getting a suggestion to use interrupt using Kick.

**To Reproduce**
Any attackable unit casting an interruptible spell should work.

**Expected behavior**
Hekili should suggest Kick to be cast to interrupt the target's spell.

**Screenshots**
Attached.
![bug report screenshot](https://user-images.githubuserconte

[2020-12-15 22:01] Hekili commented on #698
I need you to take a snapshot following the ticket instructions, when your target is casting but your interrupt is not recommended.

[2020-12-16 01:21] Imahorn opened #699 "Frostwyrm's Fury no longer being suggested."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Frostwyrm's Fury is no longer being recommended.

**To Reprodu

[2020-12-16 01:24] Hekili commented on #699
You have to post a snapshot taken when you thought it should recommend Frostwyrm's Fury but didn't.

[2020-12-16 01:29] Imahorn commented on #699
A snapshot is impossible as it never is suggested when in my Frost Spec and furthermore, up until I added a tanking profile, it was always and accurately suggested.  Please respond with something more concrete.

[2020-12-16 01:31] Imahorn opened #700 "After changing from Night Faye Covenant to Kyrian"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Death and Decay not being suggested.

**To Reproduce**
Steps t

[2020-12-16 01:59] Brudoken commented on #698
**Snapshot taken from the Primary Display**
**_Snapshot of Interrupt Display Below_**
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.23
level: 60 (60)
class: ROGUE
spec: outlaw

talents: acrobatic_strikes
    alacrity
    blade_rush
    cheat_death
    prey_on_the_weak
    quick_draw
    vigor

pvptalents: none

covenant: venthyr

sets: none

gear: ardent_sunstar_sign

[2020-12-16 02:02] IIeTpoc commented on #700
If you did not make any custom priorities and thorough hekili setup you can try to
1. Save everything related to Hekili in your WTF folder on the character you have issues at.
2. Delete everything related to Hekili in your WTF folder on the character you have issues at.
3. Then reinstall Hekili addon.

[2020-12-16 02:16] Hekili commented on #700
You don't need to reinstall.  You do need to provide a snapshot.  A snapshot is not a screenshot; it is a log of decision-making.  Please read the instructions and submit the required information.

[2020-12-16 02:28] Imahorn commented on #699
I guess my expectations are too ambitious.  I assume you wrote the code.  I further assume you provide all the updates and finally I assume that you have kept release history.  You should assume that I have no idea when it should be recommended beyond the icey veins recommendation and I believe you use the same source.

I apologize for the inconvenience.  I would suggest that a current primer be p

[2020-12-16 02:35] Hekili commented on #699
You should be able to provide a snapshot of this pretty quickly vs. a target dummy.  Just start the fight, pop cooldowns, and if it seems like you should've cast Frostwyrm's Fury but it wasn't recommended, press ALT-SHIFT-P twice (once to pause, once to unpause).  Then grab the info from /hekili > Snapshots and put it on Pastebin and put the link here.

GitHub has the full commit history and the p

[2020-12-16 03:15] Hekili commented on #698
I'm guessing that you imported your own priority, instead of using the default.  In my default, Kick is the first action in the default action list.  Kick is not included in yours at all.

[2020-12-16 03:16] #698 closed, assigned to Hekili

[2020-12-16 07:04] MrHunter79 opened #701 "Use Starfall in Single-Target with Stellar Drift isn´t working (Balance Druid)"
No idea if it´s my own mistake or the "Starfall in Single-Target" Option isn´t running correct.
Because I never see the starfall in rotation when casting and only one target is in range.

-----

build: v9.0.2-1.0.23
level: 60 (60)
class: DRUID
spec: balance

talents: mighty_bash
    restoration_affinity
    solstice
    soul_of_the_forest
    stellar_drift
    warrior_of_elune
    wild_charge

pvp

[2020-12-16 13:02] FogTheHunter opened #702 "Survival Hunter issues"
I assume with the start of 9.0.2-1.0.24, the Survival Hunter is broken. I never used the Survival build before, so this took some investigation. Nothing shows up at any display (remaining 13 other characters with their spec's work, including Hunter BM and MM). Running thru the settings, the first thing that sticks out is, that in 'Settings - Survival' the dropdown under Priority is Empty. The next

[2020-12-16 13:09] Hekili commented on #702
I'll look.  But also, you should fill out the ticket form:

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A

[2020-12-16 13:29] Hekili commented on #702
Alright, quick check shows the priority hadn't loaded properly.  Will be fixed in next release (later this morning).

[2020-12-16 13:29] #702 closed, assigned to nobody

[2020-12-16 17:22] Hekili commented on #701
You have to submit a proper tickets following the instructions.  There is an entry for Starfall in single-target but there are additional conditions present.

[2020-12-16 17:22] #701 closed, assigned to nobody

[2020-12-16 17:26] Hekili commented on #699
Closed for lack of information.  (I did my own quick testing, and Frostwyrm's Fury was recommended with your talents selected.)

![image](https://user-images.githubusercontent.com/9438134/102383756-e6396780-3f99-11eb-837e-6cd3980fdb5a.png)

[2020-12-16 17:26] #699 closed, assigned to Hekili

[2020-12-16 17:28] Hekili commented on #700
The conditions for Death and Decay for Frost DK are as follows:

`actions.cooldowns+=/death_and_decay,if=active_enemies>5|runeforge.phearomones`

Basically, it requires 6 or more enemies or the Phearomones legendary.  If you find Death and Decay not recommended when either of those circumstances are true, then please submit a new ticket with a screenshot.  Thanks.

[2020-12-16 17:28] #700 closed, assigned to Hekili

[2020-12-16 18:09] Hekili commented on #697
I'm going to post a 1.0.25-beta1 that will include more data in snapshots that I'll need to be able to investigate this.

[2020-12-16 18:10] Hekili commented on #696
I don't have any plans to add this; if an external library were created, I'd likely make use of it.  But having folks manually add to this is problematic, and trying to automatically learn what's stunnable is also problematic.

[2020-12-16 18:10] #696 closed, assigned to Hekili

[2020-12-16 18:10] Hekili commented on #687
This should be resolved in 1.0.24, but it still does require that you press Convoke pretty quickly after Celestial Alignment.  If that is still awkward, let me know.

[2020-12-16 18:10] #687 closed, assigned to Hekili

[2020-12-16 18:10] #689 closed, assigned to Hekili

[2020-12-16 18:11] Hekili commented on #691
I could not find a performance increase in my own testing, so I have no planned changes for this at this time.

[2020-12-16 18:11] #691 closed, assigned to Hekili

[2020-12-16 18:12] Hekili commented on #688
Closing due to lack of information.

[2020-12-16 18:12] #688 closed, assigned to nobody

[2020-12-16 18:15] MrHunter79 commented on #701
Would be nice to know what conditions have to be active that the option is working ;)

[2020-12-16 18:19] cremor commented on #598
I'm wondering why Negative Energy Token doesn't work by default. The normal bar buttons indicate when it procs (so the button changes from a "not usable grey" to its normal state). Isn't that something that Hekili reacts to? Or rather: Doesn't Hekili use the WoW functions to determine if an ability can be used?

[2020-12-16 18:21] #682 closed, assigned to Hekili

[2020-12-16 18:21] #681 closed, assigned to Hekili

[2020-12-16 18:21] #548 closed, assigned to nobody

[2020-12-16 18:22] #677 closed, assigned to Hekili

[2020-12-16 18:39] Imahorn commented on #700
Got it.  Thank you.  I seem to remember the number of enemies could be controlled by toggle and thought I had that set to >2. Then when Shadowlands came out and I was in Night Faye, D&D became Deaths Due and was the first thing up in a fight, regardless of mob size.  I assumed when I went to Kyrian, D&D just defaulted back.  Maybe I am mistaken.

Also and re: Frostwyrm’s Fury, attached is a screen

[2020-12-16 18:41] Imahorn commented on #699
Like I said, or think I said, I saw in the code it was in the action list for Oblteration but, still not being recommended.

Please don’t be so hasty in closing ticket, I told you I would make an attempt at providing you a snapshot.

Sent from my iPad

[2020-12-16 18:42] Hekili commented on #700
The criteria for using Death's Due are different from the criteria for using Death and Decay.

I am not going to respond to any further tickets/posts without a snapshot of the exact scenario that you're concerned with.  This is like going to the dentist and telling them you refuse to open your mouth and that they have to go in from the opposite end.  I'm just not going to do it.

[2020-12-16 18:45] Imahorn commented on #699
In addition, in Obliteration, you should use it every time it is up unlike Breath of Syndragosa when you should use after either Pillar of Frost or Chains of Ice.

Sent from my iPad

[2020-12-16 18:47] Imahorn commented on #699
Oh I see the the buff condition, Pillar of Frost set False.  Sorry

Sent from my iPad

[2020-12-16 18:51] Imahorn commented on #700
Lol. Sounds like a man speaking from experience.  Point taken.

Sent from my iPad

[2020-12-16 19:40] Imahorn commented on #700
Ok.  I think I sent it correctly, or should I open a new ticket.  However, it miraculously started showing up.  Not sure why.

Sent from my iPad

[2020-12-16 19:53] chuchacho opened #703 "Balance Druid (Moonfire Spamming)"
1.  Version(s) in which the issue occurs:

2. The bug I'm running into happens on my balance druid after I import a SimC profile.
     a. I type "/simc" and copy the popup text.
     b. I open the SimulationCraft application and paste that text into the "Import > Simc Addon", tabs.
     c. After the simulation finishes, I scroll to the bottom of the page and copy the text from the "Profile" dropdo

[2020-12-16 19:57] Hekili commented on #703
Don't import a SimC profile.

[2020-12-16 19:57] #703 closed, assigned to Hekili

[2020-12-16 21:11] IceBurr opened #704 "Feral showing Thrash on single target"
Is there still code in the apl for wild fleshrending? Thrash should no longer be part of the single target rotation

[2020-12-16 21:19] Hekili commented on #704
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-16 21:45] Hekili commented on #704
(It's probably just a handy way of triggering Bloodtalons but you'd have to complete the form above to get a real answer.)

[2020-12-16 22:16] IceBurr commented on #704
Describe the Bug/Issue
The feral rotation wants to maintain thrash up in single target situations. Even when bloodtalons is not selected

To Reproduce
When using Moment of Clarity talent, Thrash is still maintained in the single target rotation.
When stealthed the opening sequence it shows is rake / thrash / shred

Expected behavior
Thrash should not show in single target situations

Character inf

[2020-12-16 22:32] IceBurr commented on #704
figured out the snapshot thing, and the character thing, brain working slow, edited it into previous post

[2020-12-17 09:31] IceBurr commented on #704
Thank you, this mornings update seems to have fixed the issue.

[2020-12-17 09:31] #704 closed, assigned to Hekili

[2020-12-17 09:48] Dezc opened #705 ""Fade as unusable" is fading out-of-gcd actions when GCD lock."
Hekili v9.0.2-1.0.24

**Describe the Bug/Issue**
When recommanding out-of-gcd abilities like "Shield of the Righteous", or "Avenging Wrath" (on paladin, didn't try on other classes) the recommanded action is "faded out" (grey action) during the GCD if the "Fade as unusable" option is check."

**To Reproduce**
- Go to Displays > Primary > Delays
- Set "No indicator" (not sure if relevant) and check

[2020-12-17 11:53] Hekili commented on #705
The exact purpose of "Fade as Unusable" is to darken the icon until it is time to use it. Just because it is off GCD, doesn't mean you are to use it immediately.

[2020-12-17 11:53] #705 closed, assigned to Hekili

[2020-12-17 12:24] Baine opened #706 "Missing Item - Warning regarding Wakeners Frond"
**Describe the Bug/Issue**
Warning Message in Option Interface Regarding Wakeners Frond

**To Reproduce**
Steps to reproduce the behavior:
- Have Wakeners Frond (https://www.wowhead.com/item=181457) with iLvl 161 equipped
- Open Hekili Options Interface
- Go to Warnings
- See Entry

[code]

**Expected behavior**
no warning

**WHEN SUBMITTING AN ISSUE:**
1.  The information from the Issue Reporting

[2020-12-17 14:07] Hekili commented on #701
You would need to read through the priority to see that information.

[2020-12-17 17:08] Hekili commented on #706
Warnings are fine, but I appreciate the report.

[2020-12-17 17:11] Hekili commented on #598
No, because for Hammer of Wrath, the reason it is usable is significant and can change.

For instance, if the addon recommends Avenging Wrath, you expect Hammer of Wrath to be available next.  But according to the WoW API, Avenging Wrath hasn't happened yet and HoW is unusable.  So it has to be manually modeled and configured.

If there's a buff present that makes HoW usable, I can add that to the

[2020-12-17 17:16] Hekili commented on #598
I'm adding Negative Energy Token (id=345693) to the addon model.

[2020-12-17 17:50] Nephliem opened #707 "Shred vs Swipe"
Please describe your idea or feature and when it would be useful.
I have noticed that the rotation guide recommends to use swipe over shred vs 1 target. I can see using it in energy save mode for an upcoming burst phase but as a primary attack I have would see the use of Shred being its a higher base dmg and gets more form the 20% extra damage against bleeding targets. Vs 2 or more targets in an A

[2020-12-17 17:53] Hekili commented on #707
What, where?  What makes you think this?  What rotation guide?  What?

This is a concern about the priority that should be submitted with the complete "Bug Report" template, including a snapshot when Swipe is shown over Shred in single-target.  *If* that's something that's actually happening, I'd guess that it's probably with Bloodtalons to proc the buff, but you'd need to submit the right informa

[2020-12-17 17:53] #707 closed, assigned to Hekili

[2020-12-17 18:26] Baine commented on #706
I also don't see it in the suggested actions. got a darkmoon card which is suggested on cooldown, but not this one.

just an fyi :) if it's a "will not fix" type of warning this can be closed

[2020-12-17 18:28] Hekili commented on #706
If it's not being recommended, you'll need to provide a snapshot taken when you thought it should've been recommended, but wasn't.

2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause

[2020-12-17 18:43] Baine commented on #706
my apologies, assumed that it's not included in priorities due to the warning.
Snapshot Link suggesting Darkmoon Card instead of Frond:
https://pastebin.com/zeiWhAxk

also, since I can't find the proper item lvl for this trinket on wowhead, this is the simc string for this trinket:
trinket1=,id=181457,bonus_id=6652/1472/5858/6616

[2020-12-17 19:59] Prejudice182 commented on #706
This is the dump from Wakener's Frond. I am thinking of just adding it to the cooldowns priority list, like other trinkets.

[20:54:20] Dump: value=Hekili.Class.abilities.wakeners_frond
[20:54:20] [1]={
[20:54:20]   gcd="off",
[20:54:20]   itemSpellName="Wakener's Frond",
[20:54:20]   realCast=0,
[20:54:20]   auras={
[20:54:20]     wakeners_frond={
[20:54:20]       id=336588,
[20:54:20]       dura

[2020-12-17 20:39] Baine commented on #706
just noticed that this dump has a different itemid than trinket actually has (at least in the link field)

[2020-12-17 23:52] Smudgiee opened #708 "WW Monk suggesting to use SeF when already out"
It's not all the time but I am seeing Hekili suggesting me to use SeF when its got a few seconds left before it runs out. Could easily get one more global cooldown in that time. Not sure why it is suggesting to use SeF while they're already out and I have no more left to use after this one has ran out. Doesn't have happen all the time but it does happen. And I think I snapshotted it at the right t

[2020-12-18 00:09] Hekili commented on #708
The right time is the moment where the thing you are concerned with is happening.

You have 2 charges of SEF in that snapshot, which seems odd if you have clones expiring in a few seconds (which I can't see).

No other action criteria were met.

[2020-12-18 00:09] #708 closed, assigned to Hekili

[2020-12-18 00:16] Smudgiee commented on #708
Clearly the snapshot is wrong? I had SeF out -.-... the SeF button was red and not the normal icon. There were some changes to APL I believe.

[2020-12-18 00:19] Hekili commented on #708
Ah, that is interesting.

[2020-12-18 00:26] Hekili commented on #708
Well, in order to solve this, I have to split the "focus" ability for SEF into a fully-fledged separate ability (which is fine, no one uses it anyway, it's never in the APL).

But that allows the addon to check charges on the actual ability.  That might impact recommendations in your snapshot, since your snapshot expected 2 full charges of SEF.

[2020-12-18 00:29] Smudgiee commented on #708
Yeah the Focus is only really a thing to use when you have the conduit (Coordinated Offensive) I believe you only need to press focus once and thats it, I think from what I've read atleast. But that should just be a brain thing to just do anyways.

EDIT: I think if it's just single target its auto fixate on same target for that conduit. Might just be for aoe stuff if u want to fixate but that does

[2020-12-18 00:38] Ruby437 opened #709 "Move windfury totem to cooldowns when Doomwinds is off cooldown and windfury totem is up"
Windfury Totem becomes a cooldown with Doom Winds and there are good reasons to not drop it when you know a burst phase is upcoming. Also, since this would put it into the same display as ascendance, make sure that ascendance is displayed first as you don't want to waste a doom winds GCD pressing ascendance (which lasts longer than doom winds anyways).

_As a side note, the enhancement shaman APL

[2020-12-18 00:42] Hekili commented on #709
Whether it appears before or after Ascendance would depend purely on the priority itself.

You can flag any ability as a cooldown yourself, if that's your preference.  Though I do understand the logic and will consider that behavior as a default.

There are no outstanding Enhancement APL changes in SimulationCraft that aren't included.  If/when your PR is accepted, I'll review it for inclusion her

[2020-12-18 01:24] Ruby437 commented on #709
Hmm, can you explain how I can make Windfury totem only a cooldown when doomwinds is on CD? Since it should be maintained when it won't accidentally trigger doomwinds.

The missing APL update is sundering inside the doomwinds window.

[2020-12-18 01:28] mgibbonsjr opened #710 "Tranquilizing Shot for Marksmanship Hunter"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Confirmed I am using Hekili-v9.0.2-1.0.24.zip

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

I don't see any mentions of Tranquilizing

[2020-12-18 02:33] AlviSVPP opened #711 "WW - Weapons of Order not accounting for reduced chi cost buff's duration when making suggestions"
Using Hekili-v9.0.2-1.0.24

**Describe the Bug/Issue**

There's a small annoying bug with WW:
During "Weapons of Order" (Kyrian covenant ability, spell ID 310454) if you cast RSK you get another buff called "Weapons of Order" (spell ID 311054) that lowers the chi cost of spells by 1 for 5 seconds.

Now for the bug itself:
There are times during that 5 second window where the addon suggests casting

[2020-12-18 02:46] Hekili commented on #711
That would be somewhat annoying, but I'm not sure the cost of fixing it is worthwhile (it means rechecking resource costs at every point in time, to catch this edge case).  I'll think about it though.

[2020-12-18 02:48] Hekili commented on #710
There's some inconsistency on this front, but it mostly has to do with what has been requested by players.  A lot of people don't like having the dispel, others do.  I have to sort out what I want to do, so that it's consistent.

[2020-12-18 03:14] Smudgiee opened #712 "WW- Suggesting to break FoF without Sef and WoO up."
Seems to be suggesting to break FoF for some reason when both SeF and WoO are not even up and are on cooldown. Not always the case but it happens quite frequently which I think it might be something to do with SeF coming off CD?
Because at the time it was suggesting to break, SeF was actually like 1 sec from being able to be used.

I dont think it should be trying to break the channel of FoF ever

[2020-12-18 03:35] Smudgiee commented on #712
I was messing around and looking what had interrupt in the profile section and saw "actions.serenity+=/fists_of_fury,interrupt_if=!cooldown.rising_sun_kick.up" I removed that and reloaded and it seems to being working now? Did that really have something to do with it or is there something else going on? Doesnt make sense that would fix it because that belongs to serenity talent which is not specce

[2020-12-18 04:04] AlviSVPP commented on #711
Is there some possible workaround just for RSK? Like checking if buff.weapons_of_order.ww (I assume that's the chi reduction special for WW?) remains for more than a GCD? The problem is really mostly visible for RSK because at that point it's the only 2 chi ability that would be affected by the buff going away when at 1 chi.

[2020-12-18 04:10] Hekili commented on #712
You're actually on the right track, there.  When you use an ability, I can't technically know *why* you used it.  So I cannot differentiate if you used Fists of Fury based on the Serenity list or based on another list.  But I will modify the conditions so that interrupt is only allowed if you are talented for Serenity.

[2020-12-18 05:11] kp9928 opened #713 "MM hunter - serpent sting doesn't recommend target swap when multiple targets detected and current target has serpent sting"
Version : v9.0.2-1.0.25

**Describe the Bug/Issue**
So I enabled recommend target swap. MM hunter serpent sting target swap should be recommended but theres no ">" icon for the next aimed shot when current target already has serpent sting and prior to this I have volley-ed a bunch of mobs to ensure they are detected.

**Expected behavior**
The next aimed shot should have a target swap reticle ">"

[2020-12-18 06:37] v3lasco opened #714 "Hammer of Wrath recommended non stop."
Latest update "v9.0.2-1.0.25" is causing the addon to recommend Hammer of Wrath while it is not up. I have only tested this in Torghost so far and I do have the chance to be able to cast HoW Anima Power which could be the cause this issue. I will update this report if it continues to do it outside of Torghast.

[2020-12-18 07:48] v3lasco commented on #714
Just confirmed its only in Torghast, and I think it's in reference to the Anima power "Negative Energy Token Judgment" which has a 30% chance to allow Hammer of Wrath to be cast on any target for 5 sec.

[2020-12-18 09:42] molmr commented on #706
I am also experiencing the same issue, Hekili never recommends Wakener's Frond despite me wearing it. Please see my pastebin: https://pastebin.com/vnASUbL2

[2020-12-18 12:33] Hekili commented on #711
Yes, the APL could be written differently.

[2020-12-18 12:41] Hekili commented on #713
Thank you for the ticket; this should be pretty easy to resolve.

[2020-12-18 12:45] Hekili commented on #714
It would've been helpful to include a snapshot per the ticket instructions.

Can you clarify the scenario you're describing?  Which of the following:

1.  You acquire Negative Energy Token.  The addon now recommends Hammer of Wrath constantly, permanently.

2.  You acquire NET.  The addon behaves as normal until you proc NET from a Judgment cast.  For 5 seconds, the addon recommends only Hammer of

[2020-12-18 12:47] Hekili commented on #709
You can't, and I won't.  You can choose to make WFT a cooldown via /hekili > Abilities, though.  You'll have to make a choice about how you manage it.

All simc APL updates that pass testing and are make it into the application will be reviewed for addition.  You don't need to notify me, I am watching them.

[2020-12-18 12:47] #709 closed, assigned to Hekili

[2020-12-18 14:09] #713 closed, assigned to Hekili

[2020-12-18 14:14] Hekili commented on #714
Per the Paladin discord, the second option sounds correct.  So I still need to know -- did it just show HoW forever after obtaining the anima power, or did it show multiple usages of HoW while the buff was up?

Can you obtain a snapshot when this is happening?

2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapsh

[2020-12-18 21:48] v3lasco commented on #714
It shows it forever in the third slot but then when I target mobs it becomes the action it says to take first even though it is not up.

https://pastebin.com/qubEe1fa

[2020-12-19 00:49] Hekili commented on #714
Is Negative Energy Token applied to the target? Or to yourself?

[2020-12-19 01:06] joceanlab commented on #714
its applied to yourself, and the moment it procs the addon starts recommending HoW, but when it ends HoW is still being recommended, and doesn't leave without a reload UI.

[2020-12-19 01:11] Hekili commented on #714
Do you have spell IDs in your UI?  Can you show the spell ID of the 5 second buff and the spell ID of the anima power itself?

[2020-12-19 01:14] v3lasco commented on #714
https://www.wowhead.com/spell=335069/negative-energy-token

[2020-12-19 01:14] Hekili commented on #714
I don't need the Wowhead link, I need to be certain of what's actually showing in game.

[2020-12-19 01:24] joceanlab commented on #714
that wowhead link is the buff that gets applied to you. i just finished my run but that was 100% it

[2020-12-19 03:41] phoenixsoap commented on #714
I just did a torghast run and was confused because of this. I think it was negative energy token judgement. I think maybe the var is reversed so if judgement buff then no hammer, if not judgement buff then hammer instead of vicey versy

[2020-12-19 03:52] Hekili commented on #714
Did you happen to log your Torghast?  It'd be nice to look at it.

[2020-12-19 04:25] phoenixsoap commented on #714
I didn't but I can turn on logs next time

[2020-12-19 04:59] #714 closed, assigned to Hekili

[2020-12-19 10:12] Smudgiee opened #715 "WW - Not suggesting to break second FoF in WoO and SeF now"
Using the latest version of the addon. I've reset profile, reinstalled Hekili.

The first suggestion of breaking FoF appears but the second FoF while in WoO and SeF are not being suggested to cancel. It should be breaking all channels of FoF while in WoO and SeF, which is not the case.

It's either suggesting Tiger Palm or Blackout Kick but it's faded as not to be used, when it can be used.

https

[2020-12-19 10:18] Smudgiee commented on #715
This is with the second usage of SeF that it happens* Not sure if that has anything to do with it

[2020-12-19 11:10] Smudgiee commented on #715
May be just happening on Dummies. Will update more when I get chance to do another dungeon (Worked fine in dungeon). Which doesn't really make sense if that was the case or? When im actually playing though I'm not fully paying attention to it. It's just muscle memory to do it now.

[2020-12-19 18:11] Smudgiee commented on #715
Can confirm, doesn't suggest to break any kind of target/cotent during the second SeF FoF. Which wouldn't have made sense either way.

[2020-12-19 18:17] Smudgiee commented on #715
I changed the interrupt FoF line to "actions.weapons_of_order+=/fists_of_fury,interrupt_if=buff.storm_earth_and_fire.up&raid_event.adds.in>cooldown.fists_of_fury.duration*0.6" and now it seems to be breaking channel? I removed the WoO from it. But it may also be breaking when only SeF is up now instead of both. Will do more testing.

Edit: Yep, now it wants to break every FoF with just SeF out. Ev

[2020-12-19 19:19] Smudgiee commented on #715
I've ran the raidbots, both quick sim and advanced and it's always giving multiple examples on breakdown. Some don't break other FoF but then some breakdowns do. It confuses me, completely no idea why that is

[2020-12-19 19:27] Hekili commented on #715
Yeah, I think you need to wait for another priority update.

[2020-12-19 19:38] Colorette opened #717 "Flare is being removed from the recommandation list after launching tar trap for BM Hunter with Soulforge Embers legendary"
Hekili shows flare as follow up to tar trap. After launching the tar trap - flare immediately gets removed even if the target is affected by the tar trap debuff.

[2020-12-19 19:39] Hekili commented on #717
There are already tickets about Tar Trap and Flare.

[2020-12-19 19:39] #717 closed, assigned to Hekili

[2020-12-19 19:40] Hekili commented on #712
Closing because we don't need multiple tickets for the same issue.

[2020-12-19 19:40] #712 closed, assigned to Hekili

[2020-12-19 19:42] p4nchez opened #718 "Feral Apex Predator's Craving Proc seems low prio on high target count"
on high aoe target mob count the use of apex predators procs seems to have low prio
it seems primal wrath or swipe hase a higher prio on high mob counts? and my free feriocius bite proc glow and want get suggested

should it not be that it use allways the proc over swipe or primal wrath? to get benefit from every primal wrath rip tick to proc more apex?

what is holding the free use of Fbite back

[2020-12-20 00:40] naamtar opened #719 "PvP Trinket being used in Balance Druid rotations."
**Describe the Bug/Issue**
"Sinful Aspirant's Medallion" iLVL 184 is being recommended at the start of Balance Druid rotations - it has no benefit to DPS.

**To Reproduce**
Equip a PvP trinket and go to Balance form.

**Expected behavior**
PvP trinket shouldn't be part of any DPS rotation, it is for clearing CC from your character.

**Screenshots**
https://gyazo.com/2d9f97dae54595a057f93db36f1b66b

[2020-12-20 04:57] Hekili commented on #718
It does.  It matches the priority as written (sim yourself in Hectic Add Cleave), but I don't know if additional testing would lead it to be used more often.  Or if it should even try to avoid letting the buff drop to avoid wastage.  Got a sim of yourself to link?

[2020-12-20 05:09] molmr commented on #706
9.0.2-1.0.25b seems to have fixed this, thank you!

[2020-12-20 14:14] Baine commented on #706
fixed since 0d7d8dc06ee65649316624ade5a8c6468928492e

thanks <3
I'll close this one

[2020-12-20 14:14] #706 closed, assigned to Hekili

[2020-12-20 14:32] Hekili commented on #706
Thank you both for confirming.

[2020-12-20 14:33] Hekili commented on #612
This may be resolved in 1.0.25b.

[2020-12-20 14:36] Yannkes commented on #612
Well now this trinket is kinda useless raid has been out for 2 week's and
mythic+. But good job I'm in love with this addon amazing recent changes to
ferals.

niedz., 20 gru 2020, 15:33 użytkownik Hekili <notifications@github.com>
napisał:

[2020-12-20 14:37] Hekili commented on #612
The code changes involved help support the varied Gladiator's Badge/Medallion/etc. trinkets as a single action but with multiple items.

[2020-12-20 14:37] #612 closed, assigned to Hekili

[2020-12-20 16:00] p4nchez commented on #718
Hectic Add Cleave
5 minutes - 1 boss target
Bloodtalons+Primal Wrath
https://www.raidbots.com/simbot/report/ht9V4RB2dJ5BUJNR4cRaXC

Hectic Add Cleave
5 minutes 1 boss target
Moment of Clarity+Primal Wrath
https://www.raidbots.com/simbot/report/vEccsemXSnm1Tjim6meJrW

Hectic Add Cleave
5 minutes - 10 boss targets
Bloodtalons+Primal Wrath
https://www.raidbots.com/simbot/report/2BUi7oTAV8phZS9vqe8kPV

[2020-12-20 17:50] cremor commented on #598
Something is wrong with how you added that. It seems like it's now always (when I have the anima power) showing HoW as usable after I use Judgment, even if the anima power didn't proc.

But the buff id (345693) is correct.

[2020-12-20 18:06] Hekili commented on #598
You'll have to submit proper testing information, because it works fine in my own testing.  And make sure it includes the version you're using.

[2020-12-20 18:08] cremor commented on #598
Found the problem. Prot and Holy still use "negative_energy_token" instead of "negative_energy_token_proc" for the usable condition for HoW.

[2020-12-20 18:09] Hekili commented on #598
Yeah, I just caught that as well.  I'll post that change later today or tomorrow morning.

[2020-12-20 18:09] #598 closed, assigned to Hekili

[2020-12-20 18:14] cremor commented on #598
Thanks. And sorry for the short messages, I'm in Torghast right now in a wing where mobs spawn when you are out of combat...

But could you please leave this issue open for other anima powers which might be suppored "probably, eventually"?

[2020-12-20 18:15] Hekili commented on #598
No, I'd want the ones worth supporting to appear on a case-by-case basis.

[2020-12-21 00:39] mgibbonsjr commented on #710
I see in the change log you added this back for Marks and Survival. Thank you so much for listening and making the quick addition. I appreciate your work and donated $10 through Curseforge. Thanks again!

[2020-12-21 00:39] #710 closed, assigned to Hekili

[2020-12-21 00:59] Hekili commented on #710
Thanks for the support.  While you're here, do you use a separate Interrupts display?  Would you move Tranq to your Interrupts (or "Utility") display?  I do that with Dispel Magic on my Priest, and I'm contemplating making that the default behavior.  That is, making it linked to the Interrupts toggle.

[2020-12-21 03:54] mgibbonsjr commented on #710
Whhhaaatttt you can put it in the interrupt window instead? Yes I would
like that much better. Is that a setting I do or is that something you do
with code?

Thanks by the way for all you do for the community. A friend mentioned the
addon in guild back in bfa and I have used it ever since. It's so nice to
be able to switch between characters and not forget rotations. We have also
helped fix some a

[2020-12-21 10:24] mati3464 opened #720 "Guardian Druid Tweek sugestion"
Hello,

After playing few days on guardian and watched what hekili is recommended, i think there is one update must be made.

If player use legendary " Ursoc's Fury Remembered", during Incarnation or Celestial, Bear should only use Trash as dps skill, because this legendary give guardian huge absorb shield and with incarnation / celestial buff , there is no CD on Trash.
Recommending mangle during

[2020-12-21 10:27] Windzy32 opened #721 "Demonology not suggesting Summon Demonic Tyrant"
As the title says the demonology spec isn't suggesting Summon Demonic Tyrant and it doesn't even show in the cooldowns when I have cooldowns shown seperately.

[2020-12-21 12:55] Hekili commented on #721
Please follow the ticket instructions when submitting an issue.

[2020-12-21 12:55] #721 closed, assigned to nobody

[2020-12-21 12:56] Hekili commented on #720
Sorry, there's not enough information here about what exactly you would change and no data to support a change.

[2020-12-21 12:56] #720 closed, assigned to Hekili

[2020-12-21 13:15] jtrack3d opened #722 "Balance RunHandle Error"
Please describe your idea or feature and when it would be useful.
The balance rotation continuously issues an attempt to call method RunHandle with a nil value errors.
DruidBalance.lua:880

809x Hekili\Classes\DruidBalance.lua:880: attempt to call method 'RunHandle' (a nil value)
[string "@Hekili\Classes\DruidBalance.lua"]:880: in function 'func'
[string "@Hekili\State.lua"]:5251: in function 'Han

[2020-12-21 13:25] Hekili commented on #722
Thank you.  Typo will be resolved in this morning's release.

[2020-12-21 13:25] #722 closed, assigned to Hekili

[2020-12-21 14:42] cremor opened #723 "Support the Ring of Unburdening Anima Power"
As requested in #598 here a separate issue:
With the [Ring of Unburdening](https://www.wowhead.com/spell=332545/ring-of-unburdening) Anima Power all Paladin abilities cost 1 fewer Holy Power. It would be nice if Hekili would support that.

[2020-12-21 20:43] riasvdv opened #724 "Throw glaive shows up more than 3 times in suggestions of vengeance DH"
**Describe the Bug/Issue**

This mostly happens in aoe but sometimes also in single target, when doing the suggested rotation, suddenly the queue turns all throw glaive and I have to use a different ability to have it "reset" to the normal suggestoins.

**To Reproduce**

Do the normal vengeance DH rotation.

**Expected behavior**
Not more than 1 throw glaive suggestion in a row. Or at most 2 since

[2020-12-21 20:59] Hekili commented on #724
Did you put Spirit Bomb on your Cooldowns toggle or something?  It's disabled, and that's how you'd spend fragments to concern yourself with starting to generate again.

The multiple Throw Glaive counts account for regenerating charges; the issue is that the APL is written to spend Soul Fragments via Spirit Bomb if you've taken Spirit Bomb.  If you disabled SB or have it toggled off as a Cooldown,

[2020-12-21 21:01] Hekili commented on #723
This requires too much additional support, tbh.  It'd require a recustomized APL which means it's extra effort everywhere, when it's really only for Torghast.

[2020-12-21 21:01] #723 closed, assigned to Hekili

[2020-12-21 21:54] crk5623 opened #725 "MonkBrewmaster.lua, purifying_brew id out of date"
The Purifying Brew skill has two ranks. MonkBrewmaster.lua only contains the id for rank1 (line 1077). Once the player learns rank2 the skill isn't shown any more. Changing the id fixed the problem for me.

rank1 id = 119582
rank2 id = 343743

[2020-12-22 00:01] Ullti opened #726 "UH DK Opener Suggestions Not Following SimC"
Snapshot of UH DK ST Opener:  https://pastebin.com/awnLGxHw

Quick Sim of my UH DK Opener:  https://www.raidbots.com/simbot/report/vkwdWRKuoSQc58YSwDTX6S

Image of 10 Q on Hekili Targeting a Dummy:  ![image](https://user-images.githubusercontent.com/76457144/102832787-45d1b180-43a4-11eb-8767-842c7eefeaa5.png)

Suggested Opener from UH DK Discord FAQ:  ![image](https://user-images.githubusercontent

[2020-12-22 00:23] Hekili commented on #726
So, the sim:
![image](https://user-images.githubusercontent.com/9438134/102834211-64927100-43c1-11eb-9307-6da88dca6ed9.png)

That is:
Army > Blight > Abom Limb > Trinket > Dark Trans > Death Coil > Festering > Festering > Apocalypse > Scourge

The addon:
Army > Blight > Dark Trans > Festering > Death Coil > Arcane Torrent > Festering > Apocalypse > Abom Limb

You're right that it doesn't seem to b

[2020-12-22 00:35] Ullti commented on #726
So after reloading I am seeing it list Emeni as a Soulbind with the conduits and everything.  I tried simply closing the client and rebooting previously and did not get this same result.  I am also seeing the APL make the correct suggestions when looking at the Q.

Here is a link to what I see when looking at the character data.
https://pastebin.com/ZfdcGYYw

I will have to find a way to replicate

[2020-12-22 00:59] Hekili commented on #725
I need a proper ticket for this, because I'm definitely not seeing the bug you'd reported.

The spell ID for Purifying Brew doesn't change at rank 2, you're still casting 119582.

Please submit a snapshot showing PB not being recommended at level 47+ because of its spell ID.

[2020-12-22 02:01] stornquist commented on #724
I have this issue as well and I just started using Hekili with default profiles (havn't changed any settings apart from icon size and position)

[2020-12-22 02:04] Hekili commented on #724
Still need an explanation for why Spirit Bomb would be disabled.  Gotta actually post info.  Show me screenshots of /hekili > Abilities > Spirit Bomb.

[2020-12-22 02:05] stornquist commented on #724
![image](https://user-images.githubusercontent.com/42915664/102840160-806a3700-4402-11eb-8461-86bcc51956a9.png)

[2020-12-22 02:05] stornquist commented on #724
To be clear, it works fine some of the time but then sometimes it just stops recommending Spirit Bomb.

[2020-12-22 02:13] Hekili commented on #724
And a snapshot when Spirit Bomb is no longer recommended for you?

[2020-12-22 02:34] Hekili commented on #724
Another key detail is that Conduits/Soulbinds are missing from this snapshot, too.  Something is shaking off Conduit/Soulbind detection.

[2020-12-22 04:43] Hekili commented on #724
I am fixing the bug where your conduits/soulbinds get forgotten occasionally in 1.0.27a.  Let me know whether this behavior occurs in 1.0.27a.

[2020-12-22 04:45] Hekili commented on #726
I think I have a fix in place in 1.0.27a; see if your conduits/soulbinds are detected when you first log in and whether they remain after you go through a portal.  That should resolve this issue.

[2020-12-22 04:46] Hekili commented on #718
I did some research on this; you can write an APL that uses Ferocious Bite more (I think 2-4 more times in a fight) in multi-target and it ends up being about equal in DPS until there are a lot of targets (since you're trading an AOE GCD for a ST GCD).

Not quite worth building it in yet...  Have you tried tweaking the sim priority yourself, to see if you can create an improvement?

[2020-12-22 04:47] Hekili commented on #719
I've flagged this trinket as defensive instead, and it should only be recommended while under a loss of control effect.

[2020-12-22 04:47] #719 closed, assigned to Hekili

[2020-12-22 04:47] Hekili commented on #715
I think this is sorted.

[2020-12-22 04:47] #715 closed, assigned to Hekili

[2020-12-22 08:35] riasvdv commented on #724
Not at my PC until tonight, but I have the most default installation of Hekili, I haven't changed or disabled any abilities / priorities

[2020-12-22 10:24] hectorgd opened #727 "Trinkets doesnt show on imported profiles from SimulationCraft"
Hi , How are you?

**Describe the Bug/Issue**
After importing a profile from SimulationCraft Report, trinkets do not appear in rotation. I see some Warnings after the import ( see image below) and if I go to the 'Action list' tab and click the [Use Items] entry there is an issue that says: "2: attempt to index field '?' (a nil value)" (see image below)

**To Reproduce**
Steps to reproduce the beha

[2020-12-22 12:19] Hekili commented on #727
Don't import from SimulationCraft. Custom priorities are at your own risk. Most require additional adjustment.

[2020-12-22 12:19] #727 closed, assigned to Hekili

[2020-12-22 15:56] Hekili commented on #724
Sure.  Please test with 1.0.27a and let me know.

[2020-12-22 16:17] p4nchez commented on #718
thanks for your research and time you invested in this
now it make sense that a AOE GCD would do more or the same DPS in high count pulls

i understand it is not worth bulding in yet
i dont know how to tweak sim prioritys myself or write APL myself

im very happy with your rotation so far so no need to change something
thx for your help <3

[2020-12-22 16:17] #718 closed, assigned to Hekili

[2020-12-22 17:36] #725 closed, assigned to Hekili

[2020-12-22 17:36] Hekili commented on #697
Closing for lack of updates.

[2020-12-22 17:36] #697 closed, assigned to Hekili

[2020-12-22 18:11] riasvdv commented on #724
Same issue in 1.0.27a

Character data: https://pastebin.com/ZYSCRVDF

Snapshot: https://pastebin.com/cXxi3de9
Another snapshot: https://pastebin.com/j1cLmSTE

[2020-12-22 18:12] Ormal1708 opened #728 "Assassination Rogue - Vanish"
Please describe your idea or feature and when it would be useful.
In Shadowlands the use of vanish in the assassination rogue rotation provides no benefit, can it be removed or be a selectable components of the rotation?

[2020-12-22 18:16] Hekili commented on #728
You can disable it if you wish.

[2020-12-22 18:16] #728 closed, assigned to Hekili

[2020-12-22 18:21] Hekili commented on #724
Can you tell me more about when this starts happening?  I presume it's not happening when you first sign in, then you start seeing it later?  When?

[2020-12-22 18:33] Hekili commented on #724
Ahh, so this is happening when you have Soul Fragments but low Fury.  You can't Spirit Bomb for lack of Fury, you can't Fracture (due to overcapping).

[2020-12-22 18:38] Morinash opened #729 "Summon Darkglare not appearing as Venthyr"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Entry 20 in Affliction Priorities requires cooldown.soul_rot.r

[2020-12-22 18:48] riasvdv commented on #724
Yes that seems the case, it often happens after using Elysian Decree as it spawns extra fragments

[2020-12-22 18:50] Hekili commented on #729
1. That's not my default action list, so I normally would not offer any support.
2. That action list entry has multiple criteria combined, split up with `|` which means "or".
3. The part that isn't working right is `impending_catastrophe_dot` (addon just uses `impending_catastrophe`, which I will fix to allow for both in 1.0.28.

[2020-12-22 18:51] #729 closed, assigned to Hekili

[2020-12-22 18:52] Hekili commented on #724
I've tweaked the priority to allow Fracture at low Fury regardless of Soul Fragments.  You can generate Fury a few other ways, but you'd have already used those abilities by that point.  That'll be in 1.0.28 later today.

[2020-12-22 18:52] #724 closed, assigned to Hekili

[2020-12-22 18:56] Hekili commented on #724
(You can add `fury < 30 |` at the start of the existing Fracture entry, if you don't want to wait.)

[2020-12-22 19:05] Ormal1708 commented on #728
How?

[2020-12-22 19:14] Hekili commented on #728
/hekili > Abilities

[2020-12-22 19:40] Hekili commented on #726
(Reopen this if you have problems after 1.0.27a or 1.0.28.)

[2020-12-22 19:40] #726 closed, assigned to Hekili

[2020-12-22 19:43] Hekili commented on #711
1.0.29-beta1 is meant for you to test.

[2020-12-23 01:24] techicode opened #730 "Fps drops / high cpu usage"
**Describe the Bug/Issue**
I notice today a massive drop of fps. from +100fps to 57fps. I have installed an addonn to check wich addons use the most cpu/memory and hekili was on top.
So I desactivated hekili to check if was really the cause of the lag and yes. almost no fps variation when hekili was desactivated.

**My rig:
ryzen 3600
gtx 2070 super
16gb ram
installed on m2 samsung**

**To Reprodu

[2020-12-23 01:50] Hekili commented on #730
Fire Mage is use-at-your-own-risk.  It's an especially CPU intensive spec.

[2020-12-23 01:50] #730 closed, assigned to Hekili

[2020-12-23 03:45] rcumby opened #731 "Crash out to login. Only error is Hekili per bugsack/bugrabber"
1x Hekili\Events.lua:1759: attempt to perform arithmetic on local 'finish' (a nil value)
[string "@Hekili\Events.lua"]:1759: in function <Hekili\Events.lua:1630>
[string "@Hekili\Events.lua"]:1937: in function `handler'
[string "@Hekili\Events.lua"]:56: in function <Hekili\Events.lua:50>

Locals:
event = "COMBAT_LOG_EVENT_UNFILTERED"
_ = 1608682860.064000
subtype = "SPELL_CAST_START"
_ = false
sou

[2020-12-23 04:01] Hekili commented on #731
Got the rest of the info?

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of

[2020-12-23 08:53] SmallzTTV opened #732 "DK rotation doesn't consider pooling Runic Power if using Deadliest Coil legendary."

[2020-12-23 13:19] #732 closed, assigned to Hekili

[2020-12-23 13:59] Hekili commented on #731
I genuinely don't think I can cause a crash to the login screen, but that error will be prevented in the next release.

[2020-12-23 13:59] #731 closed, assigned to Hekili

[2020-12-23 13:59] Hekili commented on #711
I'll assume we're good.

[2020-12-23 13:59] #711 closed, assigned to Hekili

[2020-12-23 17:20] Skylines01 opened #733 "Recommending Word of Glory when criteria not met (HP>65%)"
**Describe the Bug/Issue**
Occasionally suggesting to use Word of Glory at 100% HP for protection paladin when Shining Light buff is up and GCD is empty. There are instances where I have empty GCD's as well as the buff but it does not make the same suggestion, leading me to think it might be a bug? There is an entry in the mitigation action list that includes this criterion but I have it disabled

[2020-12-23 17:40] Hekili commented on #733
You will need to provide a snapshot that shows Word of Glory being recommended.

[2020-12-23 18:45] Skylines01 commented on #733
Thank you for your quick reply.

https://pastebin.com/svPvNC4q

Is this suitable?

[2020-12-23 19:37] Hekili commented on #733
Yep.

[2020-12-24 00:28] Totos1991 opened #734 "[Warrior] Recommending Whirlwind Instead of Execute On Two Targets"
During raid (Huntsman Boss), the addon is telling me to use whirlwind instead of the available execute ability when there are only two targets present. Execute typically would hit between 4.5-12k damage when triggered, while whirlwind was hitting only for about 2k dps when triggered.

To reproduce you would have to fight two mobs and when one of them gets to the execute phase, you will see whirlwi

[2020-12-24 01:46] m3dos opened #735 "[Shaman] Night Fae Elemental Shaman Lava Burst before Fae Transfusion"
I notice that the elemental shaman rotation doesn't prioritize a 'master of the elements' (talent) cast of lava burst before casting the covenant ability, "Fae Transfusion" - This is an important dps mechanic - as the cast of lava burst will empower fae transfusion with 20% more damage.

[2020-12-24 01:56] Hekili commented on #735
Please follow the ticket instructions, provide a snapshot, and in this case, a comparison sim showing your changes.

[2020-12-24 01:56] #735 closed, assigned to Hekili

[2020-12-24 02:01] m3dos commented on #735
from https://www.icy-veins.com/wow/elemental-shaman-pve-dps-rotation-cooldowns-abilities

![image](https://user-images.githubusercontent.com/12224799/103050284-cf21e900-4548-11eb-98a6-5a73587d274a.png)

[2020-12-24 02:04] Hekili commented on #735
I understand; that's still not following the ticket instructions.  Did you check SimC?  Do a comparison sim?  Do you need to notify them about it?

[2020-12-24 03:01] Gnoma69 opened #736 "[Arcane Mage] Opener rotation never recommended"
Addon version - V9.0.2-1.0.30

Steps to reproduce:
Login as a Mage and set spec to Arcane.
Before opening on a target the rotation shows as Mirror Images (ok), Trinket (not expected, should be used with Arcane Power), Touch of the Magi (not expected).

Expected Behaviour:
The Arcane Mage opener rotation has you cast Mirror Images, Arcane Blast (pre-pull) into Arcane Orb, and Arcane Blast up to 4 c

[2020-12-24 03:05] Hekili commented on #736
Please sim yourself on Raidbots and provide a link, as well.  Thanks!

[2020-12-24 03:06] Hekili commented on #734
I've done some comparison sims, and it does seem to be a problem in sims as well.  Will have to tweak and tune the numbers a bit.

[2020-12-24 06:20] deedz1 opened #737 "balance filler"
Please describe your idea or feature and when it would be useful.
hi hekili,

can you please respond with simc code I can add to the balance rotation for the following filler:

I want to recommend moonfire/sunfire on my target while moving if they are currently not on my target (or say 5 seconds remaining) AND I do not have Stellar Drift talented  AND if I do - star fall is not up

thanks

[2020-12-24 08:40] deedz1 opened #738 "WW whirling dragon punch"
Please describe your idea or feature and when it would be useful.
hi,

currently there is an unlimited range consideration for WW's Whirling dragon punch

can you please add a 8 yard check to the simc apl - I do not now what the proper code is

thanks

[2020-12-24 17:44] Excitedguy opened #739 "Requesting additional racial/trinket support"
Hello,

Can't speak for all racial abilities and trinkets, but I've noticed there's some missing racial abilities and PVP trinkets. Certain PVP trinkets being recommended when they shouldn't be. Will list some examples that I personally noticed.

Sinful Aspirant's Emblem is a trinket that increases max HP for 20 seconds on use. Hekili is recommending this trinket as  if it were a DPS trinket. No o

[2020-12-24 17:49] Excitedguy commented on #739
Update: Actually discovered that Notorious Gladiator's Emblem is the same as Sinful Aspirant's Emblem according to Hekili, so I can configure this. Still not finding a Will to Survive setting yet for Human racial. It was recently renamed to Will to Survive from Every Man For Himself, but not finding either in the settings.

[2020-12-24 17:59] Excitedguy commented on #739
I was able to get Will to Survive added by adding the following entry to Classes.lua

    will_to_survive = {
        id = 59752,
        cast = 0,
        cooldown = 180,
        gcd = "off",

        toggle = 'defensives',
    },

If you could add this in next update, would appreciate it!

[2020-12-25 01:57] Gnoma69 commented on #736
As requested, Raidbots link
https://www.raidbots.com/simbot/report/pqh5hyQdCNfSCaG6162Jc1

[2020-12-25 05:59] bcbooker opened #740 "Shadow Priest rechecking during Mind Flay impacting FPS"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**Addon w

[2020-12-25 06:04] IronMongrel opened #741 "Shockwave has more value than solely as an interrupt"
in WarriorProtection.lua after shockwave = {

toggle = "interrupts",
            debuff = "casting",
            readyTime = state.timeToInterrupt,
            usable = function () return not target.is_boss end,

all of that should be defined/definable in the priority list and/or in the modifiable settings. shockwave can be used to stun a large number of mobs to reduce incoming damage damage rathe

[2020-12-25 12:15] SherpaGoolsbee opened #742 "Requesting Additional Trinket"
The Instructor's Divine Bell trinket is currently not being supported by the Hekili add-on. Raidbots states that it is a significant upgrade for my class (balance druid). Will this trinket be added to the add-on?

[2020-12-25 12:30] Iyadriel commented on #740
I second this, even with heavy throttling enabled in the performance options I still experience these fps drops. This only occurs on my shadow priest as well.

[2020-12-25 14:15] Hekili commented on #740
Thanks, I'll re-enable a setting that will result in fewer rechecks during Mind Flay channels.  Basically, the criteria for breaking Mind Flay's channel are met when Void Bolt is off cooldown, but Void Bolt has been treated as off cooldown even when you can't cast it (i.e., not in Voidform, no Dissonant Echoes).

I'll have to watch this closely, because this is going to result in more full channel

[2020-12-25 15:29] Hekili commented on #741
Tell me more about the criteria when you would use it (and that it would be correct to do so as a damage or mitigation ability).  Or for proccing Sephuz.

I agree that it has more uses than just as a single-target interrupt, but most of those are highly situational with potential drawbacks as well (stunning in a pool, interfering with kiting, etc.).

There's nothing stopping anyone from using it a

[2020-12-25 15:30] Hekili commented on #742
I'll add this in the next release.

[2020-12-25 15:30] #742 closed, assigned to Hekili

[2020-12-25 16:13] Hekili commented on #736
Thanks.  This is a subtle bug in translating from SimC to Lua (for addon purposes).  I have a testfix but I may post an adjusted priority list that doesn't cause the bug, since changing my translator can impact ALL THE THINGS.

[2020-12-25 16:38] Hekili commented on #736
Actually, two bugs.  But I'm getting closer:

![image](https://user-images.githubusercontent.com/9438134/103139001-ae22da80-46a5-11eb-9281-ba9be117243f.png)

[2020-12-25 22:52] Hekili commented on #736
This should be resolved in the next release.

[2020-12-25 22:52] #736 closed, assigned to Hekili

[2020-12-26 00:53] Hekili commented on #737
No, sorry, I don't write custom APLs for people.  You have to know what you're doing to customize priorities.

[2020-12-26 00:53] #737 closed, assigned to Hekili

[2020-12-26 04:27] IronMongrel commented on #741
I'm very sorry. I'm pretty dramatic [:

I personally usually use it if there's a lot of mobs nearby, particularly if I'm getting hit pretty hard, doubly in particular if my defensives are going to drop.

I also use it pretty often if I'm going to lose threat on a couple of mobs and just need a couple more seconds before my aoe threat cooldowns are back up, to prevent mobs splitting and having to c

[2020-12-26 14:18] MrSmurfy opened #746 "hekili not showing rotation for Outlaw using latest beta version."
Problem exists with (latest) beta version, v9.0.2-1.0.31-beta1

**Describe the Bug/Issue**
Hekili doesn't show spell suggestions using Outlaw spec.

**To Reproduce**
Run as outlaw spec, observe Hekili not doing anything. Addon is loaded correctly.

**Expected behavior**
Hekili showing spell rotation for Outlaw.

Issue Reporting output:
https://pastebin.com/16FahtMt

No error is given.

[2020-12-26 14:22] Backsteinschloss commented on #746
hey there,
i am having the same issue.

but I want to add that there is no priority for "Outlaw" within the "Outlaw"-settings tab. Besides that, u can find an outlaw priority in the "assassination" tab.

best regards

Screenshots:
https://prnt.sc/wabist
https://prnt.sc/wabiwt

[2020-12-26 14:40] choseh commented on #746
It helps to duplicate the Priority under Priorities -> Outlaw, then selecting outlaw from the duplicated dropdown and activating it (if that helps for debugging)

[2020-12-26 16:39] Hekili commented on #746
Should be fixed in -beta2.

[2020-12-26 16:39] #746 closed, assigned to Hekili

[2020-12-26 19:00] originalconso opened #747 "Hekili is not suggesting the use of "Bloodshed" talent as a BM Hunter when talented."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-26 19:07] Hekili commented on #747
Sure it does.

![image](https://user-images.githubusercontent.com/9438134/103157683-87d36c80-4783-11eb-852f-8d3898f4f966.png)

I'm guessing you don't have cooldowns toggled on.  If not, submit a complete ticket -- you didn't provide anything here.

[2020-12-26 19:07] #747 closed, assigned to Hekili

[2020-12-26 20:03] originalconso commented on #747
that must be it then. i'll check to see if c/d's are toggled on. ty.

On Sat, Dec 26, 2020 at 1:07 PM Hekili <notifications@github.com> wrote:

[2020-12-27 03:16] Grayfox2325 opened #748 "Feral - druid.owlweave_cat check using wrong type"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
With latest addon version the Feral priority no longer recomme

[2020-12-27 14:14] Hekili commented on #748
The conditions are not met in your snapshot.  You won't pop Heart/Moonkin unless:

1. Your energy is below 40.
2. Your Rake is up and will last 4.5 seconds.
3. Rip will last 4.5 seconds (or your combo points are < 5).
4. Tiger's Fury is on CD for 4.5 seconds.
5. Clearcasting is not up.
6. Apex Predator's Craving is not up.
7. Convoke is not ready.

That said, the Heart/Moonkin entries that end wit

[2020-12-27 15:21] Hekili commented on #748
Should be resolved in the newest beta.

[2020-12-27 15:21] #748 closed, assigned to Hekili

[2020-12-27 15:22] Hekili commented on #740
I'm pretty satisfied with the current solution to recheck less during channels, but may refine it further.

[2020-12-27 15:22] #740 closed, assigned to Hekili

[2020-12-27 15:26] Hekili commented on #739
I've added Will to Survive for the next beta and release.  Ideally, I'd be able to check if you're stunned but I can't do that consistently just yet.  So it has no conditions and it also does nothing.

[2020-12-27 15:26] #739 closed, assigned to nobody

[2020-12-27 15:27] Hekili commented on #738
No, I won't put this in the APL, but I may make a related user option.

[2020-12-27 15:27] #738 closed, assigned to Hekili

[2020-12-27 17:10] ShmooDude opened #749 "[Guardian Druid] Mangle Priority"
While technically the simcraft APL will produce the best DPS (or I assume so, I haven't tried to tweak it myself), I'm not sure that its the best default behavior for Hekili.  Specifically speaking of Mangle.

Right now, it will basically stop using Mangle at 3 targets in favor of Swipe, which will result in better damage, but worse mitigation since Mangle is our best Rage generator.

Currently, I

[2020-12-27 21:24] deedz1 commented on #738
you've been nothing but unhelpful

you could have just told me I could add  target.distance<=8  to anywhere
WDP is

The last time I post on your github ever. Zero help to people

On Sun, Dec 27, 2020 at 8:27 AM Hekili <notifications@github.com> wrote:

[2020-12-27 21:36] Hekili commented on #738
Ok?

[2020-12-27 21:44] Hekili commented on #738
I guess, since I've been baited here, I'll just note:

1. A user preference for this has been created (similar to Fury Warriors' Whirlwind class option).
2. You didn't ask how to do it yourself; you asked if I would add it to the priority for all users and I answered that question.  I generally don't do this sort of rule-out because ruling out an ability based on position is probably the wrong cho

[2020-12-28 01:49] Jlsweeney96 opened #750 "Balance Druid Simc profiles spamming Moonfire"
Title speaks for itself really, whenever I try loading the T26 profile here on Github or generating my own with SimC, Hekili for some reason wants me to spam moonfire when I am balance. When i reset it to default it doesn't do this, only with profiles. Is there something I am doing wrong or is there a reason it has me spamming moonfire?

[2020-12-28 01:56] Hekili commented on #750
I don't support custom priorities; the feature is there for folks who can troubleshoot them.

There's no reason you'd need to import the tier 26 profile from SimC/GitHub because I've already translated that for the addon -- that's what the default is.

[2020-12-28 01:56] #750 closed, assigned to nobody

[2020-12-28 02:00] Jlsweeney96 commented on #750
Ah okay, I'm very new to hekili so I wasn't sure how everything ties
together, thank you

On Sun, Dec 27, 2020 at 8:57 PM Hekili <notifications@github.com> wrote:

[2020-12-28 02:07] Hekili commented on #750
No worries, some bits are not intuitive so feel free to ask questions.

[2020-12-28 09:12] Mkay321 opened #751 "Sepsis Cooldown"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
The "remaining CD" timer on Sepsis is not always displayed cor

[2020-12-28 11:12] pqr337 opened #752 "UNHOLY DK DEATH AND DECAY"
Hi, im trying to display Death and decay at 3 or more targets, i edit the ability in the minimum targets field but its doesnt work, it always priorize death and decay at 2 or more.  Thanks

[2020-12-28 13:17] Hekili commented on #751
Hi, thanks for the ticket.  Can you provide a snapshot when Sepsis is recommended but on CD, without CD text?  The snapshot you provided is not recommending Sepsis.

[2020-12-28 13:37] Mkay321 commented on #751
Here Sepsis was the next suggestion but on CD with no CD text as I pushed snapshot and stopped the rotation: (I did not use Sepsis)
https://pastebin.com/6p5tCJ6E

In this snapshot I used Sepsis when it was suggested and went off CD, and It did not show the CD text
https://pastebin.com/svJWdj5x

Here It did not show the CD-text as it was in "queue 2,3,4" but came off CD perfectly as it got to 1st s

[2020-12-28 15:07] Hekili commented on #751
I have tried to replicate this, but it doesn't work for me.  The major difference might be that I'm in Covenant preview mode at level 50, but Sepsis shows its CD for me:

1. ElvUI + /hekili > Displays > Primary > Apply ElvUI Cooldown Style
2. ElvUI without Apply ElvUI Cooldown Style
3. Hekili w/o ElvUI

This leaves me wondering if you have a CD text addon that's otherwise interfering with Sepsis.

[2020-12-28 15:26] Hekili commented on #752
I found what is causing this, but I'll just warn you in advance that the whole Unholy DK priority is very sensitive to target counts so you may find that the priority doesn't really work well for you anymore if you prevent a 2-target Death and Decay.

You'd need to actually look at revising the priority itself for this kind of change (which I don't provide support for).

[2020-12-28 15:26] #752 closed, assigned to Hekili

[2020-12-28 15:31] Hekili commented on #749
I'm adding a spec setting for this.

[2020-12-28 15:31] #749 closed, assigned to Hekili

[2020-12-28 18:08] Excitedguy opened #753 "Allow buff/debuff checks by spell ID (for unsupported auras)"
I think it would be a really cool feature to be able to specific buffs on a target as a condition, even if it was implemented via spell IDs only. I would mainly use this for PVP, some examples would be to recommend a weapon disarm if Paladin uses avenging wrath or a warrior uses Avatar. Another example would be to not recommend Disable if the target has Blessing of Freedom active.

I know you prob

[2020-12-28 18:18] Hekili commented on #734
I'm trying out an adjusted priority in 1.0.32-beta1, let me know how it works for you.  It sims higher for me.

[2020-12-28 18:18] #734 closed, assigned to Hekili

[2020-12-28 18:29] Mkay321 commented on #751
I dont use ElvUI but I disabled all my addons and turned them a couple at the time and It seems to be Bartender4 that somehow is interfering with the Sepsis CD unless it is a very random coincendence that It started working without addons and suddenly started acting weird with Bartender4 active.

[2020-12-28 19:04] danielsql opened #754 "Lightning Lasso channel causes Lua errors."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-28 19:06] danielsql commented on #754
Lightning Lasso - Shaman Elemental

[2020-12-28 19:24] Hekili commented on #754
I need your Issue Reporting tab information.

[2020-12-28 19:28] Hekili commented on #751
It's certainly odd.  I have no idea how I would address that, to be honest.

[2020-12-28 19:32] danielsql commented on #754
oh, sorry
thats it?
build: v9.0.2-1.0.31
level: 43 (43)
class: SHAMAN
spec: enhancement

talents: earth_shield
    elemental_assault
    forceful_winds
    natures_guardian
    stormflurry

pvptalents: grounding_totem
   skyfury_totem
   spectral_recovery

covenant: none

conduits: none

soulbinds: []

sets: none

gear: anelsinete_do_tempestigador = 1
    banana_jakificada = 1
    botinas_torcalin

[2020-12-28 19:33] danielsql commented on #754
oh, sorry
thats it?
build: v9.0.2-1.0.31
level: 43 (43)
class: SHAMAN
spec: elemental

talents: echo_of_the_elements
    echoing_shock
    master_of_the_elements
    natures_guardian
    spirit_wolf

pvptalents: lightning_lasso
   skyfury_totem
   spectral_recovery

covenant: none

conduits: none

soulbinds: []

sets: none

gear: anelsinete_do_tempestigador = 1
    banana_jakificada = 1
    botina

[2020-12-28 19:47] Hekili commented on #754
So far, I've found this to occur on non-enUS clients (I tested esMX) only.  Interesting.

[2020-12-28 21:04] Hekili commented on #754
This should be fixed in 1.0.32-beta2 and the future 1.0.32 release.

[2020-12-28 21:04] #754 closed, assigned to Hekili

[2020-12-28 22:48] GamingSeat opened #755 "[Sub Rogue] Incorrect keybind reading in shadow dance."
Addon version: Up to date, updated today before the issue occured.

Repeat post: Did not see a repeat of this as far as I could tell?

**Describe the Bug/Issue**
When I go into my shadow dance rotation the addon begins to read off abilities and says to press 2 for Eviscerate and 3 for Rupture but they're bound to W and Q respectively. I have my eviscerate and rupture on bar 2, bar 1 is my stealth

[2020-12-28 23:05] darttribal opened #756 "[Outlaw Rogue] RTB suggestion causing me to clear 3-4 buffs from Count the Odds."
Using the count the odds conduit gives you  a chance to gain 5 seconds of a RTB buff you don't have. Using it from stealth and using ambush increases it to 15 seconds.

I noticed that the addon will suggest I use roll the bones when I have 5+ seconds of 2, 3 or more buffs. I will RTB and then I will reroll into 1 shitty CDR buff. Clearly this has to be a bug??? that cannot be a DPS gain.

[2020-12-28 23:05] Hekili commented on #756
You'll have to submit a complete ticket following the ticket instructions.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe th

[2020-12-28 23:06] Hekili commented on #755
I'll revert the change in 1.0.32; thanks for the report.

[2020-12-28 23:07] GamingSeat commented on #755
Thanks for your hard work, appreciated :)

[2020-12-29 00:21] Smudgiee opened #757 "Latest update broke WW FoF break?"
Just updated the Addon with the latest changes from the beta. I know it's beta, but I guess it's there for testing and use anyways.

I've not changed anything apart from updating the addon. Used to suggest to break FoF but no longer. I even reset my profile and still the same.

https://pastebin.com/GsuvkbuG

[2020-12-29 00:34] Hekili commented on #757
Please fill out the complete ticket when submitting.  But yes, I'm working on channeling stuff in beta.

[2020-12-29 00:38] Hekili commented on #757
-beta3 should be fine.

[2020-12-29 00:49] jacii9467 opened #758 "State.lua error - Shadow Priest in Dungeon"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2020-12-29 00:51] Smudgiee commented on #757
Can confirm, fixed. Thank you and next time I will, sorry.

[2020-12-29 01:13] #757 closed, assigned to Hekili

[2020-12-29 01:13] Hekili commented on #758
Try -beta4 and let me know if you see the error again.

[2020-12-29 01:35] Hekili commented on #755
Latest betas should have this resolved.

[2020-12-29 01:35] #755 closed, assigned to Hekili

[2020-12-29 01:35] #756 closed, assigned to Hekili

[2020-12-29 18:45] IIeTpoc opened #759 "[FEATURE/REQUEST] Diminishing Return Library Connection"
Hi! I found a good and constantly updating library of Diminish Return spells (diminishing of stuns and other crowd control (CC) spells) and I'd like to suggest implementing its functionality into Hekili addon.

As for PvE it can be very useful in mythic plus and Torgast clearing in a group. Because there are many situations when you have to CC a a target and it would be nice to optimise addon's re

[2020-12-29 23:26] DavidBruun opened #760 "Elemental Shamans, Primal Elementalist - Earth Elemental recommendation"
**Describe the Bug/Issue**
Hekili recommends using Earth Elemental aprox 5-10 seconds too early while Fire Elemental is still present.

**To Reproduce**
Have talent Primal Elementalist, and do rotation (preferably with Heroism so you are down in the recommendations)

**Expected behavior**
Earth Elemental should not be overwriting Fire Elemental

**Screenshots**
![Screenshot](https://user-images.gi

[2020-12-30 00:12] Hekili commented on #760
I'll need a complete ticket with snapshots of the overlap.

[2020-12-30 13:16] Hekili commented on #758
Appears resolved.

[2020-12-30 13:16] #758 closed, assigned to Hekili

[2020-12-30 13:18] #751 closed, assigned to Hekili

[2020-12-30 18:43] towicode opened #763 "Affliction Warlock delaying MR later in fights?"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**

For some reason during the 2nd burst window. aka the second t

[2020-12-30 18:52] Hekili commented on #763
Interesting; the durations on your dots in the screenshot aren't matching your snapshot.  I don't know if that means your screenshot and your snapshot were taken at different times, or if aura refresh events aren't firing so the addon's information doesn't get updated.

Did you take the screenshot and snapshot at the same time?

You haven't shown anything where dots are being refreshed with 15+ se

[2020-12-30 19:49] Hekili commented on #763
Try 1.0.32-beta5 under Releases and see if you still have issues.

[2020-12-30 20:02] towicode commented on #763
I tried the new version and what I experienced was that during the second darkglare window the recommendation rapidly changed. Once again it did show corruption, but then it displayed MR, but then it would go back to corruption and then it finally settled on MR.

I'll report back on this issue with more snapshots tomorrow, leaving for the day. I'll record some screen casts and see if I can capture

[2020-12-30 20:08] Hekili commented on #763
Yeah, I'm not seeing what you described in my own testing, so your description of it being consistent doesn't match up with what I find.  If you could answer the question(s) from my first response, that'd also be helpful.

[2020-12-30 20:14] towicode commented on #763
I took the screen shot right after the pause, maybe 1-2 second delay. And the 15 second thing was a gross generalization. I have experienced it recommend a dot when my dot bar was full. My dot bar is full from any duration from 10 seconds to max duration of the dot.

I will try to provide more snapshots for this issue.

[2020-12-31 05:42] towicode commented on #763
@Hekili I'm hoping these images help. What I'm noticing is that it doesn't seem that hekili is immediately getting the update when summon darkglare extends the length of dots. I know you'd prefer the snapshots, but since I have to wait 3 minutes to do this they are a bit hard to get. Is there a hekili mode where it debugs every recommendation?

Screenshot story.

at 3:12 into the fight I activate

[2020-12-31 05:49] towicode commented on #763
I got a snapshot. This snapshot is taken right at ~ 3:12 into a fight (separate combat of the screenshots above). The previously cast spell was summon dark glare. Because darkglare extends the length of the DOTS the next cast should be MR. However, hekili is recommending UA.

https://pastebin.com/jyuD8v9q

[2020-12-31 10:39] ghost opened #764 "Some variables of the form "cooldown.#SPELLNAME.remains" have incorrect values"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version. **Answer - I am running the latest version of Hekili.**

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports. **Answer - They have not. **

**De

[2020-12-31 10:49] ghost commented on #764
From further testing, it looks like disabling a spell under Toggles causes variables associated with the spell (such as the above examples) to be held at a default value. Knowing this, it looks like I should un-disable these spells under Toggles and modify the specific priority steps that would trigger them (to ensure they are not returned as recommendations.) No further action needed here from yo

[2020-12-31 10:49] #764 closed, assigned to Hekili

[2020-12-31 12:40] MrSmurfy opened #765 "Warlock LUA Error"
Warlock rotation gives a lua error during Drain Soul in the latest beta version:

Message: Interface\AddOns\Hekili\Core.lua:521: attempt to compare number with nil
Time: Thu Dec 31 13:38:18 2020
Count: 116
Stack: Interface\AddOns\Hekili\Core.lua:521: attempt to compare number with nil

[2020-12-31 12:44] Hekili commented on #765
Please provide a complete ticket with all the required info.

[2020-12-31 12:51] MrSmurfy commented on #765
Nevermind.

[2020-12-31 13:21] Hekili commented on #765
Understood.  Keep in mind that (1) I can't replicate this on my end and (2) I don't know if your selected talents, conduits, soulbinds, covenants, legendary, etc. are causing this to happen for you, because I don't know any of those details about your character.

A complete ticket would have all that information so I can debug.

[2020-12-31 13:32] MrSmurfy commented on #765
I didn't think it would be relevant since it's only during the channeling of Drain Soul for it to occur, and I did notice changes to core.lua to do with channeling of spells, so I reacted inappropriate, apologies for that.

The Character data from the Addon:
[code]

 I can provide a snapshot if that also helps.

[2020-12-31 13:36] Hekili commented on #765
If you can do it while channeling Drain Soul, and confirm that the error message is happening while that's going on, sure.

You have 8 talents showing there, so I have to admit, I'm kinda confused.  Are you in Torghast?  (Edit:  never mind, found out what's causing that.)

[2020-12-31 13:43] MrSmurfy commented on #765
Ah yeah, I guess ShadowEmbrace should just be a passive for Affliction.

Here is the snapshot, I didn't follow the rotation, I just channeled Drain Soul;
[code]

As the lua error occurs it doesn't let me make a snapshot, so this one was taken after, not sure if that matters.

[2020-12-31 13:48] Hekili commented on #765
That snapshot doesn't look like you're channeling anything, but that makes sense based on what you described.

Is there more to the error message?  Usually there'd be several more lines of text.  Do you have BugSack and BugGrabber to collect error messages?

[2020-12-31 13:52] MrSmurfy commented on #765
I just installed those, this is the output of Bugsack;

[code]

[2020-12-31 13:53] Hekili commented on #764
Good job investigating this.

You can use `cooldown.X.true_remains` to bypass the feigned cooldowns of toggled/disabled abilities.  The feigned cooldown helps support priorities that do some kind of prep work before a big cooldown becomes available, so that you're not just repeatedly doing that prep work but never pressing the cooldown ability.

[2020-12-31 15:28] Hekili commented on #765
Thanks for all the info.  Incoming fix in -beta6.

[2020-12-31 15:28] #765 closed, assigned to Hekili

[2020-12-31 15:28] Hekili commented on #763
Testfix for this in -beta6.

[2020-12-31 16:58] enjioh opened #769 "Balance Druid: Starfall Recommendation Scenarios"
Specific Scenario: I'm in a multi-target (3+mobs) fight, and I open normally with wrath, wrath, dots, celestial alignment, Convoke. Convoke gives me a Starfall, and I'm either Astral Power capped, or close to cap.

At this point, Hekili, sensing that I'm AP capped, will suggest Starfall, even though I have a relatively fresh Starfall from Convoke, and I'm still early in the Eclipse from the Celest

[2020-12-31 17:01] Hekili commented on #769
Please provide the required ticket information:

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and c

[2020-12-31 17:03] Hekili commented on #769
The required ticket information -- especially the snapshot -- will provide clarity on that Starfall recommendation.  If you get a Starfall via Convoke, the addon will know about it when it happens.  (It will not forecast it, because it theoretically might *not* happen, but it will update and is aware of your active Starfall when it generates its recommendations.)

You'd want to take a snapshot whe

[2020-12-31 17:29] enjioh commented on #769
![starfall rec](https://user-images.githubusercontent.com/76820351/103420098-95ee0800-4b4a-11eb-9ebd-f0d504d5d7c0.png)

Hope this helps

[2020-12-31 18:53] Zarggg commented on #769
Snapshot, not screenshot. The snapshot provides the logic the addon follows to make recommendations.

[2020-12-31 19:53] Smoothglobal opened #770 "Balance: No longer using Convoke when COOLDOWNS OFF and COVENANTS ON"
For the last few days, I have noticed if I turn COOLDOWNS OFF but leave COVENANTS ON, that I no longer ever get Convoke. Now, I am not sure if something changed in the latest release but I did notice this in the latest release notes:

Balance APL updates.
Map druid.no_cds to toggle.cooldowns.

Is there something that has changed or some way to revert back to the old behavior?

If I turn COOLDOWNS

[2020-12-31 19:57] Smoothglobal commented on #47
This is such a great suggestion. I would be very thankful to just hear a number "1, 1, 4, 3" etc. Great suggestion!

[2020-12-31 19:58] enjioh commented on #769
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.31
level: 60 (60)
class: DRUID
spec: balance

talents: feral_affinity
    mass_entanglement
    natures_balance
    solstice
    starlord
    stellar_drift
    tiger_dash

pvptalents: none

covenant: night_fae

conduits: conflux_of_elements = 4
   front_of_the_pack = 3
   innate_resolve = 3

soulbinds: [niya]
   grove_inv

[2020-12-31 19:59] enjioh commented on #769
Sorry for not understanding earlier. This is the AOE snapshot of me recreating the celestial alignment + convoke pattern. Not sure how to read this, but can generate another snapshot if needed.

[2020-12-31 20:38] ramenloverninja opened #771 "Use a title that describes the problem scenario."
**Describe the Bug/Issue**

The addon is suggesting an ability I don't have

**To Reproduce**

When I use Symbols of Death and the buff is up the addon suggests using the ability I don't have. The ability has the same icon as the Lightforged Warframe.

**Expected behavior**

The addon should suggest going into shadow dance and continue the rotation

**Screenshots**
![image](https://user-images.git

[2020-12-31 20:41] Hekili commented on #770
Yes, the logic for Convoke relies on CA.  It's intentionally written that way, but arguably could be changed.

[2020-12-31 20:42] Smoothglobal commented on #770
Okay, but something changed? It used to be that I could fire convoke by turning on COVENANTS with COOLDOWNS off?

I assume it changed on the new release a few days ago?

[2020-12-31 20:42] Hekili commented on #771
It's your trinket.

[2020-12-31 20:42] #771 closed, assigned to Hekili

[2020-12-31 20:46] Hekili commented on #769
You have to take a snapshot when the addon is providing you the recommendation that you disagree with.  That snapshot is showing Sunfire, Moonfire, then Wrath.

Basically, you need to push the button when you've hit Convoke and it has triggered Starfall, and you see Starfall also recommended by the addon.  Then paste that to **Pastebin** and link it here.

[2020-12-31 20:50] Hekili commented on #733
This should be resolved as of Dec 25; refer to the updated Protection Paladin priority.

[2020-12-31 20:50] #733 closed, assigned to Hekili

[2020-12-31 20:53] Hekili commented on #753
I'm not opposed to this, but implementation would be challenging.  For instance, if you refer to a buff to decide whether to Purge from your target, the addon won't know that particular aura is getting purged and might recommend Purge repeatedly.

More generically, you can refer to `buff.dispellable_magic.up` to see if your target has something dispellable (but without the specific spell ID).  The

[2020-12-31 20:54] Hekili commented on #759
This is interesting, though the implementation could be a bit challenging.  I'd probably have to create fake auras like `buff.stun_dr.up` and so forth.  Not sure how I'd do this, yet.

[2020-12-31 21:58] Kylvan-8 opened #772 "Rogue Sub - The APL seems to be not optimized as it should"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**

For Rogue Subtely, the APL is surely not find at all and at l

[2020-12-31 22:09] Hekili commented on #772
Can you provide context for your snapshots?  What do you disagree about with the snapshot?  What should you have seen instead?

[2020-12-31 22:26] Hekili commented on #772
After review, most of this is a result of fundamentally misunderstanding the addon and/or its configuration.  (It's not as intuitive as I might like, but

This is what the "Use Priority Rotation (Funnel Damage)" setting does, which you have enabled.

Not sure what you mean here, but you don't have "Recommend Target Swaps" checked under /hekili > Subtlety > Targeting, so it is not going to recommen

[2020-12-31 22:26] #772 closed, assigned to Hekili

[2020-12-31 22:41] Kylvan-8 commented on #772
@Hekili  Thanks for your points about setting up the tool. But it's not possible that trinkets and shadowblades aren't used in the APL. You didn't even look to the sim that actually use everything. If you would have take the time to read the entire post, you will see that i'm coming from Ravenholdt.

The context of the snapshots are explained in the first place of this post, they was taken in MM+.

[2020-12-31 22:57] Hekili commented on #772
I answered those points in my response.

[2021-01-01 05:01] #769 closed, assigned to Hekili

[2021-01-01 07:36] Dragonfo opened #774 "Del"
del

[2021-01-01 11:11] Hekili commented on #774
Why would you delete the part of the ticket instructions regarding snapshots? You'll need to provide snapshots of this actually occurring.

[2021-01-01 11:39] bitnoir commented on #770
Hi and thanks for the great addon! Is there any way to manually make Convoke shows like before, when I didn't have to toggle COOLDOWNS on? For now I have toggled COOLDOWNS on but deactivated any other cooldown abilities except Convoke. To be honest I preferred it as it was a few days before.

[2021-01-01 12:29] Dragonfo commented on #774
The first time I addressed a problem in your addon in the UH rotation. And the answer simply concerns more about why remotely, and not to understand the problem .... Thanks, but I'd rather find someone who will fix this problem for me in the addon .... You are just a disgusting person.

[2021-01-01 12:29] #774 closed, assigned to Hekili

[2021-01-01 13:11] Hekili commented on #774
If you decide you'd like to provide the information needed to troubleshoot your report, you're still welcome to do so.

Happy New Year!

[2021-01-01 13:53] HawkCorrigan commented on #760
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.31
level: 60 (60)
class: SHAMAN
spec: elemental

talents: aftershock
    echo_of_the_elements
    master_of_the_elements
    natures_guardian
    primal_elementalist
    spirit_wolf
    stormkeeper

pvptalents: none

covenant: necrolord

conduits: call_of_flame = 5
   spiritual_resonance = 5

soulbinds: [emeni]
   emenis_

[2021-01-02 04:58] Smoothglobal commented on #770
Definitely something changed here:

Balance APL updates.
Map druid.no_cds to toggle.cooldowns.

Was this intentional or was it "broken" before that we could fire of Convoke by turning Covenants on and Cooldowns off?

[2021-01-02 14:15] Hekili commented on #770
Yeah, the usage of "druid.no_cds" does prevent Convoke there and doesn't really make a whole lot of sense in-game.  I'll be revising it.

[2021-01-02 15:22] Hekili commented on #770
This should be resolved in 1.0.32.

[2021-01-02 15:22] #770 closed, assigned to Hekili

[2021-01-02 15:23] Hekili commented on #760
This should be resolved in 1.0.32; Earth Elemental is no longer allowed if a DPS elemental is active.

[2021-01-02 15:23] #760 closed, assigned to Hekili

[2021-01-02 15:23] Hekili commented on #763
Appears resolved; closing.

[2021-01-02 15:23] #763 closed, assigned to Hekili

[2021-01-02 16:59] roces43 opened #776 "shadow priest"
-Shadow priest
-Covenant: necrolord
Does not exist in the dps rotasion , only if i set cooldown setting off please help me out ty!

[2021-01-02 17:00] roces43 commented on #776
there is a problem with shadow priest necrolord covenant it doesnt show the covenant spell named "unholy nova" in the rotasion please fix it

[2021-01-02 17:00] roces43 opened #777 "arcane torrent racial spell"
Blood elf racial spell called arcane torrent does not exist in the dps rotasion please help out ty!

[2021-01-02 17:01] roces43 commented on #777
it doesn't show the arcane torrent blood elf racial spell in the rotation please fix it up thnx you

[2021-01-02 17:30] Hekili commented on #776
Yes, it does, and you need to submit complete tickets following the instructions if you would like further investigation.

[2021-01-02 17:30] #776 closed, assigned to Hekili

[2021-01-02 17:32] Hekili commented on #777
Please follow the instructions when submitting tickets.

[2021-01-02 17:32] #777 closed, assigned to Hekili

[2021-01-03 21:50] ChineseRat opened #778 "Shaman says to use stormstrike when at 10 maelstrom weapon procs instead of another ability"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.
When storm

[2021-01-03 22:33] Greenstriped opened #779 "Trinkets can't be added to cooldowns"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
I am sorry if this isn't a bug, but it appears to be. Issue is

[2021-01-03 22:39] whoaisjustin opened #780 "[Affliction"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

**I'm using 9.0.2-1.0.32.**

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description o

[2021-01-03 22:39] #780 closed, assigned to Hekili

[2021-01-03 22:44] Hekili commented on #779
![image](https://user-images.githubusercontent.com/9438134/103490618-1b8fe300-4deb-11eb-873c-aeeefd0520a0.png)

![image](https://user-images.githubusercontent.com/9438134/103490630-33fffd80-4deb-11eb-9627-d166a76b401f.png)

The trinket should be on the Cooldowns toggle by default, though.

[2021-01-03 22:44] #779 closed, assigned to Hekili

[2021-01-03 22:45] whoaisjustin opened #781 "[Affliction] - Summon Darkglare and Dark Soul: Misery not being recommended"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Two cooldowns, Summon Darkglare and Dark Soul: Misery, are not

[2021-01-03 22:45] Hekili commented on #778
Resolved in Discord discussion.

[2021-01-03 22:45] #778 closed, assigned to Hekili

[2021-01-03 22:54] whoaisjustin commented on #781
Snapshot w/ DoTs: https://pastebin.com/0fmgu08u

Strange, because the add-on was definitely recommending Drain Soul, not Malefic Rapture.

[2021-01-03 23:08] whoaisjustin commented on #781
Cooldown snapshot: https://pastebin.com/28wVBBn6

[2021-01-03 23:09] whoaisjustin commented on #781
![image](https://user-images.githubusercontent.com/15135401/103491091-c3f37680-4dee-11eb-8141-6485973587ea.png)

[2021-01-04 14:41] Hekili commented on #781
This should be resolved in 1.0.33 with the support for `covenant.none` added.

[2021-01-04 15:24] sebastianlang84 opened #783 "Hekili packages latest Ace3, currently interferes with ElvUI options."
Since today my ElvUI options menu is disabled while having Hekili enabled.
![image](https://user-images.githubusercontent.com/24494724/103550544-57897d80-4ea9-11eb-8370-6c4d7ae558a5.png)

[2021-01-04 15:29] NoobTaco commented on #783
Can confirm. Was on my way to report this as well.

[2021-01-04 15:29] Hekili commented on #783
Do you use SilverDragon?

[2021-01-04 15:34] sebastianlang84 commented on #783
nope.. didnt even know about that

[2021-01-04 15:39] Hekili commented on #783
This will mean that some library is updated that is impacting ElvUI, and is packaged with my addon.  We'll have to wait it out.  You can downgrade safely (or just downgrade the Libs folder from an older release).

[2021-01-04 15:45] Hekili commented on #783
It's an Ace3 update; ElvUI will be fixing on their end.

https://discord.com/channels/209244641537556480/222356141785612288/795622706879922197

[2021-01-04 15:54] sebastianlang84 commented on #783
thx for clearing up!

[2021-01-04 16:51] adamcadot commented on #783
I downgraded Hekili twice and ElvUI options are still broken. Any suggestions? I checked the other addons' issue queues and there is no mention of this issue.

[2021-01-04 17:16] Hekili commented on #783
Then you have another addon supplying the new Ace3.  (If any addon supplies the new Ace3, all addons will use the new Ace3.)

There's a link right there to their discord discussion of it.

Here are my recommendations:

![image](https://user-images.githubusercontent.com/9438134/103560966-ac67cc80-4e86-11eb-8180-86bbdcf3cc2f.png)

[2021-01-04 17:54] BeelyZ opened #784 "Mauvais keybind"
**Describe the Bug/Issue**
Hekilli m'affiche un autre keybind que celui que j'ai configurer sur un druide équilibre, alors que sur tous mes autres personnages il marche très bien, il peut meme m'afficher par exemple deux sort différent sur la même touche.

**Expected behavior**
Je ne saurais pas vraiment d'où le problème pourrait venir étant donner que sur mes autres personnages l'addons fonctionn

[2021-01-04 19:35] Hekili commented on #783
The new ElvUI is out; update to fix.

https://www.tukui.org/download.php?ui=elvui

[2021-01-04 19:35] #783 closed, assigned to Hekili

[2021-01-04 20:46] Hekili commented on #784
`Hekilli shows me another keybind than the one I have configured on a balance druid, while on all my other characters it works very well, he can even show me for example two different spells on the same key.`

`I wouldn't really know where the problem might come from given that on my other characters the addons work great.`

You may have your action bars set up in a weird order; remember that drui

[2021-01-04 20:46] #784 closed, assigned to Hekili

[2021-01-04 21:54] Unghiutza opened #785 "How can i delete everything about the addon?"
So, my question is as follows, i did some wrong settings, and i just want to return to default, but if i delete and reinstall addon, i still get those settings i fucked up. I tried deleting Hekili lua from savedvariables

[2021-01-04 21:56] Hekili commented on #785
/hek > Profiles > Reset Profile, probably /reload after.

[2021-01-04 22:17] Unghiutza commented on #785
Ty <3

[2021-01-05 00:44] cm0918 opened #786 "evlui issue"
updated the addon this morning   logged into the game   went into evlui to change something and all the options headings were greyed out,  disabled the addon and i was able to fix it, re-enabled the addon and the options went back to being greyed out.   evlui was up to date when the issue was happeneing  12.16  i know there is an evlui update but this is an issue for those who dont update
![WoWScr

[2021-01-05 00:47] Hekili commented on #786
Update ElvUI.

[2021-01-05 00:47] #786 closed, assigned to Hekili

[2021-01-05 14:18] Laexxi opened #791 "Hekili Blocking ElvUI Options"
Since the last update Hekili is not working with ElvUI. (Issue for me and my cousin). ElvUI Options can be shown, but are not working (Tabs on the left side are greyed out). After disableling Hekili everything is fine,

[2021-01-05 14:22] Hekili commented on #791
Update ElvUI.

[2021-01-05 14:22] #791 closed, assigned to nobody

[2021-01-05 23:23] gimmic opened #792 "Rogue - Sub - Enveloping Shadows talent not accounted for"
**Describe the Bug/Issue**
It seems that the multiple charges of Shadow Dance are not seen when using Rogue Sub talent 'Enveloping Shadows'

**To Reproduce**
Have Enveloping Shadows talent as a sub rogue, enter normal combat. Notice that the suggestion only fires for the first charge and does not properly suggest activating the second charge, or does not raise above backstab when off cooldown(but

[2021-01-05 23:25] Hekili commented on #792
It doesn't look wrong at first glance.  Spamming Shadowstrike is good, yes, but syncing up CDs is better and as long as Shadow Dance is recharging nothing has been wasted.

[2021-01-06 01:15] 3kynox commented on #791
Evening, sorry to re-open but got the same problem and latest elvUi (12.16).
![image](https://user-images.githubusercontent.com/308755/103717153-a8d66180-4fbc-11eb-97b0-64341d5848b8.png)

Thanks in advance for help!

[2021-01-06 01:18] Hekili commented on #791
![image](https://user-images.githubusercontent.com/9438134/103717310-24bbb400-4f93-11eb-9bfe-4dfa849cf4eb.png)

[2021-01-06 06:14] eternallydee opened #795 "Hekili is making Elvui features unclickable"
When hekili is disabled, I'm able to edit my elvui settings just fine. However when Hekili is enabled, the options buttons are covered up by a box that doesn't allow me to click on anything behind it.

You can view this here:

Hekili enabled: https://i.imgur.com/jD3lCqm.png
Hekili disabled: https://i.imgur.com/DHMzAZc.png

Had a look through the hekili settings and nothing stood out to me.

[2021-01-06 07:02] papajuras opened #796 "Unh DK suggestions bar disappear"
**BEFORE SUBMITTING AN ISSUE:**

**Describe the Bug/Issue**
During testing on "swarm training dummy" suggestions bar disappeared. display mode auto.

**To Reproduce**
Just try dpsing the dummies.

**Expected behavior**
Hekili suggestions bar is not disappearing

**Screenshots**
n/a

 
**PUT SNAPSHOT LINK HERE:**
edit: moved snapshot to pastebin

https://pastebin.com/u0GPTvLS

[2021-01-06 09:28] p4nchez commented on #795
update your elvui to 12.17 then its fixed

[2021-01-06 12:36] #795 closed, assigned to nobody

[2021-01-06 16:02] gimmic commented on #792
I'm not sure it is clear- I almost always "override" this prioritization.
Enveloping shadows gives me 2 charges of the Shadow dance ability- the prioritization never seems to take advantage of charge #2.

It tells me to use backstab but activating my second charge of shadowdance turns those backstabs into shadowstrikes instead, same energy cost, and the cooldown is recharging for the first charge

[2021-01-06 16:06] Hekili commented on #792
I understood you.  Have you reviewed what your sim does?

[2021-01-06 16:28] ijoihlhnn commented on #796
Can't reproduce it in an actual Dungeon on my end. Might be an Training dummy issue only.

[2021-01-06 16:29] gimmic commented on #792
Where would be best to step through that? All guides indicate to apply shadow dance whenever it is available and only use backstab if shadowstrike isn't up.

[2021-01-06 16:30] Hekili commented on #792
Raidbots.

[2021-01-06 16:32] Hekili commented on #796
@papajuras That's not the default priority that I package with the addon.  If you import your own or do customizations, you have to support those yourself.  Thanks.

[2021-01-06 16:32] #796 closed, assigned to Hekili

[2021-01-06 16:45] gimmic commented on #792
Yes, raidbots has me activate Shadow Dance at ~5 seconds into combat and then again at 16 seconds into combat. The only reason it gaps it more than 8 seconds is because it wants to use a vanish when the first shadow dance expires. I typically save vanish for evasion purposes instead of a single use DPS boost.

So, without vanish, it would fire shadowdance twice in the first 30 seconds of combat- s

[2021-01-06 16:47] Hekili commented on #792
Because your other CDs aren't up.  The whole point of having charges is that it allows you to use an ability with more flexibility.  As long as Shadow Dance is recharging, you haven't lost anything by waiting to use it, as long as  you spend the remaining charges before the end of the fight.

This flexibility allows you to align usage of Shadow Dance with fight mechanics, other CDs, potion, Bloodl

[2021-01-06 16:51] gimmic commented on #792
Shadowstrike is nearly always "up", and at the point all DoTs have been applied my rotation becomes shadowstrike, shadowstrike, evis.. repeat. Without using Shadow dance, that is instead "backstab, backstab, evis".
The unpredicable nature of CP gains due to crits makes the order a little fuzzy.

I'll work on simming it out more to validate, and I definitely defer to your expertise- but in play, th

[2021-01-06 16:59] Hekili commented on #792
[code]

This means "use Shadow Dance if Shadow Dance isn't up and Shuriken Tornado is up and Shuriken Tornado is expiring in 3.5 seconds or less."  That condition for using Shadow Dance is not met.

[code]

This means "use Shadow Dance if Shadow Dance isn't up and the fight will end in 8 seconds or less (9 seconds if Subterfuge is talented)."  That condition for Shadow Dance is not met.

[code]

T

[2021-01-06 16:59] #792 closed, assigned to Hekili

[2021-01-06 17:00] Hekili commented on #792
But Shadowstrike during Shadow Dance is 15% stronger.  The essential bit here is that opportunity cost can be deceptive.

[2021-01-06 17:03] #785 closed, assigned to Hekili

[2021-01-06 17:06] gimmic commented on #792
Yup, and I'd be performing shadow strike during shadowdance regardless of other factors. I get opportunity cost, the reality is that a 30 second CD isn't bad and saving it for a time that is unlikely to come seems excessively wasteful in trash fights. In sustained fights, I now understand the value of waiting to sync it with symbols of death.

[code]

After simming it without vanish, not much chan

[2021-01-06 17:11] Hekili commented on #792
Thanks for being open to it.  Sorry that snapshots aren't more intuitive, to help clarify the issue.

[2021-01-06 17:19] Hekili commented on #792
Also, this did help me catch a couple of errors that don't really change the result, but will make forecasts more accurate.  :)

[2021-01-07 04:08] lloydBl opened #798 "cooldown.final_reckoning.remains not correctly returning dynamic cooldown value"
**Describe the Bug/Issue**

As the title says, calling "cooldown.final_reckoning.remains" returns the static max cooldown value of Final Reckoning instead of the actual dynamic cooldown.  This means it returns 60 at all times even if the spell is available.  This causes issues with the current default Ret action list which bases Seraphim off of final reckoning's cooldown.

**To Reproduce**
Load Re

[2021-01-07 04:25] Hekili commented on #798
Abilities that are toggled off are treated as though they are on CD.  If you enable your Cooldowns toggle, Final Reckoning's CD will be accurate.  This is necessary so that action list logic that does prep work to sync abilities will still work if/when you activate/deactivate toggles.

[2021-01-07 04:25] #798 closed, assigned to Hekili

[2021-01-07 06:05] kittykatrawr opened #799 "Void Eruption and Power Infusion not being triggered to use"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When first using the addon it was showing arcane torrent to st

[2021-01-07 06:36] zerokool209 opened #800 "Ret Pally - Justicar's engeance Talent"
Would like to have Justicar's Vengeance as part of the rotation. I think its left out because it uses 5 Holy power. But its one of the strongest strikes It seems like a wasted talent if it's not included.

[2021-01-07 10:21] Aelmott opened #801 "Blood DK issue with Control Undead and Raise Dead conflict"
Perhaps I missed the way to fix this within the addon, so I'm sorry if thats the case.

While playing my Blood DK I use and love Hekili, but I noticed an irritation when I
use CONTROL UNDEAD.  This basically makes an undead mob into my minion / pet
for approx 5 minutes. Now during this time in my rotation while fighting when my
RAISE DEAD is off cooldown, Hekili keeps telling me to cast RAISE DEAD

[2021-01-07 12:37] Hekili commented on #799
See /hekili > Toggles. You have Cooldowns turned off.

[2021-01-07 12:37] #799 closed, assigned to Hekili

[2021-01-07 16:31] gimmic commented on #792
By the way, I have noticed another tool that does a similar function (maxdps) does suggest firing the second charge of shadowdance.

Maybe as a presentation option it could show that the ability is up/available, but not put it in 1st priority for action on the list?

[2021-01-07 16:36] Hekili commented on #792
Sure, you can write a custom priority if you want something different.

[2021-01-07 16:41] DarkpawGnoll opened #802 "Destruction Warlock - Fel Domination appearing in queue without useful reason"
**Describe the Bug/Issue**
Fel Domination reduces the casting time for a pet to be summoned. I can't find any other side effects. This spell keeps on being added to my queue as a Destruction Warlock when I've already summoned and sacrificed my pet using the Grimoire talent. Even if I follow the queue and use Fel Domination, it never directs me to use it by summoning a different pet.

**To Reproduc

[2021-01-07 16:52] Hekili commented on #802
Good catch.  Will be resolved in next release.

[2021-01-07 16:52] #802 closed, assigned to Hekili

[2021-01-07 16:54] Hekili commented on #801
Good call, fixed in next update.

[2021-01-07 16:54] #801 closed, assigned to Hekili

[2021-01-07 16:54] Hekili commented on #781
Additional tweaks made that will be out in next update.

[2021-01-07 16:54] #781 closed, assigned to Hekili

[2021-01-07 16:55] Hekili commented on #800
It's left out because nobody takes it, really.  When you sim, you don't even cast it right now.

In the meantime, refer to the Wiki/FAQ if you'd like to add the ability to your priority.

[2021-01-07 18:05] rawrzillasor opened #803 "Outlaw RTB + CTO buffs bugged"
I was having an isse with outlaw and the rerolling function of the addon. Sometimes when i get a two buff, for example true bearing + grand melee it will be fine. Then if i dispatch or ambush and get a third, shoirt duration buff while the cooldownj on rtb is technically available but i wouldnt want to reroll of the previous two buff. itll recomend me to reroll. Itm should never tell me to reroll

[2021-01-07 18:10] Hekili commented on #803
You still have to follow the ticket instructions, friend.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A c

[2021-01-07 18:12] Hekili commented on #803
The clip you provided seems pretty odd, but the snapshot shows a reroll based on duration on RtB being very low.  I'm curious if spell IDs have changed on any RtB buffs.

[2021-01-07 18:14] Hekili commented on #803
Alright, using what you provided, I am testing a change that will base the fake "roll_the_bones" buff on the longest duration buff rather than the first/shortest.  Please try out 1.0.35-beta1 when you get a chance.

[2021-01-07 18:39] kittykatrawr commented on #799
Thank you!

On Thu, Jan 7, 2021, 4:37 AM Hekili <notifications@github.com> wrote:

[2021-01-07 20:03] khomyaque opened #804 "Suggestion: auto-attack action"
Hello.

I'm playing enhancement shaman, and my ranged spells (like Flame shock) do not trigger auto-attack even when I'm in melee range. Would it be possible to add an action to suggest auto-attack on target whenever it's not toggled on, i.e. add support for SimC _auto_attack_ action?

Thanks!

[2021-01-07 20:20] Hekili commented on #804
I will probably not pursue this; I'd recommend getting a WeakAura that warns you about auto-attack and whether you're out of range.  It's a useful thing, but telling people to auto-attack in a visual way is not an economical use of space in a priority display.

[2021-01-07 20:20] #804 closed, assigned to Hekili

[2021-01-07 22:56] Saji-Saji opened #805 "Boomkin, Suggests Starfall while still currently running"
**Describe the Bug/Issue**
I've noticed quite often the addon will suggest Starfall, even on single target, when Starfall is still falling and has high duration. It is most often noticed during CA/Convoke, but also occurs randomly during normal rotation when a Starsurge would be the better choice.

**To Reproduce**
Open with 2x Wrath, Moonfire, Sunfire, 2x Starsurge, Celestial Alignment, Convoke.

[2021-01-08 00:23] iamkevindu commented on #803
Surprised to see this on here. This is the only thing that irritates me with this addon. Other than this 'bug', this addon has helped me get sub-90 parses. Thank you, Hekili, for staying on top of your game with this amazing addon.

Glad to see someone post this issue.

[2021-01-08 00:24] ashkaraoc opened #806 "ElvUI Options Greyed Out"
1.  Using latest release

2.  Cannot find a similar issue here

**Describe the Bug/Issue**

Opening the ElvUI panel with only ElvUI + Hekili greys out ElvUI, Turning off Hekili allows for button use again on ElvUI

Steps to reproduce the behavior:

Download ELVUI
Download Helkili
Open up the ElvUI Panel
Check Greyed Buttons

**Expected behavior**

Will be unable to select ElvUI options

Picture: h

[2021-01-08 00:29] cacng2 opened #807 "Errors generated while in resto shaman spec"
## Overview

I'm leveling an elemental shaman (57, so above 50).  Hekili worked yesterday, but after updating with Ajour today, it stopped displaying any recommendations (I'm still able to access the options through the minimap icon). The last time I updated was probably a week ago.

I did just get the 'preview' of Fae Transfusion, if that could somehow be related.

## Version

Hekili.toc reads
[c

[2021-01-08 00:46] cacng2 commented on #807
All of this was happening because I was in resto spec and forgot to swap to elemental spec.

🤦

[2021-01-08 01:07] cacng2 commented on #807
I'll leave it open in case the # of errors while in resto spec is an issue.

[2021-01-08 01:14] rawrzillasor commented on #803
Just test the beta on a target dummy for a little while and it seemed to resolve the issue as far as the few times i got the conditions to trigger the buffs. thank you as always =]

[2021-01-08 01:14] #803 closed, assigned to nobody

[2021-01-08 01:15] Hekili commented on #806
Update ElvUI.

[2021-01-08 01:15] #806 closed, assigned to Hekili

[2021-01-08 01:51] Hekili commented on #803
Thanks for confirming.

On Thu, Jan 7, 2021 at 8:15 PM rawrzillasor <notifications@github.com>
wrote:

--
 Tony Robbins
 trobbins@gmail.com

[2021-01-08 02:02] Hekili commented on #807
Correct, resto isn't supported.  I've found that error comes up when trying to debug/pause/snapshot for an unsupported spec.  I'll prevent this in the next release.  Thanks!

[2021-01-08 02:02] #807 closed, assigned to nobody

[2021-01-08 02:04] Hekili commented on #805
Your snapshot does not show Starfall currently applied.  Was this taken at a time when Starfall was active?

[2021-01-08 02:15] Saji-Saji commented on #805
Yeah, If you look at the screenshot, you can see Starfall applied both on the weakaura as well as the buffs in the top right.

[2021-01-08 02:16] Kintoun commented on #805
Also noticed this. It is suggesting Starfall when there is plenty of duration left on the current Starfall in both AOE and single target situations. Worth mentioning that in a sample simc APL sequence output this behavior is not seen.

NOTE: Suggesting Starfall in a single target situation is not a bug but intended if Star Drift talent is taken.

[2021-01-08 03:24] Hekili commented on #805
@hoaraucg I always have to verify that they're actually from the same moment.  People make mistakes.

I have a test fix going in a beta build in a few minutes.  When 1.0.35-beta2 is available, please confirm whether you still have the issue.  Thanks!

[2021-01-08 03:26] Saji-Saji commented on #805
I'll gladly check it out tonight. It's very easily reproduceable as long as Convoke procs Starfall, I'll get some info back to you as soon as I see the build release.

[2021-01-08 03:29] Hekili commented on #805
It should be up now on GitHub (see Releases tab).  Other sites will take longer to approve.

[2021-01-08 03:40] Hekili commented on #800
If you want to do some testing with SimC and find a scenario where using Justicar's Vengeance is a DPS increase at all, provide those sims and I'll look at incorporating it.  The theorycrafting crowd have found it to be a DPS loss to even bother with it.

[2021-01-08 03:40] #800 closed, assigned to Hekili

[2021-01-08 04:18] Saji-Saji commented on #805
I've tried to do everything I could to break it, and just did 20 minutes straight on a dummy. Not a single Starfall when I wouldn't expect one, seems absolutely perfect now!

[2021-01-08 04:43] Kintoun commented on #805
Same, looks fixed to me in both ST and AOE! Thanks for fast turnaround!

[2021-01-08 16:32] Steviiie opened #809 "Sometimes not recommending abilities when in a AOE fight"
Hi! First I would like to thank you for all the work you put into this addon. It's great!

The problem I have is that on my DK sometimes in aoe fights the addon won't recommend abilites. In ST fights there is never a problem. I guess it's something I might have done. I reloaded the priority list to the latest one just to make sure but I can't recall me changing anything there.

https://pastebin.co

[2021-01-08 17:24] Hekili commented on #809
The ability it would've recommended was Death and Decay -- but you have it set to require 3+ enemies before casting.  The rest of the priority logic relies on casting Death and Decay, so I'd recommend resetting that setting back to 0.

[2021-01-08 17:24] #809 closed, assigned to nobody

[2021-01-08 17:25] Hekili commented on #805
Thanks for confirming!

[2021-01-08 17:25] #805 closed, assigned to Hekili

[2021-01-08 17:31] NokuraWoW opened #810 "Recommending Flare Before Tar Trap with Soulforge Embers"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

Prior to

[2021-01-08 18:17] Steviiie commented on #809
Hmm that's true! That explains it! Sorry for not seeing that in the log :)

[2021-01-09 10:17] kp9928 opened #815 "Hunter "Double Tap" in Pre-combat Entry List Marks Hekili into Combat?"
1. Version 9.0.2-1.0.35-beta2
2. Description : Double tap in pre-combat entry list marks Hekili into combat skipping everything else in the entry(?).
3. In the current Marksmanship precombat action list entry for Double Tap, active enemies > 1 is set. But if I were to want to use double tap for single target (eg. ST boss fight), followed by an aimed shot, I would change this entry conditions to be

[2021-01-09 13:03] Rossilqt opened #816 "Hekili rotation wont show"
Hello guys, I've updated my Hekili to the newest version today, but it wont show my rotation now.. I used it last night and it worked just fine.. I've uploaded a few screenshots and my character data, this is my first time reporting a bug, let me know if I'm missing something.

Best regards Thomas

![Combat](https://user-images.githubusercontent.com/77197102/104092314-77db8280-5283-11eb-8f65-7e8c6

[2021-01-09 13:45] Rossilqt commented on #816
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.2-1.0.34
level: 50 (50)
class: WARRIOR
spec: fury

talents: anger_management
    bladestorm
    double_time
    fresh_meat
    frothing_berserker
    massacre
    warpaint

pvptalents: none

covenant: none

conduits: none

soulbinds: []

sets: none

gear: ashjrakamas_shroud_of_resolve = 1
    auric_puddle_stompers = 1
    breas

[2021-01-09 14:15] Rossilqt commented on #816
Resetting my profile fixed the problem, thanks to @Smufy :-)

[2021-01-09 14:15] #816 closed, assigned to Hekili

[2021-01-09 14:37] Hekili commented on #815
Ok.

[2021-01-09 14:37] #815 closed, assigned to Hekili

[2021-01-09 14:42] Hekili commented on #810
Tell me more about this scenario.

Did you use Tar Trap at all?  I.e., in M+, did you use Tar Trap on one pack and then moved on to a new pack?  Or have you not cast Tar Trap at all?

[2021-01-09 14:43] Hekili commented on #816
My guess would be that you imported a priority that didn't work.  (There aren't 4 entries in my default precombat action list.)

Don't import action lists.  Unless you've written something new and novel by hand, I've already translated simc action lists to the addon.

[2021-01-09 15:51] Behnam45 opened #817 "issues with DemonHunter Tank"
i playing DH Tank, and this Hekili addons Does not show me any intruppt when an NPC or bosses or players cast spells, and i turn on intruppts in settings

[2021-01-09 16:02] Hekili commented on #817
Please follow the ticket instructions.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise de

[2021-01-09 16:41] NokuraWoW commented on #810
I hadn't used tar trap in ~60 seconds as I was testing it. it was in torg. I waited until I went to a new floor

[2021-01-09 16:53] NokuraWoW commented on #810
in the SS you can see that the AOE is recommending it properly but single target isnt

[2021-01-09 22:46] maktens opened #818 "Detection does not work at arena"
hi
detection does not work at arena, addon just simply cant see characters but still see their pets (so addon cant use aoe scenario in auto mode when face multiple enemy chars)
im using nameplate detection but tried other and still nothing
btw detection work at bg's properly

ps: just love ur work mate, so good tuning in ingame ui, cheers :)

[2021-01-09 23:08] Hekili commented on #818
I'll add arena units to unit ID tracking (for target counts and time-to-death calculations), but you'd need to provide a complete ticket with the required information for any further investigation/exploration.

There's nothing I see that would explicitly block nameplate detection in arenas.

[2021-01-09 23:08] #818 closed, assigned to Hekili

[2021-01-09 23:08] #817 closed, assigned to Hekili

[2021-01-10 05:00] Hzereve opened #819 "MM going famine for arcane shots."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Even more visible in trueshot windows, recommend doing arcane

[2021-01-10 05:48] Hekili commented on #819
Based on the information provided, you would need to provide a sim profile that performs more like you expect with a demonstrated DPS increase.

Otherwise, providing a snapshot where arcane shot was recommended and you thought it shouldn't be might help.

[2021-01-10 05:48] #819 closed, assigned to Hekili

[2021-01-10 10:04] TsunamiFM opened #820 "Very high CPU usage for Balance Druid"
**Describe the Bug/Issue**
Hekili CPU usage for Balance Druid is very high.

**To Reproduce**
Steps to reproduce the behavior:
1. Play Balance Druid.
2. Enable Hekili.
3. Check CPU usage (for example using [Addons Usage](https://www.curseforge.com/wow/addons/addon-usage) addon).

**Expected behavior**
1. Hekili CPU usage not causing game to freeze during intense fights. In big raid groups and mult

[2021-01-10 13:42] Hekili commented on #820
You can use any of the /hekili > Balance > Performance settings you'd like to manage CPU usage.  Also keep in mind, more recommendations = more CPU usage.

The usage shown isn't "60-90%" of your CPU.  It's 60-90% of your total addon CPU usage, in combat, where a lot of combat events are happening, which require a lot of updates.

[2021-01-10 13:42] #820 closed, assigned to Hekili

[2021-01-11 01:14] TsunamiFM commented on #820
@Hekili You've said in issue #339 that you do optimizations for specs that are causing performance issues, and that people should deliver snapshots when it happens - so I did provide detailed report, to make analysis and optimizations easier. You've mentioned Fire Mage was optimized and performance improved a lot after that - Balance Druid is not on the list of supported classes?

[2021-01-11 01:35] Hekili commented on #820
Of course Balance is supported. I explained where to look to reduce CPU usage. The addon uses more CPU in combat than other passive addons that are not crunching dozens of combat related details to make decisions and recommendations.

There are small optimizations that could be made for Balance, but nothing that will be wildly different in performance.

What other answer are you looking for?

[2021-01-11 11:17] j3llevdb opened #821 "Rotation Tweak Unholy DK"
build: v9.0.2-1.0.35-beta2
level: 60 (60)
class: DEATHKNIGHT
spec: unholy

talents: all_will_serve
    army_of_the_damned
    grip_of_the_dead
    soul_reaper
    spell_eater
    unholy_blight
    unholy_pact

pvptalents: none

covenant: necrolord

conduits: eternal_hunger = 5
   insatiable_appetite = 4
   lingering_plague = 5

soulbinds: [plague_deviser_marileth]
   oozs_frictionless_coating = 1

[2021-01-11 12:14] Hekili commented on #821
For this sort of request/recommendation, you'd need to test your request with simulation changes and provide links to the sims that show a DPS boost.

[2021-01-11 12:14] #821 closed, assigned to Hekili

[2021-01-11 18:37] TsunamiFM commented on #820
@Hekili Maybe review of both the algorithm and the implementation would be possible? Or looking at [Lua Performance Tips](https://www.lua.org/gems/sample.pdf) and applying those to most time consuming functions (if it's not done, yet)?

Either way rule 1 should be that any game logic that might block the UI it should be always executed in strict time limit of max 16 milliseconds - to keep game UI

[2021-01-11 18:38] MrDheu opened #822 "MM Hunter Double Tap"
When you are out of combat and is about to start a fight, I would like Double Tap to be placed before Aimed Shot, since you should pre-cast it before your Aimed Shot to land when the fight starts

Now: Aimed Shot - Double Tap - Explosive Shot

After: Double Tap - Aimed Shot - Explosive Shot

[2021-01-11 18:43] Hekili commented on #820
Part of the challenge here is that you lack context that I have.

A *snapshot* taking 50ms is *not* indicative of regular performance -- the workload of pulling debug data for every expression and function multiple times and manipulating the string output is the vast majority of CPU time during a snapshot.  I've tested this thoroughly -- if I have a snapshot run without actually collecting the deb

[2021-01-11 18:45] Hekili commented on #822
For yourself, you can customize your priority to do this.  (Refer to the wiki, here, for guidance re: creating a copy that won't be overwritten when I provide updates.)

If you want this to be a default for the addon, you'd need to provide a comparison sim demonstrating the DPS gain.

[2021-01-11 19:03] TsunamiFM commented on #820
@Hekili I did what I could, that is cut down my queue back to 3 depth, and max 4 updates per seconds - but I still observed UI slowdowns with Hekili enabled in more intense fights.

As a developer I would probably try using dedicated Lua profiler, and/or added unit tests to measure performance of each spec APL in simulation of full raid environment (30 players + 15 enemies close to each other, lik

[2021-01-11 19:04] Hekili commented on #820
Thanks for the feedback.

[2021-01-11 19:45] Maktoal opened #823 "Option "Use Starfall in Single-Target with Stellar Drift" isn't working"
Hello,

iam playing on a german client and version 9.0.2-1.0.35-beta2.

In have opt in the ""Use Starfall in Single-Target with Stellar Drift" but Starfall wont show up the single target rotation list.
Ist there any bug with the option or german client?
Or can I change anythink in the "deeper" options?

Cheers Maktoal

[2021-01-11 19:50] Hekili commented on #823
You will have to provide a snapshot, per the ticket instructions, from when you thought it should recommend Starfall with that option enabled but did not.

[2021-01-11 20:02] Pismochef opened #824 "Unable to remove Dark Command from priority queue as frost"
Maybe I'm just not seeing it on the customization panel, but I am trying to remove dark command as being a cooldown in my frost DK's priority queue

[2021-01-11 20:27] Hekili commented on #824
Dark Command isn't in the priority for Frost by default, and is not a Cooldown ability for Frost at all.

I'm guessing you probably mean Sacrificial Pact, since folks tend to think it is Corpse Explosion and other stuff -- you can remove that as you see fit.

[2021-01-11 20:27] #824 closed, assigned to Hekili

[2021-01-11 20:38] MrDheu commented on #822
Thanks for the fast replay!

Thanks, then I can get that for my self.

But how can I sim on somthing that is out off combat?
Its like a pre-pot that you take a few second before the fight start, by doing Double Tap before the fight start, and line up with your Aimed Shot you get the perfect start.
(Also what Icy veins write)

Love your addon Hekili, it's as close to perfect as it can get!
I have r

[2021-01-11 20:44] Kestrelator opened #825 "Include Word of Glory in Retribution Paladin Rotation"
Please describe your idea or feature and when it would be useful.
Word of Glory is an important self-heal for both Prot and Ret paladins. It shows up correctly in the Prot rotation, but not for Ret. I tried the Ret rotation on a tanking dummy, until it killed me. Word of Glory was not in the rotation or queue.

[2021-01-11 20:53] Hekili commented on #822
Take a look at the sim profile:

https://github.com/simulationcraft/simc/blob/shadowlands/profiles/Tier26/T26_Hunter_Marksmanship.simc

Double Tap is shown before Aimed Shot, but with certain conditions.  But that's how you'd adjust your sim -- modify the APL to reflect the changes you want to see.  If that's not matching your experience with the addon, submit a complete ticket with a snapshot and

[2021-01-11 21:28] Hekili commented on #825
WoG is in the Protection priority because it's a tank spec.

Healing/mitigation isn't part of the Retribution priority because Ret is DPS.

You can refer to the Wiki/FAQ re: making a custom priority that uses Word of Glory.

[2021-01-11 21:28] #825 closed, assigned to Hekili

[2021-01-12 07:04] Aelmott opened #826 "Avenging Wrath checks for Paladins in Torghast"
Since Torghast tend to give you many Anima powers, I've got an irritation from Avenging Wrath.

Many of the Torghast powers will give you free Avenging Wrath at points. Generally when you enter
a new floor. Or with the right combo of other powers the ability to almost extend it indefinitely and
have the cooldown reset before its gone.  This creates the situation of Hekili recommending the use
of A

[2021-01-12 08:56] sanyex89 opened #827 "Brewmaster Keg Smash + Kyrian Weapons of Order"
At the start of the fight hekili says we should use Weapons of Order first and keg smash after that.
But Weapons of Order resets the cooldown of Keg Smash.

So it should be:
Keg Smash -> Weapons of Order -> Keg Smash

instead of:
Weapons of Order -> Keg Smash

[2021-01-12 13:11] Hekili commented on #827
It's important to fill out the entire ticket providing all the requested data.

I've done some sim testing to see if putting KS on CD before WoO is worth delaying WoO by a GCD and so far it's just damage neutral at best, in both Patchwerk and Single Target.

This is an adjustment you could make to your own custom priority, until/unless we find a meaningful DPS gain attached to this.  You might wan

[2021-01-12 13:18] Hekili commented on #826
If this is an issue, then the Avenging Wrath buff in Torghast must already have a different ID than your own Avenging Wrath buff -- otherwise, this is already prevented.

I'd need you to provide a snapshot (see ticket instructions) when you have Avenging Wrath up and the addon is recommending Avenging Wrath, along with the spell ID of the Avenging Wrath buff that you have on yourself.

[2021-01-12 13:46] burock3333 opened #828 "Showing Weapons of Order as a CD"
As a brewmaster monk, I would rather prefer Hekili to show Weapons of Order as a CD than as part of the primary rotation. That skill has 2 min. CD which justifies moving into the CD category. I looked for a way to manually force it to show under CDs but failed to find a way to do so so far.

[2021-01-12 13:52] Hekili commented on #828
No, Weapons of Order is on the Covenants toggle, which allows it to be controlled separately from Cooldowns.

If you check "Cooldowns Override" next to the Covenants toggle, it will be enabled when Cooldowns are enabled (even if Covenants are toggled off).

If you want to do something different, you can change the toggle via /hekili > Abilities > Weapons of Order.

[2021-01-12 13:52] #828 closed, assigned to Hekili

[2021-01-12 14:18] Hekili commented on #823
I've added entries to the BOAT and Dreambinder lists to use Starfall this way, but they're almost certainly not optimal.  The default legendary-free action list was handling this just fine.

[2021-01-12 14:18] #823 closed, assigned to Hekili

[2021-01-13 10:21] endisnear1010 opened #829 "Echoin Reprimand + Slice n Dice. [ROGUE]"
Hekili sometimes tries to spend the Animacharged combopoint produced by echoing reprimand on Slice n dice. The animacharged combopoint only works for damaging finishers.

[2021-01-13 11:06] ghost commented on #829
I can +1 this. Hekili tries to spend the Animacharged combo point on SnD to get a 7 combo point finisher, but it only works on damaging finishers. Not the biggest issue, but would be a great QoL fix regardless :)

[2021-01-13 11:10] ghost commented on #829
![image](https://user-images.githubusercontent.com/59188217/104444615-b2556000-55a0-11eb-9f93-53de7d1cc839.png)

Adding a screenshot for reference.

[2021-01-13 12:26] Hekili commented on #829
Will need a snapshot for this, per ticket instructions.

[2021-01-13 16:44] colin-green opened #830 "Havoc Demon Hunter Unbound Chaos Buff Not Registering"
Havoc Demon Hunter Unbound Chaos Buff Not Registering

**Describe the Bug/Issue**
When playing Havoc Demon Hunter, does not recognize the Unbound Chaos buff or it's Spell ID.

**To Reproduce**
Steps to reproduce the behavior:
- Go to an action list of your choice on Havoc DH
- Make the spell "Fel Rush" (or anything else, really)
- For the condition, type "buff.unbound_chaos.up" or "buff.347462.up"

[2021-01-13 17:28] Hekili commented on #830
FYI, `buff.347462.up` isn't supported syntax at all.  However, the spell ID used for Unbound Chaos was not updated when Unbound Chaos was reworked, so I will be correcting the ID.  The next beta version will include the fix.

[2021-01-13 17:28] #830 closed, assigned to Hekili

[2021-01-13 17:34] colin-green commented on #830
Ok, thanks for the info! Love your addon, btw.

[2021-01-13 17:35] Hekili commented on #826
Please confirm if you'll be adding information to this ticket or if it should be closed.  Thanks.

[2021-01-13 17:36] Hekili commented on #827
Please confirm if you'll be adding information to this ticket or if I should close it.  Thanks.

[2021-01-13 17:36] #822 closed, assigned to Hekili

[2021-01-13 18:34] Aelmott commented on #826
Haven't been back into Torghast in the last couple of days so no chance to collect data/snapshot. By all means go ahead and close it, when/if I get more information I'll go forward from there. I'll do my best to see if the AW granted by Torghast has a different ID number since its is an anima power and not necessarily a player action.

[2021-01-13 22:50] #827 closed, assigned to Hekili

[2021-01-13 23:11] Weirdga opened #831 "In the "Gear and Trinket" section you are missing a very important Trinket for PVP. I want the bot to never use my PVP Trinket. You only have the "Sinful GLADIATOR'S Medallion" listed. I have the Sinful ASPIRANT'S Medallion equipped so the bot always uses my Trinket when I activate CDS which really makes the bot useless in PVP. Pls Help!"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-01-13 23:54] Hekili commented on #831
Aside from the horribly completed ticket, you'll find that the medallions are handled interchangeably. Anything you set for the Aspirant trinket also applies to the Gladiator trinket. If you find otherwise, you're welcome to submit a new ticket following the ticket instructions.

[2021-01-13 23:54] #831 closed, assigned to Hekili

[2021-01-14 09:23] ghost commented on #829
I'll see what I can do about generating a snapshot, since this bug appears at random times, during random encounters which makes it pretty hard to replicate. I'll have to raid and run some dungeons to do further testing.

[2021-01-14 11:40] ShmooDude opened #834 "cooldown.x.remains incorrect value"
**Describe the Bug/Issue**
`cooldown.x.remains` is always reporting the maximum cooldown when used for an ability that is shown in a different display

**To Reproduce**
I have Convoke the Spirits as a cooldown toggle.
The below snapshot was generated with both Tiger's Fury and Convoke the Spirits on cooldown.
The cooldown values are different depending on which display they are in.

**Expected beh

[2021-01-14 13:16] Hekili commented on #834
This is a necessity to allow for toggles at all.  Otherwise, quite often, you'll have abilities toggled off that lead into a feedback loop of prep work for when you'd press the button -- but you're telling the addon never to recommend that button.

A good example would be Unholy and Apocalypse.  If you toggled off Apocalypse or moved it to the CDs display, the Primary display would tell you to bui

[2021-01-14 13:18] Hekili commented on #829
Nothing happens at random times.  You'd likely be able to replicate this issue on a target dummy.

[2021-01-14 16:25] ghost commented on #829
https://pastebin.com/Mms28WDA

[2021-01-14 16:31] ghost commented on #829
In this particular situation - it suggests to apply SnD on the 2nd animacharged combo point, but after using sinister strike, it goes back to the default behavior of suggesting SnD on 6 combo points,

[2021-01-14 16:32] Hekili commented on #829
I need a snapshot where Slice and Dice is recommended when you have the animacharged # of combo points.  The snapshot provided does not do that.

[2021-01-14 17:04] endisnear1010 commented on #829
well his first screenshot certainly does

[2021-01-14 17:07] whoaisjustin commented on #829
Screenshot != snapshot

[2021-01-14 17:09] endisnear1010 commented on #829
here's another one tho
![69833abb348b03dbf6747df3729d7114](https://user-images.githubusercontent.com/77386952/104624199-941c5c80-5693-11eb-950c-501a369776e7.png)

[2021-01-14 17:12] SpatenLa commented on #829
a screenshot is missing many many many informations that are NEEDED to find the issue. That means a screenshot is completely worthless. you need to post a SNAPSHOT when the issue happens so it can be looked after.

[2021-01-14 17:17] endisnear1010 commented on #829
Sorry am new here dont really know the difference between a snapshot and a screenshot. will check it out

[2021-01-14 17:20] Hekili commented on #829
It's in the ticket instructions, as noted in my first response.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue

[2021-01-14 17:28] endisnear1010 commented on #829
i hope this is right  https://pastebin.com/CvHExRP8

[2021-01-14 17:32] JacksonLawrence1 opened #835 "Chaos Theory Refund Prediction"
So as you said in discord the cost refund is entirely predictable and modelled, but with the Chaos Strike legendary it changes the cost refund to 100%, so it doesn't 'predict' a refund and more so knows that it will refund so the prediction is quicker.

Here's an example of what I mean:
![ezgif com-gif-maker](https://user-images.githubusercontent.com/42301022/104626130-6c29fa80-568d-11eb-8ebe-e0b3

[2021-01-14 17:33] Hekili commented on #835
You still have to follow ticket instructions and provide a snapshot.

[2021-01-14 17:46] JacksonLawrence1 commented on #835
https://pastebin.com/WaPCJsZu

I tried to get it at the right point as best as I can, but it is suggesting throw glaive as it's second when it could be suggesting annihilation as next spell.

[2021-01-14 18:04] Hekili commented on #835
The snapshot shows 61 fury, use Annihilation, end up at 41 fury (so the refund is modeled).

The criteria for Annihilation are not for the second item in queue, because Annihilation's criteria is:

[code]

`variable.pooling_for_blade_dance` is:

`variable.blade_dance[true] & ( fury.current[41.00] < 75 - talent.first_blood.enabled[true] * 20 )`

Which equals:

`variable.blade_dance[true] & ( fury.c

[2021-01-14 18:04] #835 closed, assigned to Hekili

[2021-01-14 18:36] JacksonLawrence1 commented on #835
Maybe the snapshot isn't the greatest representation of what I'm trying to convey. I wanted to try and get a snapshot when the fury is a lot higher (but not capped), so it wouldn't have to factor the blade dance pooling (and only the cooldown).

As you said, the recommendation would change when the fury is higher, but I don't understand why the addon can't model the extra fury generated from the c

[2021-01-14 18:42] Hekili commented on #835
It does.  That's what I've explained.  The refund did occur, it is accounted for in a predictive sense.

This can also be addressed, it's really an artifact of how abilities are processed as a batch from the server and client.  You're right that you can get a recommendation update between several events (1) cast success (2) resources spent (3) damage done (4) refund procced.  I *can* potentially s

[2021-01-14 18:47] Deaddraw commented on #182
Helle Hekili,

thanks for your great addon! Im using it with DK in shadowlands. I just wanted to know, if its possible to put Death Strike in my Rotation as DPS DK in the defensive section, if the conditions <75% AND Dark Succor up are met.

The Problem is: If i do it the way you wrote above, it just doesnt work. So here what i did, i wrote the following in the conditions window right under the en

[2021-01-14 18:49] JacksonLawrence1 commented on #835
Thank you, I understand what you mean now about how it's modelling the fury.

Well, I don't want to push you to do something if you don't think it's worth it, though if you ever feel like it, I would really love to test it out and see how it performs in comparison. The slight adjustment in reacting time might make such a small difference it wouldn't even matter, but would love to try it out.

Than

[2021-01-14 18:50] Hekili commented on #182
Yes, `criteria:` doesn't go in the box.

If you don't actually have Dark Succor up, it will not show.  If you have Dark Succor up and it still says `false`, show me the spell ID of your Dark Succor buff.

And don't use a really old, closed ticket for this.  :)

[2021-01-14 19:31] ShmooDude commented on #834
`cooldown.X.true_remains` will do what I need for now.  Thanks for that.

I know back when I was using Ovale, it would only display something in the cooldown icon if it were next in the priority list by checking to make sure all the abilities above it in the priority list were not shown.  I guess Hekili just flat out ignores abilities that aren't in its current display.  It had been very CPU inten

[2021-01-14 19:42] Hekili commented on #834
So, a couple of ideas worth testing:

1. What if the feigned CD logic only applied to Primary / AOE?

This would mean your CDs display would use real cooldown times; your primary display would not.

2. What if the ancillary (CDs, Interrupts, Defensives) displays were populated all at once rather than in their own separate set of predictions?

This would also mean that abilities popped off into sep

[2021-01-14 19:45] Hekili commented on #834
If you want to test the first point, instead of using `true_remains` edit State.lua:2635 as follows...

[code]

If you test it, let me know how you feel about the effect on recommendations in the CD display and the Primary display.

[2021-01-14 23:31] RickyDudio opened #836 "Keybind Toggle On/Off For Recommending Target Swaps"
I think it could be really useful to be able to keybind a toggle On/Off Button for Recommending Target Swaps. on some fights there are times where I don't wanna target swap to something for example the adds on barghast and it would be a big QoL Change to be able to key bind it off in certain situations.

[2021-01-15 00:09] Siestasam opened #837 "Epidemic being suggested while using Deadliest Coil at 3 or less targets. (Unholy DK)"
**Expected behavior**
According to sims and testing, while the Deadliest Coil legendary is equipped it is best to use Death Coil at 3 or less targets even outside of Dark Transformation because of the CDR it provides. However, the addon is suggesting Epidemic inside and outside of the Dark Transformation duration.

 
**PUT SNAPSHOT LINK HERE:**

[Epidemic Issue Hekili.txt](https://github.com/Hekil

[2021-01-15 00:48] Hekili commented on #837
This is the Epidemic entry whose criteria passed.

[code]

You have no Festering Wounds up and you're not pooling for gargoyle, so those criteria are met.

The Death Coil entry that didn't pass (checked before the Epidemic entry):

[code]

You're not in Dark Transformation, so even though you have Deadliest Coil and there are 3 or fewer enemies, the criteria for Death Coil wasn't met.

That appear

[2021-01-15 01:44] Siestasam commented on #837
![image](https://user-images.githubusercontent.com/77469380/104669744-aead0080-56a8-11eb-81ed-e322cd5d096d.png)

Hello thank you for the quick response, above is a screenshot of epidemic being recommended over DC while DT is up and wounds are on the target.

and here is a snapshot of the same thing:
[Epidemic Issue 2.txt](https://github.com/Hekili/hekili/files/5817893/Epidemic.Issue.2.txt)

[2021-01-15 02:16] Hekili commented on #837
Are you able to see spell IDs in your UI?

I'd like to check the spell ID for Dark Transformation (the ability) in your spellbook and the spell ID for Dark Transformation (the aura) applied to your ghoul.

Are you using any glyphs that impact your Ghoul?

[2021-01-15 02:36] Hekili commented on #837
I went ahead and tested the ghoul glyphs and they didn't seem to matter.  My Dark Transformation detection was based on when you cast Dark Transformation, which wouldn't pair well with effects that extend Dark Transformation.  Please try v9.0.2-1.0.36-beta2 (see Releases section) and see if you still have an issue.

[2021-01-15 02:51] Hekili commented on #836
It's not a bad idea, but having something take up a keybind is something of a big deal.  I might make it something you can swap with `/hek set` but it's not a priority at the moment.

[2021-01-15 03:23] Siestasam commented on #837
Thanks! I will check that version out. However, the issue does not seem limited to just the DT window. According to the DK class discord current consensus, even outside of DT being active, it is better to use DC on 3 or less targets simply because the cooldown reduction DC provides is better than the damage Epidemic does **if you have the Deadliest Coil legendary.** I don't believe the mod is acco

[2021-01-15 03:31] Hekili commented on #837
If they feel strongly about it, they'll update the sim profile to demonstrate that behavior.

Edit:  They do have some APL revisions that I'll deal with this weekend.  I see they've changed added `| active_enemies = 2` to the end of the conditions for Death Coil in all the aoe lists (`generic_aoe`, `aoe_setup`, and `aoe_burst`).  You could do the same if you don't want to wait.

[2021-01-15 09:48] MrSmurfy commented on #829
I was looking into this from a code point of view and after discussing with Hekili we concluded that if the Slice n Dice logic is to be changed then it would actually end up in DPS loss.

Sims ran by Hekili;

HecticAddCleave
![HecticAddCleave](https://user-images.githubusercontent.com/11522121/104708877-8a8c0680-571e-11eb-8177-f53235a0992c.png)

DungeonSlice
![DungeonSlice](https://user-images.git

[2021-01-15 09:59] endisnear1010 commented on #829
I'm not sure that I understand that. Because the animacharged point doesn't
do anything for snd. After using snd on a anima charged Combopoint you
still have that animacharged Combopoint and snd for 12 sec or whatever this
is on 2 cp. So are you saying that it's right to click snd when having 2cp.
Or are you saying you can't change it for some reason?

MrSmurfy <notifications@github.com> schrieb a

[2021-01-15 10:28] MrSmurfy commented on #829
It should only be changed if it actually increases our DPS, which it doesn't as the sims show.

[2021-01-15 10:32] ghost commented on #829
That was honestly unexpected. :P

[2021-01-15 10:33] aquos757 commented on #829
listen im not trying to be rude or anything, but either i totally dont understand what you simmed there or you guys dont understand ( its prolly me i know) but hekili would never recommend using snd on 2cp, it only does that when its animacharged which doesnt change anything so please help me understand

[2021-01-15 11:03] MrSmurfy commented on #829
@aquos757 I noticed your last post you deleted and can understand that it may be confusing somewhat.

We simmed using the simulationcraft APL, (the one the addon uses), and a version with Slice n Dice not being used whilst animacharged.

The sim shows that it doesn't matter that you don't get the 7 CP duration, you'll still end up with better DPS in all cases. Hope that explains it better.