[2021-04-04 14:13] Hekili commented on #1040
Update to the beta.

[2021-04-04 14:13] #1040 closed, assigned to Hekili

[2021-04-04 14:18] khmcfarland commented on #1040
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.5-1.0.5
level: 60 (60)
class: WARLOCK
spec: affliction

talents: burning_rush
    dark_soul_misery
    darkfury
    drain_soul
    haunt
    phantom_singularity
    siphon_life

pvptalents: none

covenant: night_fae

conduits: accrued_vitality = 1
   shade_of_terror = 1
   soul_eater = 1

soulbinds: [niya]
   grove_invigoration

[2021-04-04 14:24] khmcfarland commented on #1040
Updated to new beta after reading. All set now! TY

[2021-04-04 14:25] Hekili commented on #1040
Thank you!

[2021-04-04 14:53] jacii9467 commented on #1036
Working as expected with beta1. Thank you for quick response.

[2021-04-04 15:30] Rafa28062013 opened #1041 "Unholy Death Knight Soul Reaper"
Hello:) The Problem is that Hekili often didnt say when i have to use Soul reaper. the Target is shortly at 35% or he is at 35% and Hekili didnt tell me that i have to use Soul Reaper.

1.  The information from the Issue Reporting tab ( /hekili > Issue Reporting ).  This provides your talent and gear information.  You can paste it to pastebin.com and provide a link here.

**PUT ISSUE REPORT LINK H

[2021-04-04 16:05] Hekili commented on #1041
The criteria for Soul Reaper is not that the target is sub-35%.  It's that the target will be sub-35% within 5 seconds and not die before 5 seconds is up.  That way, you actually get the explosion from Soul Reaper.

[2021-04-04 16:05] #1041 closed, assigned to Hekili

[2021-04-04 17:49] Dante44 opened #1042 "wrong"
Every time i use the addon with a Fire Mage spec there is a big Fps drops during cast i only see that on Fire mage and on raid with a lot of people around me

[2021-04-04 17:49] #1042 closed, assigned to nobody

[2021-04-04 17:50] Dante44 commented on #1042
Sorry for the report!!

[2021-04-04 20:31] Daugger opened #1043 "Affliction Recommendations are showing corruption spam"
**Describe the Bug/Issue**
Visually showing Corruption spam on single target instead of Malefic Rapture

**To Reproduce**
I am performing normal dps rotation and the icons are showing everything normal until i get to the point where i am to spam Malefic Rapture. At that point the addon is visually only showing corruption spam instead of Malefic Rapture spam. The addon is also not recommending any

[2021-04-04 20:33] Hekili commented on #1043
Update to the beta version.

[2021-04-04 20:33] #1043 closed, assigned to Hekili

[2021-04-04 21:40] Hekili commented on #1036
Thanks!

[2021-04-04 21:40] #1036 closed, assigned to nobody

[2021-04-05 02:03] dariogentiletti opened #1044 "Sinister Strike instead of Serrated Bone Spike in AoE for Rogue Outlaw"
For outlaw necro rogue in 2+ targets, Hekili does not suggest to use Serrated Bone Spike on the targets which do not have the DoT. Instead, it just suggests to use Sinister Strike. I believe APL suggests to cast SBS as soon as possible to the targets in cleave if it does not overcap CPs.

**PUT SNAPSHOT LINK HERE:**  https://pastebin.com/ciQgrxST

[2021-04-05 09:17] Lozza290177 opened #1045 "Beast Mastery hunter - primal rage"
hi, i'm sure it is a user issue but i cannot get primal rage to feature in my rotation. my configuration data is below....what am i doing wrong please?

build: v9.0.5-1.0.4
level: 53 (53)
class: HUNTER
spec: beast_mastery

talents: animal_companion
    aspect_of_the_beast
    natural_mending
    posthaste
    scent_of_blood
    stomp
    thrill_of_the_hunt

pvptalents: none

covenant: night_fae

c

[2021-04-05 11:54] Matrichniy opened #1046 "FPS in combat drops after update"
Hello. I really like your addon, but after the last update, fps in combat began to fall by 20-30.
I tried to reduce the display of icons from 3 to 1, it helped a little. But before this was not, I would like to understand the problem, here is all the necessary data for this:

Issue Report:
https://pastebin.com/V9ZVuxU3

Snapshot:
https://pastebin.com/6jvd1K9a

CPU: AMD Ryzen 2700x
GPU: GTX 1080 Ti

[2021-04-05 12:10] Hekili commented on #1046
What was the last version that didn't have issues for you?  What was the version that this started to happen?  I need actual version numbers and snapshots from both, taken when you would have the reported issue.

[2021-04-05 12:23] Hekili commented on #1046
Also, was that snapshot taken when you were actually experiencing a slowdown?  Nothing looks particularly bad about it.  Snapshots need to be taken when the problem is occurring, if they are to be useful.

[2021-04-05 12:25] Matrichniy commented on #1046
I put it a little wrong. Until the last update, I played on the warrior and on rogue - there were no problems in the warrior (there are no problems now), but there are fps drops when switching to rogue.
I initially thought that the problem was in the update, but as it turned out, after reading a few topics here - the problem is not the update, but in the class.

[2021-04-05 12:34] Matrichniy commented on #1046
Oops. Sorry.
Here is a snapshot of fps drops:
https://pastebin.com/iDaey74p

and screenshots of fps drops:
combat
![image_2021-04-05_15-29-54](https://user-images.githubusercontent.com/81965982/113574224-568cf700-9624-11eb-8b90-666510ecc622.png)

no combat
![image_2021-04-05_15-30-01](https://user-images.githubusercontent.com/81965982/113574261-63114f80-9624-11eb-9a4a-075501cff48e.png)

[2021-04-05 12:59] p4nchez commented on #1045
you have to add it yourself under Priorities> Action List

then you will see the primal rage icon
![2021-04-05_14-57-53](https://user-images.githubusercontent.com/29162840/113576626-30fdee80-9620-11eb-8393-c15ceabcf845.png)

[2021-04-05 13:20] Hekili commented on #1045
I strongly recommend that you don't do this, but you can -- as panchez noted.  It's also detailed in the FAQ, in terms of how to add something to your priority list.

https://github.com/Hekili/hekili/wiki/Frequently-Asked-Questions#how-do-i-make-the-addon-recommend-________

Primal Rage is situational for every fight...  It's not a use-on-CD kinda deal.  Bloodlust is omitted by default because pop

[2021-04-05 13:20] #1045 closed, assigned to nobody

[2021-04-05 22:11] PabSaez opened #1047 "No global cooldown animation"
Hello,

I installed the addon and I cannot display the animation of the GCD (rotation as in the action bars) or even a timer informing me of the GCD (directly on the spells displayed by Hekili) , I saw in some videos that it was possible but I can not find anything about it on internet so I come to seek help here.

Thank you

[2021-04-05 22:50] Smudgiee commented on #1047
Are you running Masque? That addon has the ability to remove GCD swirl, maybe that could be the issue? If that is what you're talking about I assume, the GCD swirl

[2021-04-05 23:47] Hekili commented on #1047
Masque would be the most likely culprit.

[2021-04-06 18:27] PabSaez commented on #1047
Yes my problem was Masque, thank you :D

[2021-04-06 18:28] #1047 closed, assigned to Hekili

[2021-04-06 20:29] mati3464 opened #1048 "Recklessness disappearing 1 box before recommendation (Loop)"
**BEFORE SUBMITTING AN ISSUE:**

**Describe the Bug/Issue**
While recommendation going on, Recklessness cooldown disappear before recommendation. I saw this today but as i remember good in previous version addon this never happened. https://www.youtube.com/watch?v=1frvlj5g_HE , recommendations are in left top corner video. I turned on Cooldowns durning recommendations and while Recklessness should

[2021-04-06 21:28] Hekili commented on #1048
Recklessness with signet is used off-GCD.  If you have Sync with Global Cooldown enabled, that'll pose a problem.  I'll probably revise it.

[2021-04-06 23:31] Squeeeps commented on #1046
I've actually been experiencing this same problem on multiple characters, it started about 2 updates ago (that includes the one from 2 days ago).  As soon as combat is entered FPS drops to between 25-30 (lowest it has dipped was 15 FPS while in Raid Finder).  I've had to disable it across my account as it's simply unusable.  So far this has affected my Druid, Mage, Shaman, Paladin, Rogue and Hunte

[2021-04-07 00:00] Hekili commented on #1046
You'd still need to supply the same information required for any ticket, @Squeeeps.

[2021-04-07 00:26] Hekili commented on #1046
If you are having this issue, please provide the following information, together, **after** a fight that is at least 60 seconds long.

`/dump HekiliDisplayPrimary.combatTime`
`/dump HekiliDisplayPrimary.combatUpdates`

[2021-04-07 08:34] Matrichniy commented on #1046
![D](https://user-images.githubusercontent.com/81965982/113835998-2a44b800-9795-11eb-9586-e7078b4d65d3.PNG)
![D2](https://user-images.githubusercontent.com/81965982/113836002-2add4e80-9795-11eb-8dbc-8aa2a6f1bbe5.PNG)

[2021-04-07 08:43] Matrichniy commented on #1046
here's a bigger fight
![D](https://user-images.githubusercontent.com/81965982/113837448-86f4a280-9796-11eb-88b0-2f74ba5d5c92.PNG)
![D2](https://user-images.githubusercontent.com/81965982/113837452-878d3900-9796-11eb-9290-df80e175fa84.PNG)

[2021-04-07 12:52] FullSol opened #1049 "Warrior Down Time"
**BEFORE SUBMITTING AN ISSUE:**

1.  Version: 9.0.5-1.0.6

2.  Didn't see one for Devastate., I see the one for Revenge which I also don't see a lot of usage on.

**Describe the Bug/Issue**
It appears that Devastate (and revenge) are not properly being suggested and it is causing dead time in the rotation.

**To Reproduce**
Normal usage with defenses/cooldown on or off

**Expected behavior**
Don't

[2021-04-07 13:08] Hekili commented on #1049
The sim profile will not use Devastate in AOE situations.  Have you done any sim testing to see if it's better DPS or mitigation to allow it?

The culprit is:
`actions+=/run_action_list,name=aoe,if=spell_targets.thunder_clap>=3`

If there are 3+ targets, it will always run the AOE action list (and stop at the end) which will cause it not to reach the default `generic` list.

[2021-04-07 15:03] FullSol commented on #1049
With that in mind I did some pulls and that is exactly what is happening. Devastate always shows with a single target and in aoe it vanishes.

Thanks

[2021-04-07 17:01] toddctc76 commented on #1046
I'm just leaving a comment as I've put in a bug report before on the FPS drops when in combat as subtlety rogue.  I am still seeing this in sub and assassination rogue (outlaw okay for now) and am now seeing in unholy DK and balance druid.  For the rogue, been ongoing for several versions.  Not sure when it started for unholy DK.  For balance druid, I have not played in a while, but noticed today

[2021-04-07 17:29] Hekili commented on #1046
@toddctc76 I will still need snapshots and the other information requested above for each spec you're experiencing this on.  Thanks!

[2021-04-07 18:36] toddctc76 commented on #1046
Hi.  Here are the screen shots and dumps.  I did them for assassination and subtlety rogue as well as destruction warlock.  I know I mentioned balance and unholy before, but am less concerned about those.  I know proximity to target  can also have an affect on frames.
![subtlety rogue dumps](https://user-images.githubusercontent.com/80970815/113916849-1a819f80-97a6-11eb-96cd-576a40421f48.png)
![as

[2021-04-07 18:36] Hekili commented on #1046
@toddctc76 Snapshots, not screenshots.  But thanks for the other details.

[2021-04-07 18:38] toddctc76 commented on #1046
Oh shoot, sorry!  Is this what you mean?  This is the sub rogue one.

build: v9.0.5-1.0.6
level: 60 (60)
class: ROGUE
spec: subtlety

talents: deeper_stratagem
    elusiveness
    enveloping_shadows
    premeditation
    prey_on_the_weak
    secret_technique
    shadow_focus

pvptalents: none

covenant: venthyr

conduits: deeper_daggers = 5
   fade_to_nothing = 4
   planned_execution = 5
   recupe

[2021-04-07 18:39] Hekili commented on #1046
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2021-04-07 18:58] toddctc76 commented on #1046
Hi, okay I think I got it.  Here is the sub rogue one https://pastebin.com/rHEEywuC
and the destruction lock one https://pastebin.com/Zr5PcfBf

Thanks for your patience!

[2021-04-07 19:05] Hekili commented on #1046
Just to confirm, those two snapshots were taken *at the time you felt performance was degraded, using the addon*?  The sub rogue one has full energy and no combo points, which makes me think it's out of combat.  Weren't you reporting that FPS goes down in combat?

[2021-04-07 19:37] toddctc76 commented on #1046
Here is another one.  I did the previous one thinking the snapshot would collect data as I was in combat; therefore I started it before entering combat.  Now I know that is not the case.  This one was taken while in combat.  https://pastebin.com/4cWhFRqU

[2021-04-07 20:15] ijoihlhnn commented on #1046
Here is the Snapshot and combatTime//combatUpdates dump.

/dump HekiliDisplayPrimary.combatTime ->> https://i.imgur.com/jx1fHee.png
/dump HekiliDisplayPrimary.combatUpdates ->> https://i.imgur.com/aBOPaRM.png

-------------------------------------------------------
AOE Window Snapshot: https://pastebin.com/QfMb2JB8
Primary Window Snapshot: https://pastebin.com/uuR0VrJn

[2021-04-07 23:34] Karalum commented on #1046
i can confirm, just come here to tell you this problem but i saw someone open this thread. game is stuttering in combat. im dk. also using ryzen cpu 3600X. if i disable addon, everything goes perfect.

[2021-04-07 23:50] Hekili commented on #1046
The other information that would help for troubleshooting purposes is if folks could help pin down exactly which version of the addon represents when the performance decrease started.  I'd do it myself except...I don't get any performance decrease.  :|

[2021-04-08 00:27] toddctc76 commented on #1046
Tomorrow I will go back through old versions and see if I can find the last one that didn’t cause it.  Seems like it started happening a few months ago.  I will start further back, however.  I also have a Ryzen 5 1600x CPU.

[2021-04-08 01:19] LucianDK opened #1050 "Possible Havoc rotation improvement with Eye Beam and Blind Fury"
Would it be possible for the addon to be more mindful of when it recommends casting Eye Beam? I use the Blind Fury talent, and Ive seen the addon recommend Eye Beam even at nearly full on Fury and would thusly waste the massive Fury income.

Eye Beam costs 30 Fury to cast, and generates 40 Fury per second with Blind Fury.

[2021-04-08 01:27] LucianDK commented on #1050
On the other hand it might conflict with the Darkglare Medallion power, which have a 40% chance to make eye beam not go on cd, and refunding the cst.

[2021-04-08 02:01] Hekili commented on #1050
You need to start simming your suggestions.  You can test these theories.  In a lot of cases, while it seems wasteful to overcap resources, letting an ability sit off cooldown is often the worse solution.

[2021-04-08 07:57] Matrichniy commented on #1046
I can assume that the point is to optimize the addon for Ryzen CPU's

[2021-04-08 08:15] Lipstopica commented on #1046
I honestly don't think it works like that, doesn't matter what brand of CPU that you use. I mean, it wouldn't make sense.

[2021-04-08 11:22] Matrichniy commented on #1046
But the performance problems are mostly with the owners of Ryzen, if you look at the reviews and open topics.

[2021-04-08 12:51] Hekili commented on #1046
There's literally nothing I can do within WoW itself to deal with CPU architecture at all.  But it's definitely interesting that Ryzen seems to be a common factor here.  I think I have a Ryzen box somewhere I can do some testing with.  Are folks experiencing issues using DX11 or DX12?

I still need to pin down if there's really one version that works fine and then the next version that slows down.

[2021-04-08 12:56] Hekili commented on #1049
A quick sim test suggests falling back to the single-target priority (without Devastator talented) will do more DPS/mitigation/etc.  I'll make a change in the addon as well.

https://www.raidbots.com/simbot/report/vXVipKmj9xaSTJrVxZj66A

[2021-04-08 15:03] toddctc76 commented on #1046
I tested a handful as far back as I could go and still had FPS issues.  Here are the versions I tried.
feb 13 v9.0.2-1.0.40
feb 14 v9.0.2-1.0.40a
mar 10 v9.0.5-1.0

I've been using DX12.  I just tried DX11 and noticed my overall FPS was up.  Using my sub rogue in combat against a training dummy with DX11 and the issues still were there and using the latest version of Hekili.

I understand that Ryz

[2021-04-08 15:04] toddctc76 commented on #1046
If you have some older ones that are not available on the site, I am willing to try.  I would like to try back at the beginning of Shadowlands.  I don't remember having issues then or during BFA.

[2021-04-08 15:10] Hekili commented on #1046
Every version ever released is right here on GitHub.

[2021-04-08 17:42] toddctc76 commented on #1046
I don't know if anyone else has tried any of the older versions yet, but I tried the following with DX12:
Oct 31, v9.0.1-1.0.18 - FPS drops by 20 to 30, game stuttering.
Nov 6, v9.0.1-1.0.24 - same as above
Nov 17, v9.0.2-1.0.0 - same as above. Tried with DX11 on this one and slightly better.
Nov 23, v9.0.2-1.0.4 - same as above.
Dec 6, v9.0.2-1.0.16 - same as above.
Tried the latest version (just

[2021-04-08 18:49] Matrichniy commented on #1046
DX12 > DX11 drops equally for me and my Ryzen 2700x

[2021-04-08 19:28] Hekili commented on #1046
@toddctc76 Thanks for the research and the support.  I'm going to have to try some gimmicky stuff to work around, I think it's just the WoW doesn't multithread well on Ryzen.  I may be able to split the work of generating recommendations across multiple frames.  Maybe.

[2021-04-10 07:46] mati3464 commented on #1049
About the revenge, main problem is that in .lua file there is one line:
line 736 "if toggle.defensives and buff.ignore_pain.down then return false, "don't spend on revenge if ignore_pain is down" end"

So in situation were you tanking with no dmg incoming that will trigger ignore pain, example trees tanking or other tank already tanking boss, hekili will not recommend use revenge even with 100 rag

[2021-04-10 20:58] lespaul678 opened #1053 "Windfury Totem"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

v.9.0.5 1.0.6zip  APL 20210410.1649

The addon is recommending that I put down Windfury Totem even when it's already down.  Sometimes when I put it down multiple times, it still doesn't see it being us

[2021-04-10 21:09] Hekili commented on #1053
You'll need to follow the ticket instructions and include a snapshot where Windfury Totem is recommended but shouldn't be.

Keep in mind, you're using the Doom Winds legendary which is triggered by using Windfury Totem.

[2021-04-10 21:25] lespaul678 commented on #1053
![image](https://user-images.githubusercontent.com/46252402/114284967-93d8f680-9a21-11eb-8ade-c8a0d39d07e5.png)

[2021-04-10 21:38] Hekili commented on #1053
Not a screenshot.

2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.

[2021-04-11 13:17] toddctc76 commented on #1046
I ran wow with Hekili on an intel core i5 laptop and had no issues with FPS drops or stuttering.  Not sure this will make a difference, but this week I will try disabling cores on my ryzen pc and see what happens.  Probably nothing, but worth a shot.

[2021-04-11 14:33] DavidIFWS423A commented on #1046
i created an account to report the same issues:

On FireMage, i have HEAVY drops on HEKILI but this is due to the fire mage spec.
On  MM hunter, i have none to very low drops - like 20 from 120 to 100ish
On Boomie my fps drops to like 70 at all - probably like fire mage

since about one week its dropping way harder on every char. im using an 9700k at 5ghz

[2021-04-11 14:38] Hekili commented on #1046
@pirotess66 Boomkin is fairly complex as well, so having more usage isn't surprising.  If it's worsened on every character, what I'd need to hear from you is:

What is the last version of the addon that doesn't have this issue for you?  What is the first version that starts to have this performance impact for you?

[2021-04-11 14:55] DavidIFWS423A commented on #1046
@Hekili
yea i thought boomie rotation will use much more then MM for example,im fine with that at all.

i think it happened since the last update. on  v9.0.5-1.0.5 i hadnt that performance issues.

im rolling back on the previous version.

Do you have any solutions for boomie ? On Balance -> performance there are some options like throttle updates or something but i dont have any clue what to do t

[2021-04-11 15:23] Hekili commented on #1046
No, no real recommendations regarding different settings.

If you provide more information, it really has to be specific and confirmed.  That is, not that you think it happened with a particular version, rather that you are using version A and seeing X FPS, but when you switch to version B you see Y FPS.

[2021-04-11 16:08] DavidIFWS423A commented on #1046
ive changed nothing at all, just can tell that the fps drops on all chars that are using hekili were harder since about 5-7 days.

[2021-04-11 16:10] Hekili commented on #1046
Okay, someone else will have to help provide version numbers then.

[2021-04-11 18:59] DavidIFWS423A commented on #1046
what version number do you want from me? i posted to you that with version v9.0.5-1.0.5 EVERYTHING was fine.

AFTER v9.0.5-1.0.6 i have harder framedrops then usual

isnt this enough info for you? i mean several people are reporting issues here for the last 5-6 days. and the addon was updated 7 days ago. idk what u want me to provide you

[2021-04-11 19:26] Hekili commented on #1046
Hey, I don't want anything from you that you're going to get upset about.  Thanks.  I'll continue to research on my own.  Take care.

[2021-04-11 19:49] DavidIFWS423A commented on #1046
no i want to help you fix the problems. i mean ive used ur addon for quite a time and i want to provide any informations u need to make it better in any case

[2021-04-11 21:06] SlipsknuteN97 commented on #1046
Hey I have huge FPS and lag issues with this addon. I have the latest updates aswell.
AMD Ryzen 7 1700
Corsair Vengence 16GB RAM
GTX 1070

EDIT: I bought a new GPU (RTX 3060) becouse I thought it was my GPU giving up on me but I had same issues on the 3060. I had this problem for around 4 weeks.

[2021-04-11 21:27] Hekili commented on #1046
@SlipsknuteN97 If you look back in the thread, I'd ask you to try different versions of the addon and let me know if/when there's a previous version that works better.  Ideally with FPS numbers and the other regular ticket information (i.e., a snapshot taken in combat, read the instructions re: snapshots).

[2021-04-11 22:48] lespaul678 commented on #1053
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.5-1.0.6
level: 60 (60)
class: SHAMAN
spec: enhancement

talents: ascendance
    forceful_winds
    hailstorm
    natures_guardian
    static_charge
    stormflurry
    sundering

pvptalents: none

covenant: venthyr

conduits: refreshing_waters = 4
   thunderous_paws = 4
   unruly_winds = 4

soulbinds: [nadjia_the_mistblade]

[2021-04-11 23:00] #1053 closed, assigned to Hekili

[2021-04-12 07:51] Matrichniy commented on #1046
after practicing on the mannequin, I can say that there are no special fps drops on warrior, but as soon as I switch to rogue, the fps drops to 30-40

[2021-04-12 09:28] pirotess66 commented on #1046
And he says to me that it has to be a personal Problem. Its pretty obvious Right now that there is something wrong/ consuming more cpu than usual since the new update from the 04th april.

[2021-04-12 12:12] Hekili commented on #1046
@pirotess66 I absolutely didn't say it's a personal problem. Please don't make things up. I said I can't replicate it, myself, which is why I ask for data to help sort it out. If you aren't contributing specific measurable data that can help diagnose or solve the issue, please don't post again. Thanks.

[2021-04-12 12:15] Hekili commented on #1046
@Matrichniy Which rogue spec(s)? They're all different. If you go back to an older version, at what point does the issue go away?

[2021-04-12 12:44] pirotess66 commented on #1046
xd if you dont want any help, just dont wonder yourself if your addon is losing more and more people due to heavy performance problems. first time for 2 years now where i uninstall it instead of disabling it and waiting for some fixes.

[2021-04-12 15:28] F074 opened #1055 "Enable/Disable Toggle bind"
Hey.

I think it would be great if I had a bind to toggle the general tab "enable" checkmark in stead of going into the option everytime. I tend to enable/disable the addon a lot depending on what I'm doing.

Thanks.

[2021-04-12 15:32] Hekili commented on #1055
Is the ability to macro this sufficient?

`/hekili disable` and `/hekili enable` should work, and you could put those in macros if you wanted.

[2021-04-12 16:04] SlipsknuteN97 commented on #1046
@Hekili Hey thanks for the response. Not really sure how I can do that but I will try to research that. I love this addon, totally amazing so I hope I will be able to fix it. Amazing work.

[2021-04-12 16:10] F074 commented on #1055
Yeah that works.

[2021-04-12 18:51] geraint425 opened #1056 "[Unholy] Outbreak on new adds relies on Recommend Target Swaps"
**BEFORE SUBMITTING AN ISSUE:**

1.  build: v9.0.5-1.0.6

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
I click FS-FS-Apoc-UH-Trinket-Spawn adds-epidemic
- See error

**Expected behavior**
I click FS-FS-A

[2021-04-12 18:59] Hekili commented on #1056
You didn't have a rune to Outbreak, but you could Epidemic.

[2021-04-12 20:21] geraint425 opened #1057 "Epidemic bug Unholy"
Dear developer, you are generally wrong. This bug is clearly visible on the Sire Denathrius boss where many additional targets appear. In the first phase, when it appears there is UH, but for the rest I already check many, many times, and I see that I have runes for an outbreak, but the addon wants to first press an epidemic a bunch of times and only after that it presses outbreak. I ask you to ch

[2021-04-12 20:24] Hekili commented on #1057
You can still respond in the other thread, even with it closed.  You are welcome to provide another snapshot that shows what you're describing, but the reason why Epidemic was recommended in your snapshot was because you had no runes to use Outbreak.

If you have an example of it not using Outbreak, while you have runes, and there are multiple targets that need Plague, then provide that.

That kin

[2021-04-12 20:24] #1057 closed, assigned to Hekili

[2021-04-12 20:32] geraint425 commented on #1057
Well, here's a screenshot I attach with what is happening, there is a buff on the main target, there is no on others, and the addon suggests using an epidemic, not an outbreak. https://imgur.com/a/ts4Lqp0
and here's another bug with what the addon suggests to use. https://pastebin.com/yS7e2vtu

[2021-04-12 20:33] geraint425 commented on #1056
Well, here's a screenshot I attach with what is happening, there is a buff on the main target, there is no on others, and the addon suggests using an epidemic, not an outbreak. https://imgur.com/a/ts4Lqp0
and here's another bug with what the addon suggests to use. https://pastebin.com/yS7e2vtu

[2021-04-12 20:35] Hekili commented on #1056
This snapshot helps, since you have runes but it didn't recommend Outbreak.  The reason is that I adopted the logic that SimC uses, which relies on Recommend Target Swaps enabled, and you have that turned off.

I think I'd rather have this work without suggesting that you swap targets, so I'll put back in a workaround for it.

[2021-04-13 20:34] Dajova commented on #1046
I can chip in here and can confirm that Hekili is indeed making a huge fps spike on certain class/specs. Here's the actual CPU usage after 1 fight with 2 mobs on my Fire Mage (literally just 10 sec, does not happen in Arcane Spec):
![image](https://i.imgur.com/WIjyWS9.png)
[GIF](https://dl.dropboxusercontent.com/s/xd8o64i4x6u19ms/2021-04-13_22-35-39.gif)

[2021-04-13 20:45] Hekili commented on #1046
@Dajova Fire Mage doesn't count, because the Fire APL is ridiculous.  For the record, and to avoid any confusion, I'm not debating that the addon uses CPU (and more than most).  Folks are reporting that CPU usage has increased recently, but I'm struggling to get responses that indicate **when** an increase has occurred vs. a previous version.

[2021-04-14 01:26] Hekili commented on #1056
This will be in the next release.

[2021-04-14 01:26] #1056 closed, assigned to Hekili

[2021-04-14 01:30] Hekili commented on #1049
For Revenge, I'm loosening up the condition you noted so it only applies if you've taken a significant (10% max health) amount of damage in the past 5 seconds.  So if you're off-tanking or not getting hit at all, Revenge will be available even with Ignore Pain down.

I'll also have that APL change included in the next release.

[2021-04-14 01:30] #1049 closed, assigned to Hekili

[2021-04-14 02:37] Hekili commented on #1046
1.0.7-beta1 will be available in a little bit.  I've found that, while Fire Mage's computation time was high, it was also refreshing more often than is necessary for accuracy.  I'll be interested to hear if any difference is noted in performance.

[2021-04-14 13:51] F074 opened #1058 "Fire Mage Trinket Usage."
Hey Hekili.

I know you hate hearing about fire mage problems, but this one I think seems like a much more minor issue.

Anyway, I use the trinkets Soul Infuser and Gladiator's Badge of Ferocity. Two on use trinkets( I'm sure you're well aware).
After the opener trinket usage seems fine and normal. The rotation will hold the badge for combust and use soul igniter somewhere after the internal CD co

[2021-04-14 13:54] Hekili commented on #1058
Can you post snapshots from the times you're concerned about?  Show me the Soul Infuser recommendation from before entering combat.

[2021-04-14 13:58] F074 commented on #1058
Here:  https://pastebin.com/ARUkDL1u

[2021-04-14 14:15] Hekili commented on #1058
Can you try v9.0.5-1.0.7-beta2 when it's available and let me know if it looks better?

[2021-04-14 14:35] SlipsknuteN97 commented on #1046
@Hekili Thanks mate, might be the problem for me aswell since I main Fire Mage too

[2021-04-14 14:43] F074 commented on #1058
I tried one pull on a dummy and the trinket usage is fixed, but fire blast is broken rotation isn't using it anymore. I tried to snapshot it after a relog, but now I'm getting a ton of errors and the addon hangs up (primary icon disappears).

[2021-04-14 14:46] Hekili commented on #1058
Submit the same snapshot information.

[2021-04-14 14:49] F074 commented on #1058
The rotation will try to activate disciplinary command by casting frost bolt and it will bug out and get errors as soon as I try to cast frost bolt.

This is the snapshot as it's asking me to cast frost bolt (right before errors):
https://pastebin.com/RzJR1ZGF

This is snapshot for prepull:
https://pastebin.com/4fV986pB

[2021-04-14 14:55] Hekili commented on #1058
Can you provide the errors as well?

[2021-04-14 15:01] F074 commented on #1058
Here you go:
https://pastebin.com/gAadyvxV

[2021-04-14 16:51] F074 commented on #1058
Let me know if you need anything else.

[2021-04-14 17:55] Hekili commented on #1058
Nope, the error message covered it.  -beta3 is coming.

[2021-04-15 10:48] fahrenhait opened #1059 "Fire mage fps drop"
While playing fire mage, fps drops a lot while in combat Is there a solution to this?

[2021-04-15 11:41] Hekili commented on #1059
Please read the ticket instructions before submitting anything.

[2021-04-15 11:41] #1059 closed, assigned to Hekili

[2021-04-15 14:03] Hekili commented on #1058
This should be resolved.

[2021-04-15 14:03] #1058 closed, assigned to Hekili

[2021-04-15 14:04] Hekili commented on #1046
The latest release has all the performance enhancements that were underway.  I'm going to close this ticket and create a new kind of ticket for performance related concerns.

[2021-04-15 14:04] #1046 closed, assigned to Hekili

[2021-04-16 08:21] geraint425 opened #1060 "[Frost DK] A quick rotation change leads to a drop in runic power during an active BOS."
**BEFORE SUBMITTING AN ISSUE:**

1.  v9.0.5-1.0.7

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
We make an opener, gain 55+ runic power, and press BOS. When the runic power approached 30rp, the addon qui

[2021-04-16 09:04] Mikabashi opened #1061 "Elemental Rotation? Flame shock being recommended too often"
Flameshock being recommended too frequently during stone legion generals heroic:

Why is flame shock being recommended with 20+ seconds remaining and already up on all available targets?

I am using the latest build, it was not doing this before. Thanks!

[2021-04-16 10:44] cremor commented on #1003
I noticed that some of the last few updates (including beta versions) seems to have added text messages on login. Thanks for that!
But I also got that message on a character where I didn't change the default priority. Is this expected?

[2021-04-16 11:05] Hekili commented on #1003
Yes, it is notifying you that I pushed an update, not that I overwrote your changes.

[2021-04-16 11:06] Hekili commented on #1061
You'll need to follow the ticket instructions and submit a snapshot from when that is happening.

[2021-04-16 11:06] #1061 closed, assigned to Hekili

[2021-04-16 11:11] Hekili commented on #1060
If you want to know why the covenant ability was shown during the opener, you'll have to supply a snapshot from when it happens.

The snapshot you provided re: BoS was not taken during BoS and is recommending Obliterate. You'll need to post snapshots from the correct time per the ticket instructions.

[2021-04-16 11:54] cremor commented on #1003
Ok, good enough for me. Thanks!

[2021-04-16 11:59] #1003 closed, assigned to Hekili

[2021-04-16 12:22] geraint425 commented on #1060
It seems to have succeeded in catching the moment with BOS. https://pastebin.com/uR92V1AG
But I attach about the Abomination Limb offered by the add-on right at the beginning of the rotation. https://pastebin.com/7g5zmV2u

[2021-04-16 12:31] Hekili commented on #1060
This is recommending Remorseless Winter during Breath of Sindragosa, which seems fine.

This recommended Abomination Limb because its criteria were met:

It wouldn't have been recommended in that case if there were multiple enemies, or Pillar had more than 3 seconds on CD.

You can see that your sim also used Abom Limb right before Pillar:

![image](https://user-images.githubusercontent.com/943813

[2021-04-16 17:19] geraint425 commented on #1060
Wouldn't it be better to use Abom Limb after activating BOS? It turned out that my character had runic power starvation. And as soon as the addon reaches the threshold of 30-35rp, here we have a problem. It's just really hard to catch. I just don't know the addon still takes into account the game delay? Because sometimes I tried to beat the manikin, and it turned out that if I destroyed it myself

[2021-04-16 17:55] Hekili commented on #1060
If you want to see the priority changed, you'd need to make changes in your sims and show that those result in more DPS.  At this point, all the behavior you reported matches the sim you provided.  Is there something else I'm missing?

[2021-04-17 03:50] Sol622 opened #1062 "(BM)Pet Based Multi Target Detection Not Working"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

Automatic

[2021-04-17 04:17] Sol622 commented on #1062
Update:

I did a setting reset again, and this time its still not working for pet based detection, recent damaged enemies seems to be working though Here is an updated snapsnot

https://pastebin.com/KGnyVpaY

[2021-04-17 12:02] Hekili commented on #1062
Can you post a screenshot of your target settings and a screenshot of your action bars with the pet ability shown?

[2021-04-17 12:47] geraint425 commented on #1060
I'd rather study this problem in more detail. Because the problem may still arise due to the flimsy responsiveness of the game due to the Internet. If this problem recurs more often, I will write better again.

[2021-04-17 12:47] #1060 closed, assigned to Hekili

[2021-04-17 13:09] Hekili commented on #1060
Sounds good.  If you make adjustments to the priority and show a DPS improvement in sims, link them here (via Raidbots) and you will probably want to share them with the SimulationCraft devs as well.  Take care.

[2021-04-18 11:51] Myro2 commented on #923
Hello. Is there a way to fix this problem? Or can't it be removed? Thank you in advance

[2021-04-18 12:26] Hekili commented on #923
There have been recent improvements, but what you see is what you get.

[2021-04-18 12:33] Hekili commented on #1062
I'm testing on a BM hunter myself and haven't had this issue yet.  @Sol622, can you provide the screenshots I asked for when you have a moment?

[2021-04-18 12:33] #1050 closed, assigned to Hekili

[2021-04-18 12:34] #1048 closed, assigned to Hekili

[2021-04-18 12:34] Hekili commented on #1044
After you submitted your ticket, I set up Serrated Bone Spike to work with target cycling.  You have to have Recommend Target Swaps enabled for your specialization for that to work (otherwise, the addon is following your preference of not telling you to use abilities on other targets).

[2021-04-18 12:34] #1044 closed, assigned to Hekili

[2021-04-18 15:11] geraint425 opened #1063 "[Surv] Shrapnel Bomb icon does not change after use."
**BEFORE SUBMITTING AN ISSUE:**

1.  v9.0.5-1.0.7

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
The icon does not change when using Shrapnel Bomb. This is not always repeated, but when there are 2 Charges, this bug appears.

**To Reproduce**
Steps to reproduce the behavior:
- Go to '...'
- Click on '....'

[2021-04-18 15:27] Hekili commented on #1063
Can you explain what you mean by "the icon does not change"?  The recommendation doesn't change after using the ability?  Or the bomb changes but the addon doesn't reflect a change?  I need more explanation.

If you have another issue to report, submit another ticket.  Stop combining unrelated issues.

[2021-04-18 16:06] geraint425 commented on #1063
The rotation shows the Shrapnel Bomb icon, I click on the Shrapnel Bomb ability, and my icon does not change in the rotation. I was shown the blue Shrapnel Bomb icon, but it did not disappear, but suggests using the blue Shrapnel Bomb again. Although I already had a red Shrapnel Bomb because I used a blue Shrapnel Bomb.
It simply did not remove the icon, and did not change to a new one, if the rot

[2021-04-18 16:51] Dravor-pixelk opened #1064 "Add a heliki trinket"
Hello,

I am a French player, and I am not at all if you are going to be able to help me. Your addon is very practical and I recommend it a lot to my friends. But I am having a problem with. One day I had to remove all my addons and reinstall heliki. As I was waiting, my profile was not registered but suddenly I cannot add my trinket to the dps rotation that heliki offers me at all. Do you have an

[2021-04-18 18:32] AlienLoveChild opened #1065 "Problems with FireMage Hekili rotation"
Hi,

I installed yesterday on a recommendation from a friend and I think its great although there are things missing from the rotation workflow i.e. Combustion, Mirror Image and my trinkets are not included at all.  Is this something I need to adjust in the /hekili settings or something else?

Thanks!

build: v9.0.5-1.0.7
level: 60 (60)
class: MAGE
spec: fire

talents: flame_on
    frenetic_speed

[2021-04-18 19:11] Hekili commented on #1065
You have your cooldowns toggle turned off. See /hekili > Toggles.

[2021-04-18 19:11] #1065 closed, assigned to nobody

[2021-04-18 19:30] SUU09 opened #1066 "Balance Druid cooldowns and covenant not recommended in rotation"
Hi,

The cooldown and covenants for Balance Druid is not recommended in rotation.
All toggles are enabled and using the latest version v9.0.5-1.0.7

https://pastebin.com/ZPcR3KNi

build: v9.0.5-1.0.7
level: 60 (60)
class: DRUID
spec: balance

talents: mighty_bash
    natures_balance
    restoration_affinity
    solstice
    soul_of_the_forest
    stellar_drift
    wild_charge

pvptalents: none

co

[2021-04-18 19:59] Sol622 commented on #1062
@Hekili im so sorry, i figured out the issue, I didn't have nameplates on during combat, i must've hit the key by accident to turn them off during raid. im sorry to have wasted your time!

[2021-04-18 20:31] AlienLoveChild opened #1067 "Use a title that describes the problem scenario."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-04-18 20:34] AlienLoveChild opened #1068 "Fire Mage rotation workflow still not working"
Further to your last advise I clicked 'show cool downs' in the toggle so now they show up once cooled down in the cool down section but they are still not appearing in the primary/AOE rotation streams.  I am still not seeing mirror image, combustion, interrupts or trinkets.  I have pasted the up to date settings below. Please advise.

build: v9.0.5-1.0.7
level: 60 (60)
class: MAGE
spec: fire

tale

[2021-04-18 20:37] Hekili commented on #1062
Thanks for letting me know! I'll need to make it easier to catch.

[2021-04-18 20:46] Hekili commented on #1066
Did you explicitly disable your equipped trinket(s)? It looks like perhaps the trinket sync is failing, which prevented use of Celestial Alignment, which in turn prevents Convoke.

[2021-04-18 20:48] Hekili commented on #1068
You didn't need to open a new ticket, you can still add to the last one.

Please check out the ticket instructions and include a snapshot with cooldowns enabled (not a screenshot). I'll take a look.

[2021-04-18 21:13] AlienLoveChild commented on #1068
I posted again as the last one said closed so wasn't sure.  The snapshot is the same as the one above.

build: v9.0.5-1.0.7
level: 60 (60)
class: MAGE
spec: fire

talents: blazing_soul
    flame_on
    frenetic_speed
    kindling
    living_bomb
    rune_of_power
    searing_touch

pvptalents: none

covenant: night_fae

conduits: cryofreeze = 4
   discipline_of_the_grove = 5
   incantation_of_swif

[2021-04-18 21:13] Hekili commented on #1068
That's not a snapshot.

[2021-04-18 21:15] AlienLoveChild commented on #1068
Then what is if its not a screen shot or that???????

[2021-04-18 21:15] Hekili commented on #1068
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2021-04-18 21:26] AlienLoveChild commented on #1068
Okay, I did the ALT-SHIFT-P to pause it at a point where I disagreed with the recommendation(s), then I did ALT-SHIFT-{ for the snapshot but when I went to the snapshot page on /hekili there was nothing in there to copy and paste?

[2021-04-18 21:27] Hekili commented on #1068
You don't need to do both ALT-SHIFT-P and ALT-SHIFT-[.  Either creates a snapshot.

The instructions on the Snapshots tab should be pretty clear.  You'll select which display's snapshot you want and select which snapshot # for that display.  Then click the snapshot box, CTRL+A, CTRL+C.  You can paste a screenshot of that Snapshots tab if you're still having trouble.

[2021-04-18 21:39] AlienLoveChild commented on #1068
https://pastebin.com/7DAgziFU

[2021-04-18 21:42] AlienLoveChild commented on #1068
I had to select Primary and 1 in the boxes on the screenshot page or it wouldn't give me the option to Control C

[2021-04-18 21:50] Hekili commented on #1068
That's still not a snapshot -- it doesn't show the recommendations that were made and why.

1.  Hit Pause.
![image](https://user-images.githubusercontent.com/9438134/115161909-41758680-a06e-11eb-90dd-13d5df7a902e.png)

2.  /hekili > Snapshots
![image](https://user-images.githubusercontent.com/9438134/115161920-53572980-a06e-11eb-8619-8b80bdec76a5.png)

3.  Pick the Primary display (assuming that's

[2021-04-18 21:57] AlienLoveChild commented on #1068
https://pastebin.com/vPTnrRJK

[2021-04-18 22:18] Hekili commented on #1068
Do you have Cooldowns set to show separately?

![image](https://user-images.githubusercontent.com/9438134/115162580-6a981600-a072-11eb-8ae3-8ff32ae521ba.png)

[2021-04-18 22:21] Hekili commented on #1068
Have you changed any settings in /hekili > Abilities for Combustion?

![image](https://user-images.githubusercontent.com/9438134/115162675-d8dcd880-a072-11eb-9866-ce89e7f5a062.png)

[2021-04-18 22:22] AlienLoveChild commented on #1068
I set them to show separately after you told me to click 'show cool downs' as they were still not appearing in the recommendations when it was time to use them.   No I didnt touch any settings for combustion.

[2021-04-18 22:24] Hekili commented on #1068
Uncheck Show Separately.

[2021-04-19 00:13] AlienLoveChild commented on #1068
Okay tried it out. Works better but still only ever requests to use Mirror Image as an opener and never again.

[2021-04-19 00:30] Hekili commented on #1068
Yes, that's consistent with your sim, too.

[2021-04-19 01:08] AlienLoveChild commented on #1068
Ok thanks.

[2021-04-19 01:08] #1068 closed, assigned to Hekili

[2021-04-19 01:45] #1062 closed, assigned to Hekili

[2021-04-19 01:47] Hekili commented on #1064
I'm sorry, I don't really understand the question.  But if you supply the required ticket information, that'd be a starting point for figuring it out.  And tell me specifically what you want.  What trinket are you having a problem with?  Why do you think you need to manually add something?  Etc.

[2021-04-19 01:47] #1064 closed, assigned to Hekili

[2021-04-19 01:47] #923 closed, assigned to Hekili

[2021-04-19 08:16] mightymcbeast opened #1069 "Arcane Mage: only suggesting Arcane Missiles other than at the start of the encounter."
**Expected behavior**
Im no expert at arcane mage atm *obviously using your addon lol. but i do know the basics that you should be using arcane blast to fish for clear casting procs but the addon almost never suggests arcane blast other than at the start of an encounter and then its just straight arcane missles after that.

1.  The information from the Issue Reporting tab ( /hekili > Issue Reporti

[2021-04-19 11:37] Hekili commented on #1069
You have the Arcane Missiles spam setting turned on. Check out your spec options. I believe that's still discussed in class guides as well.

[2021-04-19 11:37] #1069 closed, assigned to Hekili

[2021-04-19 14:35] SUU09 commented on #1066
Yes, both trinkets disabled

[2021-04-19 14:38] Hekili commented on #1066
That's why.  Although I understand that you might not want to see them, so I'll look at a workaround (probably treat disabled trinkets as though they're passive and hide the cooldowns, etc.).

[2021-04-19 14:43] SUU09 commented on #1066
Great!
Thanks

[2021-04-19 23:20] Hekili commented on #1066
Testfix in 1.0.8-beta1, which will be out in a few minutes.

[2021-04-19 23:41] Hekili commented on #1063
Alright, test fix is in 1.0.8-beta2.

[2021-04-20 21:03] mythadon opened #1070 "Fury warrior Recklessness disappears from suggestions"
**BEFORE SUBMITTING AN ISSUE:**

1.  v9.0.5-1.0.7

**Describe the Bug/Issue**
while doing the rotation, recklessness is suggested after using rampage which is correct, but it disappears after using rampage

**To Reproduce**
Steps to reproduce the behavior:
- press any spells until you can see rampage suggested
- you should see rampage and recklessness after it
- press rampage
- See recklessness di

[2021-04-20 21:11] Hekili commented on #1070
You have "Sync with Global Cooldown" enabled while Recklessness is used off-GCD with your current gear.

Uncheck Sync with Global Cooldown in /hekili > Fury > Performance (I think) and you'll be fine.

I'll put a workaround in place as well.

[2021-04-20 21:11] #1070 closed, assigned to Hekili

[2021-04-20 21:55] mythadon commented on #1070
thanks that seems to work!

[2021-04-20 23:20] SUU09 commented on #1066
It's fixed now, but now I have another issue.

If cooldowns toggle is enabled and covenant toggle is disabled, cooldowns will not show up in rotation.
In order for cooldowns to shows up both cooldowns toggle and covenant toggle should be enabled.

https://pastebin.com/iXivHRgz

[2021-04-20 23:23] Hekili commented on #1066
Yeah, I can potentially work around that, but the priority is truly written to focus on syncing up, especially with BoAT legendary.

[2021-04-20 23:26] Hekili commented on #1066
Hmm, it's risky.  Because just because you have CDs enabled and Covenants disabled, you may not want to keep them desynched for the whole fight.  Will continue to think about it.

[2021-04-21 13:10] IIeTpoc commented on #759
There is also a weakaura that has a decent logic in counting DRs (like 1st DR makes a CC 50% effective and 2nd one makes CC only 25% effective and this weakaura is able to count the quantity of repetitive CC spells which might be helpful in organising the logic of DR and CC duration)

Link to the weakarua: https://wago.io/1_8A7rUPo

[2021-04-21 19:29] geraint425 commented on #1063
No problems were noticed. Everything seems to be good

[2021-04-22 04:43] Bsirk opened #1071 "Outlaw Rogue - Blade Flurry Not Being Recommended"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.
Yep build: v9.0.5-1.0.8-beta2
2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.
Nope
**Describe the Bug/Issue**
Addon is not recommending Bla

[2021-04-22 04:47] Bsirk commented on #1071
I reloaded the addon to default and it started working again. Problem fixed itself.

[2021-04-22 04:47] #1071 closed, assigned to Hekili

[2021-04-22 13:27] IIeTpoc opened #1072 "Assasination rogue Garrote "spam" with subterfuge talent enabled"
**BEFORE SUBMITTING AN ISSUE:**

1.  Latest version
2.  Did not find simmilar topic

**Describe the Bug/Issue**
Assasination profile suggests using Garrote every global cooldown while Subterfuge talent is enabled.
MY THOUGHTS are that it is due silence duration. For some reason when Silence duration is almost down the addon thinks that it is time to refresh Garrote.

**To Reproduce**
Steps to repr

[2021-04-22 13:36] IIeTpoc opened #1073 "Assasination rogue Envenom use only with 5 combo points (like with Between The Eyes in Outlaw spec)"
Hi! Basicly it would be nice to have an option to use [Envenom](https://www.wowhead.com/spell=32645/envenom) only with 5 combo points. It could be usefull with "[System Shock](https://www.wowhead.com/spell=198145/system-shock)" talent.
I tried to do a different Priority but it is so complicated so I was not able to reproduce the same method you used for [Between the Eyes](https://www.wowhead.com/s

[2021-04-22 14:33] Hekili commented on #1072
What stealth effect is active in your screenshot?  Your snapshot isn't from the same time.

[2021-04-22 14:39] IIeTpoc commented on #1072
I did screenshot in 2nd reproduction of this situation as i forgot to do it 1st time. I`ve just done it again and the stealth effect is actually [Subterfuge](https://www.wowhead.com/spell=108208/subterfuge). What i did just hit PvP maneken in orgri with Garrote and it immideatly recommended the 2nd Garrote right away and so i paused and made screenshot

[2021-04-22 14:49] IIeTpoc commented on #1072
Here are screenshot + issue reporting and a snapshot from another reproduction all from the same situation
https://prnt.sc/11vl2qa

Issue - https://pastebin.com/zJ348V5s

Snapshot - https://pastebin.com/D1me2DKY

[2021-04-22 15:19] Hekili commented on #1072
Those entries are attempting to replace a low snapshot Garrote with a higher snapshot Garrote.

Did you Garrote from Stealth and immediately get a recommendation to Garrote during Subterfuge?

[2021-04-22 15:23] IIeTpoc commented on #1072
Yes it is exactly what happened. Garrote was recommended then for a 1 gcd another abbility was recommended (but i didnt manage to react and press it) then recommendation immidiately swapped to another garrote despite it was applied like 1 gcd ago

[2021-04-22 15:23] Hekili commented on #1072
What is your latency?

[2021-04-22 15:24] IIeTpoc commented on #1072
65ms local 53ms global

[2021-04-22 15:24] Hekili commented on #1073
I won't be doing this without sims showing that it's better than following the sim-tested logic.

[2021-04-22 15:24] #1073 closed, assigned to Hekili

[2021-04-22 15:26] Hekili commented on #1072
About the same as me, to be honest.  I'm not sure why snapshotting the power of the Garrote dot is working for me but not for you.  That's what it's doing -- it's saying that during Subterfuge, you should overwrite a weak Garrote with a strong Garrote.  But your Garrote should be strong if it was just applied from stealth.  There's even a built-in 0.2s buffer for stealth falling off before Garrote

[2021-04-22 15:26] #1063 closed, assigned to Hekili

[2021-04-22 15:30] IIeTpoc commented on #1072
For some reason it happens only in PvP segment of the game not in PvE (PvP maneken also acts as PvP segment)

[2021-04-22 15:32] Hekili commented on #1072
That's useful information.  I'll experiment and see if I can replicate it with the PvP dummy.

[2021-04-22 16:01] Hekili commented on #1072
This looks like a PvP dummy issue.  It looks like it reapplies all the debuffs repeatedly during combat.

[2021-04-22 16:16] Hekili commented on #1072
Yeah, the PvP dummy has 1 maximum health which the addon treats as dead for certain logistical reasons.  I'm adding a workaround.

[2021-04-22 20:17] IIeTpoc commented on #1072
Oh ty for the investigation)

[2021-04-22 21:27] geraint425 opened #1076 "[UH-DK] Shows AoE Outbreak when active on unholy blight targets."
**BEFORE SUBMITTING AN ISSUE:**

1.  v9.0.5-1.0.8-beta2

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**

Correct the rotation tracking of the debuff when using unholy blight in an outbreak location. Just to prevent Outbreak from being offered when Unholy blight is active. Only when Unholy blight is on CD, o

[2021-04-22 22:13] Serqlo opened #1077 "[Survival] addon not reporting correct usage of leggo "Nessingwary's trapping apparatus""
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When using the legendary "nessingwary's trapping apparatus" my

[2021-04-23 05:43] Fraxien64 opened #1079 "Hekili not recommending use of trinket "Tablet of Despair" after receiving a higher level version of the item."
- I am on the latest version (as far as I know) - v9.0.5-1.0.7

- I do not see any posts about this

I am on a Warlock. When I was using a lower level version of the trinket "Tablet of Despair", Hekili would correctly recommend me to use the trinket. After receiving a higher level version of the item, it no longer shows up on the queue.

This issue has been present for a couple days now, starting

[2021-04-23 12:20] Hekili commented on #1079
A snapshot would be helpful for diagnosing this.

2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated

[2021-04-23 16:11] Xiaoyang-Huang opened #1080 "Keybinds not showing up on the covenants button"
**Describe the Bug/Issue**
Keybinds not showing up on the covenants button.

**To Reproduce**
Steps to reproduce the behavior:
1. Put an covenants ability to your extra action bar. (that is right bottom one for me).
2. bind Ctrl + ` as hotkey
3. reload your game
then you can see there is no keybind indicator on the button
![1](https://user-images.githubusercontent.com/4454469/115898825-92331800-a4

[2021-04-24 03:26] Fraxien64 commented on #1079
I'll put in two snapshots, one with my second trinket on cooldown and one with if off cooldown.

With both trinkets available to use: https://pastebin.com/iUNAxe3a

With Soul Igniter trinket on cooldown and with Tablet of Despair available for use: https://pastebin.com/F4Eq37uq

(let me know if I did the snapshots incorrectly, first time using them)

Side note: When I was checking to make sure I h

[2021-04-25 19:13] Smudgiee opened #1081 "SBS target cycle issue"
Lastest verison of Hekili is running

**Describe the Bug/Issue**
Basically from what I am seeing is, two targets it won't suggest to target cycle, to get two bone spikes out. Three targets it will target cycle once to do two bone spikes. It seems to be behind by one at detecting enemies or something is wrong with the aura max/duration. MfD target cycling is working perfect on two targets but not S

[2021-05-01 11:49] quetzalsly opened #1082 "In game status report panel"
I love hekili but it is always such a mystery on how things work behind the scenes.
I have no idea which spec is working well, which spec has bugs, I end up searching github issues and seeing random problems.

* How does hekili work? am I supposed to be updating the simc templates to new ones or editing them as the simc repo is updated or something? this repo seems to have older simc templates so

[2021-05-01 12:32] Hekili commented on #1082
No, you don't need to update from SimC (and you'd probably end up with a broken result). No spec's profile is significantly behind SimC; if you're looking at file dates, keep in mind that most updates to a SimC profile aren't priority related.

Any spec being "low level compatible" is pure chance and I have no intent to actively support that. The addon tells you that every time you log in with a l

[2021-05-01 12:32] #1082 closed, assigned to Hekili

[2021-05-02 19:18] Hekili commented on #1081
Good news, I found what was causing the target count to be reduced.  Pending fix.

[2021-05-02 20:40] #1081 closed, assigned to Hekili

[2021-05-02 20:40] Hekili commented on #1079
This should be resolved in next release.

[2021-05-02 20:40] #1079 closed, assigned to Hekili

[2021-05-02 20:40] Hekili commented on #1080
This is not a real priority; I don't scrape the binding from the extra action button.  I'll take a look at it, though.

[2021-05-02 21:10] Hekili commented on #1077
There's not a great way to address this, since there's no way to be certain that your trap is actually going to trigger at a particular moment.

I've made it so that `cast_regen` for trap abilities will reflect the initial gain from the legendary, but you'll likely see the other traps recommended briefly when the trap hasn't yet popped.

[2021-05-02 21:47] Hekili commented on #1076
Going to use the fix in `ffbae0a`.

[2021-05-02 21:47] #1076 closed, assigned to Hekili

[2021-05-02 21:48] Hekili commented on #1072
Fix will be in release going out tonight.

[2021-05-02 21:48] #1072 closed, assigned to Hekili

[2021-05-02 21:48] Hekili commented on #1066
A test change for letting Convoke desync when you have toggled it off will be in next release.

[2021-05-02 21:48] #1066 closed, assigned to nobody

[2021-05-02 21:49] #1055 closed, assigned to Hekili

[2021-05-03 10:16] Triplehxh opened #1083 "Slice and Dice"
I recognized espacially as outlaw rogue that slide and dice is popping up much to early.
Is there any possibility to configure this?
Sometimes is calling "refresh slice and dice" but i am able to do 1-2 more finishers with 5-6 combo points before i really need to refresh and still avoid that it was not active.

[2021-05-03 12:00] Hekili commented on #1083
Please follow the instructions when submitting a ticket.  Thanks.

[2021-05-03 12:00] #1083 closed, assigned to Hekili

[2021-05-04 08:56] Illuminat442 opened #1084 "Havoc priority issue"
So I have updated to the latest version.  I am having an issue as a Havoc dh that Hekili is telling me to use an ability expecting that I have certin talents selected.  I am not using Unbound Chaos at all and not using any abilities or talents that would buff my Fel Rush ability but Hekili keeps telling me to use Fel Rush for dps.

[2021-05-04 12:10] IIeTpoc commented on #1084
Hey there is an answer for your ticket. https://github.com/Hekili/hekili/issues/975

[2021-05-04 16:41] geraint425 opened #1085 "[Surv] Does not apply green shrapnel bomb when Serpent Sting expires"
**BEFORE SUBMITTING AN ISSUE:**

1.  build: v9.0.5-1.0.8

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When the buff expires on one target, or several, the addon does not offer to use it when there is an active green shrapnel bomb. And it also works very badly when targets have 4+ buffs from Serpent Sting

[2021-05-04 17:09] geraint425 opened #1086 "There are problems with the rotation of the survival hunter."
I decided to create this topic, as I have a lot of questions about the rotation of the survival hunter. I'll start in order.

1. When we put on the Wildfire Cluster legendary item, and take the talents 3.1, x, 1, x, 1.2. An interesting thing happens in AOE. If 5+ targets are involved in the battle, then the addon holds the shrapnel bomb for some reason. But when taking this legendary power, we get

[2021-05-04 17:11] Hekili commented on #1084
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-05-04 17:22] Hekili commented on #1086
Have you simmed your character and identified whether this behavior happens in sims or if it appears to be an addon defect?

[2021-05-04 17:23] Hekili commented on #1085
The addon does not know the duration of the Serpent Sting effects on the other targets.  It only knows that it's there or it isn't.

[2021-05-04 17:27] geraint425 commented on #1085
Is it possible how to do tracking? Because if we use Serpent Sting but not shrapnel bomb. This is a loss of dps. Since if we have a green shrapnel bomb then we use it to update the buff from Serpent Sting.

[2021-05-04 17:30] Hekili commented on #1085
The solution will probably not be to track duration on other targets.  What have you tried in your sims?

[2021-05-04 18:29] geraint425 commented on #1085
In sims, I didn't do anything. I basically only tried it in the game itself and looked at the efficiency in Details.
Well, I just followed the tips and guides that are described on icy-veins.
I can, in principle, attach my [sim](https://www.raidbots.com/simbot/report/6rvptofmCM1SzgYMg5eZBy) where the battle goes with 5 goals. I looked at the rotation this is exactly what I described to you. That w

[2021-05-04 18:47] geraint425 commented on #1086
I now offer my two simcraft, one on [ST](https://www.raidbots.com/simbot/report/6T72FeuhSKBqAeMYXqifPf), the other on [AOE](https://www.raidbots.com/simbot/report/g7io8Cgf25cFhYz3pQ3kBW). I just checked into the raider manikin, and there were again problems with the sharpnel bomb. If you look at the rotation from sim, then there they are used almost 1 for 1. Sometimes even when two at once. And th

[2021-05-04 18:51] ijoihlhnn commented on #1084
there is a toggle to disable the use of fel rush if you dont use Unbound Chaos.
CHeck the options before creating incomplete tickets. :)

[2021-05-04 22:05] Hekili commented on #1084
@ijoihlhnn is correct that you can turn that off using a toggle (or specialization option).

[2021-05-05 05:56] F074 opened #1087 "2 Issues for Afffliction. Siphon Life and Vile Taint."
Hi,

These are two completely separate  issues. I just felt it easier to consolidate into 1 ticket let me know if you would rather I separate.

First Issue: Siphon Life priority on the opener. Single Target talents.

The rotation will simply pop all cds and shard dump BEFORE using siphon life. I thought at first it was waiting for a trinket proc or something, but it happens every time. Top 100 par

[2021-05-05 09:28] Hekili commented on #1087
You'll need to follow ticket instructions for me to investigate the questions.

[2021-05-05 13:02] #1084 closed, assigned to Hekili

[2021-05-05 17:42] LEOMODE opened #1088 "Corresponding keybind does not display properly"
**Describe the Bug/Issue**
Currently, one of my skills is bound as SHIFT+4. However, on Hekili sometimes it shows 1, and sometimes it shows S4 which is confusing. I do not have this skill bound on any of my windows.

**To Reproduce**
It just shows 1 most of the time, and rarely/occasionally S4. I would say about 95/5 ratio.

**Expected behavior**
Needs to be S4

**Screenshots**
Will add if necessa

[2021-05-05 17:47] Hekili commented on #1088
It's how your binds/bars are setup.  If the detected bind isn't accurate, you can set it via /hekili > Abilities.

[2021-05-05 17:47] #1088 closed, assigned to Hekili

[2021-05-05 18:42] Hekili commented on #1087
I actually managed to investigate a bit anyway.  The Affliction profile is missing a Siphon Life entry.  I'll address it in the next day or two.

[2021-05-05 19:27] F074 commented on #1087
I snapshot an instance when vile taint was suggested, but soul rot was still on CD and wouldn't come up before VT fell off.

Here: https://pastebin.com/sNvzam1v

Let me know if this isn't what you wanted.

[2021-05-05 19:58] Hekili commented on #1087
The current Affliction simc priority doesn't seem to make a specific effort to sync the two.

[2021-05-05 21:07] F074 commented on #1087
I don't know exactly how simc works. Is it possible those talents are so rarely used that simc doesn't have enough data to base their current assertions? Then again I'm not an expert in warlock by any means. I could be wrong. It just seems that if you COULD line those two up it would be better than not. Let me know what you think.

[2021-05-06 02:12] Idacham opened #1089 "The addon does not show me the aoe options"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-05-06 02:18] Hekili commented on #1089
https://github.com/Hekili/hekili/issues/975

[2021-05-06 02:18] #1089 closed, assigned to Hekili

[2021-05-06 20:04] yungwern opened #1090 "Unholy DK - Primary display only recommends outbreak when close to a second or multiple targets."
**BEFORE SUBMITTING AN ISSUE:**

**Describe the Bug/Issue**
When I get close to another target the primary display only recommends outbreak. The cooldowns display will show as normal, and only until I use all my recommended cooldowns will the primary display show normally again.

![Normal Hekili](https://user-images.githubusercontent.com/83782648/117358727-58d4b200-ae6b-11eb-820d-3c62ca1d88e6.PNG)

[2021-05-06 20:19] Hekili commented on #1090
That snapshot doesn't look like it was taken when you were having the problem.

[2021-05-06 20:33] yungwern commented on #1090
https://pastebin.com/yaJ10NSt

[2021-05-06 20:35] yungwern commented on #1090
Let me know if that one works, im not too sure what im doing when it comes to these snapshots. Also I dont need to be in combat for it to happen. When I stand next to two training dummies and switch targets between the two it shows as the second screenshot I provided.

[2021-05-08 21:20] Alchemooney opened #1091 "Blood DK should recommend Marrowrend in more situations."
Please describe your idea or feature and when it would be useful.
Tested in single target against a training dummy.
Hekili recommends using Marrowrend immediately after Bone Shield (the buff it creates) wears off. This is a stacking buff and thanks to the Ossuary passive ability (baseline), blood DK wants to remain at 5 stacks or higher. Since the blood DK will also want to use Death Strikes in a

[2021-05-08 21:24] pewpewxd opened #1092 "Outlaw rogue Serrated Spike Bones"
It would be great to only recommend using Serrated Spike Bones repeatedly for combo point generation and damage on the boss but not on mob packs. It will waste spikes that can otherwise be used on the different unique targets. Is there a way to achieve that?

[2021-05-08 21:39] Hekili commented on #1091
You're training against a Training Dummy.  Your mitigation action list is called when you are `tanking` and/or you have taken some damage in the last 5 seconds (`incoming_damage_5s > 0`).

If you're not tanking or taking damage, then yes, Marrowrend doesn't get used to keep Bone Shield up.

You can edit this in your priority by going to /hekili > Priorities > Blood > Action Lists > default and edi

[2021-05-08 21:41] Hekili commented on #1092
Yes, but you'd have to write a custom priority for that (which I don't generally offer support for).

If you want to hold Serrated Bone Spike, you can use your Covenants keybind to toggle it on/off.

[2021-05-08 21:41] #1092 closed, assigned to Hekili

[2021-05-08 21:51] Hekili commented on #1090
Have you done any special customizing in your options?  Your Death and Decay cooldown was 30s (max CD), which leads me to believe you have added it to a toggle (Cooldowns, maybe?).  The logic for Unholy DK to switch between setting up AOE vs. dropping DnD and doing AOE damage relies on the cooldown for Death and Decay.

Since abilities are treated as though they are on their max CD when toggled of

[2021-05-08 22:06] Alchemooney commented on #1091
Just tried using a tanking dummy so it would hit back. Turns out the recommendation is much better than expected.
Time for refreshing is efficiently managed. I'd suggest a much smaller adjustment then.
Wipe out recommendations 2 & 3 regarding the timer.

Just looking at suggestion 1, I'd still make a case for using marrowrend at 6 stacks. If we're actively tanking, then using it six stacks would g

[2021-05-08 22:39] yungwern commented on #1090
Ok thank you very much for the detailed response. It appears that somehow I did accidentally edit my priority. I reset it to default and everything is working fine now. Also I don't seem to have many problems with DnD when its in my cooldowns toggle, but creating a new priority for it would probably work a lot better. Thanks again for your help, I really appreciate it.

[2021-05-08 22:45] #1090 closed, assigned to Hekili

[2021-05-10 20:37] Phelix84 opened #1093 "Arcane Mage ability, MANA GEM, unable to remove it from suggested rotation skills."
Mana Gem, a conjured item, is unable to be disabled via the abilities list.

Conjured Mana Gem, is, but disabling it does not cancel out the item it creates from appearing on your rotation list.

So, Mana Gem, needs to be put onto the abilities list so it's allowed to be disabled, and not appear on your rotation.

Thanks.

[2021-05-10 20:37] Hekili commented on #1093
It's in the items list, is it not?

[2021-05-10 20:39] Phelix84 commented on #1093
Maybe im dumb. lol.

[2021-05-10 20:40] Phelix84 commented on #1093
Yup I found it, sorry for the report.

[2021-05-12 15:20] somedhclass opened #1095 "DH enhancement"
im looking to maybe have Fel rush show up on priotry 1 second before hunt or eyebeam off cd ... and having a fel rush avaible when i use immo i used the box to for movement but it using it off cd so i dont have my buff going into a eye beam or immo or hunt

build: v9.0.5-1.0.8
level: 60 (60)
class: DEMONHUNTER
spec: havoc

talents: demon_blades
    essence_break
    felblade
    master_of_the_glai

[2021-05-12 16:17] somedhclass commented on #1095
this is what im told to do " but dont seem to line up

"The apl changed.
I'd say the class is more on a prio list than a rotation
So basically you wanna pair momentum buff wiht immo or eyebeam or hunt but you never wanna overcap either
And then you wanna vengeful as much as possible"

[2021-05-12 16:43] Hekili commented on #1095
I'll respond to the points in your second post and ask you to clean up and clarify your other thoughts before I respond to them.

Priorities are always changing.  I keep up with them.  There's nothing missing.

Every class uses a priority.

Your sim priority already syncs Eye Beam and The Hunt with Momentum.  It doesn't for Immolation Aura, but you'd need to show that it's worthwhile to hold Immol

[2021-05-12 16:43] #1095 closed, assigned to Hekili

[2021-05-14 13:18] matfg opened #1096 "Fury Warrior: Recklessness problem. Bladestorm question"
After downloading the new update i started noticing something unusual. Recklessness never shows up while being out of combat. Only pops up after Rampage for few milliseconds. Also, never shows up after its off cooldown.
Oddly enough everything works as before without any issues on other warrior characters. Except for my  character main.

Bladestorm question. After the latest update i started seein

[2021-05-14 13:32] Hekili commented on #1096
X means cancel.

It shows up when its conditions are met, which include being used immediately after Rampage for your talents and legendary.

If you have Signet and just used Rampage and:
- Bloodlust is up or Anger Management is talented or adds aren't spawning for a while
- OR target won't die in the next 100 seconds
- OR you're in execute phase
- OR target will die within 15 seconds and adds won

[2021-05-15 14:29] geraint425 opened #1097 "[Surv] Problem with recommend target swaps and Kill Command"
**BEFORE SUBMITTING AN ISSUE:**

1.  v9.0.5-1.0.8

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
All this time I have been testing from the beginning to the end of the surv. And I noticed one thing. That when I check recommend target swaps, the Kill Command ability shows that you need to change the target,

[2021-05-20 07:33] N6REJ opened #1098 "Allow frame to be moveable"
When the frame is open you can't see the icons to move them around and you can't move the frame.

----------------
build: v9.0.5-1.0.8
level: 56 (56)
class: WARRIOR
spec: fury

talents: bounding_stride
    cruelty
    double_time
    dragon_roar
    massacre
    siegebreaker
    sudden_death

pvptalents: none

covenant: venthyr

conduits: none

soulbinds: []

sets: pocketsized_computation_device =

[2021-05-20 07:37] N6REJ commented on #1098
looks like it would be very simple to add
[code]

[2021-05-20 09:43] howdeh opened #1099 "Balance Druid - No Celestial Alignment Recommendation"
Hello!

Celestial Alignment is not being recommended. Any assistance as to why? I do not have any Balance trinkets just yet.

build: v9.0.5-1.0.8
level: 60 (60)
class: DRUID
spec: balance

talents: guardian_affinity
    heart_of_the_wild
    natures_balance
    solstice
    soul_of_the_forest
    stellar_drift
    wild_charge

pvptalents: none

covenant: night_fae

conduits: conflux_of_elements =

[2021-05-20 09:48] #1099 closed, assigned to nobody

[2021-05-20 14:10] Hekili commented on #1098
Click and drag the configuration UI out of the way and you can click and drag to place things.

[2021-05-20 14:10] #1098 closed, assigned to Hekili

[2021-05-20 14:11] Hekili commented on #1099
I'm assuming that you found the Cooldowns toggle.  :)

[2021-05-20 22:41] N6REJ commented on #1098
@Hekili tried that it won't move.  I'm using elvui if that makes a difference.

[2021-05-20 22:51] larskeizer opened #1100 "Enhancement Shaman - Potion Support"
The rotation of Enhancement shamans does currently not include dps pots (even when turned on in options.) - It'd greatly boost the dps if potions were actually included as any other dps spec

[2021-05-22 12:48] Hekili commented on #1100
You will need to submit a complete ticket following the ticket instructions.  Potions are included in the Enhancement priority, but I can't tell without the required ticket information which would include a snapshot that shows your settings and the addon's recommendations.

[2021-05-22 12:48] #1100 closed, assigned to Hekili

[2021-05-22 21:48] tflo opened #1103 "Warlock: Affliction: Impending Catastrophe and CDs without Phantom Singularity issue"
Since recently I often see this error in BugSack:

[code]

“Often” here means ‘not regularly but not rarely’.

_I think,_ I started seeing this error when I began to play around with Vile Taint and Sow the Seeds instead of Phantom Singularity.

***

Things I’m observing that _might_ be related to that error:

- Without Phantom Singularity selected, Impending Catastrophe never gets recommended in t

[2021-05-22 22:28] Hekili commented on #1103
Please provide a snapshot when you think you should be getting a CD recommendation but are not.  See the new ticket instructions for details about snapshots.

[2021-05-22 23:00] tflo commented on #1103
Here you go:

- [Cooldowns](https://pastebin.com/T31xWdg0)
- [Primary](https://pastebin.com/qHVLyV4P)

While making the snapshot, the above mentioned error has _not_ been logged, since I’m unable to reproduce it reliably. Though, the described recommendation anomalies (which might have a cause that is related to the cause of the error) were present.

[2021-05-22 23:23] Hekili commented on #1103
The error looked like it involved a multitarget scenario.  You had two targets there, but maybe try 3+?

[2021-05-23 00:57] tflo commented on #1103
Ok, tried with the 5-target swarm dummy, and I can reliably produce the error then. Though, when the error is there, I cannot make snapshots.  (Nothing saved and no snapshot confirmation in console; just the “There are too many errors in your UI.” message.)

Some interesting findings though: The error is triggered differently, depending if Phantom Singularity is selected or not:

- _With Phantom S

[2021-05-23 19:27] tommyruin opened #1104 "Demonology Warlock - Summon Demonic Tyrant not showing as a Cooldown or in Rotation"
Hi - as title states, the hekili rotation isnt showing when to use the Demonic Tyrant as either a cooldown or as part of the rotation.

build: v9.0.5-1.0.8
level: 60 (60)
class: WARLOCK
spec: demonology

talents: burning_rush
    darkfury
    demonic_calling
    demonic_consumption
    demonic_strength
    grimoire_felguard
    summon_vilefiend

pvptalents: none

covenant: necrolord

conduits: bor

[2021-05-23 19:34] Hekili commented on #1104
You'll need to follow the ticket instructions and include the snapshot.

[2021-05-23 19:37] Hekili commented on #1104
It also looks like you did your own SimC import, since your priority name is not one of the defaults.  If you import your own priority, you have to make it work on your own as well.

[2021-05-23 19:44] tommyruin commented on #1104
Hi Hekili - apologies if I did things incorrectly. I have switched to the Demonology SimC profile to make things easier (a similar problem is occuring though).

Does this snapshot make sense?

Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.0.5-1.0.8
level: 60 (60)
class: WARLOCK
spec: demonology

talents: burning_rush
    darkfury
    demonic_calling
    demonic_consumption

[2021-05-23 19:49] Hekili commented on #1104
You'll have to do your own editing if you want to import.  If you want to work on that, I'd suggest comparing the default SimC priority vs. what you see in the addon, and make the same kinds of changes to what you've imported.

[2021-05-23 19:49] #1104 closed, assigned to Hekili

[2021-05-23 19:50] tommyruin commented on #1104
Apologies. It seems like it was an issue with the profile I have imported. However, the logic for summon demonic tyrant does seem strange regardless and doesnt seem to maximise the damage from holding spells for Demonic consumption maximisation.

[2021-05-26 22:18] fzarr commented on #1087
Was the Siphon Life part of this ticket fixed? It still seems to be happening for me where it will not recommend SL, e.g. in the opening burst window.

[2021-05-27 01:21] Hekili commented on #1087
It is fixed now -- the update hadn't been published.

[2021-05-27 04:44] mikemangu opened #1105 "Issue with Unholy Death Knight - AOE Setup & AOE Burst"
**Describe the Bug/Issue**
When multiple mobs are present to switch to AOE rotation, one of the core abilities, Death and Decay is not being recommended. It seems like it is staying on "Generic" action list and not recommending any of the AOE Burst, particularly not enough Epidemics.

**To Reproduce**
Steps to reproduce the behavior:

- Get into a multi-mob fight, that last longer than 15 seconds

[2021-05-27 11:04] Hekili commented on #1105
2.  If reporting a disagreement with the addon's recommendations, please take a snapshot when you observe the issue and provide the snapshot.  This is not a screenshot.  A snapshot can be generated by binding the Pause feature on the Toggles tab.  When you press Pause, a snapshot of how the addon decided on its CURRENT recommendations is generated and saved to the Snapshots tab.  Copy and paste th

[2021-05-27 11:05] #1087 closed, assigned to Hekili

[2021-05-27 11:14] Hekili commented on #1103
This is/was a silly typo error that I'm fixing right now.

[2021-05-27 14:55] tflo commented on #1103
Oh, glad to hear. Typos are the easiest ones :)

[2021-05-28 00:00] N6REJ opened #1106 "Recommending potions while doing world quests"
I'm very confused as to whats going on.  It keeps recommending a potion outside of instances ( like raids ) to use my potion.
THE ONLY time it should be recommending potions is during raids.
This is on my balance druid.

[2021-05-28 00:03] N6REJ opened #1107 "Balance druid rotation nerfed"
Seems the rotation for the balance druid is all wrong.  I've tried with simc priorities and that didn't help.
it recommends 5 or 6 starfire in a row, same thing with sunfire and wrath.
It should be wrath,wrath, starfire for the opener which it seems to do and then it gets "stuck"
it NEVER seems to throw moonfire & stellar flare into the rotation which should be early on.

[2021-05-28 00:07] Hekili commented on #1107
Follow the instructions when submitting tickets.

[2021-05-28 00:07] #1107 closed, assigned to Hekili

[2021-05-28 00:08] Hekili commented on #1106
Follow the instructions when submitting tickets.

[2021-05-28 00:08] #1106 closed, assigned to Hekili

[2021-05-28 00:59] N6REJ commented on #1107
maybe I just need to NOT use hekili since you want to be so persnickety

[2021-05-28 01:01] N6REJ commented on #1106
@Hekili so its too much effort on your part to explain how to prevent this from occuring?

[2021-05-28 01:04] Hekili commented on #1106
I'll take a look if I get a proper ticket, so I have the information I need to investigate.  It's not a personal attack.

[2021-05-28 01:05] Hekili commented on #1107
Submit a proper and complete ticket, with all the required information, if you'd like me to investigate an issue.  That's all.  Thanks.

[2021-05-28 03:05] intoache opened #1108 "Is it possible to make a target-based target count?"
Spec like marksmanship hunter could be happy to see an option enabled to detect the number of nameplates around their target(a range check is better), to determine if multishot should be used. Pet-based nameplate check works very well for bm hunters, is a target-based check possible?

[2021-05-28 03:11] Hekili commented on #1108
No, unfortunately. That would definitely be a nice feature but is not possible.

[2021-05-28 03:11] #1108 closed, assigned to Hekili

[2021-05-28 13:56] N6REJ opened #1109 "Issues with druid recommendations"
I'm very confused as to whats going on. It keeps recommending a potion outside of instances ( like raids ) to use my potion.
THE ONLY time it should be recommending potions is during raids.
This is on my balance druid.

**WHEN SUBMITTING AN ISSUE:**

build: v9.0.5-1.0.9a
level: 60 (60)
class: DRUID
spec: balance

talents: force_of_nature
    mass_entanglement
    renewal
    restoration_affinity

[2021-05-28 14:04] Hekili commented on #1109
You can and must provide a snapshot.

[2021-05-28 14:15] Hekili commented on #1103
This fix should be live.  Reopen this ticket with new information if you still have the issue.

[2021-05-28 14:15] #1103 closed, assigned to Hekili

[2021-05-28 15:56] N6REJ commented on #1109
how, it doesn't work.
I showed that in the screenshot

[2021-05-28 16:08] Hekili commented on #1109
Additionally, you will need to be sure to take the snapshot when the issue you're concerned about (potion being recommended) is actually happening.  If you provide a snapshot from a different moment, it won't be useful.

[2021-05-28 22:22] N6REJ commented on #1109
It might take me a few days to make it happen again, idk. didn't do it on the training dummies.  I saw it briefly last night but it went away by the time the next skill came up.

[2021-05-29 12:08] N6REJ commented on #1109
ok, figured out the snapshot, idk if this is relevant but I just had the same skills show up like 6x in a row.
https://pastebin.com/C8zQZLUQ

[2021-05-29 12:30] N6REJ commented on #238
anyway to make the flash more noticeable?  Spell flash hasn't been updated in 2yrs.  It's VERY subtle

[2021-05-29 12:41] Hekili commented on #1109
Your snapshot shows Starfire and Sunfire, so you didn't take the snapshot when it was recommending a potion, which is the topic of your ticket.

Are you expecting Balance not to cast the same spell several times in a row? I can't help if you don't clearly explain the issue you're having and provide data from when you're actually having the problem.

[2021-05-29 12:42] Hekili commented on #238
Not a priority at this time.

[2021-05-29 14:04] Artenuvielle opened #1110 "New Display Mode: "Automatic Dual Display""
I would love to see a dual display mode for single target (in primary display) and aoe (in secondary display) but the aoe would be somewhat automatic. It would assume there are allways at least the number of targets available as specified as minimum aoe targets for that spec or a higher value if the automatic detection algorithm detects a number higher than that.

The reason for that would be that

[2021-05-29 14:13] Hekili commented on #1110
That's exactly how the Dual display mode works.

[2021-05-29 14:13] #1110 closed, assigned to Hekili

[2021-05-29 23:34] N6REJ commented on #238
@Hekili ok.. I know at least 2 people who will stop using hekili because of it.
for me, I like hekili just need to figure out the druid issue.

[2021-05-29 23:38] N6REJ commented on #1109
@Hekili i get it.. sorry for being scattered.. so there are 2 issues..
1) potion which hasn't happened again yet, other then for the briefest instant.
2) repeatedly recommending the same spell.  Last night I counted 7 wraths and 5 starfires in a row.

[2021-05-29 23:56] Hekili commented on #1109
What makes you think multiple Wraths and Starfires in a row is incorrect?  Have you simmed yourself?

[2021-05-29 23:59] N6REJ commented on #1109
yes... I can see 2 wraths then a starfire, and even 2 starfires but 6? 7? in a row?

[2021-05-30 00:02] Hekili commented on #1109
Yeah, you'll want to check out a Balance Druid guide.

[2021-05-30 00:02] #1109 closed, assigned to Hekili

[2021-06-03 15:45] tflo commented on #1103
With which version has it gone live? I have 9.0.5-1.0.9a and cannot find anything newer.

[2021-06-03 17:27] #1105 closed, assigned to Hekili

[2021-06-03 17:28] #1096 closed, assigned to Hekili

[2021-06-03 17:28] #1093 closed, assigned to Hekili

[2021-06-03 17:28] #1091 closed, assigned to Hekili

[2021-06-09 09:27] PicardRaphael opened #1113 "Error with gladiators_badge_345228"
Hello, i want to know how can resolver my error lua : Interface\AddOns\Hekili\CLasses\MageFire.lua:613:aattempt to index field 'gladiators_badge_345228' (a null value)

[2021-06-09 09:27] PicardRaphael commented on #1113
![image](https://user-images.githubusercontent.com/35990535/121329622-aa160c80-c915-11eb-9e01-7cecbc814768.png)

[2021-06-09 09:28] PicardRaphael commented on #1113
![image](https://user-images.githubusercontent.com/35990535/121329756-c74adb00-c915-11eb-8c7a-a3fd8c677c7e.png)

[2021-06-09 09:28] PicardRaphael commented on #1113
for you know i'm french player sorry for my english.

[2021-06-09 18:35] Bigity commented on #238
This would be a feature I would use as well, FWIW.

[2021-06-11 01:18] Zoliii opened #1114 "Intermittent freezing in M+ Fury."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version. - Done

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports. Checked only Fire Mage

**Describe the Bug/Issue**
A clear and concise description

[2021-06-11 01:33] Hekili commented on #1114
Thanks for the report.  I'll leave it open for now, in case someone else decides to supply the required info.  Take care.

[2021-06-11 01:38] Zoliii commented on #1114
FYI. Also run a boomy and MM hunter and don’t experience the issue. Also tested with a new install of wow and hekili, same issue

had bug sack and bug grabber running, no errors were thrown

[2021-06-11 01:53] Hekili commented on #1114
Still need the required ticket info.  Thanks.

[2021-06-13 23:57] N6REJ opened #1115 "Possible to Show interrupts & cooldowns?"
@Hekili I turned a friend onto hekili and he's saying that while conro shows interrupts and cooldowns hekili doesn't.  He says this seems to be on all classes.  Is there a setting or config we're missing?
"its ok, i wish interrupts would pop up and that it would trigger cooldowns"

[2021-06-14 00:10] Hekili commented on #1115
See /hekili > Toggles.

[2021-06-14 00:10] #1115 closed, assigned to Hekili

[2021-06-18 20:45] nb41 opened #1116 "Blood DK priority needs tuning"
1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Checked for updates, didn't find any.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

Didn't see this when searching on Blood or BDK.

**Describe the Bug/Issue**
The mai

[2021-06-18 20:47] Hekili commented on #1116
Please follow the instructions when submitting a ticket, including the snapshot.  Thanks!

[2021-06-18 21:10] nb41 commented on #1116
The feature request doesn't ask for anything ...? Unless you feel this is a bug request in which case, no worries, I can follow those.

[2021-06-18 21:11] Hekili commented on #1116
Yeah, this isn't a feature request, it's a change to the existing priority.  Use the Bug Report template, please.

[2021-06-18 22:06] #1114 closed, assigned to Hekili

[2021-06-18 22:42] nb41 commented on #1116
:+1: Will do.

[2021-06-18 23:50] nb41 commented on #1116
@Hekili Updated.

[2021-06-22 15:32] LadyRakael opened #1117 "Hekili crashes/disconnects WoW for only one toon when logging in."
Hekili crashes/disconnects World of Warcraft when I log into my main toon. None of my alts who use this add-on have this issue upon logging in. The only way I can avoid crashing is when I disable Hekili first at the character selection screen, load, then reload Hekili add-on after my toon is logged in and in-world.

This has been going on for months. The only way I could successfully log into my m

[2021-06-22 15:35] Hekili commented on #1117
So it's a Paladin.  Tell me about your Paladin.  Spec, settings, gear, talents, covenant, renown, soulbinds, conduits, etc.  When did this start?  I have no open requests for any crash issues at all.

[2021-06-22 15:36] Hekili commented on #1117
Do this, then submit the information from the Issue Reporting tab.

[2021-06-22 16:09] LadyRakael commented on #1117
From the issues reporting tab. Prot first.

build: v9.0.5-1.0.9a
level: 60 (60)
class: PALADIN
spec: protection

talents: blessed_hammer
    crusaders_judgment
    divine_purpose
    fist_of_justice
    judgment_of_light
    sanctified_wrath
    unbreakable_spirit

pvptalents: none

covenant: kyrian

conduits: punish_the_guilty = 5
   pure_concentration = 5
   ringing_clarity = 5
   shielding_word

[2021-06-22 16:11] Hekili commented on #1117
Does it matter which spec you are when you sign in?

[2021-06-22 16:29] LadyRakael commented on #1117
No.

[2021-06-22 16:30] Hekili commented on #1117
If you sign in as Holy, does it have any impact?

[2021-06-22 16:56] LadyRakael commented on #1117
It still crashed, sadly, when I logged in as Holy.

[2021-06-22 17:32] Hekili commented on #1117
I'm sorry that I can't replicate this on my end.  The next thing to try is editing Hekili.toc inside the Hekili folder.

Try placing a # before Classes\PaladinProtection.lua and Classes\PaladinRetribution.lua, like so:

[code]

Restart WoW.  See if you have the same error.  Let me know.

If that let you back into WoW, edit the Hekili.toc again, removing the # from one of the files.  Restart WoW ag

[2021-06-22 17:39] Everyone1234567 opened #1118 "Damage spenders are not recommended when seraphim, final reckoning and execution sentence are available for ret paladin."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Build: v9.0.5-1.0.9a

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When seraphim, final reckoning and execu

[2021-06-22 17:55] Hekili commented on #1118
You've manually added Seraphim to the cooldowns toggle or toggled it off.  That's not default behavior.  I can potentially babyproof that, though.

[2021-06-22 18:00] Hekili commented on #1118
It looks like you made Seraphim a CD and you took Final Reckoning off the CDs toggle.  Can you post a screenshot of /hekili > Retribution > Toggles with your Cooldowns visible?  That's the only way I can replicate what you've shown.

[2021-06-22 18:08] Hekili commented on #1118
Closed (discussed in Discord).

[2021-06-22 18:08] #1118 closed, assigned to Hekili

[2021-06-22 18:10] Hekili commented on #1117
Also, what else can you tell me about your PC?  CPU/GPU/memory?  WoW settings in general?

My best guess at it's related to item or spell caching (since item/spell information isn't available immediately on first load) but I have no idea why it'd happen specifically for your Paladin -- with no one else reporting.

[2021-06-23 05:24] kentaaa94 opened #1119 "Fire Mage"
Hello! Just wondering if the fire mage rotation is still broken, or if I’m just doing something wrong. Outside of combustion, it just tells you to spam hard cast flamestrike. Just wanted to check if that was the bug mentioned in the post. Thanks so much!

[2021-06-23 11:41] Hekili commented on #1119
There is an issue with Fire Mage that I'll work to resolve for 9.1, but please follow the instructions when submitting a ticket. Thank you!

[2021-06-23 11:41] #1119 closed, assigned to Hekili

[2021-06-23 12:26] Enamax opened #1120 "Enhancemant shaman bug by importing SimC"
Importing SimC for Enhancement Shaman is not working: all Primary/AOE/CD buttons are showing the wind fury weapon buff. (Using the same importing process for elemental shaman is working fine.
Please help :)

[2021-06-23 12:35] Hekili commented on #1120
Don't import.  There's absolutely no need.

[2021-06-23 12:35] #1120 closed, assigned to Hekili

[2021-06-23 16:52] LadyRakael commented on #1117
I've picked up troubleshooting this issue again today. One thing I noticed between my paladin and the other toons when they loaded in. All my other toons would have a notification stating saying "The [spec] and [spec] priorities were updated." When I previously loaded Hekili for my paladin, she never got this text.

This morning, I've temporarily scrubbed the Cache, Interface, and WTF folders. Now

[2021-06-23 17:35] Hekili commented on #1117
It sounds like your Hekili data in your SavedVariables folder must've been corrupted in some way that couldn't be interpreted successfully.  If you kept a copy of that file, I can look and try to see more.  Otherwise, there's no way to replicate and resolve this.  But I'm glad it's working for you now!

[2021-06-23 17:35] #1117 closed, assigned to Hekili

[2021-06-23 17:45] LadyRakael commented on #1117
What is the best way to get you a copy of this file?

[2021-06-23 18:08] Hekili commented on #1117
Pastebin probably works, or hekili.tcn@gmail.com as an attachment.  Thanks!

[2021-06-25 08:23] Lipstopica opened #1121 "Marked for Death cycling issue?"
Obviously it's best to mouseover MfD the lowest target which is what I do most of the time. But I noticed this and thought I would report it just in case it is a bug or it's just how Hekili is with sniping lowest TTD. This was taken with just two dummy targets as an easy cycle as there is only one more target. But this happens just the same in a dungeon with multiple targets. I would tab through e

[2021-06-25 08:34] Lipstopica commented on #1121
Okay... I don't think it disappears when I'm closer to the target. That might've only been because I moved too close and it only showed one nameplate and only one target. But still the issue/bug remains weird due to it not wanting to accept that as lowest ttd to use MfD on when both targets are visible. When main target already has MfD on and MfD is ready to use again.

[2021-06-25 12:36] Hekili commented on #1121
Okay, I'm trying to follow what you're reporting and asking for, so correct me if I miss something.

First, if you want secondary targets to be detected when they don't have a nameplate on screen, you need to (re-)enable damage-based target detection.

TTDs are volatile and update multiple times per second.  Dummies aren't great targets for testing time-to-die logic because they aren't going to di

[2021-06-25 13:41] MPJulian86 opened #1122 "Can we get some love for demonology warlock?"
Demo WL seems to be pretty good in 9.1 but atm when i try at the dummy i get only low tyrants. I tried the opener thats in the warlock class discord and i got a big tyrant but with hekilli i only  get low tyrants. Would love to use this in 9.1.

[2021-06-25 13:56] Hekili commented on #1122
Demonology Warlock only got love very recently in SimC.  All specs will be updated for 9.1.

[2021-06-25 13:56] #1122 closed, assigned to Hekili

[2021-06-25 16:20] Lipstopica commented on #1121
X = Hekili is telling me to target the lowest target ttd which for example in a dungeon a pack of  3-4 mobs and still shows cycle icon even when I cycle through every single target I have there and all the monsters I am in combat with are not classed as lowest ttd.
Y = Cycle should dissapear once I targetted the lowest ttd monster

I did test it on dummies but I did also see it happen in dungeons

[2021-06-26 16:16] ghost opened #1123 "Balance Druid SimulationCraft profile priorities only showing one spell"
**Describe the Bug/Issue**
I loaded a custom rotation from a SimulationCraft profile. After activating it, it showed my opening abilities and was quickly replaced with a  long string of one spell. Even after applying the dot, the addon continued to recommend that I cast moonfire over and over again. The same thing happens with sunfire when AoE mode is activated as well.

**To Reproduce**
I provide

[2021-06-26 16:24] Lipstopica commented on #1123
Why are you pasting a profile into Hekili. It doesn't tell you to do that and you shouldn't do that unless you know what you're doing.
Default Hekili profile already uses the SimC profiles. Hekili has to manually edit the Simc profiles to translate some functions.

[2021-06-26 16:25] Hekili commented on #1123
Basically, what Lipstopica just said.

If you're a power-user who is importing (presumably customized) profiles, you're on your own in terms of any additional translation needed to make them work in the addon.

[2021-06-26 16:25] #1123 closed, assigned to Hekili

[2021-06-28 15:01] Livvvvvvven opened #1124 "When to add a simple rotation of heal?Have been looking forward to this"
When to add a simple rotation of heal?Have been looking forward to this...In 2020, someone mentioned that they started looking forward to it

[2021-06-28 15:37] Hekili commented on #1124
It's not part of the default scope of the addon, so it'll only happen if/when I feel like it and only if/when there's nothing else to work on.

[2021-06-28 15:37] #1124 closed, assigned to Hekili

[2021-06-29 05:06] vicwac opened #1125 "Merge custom action pack with latest updated pack"
Is there a possibility to merge our customized action packs with the latest Hekili updates so we can enjoy the latest priorities while still having our custom inputs?

For example on my BM hunter I have customized recommendations for Exhilaration when health.pct<=50 and Spirit Mend when health.pct<=60, and I'd like to merge that with every update instead of having to manually type it out again.

P

[2021-06-29 06:04] AnxiousLynx opened #1126 "Arcane Mage Rotation"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
The Arcane Mage rotation is quite scrambled after the new upda

[2021-06-29 11:38] Hekili commented on #1125
Nope.

Default priorities get overwritten when updated.

[2021-06-29 11:38] #1125 closed, assigned to Hekili

[2021-06-29 11:39] Hekili commented on #1126
Are you testing on 9.0.5 or 9.1 PTR?

[2021-06-29 12:24] Hekili commented on #1126
The updates that were made were consistent with the updates to the spec's sim profile.

Have you simmed yourself with the new profiles?  Can you give specific feedback in terms of the behavior that's different from your simmed actions?

[2021-06-29 13:26] serpentskiss opened #1127 "AffLock bugs"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Hekili v9.1.0-1.0.1. BugSack reporting a constant stream of th

[2021-06-29 13:31] Hekili commented on #1127
Could you please provide the full error message that you see?  You should be able to copy/paste from BugSack.  Your pastebin link is private or pending moderation, so I can't see it.

[2021-06-29 13:44] serpentskiss commented on #1127
Sorry about that, force of habit :) I've set them to unlisted now

[2021-06-29 13:54] Hekili commented on #1127
You can try to import this priority and see if the errors go away.  This is my planned fix.

```d80wLcqiiHfjbu1JieAtsQ(eH0OaItbOwLKsXRuPywujULKs1Ue6xQKmmvs5yqslJkPNjPKPPsfxJquBtLk5BsayCaj15ujvADeImpvQ6EsO9bK6GecSqvk9qGetuLk1fLakBucGYhvjvOtkbKvciZesKBkPuANsq)eijnucbTuja9ucMQKIRQsQOTQsQGVcKeJvc0Ef8xvmyvDyklgGhtvtwjxg1MvkFwIgTs1PfTAjaYRbQzd1THy3K(TudxsoUkPQLd65enDKRtfBNq9DvIXdjQZtLA9savMpK6(sauTFfhqn

[2021-06-29 14:45] Icenova20 commented on #1116
Thanks for posting this, I had no idea that was a thing, and this lets me keep an eye out an try to manually adjust my play.

[2021-06-29 14:58] serpentskiss commented on #1127
Sorry, work stuff getting in the way. Still the same unfortunately.  Created a new priority, made it active, restarted to make sure, still the same errors:

1905x [string "-- Affliction2:default:7..."]:2: attempt to index field 'cooldown' (a nil value)
[string "-- Affliction2:default:7
return safebool( covenant.night_fae and (not (safebool(variable.trinket_split)) or cooldown.soul_rot.remains>20 o

[2021-06-29 15:03] Hekili commented on #1127
If you go to /hekili > Priorities > Affliction > Action Lists > Action List = default, Entry = 7, and mouseover the Conditions box, what does the tooltip show?  (Screenshot, please.)

[2021-06-29 15:08] serpentskiss commented on #1127
![WoWScrnShot_062921_160725 (2)](https://user-images.githubusercontent.com/20721955/123822522-479ca480-d8f4-11eb-83e7-c57f235b0c6f.jpg)

[2021-06-29 15:10] Hekili commented on #1127
Did you import the priority to a new list (Affliction2)?  If so, are you using the new list?

If you're using the new list, show me Action List = trinket_split_check, Entry = 5.

Also, please paste the output of:

`/dump Hekili.State.trinket.t1`
`/dump Hekili.State.trinket.t2`

[2021-06-29 15:16] serpentskiss commented on #1127
![WoWScrnShot_062921_161207 (2)](https://user-images.githubusercontent.com/20721955/123823615-461fac00-d8f5-11eb-9396-5fe27ed69eff.jpg)
![WoWScrnShot_062921_161339 (2)](https://user-images.githubusercontent.com/20721955/123823621-4750d900-d8f5-11eb-916d-1636367a9d5d.jpg)
![WoWScrnShot_062921_161344 (2)](https://user-images.githubusercontent.com/20721955/123823626-4750d900-d8f5-11eb-8226-087304ba8e

[2021-06-29 15:31] Hekili commented on #1127
You showed me data from Affliction in one screenshot and Affliction2 in the other.  Which priority is active?

[2021-06-29 15:33] serpentskiss commented on #1127
Affliction2 is the active one

[2021-06-29 15:33] Hekili commented on #1127
Show me.

[2021-06-29 15:34] Hekili commented on #1127
And redo this screenshot for Affliction2:
![image](https://user-images.githubusercontent.com/9438134/123826612-ec57bb80-d8cd-11eb-8c31-9cb7e8b41c49.png)

[2021-06-29 15:36] serpentskiss commented on #1127
![WoWScrnShot_062921_163351 (2)](https://user-images.githubusercontent.com/20721955/123827007-2c339880-d8f8-11eb-8ebe-2c58652d3716.jpg)
![WoWScrnShot_062921_163353 (2)](https://user-images.githubusercontent.com/20721955/123827010-2ccc2f00-d8f8-11eb-8255-1a360a091456.jpg)
![WoWScrnShot_062921_163537 (2)](https://user-images.githubusercontent.com/20721955/123827013-2d64c580-d8f8-11eb-86fb-c4759ed349

[2021-06-29 15:39] serpentskiss commented on #1127
I'm thinking that this might actually be fixed, and it's just the presence still of the original priority that's throwing the error?

[2021-06-29 15:42] Hekili commented on #1127
It'd error 1x at load time only.  If it's repeatedly erroring, then the broken list is still active or a bug is still present.

[2021-06-29 17:51] vicwac commented on #1125
Yes I understand that, but could we at least have a function to import and merge our custom defensive cooldowns into every new update so we don't have to type them out again? From my rudimentary understanding of how Hekili is designed, it's possible to cut and paste lines from one action pack to another, correct me if I'm wrong? Just a consideration to implement that would be greatly appreciated.

[2021-06-29 17:54] Hekili commented on #1125
No, that's not something I'll invest time into.  I get it.  But defaults are meant to be updated, that's why they're distinguished as blue.  This is also explained in the wiki.

If you want to preserve your changes and merge them into the updated defaults, you should be making a copy of the defaults and putting your edits into the copy.

[2021-06-29 18:05] vicwac commented on #1125
Yes of course I do make a copy when I add my custom defensives, but if there's an update to the rotation or whatnot then I won't be able to benefit from both that as well as my custom defensives unless I make another copy and re-add all my customs manually. What I'm trying to say is if there's a way for me to cut and paste all my edits into the new copy of the most recently updated priorities, tha

[2021-06-29 18:10] Hekili commented on #1125
Correct, I won't implement what you've asked for in the way you've asked for it.  I have ideas about other ways to allow some customization.  But no promises and no ETA on those.  You'll want to just manually copy your changes over.

The best advice I can give is to make your changes in text form on the Profile tab and then import.  If you go that route, it's easy to copy and paste your changes go

[2021-06-29 18:14] vicwac commented on #1125
Yes that's basically what would work, although if there was a UI function to quickly mass copy over custom edits from one priority pack to another, that would be the sweet spot.

For now I'll just try doing that from the profile tab, thanks for the suggestion, and look forward to your ideas on future customization.

[2021-06-29 18:20] AnxiousLynx commented on #1126
I'm testing on 9.0.5, guess I'll have to wait for tonight's patch to drop. Currently Raidbots is undergoing maintenance, I'll bump this once I get a sim.

But to give a quick example - On pull (tested on a training dummy, single target display, cooldowns and covenant abilities on) it overspams Arcane Missiles way above 18 Harmony stacks, and subsequently recommends to pop RoP into ToTM into AP, wh

[2021-06-29 18:28] Hekili commented on #1126
The way to submit this is to take a snapshot when the problem is occurring, then link that with Pastebin.

Then you can say "It is showing A then B then C, but it should show X then Y then Z, because \<your explanation here\>."

If you can provide that, I'm sure it can be easily resolved.

[2021-06-29 18:41] AnxiousLynx commented on #1126
https://pastebin.com/CGYN4eNW  SNAP 1
https://pastebin.com/4vGYMCVv SNAP 2

In snap 1 I'm capped on Harmony stacks yet the display recommends more AM spam
In snap 2 I already have RoP active, yet the addon wants me to use Arcane Power

These are the examples from the first few seconds of the rotation

[2021-06-29 18:43] Hekili commented on #1126
Perfect.  Thank you!

[2021-06-29 18:43] AnxiousLynx commented on #1126
Thank you so much for the swift responses :)

[2021-06-29 18:45] Hekili commented on #1126
This is the entry that is being used for Arcane Missiles at that point:

[code]

If you remove your Empyreal Ordnance, is it resolved?

[2021-06-29 19:06] AnxiousLynx commented on #1126
Tried unequipping Empyreal, rotation still persists :(

[2021-06-29 19:06] AnxiousLynx commented on #1126
Should I remove it from the item list?

[2021-06-29 19:12] Hekili commented on #1126
No, but you should snapshot again without the Empyreal equipped so I can see the difference.  :)

[2021-06-29 19:23] AnxiousLynx commented on #1126
NO EMPYREAL

https://pastebin.com/UPqnjWBb SNAP 1
https://pastebin.com/QiKJqLeZ SNAP 2

1st snap is still same issue, overlapping Rune and Arcane Power
2nd snap is releasing Barrage too early with no Radiant stacks

[2021-06-29 19:25] Hekili commented on #1126
1st snap does not sound like the same issue of:
`In snap 1 I'm capped on Harmony stacks yet the display recommends more AM spam`

Is `In snap 1 I'm capped on Harmony stacks yet the display recommends more AM spam` resolved or not?

[2021-06-29 19:26] AnxiousLynx commented on #1126
Yes, it doesn't recommend me anymore AM spam, so that one's good.

[2021-06-29 19:29] Hekili commented on #1126
So, the Arcane Power entry that is recommended second comes after Touch of the Magi, which looks written intentionally into the APL.

`actions.harmony+=/arcane_power,if=prev_gcd.1.touch_of_the_magi`

When you can sim, you'll want to see if the same behavior is occurring and potentially ask the mage TCers if it's intentional.

[2021-06-29 19:30] AnxiousLynx commented on #1126
Okay, so for now I can just ignore the RoP recommendation in the opener. When Raidbots come down from maintenance and new patch comes out, I'll be sure to investigate. Thank you

[2021-06-29 19:34] Hekili commented on #1126
For your latest snap 2, Arcane Barrage is cast with 18 stacks of Arcane Harmony.

[code]

`variable.empowered_barrage` is `true`:  `buff.arcane_harmony.stack[18.00] = buff.arcane_harmony.max_stack[18.00] | ( runeforge.arcane_bombardment.enabled[false] & target.health.pct[99.44] < 35 )`

There are no conditionals related to Radiant Spark at this point, so it may be an oversight in SimC.  I'll watch

[2021-06-29 19:40] Hekili commented on #1126
Also, Radiant Spark had > 15 seconds on its CD, so I doubt you'd want to sit on 18 stacks of Harmony for 15+ seconds until you can cast Radiant Spark.  That looks like it's working as intended.

[2021-06-29 19:49] Hekili commented on #1126
Looking over that Empyreal Ordnance logic, it appears intentional as well.

[code]

It's waiting for you to get buffed:
[code]

[2021-06-29 19:57] AnxiousLynx commented on #1126
So just ran a key and everything else seems fine if not for the Rune of Power recommendation. I see your point with the Empyreal now. Still need to see what the sim says

[2021-06-29 19:59] Hekili commented on #1126
That Arcane Power while RoP is already down looks deliberate.  Yeah, I'll leave this open while we wait for sims.

[2021-06-29 21:22] nb41 commented on #1116
@Icenova20 np. There's a really good WA which will tell you if you're MR too early, or DSing under 5, or overcapping RP. It's how I tracked this and knew when to hit my snapshot.

[2021-06-29 23:21] LucianDK opened #1128 "Shaman Primal Elementalist issue"
[primal elementalist snapshot.txt](https://github.com/Hekili/hekili/files/6737032/primal.elementalist.snapshot.txt)
Using build: v9.1.0-1.0.1

I noticed someone had posted a report about Primal Earth Elemental being recommended if a dps Primal Elemental was present.
Mine is the reverse issue.    I use the Primal Elementalist talent, and upon casting Primal Earth Elemental even if its not recommend

[2021-06-30 01:01] izomiac opened #1129 "Add a learning mode"
A nice feature would be to do post-combat analysis of time spent doing nothing, how many times the player used an ability other than what was recommended, how much that decision affected overall DPS for the fight, and why Hekili recommended something different.  That way one can see their potential "mistakes" and learn from them immediately.  I'm envisioning a small window that shows itself after

[2021-06-30 02:36] AnxiousLynx commented on #1126
![paveikslas](https://user-images.githubusercontent.com/86646719/123893346-85351800-d95c-11eb-943b-0f2bc3620c6b.png)

There was indeed no Rune of Power overlapping with AP in the sim where the addon recommended it (after the 11:4 Missiles). This happens later in combat too, when AP comes off cooldown, the addon recommend going Spark -> RoP

[2021-06-30 11:51] Hekili commented on #1126
Go ahead and link the sim so I can compare. Thanks.

[2021-07-01 01:13] Erstyx opened #1130 "Endless stack overflow errors (fire mage)"
**Describe the Bug/Issue**
No recommendations are shown during combat; instead, I get an endless stream of stack overflow errors. The addon can't be paused during this time; I had to disable it just to be able to copy the error out of bugsack.

**To Reproduce**
Log in with add-on enabled.

**Expected behavior**
No LUA errors; recommendations appear.

**Screenshots**
n/a

1.  The information from t

[2021-07-01 02:13] Hekili commented on #1130
Thanks, fix incoming.

[2021-07-01 02:13] #1130 closed, assigned to Hekili

[2021-07-01 02:37] Erstyx commented on #1130
Thanks, but I still had the issue after applying your commit locally. I think the problem is in this block (MageFire.lua:601):

        -- # Delay Combustion for Mirrors of Torment
        -- actions.combustion_timing+=/variable,name=combustion_time,op=max,value=cooldown.mirrors_of_torment.remains,if=covenant.venthyr&cooldown.mirrors_of_torment.remains-25<variable.combustion_time
        if covena

[2021-07-01 03:04] Hekili commented on #1130
Good catch.  Looks like two different stack overflow risks in one release.  Will fix.  Thanks.

[2021-07-01 03:08] Hekili commented on #1130
(There was a third one, actually, too -- but it won't affect you because you're not a Necrolord.)

[2021-07-01 10:33] imarkvisser opened #1131 "Unholy DK rotation snapshotting"
Hi Hekili,

I am using the latest version of the addon and Unholy DK is having issues making suggestions in aoe fights.
 
SNAPSHOT LINK:
https://pastebin.com/XUTdFqiL

Let me know if you need any more info.

[2021-07-01 12:45] Hekili commented on #1131
This may be resolved in the latest (1.0.3) release.  Please let me know either way.

[2021-07-01 12:46] Hekili commented on #1126
I'll need links to sims for further testing, please let me know if you can/will be providing more data.  Thanks!

[2021-07-01 12:47] Hekili commented on #1129
This is something I've considered, but honestly, would ultimately be much lower value than one might expect.  There are lots of good reasons to push something else than what the addon is recommending due to fight mechanics and you're raid's choreography.

I'd recommend using the addon while playing then using a tool like wowanalyzer for the postmortem analysis.

[2021-07-01 12:47] #1129 closed, assigned to Hekili

[2021-07-01 12:48] Hekili commented on #1128
Yes, that was intentional, but I've gone ahead and made a revision in 1.0.3 that will trust that if you have any pet up, it won't try to replace it with a different elemental.

[2021-07-01 12:48] #1128 closed, assigned to Hekili

[2021-07-01 12:48] #1127 closed, assigned to Hekili

[2021-07-01 13:41] imarkvisser commented on #1131
Solved! Thanks man!

[2021-07-01 14:56] Greencatinglasses opened #1132 "Enh shaman profile during ascendance"
THIS IS NOT A BUG BUT AN IMPROVEMENT SUGGESTION.

I frequently notice that during ascendance Hekili addon rotation feels sluggish mainly for the following reason:
After windstrike there is some another cast (LL or something else, it is not important) and after this cast the next cast is not immediately windstrike but some other cast. And only after half of gcd or something like it the cast shown i

[2021-07-01 14:58] Hekili commented on #1132
Please follow the ticket instructions.

**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise de

[2021-07-01 15:37] Greencatinglasses commented on #1132
Please, change ``incompelete'' label or point out what info I should also provide.

[2021-07-01 15:38] Hekili commented on #1132
It's perceived as a bug because this is literally what the Pad Windstrike option is for.

Use Pastebin to link your snapshot, because you didn't paste the complete snapshot.

[2021-07-01 15:45] Greencatinglasses commented on #1132
Is is right? https://pastebin.com/1dyt53L2

[2021-07-01 15:50] Hekili commented on #1132
If that's the entire snapshot, yes.  But it looks like it's cropped short.  I'll investigate.

The snapshot would be more useful if you had more than 1 icon showing.  So I can see that Ascendance is up and it's recommending more than 1 ability between Windstrikes.

[2021-07-01 16:03] drkrox opened #1133 "The world of warcraft sticks with me with this version of hekili"
Good I do this thread for the following problem, in the WOW it does not start me with the current version of hekili, the screen literally stays stuck I do not know what it can be, I uninstalled the addons I reinstalled them and with the only one I have the problem is with hekili, could you give me some help to solve this problem

Thank you

[2021-07-01 16:12] Hekili commented on #1133
It's possible something is corrupted in your saved variables.  You can send me a copy of the Hekili.lua inside your WTF folder for testing.

To (probably) resolve quickly:  Close WoW.  Open WoW\\_retail\_\WTF\Account\<Your Account Name>\SavedVariables.  Delete the Hekili.lua.  Restart WoW.  See if it's fixed.

[2021-07-01 17:21] drkrox commented on #1133
I can't find the file in the place you mentioned
![ADDONS](https://user-images.githubusercontent.com/86793810/124164914-3e841280-da6f-11eb-8ec1-9322bb532915.png)

[2021-07-01 19:07] Hekili commented on #1133
I don't know what else to recommend.  I don't have any information that would help me replicate this.  Can you explain the issue in more detail?

What is the actual version number?

What does this mean?  What screen?  Are you in-game?  Signing into the game?

[2021-07-01 19:44] drkrox commented on #1133
1.- is the last version
![image](https://user-images.githubusercontent.com/86793810/124180018-975ca680-da81-11eb-9262-c41ac16e440b.png)
  2.-  when starting WOW the game stays like this.
When deactivating the addon it works fine normally
![noresp](https://user-images.githubusercontent.com/86793810/124181225-3afa8680-da83-11eb-9285-664b83962cbe.png)

[2021-07-01 20:39] Hekili commented on #1133
Ok, so you do get in-game. Does the game freeze immediately upon logging in? If so, I need to know your character info (talents, covenant, etc.). If not, you can copy/paste from /hekili > Issue Reporting.

[2021-07-01 21:07] Nmxsz opened #1135 "[Feral] - unknown function max:target.time_to_die"
When using the newest 9.1 Feral APL u will not get a suggestion to cast "Ferocious Bite" and "Feral Frenzy".

e.g.
actions+=/ferocious_bite,target_if=max:target.time_to_die,if=buff.apex_predators_craving.up

actions.cooldown+=/feral_frenzy,target_if=max:target.time_to_die,if=combo_points<3&target.time_to_die>7&!cooldown.tigers_fury.up|fight_remains<8&fight_remains>2

actions.finisher+=/ferocious_b

[2021-07-01 21:15] drkrox commented on #1133
_Does the game freeze immediately upon logging in?_
Yes
shadow priest,
covenat Night Fae, niya conduitt
talents
fortrees of the mind
body and soul
searing nigthmare
mind bomb
Auspicius spirits
void torrent
Hungering void

[2021-07-02 03:37] Hekili commented on #1135
If you import your own priorities, you have to deal with translating them for the addon.  `target_if` is not supported.  Where is this 9.1 Feral APL found?

[2021-07-02 03:37] #1135 closed, assigned to Hekili

[2021-07-02 03:42] Hekili commented on #1133
No luck replicating this so far.  What's your gear?  Legendaries?  If you log in without Hekili loaded and change your talents, your gear, your soulbinds, etc., then load Hekili and try again, are you still blocked?

I can't find anything so far.

[2021-07-02 06:32] Nmxsz commented on #1135
This APL was generated by Raidbots

https://www.raidbots.com/simbot/report/9s3zzFS72EugFMtFYAZkzu/simc

[2021-07-02 11:31] imarkvisser commented on #1131
Ahola, it still seems to happen randomly. A lot less though;
Snapshot: https://pastebin.com/qNvY2xhR

[2021-07-02 11:40] Hekili commented on #1135
It's no different or better than the default -- APLs from SimC generally do not change significantly based on gear (or I incorporate the gear-related differences into my default priority). You do not need to import anything. You really don't.

[2021-07-02 11:52] Hekili commented on #1131
FWIW, it's not random.  Auto-snapshots are made when the action list, as written, doesn't result in a recommendation.

The way the Unholy APL is written is really sensitive to timing issues.  I'll look at the scenario and try to sort that out.  Thanks for forwarding the snapshot, because otherwise this is impossible to review.

[2021-07-02 12:11] Hekili commented on #1131
Hey, this actually did catch a bug.  Basically, the addon tries to conserve CPU by narrowing the period of time where recommendations are valid.  However, this didn't reset immediately after a `wait` action, so basically the addon waited and then was not able to recommend anything immediately after.

I have to do some additional testing, but I think this will be sorted in the next release.

[2021-07-02 15:51] drkrox commented on #1133
Hello
today I installed the latest version of hekili and it worked, I don't know what they fixed but now it's fine, thank you very much for everything

[2021-07-02 15:54] drkrox commented on #1133
_No luck replicating this so far. What's your gear? Legendaries? If you log in without Hekili loaded and change your talents, your gear, your soulbinds, etc., then load Hekili and try again, are you still blocked?_

Before it was fixed, it couldn't do anything, it just stayed there on the loading screen just like the previous images.

[2021-07-02 18:05] Hekili commented on #1133
I'm glad it's working.  I don't understand `it just stayed there on the loading screen` considering that your screenshot is not a loading screen, but we'll call it good.  :D  Can you provide a list of addons you're using, just in case I learn later that it's a combination of addons or something?  Thanks.

[2021-07-02 18:05] #1133 closed, assigned to Hekili

[2021-07-02 21:21] ESBVader opened #1136 "Arcane Mage Cooldowns Missing from Suggested Rotation"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

Using version 9.1.0-1.0.3b downloaded 07.02.2021

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and

[2021-07-02 21:29] Hekili commented on #1136
You did not provide all the required information.

[2021-07-02 21:32] ESBVader commented on #1136
Apologies.  Adding it now.

[2021-07-02 21:55] Hekili commented on #1136
`toggles: cooldowns = false`

You have Cooldowns toggled off (which is default).

See /hekili > Toggles.  It's intentional that you can hold CDs and not just burn them all the time (i.e., on trash packs or trivial enemies).

[2021-07-02 21:55] #1136 closed, assigned to Hekili

[2021-07-02 22:42] ESBVader commented on #1136
Thank you so much.  Appreciate your patience with my noob question!  

Sent from Yahoo Mail on Android

  On Fri, Jul 2, 2021 at 5:55 PM, ***@***.***> wrote:

Closed #1136.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-03 14:52] SUU09 opened #1137 "[Fury War] Bladestorm not recommended during AOE rotation"
Hi,

I noticed that during only AOE rotation, Bladestorm is not being recommended.
I'm using latest build v9.1.0-1.0.3c

Link to snapshot:
https://pastebin.com/z1FSRsLV

build: v9.1.0-1.0.3c
level: 60 (60)
class: WARRIOR
spec: fury

talents: anger_management
    bladestorm
    cruelty
    double_time
    massacre
    sudden_death
    warpaint

pvptalents: none

covenant: venthyr

conduits: ashen_j

[2021-07-03 15:16] Elderin1 opened #1138 "Sub rogue Funnel Damage not working correctly"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
Sub priority rotation does not seem to be working correctly. I

[2021-07-03 16:20] Hekili commented on #1138
Thanks, this is a good report.  I've found that moving the `use_priority_rotation` earlier in the Subtlety priority resolves this issue.  It should be before any `call_action_list` or `run_action_list` entries.  I'll prepare the change for later today.

[2021-07-03 17:17] Hekili commented on #1138
This fix is in 1.0.4.  Thanks again.

Also, /hek set allow_shadowmeld should work as well.

[2021-07-03 17:17] #1138 closed, assigned to Hekili

[2021-07-03 17:18] Hekili commented on #1137
This should be resolved in 1.0.4 (AOE list was not properly called).

[2021-07-03 17:18] #1137 closed, assigned to Hekili

[2021-07-03 17:18] sleeper323 opened #1139 "Frost Mage - COOLDOWNS/AOE"
**Describe the Bug/Issue**
When COOLDOWNS is toggled, hekili doesn't want me to AoE using blizzard.

**To Reproduce**
Steps to reproduce the behavior:
- Toggle everything on including cooldowns
- Go to AoE pack

**Expected behavior**
When COOLDOWNS is toggled, and you are in AoE pack, it will tell me to keep pressing my racial button

 SNAPSHOT
**https://pastebin.com/BSQEQMiP:**

[2021-07-03 17:18] Hekili commented on #1131
I believe this is fixed.

[2021-07-03 17:18] #1131 closed, assigned to Hekili

[2021-07-03 17:26] Hekili commented on #1139
I'm not able to replicate this with the information provided.

![image](https://user-images.githubusercontent.com/9438134/124362353-4de79500-dc02-11eb-8b24-f60d08d2a2d3.png)

[2021-07-03 17:26] #1139 closed, assigned to Hekili

[2021-07-03 17:27] Hekili commented on #1132
I'm still not able to see this issue.

![image](https://user-images.githubusercontent.com/9438134/124362457-f990e500-dc02-11eb-9777-909a7032c0dd.png)

![image](https://user-images.githubusercontent.com/9438134/124362510-4ffe2380-dc03-11eb-9b9a-679b9f7904f4.png)

[2021-07-03 17:27] #1132 closed, assigned to nobody

[2021-07-03 17:34] #1126 closed, assigned to Hekili

[2021-07-03 17:34] Hekili commented on #1116
Is this happening in 9.1?

[2021-07-04 20:15] GamingSeat opened #1140 "Necrolord Fleshcraft Classified as Covenant Ability, Should be Defensive"
---Necrolord Fleshcraft Defensive---
Fleshcraft is being suggested mid fight by rotation across multiple specs while covenant abilities are enabled, it should be classified as a defensive as it isn't integral to a dps rotation by default and disabling covenants to get it out of the rotation causes useful abilities like bone spear(rogue), death chakrams(hunter), and other abilities to be cut from y

[2021-07-04 20:31] Hekili commented on #1140
This was intentionally added to your sim priorities.  Do you have sims that show you doing more DPS with the in-combat Fleshcraft removed?

[2021-07-04 20:39] GamingSeat commented on #1140
What would be an easier way to show that as casting fleshcraft is just down time with no damage gains as its purely defensive with no offensive benefits at all

Or how would I specify the non use of fleshcraft in a sim?

[2021-07-04 20:42] Hekili commented on #1140
Link your sim.

[2021-07-04 21:17] GamingSeat commented on #1140
# Nysteji - Outlaw - 2021-07-04 17:15 - US/Thrall
# SimC Addon 9.1.0-01
# Requires SimulationCraft 910-01 or newer

rogue="Nysteji"
level=60
race=blood_elf
region=us
server=thrall
role=attack

talents=2132322
spec=outlaw

covenant=necrolord
soulbind=plague_deviser_marileth:4,323074/241:3:0/323091/230:3:0/323081
# conduits_available=238:3/239:4/241:3/242:3/245:3/246:4/248:3/227:1/240:3/247:3/234:2/

[2021-07-04 21:18] GamingSeat commented on #1140
hope that was what you were asking for? or was it this https://www.raidbots.com/simbot/report/g9FdEgnifyAS9sT5qmeCD3

[2021-07-04 21:33] Hekili commented on #1140
Your sim is using Fleshcraft in combat, as well.

![image](https://user-images.githubusercontent.com/9438134/124400080-edce1d00-dced-11eb-8699-10858e5d9338.png)

[2021-07-04 21:41] lonesniper52 opened #1141 "Bloodthirst with Fresh Meat doesnt tell me to target swap"
**Describe the Bug/Issue**
I have Fresh Meat talented, Recommend target swaps checked. Hekili still doesnt tell me to bloodthirst another target

**Expected behavior**
to recommend me to bloodthirst another target to keep enrage up

**WHEN SUBMITTING AN ISSUE:**

Please provide the following information.  Leaving it out may result in your ticket being ignored (because I won't have the information

[2021-07-04 22:01] GamingSeat commented on #1140
Yes i know, im saying it shouldnt at all, its flat down time, when i do it myself and IGNORE this piece of the rotation it leads to higher dps consistently in dungeons/boss fights, but the problem is the rotation is suggesting i use it when it should not be using defensive abilities with no offensive throughput in the middle of a rotation.

I dont make custom sims nor do I know how to remove the f

[2021-07-04 22:43] Hekili commented on #1140
It's used because it's not exclusively defensive with your soulbinds. There are buffs that you are foregoing if you don't use Fleshcraft.

You can disable Fleshcraft or set it up as a defensive ability in /hekili > Abilities > Fleshcraft.

[2021-07-05 04:14] nb41 commented on #1116
Definitely still happening--I just updated to the latest version of Hekili and can do another snapshot if you need one.

[2021-07-05 04:15] Hekili commented on #1116
Sure.

[2021-07-05 12:59] Hekili commented on #1116
The next release will have a rather haphazard (and impossible to really test in sims) change that will prioritize Marrowrend if Bone Shield is under 5 stacks and it won't overcap RP.

[2021-07-05 12:59] #1116 closed, assigned to Hekili

[2021-07-05 13:03] Hekili commented on #1140
Good news.  Other specializations' priorities are rolling in via SimC that include Fleshcraft-in-combat related logic.  I am rolling that logic into the Rogue APLs and we'll see how this appears to perform.  The notable difference is, if Fleshcraft is recommended due to the Volatile Solvent, the recommendation will interrupt -- the addon's recommendations should show you using your next ability im

[2021-07-05 13:03] #1140 closed, assigned to Hekili

[2021-07-05 13:43] Hekili commented on #1141
Thanks, this helped identify an issue -- Bloodthirst damage to secondary targets via Whirlwind was treating those secondary targets as having been hit by Bloodthirst with Fresh Meat.  I've put together a fix that seems to work.  I've also integrated some APL logic to better support this, though it may require additional tuning.

Basically:
1. Is Enrage up?  Then feel free to keep Bloodthirsting yo

[2021-07-05 13:43] #1141 closed, assigned to Hekili

[2021-07-05 16:32] Greencatinglasses commented on #1132
Could it be the problem when only one icon is showing? Maybe I should provide a movie or?

[2021-07-05 17:56] wolf654 opened #1142 "SV Hunter nessingwary's trapping apparatus not recommending freezing/tar traps"
Hi, First thank you so much for the add-on. Ive found that while using NTA legendary, the add-on does not recommend Freezing or Tar traps as part of the rotation. According to sims, they should be there on CD. After rooting around a bit, I did see the Action list in the add-on does have an "nta" entry. Im not sure why, or if it is significant, but this entry and a few others are white while "defau

[2021-07-05 19:29] Hekili commented on #1142
Please follow the instructions when submitting an issue ticket.

[2021-07-05 19:30] mati3464 opened #1143 "Cancel bladestrom fury warrior not recomending"
Cancel bladestrom not in recomendations after update and i didint change anything

**PUT ISSUE REPORT LINK HERE:**

build: v9.1.0-1.0.5
level: 60 (60)
class: WARRIOR
spec: fury

talents: anger_management
    bladestorm
    cruelty
    fresh_meat
    massacre
    storm_bolt
    warpaint

pvptalents: none

covenant: venthyr

conduits: ashen_juggernaut = 7
   brutal_vitality = 6
   depths_of_insanity

[2021-07-05 19:49] wolf654 commented on #1142
Okay,

1-v9.1.0-1.0.5 (2021-07-05)
2-I can find no other posts regarding this issue.

**To Reproduce**
Equiping Nessingwary's legendary does not result in freezing and tar traps to be included in the rotation.

**Expected behavior**
Equiping Nessingwary's legendary should result in freezing and tar traps be included in the rotation.

**PUT ISSUE REPORT LINK HERE:**
https://pastebin.com/bipM5MxY

*

[2021-07-05 19:51] Hekili commented on #1142
I'll take a look, but it's much easier if you put those on Pastebin and supply the links here.

[2021-07-05 20:17] mati3464 commented on #1143
Updated pastebin:

https://pastebin.com/wbvKxSYp

Video: Recomendations are in top left corner for this test , i get 100 rage + execute phase

https://www.youtube.com/watch?v=82KBaPPk-ms

[2021-07-05 20:26] wolf654 commented on #1142
Gah sorry, if it isn't obvious yet, <noob. And thanks again.

[2021-07-05 21:07] Hekili commented on #1142
The entry that calls the "nta" list uses `runeforge.nesingwarys_trapping_apparatus.equipped` -- the addon doesn't use `equipped` for that field right now.  It'll be fixed later this evening.

[2021-07-06 22:13] wolf654 commented on #1142
Thank you!

[2021-07-07 02:10] Oiysters opened #1144 "Balance Druid - Not Showing Cooldowns (in boss fights?)"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-07-07 02:13] Oiysters commented on #1144
The addon does not seem to be recommending cooldowns like Convoke or Berserk at all.

build: v9.1.0-1.0.6
level: 60 (60)
class: DRUID
spec: balance

talents: heart_of_the_wild
    incarnation
    natures_balance
    new_moon
    restoration_affinity
    stellar_flare
    wild_charge

pvptalents: none

covenant: night_fae

conduits: conflux_of_elements = 6
   front_of_the_pack = 5
   fury_of_the_sk

[2021-07-07 02:13] Oiysters commented on #1144
Sorry, closed by mistake, first time posting a ticket.

[2021-07-07 02:22] Oiysters commented on #1144
https://pastebin.com/Fj02Yhcu

[2021-07-07 02:36] Hekili commented on #1144
Thanks.  Can you go to /hekili and see if there is a Warnings section appearing in the left column.  If so, can you screenshot that section and show me what's in the dropdown?  I think it'll probably mention soulletting_ruby_345801 or some such.

[2021-07-07 02:39] Oiysters commented on #1144
There is not a Warnings choice in the list.

[2021-07-07 02:40] Oiysters commented on #1144
I am still in the same raid, if that matters.

[2021-07-07 03:15] Arcrysth opened #1145 "Use a title that describes the problem scenario."
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**To Repr

[2021-07-07 03:18] Arcrysth commented on #1144
I got the exact same problem. And it happens only in BOSS fights because as soon we are done with the fight and go to trash the addon turn back to normal and recommend CA/Venthyr Frenzy thing... Just happened to me a few moments ago just like you.

[2021-07-07 03:18] #1145 closed, assigned to Hekili

[2021-07-07 03:18] Arcrysth commented on #1145
nvm

[2021-07-07 03:28] Hekili commented on #1144
Can you post your own snapshot, so I can compare?

[2021-07-07 13:13] Hekili commented on #1144
I don't think 1.0.7 will fix it, but it might -- can you test and post new snapshots?  There are priority updates and some code changes that *might* resolve this, or at least provide more information about the situation.

[2021-07-07 13:22] Hekili commented on #1144
Do each of you have 1 on-use trinket and 1 passive trinket?  Is your on-use trinket IQD, Empyreal Ordnance, or Soul-letting Ruby?

[2021-07-07 15:35] Wraithlord45 commented on #1144
Posted on Discord but will post here too. https://pastebin.com/2RqZy5XF Testing on a training dummy it won't recommended Incarn/Ravenous Frenzy/Berserking.

[2021-07-07 16:40] SpatenLa opened #1146 "Enhancement Shaman Windfury Totem"
**BEFORE SUBMITTING AN ISSUE:**

1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.
Latest

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
A clear and concise description of what the bug is.

**

[2021-07-07 16:48] Hekili commented on #1146
It's weird -- the addon can't see that you have Windfury Totem applied.  Can you see the spell ID for Windfury Totem when you drop it?

[2021-07-07 16:50] SpatenLa commented on #1146
327942, but could also be a issue with the worldboss because that thing is a bit weird wit LoS

[2021-07-07 16:57] Hekili commented on #1146
I think the compromise here is to not allow Windfury to be recast while Doom Winds is up at all.  So I'm trying that.

[2021-07-07 17:12] Hekili commented on #1144
1.0.7a should resolve this -- the issue was the addon would let you pop your trinket before your CDs due to a translation error.  However, I'm concerned that the priority, as written, may still fail if you decide to use your trinket early, so submit a new ticket with a snapshot if you see problems similar to that.

Thank you!

[2021-07-07 17:12] #1144 closed, assigned to Hekili

[2021-07-07 17:13] Hekili commented on #1146
1.0.7a should prevent this, though the addon will still be spammy about WFT outside of Doom Winds if there are LOS issues.

[2021-07-07 17:13] #1146 closed, assigned to Hekili

[2021-07-07 17:13] Hekili commented on #1142
This is resolved -- the addon can now handle misspelled nesingwarys vs. nessingwarys.

[2021-07-07 17:13] #1142 closed, assigned to Hekili

[2021-07-07 17:14] Hekili commented on #1143
We resolved this in Discord.

[2021-07-07 17:14] #1143 closed, assigned to Hekili

[2021-07-07 17:54] panchitojr opened #1147 "Balance CDs are not being requested"
Convoke (only deep into the rotation) and Incarnation (not at all) are not being suggested.

including the 2 paste bin of a test dummy fight. let me know if you need any more info.

https://pastebin.com/ukLzVYFD

https://pastebin.com/sx1RNPjd

[2021-07-07 17:56] Wraithlord45 commented on #1147
having similar issue with Venthyr druid. trinket is recommended but not Incarn/Frenzy
https://pastebin.com/iA9K8Nd3
https://pastebin.com/mxEPPxfX
https://pastebin.com/HHmYNFjs
https://pastebin.com/1s81DRNr

[2021-07-07 18:13] Wraithlord45 opened #1148 "Balance Druid Priority only suggesting trinket and not CDs"
Downloaded most recent update and tried the priority on training dummies. Incarn/Frenzy is not being recommended but IQD is now.

https://pastebin.com/iA9K8Nd3
https://pastebin.com/mxEPPxfX
https://pastebin.com/HHmYNFjs
https://pastebin.com/1s81DRNr

[2021-07-07 18:16] Hekili commented on #1147
Downloaded most recent update and tried the priority on training dummies. Incarn/Frenzy is not being recommended but IQD is now.

pastebin.com/iA9K8Nd3
pastebin.com/mxEPPxfX
pastebin.com/HHmYNFjs
pastebin.com/1s81DRNr

[2021-07-07 18:17] Hekili commented on #1147
Snapshots before getting into combat and even getting into Moonkin Form aren't really useful.  Remember that snapshots should be taken when the problem you're concerned about are happening.  I.e., your trinket is recommended before your CDs.

[2021-07-07 18:22] Hekili commented on #1147
If you swap your trinket slots, do you notice any change?  Can you sim yourself and provide a Raidbots link?

[2021-07-07 18:24] Wraithlord45 commented on #1147
Yeah, I swapped IQD with Unbound Changeling and it recommends CA/Frenzy properly.

Raidbots sim https://www.raidbots.com/simbot/report/t5W4ntyPvKaqvQNTYFMfeB

[2021-07-07 19:55] Hekili commented on #1147
Try 1.0.7b-beta1 when it's finished building.

[2021-07-07 20:04] Arcrysth commented on #1144
Idk if the error would occur on Raid Dummy too, but I can test.

I was using 2 on-use, IQD and Bell.

[2021-07-07 20:22] panchitojr commented on #1147
I am still having the no incarn issue with late convoke. but also, while looking at the snapshot its stating i have incarn toggled off. i dont know why when i have CDs enabled. could i be missing something?

https://pastebin.com/Ncjc39e1

[2021-07-07 20:35] Hekili commented on #1147
Can you quote the part where you think it says Incarnation is toggled off?

[2021-07-07 20:36] Hekili commented on #1147
Oh wait, I see it.  Do you have cooldowns shown separately?

[2021-07-07 20:38] panchitojr commented on #1147
no. only change ive done from default was add convoke to the cooldowns on the toggles.

[2021-07-07 20:42] Hekili commented on #1147
You have your cooldowns toggle turned off, and Incarnation is a cooldown by default.

[2021-07-07 20:45] panchitojr commented on #1147
In the setting menu i have it enabled which is why convoke comes up but late in the rotation. even with the shortcut key i toggle it to show cooldowns: on.

[2021-07-07 20:46] Hekili commented on #1147
`toggles: cooldowns = false`

If you have a similar problem with Cooldowns toggled on, you'd need to submit a snapshot showing that.

[2021-07-07 20:53] panchitojr commented on #1147
Here is my snapshot with CDs off.

https://pastebin.com/NK1i9RVJ

now its stating that the cooldowns + true while in fact are off. hence no convoke or incarn. so weird.

[2021-07-07 20:54] Hekili commented on #1147
I think you're mistaken.  You can show screenshots of your Toggles tab along with your snapshot, though.

[2021-07-07 21:03] #1147 closed, assigned to nobody

[2021-07-07 21:03] #1148 closed, assigned to Hekili

[2021-07-07 21:23] Arcrysth commented on #1144
Click here and press CTRL+A, CTRL+C to copy the snapshot.

build: v9.1.0-1.0.7a
level: 60 (60)
class: DRUID
spec: balance

talents: fury_of_elune
    incarnation
    mighty_bash
    natures_balance
    restoration_affinity
    stellar_flare
    wild_charge

pvptalents: none

covenant: venthyr

conduits: born_anew = 6
   endless_thirst = 6
   tough_as_bark = 6
   wellhoned_instincts = 5

soulbinds:

[2021-07-07 21:26] Arcrysth commented on #1144
This is a snapshot from the World Boss in Maw, idk if I did right, just pressed the binding when I realized the problem was still occuring. I have the the most recent version, just downloaded the latest version before start playing. The addon recommend trinkets but no CA/Frenzy.

[2021-07-07 21:32] Hekili commented on #1144
Update, and remember to use pastebin for snapshots.

[2021-07-07 23:28] Arcrysth commented on #1144
Updated and still not working on Raid Dummy. I will try at core today and report here if something diferrent happens.

[2021-07-07 23:38] Hekili commented on #1144
Why not just include a snapshot now if you're seeing the problem now?

[2021-07-08 03:38] Arcrysth commented on #1144
Just reporting: It worked perfectly today on Raid. I don't get it why it doesnt work in Boss Dummy but it doesn't matter for me anyway, it worked when needed.

I don't have pastebin account! I have to create one. :(

[2021-07-08 08:07] biehlieh opened #1149 "Kyrian MM Hunter Rotation APL seems very off. (Especially Trueshot Rotation)"
1.  Check to see if you are using the latest version of the addon.  If there is a newer alpha/beta/release version, see if your problem exists with the new version.

I am using v9.1.0-1.0.7b

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

I did not find anything regarding kyrian MM hunter, only survival issues.

**Describe the Bug/Is

[2021-07-08 12:03] Hekili commented on #1149
Compare to your sim, not to a guide.  Can you link your sim?

[2021-07-08 12:05] Hekili commented on #1144
No, you don't.

[2021-07-08 12:11] biehlieh commented on #1149
https://www.raidbots.com/simbot/report/2RHYG5ULJDs1tTPwoENTVJ

this is my sim. while yes, the opener seems to be somewhat like in hekili (double steady, then double tap into cooldowns) it still uses aimed shot after entering trueshot.

[2021-07-08 12:32] Hekili commented on #1149
It's becoming a bit more common for sim behavior and what people write in guides not to match up 1:1.  My addon design is based on following what's proven in SimC.  Azor could update the priority in SimC or have someone do it if his guide is more performant.

The sim priority will recommend Double Tap pre-combat if it expects there to be multiple targets -- which the addon won't do unless you are

[2021-07-08 12:41] Hekili commented on #1149
Sorry, trying to pull out any unresolved issues you noted -- it's really helpful if you make a bulleted list rather than sprinkling them throughout.  You did do a great job of supplying data, so I appreciate it.

Please be more specific and describe the "weird behavior."

The example here is useful, "very weird" is less useful.  The way to see why this is happening is to take a snapshot when you t

[2021-07-08 13:26] biehlieh commented on #1149
Thank you for your very detailed answer. Sorry for being so vague in my descriptions, it is my first time contacting an addon dev :) plus i am not used to github.

Sadly my gif seems to be taken down, if you want, i can try to upload another one. Let me try to be more descriptive with "weird behaviour":

- after activating Resonating Arrow and Trueshot, i am at full focus. this is where i would ex

[2021-07-08 13:27] Hekili commented on #1149
You've done well.  Can you provide specific snapshots where you're having the specific issue you describe?  For example:

Does one of your snapshots show this?

[2021-07-08 13:40] biehlieh commented on #1149
Hey, thanks for the quick reply.

i have added some more pastebins (i took a few snapshots in the timeframe of about 1 second, just to be safe)
- https://pastebin.com/dG7QGBsa
- https://pastebin.com/fGbkqBQ8
- https://pastebin.com/Karw7Uyn

plus an image of the rotation recommendation before activating the cooldowns:

- https://imgur.com/a/LNE9jD1

I hope it is easy to see that i am at 100 focus t

[2021-07-08 13:58] Hekili commented on #1149
It looks like there are some significant differences in the SimC MM APL that I didn't catch for the addon's translation.  I'll post a beta build for you to test and let me know if it makes any difference.

[2021-07-08 14:00] biehlieh commented on #1149
Very cool, Thanks!

[2021-07-08 14:26] Hekili commented on #1149
Okay, 1.0.8-beta1 is being built right now.  If you could test, that would be great.  The best way to do that is like you did most recently -- a bullet for each remaining issue with the snapshot showing that issue immediately underneath it.

* Issue 1
  * Snapshot 1
* Issue 2
  * Snapshot 2

Thanks for your thorough reporting.

[2021-07-08 15:15] biehlieh commented on #1149
Hi again!

I have tried it and it seems like the issues have been solved. It now starts the trueshot rotation with Aimed Shot and follows up with Rapid fire and Arcane/Aimed shot.

If you want, i can still send you a snapshot of how it works now, otherwise i think my issue has been solved.

Thanks so much!

[2021-07-08 15:43] Hekili commented on #1149
Nope, if there's no problem, no more info is needed.  Thanks for reporting, following up, and testing so quickly.  Take care!

[2021-07-08 15:43] #1149 closed, assigned to Hekili

[2021-07-08 19:05] superrior opened #1150 "Ret Paladin not spending when Final Reckoning and Seraphim are desynced."
well i have more than enough holy power and it keeps recommending crusader strike etc the and sometimes it doesnt recommend using big cds  like final reckonning when its up. i would expect it to work like it works when u test it on dummies and it works great then but when u do mythic+ or something it starts bugging on bosses.

snapshot:
https://pastebin.com/y7vEHvY6

[2021-07-08 19:14] Hekili commented on #1150
Tell me about the time you took the snapshot.  You have 4 Holy Power and it recommended Crusader Strike.  What did you think should've been recommended at that time?

[2021-07-08 19:42] Hekili commented on #1150
So far, it looks like you'd used Final Reckoning in a very-desynchronized-from-Seraphim sort of way, which the priority isn't really written to recover from.  But it is something that could happen, so I should probably resolve it.  The issue is, it'll be challenging to figure out how long to hold Seraphim for in order to resync them.

[2021-07-08 21:41] munkafan opened #1151 "Balance Druid not using CDs with the new trinket from raid (see wowhead link)"
Snapshot:
https://pastebin.com/rwsyak7V

Trinket:
https://ptr.wowhead.com/item=186422/tome-of-monstrous-constructions?bonus=4799:4786:1485&ilvl=239#dropped-by

Sim:
https://www.raidbots.com/simbot/report/o8tMyvTJuZPhA5MdG26yz

[2021-07-08 23:02] Hekili commented on #1151
This may be fixed in 1.0.8a-beta1, please test and let me know.

[2021-07-08 23:02] Hekili commented on #1150
This may be fixed in 1.0.8a-beta1, please test and let me know.

[2021-07-08 23:03] Hekili commented on #1113
Sorry the taking a month to respond.  I believe this has been fixed in 9.1, but if you still see it, please reopen or respond to this ticket.  Thanks!

[2021-07-08 23:03] #1113 closed, assigned to Hekili

[2021-07-08 23:03] Hekili commented on #1097
I believe this has been fixed.  Can you confirm?

[2021-07-09 02:50] derekengel opened #1152 "Border Option Not Disabling"
I am using version v9.1.0-1.0.8.  I open the configuration of the addon, go to Displays > Primary  > Border, and uncheck enable.  This does not seem to do anything.  To verify I also tried changing the border color to something like red.  When selecting this color and going back in, it just goes back to the default color.

The goal is that I also use Masque and would like to get rid of the borders

[2021-07-09 03:25] Hekili commented on #1152
Load Hekili by itself and see if the border is removed.  It looks to me like you have multiple addons skinning it.

[2021-07-09 09:22] geraint425 opened #1153 "[Survival] icon does not change when using a frag bomb twice."
**BEFORE SUBMITTING AN ISSUE:**

1.  build: v9.1.0-1.0.8a-beta1

2.  Check to see if someone else has already opened an issue report here.  Please don't submit repeat reports.

**Describe the Bug/Issue**
When using a shrapnel bomb, the icon does not change. Occurs when shrapnel bomb needs to be used 2 times.

**To Reproduce**
Steps to reproduce the behavior:
I start the fight.
I'm using Serpent St

[2021-07-09 12:11] Hekili commented on #1153
What am I supposed to be seeing in your screenshot?

[2021-07-09 12:23] geraint425 commented on #1153
Well, it shows in the center on WA that at the moment I have a red shrapnel bomb and the addon shows a blue shrapnel bomb. Plus, you can also see that the first blue shrapnel bomb was used. Since the debuff from the blue shrapnel bomb hangs on the target, plus, again, WA shows in the center the buff from the blue shrapnel bomb. You have previously corrected this problem, She got out again.

[2021-07-09 14:11] derekengel commented on #1152
Yes that did the trick.  Thank you for the prompt reply.

[2021-07-09 14:11] #1152 closed, assigned to nobody

[2021-07-09 15:18] Naik93 opened #1154 "[Bug] Cd not show"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an existing, open ticket for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

I use the addon on my rogue and balance, but in the rotation don't show shadow blade or the

[2021-07-09 15:21] Hekili commented on #1154
Cooldowns are toggled off by default, so that you can control when you want them to show up.  See /hekili > Toggles.

[2021-07-09 15:21] #1154 closed, assigned to Hekili

[2021-07-09 15:47] jozef3d opened #1155 "[Bug] Boomkin - Celestial Alignment not suggested with Darkmoon Card trinket"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an existing, open ticket for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

I have cooldowns to show up separately, and it seems that Celestial alignment doesn't displa

[2021-07-09 15:51] Hekili commented on #1155
Please take a snapshot (alt-shift-p) and put in on pastebin and then link here. Thanks.

[2021-07-09 20:54] Hekili opened #1156 "[FEATURE] Update Issue Tickets to have clearer requirements."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

It would be great if the issue ti

[2021-07-09 20:57] Hekili commented on #1156
Resolved.

[2021-07-09 20:57] #1156 closed, assigned to Hekili

[2021-07-09 21:03] Hekili commented on #923
<details>
<summary>Ignore this, just testing markdown stuff.</summary>
Nonsense text goes here.
</details>

[2021-07-09 23:49] imarkvisser commented on #1155
Ahola Hekili, I'll do it for him. I was having the same issue. When I am not wearing the darkmoon trinket the cooldowns are being used properly, otherwise not.

Character data;
https://pastebin.com/w2jcMABL

Snapshot;
https://pastebin.com/ptc5rGp3

The snapshot is before starting combat. Let me know if I need to provide a snapshot for after casting the Darkmoon trinket

[2021-07-10 00:39] Hekili commented on #1155
Thanks for the report.  I *think* 1.0.9 solves this, but I thought 1.0.8 did, too.  I basically revised my translation of the SimC priority's `on_use_trinket` variable.  Other trinkets might be affected as well, so I'll leave this open for more feedback.

Please let me know if 1.0.9 resolves this for the Darkmoon trinket.

[2021-07-10 01:18] imarkvisser commented on #1155
That seems to solve it. Cheers mate.

[2021-07-10 11:58] imarkvisser commented on #1155
Hmm today I am having the same issue again, I don't really understand why;
https://pastebin.com/i79MasL6

It won't recommened anything but the on_use_trinket trinket. If I cast Celestial Alignment myself then the other CD's start being recommended.

[2021-07-10 12:03] imarkvisser commented on #1155
Here is another snapshot from right after using the on_use_trinket;
https://pastebin.com/QXB0sUNQ

[2021-07-10 13:14] gi2k15 opened #1157 "[BUG] Error fired when clicked on the "Issue Reporting" tab"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

This e

[2021-07-10 14:17] Hekili commented on #1157
Thanks, this one is painfully ironic and funny.  Looks to be simple to fix.

[2021-07-10 15:01] Hekili commented on #1157
I have a testfix going into 1.0.10-beta1 in a few minutes.  Can you give me some character information since Issue Reporting wasn't working for you?  How do I replicate this?  Ret Paladin?  Any spec?  Every spec?

[2021-07-10 15:18] Hekili commented on #1155
From what I can see in these snapshots, the issue is not related to trinkets.

In these cases, the logic that's blocked is re: burning CDs at the last second of a fight.  The cooldown entries that normally would've been used were based on burning CDs as a fight ends, which I treat as bossfight logic.  (You don't want to pop all CDs right before you pull a boss.)  Otherwise, it looks like you were

[2021-07-10 15:45] geraint425 commented on #1153
I saw that you made more changes to the addon. I installed them, but the problem remained. I suppose that maybe this is due to the fact that when we play through traps, the addon cannot understand whether the trap has flown or not. Here are the same conditions for the campaign. I assume that this problem cannot be fixed. For the addon, I see, starts its ability when they touch the target, and if s

[2021-07-10 15:45] #1153 closed, assigned to Hekili

[2021-07-10 15:47] geraint425 commented on #1097
Yes, this problem is fixed thanks

[2021-07-10 15:47] #1097 closed, assigned to Hekili

[2021-07-10 15:47] #1086 closed, assigned to Hekili

[2021-07-10 15:47] #1085 closed, assigned to Hekili

[2021-07-10 15:52] gi2k15 commented on #1157
Weird, I've tested with other toons now and it's working. Went back to my main (ret pally) and started working again too. Maybe an addon conflict?

build: v9.1.0-1.0.9
level: 60 (60)
class: PALADIN
spec: retribution

talents: cavalier
    divine_purpose
    final_reckoning
    fires_of_justice
    repentance
    selfless_healer
    zeal

pvptalents: none

covenant: kyrian

conduits: focused_light

[2021-07-10 16:21] Hekili commented on #1150
I will close this ticket tomorrow if there are no further updates.  Thanks.

[2021-07-10 16:21] #1151 closed, assigned to Hekili

[2021-07-10 17:25] lonesniper52 opened #1158 "[REC] Fury Warrior Reckless Abandon Issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-10 17:32] #1158 closed, assigned to Hekili

[2021-07-10 21:34] larskeizer opened #1159 "[REC] Elemental Shaman - Frost Shock during movement"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-11 01:50] Hekili commented on #1159
This is not an uncommon request.  The problem is, do you want the addon to tell you the best thing to do or just what you can do while you're moving?  The addon has no way of knowing if you can/will stop moving imminently or not, and you already know that you can always hit Frost Shock, so do you need the addon to call that out?

Generally speaking, your optimal DPS decision is to stop moving and

[2021-07-11 09:26] roreycorey opened #1160 "[REC] Gaurdian druid not showing aoe rotation properly"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-11 10:30] larskeizer commented on #1159
Hmmm, you do make a great point. In that case, potentially, might it be possible to have a new separete button in hekili that can be turned on or off? Like a "filler button" that lights up when you're moving and isn't replacing the other recommendations. During the normal rotation it would be greyed out. Naturally I have no idea how this would work coding wise as you're all doing the hard work, an

[2021-07-11 13:33] Hekili commented on #1160
Thanks for the details.  The comparison to be made isn't guide vs. addon, it would be sim vs. addon.  Could you sim yourself (in an AOE scenario) and link your sim on Raidbots?  Thanks!

Also, keep in mind, you have a spec option available that will cause you to use Mangle more often.  See /hekili > Guardian.

[2021-07-11 13:54] Hekili commented on #1159
It's possible, but possibly not incredibly valuable.  In this case, it would simply be telling you to Frost Shock as you move (if SWG is not up and on CD).

You can already accomplish most of this with your own custom priority, but that has its own caveat that you'll have to manually make updates if/when I update the defaults.  See https://github.com/Hekili/hekili/wiki/Frequently-Asked-Questions.

[2021-07-11 13:54] #1159 closed, assigned to Hekili

[2021-07-11 14:02] larskeizer commented on #1159
Hey,

Thank you very much for taking the time to write this thorough guide/custom priority!

Much appreciated!
________________________________
Van: Hekili ***@***.***>
Verzonden: zondag 11 juli 2021 15:54
Aan: Hekili/hekili ***@***.***>
CC: larskeizer ***@***.***>; Author ***@***.***>
Onderwerp: Re: [Hekili/hekili] [REC] Elemental Shaman - Frost Shock during movement (#1159)

It's possible, but p

[2021-07-11 16:33] Xiaoyang-Huang commented on #1080
I just found this issue may related to another plugin: 'Bartender4', the keybinds is just back after I disabled BT4

[2021-07-12 09:52] imarkvisser commented on #1155
Hi Hekili,

If I have all CD's available and target a full health rare boss it won't recommend any CD's except for the darkmoon trinket;
https://pastebin.com/HP8XYjwv

[2021-07-12 12:07] Hekili commented on #1155
This snapshot looks like it was done before pulling, so there's not a lot of useful information in it.  I'll remove some boss-related checks.

[2021-07-12 12:21] Hekili commented on #1155
Try v9.1.0-1.0.11-beta1 when it comes online in a moment.

[2021-07-12 12:59] imarkvisser commented on #1155
Working great now as usual. Thanks mate.

[2021-07-12 13:04] Hekili commented on #1155
Thanks for the quick response.

One thing I'm going to have to keep in mind is that the Balance priority is another one that is not very friendly to testing on target dummies (which was not the issue you were having).  But time-to-die calculations get very wonky on target dummies since they won't actually die.

I'll leave this open for now because I anticipate there still might be some weird cases

[2021-07-12 13:18] imarkvisser commented on #1155
Thanks for the advice, I'll enable Enhanced Recheck, if I spot anything weird with it I'll report back. :)

[2021-07-12 15:58] geraint425 opened #1161 "[SURV] Doesn't often use bombs in AOE scenarios"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-12 16:09] Hekili commented on #1161
See if 1.0.11-beta2 resolves this and let me know.

[2021-07-12 16:33] Niazevedo opened #1162 "[REC] Tranquil shot not recommended for BM Hunters when enemies are affected by rage."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-12 16:38] Hekili commented on #1162
Please submit a snapshot of this scenario or the ticket will be closed.

[2021-07-12 16:50] Hekili commented on #1162
I don't see this:

![image](https://user-images.githubusercontent.com/9438134/125326034-9ba18300-e30f-11eb-8f6c-aa8a446a3cde.png)

https://pastebin.com/gD2hrFmv

[2021-07-12 17:01] geraint425 commented on #1161
The problem also remained, he still holds 1 bomb until the next one rolls back. He does not use them on CD. Here is attached without recommend target swaps https://pastebin.com/TWZkmL42

But with the use of recommend target swaps, everything works more or less stably, except for what happens when you need to update the Serpent Sting on targets, we then have a delay in bombs https://pastebin.com/Xw

[2021-07-12 17:05] theitan opened #1163 "[Bug] Feral Druid - Starfire suggested during solar eclipse"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-12 17:15] Hekili commented on #1161
In your new snapshot, Kill Command's criteria passed before the addon would reach the entry where Wildfire Bomb would've been used.  Do a snapshot once Kill Command is on cooldown.

[2021-07-12 17:18] geraint425 commented on #1161
I am adjusting https://pastebin.com/yBHDM0ff.

[2021-07-12 17:23] Hekili commented on #1161
That snapshot correctly uses Carve because Carve with Shrapnel Bomb ticking is higher priority than the other Wildfire Bomb entry.

[code]

There's a high priority Wildfire Bomb entry that uses WfB when you're close to capping charges.

The next WfB entry is halfway down the list, after several entries for other abilities.  So far you haven't supplied a snapshot where higher priority abilities wer

[2021-07-12 17:25] geraint425 commented on #1161
Okay, I’ll try to go to Raid and M + again and check there again. Just looking at the Simc rotation I saw Wildfire Bomb being used more often.

[2021-07-12 17:29] Hekili commented on #1161
Yeah, just remember, snapshots are for when you think it should show something *now* and it's not showing it.  So far, the examples you've provided always had a higher priority action ready to go.

I did remove an old restriction on usage of Wildfire Bomb from the addon code, and it may be more subtle than you realize.  You still have a lot of buttons to press before using your second Wildfire Bom

[2021-07-12 17:31] Hekili commented on #1163
Have you simmed your character to see if the same thing happens in your sims?  If so, provide a link.

[2021-07-12 17:34] Hekili commented on #1161
![image](https://user-images.githubusercontent.com/9438134/125331102-8891b180-e315-11eb-83e7-3540f667bf10.png)

Here's my Survival Hunter having the later Wildfire Bomb recommended.

[code]

[2021-07-12 17:52] Hekili commented on #1163
Okay, definitely found an issue there.  One challenging piece is that for Balance, Eclipse states update on cast.  For Feral, they update on impact.

[2021-07-12 18:01] p4nchez commented on #1162
is guess it came from the default entry with "! target.is_player" for Tranq shot ?

i allways add Tranquil Shot myself under prioritys and use it with intertrup toggle

[2021-07-12 18:03] Hekili commented on #1162
I use it with interrupts toggle as well.  And yes, all support/feedback here is given based on the default priority.  If you changed something and that doesn't work, you'll probably want to reset it back to defaults.

[2021-07-12 18:10] roreycorey commented on #1160
https://www.raidbots.com/simbot/report/avAY1MpH67RQanhkSVbrF
[https://www.raidbots.com/simbot/report/avAY1MpH67RQanhkSVbrF/preview.png]<https://www.raidbots.com/simbot/report/avAY1MpH67RQanhkSVbrF>
Quick Sim - Trynkitts - 2,795 DPS - Raidbots<https://www.raidbots.com/simbot/report/avAY1MpH67RQanhkSVbrF>
/
www.raidbots.com

________________________________
From: Hekili ***@***.***>
Sent: 11 July 20

[2021-07-12 18:37] Hekili commented on #1160
Using DungeonSlice is misleading, because you're dealing with a variety of group sizes at different points in the sim.

I ran a sim of your profile with 4 enemies sustained:

https://www.raidbots.com/simbot/report/oy5YB87VB1jRj9Y8cofDnP/simc

Mangle *never* gets used in the sim, under those circumstances.  It's a good argument that the sim should be revised.

[2021-07-12 18:39] Hekili commented on #1160
Relaxing the target # requirements didn't produce an increase in DPS:

https://www.raidbots.com/simbot/report/uyyh6HtjZn4A35rr5MaNk4/simc

[2021-07-12 18:40] roreycorey commented on #1160
So you think that the Sim is misleading? Thanks On 12 Jul 2021 19:38, Hekili ***@***.***> wrote:
Using DungeonSlice is misleading, because you're dealing with a variety of group sizes at different points in the sim.
I ran a sim of your profile with 4 enemies sustained:
https://www.raidbots.com/simbot/report/oy5YB87VB1jRj9Y8cofDnP/simc
Mangle never gets used in the sim, under those circumstances.

[2021-07-12 18:47] Hekili commented on #1160
The DungeonSlice sim adds in a lot of changing circumstances; different group sizes, timings, etc.  So it's simply not a clean comparison.

What you're concerned about is that the addon doesn't recommend Mangle with 3+ targets.  If you sim, you find out that the sim doesn't either (so Mangle is getting used, in DungeonSlice, when there are fewer targets -- so is the addon).

If you set up an apple

[2021-07-12 18:49] Hekili commented on #1160
Maul usage, on the other hand, is simply more conservative within the addon, by design.  This is because your Rage is used both for your aggro/DPS and for your mitigation.  The addon is conservative about spending your resources that are used for mitigation, since you'll probably die if you can't mitigate damage and you're actually tanking.

[2021-07-12 19:35] roreycorey commented on #1160
Yes of course, thanks for your help dude, there is one more thing I don't like convoke where it normally is so I put it into cooldowns, I realize then that it doesn't show up if I have usable trinket On 12 Jul 2021 19:49, Hekili ***@***.***> wrote:
Maul usage, on the other hand, is simply more conservative within the addon, by design.  This is because your Rage is used both for your aggro/DPS and

[2021-07-12 19:36] Hekili commented on #1160
You'd need to submit a snapshot of that trinket scenario if you want that to be investigated.

[2021-07-12 20:59] roreycorey commented on #1160
No problem thanks for your time and help.On 12 Jul 2021 20:36, Hekili ***@***.***> wrote:
You'd need to submit a snapshot of that trinket scenario if you want that to be investigated.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-13 07:09] geraint425 commented on #1161
Yesterday I went to a raid and M + everything works. Thank you.

[2021-07-13 11:35] Hekili commented on #1161
Great news.  Thanks for updating.

[2021-07-13 11:35] #1161 closed, assigned to Hekili

[2021-07-13 11:47] #1160 closed, assigned to Hekili

[2021-07-13 11:47] #1162 closed, assigned to Hekili

[2021-07-13 11:47] Hekili commented on #1163
This should be resolved in 1.0.11-beta3.  If you could test and confirm it works more like you expect, I'd appreciate it.

[2021-07-13 11:48] Hekili commented on #1080
Thanks for the update.  I'll make a note to look at BT4 Covenant button for bindings in the future.

[2021-07-13 11:48] #1080 closed, assigned to Hekili

[2021-07-13 11:48] #1150 closed, assigned to Hekili

[2021-07-13 11:49] Hekili commented on #1157
Could've been an addon conflict, could've been anything.  It doesn't look like we have a way to explore it further so I'll close this ticket.  Feel free to open another ticket if you see this again.

[2021-07-13 11:49] #1157 closed, assigned to Hekili

[2021-07-13 13:35] theitan commented on #1163
Now moonking form works perfect. But owlweaving is broken after update, it stuck with sunfire
https://pastebin.com/pFBNnKwd

[2021-07-13 13:42] Hekili commented on #1163
1.0.12-beta2 should resolve that.

[2021-07-13 19:20] Niazevedo commented on #1162
![image](https://user-images.githubusercontent.com/16226380/125512238-2c96cbe2-0334-4377-a251-85741657d888.png).
And I have reset to default

[2021-07-13 19:27] Hekili commented on #1162
![image](https://user-images.githubusercontent.com/9438134/125513217-4674c79d-d78a-4251-aad7-d3a6297359fb.png)

[2021-07-14 07:05] Livvvvvvven commented on #1030
Please also add similar judgments to several range spells of warriors and paladins. Thank you very much.

[2021-07-14 13:22] #1155 closed, assigned to Hekili

[2021-07-14 13:22] #1163 closed, assigned to Hekili

[2021-07-14 13:22] Hekili commented on #1121
Seems resolved.

[2021-07-14 13:22] #1121 closed, assigned to Hekili

[2021-07-14 13:23] #1077 closed, assigned to Hekili

[2021-07-14 14:52] Thera83 opened #1165 "Keeps wanting me to drop Windfury totem on some encounters."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

I've

[2021-07-14 16:02] Hekili commented on #1165
This is the wrong kind of ticket; you'll need to supply a snapshot.  You can resubmit as a recommendation issue if you'd like.

[2021-07-14 16:32] Thera83 commented on #1165
I apologise first time doing a ticket. I will resubmit

[2021-07-14 19:31] Nubbz1992 opened #1166 "Kyrian Arcane Mage Rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-14 20:31] Hekili commented on #1166
Custom priorities are not supported.  If they have their priority integrated into SimulationCraft, I'll carry out that work.

[2021-07-14 20:31] #1166 closed, assigned to Hekili

[2021-07-15 04:22] metalmight opened #1168 "After the first cast, the first box shows a scroll symbol - does this mean it can't display the button properly? [screenshot]"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

After

[2021-07-15 10:56] Hekili commented on #1168
Nope, that's a trinket.

When you pause (`ALT-SHIFT-P` by default), you can mouseover the icon to see more info.

[2021-07-16 17:08] Olanid57 opened #1169 "[REC] Moonkin venthyr sinful hysteria issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-16 17:33] Hekili commented on #1169
So far, it looks to be working as intended.  The entry for Starsurge that is firing is firing because Celestial Alignment is falling off.  The sim has Celestial Alignment up through all of Ravenous Frenzy.

![image](https://user-images.githubusercontent.com/9438134/125985550-49aa4fac-a38a-44d4-a2e0-249cc9708553.png)

The next Starsurges are recommended because Sinful Hysteria is up and it's happil

[2021-07-16 20:25] Olanid57 commented on #1169
Im in raid right now, im gonna do that after. In raid my CA lasts more than 10s more than RF but i have the same problem.
And hekili recommends CA & RF at the same time

[2021-07-16 20:26] Hekili commented on #1169
Provide the snapshots and I'll investigate.  Thanks!

[2021-07-16 22:23] Olanid57 commented on #1169
Snapshots 1 : https://pastebin.com/QgDRkwp0
Snapshots 2 : https://pastebin.com/nL4vVDUj
Snapshots 3 : https://pastebin.com/tgNRSvmV

I took 1 snapshot 2 recommandations before CDs and 1 just before the last 3 starsurges at the end of CDs, idk why I had 3 in snapshots settings ! ^^

If you need more help or things to investigate, let me know.

Hafe fun

[2021-07-16 22:25] Olanid57 commented on #1169
If it can help : i have the same issue with incarnation : chosen of elune talents which lasts 10 more seconds than RF

[2021-07-16 22:27] Hekili commented on #1169
It can only help if you submit snapshots for that scenario, too.

[2021-07-17 11:09] geraint425 opened #1170 "[FEATURE] Is it possible to make some abilities so that the addon uses them only within the radius of action?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Hello. I have been playing with y

[2021-07-17 11:38] Olanid57 commented on #1169
Incarnation : https://pastebin.com/B5YaGHfH

[2021-07-17 12:45] Hekili commented on #1170
This has come up in other conversations, and honestly, it confuses me a great deal.

You're melee.  You should be in range of things.  If you're out of range of things, you're probably not going to press optimal buttons.  When you're out of range, it's not optimal to tell you to push suboptimal buttons.  It's optimal to tell you to get in range.

The addon doesn't "ignore their range" -- those spe

[2021-07-17 13:18] mickeygeecom commented on #1170
I would agree with Hekili on this one.

It could be a toggle though.

[2021-07-17 17:28] geraint425 commented on #1170
Well, there are moments figuratively when you need to follow the mechanics of the battle, and not the rotation, and I'm already used to the fact that if the ability is red, then I'm out of range and I need to come closer, or not press it at all. And it turns out the addon simply recommends me to push the ability into the void. For example, I take into account the moments where there are dashes or

[2021-07-17 17:30] Hekili commented on #1170
Yes, and when you're focusing on mechanics, you can handle them.  I believe in your ability to not hit Thrash when you're out of range and you know you can't get in range due to mechanics.  You don't have other meaningful filler to hit in that scenario, either.

What recommendation do you want when you're melee and out of melee range?

[2021-07-17 18:05] p4nchez commented on #1170
change under display -> range check to "melee" and you should get your red icon everytime out of range

![grafik](https://user-images.githubusercontent.com/29162840/126045986-ad2ac381-fddf-4784-a16e-461cd57c13b2.png)

[2021-07-17 18:06] Hekili commented on #1170
That doesn't work in this case, because Thrash doesn't actually have a range associated with it.  I can add one, but I have to make sure to account for talents/effects that alter the range, which is annoying.

[2021-07-17 18:14] p4nchez commented on #1170
i dont need added this no worry
but in my case if i set range checking to "melee range" my primal wrath, thrash, brutal slash will be marked as red icon if im not near my target

![grafik](https://user-images.githubusercontent.com/29162840/126046185-f3facfe8-af7b-4cb7-93fa-73d78fbc9a85.png)

[2021-07-17 18:17] p4nchez commented on #1170
same here if i target the thrid dummy out of meele range it will get my icon red until i move in range
![grafik](https://user-images.githubusercontent.com/29162840/126046209-ffb8fa77-f737-46de-9560-bd56f959dde0.png)

[2021-07-18 08:48] woefulwabbit opened #1171 "[REC] Night Fae Balance Druid - Non-CA Convoke being recommended at end of trash pack fights"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-18 09:40] #1170 closed, assigned to Hekili

[2021-07-18 23:07] BigBong69 opened #1172 "Should not be recommending whirlwind when sweeping strikes is up"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-19 11:02] ChrisOfRivia opened #1173 "[BUG] My keybinds have been completely removed from the hekili queue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

![Scre

[2021-07-19 12:25] Hekili commented on #1173
You're potentially using an unsupported action bar mod, or have set up your bars in an odd configuration.  Keybind detection in WoW is a weird and painful process, so if your configuration isn't reasonably similar to default action bars and action paging, you'll need to manually set your bindings on your abilities yourself.

You can do that in /hekili > Abilities and /hekili > Gear and Trinkets as

[2021-07-19 12:25] #1173 closed, assigned to Hekili

[2021-07-19 13:15] ChrisOfRivia commented on #1173
Like I mentioned before, I used Hekili without any other addons loaded and
I still had the issue.

And keybinding every single ability from your menu is quite simply
impossible, considering all my alts I have to do this to.

Is there another solution?

On Mon, 19 Jul 2021, 15:26 Hekili, ***@***.***> wrote:

[2021-07-19 13:19] Hekili commented on #1173
If you create a fresh Profile in Hekili, does that have any impact?

The issue most likely relates to how action slots are used between pages.  When you load Hekili by itself, your abilities are still moved from page 1 or 2 to 3, 4, 5, 6, etc.  The addon uses the binding from the lowest numbered page/slot combination barring a few exceptions related to stances/forms.  Can you tell if your abilitie

[2021-07-19 15:11] ChrisOfRivia commented on #1173
Making new profiles in Hekili does not change anything. Yes, I am using the first 3 bars in WoW, Bar1, Bar2, Bar3. Here are some pictures.  ^^^Also, when inserting the command in the chat it displays: Dump: value=Hekili.KeybindInfo[1]={} Sent from Mail for Windows 10 From: HekiliSent: July 19, 2021 4:19 PMTo: Hekili/hekiliCc: ChrisOfRivia; AuthorSubject: Re: [Hekili/hekili] [BUG] My keybinds have

[2021-07-19 15:17] Hekili commented on #1173
Please update via GitHub.com, your email is mangled and largely unreadable in the ticket.

[2021-07-19 15:19] Hekili commented on #1173
Also, make sure when you do the `/dump Hekili.KeybindInfo` that it's with only my addon loaded.

[2021-07-19 15:22] ChrisOfRivia commented on #1173
Making new profiles does not seem to fix the problem

![Screenshot_1](https://user-images.githubusercontent.com/87647232/126184622-9cc3eb90-06b6-4222-8136-ce8c3e878696.png)
![Screenshot_2](https://user-images.githubusercontent.com/87647232/126184633-3d464968-f581-4499-aa24-6a4d85760db3.png)
![Screenshot_3](https://user-images.githubusercontent.com/87647232/126184640-1b560244-b78e-4799-a748-f641fad

[2021-07-19 15:24] Hekili commented on #1173
I don't see keybinds on your action bars in your screenshot.

[2021-07-19 15:31] ChrisOfRivia commented on #1173
Oh! I never thought of this being a problem since my I keybind my abilities using another addon.
The problem is now fixed, whenever I used the blizzard keybind system.

I really appreciate the time and effort you put into my problem!

I am really sorry for placing a bug report over a dumb easy to fix issue! Thanks again and have a wonderful rest of your day!

[2021-07-19 15:43] Hekili commented on #1173
No worries, thanks for supplying information so we could work through it.  What is the other addon you use for bindings?  Maybe I should support it.  You can submit a feature enhancement ticket if you want, with the addon information and (ideally) that addon's savedvariables file.

[2021-07-19 16:31] jozef3d commented on #1155
confirmed working now.  Thanks.

[2021-07-19 16:52] #1168 closed, assigned to Hekili

[2021-07-19 18:04] dmora opened #1174 "[FEATURE] When using dual or reactive displays, don't duplicate recommendations"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

I like to use reactive display si

[2021-07-19 18:07] Hekili commented on #1174
Explain more.  How is it confusing when both show the same suggestion?  That sounds less confusing to me.

[2021-07-19 18:18] Hekili commented on #1171
I've added back a boss check to the Convoke recommendation.

[2021-07-19 18:18] #1171 closed, assigned to Hekili

[2021-07-19 18:18] Hekili commented on #1172
This should be resolved in 1.0.13.

[2021-07-19 18:18] #1172 closed, assigned to Hekili

[2021-07-19 18:18] #1165 closed, assigned to Hekili

[2021-07-19 20:16] ChrisOfRivia commented on #1173
I am not sure what a "savedvariables" file is and where to find it, but the UI I use is called LUI, the addon has an imported keybind feature on it.

[2021-07-19 20:21] ChrisOfRivia commented on #1173
Apologies for the late response, I thought the conversation wouldn't continue onward

[2021-07-20 02:55] dmora commented on #1174
i think it is a really specific use case:

- if im using reactive display, i would like to have the option to have the first item for each queue (Primary, Aoe) to be unique so if i put both bars together, one having the queue going left and the other one going right, they dont show a duplicate suggestion.

It works as intended, not a bug, it is actually a nice to have feature.

[2021-07-20 17:27] Hekili commented on #1174
Yeah, I still don't understand.  What's supposed to show when Primary and AOE have the same recommendation?  What's supposed to show when they're different?  You have to explain.

[2021-07-21 22:56] NobeUnited opened #1175 "[REC] ELEMENTAL SHAMAN - TRINKET + LEGENDARY"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-22 00:19] Hekili commented on #1175
You reported two distinct issues that really belong in separate tickets.

The trinket issue is interesting because, looking at my code, `tome_of_monstrous_constructions` is set up with `nobuff = "studious_comprehension",` which is exactly what you're asking for.  It shouldn't be treated as ready when you have a Studious Comprehension buff applied.

I'll have to try to test this further.

---

For

[2021-07-22 09:10] claybarrett opened #1176 "[REC] Elemental/Shaman/Necrolord Primoridal Wave current action shows as Flame Shock"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-22 09:39] claybarrett opened #1177 "[REC] Elemental/Shaman Stormkeeper not rec"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-22 12:04] Hekili commented on #1176
Your snapshot wasn't taken while casting Primordial Wave, as far as I can see.  I'm *guessing* that you're saying that Flame Shock gets recommended between your cast of Primordial Wave and when it impacts and actually applies Flame Shock.  Is that accurate?

Can you post another snapshot during your Primordial Wave cast?  Thanks.

[2021-07-22 12:05] Hekili commented on #1177
Stormkeeper is counted as one of your "Cooldown" abilities, and is controlled by that toggle.  It's disabled by default, because there are many situations where you want to hold onto your Cooldown abilities instead of burning them on trash before a boss pull (for example).

`toggles: cooldowns = false`

See /hekili > Toggles.  ALT-SHIFT-R toggles CDs on and off by default.

[2021-07-22 12:05] #1177 closed, assigned to Hekili

[2021-07-22 14:25] NobeUnited commented on #1175
Thank you for your nice work :)

[2021-07-22 16:26] claybarrett commented on #1176
Primordial Wave is an instant, so it's going to be difficult to snapshot *during*. I guess maybe the Flame Shock is slipping into the recs after PW is cast but before FS is applied. It does appear to happen more often with a ranged target, so this is probably due to travel time?.

[2021-07-22 16:29] Hekili commented on #1176
That makes sense.

Flame Shock is applied on impact, which makes sense.

Can you confirm whether you get the PW buff on cast (instant) or when it impacts?

[2021-07-22 16:33] claybarrett commented on #1176
It is applied to the caster when PW impacts the target.

[2021-07-22 16:37] claybarrett commented on #1177
Ok I'll try it with CDs on. Can I ask if "cooldowns" are hard coded or if there's a variable for setting the length? Like if I wanted anything =>2m considered a cooldown is there a place I could customize this?

[2021-07-22 17:17] Hekili commented on #1177
You can see and edit what is attached to which toggle in the addon options. See your spec options or the Abilities section.

[2021-07-23 03:11] claybarrett commented on #1175
I can confirm both of these issues.

The trinket appears to go off rec because it's on cooldown. It sticks in the recs otherwise even when I'm targeting the mob it was cast on (at first I thought it was target swapping).

[2021-07-25 03:41] noiseuu opened #1178 "[REC] Balance opener changes from Wrath, Wrath, Starfire"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-25 03:52] Hekili commented on #1178
The sim opener is contingent on you standing far enough to start your second Wrath before your first hits the target.

[2021-07-25 03:54] noiseuu commented on #1178
But why it doesnt suggest after 2x Wrath 1x Starfire? Is because its precombat thing?

[2021-07-25 04:20] Hekili commented on #1178
Take a snapshot for that scenario.

[2021-07-25 04:24] noiseuu commented on #1178
https://pastebin.com/k592Kb6U
This pastebin is atm max range from target

[2021-07-25 04:36] Hekili commented on #1178
But it's not a fresh opener.

[2021-07-25 04:43] noiseuu commented on #1178
Sorry, my bad

https://pastebin.com/3cHzC15n
This is max range, i hope this gives more information. I sometimes doesnt know make snapshot :D
And this pastebin i was having 50 astral power

[2021-07-25 05:20] mickeygeecom commented on #1178
In extension to this Venthyr balance is not recommending covenant and/or Celestial Alignment (also Incarnation, talent) on opener.On Sun, Jul 25, 2021 at 6:43am, noiseuu ***@***.***> wrote:
Sorry, my bad
https://pastebin.com/3cHzC15n
This is max range, i hope this gives more information. I sometimes doesnt know make snapshot :D

—You are receiving this because you are subscribed to this thread.Rep

[2021-07-25 07:17] AleSSouza commented on #1178
I can confirm the issue regarding hekili not recommending CA/INC/Ravenous Frenzy.
Can u check, pelase?

Don't know if I did the snapshot right but here it goes.

[https://pastebin.com/NkxQyZkX](url)

[2021-07-25 10:21] Hekili commented on #1178
Open a separate ticket for the cooldowns issue.

For the opener, supply a snapshot of the opener. The snapshots I've looked at here are not taken at the opener. For example, you've already used CA/Inc.  if you're reporting that the addon doesn't recommend Wrath, Wrath, Starfire to open, supply a snapshot of what it does recommend when you're opening from max range.