[2021-07-25 12:42] noiseuu commented on #1178
https://gyazo.com/2aaed5fdd5b55699a810e54766194380
i took this gif, i can still give u pastebin, but i feel u dont understand when i post it. Every pastebin is with cooldowns and max range so.

[2021-07-25 13:33] Hekili commented on #1178
* pastebin.com/k592Kb6U
  - This snapshot has Incarnation up, IQD's buff up, and the target already has Moonfire, Sunfire, and Stellar Flare applied.  This is not a snapshot from the circumstances you were reporting.
* pastebin.com/3cHzC15n
  - Same as above (but earlier in Incarnation).
* pastebin.com/NkxQyZkX
  - This is at the tail end of a Lunar Eclipse.

A snapshot captures a point in time.

[2021-07-25 13:39] noiseuu commented on #1178
https://pastebin.com/5vuYe1jD
Okay lets try that, if i fucked up then i cant use this your snapshot.
And i just realise i dont have correct talents, but i feel same opener with those talents is correct

[2021-07-25 13:47] Hekili commented on #1178
Well, I did ask for *two* snapshots, and that is one single snapshot, so we're not off to a great start.

From the look of it, I'm assuming that this is after you've cast Wrath once, since you have 56 AP (generated 6 from your Wrath cast) and Wrath will hit in 0.68 seconds.

At the point you took the snapshot, you're in-combat, so the remainder of the `precombat` priority is no longer applicable.

[2021-07-25 13:47] Hekili commented on #1178
I'm also confused why your GIF shows 3 icons but your snapshot shows only 1.

[2021-07-25 13:48] Hekili commented on #1178
@mickeygeecom @AleSSouza Reminder to open a ticket for the cooldowns issue.

[2021-07-25 13:49] Hekili commented on #1175
These should both be resolved.

[2021-07-25 13:49] #1175 closed, assigned to Hekili

[2021-07-25 13:49] Hekili commented on #1176
This should be resolved in the current release.

[2021-07-25 13:49] #1176 closed, assigned to Hekili

[2021-07-25 13:49] Hekili commented on #1174
Closing for lack of information.

[2021-07-25 13:49] #1174 closed, assigned to Hekili

[2021-07-25 13:50] Hekili commented on #1169
Priority has changed a bit since then (and may have a bug, waiting on a report).  Gonna close this so there'll be one thread related to Venthyr and CDs.

[2021-07-25 13:50] #1169 closed, assigned to Hekili

[2021-07-25 13:50] noiseuu commented on #1178
I enjoy more have 1 icon, than 3 and i just showed how icons was.

[2021-07-25 13:50] noiseuu commented on #1178
So, u want precombat snapshot not like in combat?

[2021-07-25 14:04] noiseuu commented on #1178
https://pastebin.com/SUtAXqFb ( snapshot the opener recommendations )
https://pastebin.com/HUdPgHn8 ( snapshot when recommendations change )

[2021-07-25 14:10] Hekili commented on #1178
So the issue centers on the simulation not treating you as though you're in-combat until your first damaging spell impacts.  However, in-game, you are in combat as soon as Wrath finishes casting.  I can modify the way the opener is implemented and probably take care of this, but I'll also need to wait on the other issue report about Venthyr and CDs.

In the meantime, use your good judgment and ope

[2021-07-25 14:11] noiseuu commented on #1178
np, sorry taking your time. now i understand what did u mean.

[2021-07-25 14:16] Hekili commented on #1178
No worries, it was a good call-out.  I'm not sure why the player goes in-combat before the target's actually been hit.  May just be something with dummies.  Not sure.

[2021-07-25 14:57] topazz94 opened #1179 "Concentration spell defaults to keybind 1 instead of current keybinding when I use 1 stack"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

My fir

[2021-07-25 15:15] medeardorff commented on #341
i apologize if this is impertinent, is there an option to simply move the options screen from dead center, permanently leaving it elsewhere since it covers the default placement of the feature display? It is highly inconvenient as currently placed and cause for much indigestion in this 68-year-old bile duct. LOL

[2021-07-25 15:39] Hekili commented on #1179
I have no idea what you mean by concentration stack. Not how it relates to keybindings. Can you explain in a few short bullet points?

[2021-07-25 15:42] Hekili commented on #341
You can click and drag the options screen to the side. Grab it by the title if you hadn't. If it doesn't let you drag it, another addon is preventing you from doing so.

[2021-07-25 15:44] Hekili commented on #1179
To get some debugging information, when you see the right bindings, type `/dump Hekili.KeybindInfo` and do the same again when you see the wrong keybind.

Paste the results of both into Pastebin and provide the link here.

[2021-07-25 17:12] topazz94 commented on #1179
I have 2 stacks of concentration as protection Paladin, aka I can have one in reserve if that makes sense? When I havent used one, it shows the correct keybinding in Hekili, but when I use my first one and wait till it shows up in rotation again, it shows a different keybinding then it is on,

[2021-07-25 17:14] topazz94 commented on #1179
Correct one
https://pastebin.com/sx3m04jV

Wrong one
https://pastebin.com/tYvYnF2S

[2021-07-25 18:12] medeardorff commented on #341
Hilarious! How would anyone know? Thanks fo the answer.

On Sun, Jul 25, 2021 at 10:42 AM Hekili ***@***.***> wrote:

--
*​​*
*Liberty, in its genuine sense, is security to enjoy the effects of our
honest industry and labours, in a free and mild government, and personal
security from all illegal restraints.  - **The Federal Farmer*

*Si vis amari, ama - Seneca*

*Mark E. Deardorff*
*Structural Eng

[2021-07-25 18:27] AleSSouza opened #1180 "[REC] Balance Druid Venthyr Covenant - Hekili is not recomending Ravenous Frenzy/CA/Inc"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-25 19:01] Hekili commented on #1180
I'm not sure how "separate issues belong in separate tickets" got us to having two issues in this ticket, but I'll just address the opener piece first:

Wrath -> Wrath -> Starfire matches the sim opener unless you've simmed yourself and seen otherwise.  Those recommendations do change once you enter combat, which is something that will be addressed soon.  For anything else related to openers, go a

[2021-07-25 19:03] Hekili commented on #341
Clicking and dragging by window title is the norm for most addons (especially using Ace3 libraries), but you're not the first to have trouble with that.

[2021-07-25 19:10] Hekili commented on #1030
This isn't exactly true, unfortunately.  Disciplinary Command, for example, is based on casting spells, not whether they do damage.

If you're playing Frost Mage, though, you don't need Frost Nova for proccing Disciplinary Command (since you're using other Frost spells), so I suppose I can build in the same basic exception as Arcane Explosion.  Then again, Grisly Icicle really does rely on being i

[2021-07-25 19:10] #1030 closed, assigned to Hekili

[2021-07-25 19:12] medeardorff commented on #341
Usually the entire title bar, however. Not just the title text. That IS odd.

[2021-07-25 19:14] medeardorff commented on #341
It might be an addon, however.

[2021-07-25 19:20] AleSSouza commented on #1180
[https://pastebin.com/GptQuLZj](https://pastebin.com/GptQuLZj)
This snapshot and print is the exact moment when I expect Hekili should recommend CA/INC + Ravenous Frenzy(Covenant ability).

Another one: [https://pastebin.com/5uLu5HFd](https://pastebin.com/5uLu5HFd)
I pressed 2x Wrath, Moonfire, Sunfire and I think this should be the moment to Hekili recommend CA/INC + Ravenous Frenzy.

I tried to

[2021-07-25 19:21] Hekili commented on #1180
And your sim link?

[2021-07-25 19:24] AleSSouza commented on #1180
Here it goes: [https://www.raidbots.com/simbot/report/qgE6dCtiVbGoaEMMfrtBvd](https://www.raidbots.com/simbot/report/qgE6dCtiVbGoaEMMfrtBvd)

Sorry.

[2021-07-25 19:26] Hekili commented on #1180
Great, thanks.  If you scroll down, you can see that the opener starts with Wrath, Wrath, Starfire.  What's the rationale in terms of why you shouldn't Starfire there?

I'm looking at the cooldowns piece.  There's a lot of complicated logic for trinkets and CDs so there'll probably be a glitch to fix in general.  But the opener is (or will be) consistent with sim at next release.

[2021-07-25 19:30] AleSSouza commented on #1180
Yes, you're right. The sim recommend a Starfire before dotting. Thank you.

For the CD part If there's something I can do to help you figure it out, let me know.
Thanks.

[2021-07-25 19:35] Hekili commented on #1180
Snapshots help.  If you go through the list of actions in the sim in the order the sim does them and then snapshot where it should be recommending CDs but isn't, that'll help.  I *think* that's what you've done already, though.

[2021-07-25 19:41] AleSSouza commented on #1180
My CA/INC and Ravenous Frenzy are macroed in one button, I thought that it would be the problem but tested again following the exact recommendations and got the same result, no CD recomendations. =/

[2021-07-25 19:42] Hekili commented on #1180
Yeah, macros will have nothing to do with it.

[2021-07-25 19:43] Hekili commented on #1180
What if you remove your trinkets?

[2021-07-25 19:52] AleSSouza commented on #1180
So, you're right. The problem is trinket, specifically IQD.

- With no trinkets - OK
- With Tome of Monstruous Construction - OK
- With IQD - No CD recommendations

What further investigations can I do?

[2021-07-25 19:53] Hekili commented on #1180
Do you have your IQD specifically disabled in the Gear and Trinkets section?

[2021-07-25 19:55] AleSSouza commented on #1180
Yes, it is disabled. Any other way Hekili doesn't show it?

[2021-07-25 19:57] Hekili commented on #1180
No, but the APL, as written, factors its usage into CD usage, so it makes sense that this is blocking for you.  This is always a risk with toggling/disabling.  Essentially, disabling an ability treats it like it is fully on CD all the time.  So anything trying to sync with that ability is told to wait.

It'd be hard to resolve internal to the addon without risking other priorities also being impac

[2021-07-25 19:59] AleSSouza commented on #1180
Enabled it and the problem was solved.
Thank you very much for your patience and time.

[2021-07-25 20:09] Hekili commented on #1180
The release that's being put together right now (1.0.15) *might* let you leave IQD disabled if you so desire.  Give it a try and let me know.

[2021-07-25 20:09] #1180 closed, assigned to Hekili

[2021-07-25 20:21] Hekili commented on #1179
Concentration is an aura, Consecration is an ability that doesn't have stacks (charges, I assume) that I'm aware of, and maybe you're talking about Blessed Hammer's charges?  I'm very confused.

The keybinding text you're concerned with appears to be on the Consecration ability.  I see it's `Shift-Mouse4` on your action bars, but later shows up as `1`.

If Consecration is the concern, let's redo t

[2021-07-25 20:28] AleSSouza commented on #1180
Perfect. Even with trinket disabled it is recommended. Ty.

[2021-07-25 21:46] topazz94 commented on #1179
Aah my bad for the misunderstanding, I was talking about the Consecration abilty, which doesnt really have stacks, but you can sorta overlap it.

Correct one
https://pastebin.com/QxTANMin

Wrong one
https://pastebin.com/rrEHpYV8

I will try your solution, seems a lot easier to solve the hassle yeah, but just wanted to let you know what the issue was. Its most likely a problem on my settings then,

[2021-07-25 21:49] Hekili commented on #1179
In both cases, it is pulling the keybind from bar 8.  Is your Consecration macro'd on bar 8?  Can you confirm that bar 8 is the bar # that Consecration is actually on?

If you check the following:
/ec > ActionBars > Player Bars > Bar 8, is there any text in Action Paging?  What's there?

![image](https://user-images.githubusercontent.com/9438134/126914514-1bcb971a-a19b-4ec2-b52d-d27104fe2780.png)

[2021-07-26 02:02] Majcolorado opened #1181 "RF not being recommended for Moonkin running Theotar"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-26 08:07] LucianDK opened #1182 "Request: Addon activation on rare elites beside bosses"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Currently you have an option to h

[2021-07-26 09:33] egorlepa opened #1183 "[BUG] Apply ElvUi Cooldown Style bugged for Cooldowns Display"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

![imag

[2021-07-26 11:53] Hekili commented on #1183
My addon doesn't support multiple recommendations in the Cooldowns display.

[2021-07-26 11:53] #1183 closed, assigned to Hekili

[2021-07-26 11:54] Hekili commented on #1182
Honestly, the game is so bad about distinguishing rare/rare elite/boss enemies consistently that this isn't likely worth any effort.

[2021-07-26 11:56] LucianDK commented on #1182
ah, I suppose that makes sense. you know best here.

[2021-07-26 12:19] Hekili commented on #1181
Thanks for the snapshot, however, this snapshot you provided is basically pre-pull -- you're not in Moonkin Form even.  Snapshots need to be taken at the time you think the CDs should've been recommended.  This would be sometime after you've initially opened (Wrath, Wrath, Starfire, possibly add dots, then you'd expect to see cooldown recommendations).

[2021-07-26 14:19] Majcolorado commented on #1181
I was able to recreate the issue on a target dummy, I'll attach two new Snapshots.

[2021-07-26 14:20] Majcolorado commented on #1181
https://pastebin.com/3FJgN3a2

https://pastebin.com/xF08Ycwj

[2021-07-26 14:25] Hekili commented on #1181
Are you macroing your IQD trinket and using it at a different time?  This is happening because it's trying to sync up with IQD but you already used it.

[2021-07-26 14:28] Majcolorado commented on #1181
Yes. That would explain why RF shows up briefly and then disappears once I hit my IQD/Starfire macro. Let me try again.

[2021-07-26 14:30] Hekili commented on #1181
I'm probably going to relax this IQD requirement, just because syncing is good but waiting a full CD to sync is bad.

[2021-07-26 14:34] Majcolorado commented on #1181
I macroed my IQD to RF and it's working fine now.

[2021-07-26 14:41] Majcolorado commented on #1181
That also solved the issue I posted in your Discord with Nadjia. It wasn't waiting for optimal Thrill Seeker buffs after all.

[2021-07-26 15:49] egorlepa commented on #1183
@Hekili
what do u mean by that? it clearly does, it has "Icons Shown" slider and queue options just like any other display... And it works (except for elvui cooldowns)

[2021-07-26 15:49] egorlepa commented on #1183
![image](https://user-images.githubusercontent.com/76429849/127019347-115b68f1-132c-44d9-bffe-9415b15198c6.png)

[2021-07-26 15:54] Hekili commented on #1183
It's not supposed to, but I suppose that's an oversight on my part.

With that in mind, you can go to the Queue tab and check Apply ElvUI Cooldown Style.  If that's already set, but not working, let me know.

[2021-07-26 16:07] egorlepa commented on #1183
oh, i was completely oblivious about queue tab having Apply ElvUI Cooldown Style too. Works great, sorry

[2021-07-26 16:41] Hekili commented on #1183
It's weird that it's separated like that, but if I didn't separate it, someone would ask me to separate it.  Anyway, glad that's resolved.  Take care.

[2021-07-27 02:12] saminilison opened #1184 "[REC] IQD Trinket not shown for Balance"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-27 02:27] robertbarral commented on #1184
Same Happening to me.

[2021-07-27 02:28] saminilison commented on #1184
you cant see the cube after you update add one right ?

[2021-07-27 02:31] robertbarral commented on #1184
Yeah. It doesn't show up

On Mon, Jul 26, 2021, 23:28 saminilison ***@***.***> wrote:

[2021-07-27 02:53] Hekili commented on #1184
I'll need you to take a snapshot during Ravenous Frenzy (especially toward the end of Ravenous Frenzy).

[2021-07-27 03:05] saminilison commented on #1184
can i just go live in discord and you tell me when i stop and take snap shot?

[2021-07-27 03:08] Hekili commented on #1184
No, just do it in the last 5 seconds or so of Ravenous Frenzy.

[2021-07-27 03:09] mickeygeecom commented on #1184
Well, the entire cooldown (opener) rotation as Venthyr balance druid is entirely off. It's way different from Night Fae's. Due to the covenant ability (and the legendary extending it).

@Hekili, you might find some hints here: method.gg/guides/balance-druid/playstyle-and-rotation

I can happily assist on Discord or w/e.

[2021-07-27 03:11] mickeygeecom commented on #1184
Duplicate of ticket #1180 really.

[2021-07-27 03:12] Hekili commented on #1184
No, just provide your sims and your snapshots when you think the recommendation should happen, but isn't happening.  Thanks.

[2021-07-27 03:29] saminilison commented on #1184
https://pastebin.com/qiP7GgdF on sims its say on 10 stak i ger 1 more snap shot too when its 5 second to end

[2021-07-27 03:31] saminilison commented on #1184
https://pastebin.com/TA8WJ5N7 this is 5 second to end

[2021-07-27 03:36] saminilison commented on #1184
this is my sim https://www.raidbots.com/simbot/report/cxVu8CkF8ZiQE8wfb3nNYs

[2021-07-27 03:54] Hekili commented on #1184
If you uncheck "Start after Global Cooldown" in /hekili > Balance > Performance, IQD should be recommended.

I'll adjust the priority not to check the GCD before using IQD.

[2021-07-27 04:05] saminilison commented on #1184
![image](https://user-images.githubusercontent.com/88009155/127093607-65c873fc-4485-4099-9ca4-bc41a746800a.png)
not showing

[2021-07-27 04:06] saminilison commented on #1184
i uncheek that and try 2 time its not coming up

[2021-07-27 04:14] Hekili commented on #1184
Then submit new snapshots.

[2021-07-27 04:15] saminilison commented on #1184
5 last second again ?>

[2021-07-27 04:18] saminilison commented on #1184
https://pastebin.com/ezvH8TTr  this is for 5 last second

[2021-07-27 04:33] Hekili commented on #1184
Alright, I'll make adjustments in the morning to remove the GCD condition. Thanks for the data.

[2021-07-27 04:35] saminilison commented on #1184
ty hope you  fix this soon ty for this great aadone

[2021-07-27 11:14] geraint425 opened #1185 "Is it possible to move global cooldowns to another window without breaking the rotation."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Hello Hekilli. Please tell me if

[2021-07-27 11:39] Hekili commented on #1185
Sounds like you want to use HeroRotation.  That's fine.

I don't have any intention of implementing this feature.  If you can't achieve it via the existing displays and toggles, it's not part of my addon.

[2021-07-27 11:39] #1185 closed, assigned to Hekili

[2021-07-27 11:41] #1181 closed, assigned to Hekili

[2021-07-27 11:52] geraint425 commented on #1185
A "great" response to a request to add a feature that will really improve your rotation. Probably you need to play like this with your add-on in order to keep the burst for sure so that everything works. Very comfortably. I think I'm not the only one who faces this problem.
![2](https://user-images.githubusercontent.com/32466458/127148994-d6898711-1db1-4a80-a95e-3611ee4b91a9.jpg)

[2021-07-27 11:54] Hekili commented on #1185
Okay.

[2021-07-27 11:57] Hekili commented on #1185
I *am* curious, though.  Am I misinterpreting you?  Are you basically "negging" me because I declined a feature enhancement that you want?

Is this just a translation issue?  Feature requests exist so you can ask for things.  Not demand them.

[2021-07-27 12:14] geraint425 commented on #1185
I did not require this functionality from you, I did not say what to do now, right now, that's all. I just referred to your colleagues who just did it and that's it. I would really like this functionality and see you in the future, I do not demand that now you give up everything and do it. For a given moment, your addon cannot provide the flexibility to hold bursts. Either I don’t know how to do t

[2021-07-27 12:21] Hekili commented on #1185
Help me understand, then.

First, as far as I can tell, what you're calling bursts are just big cooldowns.  Is that right or wrong?

You can toggle cooldown abilities off -- which puts them on hold.  You can add/remove which abilities are linked to each cooldown.  You can have cooldowns displayed separately (not a feature I use, but it's there).  That may be what you want?  I can't really tell fro

[2021-07-27 13:48] Hekili commented on #1184
Please try https://github.com/Hekili/hekili/releases/tag/v9.1.0-1.0.16-beta1 and let me know if the issue is resolved for you.

[2021-07-27 14:08] saminilison commented on #1184
fixed ty for great work

[2021-07-27 14:51] #1184 closed, assigned to Hekili

[2021-07-27 14:55] Hekili commented on #1182
If this were implemented, how would you envision rare-elite vs. bosses?  I.e., if you checked a "Rare-Elite" option but not "Boss" option, what would your expectation be when:
* you're fighting a boss?
* you're fighting a rare-elite?
* you're in combat with a rare-elite but you're targeting something that isn't rare-elite (i.e., adds or other enemies that got pulled in with the rare-elite)?

It se

[2021-07-27 21:50] LucianDK commented on #1182
Rare elite bosses as in those in Korthia. I believe they are level 62, but dont quote me for it.

[2021-07-27 21:51] Hekili commented on #1182
I understand.  Any thoughts on these points, or no?

[2021-07-28 04:51] Quttzik opened #1186 "Algervard Havoc Demon Hunter Meta/Blade Dance Keybind Showing Wrong"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-28 11:59] Hekili commented on #1186
This likely has more to do with how you've organized your bars, keybind detection is pretty finicky in that regard.

You can manually set the keybind in /hekili > Actions. You'll want to do that for both Blade Dance and whatever Blade Dance becomes during Metamorphosis.

[2021-07-28 11:59] #1186 closed, assigned to Hekili

[2021-07-28 20:45] geraint425 opened #1187 "[FDK] BoS recommends using Fleshcraft while running"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-28 20:50] Hekili commented on #1187
Agreed.  Easy to fix, will take care of it in a day or two.

[2021-07-29 03:13] alcaras opened #1188 "Havoc - Trinket Not Always Being Recommended with The Hunt"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-29 11:37] Tzuyume opened #1189 "Automatic Snapshot generated on Shadowpriest"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Im get

[2021-07-29 12:28] Hekili commented on #1187
Here's a sim comparison showing the (small) value in not channeling during BoS, which helps justify changes.  I looked at casting Fleshcraft but interrupting it immediately, and that wasn't valuable for the default profile.

https://www.raidbots.com/simbot/report/7z12ZemKZH16pmLkECudFN

[2021-07-29 12:53] Hekili commented on #1189
So, this looks like the logic for not dotting when a target is about to die is effectively blocking you from nuking (because the priority is written to put dots up and then nuke) is counterproductive.  I'll post a test change in a little bit.

[2021-07-29 12:54] howdeh opened #1190 "[UI] Incarnation : Chosen of Elune is not able to disabled only when boss encounters"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-29 12:55] #1190 closed, assigned to Hekili

[2021-07-29 12:56] Hekili commented on #1190
The name there will come from whatever spec you are at login.  Incarnation is just Incarnation regardless.

[2021-07-29 13:20] Hekili commented on #1188
I'll be posting a beta build that *might* address this, but maybe not.  The Use Items entries in the cooldowns list should be Trinket #1 and Trinket #2 entries instead.

There may be additional work needed to resolve from there.

[2021-07-29 13:21] geraint425 commented on #1187
There should be no Fleshcraft during BoS. Forgive me, but there are such moments as an additional chance for Rime's ability and we can extend the BoS. Plus, we also do not always fight according to the ideal scenario. There are moments that BoS is used in advance on the barefoot, and maybe in 5-10 seconds heroism, and from above they can still give power infusion and we can hold BoS for a very lon

[2021-07-29 13:24] Hekili commented on #1187
I know.  You should read the words I said.

[2021-07-29 13:30] geraint425 commented on #1187
I saw that you wrote that it does not play a special role if you just take click and cancel. But this is 1 gcd and it can be 30RP + and we have 1 second before getting 2 runes to use obliterate, thereby prolonging BoS by 1-2 seconds. Do you take into account the moments like I wrote Rime? And plus take into account the fact that BoS is very sensitive to ping in the game, that the simulation presse

[2021-07-29 13:33] Hekili commented on #1187
No, you misunderstood me.  I told you the comparisons I made so you can have an understanding of backing up your claims with data.  I also told you I agreed in my first response.

Just to clarify, I try to actually get data to support changes, even if they look right at a glance and seem obvious, because I should have evidence that a change is beneficial.  That's all.

[2021-07-29 13:39] geraint425 commented on #1187
I beg your pardon, I misunderstood you.

[2021-07-29 14:11] Hekili commented on #1187
Try 1.0.17-beta1 when it is available.

[2021-07-29 14:11] Hekili commented on #1188
Try 1.0.17-beta1 when it is available.

[2021-07-29 14:11] Hekili commented on #1189
Try 1.0.17-beta1 when it is available.

[2021-07-29 14:12] #1182 closed, assigned to Hekili

[2021-07-29 14:12] #1179 closed, assigned to Hekili

[2021-07-29 20:05] hekilibug opened #1191 "DEMONOLOGY WARLOCK DOOMGUARD BREAKS ROTATION"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-29 20:10] howdeh opened #1192 "[REC] Balance Druid Low DPS"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-29 21:22] Hekili commented on #1192
You'll have to narrow down each difference you're concerned about and match it with a snapshot.  I can't really do much of anything with a broader philosophical analysis. Specific deviations from the sim, with snapshots to match, that's what I need to assess and change.

[2021-07-30 00:32] Mageical commented on #247
I also can't move the Hekili menu at all which is very frustrating.  Hekili is a fantastic addon, but without being able to move the menu to one side so that I can actually SEE the aoe/single displays that I want to resize etc its very frustrating.  I can move any other addon menu to the side... dominos, wa, grid2, mythic dungeon tools etc etc ... the only one I can't move (click drag does not wor

[2021-07-30 00:37] Hekili commented on #247
Click the title and drag. If anything is preventing it from moving, it's another addon.

[2021-07-30 00:58] alcaras commented on #1188
e: Sometimes seems to work, sometimes not. Will try to get a snapshot when I think it should be suggesting it but it isn't.

Example snapshot of it not suggesting:
https://gist.github.com/alcaras/796851278d71b643d32b19416558a39e

[2021-07-30 02:06] Hekili commented on #1188
This appears related to a very high "fight_remains" value during your fight.  Try changing the `>?` in your Trinket 1 and Trinket 2 entries (cooldown list) to `<?` and see if it makes a difference.

[2021-07-30 02:21] alcaras commented on #1188
i.e. from
`variable.trinket_sync_slot = 1 & ( buff.metamorphosis.up | ( ! talent.demonic.enabled & cooldown.metamorphosis.remains > ( fight_remains >? trinket.t1.cooldown.duration / 2 ) ) | fight_remains <= 20 ) | ( variable.trinket_sync_slot = 2 & ! trinket.t2.cooldown.ready ) | ! variable.trinket_sync_slot`

to
`variable.trinket_sync_slot = 1 & ( buff.metamorphosis.up | ( ! talent.demonic.enable

[2021-07-30 02:45] alcaras commented on #1188
Looks like that fixed it, though I've only had a chance to try it out on a few bosses.

[2021-07-30 03:01] Hekili commented on #1191
You did not include a snapshot.

[2021-07-30 06:27] howdeh commented on #1192
In both snapshots convoke the spirits is available but not used. It is recommended when the cooldown ends but quickly vanishes from the recommendation. It is then not recommended again until Incarnation is off CD.

Without more knowledge of the class I can't pinpoint where the issue may be. It does feel like the addon is changing its mind in several places, maybe causing less uptime on moonfire an

[2021-07-30 08:00] howdeh commented on #1192
Going to close this until I have more info so I do not waste your time! Clearly i need to read up on the class to understand damage output. Raidbots seems to want to cast convoke as soon as it is off CD. Incarn/CA is only casted when convoke is off CD.

Is there a way to have this triggered? Also what about the opener?

[2021-07-30 09:06] geraint425 commented on #1187
Yesterday I was in the raid, everything worked fine. Fleshcraft did not interrupt BoS. Thanks for a great job.

[2021-07-30 09:06] #1187 closed, assigned to Hekili

[2021-07-30 12:44] Hekili commented on #1192
So, lots of questions here.  Things to keep in mind:

1. If there is a bug or if the priority is not matching SimulationCraft, it's important to find the *first* thing, resolve that, and see what else gets resolved by fixing that.
2. Keep in mind, every sim is starting out with the same default circumstances, so as you go pack to pack in M+ or clearing trash in raids, you won't be starting with th

[2021-07-30 13:11] Hekili commented on #1187
Thanks for reporting back.

[2021-07-30 13:59] Tzuyume commented on #1189
I think that fixed it, at least i havn't encountered it while playing. Will make a new ticket if i see it again.

[2021-07-30 19:00] hekilibug commented on #1191
I'll include one soon, sorry about that.

[2021-07-30 20:14] lucifa42 opened #1193 "[BUG] Multiple LUA errors when entering combat"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Multip

[2021-07-30 20:32] Hekili commented on #1193
Your ticket says multiple errors.  Is this the first error that appears?

[2021-07-30 21:24] lucifa42 commented on #1193
Apologies, I meant the same error comes up multiple times. Just one error.

[2021-07-31 00:00] Hekili commented on #1193
I'm not able to replicate this with what you've supplied.  I have a 51 Unholy DK, I applied the same talents (even PvP talents).

Are you using the default, built-in priority?  Did you import a priority?

What else do you see on screen when the errors start?  Is anything recommended at all?

[2021-07-31 04:26] JoeF1992 opened #1194 "Kyrian MM Hunter - Reccomends steady shot instead of rapid fire"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-07-31 06:35] Hekili commented on #1194
Please put your snapshot on Pastebin per the instructions.

[2021-07-31 14:18] lucifa42 commented on #1193
Did you enable war mode? That's the only thing I can think of.
Using the default priority - I've never used a custom one on any character.
I've made a recording of it happening: https://youtu.be/vc9LnhKMLEU

You'll even see after the second fight that the errors continue even when out of combat for a short time.

[2021-07-31 14:53] lucifa42 commented on #1193
Ok I did some tests. I think it's related to Death's Echo pvp talent and war mode.

I just tested it in in Orgrimmar on the target dummys.

War mode off with Deaths Echo selected: no errors
War mode on with Death's Echo selected: errors in combat
War mode on with no Death's Echo selected: no errors.

[2021-07-31 16:02] alcaras commented on #1188
From playing with it a few days, looks to be fixed! Thank you.

Will reopen if I see issues during next week's raid reset.

[2021-07-31 16:02] #1188 closed, assigned to Hekili

[2021-08-01 15:48] geraint425 opened #1195 "[FDK] Chains of Ice is not always displayed correctly if you move Pillar of Frost to another window like defensives or interpputs."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-01 16:43] Hekili commented on #1195
If an ability is set to Show Separately (i.e., carved out to Cooldowns), it is treated as though it is on CD in the other displays.  For the most part, it's a necessary compromise so that priorities don't just break down entirely when your abilities aren't on cooldown but the addon isn't allowed to recommend them.

The Chains of Ice entry that was used was:

[code]

If you want Pillar of Frost's r

[2021-08-01 16:43] #1195 closed, assigned to Hekili

[2021-08-01 23:46] Snoogey opened #1196 "[FEATURE] Lua fetch the wait/delay on recommended ability"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

This might be less of a feature r

[2021-08-02 00:42] Hekili commented on #1196
I can expose this without a lot of effort.  If you have ViragDevTool or anything similar, you can take a look at the `HekiliDisplayPrimary.Recommendations[1]` to see what else is available.  I'd probably just make it so `GetRecommendedAbility` returns the time of the cast if it is in the future, 0 otherwise, for its second argument.  Is there any other data about the recommendation that should be

[2021-08-02 00:51] Snoogey commented on #1196
Thats great to hear!
Let me take a look at what other variables could be useful and Ill get back to you tomorrow- thanks a lot!

[2021-08-02 03:11] Hekili commented on #1191
Closing for lack of required info.

[2021-08-02 03:11] #1191 closed, assigned to Hekili

[2021-08-02 03:11] Hekili commented on #1193
Good catch, should be resolved in 1.0.17.

[2021-08-02 03:11] #1193 closed, assigned to Hekili

[2021-08-02 03:12] Hekili commented on #1194
I can't use the snapshot you provided since the formatting got mangled.  Please use Pastebin next time if you choose to submit a new report.

[2021-08-02 03:12] #1194 closed, assigned to Hekili

[2021-08-02 03:13] Hekili commented on #1192
Closing.  You can post new ticket(s) as needed and provide specific cases as discussed above, if you'd like.

[2021-08-02 03:13] #1192 closed, assigned to Hekili

[2021-08-02 03:13] #341 closed

[2021-08-02 03:14] Hekili commented on #1178
Should be resolved in 1.0.17.

[2021-08-02 03:14] #1178 closed, assigned to Hekili

[2021-08-02 07:17] Snoogey commented on #1196
You actually don't need to "expose" this - it's already all available actually! I prodded around with ViragDevTool (thanks for the tip!) and I can access all the variables in the table HekiliDisplayPrimary.Recommendations[1], and HekiliDisplayPrimary.Recommendations[1].wait was the one I was looking for!
Thanks a lot Hekili, you're awesome.
Now I'm going to see what other cool stuff is in this tab

[2021-08-02 09:44] MrWizard516 opened #1197 "[FEATURE] Import / Export custom changes."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

It would be nice if you could add

[2021-08-02 11:42] Hekili commented on #1197
Can you be more specific?

If you're talking about Priorities, the FAQ already provides you a way to create your own copy of Priorities so that your changes aren't overwritten.  There's no real feasible way to automatically merge any changes you've made with any changes I've made.

If you're not talking about Priorities, which settings are you concerned with?

[2021-08-02 11:44] Hekili commented on #1196
I won't guarantee that those tables will be exposed forever, but I have no plans to make changes (hide or restrict that data) right now.  Just keep in mind if something breaks later on, it might be that I've opted to protect more of that information.  Let me know if there are other specific details you want to have accessible via the API.

[2021-08-02 11:44] #1196 closed, assigned to Hekili

[2021-08-03 02:18] leakyfaucetNA opened #1198 "[FEATURE] Potion as Cooldown"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Was looking for a way to put the

[2021-08-03 02:54] Hekili commented on #1198
You should submit this as a priority issue.  If you reassigned the "Potion" ability to Cooldowns and then it wasn't recommended despite Cooldowns being disabled, I'd need to see a snapshot where that is happening.

As an aside, I don't really recommend using the Potions toggle anyway.  For any relevant content, using your combat potion is probably part of the raid strategy and not really *just* a

[2021-08-03 13:28] leakyfaucetNA commented on #1198
Hey, I was moving it to the cooldowns section so it would show there anyways, but when I select potion it it didnt really add anything to that category. I tried putting it in the Custom 1 section same thing. Not sure if that wasnt supported or a bug.

[2021-08-03 13:30] Hekili commented on #1198
So make whatever change you were intending, get in combat (at a point where you think it should recommend a potion), take a snapshot, put it on Pastebin, and link it here.  Otherwise, I have nothing to review.

[2021-08-03 18:32] dmora opened #1199 "[FEATURE] Anchor Display to Frame/WeakAura"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

as a user that has many weakauras

[2021-08-03 21:05] Hekili commented on #1199
I'll leave this open as an idea, and I've considered it before (especially anchoring to the personal nameplate), but it's weird to me to think people want to look around for guidance from the addon like that.

[2021-08-03 21:26] dmora commented on #1199
Well, i usually look down a bit to check the cooldowns in the middle screan WAs, so i have a placeholder in the middle to show the recommended ability, but the placeholder can change position depending on number of cooldowns or special abilities according to classes and specs. So i always have to re-position it.

Other way to go around this is to allow positioning per class/specs.

[2021-08-04 14:00] Tzuyume commented on #1189
https://pastebin.com/M3JRhpBm

Problem returned again.

[2021-08-04 15:51] Hekili commented on #1189
It's a different issue with the same outcome.  In any case, this may be fixed in 1.0.18-beta1.

[2021-08-04 15:51] #1198 closed, assigned to Hekili

[2021-08-04 15:52] #1197 closed, assigned to Hekili

[2021-08-04 19:27] ghost opened #1200 "[FEATURE] Separate Ability Range Checks"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

After reading quite a few differe

[2021-08-04 19:58] Hekili commented on #1200
That's an approach that might work as a per-ability setting that people would configure.

I'd need to make sure it snapshots well so that when an ability is ruled out based on this range check, it's clear that this occurred because of a user preference.

[2021-08-06 02:14] Tga123 commented on #238
SpellFlashCore is in Public Domain, you can use any of currently working fork of it (eg from [here](https://github.com/Tga123/SpellFlashCore)).

[2021-08-06 10:45] Smudgiee opened #1201 "Hekili macro/command to change priority"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

"/hek set priority X" type of com

[2021-08-07 18:24] Crystalmari opened #1202 "Just need some help as new user."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

THis is not a feature request but

[2021-08-07 18:58] Snoogey commented on #1202
Just drag the menu window, lmao.
Drag it from the top.

[2021-08-07 19:36] Hekili commented on #1202
Move the menu out of the way (click where the name of the addon is) and click and drag where you want.

Or go to /hekili > Displays > (select each display) and set their X/Y coordinates.

[2021-08-07 19:36] #1202 closed, assigned to Hekili

[2021-08-08 11:26] highwitness opened #1203 "INVOKE XUEN and EARTH WIND FIRE are not being called for in the rotation line up"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-08 11:33] #1203 closed, assigned to Hekili

[2021-08-10 06:12] TimeCrisis86 commented on #1199
I'd like to second this request, specifically being able to anchor to the Name Plate. I have a WA that lets me anchor my pally holy power counter to my target's Elvui nameplate, allowing me to keep my eyes on the target. Would love to have the Hekili addon also be anchored to the name plate. Thanks!

[2021-08-11 12:45] Tzuyume commented on #1189
https://pastebin.com/71A5Nnu5

Still showing up snapshots.

[2021-08-11 13:24] Hekili commented on #1189
Hm, addon still thinks it's channeling Mind Flay after it would break by using Empyreal Ordnance.  I'll take a look again.

[2021-08-11 15:52] rakkarage opened #1204 "SpellFlash on ActionBarButton1 only?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Hi. Re

[2021-08-11 19:15] yenbounger opened #1205 "[REC] Balance druid opener/cooldown usage with Instructors Divine Bell & IQD incorrect"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-11 19:23] yenbounger opened #1206 "[REC] Balance - IQD Reccomended before ravenous while ravenous is off CD"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-12 17:59] noiseuu commented on #1206
Hello!

This problem is still at newest update.

[2021-08-12 18:05] Hekili commented on #1206
I haven't posted a new update release, but you should submit an updated snapshot if you've done new testing.

[2021-08-12 18:06] noiseuu commented on #1206
i guess u want combat snapshot?

[2021-08-12 18:07] Hekili commented on #1206
The same rule as always with snapshots.  Take the snapshot at the time where you're seeing the problem.  Explain it when you post it.

[2021-08-12 18:08] noiseuu commented on #1206
Okay, im gonna try that balance prio push. And see if something wrong still there

[2021-08-12 18:13] Hekili commented on #1205
This should be fixed with the latest beta; the issue is that your trinkets are being used by the generic "Use Items" action when they're not supposed to be.  That should be fixed.

[2021-08-12 18:15] noiseuu commented on #1206
https://pastebin.com/AtY3pNak
Okay, in that pastebin i have been 3 min to dummy, and when second rf+incarn+trinket comes, it suggest only iqd.
https://gyazo.com/eb0bcfa8a40c88939b33171ff28313e1
I paused it for u, if u want see what line

[2021-08-12 18:20] Hekili commented on #1206
What do you think you should be seeing instead?

[2021-08-12 18:21] Hekili commented on #1206
Oh, never mind.  I see it.  I need to make Trinket 1 and Trinket 2 actions not morph into trinkets that are explicitly in the priority already.  Will fix.

[2021-08-12 18:47] Hekili commented on #1206
Okay, if you want to test the latest commit (after the last beta release), it may be more of what you expect.

[2021-08-12 18:53] noiseuu commented on #1206
Yes, fixed now ty

[2021-08-12 19:07] noiseuu commented on #1206
Hey,
One thing, after that update second use trinket doesnt want show. In this time it is bell

[2021-08-12 19:09] Hekili commented on #1206
You know what to do...

[2021-08-12 19:43] noiseuu commented on #1206
https://pastebin.com/jvPkj88z
So this pastebin everything goes well in opener, but missing second trinket usage.

[2021-08-12 21:29] geraint425 opened #1207 "[REC] Marksmanship and legendary bow"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-12 23:52] Hekili commented on #1207
If you cannot test on the sim yourself, but you are confident this is a DPS increase, you might reach out to the Hunter theorycrafters for SimC and see if they can implement those suggestions.  I'm not able to investigate this on your behalf.

[2021-08-12 23:54] Hekili commented on #1206
-beta4 may address this.

[2021-08-12 23:54] Hekili commented on #1205
I'm closing this ticket because it overlaps with the other one that's open and active.

[2021-08-12 23:54] #1205 closed, assigned to Hekili

[2021-08-13 00:00] Hekili commented on #1204
It's an issue with the (old) version of SpellFlashCore found on Curse.

If you download this version instead, you should be fine:  https://github.com/Tga123/SpellFlashCore

[2021-08-13 00:00] #1204 closed, assigned to Hekili

[2021-08-13 04:37] Kaaosa opened #1209 "[Bugfix] Havoc Demon Hunter Darkglare Boon legendary not recognized"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-13 06:49] yenbounger commented on #1206
Issue has been resolved for me on -beta4

[2021-08-13 06:49] #1206 closed, assigned to Hekili

[2021-08-13 11:47] Hekili commented on #1189
This should be fixed in the latest betas.

[2021-08-13 15:26] geraint425 commented on #1207
I got an answer to my question, which I asked you and the Simc APL Hunter developer himself. Here is a screenshot of his answer, and a link to raidbots. https://www.raidbots.com/simbot/report/9yeLBn9FUTNfyAianoJZUh
![1](https://user-images.githubusercontent.com/32466458/129382239-a20d2d35-c82c-44da-a25e-671bbcab756e.jpg)

[2021-08-13 15:26] geraint425 commented on #1207
I think the ticket can be closed.

[2021-08-13 15:31] #1207 closed, assigned to Hekili

[2021-08-13 15:34] Hekili commented on #1207
Thanks for following up.

[2021-08-13 17:25] Quttzik opened #1210 "Ret Pally Consecration is on Bar 10 Keybind Z but Hekili will occasionally show it as Q on bar 1"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-14 11:18] geraint425 opened #1211 "[MM] When using Double Tap before the start of the battle, bursts disappear"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-14 12:25] Quttzik opened #1212 "[BUG] Events.lua attempt to perform arithmetic on local 'slot' (a nil value)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

4899x

[2021-08-15 02:43] tflo opened #1213 "Warlock: Affliction: Typo in Impending Catastrophe condition"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-15 03:29] Hekili commented on #1213
It's consistent with sim, but does look erroneous.

From sim profile:
`
actions.covenant=impending_catastrophe,if=!talent.phantom_singularity&(cooldown.summon_darkglare.remains<10|cooldown.summon_darkglare.remains>50&cooldown.summon_darkglare.remains>25&conduit.corrupting_leer)`

[2021-08-15 13:21] Hekili commented on #1213
Just want to confirm, I'll make the change so that the & after 50 becomes a |, but you should consider reporting this to the Warlock theorycrafters as well since the default simc profile should get updated, too.

[2021-08-15 15:57] tflo commented on #1213
OK, that explains why Venthyr sims so bad ;)

[2021-08-15 20:57] wartali opened #1214 "[BUG] Fury Warrior, AOE, showing Raging Blow icon when Whirlwind or Rampage is recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-15 21:02] Hekili commented on #1214
Was the snapshot taken at the same time as the screenshot?

[2021-08-16 05:45] wartali commented on #1214
nope, different times

[2021-08-16 07:14] wartali commented on #1214
Hello, if it helps, i also tested solo dps on dummy and same issue happens, it shows the picture of the raging blow but the keybind or rampage , the correct choice should be rampage

My raging blow keybind is 2 and my rampage is 3

https://pastebin.com/nQhMW6YR
![hekilisolodps](https://user-images.githubusercontent.com/88987716/129525235-983b0809-47a6-445e-9ad3-59f66b076d32.png)

[2021-08-16 07:38] wartali commented on #1214
really like your guys WA, i think it is one of the best in wow that is why i am showing you this. It almost Keep up the great work

[2021-08-17 04:40] SkullCandyTV opened #1215 "[FEATURE] Give a toggle to supress targetswap recommendations during Single-Target Mode"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

As mentioned in the Discord alrea

[2021-08-17 21:29] taintedbunny opened #1216 "[BUG] Necrolord Fire Mage - Covenant Legendary - Error Messages"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

The er

[2021-08-17 22:51] Hekili commented on #1216
This is interesting.  Can you sim yourself on raidbots and provide a link?  Thanks in advance.

[2021-08-17 23:10] taintedbunny commented on #1216
https://www.raidbots.com/simbot/report/qaMVYzJqcjnMgtx1vRJbDj

this is a quick sim; let me know if you need anything more

[2021-08-17 23:18] Hekili commented on #1216
As a temporary measure, you can disable the second entry in your standard_rotation action list.  It never gets used in your sim.

[2021-08-17 23:31] taintedbunny commented on #1216
Hey, that's working! Thanks a million!

[2021-08-17 23:46] sanyex89 opened #1217 "[REC] Arcane Mage Evocation at High Mana"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-18 00:28] Hekili commented on #1217
It recommended Evocation because it found literally nothing else to do.

What do you think should've been recommended, and why?

[2021-08-18 05:50] sanyex89 commented on #1217
4x Arcane Blast / 4 x Arcane Explosion + 1 Arcane Barrage at 4 Arcane Charges? It feels off, if a pack has 90% hp and everyone else is attacking and i stand in the back evocating at 90%+ Mana maybe this is the way, but it feels wrong for me. Especially standing on top of the rune of power with 4 sec left casting evocation.

[2021-08-18 11:43] Hekili commented on #1217
Sure.  Those are a lot of your buttons to push.  Which one did you think would've been the right one, at that moment, and why?

I'm not arguing with you.  I'm asking you for information to aid in investigating the issue.

[2021-08-18 11:49] Hekili commented on #1217
Can you sim yourself in an AOE scenario on Raidbots and provide the link here, as well?  Thanks.

[2021-08-18 12:33] sanyex89 commented on #1217
Touch of magi = 4 Charges -> Arcane Power / Rune of Power -> Arcane Barrage to waste the Charges -> (if skilled) Arcane Orb = 4 Charges -> Arcane Barrage to waste the Charges ->

1-4 x arcane blast = out of range for arcane explosion
1-4 x arcane explosion = 3 or more mobs in range for arcane explosion
4 x Arcane Charges -> 1 Arcane Barrage  -> back to 1-4 x Arcane Blasts for the Charges into Arca

[2021-08-18 12:41] Hekili commented on #1217
No, at the moment it told you to press Evocation, what is the one button you believe you should've pressed at that moment.  Not the rotation.  One button, at that moment.  Why that button?

Thanks for the sim link.

You don't need to persuade me that it's an issue to Evocate when you don't need to Evocate.  I'm on board with that.  I'd just like you to say what you thought you should've been doing

[2021-08-18 12:43] Hekili commented on #1217
Also, try using one of the latest betas and see if that has an impact.  Looking at your snapshot, this may have been related to a channeling bug that is resolved in the latest beta.

https://github.com/Hekili/hekili/releases/tag/v9.1.0-1.0.18-beta5

If you still see this issue with 1.0.18-beta5, please grab another snapshot and link it here.  Thanks!

[2021-08-18 13:02] sanyex89 commented on #1217
4 Options i would say at 50%+ Mana:
- less than 4 charges and out of range? arcane blast
- less than 4 charges and in range? arcane explosion
- 4 charges? arcane barrage
- Touch of the Magi on Target and Clearcasting? Arcane missiles

basicly the normal stuff you would do, if evocation wouldnt pop up

ok ill try the beta

[2021-08-18 13:05] sanyex89 commented on #1217
1.0.18 beta5:
still the same at 100% mana aoe rotation at 5 targets (out of range for arcane explosion)

https://pastebin.com/CU4GuLRy

btw i only have this problem right now if i am out of range for arcane explosion in aoe situations

[2021-08-18 13:11] radogor opened #1218 "[REC] Assassin rogue/necro - kevin's oozeling uptime is not prioritized."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-18 13:23] Hekili commented on #1217
**1** option.  What would you have pressed at that actual moment instead?

There we go.  Arcane Explosion is ruled out due to range checking that was recently asked for and added.  That quickly came back to haunt us.

I will probably remove that Evocation entry from the priority entirely, then let the single-target priority get used if nothing in the AOE priority is selected.

[2021-08-18 13:45] sanyex89 commented on #1217
1 option? arcane barrage

yeah seems to be the best option

thank you for your patience

[2021-08-18 16:08] elsavira opened #1219 "[FEATURE] pet.Storm_elemental.active duration needs to be checked to match depending on conduits."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Currently, the pet.storm_elementa

[2021-08-18 16:56] Hekili commented on #1219
Good call-out.  I'll have a test fix in the next beta build, probably later tonight (1.0.18-beta6).

[2021-08-18 19:50] noiseuu opened #1220 "Balance opener change."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-18 20:01] Hekili commented on #1220
Separating cooldowns out into a separate display may simply not work for you here.

Testing on target dummies might also not be effective because they don't die, so time to die calculations get silly.

The conditions for Incarnation, in your snapshot, are ultimately as follows.

[code]

That's not going to be easy to interpret, but it's worth noting that your sim has Bloodlust up and your characte

[2021-08-18 20:01] #1220 closed, assigned to Hekili

[2021-08-18 20:11] noiseuu commented on #1220
Okay, but if raid pop lust its gonna still use that rotation.

[2021-08-18 20:19] Hekili commented on #1220
That'd be the time to snapshot when you submit a ticket, then.

[2021-08-18 20:37] noiseuu commented on #1220
https://pastebin.com/yz2w9d5V
Here is snapshot, with drums

[2021-08-18 20:38] Hekili commented on #1220
I don't see a buff from Drums, and you're in Incarnation in that snapshot.

[2021-08-18 20:39] Hekili commented on #1220
(15% from Drums is not really treated as Bloodlust within the addon anyway, but arguably it should/could be supported that way.)

[2021-08-18 20:40] noiseuu commented on #1220
Okay, then i need just forget that starfire after dots.

[2021-08-18 23:41] mati3464 opened #1221 "[REC] Arms Warrior priority recommendation re: Execute vs. Mortal Strike."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

After few fights i recomending ad

[2021-08-19 11:53] Hekili commented on #1221
Addon behavior matches the sim, and sim testing doesn't demonstrate a DPS benefit for the change you requested, so I won't move forward with this.

[2021-08-19 11:53] #1221 closed, assigned to Hekili

[2021-08-19 11:57] Hekili commented on #1209
Thanks, this will be resolved in today's release.

[2021-08-19 11:57] #1209 closed, assigned to Hekili

[2021-08-19 12:11] Hekili commented on #1217
The fix for this will be in the next release (today).

That said, if you notice performance issues in AOE, please submit a separate ticket for Arcane Mage.  The way this works, it could result in a lot more processing for AOE decisions when you're not in range.

[2021-08-19 12:11] #1217 closed, assigned to Hekili

[2021-08-19 12:11] Hekili commented on #1219
This will be in the full release this morning.

[2021-08-19 12:11] #1219 closed, assigned to Hekili

[2021-08-19 12:13] Hekili commented on #1218
Is Kevin's Oozeling prioritize in your sim?  If not, you may want to take this up with the Rogue theorycrafters (they may have found it's not worth it).  I don't see any conditionals in the sim profile related to Kevin's Oozeling.

In either case, please sim yourself on Raidbots and provide a link.  I can potentially investigate this a bit.

[2021-08-19 12:18] Hekili commented on #1216
This should be resolved in the upcoming release (1.0.18).

[2021-08-19 12:18] #1216 closed, assigned to Hekili

[2021-08-19 12:20] Hekili commented on #1215
I'm going to suppress (most, if not all of) these when there are not additional targets to hit.  One exception is Reverse Harm, which you would cast on another friendly target.  This will be in 1.0.18.

[2021-08-19 12:20] #1215 closed, assigned to Hekili

[2021-08-19 12:22] Hekili commented on #1214
In your second screenshot and snapshot combination, are these simultaneous?

[2021-08-19 12:24] Hekili commented on #1214
I'm going to try removing texture caching from those abilities and see if it makes a difference in 1.0.18.

[2021-08-19 12:25] Hekili commented on #1213
This fix is in 1.0.18.

[2021-08-19 12:25] #1213 closed, assigned to Hekili

[2021-08-19 12:25] Hekili commented on #1212
This is resolved in 1.0.18.

[2021-08-19 12:25] #1212 closed, assigned to Hekili

[2021-08-19 12:27] Hekili commented on #1211
Please provide a sim of your character, I'll take a look.  There's probably some CD syncing logic that should be adjusted for situations where your CDs are not aligned.

[2021-08-19 12:27] Hekili commented on #1210
This appears to be resolved in 1.0.18.

[2021-08-19 12:27] #1210 closed, assigned to Hekili

[2021-08-19 12:27] #1189 closed, assigned to Hekili

[2021-08-19 12:27] Hekili commented on #1201
`/hekili priority` should work in 1.0.18.

[2021-08-19 12:27] #1201 closed, assigned to Hekili

[2021-08-19 13:22] taintedbunny commented on #1216
Awesome. Keep up the great work.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Hekili ***@***.***>
Sent: Thursday, August 19, 2021 8:18:12 AM
To: Hekili/hekili ***@***.***>
Cc: taintedbunny ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] [BUG] Necrolord Fire Mage - Covenant Legendary - Error Messages (#1216)

Closed #1216<https://github.com

[2021-08-19 15:37] thomasbrezina opened #1222 "[REC] Venthyr Balance Druid / Ravenous Frenzy/Celestial Alignment"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-19 15:57] Hekili commented on #1222
As discussed in Discord, a snapshot from a moment where CA or Ravenous Frenzy should've been recommended, but isn't, is needed to triage this.

If you look at your sim link, you'll find that Ravenous Frenzy isn't recommended until several seconds into the fight, after a long chain of Starfires:

![image](https://user-images.githubusercontent.com/9438134/130102047-051711b6-cf72-418b-83f2-3959a36c6e

[2021-08-19 16:45] tflo commented on #1213
Thank you.

[2021-08-20 00:12] sanyex89 opened #1223 "Arcane Mage Kyrian opener with Arcane Harmony -> wasted Rune of Power and sometimes wasted 4 x Radiant Spark Stack"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-20 00:26] Hekili commented on #1223
For the latter part, it appears that it's behavior that's set for the first 10 seconds of a fight.  I'd recommend taking a snapshot with more icons in your Primary display, just for the sake of showing what the addon would do for several steps.

The Arcane Missiles entry that was recommended:

`( variable.stack_harmony[false] | time[9.57] < 10 ) & buff.arcane_harmony.stack[5.00] < 16`

This is the

[2021-08-20 00:28] Hekili commented on #1223
For the first part, I think you need to back up a step or two.  You can see that the opener would just use Arcane Power rather than RoP.  Why is Rune of Power being recommended?  I'll need you to provide a snapshot of the RoP recommendation.

[2021-08-20 06:14] wartali commented on #1214
yes. And i have seen there are issues with even more spells. Wrong picture showing but correct keybind.

[2021-08-20 06:30] wartali commented on #1214
I downloaded the new version and i can confirm it is all working now!!! for AOE and for single target.

Thank you very much!

[2021-08-20 07:11] sanyex89 commented on #1223
RoP pastebin: https://pastebin.com/CvEbvhFY
I spellqueue RoP because it gets suggested - I waited this time till Radiant Spark was fully casted and Hekili correctly suggested Touch of the Magi instead. But this is a Problem for me as i spellqueue and this can happen midfight.

Missiles pastebin: https://pastebin.com/RfRMRham
I guess this happens because of the RoP overlap?

[2021-08-20 11:50] Hekili commented on #1214
Thanks for reporting!

[2021-08-20 11:50] #1214 closed, assigned to Hekili

[2021-08-20 12:36] Hekili commented on #1223
So, here is where we are at the point of your RoP snapshot:

![image](https://user-images.githubusercontent.com/9438134/130231152-e2fe3dda-e533-4c79-862c-e9b9713aa64c.png)

You're casting Radiant Spark, which your sim would follow with Touch of the Magi.  The conditions that are failing for Touch of the Magi (in-game) are:

`variable.just_used_spark[false] & cooldown.arcane_power.remains[0.00] <=

[2021-08-20 13:39] Hekili commented on #1223
This is also a rare case where a screen recording showing you casting (with your cast bar visible) Radiant Spark, the Radiant Spark debuff applying to your target (unitframe/nameplate visible), and the Radiant Spark Vulnerability debuff applying to your target (presumably soon after the RS debuff hits).  That'll help me time it effectively.

[2021-08-20 16:19] radogor commented on #1218
Not really sure, I'll try to discuss with them.

Here is a link to quicksim: https://www.raidbots.com/simbot/report/fnU7PCT81dDnfPUQCpd5YD
I'd try to perform advanced sim with sbs prioritized, but dont know how, actually, my knowledge in APL not that good.

[2021-08-20 16:21] Hekili commented on #1218
You'd have to edit the sim priority to prioritize SKS differently, which is basically the hardest part of everything.

If you had to explain when to use SKS to improve Kevin's Oozeling's uptime, what would the exact conditions for SKS's usage be?

[2021-08-20 16:28] geraint425 commented on #1211
https://www.raidbots.com/simbot/report/qD4jUS1q6uCqKLLbiwZMuh

[2021-08-20 16:30] radogor commented on #1218
Id say definitely during Vendetta and Shiv. Apart of that - a bit reverse SBS usage - use as a default builder right from the start, to get max Kevin's time (its logic that SBS adds time to Kevin's Oozeling buff, not refreshes), and then use either to align with Vendetta and/or Shiv or as soon as there is a charge available.

[2021-08-20 16:31] radogor commented on #1218
And other big cooldowns like bloodlust.

[2021-08-20 17:02] radogor commented on #1218
I need to add that as im mainly m+ runner, not raiding, kevin's uptime is important on trash packs. So, if prio it at the start of the pull, it'll last potentially entire fight.

[2021-08-22 12:51] Hekili commented on #1216
Hey, this line was updated in simc this weekend -- the last check is actually an enemy check.

The new line is:

I'll update the addon later today.

[2021-08-22 13:15] taintedbunny commented on #1216
Awesome!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Hekili ***@***.***>
Sent: Sunday, August 22, 2021 8:51:59 AM
To: Hekili/hekili ***@***.***>
Cc: taintedbunny ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] [BUG] Necrolord Fire Mage - Covenant Legendary - Error Messages (#1216)

Hey, this line was updated in simc this weekend -- the las

[2021-08-22 14:19] sanyex89 commented on #1223
https://youtu.be/QXKaC7uMPiU here is a video of the opener with the RoP issue and the radiant spark -> arcane missiles 4 stack waste. I have spellqueue 250ms active

[2021-08-23 12:48] Hekili commented on #1223
Give 1.0.19-beta1 a try to see if any of the behavior has changed.

[2021-08-23 13:11] Hekili commented on #1218
I've yet to find an opportunity to do this where it provides a DPS increase.  I'd need a snapshot (or a few) where you think SBS should be recommended to proc Kevin's Oozeling.

You may see increased usage of SBS in general if you turn on target cycling, which would be relevant in M+ packs.

See /hekili > Assassination > Targeting for "Recommend Target Swaps."

[2021-08-23 13:17] Snoogey opened #1224 "[FEATURE] Difference between Target Swap and Mouseover Recommendation Indicator"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Do you have any plans to make the

[2021-08-23 13:50] Hekili commented on #1224
Honestly, this is probably overthinking it entirely.  In the rare cases that it matters (i.e., you swap to a target you cast Havoc on), it would tell you to swap off the target as well.

Give me more information about the situations where you feel this would help you.

[2021-08-23 13:51] Hekili commented on #1218
Okay, I am testing some changes in 1.0.19-beta2; it'll literally just recommend SBS if you have the soulbind and he isn't there.  It looks DPS positive but doesn't really make an effort to sync up with anything.

[2021-08-23 13:51] Hekili commented on #1211
I've put some changes in 1.0.19-beta2 that might address this.  If you test and find issues, be sure to submit new snapshots.

[2021-08-23 13:52] #1222 closed, assigned to Hekili

[2021-08-23 13:55] Snoogey commented on #1224
Sure, absolutely - I might be overthinking it. On one hand I mean you get used to it after a while and don't tab target anymore, as you know that's what it's not asking you to do,  such as the case for Havoc.
But in other cases when I haven't played the class that much, I have to "get used" to which abilities this is the case, tab, realize it means Mouseover, then throw my Mouse over a Target and

[2021-08-23 13:59] Hekili commented on #1224
I appreciate the additional depth.  Can you tell me more about these other scenarios where it's misleading?  Which classes?  Which specific abilities?

It doesn't require a dramatic rewrite to support a different indicator, but it does change what a lot of users will see and may create a large volume of new questions that ultimately don't help people do better DPS.  But maybe it is important in so

[2021-08-23 14:13] Snoogey commented on #1224
I've only really played two Specs where I've greatly encountered this, so I'll use those as an example, both with their own quirks which make it fairly confusing.

First being **Destruction Warlock**, wherein there's a tip directly in the Options (/hekili > Destruction > Core) that reminds the user that when the "swap" icon is showing on Havoc or Immolate, that means it wants you to Mouseover Cast

[2021-08-23 14:17] sanyex89 commented on #1223
The RoP issue is gone!
But the Radiant Spark 4 Stack waste still remains

https://www.youtube.com/watch?v=kvDAxlTsBu8

at 0:10 you can see hekili recommending arcane barrage with only 1 stack Radiant Spark (and then after that arcane missiles wasting the 4 stack) -> if i dont press anything it will switch to arcane blast after the gcd reset - so arcane blast till 4 stacks of radiant spark on the e

[2021-08-23 15:59] Hekili commented on #1223
Can you explain that more clearly for me, with periods or bullet points? I am not entirely sure where one thought ends and the next begins.

[2021-08-23 16:54] Hekili commented on #1223
Okay, so the snapshot is taken while Arcane Barrage is recommended.  Great.

Now, you're saying if you wait for the GCD, it switches back to Arcane Blast.  Can you snapshot that moment and link it here?  Make sure it's exactly when the recommendation has switched back to Arcane Blast simply by waiting for the GCD.

Thanks!

[2021-08-23 17:54] sanyex89 commented on #1223
https://pastebin.com/3yuUZ2GD

here is the other pastebin -> after the gcd arcane blast gets recommended like it should

[2021-08-23 17:56] sanyex89 commented on #1223
![grafik](https://user-images.githubusercontent.com/77323774/130494129-f34e2bb1-4fac-45e8-a74a-9f3e56170211.png)
This with the Arcane Power CD is the optimal opener for me with the legendary (but with with 4 arcane blasts into barrage - not 5 - because i dont have 12% haste)

[2021-08-23 19:05] Hekili commented on #1223
Thanks, the snapshot basically tells me that the delay for Radiant Spark Vulnerability is sort of misleading the addon at the moment.  I just need to model the application of that debuff and it should be fine.

[2021-08-23 19:21] Hekili commented on #1223
Try 1.0.19-beta3 when it comes and up and see if that makes a difference.

[2021-08-23 21:57] sanyex89 commented on #1223
no difference

Arcane Barrage gets recommended with 1 or 2 Radiant Spark stacks
https://pastebin.com/wpJs2HtY

if i wait for the GCD Arcane Blast gets recommended
https://pastebin.com/HqcE7CnW

[2021-08-23 23:06] Hekili commented on #1223
Found the issue in -beta3, -beta4 may resolve it.

[2021-08-24 03:07] SkullCandyTV opened #1225 "[REC] Necro Druid / Feral Swarm usage 50%->75% increase by changing of APL"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-24 06:33] sanyex89 commented on #1223
https://pastebin.com/vzAuB0HP
same behaviour.

i have a feeling, that hekili puts 4 Arcane Charges -> Arcane Barrage before: 4 Radiant Spark stacks + 4 Arcane Charges -> Arcane Barrage

Touch of the Magi generates 4 Arcane Charges instant.

[2021-08-24 06:50] sanyex89 commented on #1223
yeah the problem persists mid rotation without arcane power - always with 4 Arcane Charges because of touch of the magi

[2021-08-24 11:28] Hekili commented on #1223
Nah, that's not how the priority works

I'll need you to snapshot both the Arcane Barrage rec and the Arcane Blast rec after the GCD to continue troubleshooting.

[2021-08-24 11:31] Hekili commented on #1223
In the snapshot you provided, you had pressed Radiant Spark three GCDs ago. What did you press after?

Radiant Spark Vulnerability isn't on your target yet, so I'm confused.

[2021-08-24 11:55] sanyex89 commented on #1223
https://pastebin.com/AkA7MDW7 Barrage Pastebin

in this pastebin i pressed Mirror Images -> Missiles till 18 stacks of harmony -> Radiant Spark -> Touch of the Magi -> Arcane Power -> Arcane Blast -> Barrage gets recommended while i cast (and Arcane Blast gets recommended if i dont prequeue barrage before)

While i cast Arcane Blast the enemy has only the Radiant Spark debuff - **so no vulnerabili

[2021-08-24 12:05] Hekili commented on #1223
You already supplied the Arcane Barrage Pastebin.  I needed you to provide the Arcane Blast.

[2021-08-24 12:13] Hekili commented on #1223
It would also help if your snapshots included 2 recommendations, just for checking the addon's emulation/modeling of those abilities.

[2021-08-24 12:17] Hekili commented on #1223
On your end, you may try opening /hekili > Priorities > Arcane, Action Lists > calculations > 12 (3rd from last, it should be the variable entry for `just_used_spark`) and changing from:

to

This will mean the addon will use `just_used_spark` to reference that Radiant Spark was one of your last 3 GCDs and that no more than 4 GCDs have passed since you did that.

If that does or doesn't make a dif

[2021-08-24 12:27] sanyex89 commented on #1223
( prev_gcd.1.radiant_spark | prev_gcd.2.radiant_spark | prev_gcd.3.radiant_spark ) & action.radiant_spark.time_since < gcd.max * 4

fixed basicly everything as far as i can tell

will report later if i see something weird again

[2021-08-25 01:40] mckayrogit opened #1226 "[BUG] Balance Druid Issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

The ad

[2021-08-25 10:15] radogor commented on #1218
Yes, I'm actually doing so, but I dont personally like target swapping advices. I'd manually change targets to spread dots.

[2021-08-25 10:15] radogor commented on #1218
Thank you!

[2021-08-25 11:45] sanyex89 commented on #1223
I indeed have found some weird i cant really explain mid rotation.
https://pastebin.com/fd72aevA arcane missiles spamming

with **Arcane Power on cooldown** with 40 sec left:
**RoP, Radiant Spark, Touch of the Magi is ready** but never used till Arcane Power is back up.

it just recommends spamming arcane missiles 9-11 times in a row till i have no mana left and then Frostbolt and Fire Blast till

[2021-08-25 11:56] Hekili commented on #1223
That's really an entirely different issue, and it'd be helpful to keep separate issues in their own tickets.  I'll look into this, but keep that in mind for future issues.

[2021-08-25 11:58] Hekili commented on #1223
So, in the same vein as before, you've told me what you're seeing -- which button do you think you should've been pushing instead?  Not the whole rotation, but with Arcane Power on CD, but RoP, Radiant Spark, and Touch of the Magi ready, which did you think should've been recommended?

[2021-08-25 12:02] sanyex89 commented on #1217
**RoP**, Radiant Spark, Touch of the Magi

[2021-08-25 12:04] sanyex89 commented on #1223
RoP
then Radiant Spark, Touch of the Magi.

just like here

![grafik](https://user-images.githubusercontent.com/77323774/130787215-97204af1-642d-4f08-a207-08abb7323a5b.png)

[2021-08-25 12:09] Hekili commented on #1223
I would've trusted you to just say RoP here.

Looking at the priority, the way the APL tracks when Arcane Power was last used (and estimates when it can be used again) isn't really compatible with the addon in the live game.  It's something I can translate, but it makes sense that it's a bit off.

You may want to experiement with changing the value for the first `time_until_ap` variable (there are

[2021-08-25 12:21] Hekili commented on #1226
Looking at this now.

When this was happening, did you have the Primordial Arcanic Pulsar buff up?

Does this happen constantly or only after you build up enough Primordial Arcanic Pulsar that it procs and resets?

When you have the Primordial Arcanic Pulsar buff up, can you type `/run Hekili.State.reset(); print(Hekili.State.buff.primordial_arcanic_pulsar.value)` and tell me what the output is?

[2021-08-25 12:36] sanyex89 commented on #1223
mh i tried > 25 and < 25 but no difference

nvm i am stupid - will try it again with
cooldown.arcane_power.remains_guess and not cooldown.arcane_power.remains "my guess"

[2021-08-25 12:55] sanyex89 commented on #1223
looked alot better in the beginning, but later it went back into casting arcane missiles 13 times in a row with AP on CD

[2021-08-25 12:59] Hekili commented on #1223
I don't know what you're talking about regarding > 25 or < 25, so whatever you were doing there, don't do that.

Provide snapshots when you test new changes, though.

[2021-08-25 13:00] sanyex89 commented on #1223
yeah i read it wrong, my fault.

did the cooldown.arcane_power.remains_guess change

Arcane Missiles Spam with 50 sec left on AP cooldown till its off cooldown
https://pastebin.com/4suyi2Wv

[2021-08-25 13:13] sanyex89 commented on #1223
Reloaded and tried a different Training dummy in the elysian hold - 7 minutes and no arcane missiles spam

[2021-08-25 13:37] #1218 closed, assigned to Hekili

[2021-08-25 13:37] Hekili commented on #1225
Latest release fixes a bug where the conditions for Adaptive Swarm were missing.  This may require more attention later.

[2021-08-25 13:37] #1225 closed, assigned to Hekili

[2021-08-25 13:50] Hekili commented on #1223
Makes sense.  I may not solve this exactly in this way when I post a release, but it'll be a closely related fix.

The Mage TCers that built the profile calculated the time until the next AP without using `remains_guess` or `remains_expected`, noting:

That makes sense to an extent -- it's likely that the CDR from Arcane Prodigy isn't going to shorten the last 5-10 seconds of Arcane Power's cooldo

[2021-08-25 14:42] sanyex89 commented on #1226
/run Hekili.State.reset(); print(Hekili.State.buff.primordial_arcanic_pulsar.value) = 0 without buff and 50 with 1 stack

![grafik](https://user-images.githubusercontent.com/77323774/130811815-11317cf4-0526-4920-9156-76858f61c566.png)

![grafik](https://user-images.githubusercontent.com/77323774/130811934-bd2e5a73-134a-4865-b080-4d543e3f634e.png)

[2021-08-25 17:06] mckayrogit commented on #1226
Hello,
Thank you for the quick reply. Okay, I will do this later tonight and send
you the output.

Cheers,
Rory Mckay

----------------------------------------
Intelligence, Intensity, Integrity

On Wed, Aug 25, 2021 at 10:42 AM sanyex89 ***@***.***> wrote:

[2021-08-26 07:18] SkullCandyTV opened #1227 "[REC] NecroDruid - Hekili recommends Adaptive Swarm on targets with 3+ stacks"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-27 02:13] mckayrogit commented on #1226
Heya,
The output when I do not have the buff is 0 and then when I have the buff
it is nil.

[image: WoWScrnShot_082621_221109.jpg]
Cheers,
Rory Mckay

----------------------------------------
Intelligence, Intensity, Integrity

On Wed, Aug 25, 2021 at 1:06 PM Rory Mckay ***@***.***> wrote:

[2021-08-27 14:53] mckayrogit commented on #1226
[
![WoWScrnShot_082621_221109](https://user-images.githubusercontent.com/53409299/131146900-48428621-ad43-4f3d-8237-702e97207316.jpg)
](url)

[2021-08-30 14:06] Hekili commented on #1226
This one is strange because I couldn't replicate it directly.  I have prevented the nil error in 1.0.20, but I'm worried that the amount of stored energy in your Arcanic Pulsar buff isn't being parsed successfully.  I'm not sure why that would happen.

[2021-08-30 19:12] phazeshifta opened #1228 "Arcane Mage:Arcane missiles not being suggested when clearcasting buff is active."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-08-30 19:14] Hekili commented on #1228
Clearcasting is not active in that snapshot.

[code]

[2021-08-30 19:37] Hekili commented on #1228
I'll wait for someone to submit snapshot + screenshot at the same time to support this ticket.

[2021-08-30 19:47] phazeshifta commented on #1228
Sorry you're a shitty dev:

https://pastebin.com/UuPWX1eC
https://imgur.com/a/eENZFLX

Clearcasting clearly up, 3 stacks of it in fact. Screenshot taken 1 second apart from the snapshot.

Either you're blind, stupid or incompetent...I'm starting to think all three.

Maybe don't tell people that are trying to help you be better that they're lying to you.

[2021-08-30 19:50] Hekili commented on #1228
I am fascinated.  You're insulting and abusive, but you also provided some information I asked for, together.

What do you think happens at this point?  If the roles were reversed, how would you handle it?  I'm genuinely interested.

[2021-08-30 19:53] phazeshifta commented on #1228
I wouldn't be put in this situation, because I'm not a shitty dev. I would take the information provided, not make my users jump through hoops and do my damn job.

You don't want to work with the information I've now provided you, through multiple channels multiple times now, that's your prerogative. It doesn't make you any less of a piece of shit.

[2021-08-30 19:54] SpatenLa commented on #1228
i just want to say, now the snapshot says the cleacasting is up.
the first snapshot was taken while you didnt have any target and werent infight.

[2021-08-30 20:04] mckayrogit commented on #1226
That appears to have corrected the issue. Thank you kindly.

Cheers,
Rory Mckay

----------------------------------------
Intelligence, Intensity, Integrity

On Mon, Aug 30, 2021 at 10:06 AM Hekili ***@***.***> wrote:

[2021-08-30 20:08] Hekili commented on #1228
Spaten's correct regarding the buff being detected in the snapshot.

[code]

Clearcasting was detected in your buffs.

[code]

Arcane Missiles is not recommended above because Touch of the Magi would fall off.

[code]

Here's a logic error that needs to be fixed regarding Clearcasting's max stacks, which I'll take care of.  This would still not pass because you're not a Venthyr.

[code]

This entr

[2021-08-30 20:08] #1228 closed, assigned to Hekili

[2021-08-30 20:11] Hekili commented on #1226
Thanks for confirming.  I'd be interested in seeing a couple of additional snapshots or screenshots like you supplied before (with and without the Arcanic Pulsar buff up).  I'm curious to confirm that the actual value is being detected successfully.

[2021-08-30 20:12] #1226 closed, assigned to Hekili

[2021-09-01 01:18] Kechlion opened #1229 "[FEATURE] Countdown Text or Inverted Colors on Cooldowns Display"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

I'd like to be able to turn on co

[2021-09-02 21:07] Twissle opened #1230 "[FEATURE] Reserve 1 charge of Shadow Dance (with Enveloping Shadows talent) as CD, for Sub Rogue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Enveloping Shadows talent for Sub

[2021-09-03 08:01] Twissle commented on #1230
Just to add, I added Shadow Dance to the Cooldowns toggle as it wasn't previously there, but I would like it to only consider 1 of the charges as a cooldown and continue to recommend use of the other one even with the cooldowns toggle off.

[2021-09-03 18:16] Hekili commented on #1230
The biggest risk here, to be honest, is that I could force this *mechanically* but the priority itself may be written to enforce synchronization anyway.  So it might not actually accomplish anything.

[2021-09-04 18:19] Twissle commented on #1230
On further testing, I'm not sure this is actually needed, especially if it's not a straightforward fix. Shadow Dance comes back very quickly with the spec's baked-in cooldown reduction that it's not really necessary to hold a charge. I'll move Shadow Dance back out of the cooldowns section, as in default with the addon. Thanks for your time :)

[2021-09-04 18:19] #1230 closed, assigned to Hekili

[2021-09-07 22:58] LEOMODE commented on #1053
Hi Hekili, so is there any fix for this? I am also seeing this and my next move is always Windfury Totem despite being activated like a second ago. Also only seems to happen on World Boss like Mor'geth in The Maw

[2021-09-07 23:05] Hekili commented on #1053
World bosses are basically broken in general due to the volume of combat log spam.

If you want me to look closer, submit snapshots when it's happening. Thanks.

[2021-09-07 23:05] LEOMODE commented on #1053
Thanks can you let me know what you mean snapshot? Is it a screenshot you're referring to? Thanks.

[2021-09-07 23:06] Hekili commented on #1053
It's explained earlier in the ticket.

[2021-09-12 11:28] sergeyvolkov-tech opened #1231 "Have different buttons on Hekili panel and on the Blizzard panel"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Have d

[2021-09-12 13:46] Hekili commented on #1231
Keybind detection is sensitive to how you've organized your bars for your multiple forms, because of action bar paging.  You probably have those abilities in different slots on different action bar pages.

You can try reorganizing your bars, or you can just set the keybind manually in /hekili > Actions > Override Keybind Text.

[2021-09-12 13:46] #1231 closed, assigned to Hekili

[2021-09-13 16:49] Celstar1 opened #1232 "As a rogue the primary display on Hekili does not change when I go into stealth"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

As a r

[2021-09-13 16:54] Hekili commented on #1232
I can't see either of those snapshots on Pastebin.

I'm not sure what you're expecting to be different about the icons that are shown based on being in stealth or not.  This is a case where screenshots and a detailed explanation would also be helpful.

[2021-09-13 18:41] Celstar1 commented on #1232
![hekili issue file reduced](https://user-images.githubusercontent.com/90639029/133138912-d6439026-1ffe-41ac-9428-78693f249f51.png)

[2021-09-13 20:11] Hekili commented on #1232
So, the right buttons to push are Marked for Death, then Roll the Bones, then Slice and Dice.  That's the correct keybinding, I assume, when you're out of Stealth.

What would you rather the addon show you at this time?  I'd recommend putting MfD, RtB, and SnD somewhere that's accessible to you when you are in Stealth.

[2021-09-13 20:18] Celstar1 commented on #1232
You are awesome, thank you for responding.  AND, thanks for Hekili.  When I
look at the add-on and the add-on is telling me to click a "suggested"
action I understand that.....problem is, when I look at my action bar, it
does not match the add-on visa versa.  I will copy this to someone more
familiar with the jargon.

On Mon, Sep 13, 2021 at 4:11 PM Hekili ***@***.***> wrote:

[2021-09-13 20:26] Hekili commented on #1232
If you put Marked for Death, Roll the Bones, and Slice and Dice somewhere that's visible to you while in Stealth, you should see the appropriate keybindings.

The abilities it is recommending are the correct recommendations.  You should put those abilities on your action bars so you can use them at the right time, even in Stealth.

[2021-09-13 20:48] Celstar1 commented on #1232
Thank you, time for me to leave the Training Dummie (it had a good laugh at
me).  Gonna try this out on some real monsters.  Thanks again.

On Mon, Sep 13, 2021 at 4:26 PM Hekili ***@***.***> wrote:

[2021-09-14 19:36] Larsy93 opened #1233 "[BUG] GCD Swirl on Blood DK non-GCD abilities (GCD Sync Turned off)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

GCD Sw

[2021-09-14 22:36] Hekili commented on #1233
Sure, I'll remove Rune Tap and Raise Dead from the GCD.

[2021-09-14 22:36] #1233 closed, assigned to Hekili

[2021-09-15 15:08] Larsy93 commented on #1233
Thank you, I changed line 1289 and line 1308 in DeathKnightBlood.lua to "gcd = "off"," as a temporary fix myself, but thanks for including it in the next release, and thanks for great and quick support and an awesome addon.

[2021-09-17 06:18] sergeyvolkov-tech commented on #1231
@Hekili  "You probably have those abilities in different slots on different action bar pages." i check this, but no, skills that i show on screenshot there is only on 1 panel, and for example "Moonfire" in normal form will be "1" and in moonkin form will be "q".
That problem only with druid class and only with moonkin form, other forms have text "1". I have 1 druid with this problem (He is on scre

[2021-09-17 12:34] Hekili commented on #1231
I should've said /hekili > Abilities, not Actions.  You can manually set the keybinding there.

That said, I'd still bet money you have those abilities on a different action bar page, one that isn't visible at the moment.  If you have your action bar pages in a weird order, it will interfere with keybind detection because the same slots are recycled between multiple bar pages.

If you want to prov

[2021-09-17 12:38] #1232 closed, assigned to Hekili

[2021-09-17 12:41] #1223 closed, assigned to Hekili

[2021-09-17 12:41] #1211 closed, assigned to Hekili

[2021-09-18 05:14] sergeyvolkov-tech commented on #1231
@Hekili Man you are right, it was panel №10...
It is kind of interesting thing...
When i pick bear form my panel 1 transform in panel 7, with bear skills
When i pick cat form my panel 1 transform in panel 9, with cat skills
At this moment all fine with keybinding.
And when i pick moonkin form my panel 1 is not transform at all, i dont know why, and i start look at all my panels. And i see panel 10

[2021-09-18 06:10] djcosmic22 opened #1235 "[BUG] When in PvP Situations and you have Ice Form talented as a FMage, Icy Veins is still reccomended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Ice Fo

[2021-09-18 14:56] Hekili commented on #1231
It's because of what I explained.  The addon pulls from action bars in pages.  Action bar 1 is what you see when you're not in any form.  In your various forms, the default pages for each form are as follows...

Cat Form:  7
Cat Form (prowling):  8
Bear Form:  9
Moonkin Form:  10

If you decide to turn off paging (so you just use bar 1 in Moonkin Form), you'd want to clear the spells out of page 1

[2021-09-18 15:54] Hekili commented on #1235
Yeah, this probably should've been a feature request to add Ice Form.  PvP talents aren't generally built-in and priorities don't tend to account for their functional differences (since you can't use them in any encounters you'd actually sim).

[2021-09-18 16:13] djcosmic22 commented on #1235
Should I make a new thread for a feature request then?

[2021-09-18 16:14] Hekili commented on #1235
Nope, I'll accept this and put it on my to-do list.

[2021-09-18 18:43] ssonkai opened #1236 "[BUG?] Balance druid and Ravenous Frenzy"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [x] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Shows to use Starsurge 3 times be

[2021-09-18 18:50] Hekili commented on #1236
Please follow ticket instructions and submit snapshots.

[2021-09-18 18:50] #1236 closed, assigned to Hekili

[2021-09-18 20:11] ssonkai opened #1237 "Simcraft and rotation code"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

After

[2021-09-18 20:21] Hekili commented on #1237
Yeah, don't do that. There's no reason to do it.

On the default priority, the little circle-arrow button is for resetting to default.

[2021-09-18 20:21] #1237 closed, assigned to Hekili

[2021-09-18 22:04] ssonkai opened #1238 "[REC] Starsurge recommended before Ravenous Frenzy converts to Sinful Hysteria"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Shows to use Starsurge 3 times be

[2021-09-18 22:40] Hekili commented on #1238
Is there something I could do differently for you to select the right kind of ticket? This is a recommendation issue. I see you included the snapshot, but the snapshot was not taken at the time those recommendations were shown.

[2021-09-18 23:01] ssonkai commented on #1238
Sorry i copy wrong Snapshot
https://pastebin.com/ccD0ZdwT correct

I think I chose the right type of ticket

Feature Request and Priority/Recommendation Issue" I think this thread would suit both,
"I would like the addon to have a new enhancement,"  this description fits this thread perfectly

if I'm wrong, I'm sorry, don't be angry

[2021-09-18 23:24] vetalgn opened #1239 "[BUG] When some one in Sanctum of domination raid left or join after boss(The Nine)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

I have

[2021-09-18 23:38] Hekili commented on #1239
I would recommend reporting this issue to the SpellFlashCore maintainer on CurseForge.

[2021-09-18 23:42] Hekili commented on #1238
That snapshot recommended Wrath, Starsurge, Wrath.  What did you think it should've recommended differently?

[2021-09-19 00:04] vetalgn commented on #1239
ok i will try

[2021-09-19 00:08] vetalgn commented on #1239
oh SpellFlashCore doesnt support  i think. bcos last update was Jul 31, 2018, can i some thing dissable so as not to see the error?

[2021-09-19 00:15] Hekili commented on #1238
Looking again, that snapshot is in the the Sinful Hysteria part of Ravenous Frenzy.  Are you intending to show me Starsurge being used prematurely during the Ravenous Frenzy part?

[2021-09-19 06:54] ssonkai commented on #1238
Watch what's happening from 34 seconds in the video, look at the stacks and time left of Ravenous Frenzy (https://imgur.com/a/NYqfhZ5) < Screen
When we have 25 stacks and we are in the 1st stage of stacking them, we have 1.5 seconds to stack them, the rotation starts using 3x starsurge in a row. After 1.5 seconds we have an additional 5 seconds of Revenous Frenzy with how many stacks we could get

[2021-09-19 12:05] Hekili commented on #1238
Will you be providing the required snapshot at the right time?

[2021-09-19 12:12] ssonkai commented on #1238
https://pastebin.com/3M8aUHti

[2021-09-19 13:54] Hekili commented on #1238
The criteria that passed, in order for Starsurge to be recommended in your snapshot, was:

[code]

That translates to:

[code]

So, based on the APL, just like your sim, you're firmly in the "if you don't cast Starsurge, you're going to overcap and waste AsP" range.  I looked at the sim profile to see if I missed anything, and that entry is preceded by the following comment.

`# Use Starsurge Onet

[2021-09-19 14:11] Hekili commented on #1238
FWIW, I did a comparison sim where that AsP overcap scenario is ignored in the last 5 GCDs of Ravenous Frenzy, and it is a DPS loss.

https://www.raidbots.com/simbot/report/hSrfQdk5nXJ8FH5n7n6LiK

![image](https://user-images.githubusercontent.com/9438134/133930665-632e3234-6360-4527-b6d1-8428025cc9e6.png)

[2021-09-19 14:12] Hekili commented on #1239
Do you use SpellFlash?  What are your SpellFlash settings?

[2021-09-19 14:14] Hekili commented on #1239
From the error itself, it seems like it's an interaction between Shadowed Unit Frames and SpellFlashCore.  Perhaps similar issues have been reported to SUF if SpellFlashCore isn't maintained.

[2021-09-19 14:27] Hekili commented on #1238
Examining the default sim profile, you can see this spelled out more clearly as well:

![image](https://user-images.githubusercontent.com/9438134/133931143-d26b8e40-4197-432e-98bf-50d654c990f0.png)

- 28.708s:  Starsurge is cast at 98 AsP.  Ravenous Frenzy is still up.
- 29.463s:  Starsurge is cast at 73.5 AsP.  Ravenous Frenzy is still up.
- 30.216s:  Starsurge is cast at 52.5 AsP.  Sinful Hyster

[2021-09-19 15:48] vetalgn commented on #1239
I dont use SpellFlash addon, but yes i use Shadowed Unit Frames and I will try to send a bug report to them

[2021-09-19 15:56] Hekili commented on #1239
Thanks.  I'd recommend loading SpellFlashCore separately and disabling Hekili and seeing if you have the same bug pop up.

[2021-09-21 18:01] fism opened #1240 "MM Hunter High CPU Usage"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Addon

[2021-09-21 18:09] Hekili commented on #1240
Are you reporting that you've noticed this specific to Marksmanship Hunter (i.e., you don't see this in other specs or classes)?  Or MM just happens to be the spec that you play?  Thanks.

[2021-09-21 18:13] fism commented on #1240
I apologize, it appears to be happening with BM as well.

![WoWScrnShot_092121_141302](https://user-images.githubusercontent.com/948527/134225005-c916cbdd-4fb9-417c-8946-3ad33afcb177.jpg)

[2021-09-21 18:23] Hekili commented on #1240
And you've noticed this specifically in high traffic areas only?

[2021-09-21 18:28] fism commented on #1240
Yes. When I notice FPS drops in high traffic areas it's usually a CPU-related issue on my system. That's what caused me to investigate the addons I use. When I disable the addon, I don't lose the FPS. It's a pretty significant loss though, from 120fps down to 40fps or so. I wouldn't be able to raid with this addon with this current state. Not the end of the world but I did notice a DPS increase us

[2021-09-21 18:30] Hekili commented on #1240
Yeah, I'm asking you for more information to investigate, not because I don't believe you or something.

I'd be curious to see the output of `/dump Hekili:DumpProfileInfo()` and/or `/dump Hekili:DumpFrameInfo()` for investigative purposes.

[2021-09-21 18:37] fism commented on #1240
[code]

[code]

[2021-09-21 18:44] fism commented on #1240
I should have run the commands during combat but perhaps having both can help identify the issue. Just to clarify, the previous results I posted were not taken during combat. The following command outputs are generated when I am in combat:

[code]

[2021-09-21 21:25] Xamof opened #1241 "druid balance Night Fae Celestial Alignment"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-09-21 21:28] Hekili commented on #1241
You did not follow the ticket instructions properly (which is likely a language issue), but I'm going to assume you probably haven't turned on your Covenant abilities or Cooldowns.  See /hekili > Toggles.

[2021-09-21 21:28] #1241 closed, assigned to Hekili

[2021-09-21 22:23] Xamof commented on #1241
désolé pour mon anglais c'est du google traduction
exact Show cooldowns désactivé

sorry for my english it's google translation
exact Show cooldowns disabled

Le mar. 21 sept. 2021 à 23:28, Hekili ***@***.***> a écrit :

[2021-09-22 01:12] Hekili commented on #1241
You want to check Show Cooldowns if you want your major cooldown abilities to show.  You generally want to turn these on and off with the toggle (keybinding) while you're playing, so that the addon doesn't recommend them when you're trying to save them.

[2021-09-22 01:14] Hekili commented on #1240
Please try the alpha version and supply updated data dumps/screenshots for your performance.

One of the things I would need to do, but have not yet done, is make the Interrupts and Defensives displays work off the same reset.  That'd reduce the cost of a reset.

The alpha version forces updates less frequently, unless there's a really good reason.  I'd recommend unchecking your Throttle Updates s

[2021-09-22 06:41] geraint425 opened #1242 "[HUNTER] kill command make a distance check"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Please see how you can implement

[2021-09-22 10:00] Larsy93 commented on #1242
This would be awesome, it causes issues every now and then.

[2021-09-22 10:23] fism commented on #1240
OK, I deleted the addon and installed the alpha version from this Github page. I disabled the Throttle Updates settings as well. Here is the screenshot and the output of the commands during combat.

![WoWScrnShot_092221_061949](https://user-images.githubusercontent.com/948527/134326873-a0373b9d-57fd-4cc1-bcab-4e8f77a46603.jpg)

[code]

[2021-09-22 12:52] Hekili commented on #1240
Thanks for continuing to supply information.  It looks like the places where CPU is being spent are the "right" areas, but hopefully I can find some ways to optimize them further.

![image](https://user-images.githubusercontent.com/9438134/134342608-ee57a32b-93f8-4356-9f00-c9f45aed3be3.png)

These numbers will mislead a little bit, because the top 5 are really part of the same flow:

`Display_OnUp

[2021-09-22 12:54] Hekili commented on #1242
It would likely rely on having Pet-Based Target Detection enabled (i.e., having a pet ability on your own action bars).

[2021-09-22 14:46] Larsy93 commented on #1242
Not a problem for me, playing a BM hunter u should probably have that enabled either way imo since it performs better that way.

[2021-09-24 12:20] fism commented on #1240
Sorry for the delay. This is what I've captured. I tried to capture it during combat in a dense area (Korthia).

![WoWScrnShot_092221_142135](https://user-images.githubusercontent.com/948527/134673219-3770f67c-1516-4367-9918-95263f452e07.jpg)

[code]

[2021-09-24 15:09] Yinzeni opened #1243 "[BUG] Starfall usage at remnant orbs dont work"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Hello!

[2021-09-24 15:43] Hekili commented on #1243
There's no indication in your snapshot that you've hit the orb.  Did you?

[2021-09-24 15:44] Yinzeni commented on #1243
No, i didnt hit orb. Usually i see it reconizes 2-3targets but it didnt change number at all

[2021-09-24 15:47] Hekili commented on #1243
You have to hit a target for it to be counted.

[2021-09-24 15:48] Yinzeni commented on #1243
Okay, i can go try it again

[2021-09-24 16:00] Yinzeni commented on #1243
https://pastebin.com/hYac1QSx
Here

Btw this hasnt do this bug report but i guess u can see opener isnt correct. I can make new report if needed. In pull used lust and after dots it still want go to 80-90astralpower to use cd:s

[2021-09-24 16:26] Hekili commented on #1243
Thanks.  I can see that filtering by aura + damage-based target detection aren't playing nicely with each other.  I have a fix in testing.

[2021-09-25 01:49] Yinzeni commented on #1243
Okay, thanks works. How about this opener thing, do i make new report?

[2021-09-25 01:55] Hekili commented on #1243
I have no idea what you're talking about.

[2021-09-25 01:57] Yinzeni commented on #1243
"Btw this hasnt do this bug report but i guess u can see opener isnt correct. I can make new report if needed. In pull used lust and after dots it still want go to 80-90astralpower to use cd:s" In opener when u get bl/tw opener should goes like wrath-wrath-starfire-dots-incarn/rf. But atm it still wants suggest 90astpower

[2021-09-25 01:59] Hekili commented on #1243
I'm sorry, you'll need to open a separate ticket with sim and snapshots to compare for that.

[2021-09-25 01:59] #1243 closed, assigned to Hekili

[2021-09-25 17:18] ghost opened #1244 "[FEATURE] SCALE Option"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Scale the icons with a slider. I

[2021-09-27 14:39] ssonkai commented on #1238
You right sir.

[2021-09-27 14:39] #1238 closed, assigned to Hekili

[2021-09-27 23:47] Myro2 opened #1245 "Change of open rotation at DEMONOLOGY WARLOCK"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

Good day.
would it be possible to

[2021-09-28 00:06] Hekili commented on #1245
This is not a feature request.

If you build a sim profile that matches the above and it outperforms the existing sim, provide a raidbots link in a recommendations ticket.

[2021-09-28 00:06] #1245 closed, assigned to Hekili

[2021-09-28 17:22] Yinzeni opened #1246 "[REC] Wrong opener with Bloodlust Balance Druid Venthyr"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-09-28 17:29] Hekili commented on #1246
Link the actual Raidbots sim(s).

Take the snapshot at the moment you disagree with the recommendation.  I.e., just after Stellar Flare if you think it should recommend CDs next but isn't doing so.

[2021-09-28 17:31] Yinzeni commented on #1246
Actually, i pop after stellar flare cd:s
https://www.raidbots.com/simbot/report/cJ9GXvzrNietAGJ1Z8bwDL with bloodlust, hekili doesnt do this
https://www.raidbots.com/simbot/report/fLY5bSHwiKw9Bo4jHwG4EM without bloodlust, and hekili does this everytime with bl or not

[2021-09-28 17:31] Hekili commented on #1246
Hey, you'll need to follow instructions precisely if you want me to investigate.

[2021-09-28 17:35] Yinzeni commented on #1246
https://pastebin.com/mP5vGVzE
Here, i hope u get the point now. I paused when it suggested after stellar flare starfire
https://gyazo.com/e76e74479efd33f5f2d97367bf1a8e00 this what i see after pause

[2021-09-28 17:54] Hekili commented on #1246
This looks to be related to fight length, which is confabulated and only going to get worse vs. a target dummy (because they'll never really die).

A snapshot taken in an actual raid environment, immediately after you've cast Stellar Flare, would help confirm.

[2021-09-28 18:32] Yinzeni commented on #1246
https://pastebin.com/txnY5fL4
This is from heroic tarrague, i hope anima powers dont fuck this up

[2021-09-28 19:06] Hekili commented on #1246
Thanks, that helps.  Fight length will be a factor, because there's logic that centers on using CA/Incarn if you'd otherwise get 1 fewer cast in your boss fight.  However, this also revealed that the logic for updating the duration of Celestial Alignment vs. Incarnation wasn't swapping correct (in your snapshot, it was showing a 29 second duration on Incarnation, when it should've been 39 seconds)

[2021-09-28 19:08] Yinzeni commented on #1246
Are fixing this or just stay with that? And i mean like, is there both lust/timewarp/drums this 29 duration ?

[2021-09-28 19:15] Hekili commented on #1246
Yes, it'll be fixed, but your question doesn't actually line up with what I said.  You can trust that if I investigate an issue and find a bug, that yes, I'll be working to resolve it.

[2021-09-28 19:17] Yinzeni commented on #1246
Okay thanks

[2021-09-28 19:17] #1246 closed, assigned to Hekili

[2021-09-30 00:56] preeve1 opened #1247 "Shadowgrasp totem not showing with bottled flayedwing toxin buff"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-09-30 12:01] Hekili commented on #1247
Did you edit your priority list?  The first entry in your `trinkets` list is not consistent with the default.

[2021-10-01 02:37] preeve1 commented on #1247
I believe everything is stock minus cooldown togggle and single/auto toggle

[2021-10-01 02:39] preeve1 commented on #1247
i've just reloaded default priorities and appears to not work still.

[2021-10-01 02:43] Hekili commented on #1247
Post a new snapshot, please.

[2021-10-01 02:55] preeve1 commented on #1247
https://pastebin.com/SJ2dsAGd

[2021-10-01 08:44] xxxj2kxxx opened #1248 "[BUG] Hard freeze (not responding) when logging in with Hekili activated on Warrior only"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Very s

[2021-10-01 12:06] Hekili commented on #1248
Get BugSack and BugGrabber to see if there are error messages.

[2021-10-01 13:33] martinioo opened #1249 "[FEATURE] Support swing.mh.remains and swing.oh.remains"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Feature Request

**ARMS Warrior Charge Weaving to

[2021-10-01 15:49] xxxj2kxxx commented on #1248
OK will try this tomorrow cheers

[2021-10-01 15:53] Hekili commented on #1248
Thanks.  You could try deleting your Hekili profile (`WTF\Account\<Account #>\SavedVariables\Hekili.lua`) before starting WoW.  I'm not aware of anything that could endlessly loop at the moment.  That will mean you have to redo your layout and everything again, though.

If you can share your Warrior's armory/bnet profile and/or /simc output with the SimulationCraft addon, that could help me try to

[2021-10-02 01:10] Bat1000 opened #1250 "Cool down spinner doesn't work for festering strike and scourge strike...unholy"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Cool d

[2021-10-02 01:15] Hekili commented on #1250
What do you mean by "doesn't work"?

Feel free to move your player information to a Pastebin link, as well, so that it's readable.  Thanks!

[2021-10-02 02:13] Bat1000 commented on #1250
https://bpa.st/SSCA

The gcd spinning effect does happen on scourge strike or festering strike. All other actions will spin. I have to look at the other icons to see when either of those actions are available.

[2021-10-02 02:14] Bat1000 commented on #1250
n

[2021-10-02 13:04] Hekili commented on #1250
Well, that's not what I asked for.  You can see that it's not organized nicely.  Can you not just copy/paste from in-game so that it has proper line breaks?

After that, I'll look and see if I can replicate this issue, but no luck so far.  Do you have another addon that's skinning your GCD spirals or something?

[2021-10-02 14:42] lasseblooten opened #1251 "Sub Rogue no Cooldowns displayed"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-10-02 15:15] Hekili commented on #1251
You have cooldowns toggled off.  See /hekili > Toggles.

[2021-10-02 15:15] #1251 closed, assigned to Hekili

[2021-10-02 18:31] lasseblooten commented on #1251
Well, I am dumb. Thanks a lot. I did toggle off these, but didn't reload...
Thanks again!

[2021-10-02 21:01] Bat1000 commented on #1250
Hopefully this is better. I am not tech savvy so it took a bit to figure this out. I'm not sure what you mean by skinning so I can't answer that question. I recently added a weak aura and method raid tools. I disabled the raid tools and deleted the weak aura but that didn't fix the issue. Those were the most recent add-ons I have downloaded. I have used your rotation helper for as long as I can re

[2021-10-02 21:42] Hekili commented on #1250
Thanks for the Pastebin.  I don't see the same issue when I use Unholy with your settings.

By skinning, I'm asking if you have another addon that changes the look and feel of your icons or cooldown spirals.  Masque is a common one.  If you have all other addons disabled and use Hekili, do you still have the issue?

[2021-10-02 22:17] Bat1000 commented on #1250
I use what ever is the default setting. Nothing that changes the look or my UI. I did have some pop up that said there were errors in my addons several weeks ago but that was before this issue. When I did the error grab thing there were no errors in the add on which went back two weeks. Maybe it will fix itself after awhile?
    On Saturday, October 2, 2021, 02:43:32 PM PDT, Hekili ***@***.***> wr

[2021-10-02 23:23] Skood555 commented on #1250
I have the same issue on my blood dk.  Marrowrend and Heart Strike do not have the gcd effect.  All other spells are fine.  I disabled all addons and this did not solve the issue.  I think it started about 2 weeks ago, but didn't play for a week or so on this toon.  All other classes work great as usual.  Love the addon.  Thanks!

[2021-10-04 03:25] xxxj2kxxx commented on #1248
Sorry for late update... just installing bug grabber and bugsack stopped the hard freeze. No idea how/why but thats literally the only thing I changed.

[2021-10-04 03:28] xxxj2kxxx commented on #1248
... and turning both those addons off it still works... just one of those weird things I guess

I also deleted both Bug addons and relaunched game and warrior still logs in just fine now... neither bug addon showed me anything they just magically fixed it :S

[2021-10-04 17:43] Skood555 commented on #1250
So I just switched back to version .21 and it works great again.  So it seems whatever changed on the Sep 16th update with the gcd spirals did something.  Might want to start there!!

[2021-10-04 18:23] Bat1000 commented on #1250
Thanks i will try that also.
Sent from Yahoo Mail on Android

  On Mon, Oct 4, 2021 at 10:43 AM, ***@***.***> wrote:

So I just switched back to version .21 and it works great again. So it seems whatever changed on the Sep 16th update with the gcd spirals did something. Might want to start there!!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on G

[2021-10-04 20:19] Bat1000 commented on #1250
Yes, i went back to version .21 and it works for me as well.
    On Monday, October 4, 2021, 11:23:39 AM PDT, Ron Ruf ***@***.***> wrote:

 Thanks i will try that also.
Sent from Yahoo Mail on Android

  On Mon, Oct 4, 2021 at 10:43 AM, ***@***.***> wrote:

So I just switched back to version .21 and it works great again. So it seems whatever changed on the Sep 16th update with the gcd spirals did

[2021-10-04 23:12] luizzitol opened #1252 "[REC] Feral druid, Brutal Slash recommended with Clearcasting instead of Shred"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-10-04 23:23] Hekili commented on #1252
The priority is specifically written to compare Brutal Slash damage to Shred damage in that scenario and Brutal Slash comes out on top, regardless of the charges.  Do you have any sims that demonstrate your recommendations?

[2021-10-05 08:02] luizzitol commented on #1252
Thank you for the prompt response. I love this addon and I am fascinated to
see how much goes into it.

On that snapshot I sent it use Brutal Slash with clear casting and the next
spell it uses is shred.

If only it did it the other way around, you would have 15 energy on top, as
Brutal Slash is 25 energy compared to 40 Shred.

On the same note, while in Tiger's fury, Brutal Slash has way better v

[2021-10-05 12:33] Hekili commented on #1252
I completely understand the logic you throw out.  One of the big challenges in priority design is that a lot of things that seem like they're more optimal are really a wash -- or a DPS loss -- in aggregate.  Opportunity cost always looms over these micro-optimizations.

If you save Brutal Slash for Tiger's Fury (keeping the last charge regenerating only), and your fight length doesn't support that

[2021-10-05 14:57] luizzitol commented on #1252
I have been tinkering with the priorities for a couple of hours and added
the following.

+Shred if clearcast and not in tigers fury
+Brutal slash if more than 2 charges
+Shred if not in tigers fury
+The default brutal slash calculation.

I feel satisfied about this change but yeah, now I wonder if me being
satisfied implies a dps loss...

I wish I knew how to sim this as I have been hitting the d

[2021-10-05 14:59] Hekili commented on #1252
Dummy testing doesn't really count except for finding mechanical issues.  If you go to SimulationCraft's site, their wiki is the only reference for modifying priorities for testing purposes.

[2021-10-05 21:56] twitch122 opened #1253 "Finding priority! continually scrolls in /s white say chat"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Findin

[2021-10-05 21:58] Hekili commented on #1253
Report that to Hedd, "Finding priority!" does not exist in my addon's code anywhere.

[2021-10-05 21:58] #1253 closed, assigned to Hekili

[2021-10-11 01:38] djcosmic22 opened #1254 "Some abilities of the Death Knight do not have a GCD Animation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

When y

[2021-10-11 17:51] Avadahkadavrah opened #1255 "Error message that won't close (sub rogue)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

When I

[2021-10-12 20:23] Ekaj7 opened #1256 "Rogue/Sub AoE not working properly (not showing blackpowder)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-10-12 20:24] Hekili commented on #1256
Please follow the ticket instructions and supply the required snapshot(s).

[2021-10-12 20:36] Ekaj7 commented on #1256
Done :)

[2021-10-12 20:57] Hekili commented on #1256
Nope.  Here are the instructions.

![image](https://user-images.githubusercontent.com/9438134/137028099-a2ae2a35-a4e7-4cac-9d96-2ec0b83cfc1d.png)

[2021-10-14 00:07] deschroyer opened #1257 "Affliction warlock here and the rotation keeps reccomending a mage talent called evocation..."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-10-14 00:50] Hekili commented on #1257
Please submit the required snapshot and use pastebin links per the instructions.

[2021-10-16 18:19] scouterwww opened #1258 "DH Havoc too many error in UI"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

The ro

[2021-10-17 15:55] imarkvisser opened #1259 "Assasination rogue rotation sometimes does not recommend spells"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-10-19 22:39] LucianDK commented on #1104
I am new to demonology warlocks and I have experienced a similar problem to the OP here. But I discovered why it happens.

The culprit is the legendary Wilfred's Sigil of Superior Summoning.
Prior to obtaining it I had the cooldowns showing in a seperate queue, wherein Summon Demonic Tyrant showed just fine. But after aquiring the legendary it does not do so anymore. Upon untoggling seperate coold

[2021-10-20 02:16] Hekili commented on #1104
Those snapshots don't support what you're saying.  Summon Demonic Tyrant isn't shown in the separate display at the time you took the snapshot because its criteria aren't met -- you only have 3 Wild Imps and none of your major demons (Felguard, Vilefiend) out.

[2021-10-20 04:33] LucianDK commented on #1104
Ok, let me try again:
Here is the snap from doing the rotation with the wilfred legendary ring and no seperate cooldown queue toggled. Where Demonic Tyrant appears in the primary queue as expected.
[WithRingAndNoSeperateCooldown.txt](https://github.com/Hekili/hekili/files/7378138/WithRingAndNoSeperateCooldown.txt)

Here is the rotation with the ring and seperate cooldown queue toggled. And now Dem

[2021-10-20 07:24] Orillien opened #1260 "Need help with my Frost DK Rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Hello

[2021-10-20 11:48] Hekili commented on #1260
Sorry, I do not help write custom priorities.  I would recommend trying to build your priority in SimulationCraft and reference their wiki for testing purposes.

[2021-10-20 11:48] #1260 closed, assigned to Hekili

[2021-10-20 13:34] Orillien commented on #1260
It would be enough if you tell me whats wrong with the cooldown command with the ability breath of sindragosa because it just dont do anything and what i shall do instead.

[2021-10-20 13:36] Hekili commented on #1260
Quick guess would be that (1) it's on the Cooldowns toggle and (2) you have Cooldowns toggled off.  That'll treat BoS like it's fully on cooldown.

[2021-10-20 13:49] Orillien commented on #1260
Sometimes im feeling..........stupid as hell.....i toggled it off.......Well, thank you for that. And if i have you here for the moment anyway, it would be nice too if the ability list is sorted alphabetically to find the wanted ability faster.

[2021-10-20 15:25] MrHunter79 opened #1261 "Jotungeirr, Destiny's Call isn´t showing in rotation - Feral Druid"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-10-25 01:58] Maxkowa opened #1264 "Assa Rogue MFD Singletarget new Build / Prio"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-01 10:10] Mordbreygon commented on #247
The options menu opens over the addon and the typing command doesn't bring anything up

[2021-11-01 11:32] Hekili commented on #247
Or use `/hekili unlock` and `/hekili lock`.

[2021-11-02 02:46] Hekili commented on #1264
All priorities will be up to date for 9.1.5.

[2021-11-02 02:46] #1264 closed, assigned to Hekili

[2021-11-02 02:46] Hekili commented on #1261
Fixed for 9.1.5's release.

[2021-11-02 02:46] #1261 closed, assigned to Hekili

[2021-11-02 02:47] Hekili commented on #1259
There is a priority update for 9.1.5 that might make this report obsolete.  If it comes up again in 9.1.5, please reopen the ticket with a fresh snapshot and share what you believe should've been recommended at that time.

[2021-11-02 02:47] #1259 closed, assigned to Hekili

[2021-11-02 02:48] #1258 closed, assigned to Hekili

[2021-11-02 02:48] Hekili commented on #1258
Thanks for the report, this is fixed for 9.1.5.

[2021-11-02 02:49] #1257 closed, assigned to Hekili

[2021-11-02 02:49] #1256 closed, assigned to Hekili

[2021-11-02 02:50] Hekili commented on #1255
This is fixed for 9.1.5.  Thanks for reporting.

[2021-11-02 02:50] #1255 closed, assigned to Hekili

[2021-11-02 02:54] Hekili commented on #1254
I've reverted the CD spiral changes for 9.1.5.

[2021-11-02 02:54] #1254 closed, assigned to Hekili

[2021-11-02 02:55] #1252 closed, assigned to Hekili

[2021-11-02 02:55] Hekili commented on #1250
The changes that caused this issue have been reverted for 9.1.5.

[2021-11-02 02:55] #1250 closed, assigned to Hekili

[2021-11-02 02:55] #1248 closed, assigned to Hekili

[2021-11-02 03:12] Hekili commented on #1247
This *may* be fixed for 9.1.5.

[2021-11-02 03:12] #1247 closed, assigned to Hekili

[2021-11-02 03:46] Hekili commented on #1242
This should work in 9.1.5.

[2021-11-02 03:46] #1242 closed, assigned to Hekili

[2021-11-02 03:52] Hekili commented on #1235
This will work in 9.1.5.

[2021-11-02 03:52] #1235 closed, assigned to Hekili

[2021-11-02 20:46] DiscordGregory commented on #662
I'm getting this error, using the current version 9.1.5-1.0.0

1x Hekili\Events.lua:115: Attempt to register unknown event "SOULBIND_CONDUIT_CHARGES_UPDATED"
[string "=[C]"]: in function `RegisterEvent'
[string "@Hekili\Events.lua"]:115: in function `RegisterEvent'
[string "@Hekili\Shadowlands\SoulbindConduits.lua"]:518: in main chunk

Locals:
(*temporary) = <unnamed> {
 0 = <userdata>
}
(*tempora

[2021-11-02 20:50] DiscordGregory opened #1265 "[BUG] Event not found error on login"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

I get

[2021-11-02 21:39] Hekili commented on #1265
1.0.1 will fix.

[2021-11-02 21:39] #1265 closed, assigned to Hekili

[2021-11-02 23:31] N6REJ opened #1266 "Lua error when logging in on 9.1.5"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

When I

[2021-11-02 23:35] N6REJ commented on #1266
if I disable all addons except hekili I get
[code]

[2021-11-02 23:36] Hekili commented on #1266
Thanks for the report.  What is the first error?

Please use Pastebin to link the full content of errors.

[2021-11-02 23:38] chatterchats opened #1267 "[BUG] Unknown Event being Registered"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Upon L

[2021-11-02 23:39] Hekili commented on #1266
What class/spec are you logging in with?  Does it happen with multiple classes/specs?

[2021-11-02 23:39] Hekili commented on #1266
What version of the addon are you using?

[2021-11-02 23:40] N6REJ commented on #1266
hi, let me gather information for you..
I'm on a very slow old Mac so sorry if I'm slow

[2021-11-02 23:43] chatterchats commented on #1267
Please close, I just saw that 9.1.5-1.0.1 was release on GitHub fixing this very issue! Assuming it will roll out to the platforms shortly!

[2021-11-02 23:43] #1267 closed, assigned to Hekili

[2021-11-02 23:59] N6REJ commented on #1266
lvl 50 vengeance demon hunter, in the maw.
Please notice the error changed after turning off all other addons
Original error: https://pastebin.com/QF0HB34s
Current error: https://pastebin.com/3fEekbc8
version: 9.1.5-1.0.1

Please note that the addons I had running are the normal ones I use with no issues

[2021-11-03 00:02] Hekili commented on #1266
It's possible that another addon is supplying an old/broken/modified version of LibStub, but that would be odd.  You'd have to narrow down the other addon(s) involved to be able to figure this out.

Clear out your BugSack, reload your UI, and then go back to provide the very first error in the list.  Everything else is likely a result of the first error.  Thanks.

[2021-11-03 00:17] N6REJ commented on #1266
yeah, cause when I change char I got a totally different error https://pastebin.com/bCqSk16Y
I would suspect addibags let me do some research really quick

[2021-11-03 00:18] Hekili commented on #1266
I only care about the first error.

[2021-11-03 00:19] N6REJ commented on #1266
I posted it twice.

[2021-11-03 00:21] Hekili commented on #1266
Which of the errors you provided is the first one in the sack after you've done the above?

I use AdiBags and am not seeing this error message.

[2021-11-03 00:23] N6REJ commented on #1266
This old man is getting confused....
The ORIGINAL error I put in the original post.
I'm installing bug sack now.

[2021-11-03 00:27] N6REJ commented on #1266
ok, went to a brand new char with brand new install of bug sack and got https://pastebin.com/WALnTxKM

[2021-11-03 00:28] Hekili commented on #1266
Error messages are show with the latest first. That's why I'm asking you to scroll back to the first one. If it's frustrating, you don't have to do anything you don't want to do. We can wait for someone else to make a report instead. Otherwise, I have to ask clarifying questions and get direct answers to the specific questions I ask. Thanks.

[2021-11-03 00:31] N6REJ commented on #1266
it's fine, I'm not trying to frustrate you. I"m on a very slow pc right now so thast hindering things

[2021-11-03 00:39] N6REJ commented on #1266
I see lots of errors when hitting "previous in bugsack.
https://pastebin.com/QQRckv6d is the error when I keep hitting previous and get as far back as it will go.
Would it be  better if I sent you the report via game?

[2021-11-03 01:16] N6REJ commented on #1266
@Hekili did I frustrate you?

[2021-11-03 01:36] Hekili commented on #1266
That's why you have to clear your BugSack and then reload UI.  That way you just see the errors from when you reload, forward.

The only way formatKey would be unavailable at this point in time would be if there were an error earlier in the load process that prevented Utils.lua from being loaded, because Utils.lua (with formatKey in it) loads before State.lua.

Are you installing a complete Hekili

[2021-11-03 23:20] joshhr opened #1268 "Start After Global Cooldown removal causing performance issues"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-03 23:35] joshhr commented on #1268
This creates very weird issues when playing a proc based spec as it takes quite a while for the priority to update causing missed/delayed procs

[2021-11-04 00:02] Hekili commented on #1268
No, that's not what Start after Global Cooldown does (or did).  If you want to submit a ticket with the required information, I'll take a look at that.

[2021-11-04 00:02] #1268 closed, assigned to Hekili

[2021-11-04 05:17] N6REJ commented on #1266
Libstub is there.. but I noticed its not throwing the error now.  I'm going to see if its still an issue or not.  There has been a ton of updates from all the big players in the last 48hrs
It might be a mac only thing, which would be weird, but I'll try to research it.  My mac will be down for a few days while I await a kvm.

[2021-11-05 21:39] shadowfx1970 commented on #309
You have never been able to ambush from shadowmeld, this is why I stopped using hekili. Notified Raidbots over a year ago but alas as always there's little love for us rogues :)

[2021-11-05 21:56] Hekili commented on #309
Yes you can. Shadowmeld doesn't change your action bar but you can Ambush anyway. Unless something has changed since the previous 5 times I've checked.

[2021-11-05 22:05] shadowfx1970 commented on #309
No, you can't, I just tried it in the raid. I'll test it on training dummy see if it works on them.

edit: Tested it on dummy and it worked fine, my apologies don't know why it didn't work in raid.

[2021-11-06 00:44] Hekili commented on #309
Thanks for rechecking.

![image](https://user-images.githubusercontent.com/9438134/140592067-84848efd-a51f-4d36-9e3f-6866436164aa.png)

Just leaving this here for future reference:  https://www.warcraftlogs.com/reports/HDk9d4YcCjhqvJgQ#fight=4&type=casts&source=9&translate=true&start=1424184&end=1462169&view=events

[2021-11-06 18:43] necampanini opened #1270 "[BUG] Warrior / Arms / Necrolord - "attempt to call global 'FindUnitBuffByID' ""
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Moving

[2021-11-06 21:27] #1270 closed, assigned to Hekili

[2021-11-06 21:27] Hekili commented on #1270
Fix inc.

[2021-11-07 13:49] geraint425 opened #1271 "[SV Hunter] incorrectly recommends updating Serpent Sting"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-07 15:03] Hekili commented on #1271
It's following the sim priority; if you're managing to sit at Focus cap, you're doing something else incorrect.  This is entry 10 in the `st` action list.

Specifically this part:

If you were at 92.5 Focus or fewer, it would've recommended the Volatile Bomb instead.  Otherwise, it wants you to use something that costs Focus so that you're not wasting Focus regen.

You could try removing the `focu

[2021-11-07 15:03] #1271 closed, assigned to Hekili

[2021-11-07 15:06] geraint425 commented on #1271
Okay, I'll try to find this line myself and fix it for myself. It's just that what you described so does not work correctly in reality. And you can take the time yourself and look at most of the logs that people are not using the Dot update

[2021-11-07 21:04] Ketrel opened #1272 "[BUG] Client lockups on login for Night Fae Retribution Paladin"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

When I

[2021-11-07 22:39] Hekili commented on #1272
So you're saying that it does ultimately unlock after logging in (it doesn't crash) -- I assume this because you could provide player information.

Can you provide your `World of Warcraft/_retail_/WTF/Account/`*YourAccountName*`/SavedVariables/Hekili.lua`?  And your character name + server?

If you exit WoW, then rename `Hekili.lua` in that folder to `Hekili.lua.backup`, and restart WoW, do you ha

[2021-11-07 22:54] Ketrel commented on #1272
Yes, it locks up (Windows greys it out and says its not responding) for anywhere between 1-5 minutes, but ultimately it does eventually unfreeze and then works as normal.  It's only on login (doesn't happen after a /reload), and only this one toon.

A freshly generated config file doesn't make a difference. The lockup still occurs.

The config file itself was too large to put into pastebin, so I t

[2021-11-07 23:25] Hekili commented on #1272
Just to confirm, you actually tried it?  Is the linked file your original one, or the fresh version?

[2021-11-07 23:29] Ketrel commented on #1272
The one I linked is my original one with the unaffected toons removed so it would be small enough to post.

(The full one locked up my browser every time I tried to paste it into pastebin).

The only thing I did with the fresh version was test.  I did not upload that one.

This is what got generated when I logged in to generate a fresh file: https://pastebin.com/uVtcC0as

First one from a half hou

[2021-11-07 23:47] Hekili commented on #1272
You mentioned it only happens with my addon loaded.  If my addon is the **only** addon loaded, does it happen?

[2021-11-08 00:25] Ketrel commented on #1272
That one I won't be able to check for a while.  I'm no longer at the machine. Are you thinking it may be a conflict?

[2021-11-08 14:55] Ketrel commented on #1272
With just this addon disabled it didn't happen.
I then enabled them back in batches, and it still didn't happen even when I got them all back enabled, though there were minor freezes, they were less than a second.
After closing and reopening the wow client later, it's back to happening full on, and is dependent on hekili being enabled or disabled as an addon.

I'm not sure the best way to continue

[2021-11-08 15:00] Hekili commented on #1272
If it only happens on a full client restart, it most likely has to do with item caching since cached item data persists through a reload.

I would try disabling addons that interact significantly with items (auction house stuff, maybe altoholic or similar stuff) and do a full client restart.  If it restarts quickly, great.  Add back a UI mod and then fully restart WoW again.

I've seen something s

[2021-11-08 21:40] AhoyThere opened #1273 "Flayed Shot (Ventyhr) not showing/not being recommended at all"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-08 21:46] Hekili commented on #1273
Sorry, you'll need to submit a proper ticket including the required snapshot(s).

[2021-11-08 21:46] #1273 closed, assigned to Hekili

[2021-11-08 22:31] kuttim opened #1274 "Arcane mage performance issues"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-08 22:35] Hekili commented on #1274
Arcane is the only spec that's vastly more complex than Fire.  I might be able optimize it a bit, but it's not going to outperform Fire which is already pretty CPU intensive.

[2021-11-08 22:38] kuttim commented on #1274
Ah I see, thank you for clarifying, couldn't find much information under issues section regarding arcane performance issues so figured I'd open a ticket, personally didn't think arcane would be more complex than fire is, but that makes sense now, thank you!

[2021-11-08 22:38] #1274 closed, assigned to Hekili

[2021-11-08 23:02] Hekili commented on #1274
There is still room to optimize.

[2021-11-09 01:41] AhoyThere commented on #1273
https://pastebin.com/1UeiQwQn

Is this what you need?

[2021-11-09 01:42] Hekili commented on #1273
Yes.  You have cooldowns and covenant abilities toggled off, so Flayed Shot isn't showing.  See /hekili > Toggles.

[2021-11-09 01:54] AhoyThere commented on #1273
Oh wow, you are right... although I'm not sure how that happened.
Thank you.

[2021-11-09 21:51] Ketrel commented on #1272
I think I found the culprit based on what you said about items.

It appears that having Mogit (One-hand, Two-hand, Plate, and Other) and Hekili both enabled is when it happens.

I can go through the various mogit modules and see which does it or if all of them do it, but I may need to wait until near the end of the week.

[2021-11-09 21:53] Hekili commented on #1272
Thanks.  It *probably* means I have an invalid item ID associated with some ability, and would've been introduced when I had the addon start to autopopulate those.  I can do some investigation on my own as well.

Thanks for continuing to test and report back.

[2021-11-10 06:13] uzzwow opened #1275 "Fire mage getting 'Critical mass' icon with a red X (Sun King's Blessing leggo)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-11 01:04] Ketrel commented on #1272
I found I'm still having it happen with JUST the base Mogit addon (none of the specific modules) + Hekili.

Disabling either of the cause the issue to stop.

For testing purposes, can is the autopopulation something I could comment out the call for in the Hekili to see if that allows both to co-exist or would that break the addon entirely at this point?

[2021-11-11 02:08] Hekili commented on #1272
The change I was suspecting is line 465 of Classes.lua, which looks like: `class.specs[0]:RegisterGear( ability, item )`

I'm less confident that this is the issue.  But you can try commenting it out by putting two dashes (`--`) before the word `class` and see if it makes a difference.

[2021-11-11 02:39] Ketrel commented on #1272
Yeah unfortunately, that didn't make a difference.

(I'm not above putting `print()` statements in various spots to see what's firing off nearest to the lockups)

[2021-11-11 13:39] Hekili commented on #1272
What about looking at the opposite angle?  If you start with a fresh MogIt profile for your Paladin, do you get the lockup?

I saw on the MogIt site that there's a report of freezing there.  It could still be related to an interaction with my addon, but you confirmed that a fresh Hekili profile didn't make a difference.

[2021-11-11 23:02] MrWizard516 opened #1276 "Earth Elemental and Healing Surge conditions"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-12 13:50] Hekili commented on #1276
This would all be doable, but I don't help write custom priorities just because that requires more time than I have.

However, there's a similar guide for Feral here:  https://github.com/Hekili/hekili/wiki/Frequently-Asked-Questions#how-do-i-make-the-addon-recommend-________

[2021-11-12 14:17] #1276 closed, assigned to Hekili

[2021-11-13 17:52] Hekili commented on #1275
The entry you're referring to is recommending removal of Sun King's Blessing before Combustion.  The explanation from the sim is here:

`If Sun King's Blessing stacks are high, cancel them before Combustion so that the Sun King's Blessing proc can be safely delayed until after Combustion without risk of expiration.`

The specific conditions leading that entry to show:

`buff.combustion.down&buff.s

[2021-11-13 17:52] #1275 closed, assigned to Hekili

[2021-11-14 23:15] LeonardoDeQuirm opened #1281 "[BUG] Global variable 'gcd' error when using Arcane Mage Profile"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

When t

[2021-11-15 05:12] LeonardoDeQuirm commented on #1281
I believe I have fixed this myself: Line 607 in the affected module calls arithmetic on `gcd` instead of `gcd.max` as per the comment. Adjusting this has made the Lua error far less common

[2021-11-15 12:10] Snoogey opened #1282 "[BUG] HekiliDisplayPrimary.Recommendations[1].wait doesn't update frequently without Throttle Updates"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Hekili

[2021-11-15 13:11] Hekili commented on #1281
Yup, that's the correct fix.  Will be resolved in -alpha2.

[2021-11-15 13:26] Hekili commented on #1282
Yes, the best way for the addon to reduce CPU usage is to update less frequently, if it hasn't seen anything happen in combat that would confirm an update is needed.

The `wait` value for an icon is probably not the value you want to build a WeakAura around, because the `wait` is simply the amount of time between when recommendations were generated and the recommended ability should be used.  (For

[2021-11-15 13:26] #1282 closed, assigned to Hekili

[2021-11-15 13:28] Hekili commented on #1272
Any update on using a new MogIt profile?  I can't replicate this on my end, so it'd be helpful to know if different MogIt configurations can possibly trigger this problem.

[2021-11-15 13:28] Hekili commented on #1266
This appears to be resolved.

[2021-11-15 13:28] #1266 closed, assigned to Hekili

[2021-11-15 13:32] Hekili commented on #1249
Just wanted to confirm I've looked at this a little bit.  Swing timers (and downstream impacts of swing timers) are clumsily implemented in the addon, tbh.  This might be something I'll address in the near future since I just had to resolve a separate bug related to offhand swings for specs not wielding an offhand.  I'll post if/when anything changes.

One issue that we will probably see is that l

[2021-11-15 15:19] Ketrel commented on #1272
Sorry, I could've sworn I replied.  Unfortunately a completely fresh mogit profile doesn't seem to affect if the lockup happens nor the duration.

[2021-11-15 15:22] Hekili commented on #1272
Thanks for checking back in.

Did you speak to this part, above, yet?  I may have overlooked it.

If you open `Hekili.toc` and edit this line:

`## OptionalDeps: AddOnSkins, BrewmasterTools, ConsolePort, ElvUI, LibDualSpec-1.0, Masque, SpellFlash, SpellFlashCore, WeakAuras`

If you add MogIt and fully restart WoW, does it impact anything?

`## OptionalDeps: AddOnSkins, BrewmasterTools, ConsolePort

[2021-11-15 15:28] Ketrel commented on #1272
Nope, I never mentioned that bit, thus far that section hasn't shown up.  I'm not surprised it hasn't as for the whole thing I haven't seen a single lua error output.  I typically use buggrabber and bugsack so it'd be very noticable had something got thrown.

That's part of what's making it so perplexing to me.

As for editing the toc file, it doesn't seem to have any effect.  Still get the lockup

[2021-11-15 15:30] Hekili commented on #1272
Yeah, that would make MogIt finish first.  You could try removing it from Hekili.toc and then add `Hekili` to MogIt's toc instead.

I still suspect that one addon or the other is trying to retrieve item information for an invalid item ID.  But I couldn't replicate on my own character.

If you strip your character naked and fully restart WoW, does it freeze?

[2021-11-15 16:12] Ketrel commented on #1272
No change with putting hekili in mogit's toc file either unfortunately.

Naked though, that changed the symptom a bit.

Logging in naked with both addons enabled, instead of a total client lockup, it went to short freezes.  Like 1/4 a second, but it was constant.  I went into an autowalk, and of a Zandalari's walking animation it would go `3-4 steps, freeze, 2 steps, freeze, repeat`.

Knowing what

[2021-11-15 16:13] Ketrel commented on #1272
(I tried restarting with my toon parked in maw to no effect, so it doesn't seem to matter if the bonuses are active or not)

[2021-11-15 16:15] Hekili commented on #1272
When you saw this, did you end up with warnings?  BugSack/BugGrabber errors?

The logic for dom shards/sockets is basically identical to checking for legendaries, etc.  They're all just bonus IDs on gear.  Whether they're active is checked by relying on the buffs themselves, not location.  It could still be related, but nothing springs to mind as to how.

[2021-11-15 16:24] Ketrel commented on #1272
Nope, no errors at all at any point in this.

I wouldn't rule out checking the buffs either for the dom socket bonuses if that internally is checking the location as well.

Something I should also mention is that this happens regardless of if hekili is enabled/disabled via its minimap button menu.  Whatever is triggering it is happening regardless of that.

[2021-11-15 16:27] Hekili commented on #1272
You could try inserting `print()` statements throughout the `updateGear` function in... Events.lua, IIRC.  It sounds like there's a loop or something is refiring again and again and again.  Maybe updateGear isn't completing successfully or being repeatedly triggered for no reason?

`print( debugstack() )` would give information about the function running and how we got there.

[2021-11-15 16:41] #1281 closed, assigned to Hekili

[2021-11-15 19:00] Ketrel commented on #1272
Before I dig deeper how many times is the `ns.updateGear()` function intended to run on login?

I stuck a couple counters + prints in the function, one before and one after

`if not Hekili.PLAYER_ENTERING_WORLD then return end`

By the time the lockup ended, it reported the overall function ran, and executed past the line I quoted a total of 410 times.

[2021-11-15 19:08] Ketrel commented on #1272
Some additional info, this bit doesn't appear to be the issue.

[code]

Both with and without mogit enabled, that block looks like it only triggers twice.

[2021-11-15 19:33] Hekili commented on #1272
410 is a lot, especially if it's related to volume of items in the addon.  Did you try printing the `debugstack()` for any of these?  It can help determine what caused the code to be fired.

[2021-11-15 19:52] Hekili commented on #1272
See if -alpha3 makes a difference when it posts in a minute.

[2021-11-15 21:01] Ketrel commented on #1272
Unfortunately that doesn't seem to help.

I don't know if any of this helps, but I traced the 400+ firings of that to where it's called from `RegisterUnitEvent( "UNIT_INVENTORY_CHANGED", "player", nil, function()` around line 901.

However, I commented out that entire binding and the lockup still happens.

I'm not sure this function is the cause at all.  I tried commenting the event registrations

[2021-11-18 03:46] Ketrel commented on #1272
I just wanted to update.  It does not appear to be covenant related.  I am temporarily in the Kyrian covenant to get some xmog items, and I thought to enable Hekili to see if it still happens without any Night Fae abilities in play at all.  It unfortunately still locks up the same way.

[2021-11-18 20:59] basalt51 opened #1285 "[REC] DRUID Balance recommended ability keys not recognized in moonkin form when its also on the bar in normal form"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-18 21:01] Hekili commented on #1285
This is dependent on the order you put abilities on your bars.  If you changed which bars are used for which forms, the addon has no way of knowing.

You can manually set the keybinding text for anything the addon can't safely detect in /hekili > Abilities.

[2021-11-18 21:01] #1285 closed, assigned to Hekili

[2021-11-22 01:11] nancikennedy opened #1289 "[BUG] Queue Direction Bug"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Queue

[2021-11-22 03:07] Hekili commented on #1289
I'm not seeing this behavior on mine.

![image](https://user-images.githubusercontent.com/9438134/142795183-b1349971-13c5-4600-bbf8-af6e216fe9a3.png)

![image](https://user-images.githubusercontent.com/9438134/142795205-19c5073a-2b91-48ab-8ab2-3f5c63a7208b.png)

Can you post screenshots of yours where this issue is happening?

[2021-11-22 04:11] nancikennedy commented on #1289
Well, that's because I am an IDIOT! It's when you set it opposite, so Left/Right OR Right/Left. /sigh

[2021-11-22 14:18] Hekili commented on #1289
Yeah, that behavior is intentionally allowed, because I assume if you do something weird like that, you have a reason to do it weird.  If you anchor something to the left side and then have it go right, the natural outcome is that there will be overlap.

[2021-11-22 16:44] #1289 closed, assigned to Hekili

[2021-11-22 17:40] legitirl opened #1290 "[BUG] Game Freezes at Loading Screen, Sometimes Crashes, Sometimes program stops responding"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

I have

[2021-11-22 20:15] Hekili commented on #1290
Can you send me your Hekili.lua file from your SavedVariables?

[2021-11-22 20:41] legitirl commented on #1290
[New Compressed (zipped) Folder.zip](https://github.com/Hekili/hekili/files/7584240/New.Compressed.zipped.Folder.zip)

[2021-11-22 21:55] Hekili commented on #1290
Thanks, nothing jumped out at me immediately.

Do you know when this started for you?  If you revert the addon to earlier versions, is there a specific point at which this goes away for you?

[2021-11-22 22:54] legitirl commented on #1290
It's honestly been doing this for 6+ months, i just never knew what it was. I thought it was my PC. I upgraded some stuff, reinstalled windows, reinstalled the game. Same result. I have no clue what is going on or what caused this.

How can I install a previous version? I will try that.

[2021-11-23 00:47] Hekili commented on #1290
They're all available -- see the Releases section here, or Files on CurseForge.

[2021-11-23 00:57] Hekili commented on #1290
You might also try removing SpellFlash from the addon to see if it makes a difference.

See Hekili/embeds.xml, remove these lines:

[code]

You can do this with the game loaded and then type `/reload` to reload your UI.

[2021-11-23 01:37] legitirl commented on #1290
When I remove those lines the addon does not load on /reload

[2021-11-23 01:37] Hekili commented on #1290
You can also add this Warmup addon and post a screenshot of the output:

https://github.com/tomchapin/Warmup/releases/tag/v0.4.3

[2021-11-23 03:23] noiseuu opened #1291 "[REC] Balance suggest before cd:s"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-23 03:28] noiseuu commented on #1291
https://gyazo.com/a16d7ed6beab960bbeaa19448e840b3c

like doing this

[2021-11-23 03:35] #1291 closed, assigned to Hekili

[2021-11-23 11:33] Dreamin93 opened #1292 "All Class/Specs - Buff skills/trinkets being high in priority even when they have 50+ mins left"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-23 13:09] Hekili commented on #1292
Thanks for alpha testing.  I appreciate the report.  Please revert to the previous alpha (or to the previous full release) while I investigate.

[2021-11-23 13:09] Hekili commented on #1290
Since you closed the ticket (I reopened), should I assume you won't be trying any of the things I recommended?

[2021-11-23 13:11] Hekili commented on #1272
Can you try Warmup and post the information it provides?

https://github.com/tomchapin/Warmup/releases

[2021-11-23 13:17] Hekili commented on #1292
1.0.4-alpha5 looks like it fixes this.  Maybe.  Let me know.  Thanks!

[2021-11-23 13:50] legitirl commented on #1290
I didn't mean to close it. I'm fairly new to this website here lol.

I'm going to be trying some other things today. So far still having the same problems.

When I deleted the lines you mentioned above (shading) the addon wouldn't load. Do you know why?

[2021-11-23 14:20] Hekili commented on #1290
Probably messed up the formatting of the file.  If tabs were converted to spaces, it might not parse correctly.  I deleted those lines and loaded the addon without any issue.

[2021-11-23 14:31] legitirl commented on #1290
Can you send me your embeds file without those lines? I'll give that a go.

[2021-11-23 14:35] legitirl commented on #1290
This is when I do /reload.
![image](https://user-images.githubusercontent.com/94859160/143043602-f88633b7-497f-45bf-b586-2c180771ea97.png)

[2021-11-23 14:37] legitirl commented on #1290
The behavior I experience is ONLY when loading in or out of an instance and it seems that warmup doesn't pick up those load times?

I just queued for arena skirmish and the game had a big freeze/pause at the loading screen.

[2021-11-23 14:39] Hekili commented on #1290
Yeah, it's not egregious for just loading into the game.

You might try having /etrace open when you queue into a skirmish or whatever and see if there are a bunch of events firing a ton.  If there's a long gap between events in the /etrace that'd tell me what event is causing all the excess processing.

`/dump Hekili.ECount` might also be useful information (especially after zoning in and desynci

[2021-11-23 14:40] Hekili commented on #1290
Also, trying an old version might help narrow down when code was added that is problematic.

Try the first Shadowlands release.  If no problem, let me know.
Try the first 9.1 release.  If no problem, let me know.
Once you find the first version with a problem, you can backtrack through minor versions to figure out which release introduced the problem.

[2021-11-23 14:49] legitirl commented on #1290
While sitting in cov hall
![image](https://user-images.githubusercontent.com/94859160/143045127-b0d7f189-0f62-4fb3-8019-de66b962c9fd.png)

[2021-11-23 14:51] legitirl commented on #1290
![image](https://user-images.githubusercontent.com/94859160/143046783-7f11048d-b8d0-4d77-a187-8e3464ba3229.png)
post arena skirmish

[2021-11-23 15:41] Hekili commented on #1290
I really need that data + /etrace from right after entering the arena (but before the fight).

[2021-11-23 15:51] legitirl commented on #1290
https://youtu.be/XEpZk1vNqMQ

[2021-11-23 16:00] Hekili commented on #1290
Thanks, that helps but not quiet enough, unfortunately.

Can you try `/dump Hekili:DumpProfileInfo()` before teleporting into the arena and then again immediately after teleporting in?

It'll put a *lot* of information into your chat.

[2021-11-23 16:07] legitirl commented on #1290
before loading in arena
![image](https://user-images.githubusercontent.com/94859160/143060214-805d6a37-6d13-4e8c-9af4-2b71c1796487.png)

after loading in arena
![image](https://user-images.githubusercontent.com/94859160/143060283-ec5d8187-0edd-4df4-9cab-20b3ec3290ab.png)

after loading out of arena
![image](https://user-images.githubusercontent.com/94859160/143060371-c0982396-e178-4b42-a3e2-52c59e

[2021-11-23 16:08] legitirl commented on #1290
looks like all of them started with "Dump: value=Hekili:DumpProfileInfo()" and ended with "empty result"

[2021-11-23 16:11] Hekili commented on #1290
Yeah, you have to have CPU profiling enabled for it to work, unfortunately.

`/run SetCVar("scriptProfile", "1")`

Reload UI.

Queue for skirmish.

When the queue pops, `/run Hekili:DumpProfileInfo()` and grab the output.

Accept the queue.

After the loading screen goes away, `/run Hekili:DumpProfileInfo()` again and grab the output.

`/run SetCVar("scriptProfile", "0")` and then `/reload` (to tu

[2021-11-23 16:40] legitirl commented on #1290
https://youtu.be/RKcA2R1rPPY

[2021-11-23 16:44] Hekili commented on #1290
I can't tell anything in that 360p video, but screenshots that follow the instructions my last post would be good enough.

[2021-11-23 16:47] legitirl commented on #1290
before hitting loading screen
![image](https://user-images.githubusercontent.com/94859160/143067260-1b229d8f-855b-4b92-8f6e-6f8cb582d4b5.png)

post-loading screen (it does it on zone changes, i.e. hearth stone, accepting summons, etc also)
![image](https://user-images.githubusercontent.com/94859160/143067419-aea9f679-efc4-4913-979f-f6d871d24a25.png)

[2021-11-23 16:49] Hekili commented on #1290
Thanks.  Can you try grabbing the latest alpha version and posting the same information again?  (You can revert back to 1.0.3 after.)

It does look like something is triggering a lot of resetting during the loading screen, which is pointless.

[2021-11-23 17:07] legitirl commented on #1290
maybe I'm newb.

I go here:
https://github.com/Hekili/hekili/tree/v9.1.5-1.0.4-alpha

I click on Code Dropdown, click download ZIP.

I copy contents into Hekili folder.

/reload

Hekili shows in addon menu but does not load. (I had this same issue when trying to pull in previous versions).

Am I doing something wrong?

[2021-11-23 17:18] Hekili commented on #1290
https://github.com/Hekili/hekili/releases/download/v9.1.5-1.0.4-alpha5/Hekili-v9.1.5-1.0.4-alpha5.zip

[2021-11-23 17:35] legitirl commented on #1290
Seems the alpha fixed it!

https://youtu.be/5iRzQBOl1QU

[2021-11-23 17:36] legitirl commented on #1290
how would i get to this file for future reference? Seems I took the wrong path.

[2021-11-23 17:45] Hekili commented on #1290
Under Assets, it's the first link.  It is the "packaged" version that includes libraries.  The source code alone does not include libraries.

There are likely other issues with -alpha5 (and -alpha4), so I would suggest trying -alpha3 for now.

[2021-11-23 18:35] legitirl commented on #1290
I will give those a shot when I get back to my computer. Thank you so much.

[2021-11-25 18:31] kuttim commented on #1291
Why did you close this? Did you find a fix?

[2021-11-25 18:49] Hekili commented on #1291
Because it's an alpha build and it's a known side effect of something else I'm working on.

[2021-11-26 11:22] xdLhx opened #1293 "[BUG] Keybinds are wrong"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

THe Ke

[2021-11-26 11:31] xdLhx commented on #1293
Looks like a bartender issues. Sorry, you can close it down

[2021-11-26 13:03] Hekili commented on #1293
Not precisely a Bartender issue, but maybe how the addon reads from Bartender.  There's a fair amount that is dependent on the order you load abilities into your bars, unfortunately.  You can manually set what keybinding you want to see in /hekili > Abilities (or Gear and Trinkets, if it's an item).

[2021-11-26 13:03] #1293 closed, assigned to Hekili

[2021-11-27 02:42] Ketrel commented on #1272
I did give that a shot, but nothing appears to be loading long, and the lockup happens after the "World entry", "Total time", finally "Blizzard_PlayerChoice".  Only after all of that shows up does the lockup happen.

Is there a specific part of the output you're looking for, because nothing looks to be loading long (unless I enable All The Things, and then THAT one loads long, but not any of the o

[2021-11-29 17:25] rogal223 opened #1294 "game freezes crashes on raid"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Hello,

[2021-11-29 17:54] Hekili commented on #1294
Sorry, you'll need to follow ticket instructions to supply information that allows me to investigate.

[2021-11-29 17:54] #1294 closed, assigned to Hekili

[2021-11-29 18:02] rogal223 opened #1295 "[BUG] game freezes crashes on raid"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Hello,

[2021-11-29 18:04] Hekili commented on #1295
What does this mean?

What does this mean?

[2021-11-29 18:08] rogal223 commented on #1295
What character would I not play when I go to a raid and I have the hekili on, which requires a fight with more monsters, the game crashes I do not know why this is happening. The hardware in the computer is not weak. You once wrote to me that the problem is on the processor side when I had amd but now I have i9 and this is the same problem.

[2021-11-29 18:09] rogal223 commented on #1295
auto spec I mean that I just automatically uploaded the rotation settings by the program, I do not change anything there, one that adds just 5 skills forward to show me

[2021-11-29 18:11] Hekili commented on #1295
I honestly don't understand what you are saying.  It would help if you could describe the actual steps you are taking -- don't summarize.

1.  Start with fresh Hekili install.
2.  Log into X.
3.  Go to raid.
4.  Do Y or Z.
5.  Describe the problem that happens.

If I can't get specific step-by-step instructions for replicating, I won't be able to investigate this for you.

[2021-11-29 18:12] Hekili commented on #1295
I do not understand what this means.  You uploaded/imported something?  You didn't upload/import something?  You changed the display to show 5 skills?  I'm sorry that I cannot follow what you're saying.

[2021-11-29 18:13] SpatenLa commented on #1295
do you have the addons bugsack and buggrabber installed?

[2021-11-29 18:14] rogal223 commented on #1295
i got instaled adibags

[2021-11-29 18:15] rogal223 commented on #1295
![image](https://user-images.githubusercontent.com/66420209/143921149-6a6cf684-a9e6-41e1-83cb-9f109a0915a1.png)

[2021-11-29 18:15] SpatenLa commented on #1295
but its about the two addons "bugsack" and "buggrabber"

[2021-11-29 18:16] rogal223 commented on #1295
I don't have this or that installed

[2021-11-29 18:17] rogal223 commented on #1295
![image](https://user-images.githubusercontent.com/66420209/143921415-9d4584d7-f6a4-4575-99ba-c2549a6323eb.png)
this is all addons what i have instaled

[2021-11-29 18:18] SpatenLa commented on #1295
without those two addons you cant really say that you dont have errors, which are very very very important to know about potential issues and how to fix it.

[2021-11-29 18:21] rogal223 commented on #1295
ok im installed it now

[2021-11-29 18:27] SpatenLa commented on #1295
now you look out for the red sack on your minimap

[2021-11-30 19:55] thomasbrezina opened #1297 "[REC] WW Monk Recommendation Issue"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-11-30 19:58] Hekili commented on #1297
Thanks.

Is your user interface setup to show spell IDs in tooltips?  I'm curious about what spell ID is shown for Bonedust Brew on yourself and Bonedust Brew on your target.

[2021-11-30 20:28] thomasbrezina commented on #1297
yes, let me quickly check.

BDB ID on Target: 325216
BDB ID on Toolbar: 325216

[2021-11-30 20:39] thomasbrezina commented on #1297
and thank you for your great work. you are the best.

[2021-11-30 20:40] Hekili commented on #1297
Does your UI show who caused it?  I.e., does it confirm that it's your BDB?  I'm relying on the regular WoW API, with no special tricks, so I don't see any specific reason Bonedust Brew wouldn't work via normal detection.

[2021-11-30 20:50] thomasbrezina commented on #1297
Yes. It is mine. I am the only person there + the debuffs only show my own!

[2021-11-30 20:52] Hekili commented on #1297
To be clear, I'm not asking whether you know it is yours.  I'm saying, does your UI show you who cast a buff, and when you look at your target (while this issue is happening), does it show that debuff belongs to you?

[2021-11-30 20:57] thomasbrezina commented on #1297
oh. no, it prolly does not. it doesn't say whos it is i think but i will check again. can i turn this on somehow? does it have to be on?

[2021-11-30 20:59] Hekili commented on #1297
It depends on your UI and people normally don't see it.  I'll do some experimenting on my own.

[2021-11-30 21:01] thomasbrezina commented on #1297
So basically it reads my screen? so if I can manage to make the UI show whos buff it is - it will be fixed?

[2021-11-30 21:02] Hekili commented on #1297
No, you're misunderstanding me.  Don't worry about it.  You can't see the info I need, so I'll do my own testing.

[2021-11-30 21:06] thomasbrezina commented on #1297
ok! i hope it can be fixed cuz i am pushing fairly high keys and I rely very heavily on the addon (i know i shouldnt haha) and for some reason i try to burst amidst a massive group and all of a sudden it says cast "Chi Burst" or even worse "Fleshcraft"

[2021-11-30 21:17] Hekili commented on #1297
The snapshot you provided is not from the same time that you had the issue with Bonedust Brew.

![image](https://user-images.githubusercontent.com/9438134/144129380-b9480666-14ff-45b0-b38d-1ef987ba9dbf.png)

This shows the cooldown of Bonedust Brew has 36.37 seconds remaining, which means you cast BDB 23.63 seconds ago.  The buff/debuff would not be on the target after that much time.

The snapsho

[2021-11-30 21:22] thomasbrezina commented on #1297
it was taken 1 second before. I am 100% sure I can even have a video made or stream on discord! something is off!

[2021-11-30 21:25] Hekili commented on #1297
You might've made multiple selections and submitted the wrong one.  But the snapshot you submitted doesn't match your screenshot, either.

[2021-11-30 21:27] thomasbrezina commented on #1297
sec lemme try and i send both others

[2021-11-30 21:30] thomasbrezina commented on #1297
https://pastebin.com/2hZXvxmi

https://pastebin.com/9BMxef92

[2021-11-30 21:32] Hekili commented on #1297
In pastebin.com/2hZXvxmi, you don't have a target.

In pastebin.com/9BMxef92, you have Bonedust Brew applied (and it is detected), but the AOE action list (3+ targets) doesn't check for Bonedust Brew when deciding whether to use Chi Burst.

I'll check to the sim behavior about that last part.

[2021-11-30 21:35] thomasbrezina commented on #1297
yea then its the second one! i sometimes had it use Fleshcraft during BDB window

[2021-11-30 21:37] Hekili commented on #1297
You'd need to provide a snapshot of that actually happening.  It could be that you weren't targeting anything, which means your non-existent target doesn't have BDB, which means Fleshcraft is allowed.

[2021-11-30 21:39] thomasbrezina commented on #1297
yea dont worry about it i just wanted to mention it

[2021-11-30 21:42] Hekili commented on #1297
So yeah, I can confirm that the simc profile would use Chi Burst during BDB in AOE scenarios.

![image](https://user-images.githubusercontent.com/9438134/144132113-d639ccbb-7a47-4e0c-b4e8-5b502286614b.png)

I ran a sim to compare holding Chi Burst during BDB and it's a minor DPS loss to hold it back.  It's worth noting that the template sim character for Necrolord doesn't take Chi Burst.

![image]

[2021-11-30 21:44] thomasbrezina commented on #1297
ok so i just follow the advice? and does it differ between 2 or 10 targets?

[2021-11-30 21:54] Hekili commented on #1297
I can make adjustments to make the addon more resilient to target swapping and such, to *probably* avoid the issue of casting Fleshcraft during BDB like you described.

And no, the AOE action list for Windwalker is used at 3+ targets.

Within that list, the only condition for Chi Burst is that it won't overcap Chi.

Beyond that, you could create a custom priority and add additional conditions ther

[2021-11-30 21:56] thomasbrezina commented on #1297
![grafik](https://user-images.githubusercontent.com/89210110/144134437-d041e561-676a-4ab8-b2be-73921ee08823.png)

this might also explain why the aoe rotation isnt 100% correct!

[2021-11-30 21:57] thomasbrezina commented on #1297
oh thanks man! appreciate it!

[2021-11-30 21:59] thomasbrezina commented on #1297
![grafik](https://user-images.githubusercontent.com/89210110/144134915-1c43de1b-1b10-4db8-9444-a791628d6810.png)

[2021-11-30 22:04] Hekili commented on #1297
Yeah, that happens occasionally.  This has happened for other specs at times.  I don't rewrite sim priorities entirely unless I have tons of time for testing alternatives.

The WW priority isn't especially complex, IMO, so I'm not sure what's missing from the priority.  But if they update SimC, I'll update the addon to match.

[2021-11-30 22:04] #1297 closed, assigned to Hekili

[2021-12-01 03:52] ChrisKader opened #1298 "[BUG] LAG SPIKES DURING RECOMMENDATION CALUCATIONS [DRUID][FERAL]"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

I am c

[2021-12-01 03:57] Hekili commented on #1298
Sorry, this ticket sums up to "a lag spike happens sometimes" without anything that would help me investigate it. I'm working on some stuff that may improve it, so watch for the next release and see if it's any better at that point.

[2021-12-01 03:57] #1298 closed, assigned to Hekili

[2021-12-01 04:09] ChrisKader commented on #1298
I also have a video clip of when its happening that also shows the number of recommendations drop down from 4 to 1 while CPU usage increases and FPS drops. Link starts at the 4:10 mark with the FPS drop happening as I cast convoke at the 4:20 mark.

https://drive.google.com/file/d/1pfGOimXByIDfhKkv4aKNjPeqcTCKK_Hw/view?t=250

[2021-12-01 04:10] ChrisKader commented on #1298
Drive is still processing the video so its at 360p. Should be at 1080p soon.

[2021-12-01 04:20] Hekili commented on #1298
The video isn't accessible.  Looking at the snapshot, the addon's respecting your settings regarding throttling.  Like I mentioned, I'm working on things that may impact this but there's nothing I can really pull from the video that will help me to do any additional replication.  The changes I'm already making will impact this significantly.

This looks truncated.

This throttles intentionally (ba

[2021-12-01 04:21] ChrisKader commented on #1298
Should be accessible now. Regardless, I will wait for the next release.

[2021-12-01 04:45] Hekili commented on #1298
If you wanna do anything experimental, you can go into Events.lua and remove:

[code]

You can comment it out with `--` or `--[[ ]]` or just delete it.  That event is causing extra updates that don't seem to be needed.

[2021-12-01 05:13] geraint425 commented on #1298
I checked everything ok on my feral. Does not lag, does not slow down. And the person in the video clearly shows that he uses the program for hekilli to read the rotation. This can be seen by clicking on the bars. Since he instantly presses them to even GCD. That's his whole problem. I can record a video from my feral where everything works fine without lags. And the person clearly uses software.

[2021-12-01 05:14] #1295 closed, assigned to Hekili

[2021-12-01 05:14] Hekili commented on #1290
Closing this as resolved in the alpha branch.

[2021-12-01 05:14] #1292 closed, assigned to Hekili

[2021-12-01 05:15] #1290 closed, assigned to Hekili

[2021-12-01 05:16] ChrisKader commented on #1298
I use a Razor Naga mouse that has 12 buttons on the side to which I bind my abilities to. You can clearly see in the video that most of my abilities are linked to NUMPAD binds.

[2021-12-01 05:18] ChrisKader commented on #1298
Razor Naga lets me set buttons to repeat when I hold them down. Shred, for example, is on NUMPAD3. If I hold that button down on the mouse, it will keep pressing NUMPAD3. This results in me using shred right when I need to (the moment I have enough energy to do so). Same goes for Rake, Swipe and others.

[2021-12-01 05:27] ChrisKader commented on #1298
![image](https://user-images.githubusercontent.com/633360/144177064-cf2bf464-261b-4d1b-b1d2-5076c4d06955.png)

[2021-12-01 06:15] ChrisKader commented on #1298
I tested for about 30 mins on a dummy then did a key with zero issue after commenting out that event register. After the key, I uncommented it and within a few minutes I experienced the same issue.

Thanks for the help!

[2021-12-01 17:36] marekCs opened #1299 "Hunter/Marksmanship trinkets are not recommended in Fixed dual display mode"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc