[2021-12-01 18:53] marekCs commented on #1299
Okay, now my Primary trinket is showing up. But I think I've figured out where the error is. Trinket wasn't showing up in the phase when I hadn't gotten covenant abilities yet, I didn't have any. (and it was only showing for AOE) so there must be a condition somewhere in Primary that the char has covenant ability. After I got covenant ability (Wild Spirits) the trinket suddenly started showing up

[2021-12-02 03:47] UltiDeeps opened #1300 "[REC] REPLACE THIS TEXT WITH YOUR CLASS/SPEC AND BRIEF ISSUE DETAILS"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-02 03:48] UltiDeeps commented on #1300
Manually added ST Snapshot for reference can replicate aoe if necessary.

[2021-12-02 03:52] Hekili commented on #1300
The snapshot has to be taken when the problem is occurring, or it is useless. Please update the ticket title and add a snapshot of the problem occurring. Keep in mind, you're using an alpha testing release (already one version behind), so I appreciate the report but you'll need to update again to confirm whether you're having the issue or not.

[2021-12-02 04:06] Hekili commented on #1300
So, by default, if the addon fails to generate all its recommendations, it will automatically take a snapshot.  I'd need that snapshot, which will show where and why it failed to generate a recommendation.

I'll need a snapshot that's taken when this is happening.

That's odd, but may be an issue with -alpha6 that may be fixed in alpha7.  Let me know.

There's no need to have your display show the

[2021-12-02 04:09] UltiDeeps commented on #1300
I completely forgot what you were capable of seeing haha.  I switched my
release type and thought curse would auto download the previous install
again but I realize now it didn't.  Going back to live fixed my issue.  The
10 icons was more so to see if Fire Blast was initially suggested and
changed based off something I was doing incorrectly or not.

On Wed, Dec 1, 2021 at 8:07 PM Hekili ***@***.**

[2021-12-02 04:25] Hekili commented on #1300
K, I have fixed the Fire Blast part, but if you end up testing the latest alpha (-alpha8, at time of posting) and the addon doesn't give recommendations, those snapshots would be useful info.

[2021-12-02 04:25] #1300 closed, assigned to Hekili

[2021-12-02 13:06] Hekili commented on #1299
Yeah, sim priorities are generally built assuming you have all of the current expansions core features.  Not really a bug, but the Marksmanship priority could be adjusted to use Trueshot regardless of Covenant (which would then allow trinket usage, based on how the priority is written).

[2021-12-02 13:06] #1299 closed, assigned to Hekili

[2021-12-06 09:48] Barleduq opened #1301 "2 problems currently seen, same profile in use. Windwalker: Icons show, do not 'walk off' when used. SinRogue: Doesn't show up at all."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Windwa

[2021-12-06 14:10] Hekili commented on #1301
First, thanks for alpha testing.  Keep in mind, alpha versions are _not_ latest releases, and are test versions that are likely to have bugs.

Second, it is *really hard* to follow the multiple issues in your ticket and figure out which pieces might be related and which pieces are unrelated.  If there are distinct issues, it's better to put the issues in separate tickets.  If there are issues that

[2021-12-08 04:52] izomiac opened #1302 "[REC] Soothe isn't being recommended for enrage effects"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-08 04:55] Hekili commented on #1302
Correct, Soothe is not in the Guardian priority.

Where'd you do that?  I don't see Soothe in your snapshot.  Guardian doesn't have a utility/interrupt list.

[2021-12-08 05:09] izomiac commented on #1302
Am I mistaken in it's absence in Feral and Balance as well, or is it just not recommended to ever use it?  I try it if the mob flashes red... sometimes it works, sometimes it doesn't, and I have no idea when I'm just wasting my time.

[Under toggles](https://imgur.com/VfQxaCK), I like to keep everything separated.

[2021-12-08 05:14] Hekili commented on #1302
That just makes it controlled via that toggle; that does not add it to the spec's priority. See the FAQ here on GitHub for details on editing a priority.

It's a GCD not spent on DPS so it's not in the default priorities.

[2021-12-08 05:21] izomiac commented on #1302
Fair enough

[2021-12-08 05:21] #1302 closed, assigned to Hekili

[2021-12-08 09:01] marekCs commented on #1104
I have a similar problem and since one thread is already open, I didn't start a new one. In short, I never get a recommendation for Summon Demonic Tyrant even when I have "charged". Talents the same, brick setup 9.1.5. I'm using Fixed dual display. Default Priory from Hekili.

[2021-12-08 18:16] TelleThomas opened #1303 "Ret/Feral/maybe others Gladiators Badge of Ferocity"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-08 18:22] Hekili commented on #1303
Please update to the latest release and provide an updated snapshot. Thank you!

[2021-12-08 18:35] TelleThomas commented on #1303
sorry, reverted to try and fix it will do.

[2021-12-08 18:38] TelleThomas commented on #1303
updated pastebin

https://pastebin.com/YH8huZxi

[2021-12-08 18:43] Hekili commented on #1303
When you took the snapshot, was your badge on CD or not?

[2021-12-08 18:46] TelleThomas commented on #1303
it was on CD, it continues in 1st priority through normal usage even if i use the other on use trinket while badge is still on CD

[2021-12-08 18:52] TelleThomas commented on #1303
![image](https://user-images.githubusercontent.com/73715967/145266835-ad5c47eb-dc67-463e-bb4c-e38bdb16db39.png)

[2021-12-08 18:54] TelleThomas commented on #1303
and with both on CD for context

![image](https://user-images.githubusercontent.com/73715967/145267084-95d1aa66-5a42-4502-928c-5355b3e8e9dc.png)

[2021-12-08 20:02] QuiteGoneJin commented on #1303
Came to report this also. Not happy others are going through this but happy its not just me all the same. Was really messing me up in mage tower. Edit, on my MM hunter.

[2021-12-08 20:08] TelleThomas commented on #1303
i've tested alphas back to reintalling to first alpha 1.0.4 and the issue persists. reinstalling to 1.0.3 does seem to fix the issue on my end.

[2021-12-08 20:27] QuiteGoneJin commented on #1303
How does one reinstall to a diff ver, i use wowup if that makes a diff.

[2021-12-08 21:10] #1301 closed, assigned to Hekili

[2021-12-08 22:04] ArwenEven opened #1304 "Overlay wont load"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

![imag

[2021-12-08 22:04] Hekili commented on #1304
That error is from Bittens' SpellFlash DK / SpellFlash / SpellFlashCore.

[2021-12-08 22:04] #1304 closed, assigned to Hekili

[2021-12-08 22:06] ArwenEven commented on #1304
so do i need to go and find a forum for that ? I thought this was part of spellflash?

[2021-12-08 22:21] dglynch commented on #1303
I encountered the same thing today. Here is my snapshot: https://pastebin.com/HuLjGbM2

[2021-12-08 22:25] Hekili commented on #1304
This is not part of SpellFlash.

[2021-12-08 22:27] Hekili commented on #1303
Thanks, I'm testing a fix right now.

[2021-12-08 22:57] TelleThomas commented on #1303
Thank you! you're a champ dude!

[2021-12-08 22:57] Hekili commented on #1303
I posted a release (1.0.5) just now -- please test and confirm that it's working as expected for you.  I don't have the trinket so I had to fudge something for testing purposes.

[2021-12-08 23:17] TelleThomas commented on #1303
unfortunately no same

[2021-12-08 23:18] Hekili commented on #1303
Post new snapshots.

[2021-12-08 23:20] TelleThomas commented on #1303
no idea if it could be related or not but its also not selectable in gear and trinkets menu either. will recreate and post new snapshot momentarily

![image](https://user-images.githubusercontent.com/73715967/145306583-2d69b5f8-af32-4a7d-8d8c-0b372e195257.png)

[2021-12-08 23:24] TelleThomas commented on #1303
https://pastebin.com/yea5LEqu

[2021-12-08 23:30] Hekili commented on #1303
That snapshot says you still have version 1.0.4.

[2021-12-08 23:38] TelleThomas commented on #1303
pffft hit update and reloaded but it failed. 1.0.5 appears to have solved the issue. huzzah

[2021-12-08 23:45] PaigePB0 opened #1305 "Hekili flickers, doesn't show or doesn't react"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

These

[2021-12-08 23:48] jpnow opened #1306 "Sub rogue disappearing priority during combat"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-09 00:02] #1303 closed, assigned to Hekili

[2021-12-09 00:03] Hekili commented on #1305
For recommendations issues, I need a snapshot.  Pause (SHIFT-ALT-P) when it's being difficult, then /hekili > Snapshots, select the display and snapshot #, copy and paste to Pastebin, and provide the link here.

[2021-12-09 00:07] Hekili commented on #1306
Please try https://github.com/Hekili/hekili/releases/download/v9.1.5-1.0.6-alpha1/Hekili-v9.1.5-1.0.6-alpha1.zip and let me know if that fixes it.

[2021-12-09 00:12] PaigePB0 commented on #1305
@Hekili, does this do what you need? this was taken during the fight when the addon was visible but stuck and not making new recommendations though I was in the midst of fighting

https://paste-bin.xyz/21768

[2021-12-09 00:13] dglynch commented on #1303
Confirmed that 1.0.5 is working for me as well.

[2021-12-09 00:19] QuiteGoneJin commented on #1303
Ditto, ty for the fast work, have a great day.

[2021-12-09 00:22] Hekili commented on #1303
Thank you!

[2021-12-09 00:23] Hekili commented on #1305
Not really -- it shows that it made four recommendations.  So I'm not sure why it would not be working.  Are there actual in-game error messages (the original ticket instructions talk about using BugSack and BugGrabber to retrieve error messages).

[2021-12-09 00:27] Hekili commented on #1305
Can you switch to the latest version of the addon and update me?

If that doesn't fix it, go back to 1.0.4 and then go to /hekili > Priorities > Feral, and click the circle arrow next to Priority Name.  Click Accept.  Let me know if that fixes it for you.

![image](https://user-images.githubusercontent.com/9438134/145312403-ded1ceb8-1c2a-446d-9581-dc1e93377482.png)

[2021-12-09 00:27] PaigePB0 commented on #1305
Oddly no. I went looking for errors, even using /console scriptErrors 1 and didn't see any.

Following your instructions above now.

[2021-12-09 00:31] Hekili commented on #1272
I'm still keeping an eye on this...

[2021-12-09 00:34] Hekili commented on #1305
This seems to have something to do with reactive mode, specifically.  I'll keep investigating.

[2021-12-09 00:52] PaigePB0 commented on #1305
@Hekili thank you. It fixed, but in an odd way.  This is what I did.

- I upgraded to the latest (didn't fix)
- downgraded to 1.0.4 - though didn't yet click the circle arrow (didn't fix)
- swapped out to my old weapon (Devo's poleaxe) and took some swing, (started working)
- swapped back to the new weapon - Jotungeirr (continued to work)
- reloaded a couple of times switching back and forth weapo

[2021-12-09 00:53] Hekili commented on #1305
I think I have it fixed in https://github.com/Hekili/hekili/releases/download/v9.1.5-1.0.6-alpha2/Hekili-v9.1.5-1.0.6-alpha2.zip -- I think it's a matter of being in Reactive mode and having the AOE display luck into refreshing itself infinitely and not letting Primary update.

[2021-12-09 00:53] #1305 closed, assigned to Hekili

[2021-12-09 00:54] Hekili commented on #1306
I'm posting 1.0.6 as a release.  So, hopefully it works for you.  If not, let me know.

[2021-12-09 00:54] #1306 closed, assigned to Hekili

[2021-12-09 00:55] PaigePB0 commented on #1305
Excellent! thank you!

[2021-12-09 00:55] Hekili commented on #1240
Gonna close this out, I can't reproduce it on my end and recent changes would require fresh info.

[2021-12-09 00:55] #1240 closed, assigned to Hekili

[2021-12-09 01:08] PaigePB0 commented on #1305
I downloaded the alpha in time for raid. It is working very well and quickly. ty

[2021-12-09 01:13] fism commented on #1240
Fine by me. I don’t play the game any more. Thank you.

Sent from my iPhone
________________________________
From: Hekili ***@***.***>
Sent: Wednesday, December 8, 2021 7:56:09 PM
To: Hekili/hekili ***@***.***>
Cc: Michael Fisher ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] MM Hunter High CPU Usage (#1240)

Closed #1240<https://github.com/Hekili/hekili/issues/1240>.

—
You are re

[2021-12-09 11:17] QuiteGoneJin commented on #1303
Hey, might not be completely fixed, for some reason the hotkey isnt showing for badges, otherwise working as intended,

[2021-12-09 15:16] jpnow commented on #1306
Will try after work and will keep you posted

[2021-12-09 16:39] jpnow commented on #1306
Looks back to normal, had one instants and re adjusted immediately thank you

[2021-12-09 17:26] Hekili commented on #1306
Any time this happens (when no recommendations can be made), the addon should automatically create a snapshot.

If that has happened, please go to /hekili > Snapshots, select Primary (or whichever display) and the snapshot # (there's probably just 1).  Copy and paste to Pastebin and submit the link so I can review.

[2021-12-09 18:05] jpnow commented on #1306
Below a snapshot while it failed to find recommendations

https://pastebin.com/9tYz2pWL

[2021-12-09 18:09] Hekili commented on #1306
Thanks, I'll investigate it.

One thing to note, especially for Sub, 5 recommendations in the future is a lot of wasted CPU time.  It's probably very rare that recommendation 5 is correct by the time we get there (due to procs, crits, etc.).  The addon predicts the predictable stuff but there's so much RNG that you'd probably be better off just reducing to 2 or 3 icons.

I used to default the addo

[2021-12-09 18:45] Hekili commented on #1306
You may need to enable Enhanced Recheck for Subtlety to address this issue.

Enhanced Recheck basically tries to forecast when action list criteria will change.  So at the time of that failure, you were in some kind of stealth (`stealthed.all` = `true`).  That blocked certain actions from being considered.  Enhanced Recheck would have the addon check these other items when you fall out of stealth.

[2021-12-09 18:58] jpnow commented on #1306
tried the enhanced recheck error still persists.  You mentioned being in stealth, not sure its related while doing some testing it looks as the shadow dance buff is gonna drop recommendations start disappearing. Below screenshot of shadow dance buff dropping and recommendations showing 1 instead of 3

https://snipboard.io/xaGeI3.jpg

[2021-12-09 19:00] Hekili commented on #1306
Yeah, that may or may not be solved with Enhanced Recheck in your Subtlety settings.

[2021-12-09 19:02] jpnow commented on #1306
even with enhanced recheck didnt work

[2021-12-09 19:06] Hekili commented on #1306
Post a snapshot with Enhanced Recheck then.  Thanks!

[2021-12-09 19:06] Hekili commented on #1306
(NOT a screenshot.)

[2021-12-09 19:11] jpnow commented on #1306
https://pastebin.com/EuJPYZjj snapshot with enhanced recheck

[2021-12-09 19:18] Hekili commented on #1306
Thanks, this helps.  I'm right about the problem formulation, but apparently Enhanced Recheck needs some additions to it.

[2021-12-09 22:20] QuiteGoneJin opened #1307 "Gladiator badge issue persists, doesn't show keybind"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

keybin

[2021-12-09 23:25] Floapy opened #1308 "[REC] Sub rogue not working properly"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-09 23:30] Floapy commented on #1308
https://pastebin.com/0hA1XAY4 < Snapshot I 100% know for sure that it has the failed recommendations

[2021-12-10 00:11] Hekili commented on #1308
Please try the new alpha release.

https://github.com/Hekili/hekili/releases/download/v9.1.5-1.0.7-alpha1/Hekili-v9.1.5-1.0.7-alpha1.zip

[2021-12-10 00:46] Floapy commented on #1308
Seems to be working so far, further testing this.

[2021-12-10 20:31] mckayrogit commented on #1226
Hello,
Just an update. The issue is reoccurring. I have isolated it to enabling
and disabling another addon that conflicts with this somehow. It is called
"Ice Hud." I haven't figured out what module it is, but when I disable it
completely, the error appears to stop.

Cheers,
Rory Mckay

----------------------------------------
Intelligence, Intensity, Integrity

On Mon, Aug 30, 2021 at 4:12 PM He

[2021-12-10 22:05] Amortalist opened #1309 "Frost Mage problem with proc uses"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-10 22:08] Hekili commented on #1309
What were you expecting to be recommended at the time you took the snapshot?

[2021-12-10 22:11] Amortalist commented on #1309
Most likely 2 Ice Lance (To clear FoF stacks) then Flurry (using the Brain Freeze proc for 2 Winter Chill on Target) then 2 more Ice Lance

[2021-12-10 22:12] Hekili commented on #1309
Why "most likely"? What else might you expect at that moment?

[2021-12-10 22:13] Amortalist commented on #1309
Nothing else, I'm just saying that according to Wowhead / Icy Veins rotation advices but I'm not a Frost Mage pro is why I say most likely

[2021-12-10 22:42] Amortalist commented on #1309
My ilvl is very low btw, 180 ish. It feels like it's often locked trying to make me spam frostbolt for no apparent reasons when I have procs available. Trying it in 15s atm. Not sure if that's related but Hekili has been quite buggy ever since I did mage tower on different chars.

[2021-12-10 22:44] Hekili commented on #1309
"Quite buggy" doesn't mean anything useful. You can report specific bugs with details and snapshots, though. I'll review what you already provided.

[2021-12-10 23:32] Hekili commented on #1309
Okay, so in your snapshot, Rune of Power was recommended first.

[code]

Rune of Power was recommended at this time because Icy Veins is on cooldown for more than 12 seconds (the addon pretends CDs are on cooldown when you have them toggled off, which is true in your case) and Rune of Power is not up.

Were you thinking you shouldn't cast Rune of Power?

You have 1 stack of Fingers of Frost in the

[2021-12-10 23:33] Hekili commented on #1309
Also, you skipped the Raidbots sim report link -- that's needed to make comparisons.

[2021-12-10 23:51] Amortalist commented on #1309
Quite buggy as in locking me into spamming filler abilities, thing it has never ever done before in 3+ years for me I think. In this snapshot it made me flurry once, then consume one Winter Chill on the target with an ice lance, then immediately advised me to frostbolt instead of doing a second ice lance : https://pastebin.com/q4ApjTKr

Here is the raidbot sim : https://www.raidbots.com/simbot/rep

[2021-12-11 00:04] Hekili commented on #1309
If you're leaving Rune of Frost sitting at the front of the queue, then keep in mind all the recommendations you are following are starting from second in queue. Which is odd. You can set it to be toggled off with CDs if you want it out of the way.

I'm not seeing that. I'm seeing a snapshot recommending  RoP, Ice Lance, Frostbolt. And I'm seeing one Winter's Chill stack in both your snapshot and

[2021-12-11 00:05] Amortalist commented on #1309
The advices are going from right to left here. It seems to do the same with CD on and off

[2021-12-11 00:07] Amortalist commented on #1309
Wait ... could it be that somehow it has reset and the advices are going from left to right now ?

[2021-12-11 00:07] Hekili commented on #1309
The snapshot recommends RoP, Ice Lance, Frostbolt in that order.

[2021-12-11 00:08] Amortalist commented on #1309
Ok that is where it's weird, maybe updating it or mage tower had it reset but that might be why it's so weird. I've always had it recommending the most right to be the 1st ability to use

[2021-12-11 00:09] Amortalist commented on #1309
I'll try in a dungeon right now, changed the anchor, I'm ashamed lol

[2021-12-11 00:23] Amortalist commented on #1309
Ok got it working good, it seems like something happened that somehow reverted the anchors on my chars

[2021-12-11 00:25] gonzoinc opened #1310 "[BUG] Guardian Druid Interrupts not being recommended"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Guardi

[2021-12-11 00:25] Amortalist commented on #1309
Sorry for the extra work :)

[2021-12-11 00:30] #1309 closed, assigned to Hekili

[2021-12-11 01:11] Hekili commented on #1310
1.  Wrong kind of ticket, this is about the addon's recommendations.  But you ended up submitting a snapshot, so okay.  I'll treat it as a recommendations ticket.
2.  Based on the snapshot, I can tell that you're not using the default Guardian priority, which has Skull Bash in it.  What you imported does not.  I don't support imported priorities (which the ticket for recommendations would've warne

[2021-12-11 01:11] #1310 closed, assigned to Hekili

[2021-12-11 01:12] #1308 closed, assigned to Hekili

[2021-12-11 01:43] Hekili commented on #1307
Fixed in 1.0.7.

[2021-12-11 01:43] #1307 closed, assigned to Hekili

[2021-12-11 01:54] mckayrogit commented on #1226
I seem to have found a workaround without having to disable the "Ice Hud"
app. I have disabled blizzard's Unit Nameplates, in the
interface/names/Unit Nameplates/ area. I disabled the "Personal Resource
Display" and it has corrected the issue.

Cheers,
Rory Mckay

----------------------------------------
Intelligence, Intensity, Integrity

On Fri, Dec 10, 2021 at 3:31 PM Rory Mckay ***@***.***> wr

[2021-12-11 01:57] gonzoinc commented on #1310
Sorry about that, Honestly didn't even notice that last option....

TBH I don't even know how to import from SimC and have never messed with anything in the priority list. Made the change and tested again. Same mob/dung scenario and now skull bash shows up but only as the second recommendation and only for a split second, shows about 40% into the cast and then just disappears. Going to uninstall a

[2021-12-11 02:03] Hekili commented on #1310
I don't know how you'd have a priority installed that doesn't have Skull Bash as the first entry in the priority list without manually editing the priority or importing something you shouldn't.

I usually set my interrupts to show in a separate display.  The addon tries to interrupt channels immediately, or cast-time spells in the last second of the cast.

[2021-12-11 02:17] gonzoinc commented on #1310
Deleted and re-installed and everything is working as it should. Now that I'm thinking about it I guess I should have backed up the old one first in case you needed to examine it. Profiles were all still there and loaded back. Everything is good so IDK. Even the separate interrupt window is now working which wasn't on all my characters. Thanks for the help.

[2021-12-12 00:14] N6REJ opened #1311 "[REC] Action bar only possible?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-12 20:01] Hekili commented on #1311
This is not what issue tickets are for.

You can look at SpellFlash settings on each display.

[2021-12-12 20:01] #1311 closed, assigned to Hekili

[2021-12-13 11:46] Savanta177 opened #1312 "[BUG] Hekili occasionally stops working for unholy dk"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

At cer

[2021-12-13 12:26] Hekili commented on #1312
This is the wrong kind of ticket. Submit a recommendations ticket and supply the snapshot(s) it requires. They are automatically generated when the addon can't find something to recommend.

[2021-12-13 12:26] #1312 closed, assigned to Hekili

[2021-12-14 02:31] Amortalist opened #1313 "Arcane Mage arcane missiles spam / wants me to use frost bolt and fire blast"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-14 02:39] Amortalist commented on #1313
It's only when I start casting the right spell (which isn't the spell advised on Hekili) that Hekili decides that the rotation is the correct one.

Here is another snapshot : https://pastebin.com/9ZKdxaNQ

In this one I purposely made the good opener (rune, 3x missile on pull > radiant spark > touch > arcane power + on use). Right now it should tell me to do 5x Arcane Blast > 1x Barrage > Presence

[2021-12-14 03:00] Amortalist commented on #1313
Normal pull without modifying the prepull logic by using Rune before engaging : https://pastebin.com/DW5tTcap

Tells me to Rune of Power instead of TotM > Arcane Power

[2021-12-14 03:07] Amortalist commented on #1313
Redid the Clearcast > Rune > 3x Arcane Missiles > Radiant Spark opener, should advise TotM Arcane Power next instead of missile spam : https://pastebin.com/bXDZ5ZrX

[2021-12-14 03:30] Hekili commented on #1313
Fixed in v.9.1.5-1.0.8.  Thanks!

[2021-12-14 03:30] #1313 closed, assigned to Hekili

[2021-12-14 03:46] Amortalist opened #1314 "Arcane Mage rotation a bit jumpy"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-14 03:48] Amortalist commented on #1314
When I use the advised blasts, the rotation goes back to showing normal queued spells : https://pastebin.com/NuvQuHbq

[2021-12-14 03:57] Amortalist commented on #1314
Here is another one.

Before : https://pastebin.com/jzcsxBJ3

Shows Blast > Barrage > Orb when it should show 5x Blast > 1x Barrage

After having snapshotted / casted the first Blast it's back to normal : https://pastebin.com/zTkMQU77

[2021-12-14 16:40] Amortalist commented on #1314
Mana Gem is not advised here but should be, it also never shown in 3+ minutes of rotation :  https://pastebin.com/UNunM6Qw

Not playing Enlightened, mana inferior to 80% and 3 gems in inventory.

[2021-12-14 16:42] Amortalist opened #1315 "Arcane Mage rotation doesn't use mana gems"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-14 16:50] Amortalist commented on #1314
Rotation broke at some point in a pull, AP is available and the rest of the burst should line up soon but Hekili tells me to use Fire Blast and Frost Bolt. Normally it should advise something like using Evocation to prepare the burst (or do orb > 3 blast > barrage if my mana was higher) and then do the normal burst rotation.

https://pastebin.com/d7HACCmg

![WoWScrnShot_121421_174808](https://user

[2021-12-14 17:23] Hekili commented on #1314
Evocation wasn't used because its criteria weren't met.

` - this entry's criteria FAILS: mana.pct[26.14] <= 30 & variable.outside_of_cooldowns[true] & ( talent.rune_of_power.enabled[true] & cooldown.rune_of_power.remains[22.18] < 10 )`

It doesn't want to Evocation until Rune of Power is almost ready.  Seems like the sim should probably check if Arcane Power is available since it'll provide RoP i

[2021-12-14 17:30] Amortalist commented on #1314
Yeah it makes sense. Even without evocation it should consider normal arcane spells rather than Fire Blast / Frost Bolt tho I think

[2021-12-14 17:37] Hekili commented on #1314
That's something to test in SimulationCraft, if you can write/edit priorities.  As written, the APL does use Fire Blast and Frostbolt filler in edge cases.

When reporting, it'd help me if you write in bullet points and not paragraphs, with just the specifics.  You're not obligated to do so, but we're already talking a lot so I figured I'd suggest it.

* ~~Rotation broke at some point~~ *(This mea

[2021-12-14 18:33] Amortalist commented on #1314
I started fights with all CDs ready and available, did the normal opener.

Did a dummy sim without bloodlust for 2 minutes while testing before : https://www.raidbots.com/simbot/report/meoGawT9DJ6aQJzgcpZRku

Here is another one for 5 mn : https://www.raidbots.com/simbot/report/4qbs16eAEWEDhmeFZ7vi6C

It shows damage from Fire Blast / Frostbolt but only one count of it (or none) in both fights.

-

[2021-12-14 18:53] Amortalist commented on #1314
Update : I tried not using rune on prepull and it's much better for this rotation. It might have been what messed up with the timers.

[2021-12-14 18:54] #1314 closed, assigned to Hekili

[2021-12-14 18:57] Hekili commented on #1314
You could probably look at the snapshots to see each entry that was considered and why the failed, if you're looking to investigate yourself.

In your last snapshot (https://pastebin.com/d7HACCmg):
1. You were almost done channeling Arcane Missiles.
2. You had 1 stack of Clearcasting.
3. You had 0 Arcane Charges.
4. You had 18 stacks of Arcane Harmony.

Technically, the recommendation was to clip

[2021-12-14 19:13] Daugger opened #1316 "[BUG] Instructor's Divine Bell Trinket graphic not showing."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

The in

[2021-12-16 19:01] GoceNakov opened #1317 "[BUG] ROUGE - Vanish"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Vanish

[2021-12-16 19:02] Hekili commented on #1317
This is about recommendations; submit a recommendations ticket that includes a snapshot of the addon recommending Vanish.

[2021-12-16 19:02] #1317 closed, assigned to Hekili

[2021-12-16 19:07] GoceNakov opened #1318 "[REC] SUB ROGUE - Vanish"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-16 20:23] Hekili commented on #1318
That link is not a complete snapshot.  I need a snapshot where Vanish was recommended while solo.

[2021-12-16 20:30] GoceNakov commented on #1318
Here you go
![Screenshot 2021-12-16 at 21 29 52](https://user-images.githubusercontent.com/96261192/146444706-3f3ab3e8-5a3a-4c85-839c-b8466df0f035.png)

[2021-12-16 20:34] Hekili commented on #1318
No, please follow ticket instructions.

## Snapshot (Link)

Please supply a Snapshot of the addon's decision-making when you are seeing this issue in-game. This is not a screenshot. To generate a Snapshot, please complete the following steps.

* Log into your WoW character.
* Recreate the issue you are reporting (i.e., generate 5 Holy Power).
* When you see the recommendation you disagree with, pr

[2021-12-16 20:42] GoceNakov commented on #1318
Sorry for that, here you go. I am sure it worked fine like some versions ago, then I played my warrior for some time and when I returned to the rogue, this issue persisted.

https://pastebin.com/9mr7t1Gc

[2021-12-18 04:09] TheCobblestoner commented on #1104
Samesies. Only recently got the addon, and customising my own looks daunting but base setting - Demonic Tyrant (additionally Grimoire: Felguard) never show up in the rotation. Like, EVER.

[2021-12-20 20:45] alxbelu opened #1319 "[BUG] Keybind display sometimes incomplete/"forgets" modifier"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Someti

[2021-12-20 20:51] Hekili commented on #1319
Hmm.

What abilities/forms are you using before it happens?  After which spells?  Are you using any abilities that are perceived by the game as a shapeshift otherwise?  Does it happen inside of Ascendance only (or outside of Ascendance only)?

Are specific spells impacted consistently or is it all of your spells?  If it's one spell or a few spells in particular, I can supply a macro to check what

[2021-12-20 21:45] alxbelu commented on #1319
Alright, did some more testing (many training dummies died to bring us this information):
1. Cannot identify any particular previous spell.
2. Do not have Ascendance skill, so so far only outside.
3. Spells consistently affected: Icefury, Echoing Shock, Earthquake. NOT affected: Concentrated flame, Chain Lightning, Earth Shock, Flame Shock, Frost Shock, Lava Burst, Lightning Bolt
4. Snapshot of on

[2021-12-22 19:17] tflo opened #1320 "[REC] Warlock: Demo: Vilefiend never recommended with Wilfred legendary active"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-22 19:20] Hekili commented on #1320
Post a screenshot of your /hekili > Abilities > Summon Demonic Tyrant settings, please.

No, that's not a correct interpretation.

I can see the the addon thinks your remaining CD for Summon Demonic Tyrant is exactly 90 seconds, which is unlikely -- that's what the addon does when an ability is disabled or toggled off.

[2021-12-22 19:40] tflo commented on #1320
Here a [screenshot](https://d.pr/i/VzB2FT). Nothing deactivated and the toggle is Default.

But you maybe bring up a good point here: I remember that some time ago (~2 months)  I indeed  changed something from primary display to CD display during a TG run, and if I remember correctly, it was the Tyrant (which apparently was not on the CD display at that time).

But since then I have reloaded the o

[2021-12-22 19:48] Hekili commented on #1320
Under Toggles, do you have "Show Separately" checked for Cooldowns?  The snapshot doesn't say so, but that would be cause Tyrant's CD to be faked in the Primary display.

If you uncheck Show Separately for Cooldowns, you'll see Vilefiend recommended.

[2021-12-22 19:51] Hekili commented on #1320
Alternately, you could set Summon Vilefiend's "Require Toggle" to "Cooldowns" and that will make it appear in the CDs display.

[2021-12-22 19:56] tflo commented on #1320
Indeed, I had, and without that the Vilefiend shows up correctly. But the CD display is such a huge usability improvement, that I don't wanna miss it. And it works fine, genarally (I use Hekili on all 12 classes, and with most specs.)

Going to check this out…

[2021-12-22 19:59] Hekili commented on #1320
Sure, but the concept of toggles doesn't even exist in SimC (because how would you turn things on/off mid simulation), so priorities aren't written to accommodate it.  But I have to fake CDs for just this kind of scenario -- if you're holding Tyrant, you probably want to hold the abilities that you would align with Tyrant, too.

The separate display is just a recent accommodation that doesn't alwa

[2021-12-22 20:05] tflo commented on #1320
OK, Vilefiend on CD seems to work too. But, ofc, Vilefiend is not really a CD (in terms of CD duration; you use it also on intermediate mobs).

But this is definitly a usable solution. Thank you for this!

I'm aware of that and also that you have introduced it only recently (more or less). But in general it really works fine. And it's the only way to go, IMO: Blocking the main display with CDs you

[2021-12-22 20:09] Hekili commented on #1320
That's why the CD toggle exists, you tell them to go away and then invite them back when you want to use them.

But anyway, I'll see if I can adjust this without breaking everything else.

[2021-12-22 20:10] tflo commented on #1320
I see, you are calling me lazy because I want to have all in one without toggling ;)

[2021-12-22 20:18] tflo commented on #1320
And I _am_ lazy. And I am not doing end game content like Mythic raids or such. And so I can understand that you rather go for full optimization (instead of maybe more usability). That's perfectly OK.

Thank you very much for your help!

– Tom

[2021-12-22 20:18] #1320 closed, assigned to Hekili

[2021-12-22 20:29] tflo commented on #1320
Just to not forget to mention it: The introduction of a separate CD row was a **substantial QoL improvement**. And I fully understand that the separation is likely to produce problems with the rotation, and that this probably generates lots of work.

But, it is really useful.

[2021-12-23 01:45] bangarang7 opened #1321 "Retribution Paladin priority not showing final reckoning"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-23 01:47] Hekili commented on #1321
See /hekili > Toggles. Your big CDs are toggled off by default. Use the hotkey to tell the addon when you want them recommended.

[2021-12-23 01:47] #1321 closed, assigned to Hekili

[2021-12-23 06:16] tflo commented on #1320
Just done a couple (well, at least 6) Torghhast runs, and it is definitely playable with the Vilefiend as CD. But … _somehow_ it doesn’t feel right.

It’s not that I don’t know how to set up my Tyrant without Hekili, it’s rather when I am with trash elites, or even non-elite trash, I forget to cast the Vilefiend  just because it isn’t there in Hekili’s main display – as it used to be (w/o Wilfred)

[2021-12-24 18:46] Odysseas68 commented on #1316
Also have the same exact problem

[2021-12-24 23:56] Paul2or3 commented on #1318
Same issue on Assassination Rogue

[2021-12-27 14:20] marekCs opened #1322 "Druid/Balance - Venthyr, CDs are not recommended at all."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-27 14:35] Hekili commented on #1322
Celestial Alignment's complete conditions:

[code]

This means CA is recommended when:
* `cd_condition_st` is `true` and either (1) Celestial Alignment's duration would be 32 or more (from a conduit) or (2) you're not Venthyr; **OR**
* Ravenous Frenzy is up, has fewer than 9 seconds (+ Precise Alignment's CA duration buff) + 1 second if Bloodlust is down and you don't have Starlord.

As written, t

[2021-12-27 14:51] marekCs commented on #1322
There is the sim from [raidbots](https://www.raidbots.com/simbot/report/wTzUs3HUjsBzDYBXG6u6ZF)

[2021-12-27 14:54] Hekili commented on #1322
Thanks.

Looking now, it looks like the sim uses Ravenous Frenzy before Celestial Alignment in a way the addon isn't matching.  I'll keep investigating.

[2021-12-27 14:56] marekCs commented on #1322
thanks a lot, believe me I am not the only Balance who solves this problem, so this will help many people :)

[2021-12-27 15:56] Hekili commented on #1322
So, the sim used Ravenous Frenzy before hitting Celestial Alignment, but the addon didn't recommend Ravenous Frenzy.

[code]

Ravenous Frenzy doesn't get used by the addon, here, because it requires:
 * Celestial Alignment has 15 seconds remaining (i.e., you used it, but the sim is using RF first for you); **OR**
 * Celestial Alignment's total duration would be < 32 seconds and the `cd_condition_s

[2021-12-27 16:12] Hekili commented on #1322
Okay, so I realize your initial sim didn't have Bloodlust, so that was easy.

I do think I broke `thrill_seeker_wait` when I tried to put in "don't waste CDs" logic, but that change is 5 months old.  I'll remove it and we'll see if that makes a difference.  For future snapshots, we'll definitely want to confirm that you have 90 AP and that Moonfire and Sunfire are fresh as well.

[2021-12-27 16:47] marekCs commented on #1322
Fantastic! :-D Thank you so much. I can't wait to try the modified version

[2021-12-28 17:52] CR82 opened #1325 "[REC] Tiger Palm never suggested for Brewmaster"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-28 18:03] Hekili commented on #1325
Sim yourself and provide the Raidbots link, please.

[2021-12-28 19:00] CR82 commented on #1325
I don't understand why I should Sim myself. Is this (no Tiger Palm in rotation) working as intended?

[2021-12-28 19:13] Hekili commented on #1325
The ticket instructions explained why.

I asked for it again for the same reasons.

There are two entries for Tiger Palm in the priority.  If you don't see Tiger Palm, it's because the conditions aren't met.

One entry is only used with RJW + Blackout Combo talented (so not for you).

The other entry is only used without Blackout Combo talented (so also wouldn't work for you).

Yes, it's pretty od

[2021-12-28 19:36] #1325 closed, assigned to Hekili

[2021-12-28 19:37] CR82 commented on #1325
Works as intended.

[2021-12-29 14:27] airsorc opened #1326 "Rogue/Assassination not showing Vendetta in rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-29 14:29] Hekili commented on #1326
Vendetta is a cooldown ability that is controlled by a toggle.  See https://github.com/Hekili/hekili/wiki/Getting-Started#toggles--cooldowns-interrupts-potions-and-defensives

[2021-12-29 14:29] #1326 closed, assigned to Hekili

[2021-12-29 16:02] Hekili commented on #1325
FWIW, I talked with emallson who is a BrM theorycrafter and not using Tiger Palm is *mostly* working as intended, but it does appear to be an oversight that the sim profile doesn't use it to maintain Eye of the Tiger if you have that talent.  So you may see changes to both the sim and the addon that involve using Tiger Palm under those circumstances.

Otherwise, Spinning Crane Kick just generally

[2021-12-31 14:07] marekCs opened #1327 "Warlock/Demo/Night Fae - GetTotemInfo not showing Vilefiend, Grimoire Felguard demons"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2021-12-31 15:09] Hekili commented on #1327
In that snapshot, you missed your window to extend basically all of your demons:

[code]

1. Your Dreadstalkers will expire before you could finish casting Tyrant.
2. Your Vilefiend is not up.
3. Your Grimoire Felguard is not up.

Your next Vilefiend is available in 11.32 seconds and your next Dreadstalkers will be available in 9.86 seconds.  Tyrant will be recommended when you have demons up that

[2021-12-31 15:19] marekCs commented on #1327
Unfortunately, all my CDs were ready at the beginning of the pull. So should I manually fire some of my CDs at the beginning as prepull? Just learning Demo.

[2021-12-31 16:33] Hekili commented on #1327
No, if the goal is to make sure you use your Tyrant when it can extend your more powerful demons, desynchronizing CDs further will do the opposite of help.

Demonology, especially with your talents, is about syncing demons with Tyrant to get a super strong Tyrant by way of Demonic Consumption.

Your sim casts Dreadstalkers, Felguard, Vilefiend, and Tyrant at the following times.

<table>
<tr>
	<td

[2022-01-02 08:06] ryanjoliveira opened #1328 "[REC] Kyrian Balance Druid CA/Incarn never recommended in ST"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2022-01-02 10:18] marekCs commented on #1327
Hello again, ok I did it:

10 sec: [https://pastebin.com/UTNz8v0h](https://pastebin.com/UTNz8v0h)
13 sec: [https://pastebin.com/28YrL2GC](https://pastebin.com/28YrL2GC)
44 sec: [https://pastebin.com/7neQ0uJg](https://pastebin.com/7neQ0uJg)
63 sec: [https://pastebin.com/T40cYvKx](https://pastebin.com/T40cYvKx)

I'm wondering if this (and similar reports from other users and other classes) is relate

[2022-01-02 15:50] Hekili commented on #1327
No.

For the first snapshot, the addon is not seeing that your Vilefiend is up for some reason. I'll investigate.

[2022-01-02 16:41] marekCs commented on #1327
Ok I will make wa for check the spell ID if weakauras can see that’s on CD or not. Let you know soon.

[2022-01-02 16:43] Hekili commented on #1327
What would be helpful is a screenshot of your UI when Vilefiend is up. If your UI shows totems, I should see Vilefiend there.

[2022-01-02 16:44] marekCs commented on #1327
Ok will do.

[2022-01-02 17:10] marekCs commented on #1327
I sent you a direct message on DC with photos.

[2022-01-02 17:15] marekCs commented on #1327
The code output of
`/run for i = 1,5 do print( GetTotemInfo( i ) ) end`
was:
true nil 96455 12 1378282
false 0 0
false 0 0
false 0 0
false 0 0

[2022-01-02 17:16] marekCs commented on #1327
btw how do I know that the wow api system has registered that the viefiend is out, should I have the icon of Vilefiend somewhere under dummy icon? /edit I can see "Bile Spit" icon applied on dummy

[2022-01-02 17:19] Hekili commented on #1327
I mean, it's not something you're supposed to worry about -- but that macro is checking the API.  In normal UIs, they are shown the same as totems.

If you ran that macro with your Vilefiend active and your Grimoire Felguard (remember, I said use it after your big demons are out) then something is odd.  The first line there is your Dreadstalkers.  Neither your Grimoire Felguard nor your Vilefiend

[2022-01-02 21:42] Hekili commented on #1327
Sorry, just to be clear -- can you confirm that you ran that macro when your other demons were actually summoned?  I.e., Vilefiend is actually active (along with Grimoire Felguard, if talented) at the time you ran the macro.

[2022-01-02 21:57] Hekili commented on #1327
This snapshot shows that you have 2 Dreadstalkers with 9.32 second remaining.  It shows no Vilefiend, no Grimoire Felguard, and no Wild Imps.

This doesn't make sense, given that your Grimoire Felguard is on cooldown for ~108.51 more seconds and your Vilefiend is on CD for ~36.32 more seconds.  That means both should be active.

This suggests that all the events that are managed to track these are

[2022-01-02 23:19] Hekili commented on #1328
Hey, I've reviewed this pretty closely and found an issue that'll be addressed in the next release.

This will make the Kyrian opener look more like this:

![image](https://user-images.githubusercontent.com/9438134/147892028-042ebddb-a3ab-46ff-9e5d-6ea236fef815.png)

In a boss fight, without Bloodlust, there'd be a reset of Astral Power when the encounter starts, so you'd likely see another Starfi

[2022-01-02 23:56] Hekili commented on #1328
This should be resolved in the latest release.

[2022-01-02 23:56] #1328 closed, assigned to Hekili

[2022-01-02 23:56] Hekili commented on #1322
This may be resolved in the latest release.

[2022-01-02 23:56] #1322 closed, assigned to Hekili

[2022-01-02 23:57] Hekili commented on #1318
This should be resolved in the latest release.

[2022-01-02 23:57] #1318 closed, assigned to Hekili

[2022-01-04 08:16] SUU09 opened #1329 "[BUG] Covenant toggle doesn't work"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.

### Describe the Issue

Covena

[2022-01-04 13:01] Hekili commented on #1329
Wrong ticket type; this requires a snapshot.  See "Priority/Recommendations Issue."

[2022-01-04 13:01] #1329 closed, assigned to Hekili

[2022-01-04 13:17] SUU09 opened #1330 "[REC] Covenant toggle doesn't work"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I am reporting.
- [X] I am reporting an issue with the default priority inc

[2022-01-04 13:24] Hekili commented on #1330
Can you check the following?

- On `/hekili` > Toggles, is `Cooldowns Override` checked next to Covenants?  If so, that means when Cooldowns are enabled, Covenants are also enabled.  You can uncheck it if you don't want that.  You can paste a screenshot here of that section of your options.
- On `/hekili`> Abilities > Bonedust Brew, what does the `Require Toggle` option show?  You can paste a scre

[2022-01-04 14:16] SUU09 commented on #1330
Cooldowns Override was checked, I uncheck it and solved my issue.
Thank you!

[2022-01-04 14:17] Hekili commented on #1330
Thanks for providing the detailed info so I could look into your issue.  Take care!

[2022-01-04 14:17] #1330 closed, assigned to Hekili

[2022-01-04 14:17] Hekili commented on #1327
Hi, can you look at the previous two responses and answer any questions left unresolved?  Thanks!

[2022-01-04 17:10] marekCs commented on #1327
Yeah sorry I will make it again with your recommendation and let you know.

[2022-01-04 18:27] marekCs commented on #1327
Almost same result:
true nil 29120 12 1378282
false 0 0
false 0 0
false 0 0
false 0 0

The debug addons didn't show anything, or I don't know how to use them, I just installed them.

Anyway, I'll close the ticket because I decided not to play Demonology and I was the only one who had a problem with it. I don't have time for more tests. Thank you.

[2022-01-04 18:31] Hekili commented on #1327
This is again just showing you have Dreadstalkers out.  Can you confirm (again) that Vilefiend and Grimoire Felguard were active when you ran the macro?

If there were UI errors, the BugSack addon's icon would be red, and clicking on it would show any error messages.

I'm going to have to find info about this at some point.  The other thing you didn't test, as far as I can tell, is to run the addo

[2022-01-04 18:37] marekCs commented on #1327
Yes, I confirm. Both out.

I actually didn't even notice the icon, so I'm going to try again. I'll turn off the addons as well.

[2022-01-04 18:45] Hekili commented on #1327
Thanks for checking.  Are you using a different client language or anything?

That `nil` should be `"Dreadstalker"` -- it really makes me thing something outside the addon is overwriting `GetTotemInfo` in the global table.

![image](https://user-images.githubusercontent.com/9438134/148108511-a5708d4d-ab54-43a4-b639-362a3434173e.png)

[2022-01-04 18:50] marekCs commented on #1327
Well. Now I was thinking, it's a private server, couldn't it be that they have spells called differently, under a different spellID?

I did tests again with same result, no errors (just one Zygor guide).

[2022-01-04 18:50] SpatenLa commented on #1327
just burn him down.

[2022-01-04 18:52] Hekili commented on #1327
Private servers aren't the same as live servers, no, and I don't offer any support for private servers.  That really ought to have been pointed out from the start.

[2022-01-04 18:52] #1327 closed, assigned to Hekili

[2022-01-04 20:19] Hekili commented on #1316
I'll need a snapshot taken when the trinket is recommended but its icon is blank.

[2022-01-04 20:19] Hekili commented on #1315
This should be resolved in current release.

[2022-01-05 01:30] Odysseas68 commented on #1316
Just to inform you that the first time i login to the game the trinket icon appears correctly. If i do a reload then the icon is blank.

 https://i.imgur.com/4wh6vUn.png

[2022-01-05 01:34] Hekili commented on #1316
Thanks.

By snapshot, I mean:

It's helpful to know that it works on first load, but not after reload, too.

[2022-01-05 02:10] Odysseas68 commented on #1316
Here is the snapshot. I did it quickly because of the reset time. The trinket was the first recommendation of the add on. This is the recommendation with the icon blank. This time no need to reload for the icon to be blank.

https://pastebin.com/EVN4fcgs

Hope this helps.

[2022-01-05 18:19] Daugger commented on #1316
Here is my snapshot if comparing two is helpful.

https://pastebin.com/c2f979PY

[2022-01-05 20:00] Hekili commented on #1316
Thanks, sorry to ask more of y'all, but the output from the following macros would be useful.

Each of the following, once when Divine Bell shows up (i.e., first login, before reload) and again after a reload and Divine Bell's icon is missing.

- [ ] `/dump Hekili.Class.abilities.instructors_divine_bell`
- [ ] `/dump Hekili_Primary_B1`
   *If your addon is set to show multiple recommendations and

[2022-01-05 22:01] Odysseas68 commented on #1316
Ok... here are the results:

Icon is ok (1rst login in game)

Note1: I have set the addon To show Separately the Cooldowns
Note2: I have install Elvui. Do i have to enable anything in addon config?

https://pastebin.com/sS5AZ86z

Icon blank. After reload

https://pastebin.com/KXC22aK5

---------------------
Check the first 10-15 lines of the /dump Hekili.Class.abilities.instructors_divine_bell.
2n

[2022-01-05 23:51] Hekili commented on #1316
With Cooldowns shown separately, then two macros have to change:

- [ ] `/dump Hekili_Cooldowns_B1`
- [ ] `/dump HekiliDisplayCooldowns.Recommendations[1]`

[2022-01-05 23:54] Hekili commented on #1316
After you've reloaded, if you type `/hekili` is there a "Warnings" on the left section?  If so, what all is in that tab?

[2022-01-06 02:05] Odysseas68 commented on #1316
ok..

First login icon ok (with Cooldowns shown separately):

https://pastebin.com/nAd1yy6C

after reload icon missing

https://pastebin.com/jSHPt3Ba

no warnings from `/hekili` after reload.

https://i.imgur.com/s7lJQOo.png

[2022-01-06 02:17] Odysseas68 commented on #1316
Also just notice that in the first login in `Gear and trinkets` you can see it in the drop down menu:
https://i.imgur.com/fPsPNU5.png

After reload it missing from there also.
https://i.imgur.com/ipUn11H.png

[2022-01-06 03:32] Daugger commented on #1316
This is my results from the previous mentioned commands after a reload. I also want to mention that when I pause hekili before a reload that the recommendations move position. bell will be in the second slot but when i pause it moves to the third slot, the first recommendation moves to the second slot, and the original opening shows up in the first slot.

https://pastebin.com/nuBvX4Ek

i think it

[2022-01-06 05:27] Hekili commented on #1316
I genuinely don't know if 1.0.10-alpha1 is going to make a difference or not, but please try it when it finishes building.

You may also notice that you clear the loading screen more quickly.

Or everything may break.  (If so, you can revert back to the 1.0.9 release.)

[2022-01-06 15:12] Odysseas68 commented on #1316
I just try the alpha version `1.0.10-alpha1` and it seems the problem gone. Test it with before and after reload and in combat with a Training dummy (use it and in 1 minute start the countdown of the cooldown sowing the icon).

[2022-01-06 17:44] Hekili commented on #1316
Thanks for reporting back. Let me know if you find any other issues.

[2022-01-06 18:36] Odysseas68 commented on #1316
Thanks. If i can help in anyway i can just tell me.

Happy new year!!

[2022-01-06 21:58] marekCs commented on #1316
This bug has disappeared on alpha (it was only when I didn't have the trinket on the bar) but it seems to me that the performance is now worse (Fire mage here, but excuse my rating I'm just a private server)

[2022-01-06 22:02] Hekili commented on #1316
None of the changes would impact Fire Mage, but Fire Mage is what it is and isn't part of this ticket.

[2022-01-06 22:02] #1316 closed, assigned to Hekili

[2022-01-11 20:20] Amortalist commented on #1315
Still not working

[2022-01-11 20:21] Hekili commented on #1315
Add a new snapshot.

[2022-01-11 20:31] Amortalist commented on #1315
I'm not sure where in the rotation to select the snapshot. Maybe describe the logic of mana gem in the code so I can reproduce like, being sub XXmana and above XXmana with evocation not active or smth.

[2022-01-11 20:41] Hekili commented on #1315
With Enlightened talented:
- Mana <= 80%
- Mana >= 65%

Without Enlightened talented:
- Mana <= 85%

[2022-01-11 20:50] Amortalist commented on #1315
https://pastebin.com/myMHpsfy

[2022-01-11 21:12] Hekili commented on #1315
You're not using the latest.

[2022-01-11 21:16] Amortalist commented on #1315
Is it not live on curseforge & all ? I updated when you closed the issue, have the latest version available. I'll download the one on GitHub

[2022-01-11 21:20] Hekili commented on #1315
You have v9.1.5-1.0.9-alpha1.

Current release is v9.1.5-1.0.9 (which is newer).

There is also a newer alpha (v9.1.5-1.0.10-alpha1).

![image](https://user-images.githubusercontent.com/9438134/149023355-7fd7e874-3eac-4d5d-ae85-e87b68d45216.png)

[2022-01-11 21:22] Amortalist commented on #1315
Might be a bug from curse then, I updated with the 2022-01-02 version yesterday through curseforge

[2022-01-11 21:22] Hekili commented on #1315
There is no 2022-01-02 version.

[2022-01-11 21:23] Amortalist commented on #1315
![image](https://user-images.githubusercontent.com/47482996/149023715-f10a1103-26eb-4f9f-8fe5-13a6845d16cd.png)

[2022-01-11 21:28] Amortalist commented on #1315
Using the latest release on GitHub, sub 80% mana : https://pastebin.com/dC7AQURd

[2022-01-11 21:29] Hekili commented on #1315
Re: date, maybe it's a time zone difference.

Do you actually have a mana gem in your bag?

If so, can you see what its item ID is?

[2022-01-11 21:30] Amortalist commented on #1315
Yes I have one. Item ID is 36799

[2022-01-11 21:36] Hekili commented on #1315
Thanks, this is helpful.

[2022-01-13 10:42] Sdw8 opened #1333 "[BUG] Ventyr Druid - Hekili does not recommend Starsurge with full AP"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-01-20 11:48] SaschaDaSilva opened #1335 "[REC] SUB ROGUE// SLICE N DICE WHILE DANCE IS ACTIVE"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-01-20 17:19] noiseuu commented on #1333
soon fixing this?

[2022-01-20 17:32] Hekili commented on #1333
Are you seeing this outside of an initial opener?  The 1.0.9 update tries to model the AP reset on entering an encounter, but I may just remove that to avoid confusion.

[2022-01-20 17:36] noiseuu commented on #1333
I only see this bug at opener

[2022-01-20 17:44] noiseuu commented on #1333
okay, i see this bug everytime when i pop cd:s

[2022-01-20 17:45] Hekili commented on #1333
Yeah, I can see in your snapshot that you're more than a minute into combat but AP is resetting to 50.  I'll revert that.

[2022-01-24 07:01] LEOMODE opened #1336 "[BUG] Every 2 sec graphic stutters"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-01-24 13:38] Hekili commented on #1336
As the addon warns, using while leveling is at-your-own-risk.  It's likely that you're missing abilities/traits that are crucial to the priority, which results in more processing time as the addon tries to figure it out.

Don't use the addon below level 50.  If you continue to have issues above 50, you can submit a ticket and include a snapshot of recommendations.

Also, the error messages you inc

[2022-01-24 22:08] LEOMODE commented on #1336
Hi, the same bug occurs with the other 60 levels characters as well. It's not only limited to non-60. Please see below. Also, I don't see any of Hekili errors on bugsack.

https://pastebin.com/V32uiVqA

[2022-01-25 15:51] LEOMODE opened #1337 "[BUG] Every 2 sec graphic stutters"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-01-25 15:54] Hekili commented on #1337
You don't have to create a new ticket, you already have the other one that I closed.

Honestly, I don't have this experience with a 2 second stutter and what you've provided won't help investigate it.  I'll reopen the previous ticket to invite people to post if they're having similar experiences.

[2022-01-25 15:54] #1337 closed, assigned to Hekili

[2022-01-25 16:01] Hekili commented on #1336
I'm not sure this will help pin down the answer, but:

1. Does it occur if you reset your Hekili profile to default?
2. If resetting to default addresses it, what settings do you routinely change from the defaults?
3. When did you first notice this issue?  More specifically, what is the last version that doesn't appear to have this issue?
4. If you upgrade to https://github.com/Hekili/hekili/tree/

[2022-01-25 16:32] LEOMODE commented on #1336
Thanks.

1. Yes still occurred.
2. The icon location, from 3 icons to 2, change Display Mode (show automatic, AOE), Display Mode keybind to CAPS LOCK, override keybind text as some doesn't show proper keybind
3. I haven't played wow for the past 3-4 months and only played sporadically, but I seemed to notice this from I would say 1-2 months ago. At first I didn't know if it was because of Hekili o

[2022-01-25 16:37] Hekili commented on #1336
For 3, please download a few earlier releases and see if an earlier release makes a difference.  I can't replicate the issue on my end, so I'd need to know:

<table>
<tr>
	<td>#
	<td>Version
	<td>Result
<tr>
	<td>1.
	<td>1.0.10-alpha1
	<td>Stutters
<tr>
	<td>2.
	<td>1.0.9
	<td>Stutters
<tr>
	<td>3.
	<td>1.0.8
	<td>
<tr>
	<td>4.
	<td>1.0.7
	<td>
<tr>
	<td>5.
	<td>1.0.6
	<td>
<tr>
	<td>6.
	<td>1.0.5

[2022-01-25 16:54] Hekili commented on #1336
Your numbers are very strange.  Do you have a very old CPU?

The reset process taking that long is very bizarre.

[2022-01-25 16:56] LEOMODE commented on #1336
I have an Intel Xeon processor, 12 core. I'm running on a Mac Pro 2019 Boot Camp Windows 11. Ran WoW and Hekili fine ever since I bought it.
https://ark.intel.com/content/www/us/en/ark/products/193749/intel-xeon-w3235-processor-19-25m-cache-3-30-ghz.html

I'm still checking on previous versions.

[2022-01-25 16:57] Hekili commented on #1336
We can continue to use the ticket interface.

[2022-01-25 16:59] LEOMODE commented on #1336
Can I just copy paste the Hekili version and just do /reload in wow interface instead of getting out of the game and restarting the game? A bit of a hassle haha.

[2022-01-25 17:00] Hekili commented on #1336
You do not have to restart the WoW client to add/remove/update WoW addons.

[2022-01-25 17:01] LEOMODE commented on #1336
ok so after replacing the Hekili version in the folder, just doing /reload should be sufficient to test that version.

[2022-01-25 17:07] LEOMODE commented on #1336
I can confirm that from 1.0.3 and downwards the stutter disappears. So from 1.0.4 to 1.0.10 is where the stutter happens. Also, I cannot confirm if this is related to Hekili, and I might need further testing, but when I first /reload, the first few movements do have stutter whether I try to move left, right, straight, but it goes away after the first few moves. Just wanted to let you know if this

[2022-01-25 17:19] Hekili commented on #1336
There were a lot of changes from 1.0.3 to 1.0.4.  In order to narrow down changes, can you try the alpha versions between 1.0.3 and 1.0.4?

Does it stutter with https://github.com/Hekili/hekili/releases/tag/v9.1.5-1.0.4-alpha1 ?  If so, I can look at changes that are in that alpha build.  If not, I'd like to pin down if the changes in alpha2, alpha3, etc. specifically trigger this issue for me.

I

[2022-01-25 17:30] LEOMODE commented on #1336
It looks like from 1.0.4-Alpha4 and upwards the stutter occurs. So I'm using 1.0.4-Alpha 3 right now as it's the latest without the stutter for me. Please let me know if there is anything else you want me to test.

[2022-01-25 19:21] Hekili commented on #1335
Priorities will be updated for 9.2 and hopefully this is listed in there.  This ticket did not include the required snapshot and other information.

[2022-01-25 19:21] #1335 closed, assigned to Hekili

[2022-01-25 19:40] Hekili commented on #1336
Thanks for researching.  I might make an alpha version that'll help collect more data.

Are you playing on a private server?  When you've done each phase of testing, has that been with the addon alone or with other addons loaded?

[2022-01-25 19:55] LEOMODE commented on #1336
Thanks. I just play on the US retail server. I'm not familiar with private servers. The stutter happens with other addons as well, but also, when I tested initially (when I posted this bug) I tested one add-on at a time and Hekili was the one that still caused the stutter, so I suspect that this might have nothing to do with other add-ons as prior to 1.0.4-Alpha3 Hekili worked fine even with other

[2022-01-27 07:02] LEOMODE commented on #1336
Would you be uploading it to the public for me to test it out, or just a separate file? We can talk in Discord if you want real-time feedback. Thanks.

[2022-01-31 18:51] HumanMakro opened #1338 "[REC] Spellflash flashes up to four abilities at the same time"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-02 16:46] noiseuu commented on #1333
Hello!
Just asking, are u gonna bring revert soon or 9.2?

[2022-02-05 18:08] elsavira opened #1343 "[BUG] Flame shock default tick duration set to 3 seconds, should be 2."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-07 03:49] blecaplol opened #1344 "Issue with Masque addon"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-07 04:03] Hekili commented on #1344
This is not the correct type of ticket.

You might try using an older Shadowlands version of Hekili and see if the issue persists with the old version.

If you find a version of Hekili where this works, you can tell me the version number and I can compare changes.

If you can't find a version of Hekili that plays well with Masque, it's probably a Masque issue.  (You could try the same thing; test

[2022-02-07 04:03] #1344 closed, assigned to Hekili

[2022-02-07 04:22] blecaplol opened #1345 "Masque settings not saving for Hekili"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-07 04:29] Hekili commented on #1345
Did you not actually read what I wrote? I explained how to determine which addon is the source of the issue.

I also asked you to fill the ticket out completely, so the missing Player Information confuses me.

This is really inappropriate. First, that's not what I said. Second, it's combative.

If you want to supply the missing information and test earlier versions of this addon, like I described,

[2022-02-12 14:56] Hekili commented on #1345
I'm not able to replicate this issue.

[2022-02-12 14:56] #1345 closed, assigned to Hekili

[2022-02-12 14:57] Hekili commented on #1343
That `min_ttd` value is not relevant to the tick time.

The `tick_time` is; I'm correcting it now.  Thanks.

[2022-02-12 14:57] #1343 closed, assigned to Hekili

[2022-02-12 15:05] Hekili commented on #1333
This will be in today's release.

[2022-02-12 15:05] #1333 closed, assigned to Hekili

[2022-02-12 17:29] Hekili commented on #1338
I've added code that will force a display's previous flash(es) to immediately fade when recommendations changed.  This will be in today's release.

Thanks!

[2022-02-12 17:29] #1338 closed, assigned to Hekili

[2022-02-12 20:30] Hekili commented on #1336
I'm having a hard time finding anything between those two releases that really relates to performance, but I did remove one change that might have an impact.  That'll be in today's release.  If it's still broken, let me know.  I plan to overhaul the whole update cycle soon, so if I can't find an incremental fix it'll have to wait until the overhaul.

[2022-02-12 20:59] Hekili commented on #1315
Today's release should use Mana Gems and even show their keybinding successfully.

[2022-02-12 20:59] #1315 closed, assigned to Hekili

[2022-02-12 21:01] Hekili commented on #1319
I'm going to trust that you've hardcoded your bindings by now.  If this is persistently an issue, feel free to reopen and submit your Bartender keybindings.

[2022-02-12 21:01] #1319 closed, assigned to Hekili

[2022-02-13 00:34] Hekili commented on #1249
I think I have this implemented, at least for the next swing.  Should appear in today's (upcoming) release.

[2022-02-13 00:34] #1249 closed, assigned to Hekili

[2022-02-13 04:44] Hekili commented on #1272
I'm going to close because I haven't been able to replicate this and we're several versions out of date.  If there's new information, feel free to reopen with fresh info.

[2022-02-13 04:44] #1272 closed, assigned to Hekili

[2022-02-13 04:44] #1239 closed, assigned to Hekili

[2022-02-14 07:34] LEOMODE commented on #1336
Thanks just tested, but the lag is still there, so I had to revert it back. My question is, would the latest 9.2 skills that'll be added not be in the version that I have to forcibly use until the overhaul?

[2022-02-14 13:11] Hekili commented on #1336
Yes, 9.2 content/mechanics are not in earlier version of the addon.

Can you record this stutter?  Show me if it's something that happens when idling vs. combat vs. whatever?  I need more inforamtion to investigate further.

[2022-02-14 16:08] Hekili commented on #1336
Also, can you reconfirm that 1.0.4-alpha3 continues to work without stuttering, while 1.0.4-alpha4 stutters?  Thanks.

[2022-02-14 18:17] cdc1287 opened #1346 "Hekili auto snapshots quite often as BM"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-14 19:06] Hekili commented on #1346
Does it resolve if you disable "check pet range"?

[2022-02-14 19:27] cdc1287 commented on #1346
I will give it a go and feedback. Thanks for the reply!

[2022-02-15 18:39] cdc1287 commented on #1346
I have not had that issue appear since disabling 'check pet range'. I will let you know if it happens again.

Thanks!

[2022-02-15 18:46] Hekili commented on #1346
Great, I also have a solution planned so you can still use Check Pet Range, but that the priority will recover and use other abilities when it currently gives up.

[2022-02-15 18:47] cdc1287 commented on #1346
Amazing. Thank you for creating this wonderful addon!

[2022-02-16 06:54] LEOMODE commented on #1336
Hey, I just tried recording and discovered something interesting. When I actually removed everything on the screen to record it for your request (Toggle User Interface), the lag was gone despite using the latest version (1.0.10). So I started disabling one add-on at a time to see if anything showing on the screen is causing this glitch, and it seemed like by disabling Details! add-on, I no longer

[2022-02-16 14:45] Stephiegee commented on #1037
Has anyone run into an issue where Hekili conflicts with WOW and will not allow a warlock to res a party member using soulstone?
I can soulstone myself or another PRIOR to combat, but if the member dies during the dungeon, addon must be disabled to carry out res on them. Im new and really like the addon. :))

[2022-02-16 14:52] Hekili commented on #1037
Hi Stephiegee, this is a ticket from 9 months ago that is closed.  You can open a new ticket if you have an issue, but there's no reason the addon would prevent you from soulstoning in combat.  In fact, I've played Warlock a lot and not had this issue.  If another addon is interacting with this addon, it might not be implemented in a safe way to prevent "taint."

If you submit a ticket, make sure

[2022-02-16 15:13] Stephiegee commented on #1037
Thank you for the reply.

[2022-02-16 16:29] Hekili commented on #1336
Do you also have WeakAuras loaded?

[2022-02-16 16:31] LEOMODE commented on #1336
Yes I do.

[2022-02-16 16:38] Hekili commented on #1336
So, here are the scenarios to test (and confirm which version(s) you test for each of these.  Disable all other addons during the testing or the results are not useful.

Copy and paste for each version of Hekili that you test:
[code]

[2022-02-16 17:28] LEOMODE commented on #1336
I don't know what's going on but I can't seem to have Hekili activated. I literally did the same thing as before just by copying/pasting your release folder and dump it under Interface folder and name the folder as Hekili.

Update: for some reason it's not working on my Druid. I can do it on my other character (all level 60).

[2022-02-16 17:32] Hekili commented on #1336
That would not have been the right approach.  Go to Releases and download the packaged file for each version you're testing -- the packaged file includes other libraries used by the addon -- and unpack it so the Hekili folder is in Interface/AddOns.

https://github.com/Hekili/hekili/releases/

The first zip file under Assets for each release is the correct file.

[2022-02-16 17:59] LEOMODE commented on #1336
I think we're talking the same thing. I did go to Releases -> Click on the version I want to download -> Code -> Download ZIP. Then I extracted the ZIP and put them under Interface/AddOns folder.

[2022-02-16 18:19] Hekili commented on #1336
"Code" is not the packaged file.  Use the top link under the release.

![image](https://user-images.githubusercontent.com/9438134/154330003-f7f9262e-e083-49f5-abbc-5c286c62e683.png)

[Hekili-v9.1.5-1.0.10.zip](https://github.com/Hekili/hekili/releases/download/v9.1.5-1.0.10/Hekili-v9.1.5-1.0.10.zip) = the whole package; my addon's code plus all the required libraries pulled in from other projects.

[2022-02-16 18:20] SpatenLa commented on #1336
![grafik](https://user-images.githubusercontent.com/39881841/154330325-f8e767ea-cdcd-430a-aa96-77aa7fbb23c2.png)

[2022-02-16 19:20] LEOMODE commented on #1336
Thanks both, let me try and get back to you soon. It is now working with just Hekili by itself.

[2022-02-16 19:48] LEOMODE commented on #1336
Ok, first off, I think I may have to correct myself because when I disabled Details!, it seems like Hekili was also turned off due to me downloading wrong ZIP files (but I'm sure I downloaded the correct one when I first created this post, sorry as I downloaded them again and tested and gave you the confusion), thus not causing any stutter. As a result, with my testing below using the correct Addo

[2022-02-16 20:27] Hekili commented on #1336
That brings us back to the recording then.  Did you make one?

[2022-02-16 21:55] LEOMODE commented on #1336
https://youtu.be/L53mZzPCPfY

Showing both with the Toggle User Interface on and off. when off the stutter is gone.

[2022-02-16 22:14] Hekili commented on #1336
Probably didn't need to be a youtube video, but ok.

The UI toggle isn't anything that helps resolve anything.  The more interesting comparison is 1.0.4-alpha3 vs. more recent versions.

CTRL+R to show your frame rate the whole time would be helpful.

It'd be helpful to know if you experience the issue with the addon paused (SHIFT-ALT-P by default).

[2022-02-17 09:12] LEOMODE commented on #1336
Sorry didn't know how else I can make a video to post it (but this is unlisted so noone can see it unless you have the link. I can make it private after this fix also). Video is re-uploaded with your request (CTRL+R and SHIFT+ALT+P). As you can see there is a noticeable 10~fps drop when stutters and when you disable the add-on, the stutter is not there.

https://youtu.be/JPdKb6hwQMs

[2022-02-19 00:05] LEOMODE commented on #1336
Any update after seeing the video?

[2022-02-19 13:40] Hekili commented on #1336
Not yet.  I'll post when there's more to look at.  Thanks!

[2022-02-19 13:42] Hekili commented on #1336
Oh, somehow we got this far without me getting a snapshot of the addon's decision-making.

Can you hit Pause (SHIFT-ALT-P by default), then go to `/hekili` > Snapshots > Primary > 1, copy and paste to Pastebin and link here?  Thanks!

[2022-02-20 04:22] Hekili commented on #1336
I'm releasing a 9.2 alpha now.  It should be fine to use on 9.1.5, but you could test in either live or PTR.  Can you take a look?

Info:  https://github.com/Hekili/hekili/releases/v9.2.0-1.0.0-alpha1
Download:  https://github.com/Hekili/hekili/releases/download/v9.2.0-1.0.0-alpha1/Hekili-v9.2.0-1.0.0-alpha1.zip

[2022-02-20 18:53] LEOMODE commented on #1336
https://pastebin.com/bFT38nUS

I will also try with your new alpha add-on and see if this works now.

[2022-02-20 18:59] LEOMODE commented on #1336
Ok the latest version, the stutter exists but it's not consistent. It's more sporadic in various different intervals vs every 2-3 secs on previous versions for instance (the interval seems much longer based on my testing right now).

[2022-02-21 13:37] Hekili commented on #1336
Thanks for checking.  I've gone ahead and made the underlying changes to the addon's decision-making process in https://github.com/Hekili/hekili/releases/download/v9.2.0-1.0.0-alpha3/Hekili-v9.2.0-1.0.0-alpha3.zip.

Unless there is some other interaction that is causing spiky CPU usage, the process of updating recommendations should no longer spike under the vast majority of circumstances.

**edit

[2022-02-21 17:30] lsuarez5280 opened #1348 "[BUG] v9.2.0-1.0.0-alpha4 Heart of Azeroth Error for Characters Without Item"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-21 18:10] Hekili commented on #1348
Thanks, resolved in alpha5.

[2022-02-21 18:10] #1348 closed, assigned to Hekili

[2022-02-21 19:26] jamcdani opened #1349 "[BUG] LuA error on login"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-21 19:29] Hekili commented on #1349
Thanks; I have a fix incoming.

[2022-02-21 19:33] #1349 closed, assigned to Hekili

[2022-02-21 19:40] Hekili commented on #1346
This is addressed in the latest releases.  Thanks!

[2022-02-21 19:40] #1346 closed, assigned to Hekili

[2022-02-23 03:09] mertslam opened #1350 "Hekili rotation wont load on any characters"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-23 03:12] Hekili commented on #1350
Please follow the directions and paste error messages to Pastebin and then provide the link here (it helps for readability).

The error(s) you provided here are from something called "Warlockbox" and not my addon.  Clear your BugSack, reload your UI, and then retrieve the first error message that references my addon.  Paste that on Pastebin and then provide a link here.

You can also look at /heki

[2022-02-23 03:13] Hekili commented on #1350
(But also upgrade to the new release that is posted now.)

[2022-02-23 19:09] Roo212 opened #1351 "[BUG] State.lua:6768: attempt to perform arithmetic on field '?' (a nil value)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-23 19:15] Hekili commented on #1351
Thanks for the report.  v9.2.0-1.0.2-alpha1 will be available (http://github.com/Hekili/hekili/releases) in a few minutes.  It should resolve this error.  Thanks!

[2022-02-23 19:15] Hekili commented on #1350
Reopen if this is still occurring with the latest release(s).

[2022-02-23 19:15] #1350 closed, assigned to Hekili

[2022-02-23 20:36] VitalijSelynin opened #1352 "[BUG] Error shown in UI.lua:1057 State.lua:5861"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-23 20:42] Hekili commented on #1352
Thanks; incoming fix in alpha2.

[2022-02-23 21:04] VitalijSelynin commented on #1352
Thank you for the quick response, tested with alpha2, a "new error" occurred
https://pastebin.com/4p100Nn1

Result: Hekili is not shown at all after startup and during fights.

[2022-02-23 21:11] Hekili commented on #1352
Thanks for the fast report back.  Should be resolved in alpha3.

[2022-02-23 21:17] VitalijSelynin commented on #1352
Tested alpha 3 on 4 mobs, no additional issues occurred. Thank you for the fast response!

[2022-02-23 21:17] #1352 closed, assigned to Hekili

[2022-02-23 21:45] Lerzan commented on #1351
Having a similar issue, also as destruction

Character Data
build: v9.2.0-1.0.1
level: 60 (60)
class: WARLOCK
spec: destruction

talents: cataclysm
    dark_soul_instability
    demon_skin
    flashover
    mortal_coil
    roaring_blaze
    shadowburn

pvptalents: none

covenant: necrolord

conduits: accrued_vitality = 5
   ashen_remains = 5
   condensed_anima_sphere = 5
   fatal_decimation = 5

[2022-02-23 21:47] Hekili commented on #1351
Your report doesn't show you using the alpha version.

The latest (alpha3) should address this completely.

[2022-02-23 21:48] lowendahl opened #1353 "[BUG] Primary rotation get "stuck" for Destro."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-23 21:49] Hekili commented on #1353
This is resolved in https://github.com/Hekili/hekili/releases/download/v9.2.0-1.0.2-alpha3/Hekili-v9.2.0-1.0.2-alpha3.zip.

[2022-02-23 21:49] #1353 closed, assigned to Hekili

[2022-02-23 21:49] #1351 closed, assigned to Hekili

[2022-02-23 21:50] Hekili commented on #1336
Closing; a new thread will be needed for performance reports post-9.2.

[2022-02-23 21:50] #1336 closed, assigned to Hekili

[2022-02-23 21:56] lowendahl commented on #1353
Works for demo och ele shaman

[2022-02-23 21:56] lowendahl commented on #1353
ah - thanks.

[2022-02-24 02:39] Twizzerious opened #1354 "[BUG] Doesnt seem snapshot is working for me?"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-24 04:00] Hekili commented on #1354
Pick the display first, then the snapshot #.  Does that work?

[2022-02-24 05:05] titorrrr opened #1355 "Suggesting only Multi-Shot and ignoring everything else for MM Hunter aoe rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [x] I am reporting

[2022-02-24 05:08] Hekili commented on #1355
Update to the latest version and confirm the problem still occurs.

[2022-02-24 05:12] titorrrr commented on #1355
Unfortunately it does :(

I don't think the addon is tracking the Trick Shots buff correctly.

I've found another issue from 2020 that seems very similar: https://github.com/Hekili/hekili/issues/637

[2022-02-24 05:25] cfervir opened #1356 "[REC] Addon is recommending me to use Flame Shock on a target that already has it."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-24 05:28] cfervir commented on #1356
The video is here:

https://imgur.com/a/LKkootU

The recommendation happens when there are around 4 seconds left for the video to end Stormstrike is about to come out of CD (CL too).

[2022-02-24 05:30] Hekili commented on #1356
This is an issue with the addon's recommendations, so you should've filled out that template. Thanks for the snapshots. In both cases, the addon was recommending Lava Lash. You have to take the snapshots at the time you are seeing the Flame Shock and you think you shouldn't.

[2022-02-24 05:34] GauntletFTW opened #1357 "[BUG] Feral/Guardian spec not showing any recommendations"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-24 05:36] Hekili commented on #1357
Go to /hekili, Feral, click Enabled.

[2022-02-24 05:37] GauntletFTW commented on #1357
Okay, I feel dumb. that seemed to work. I don't think I ever disabled them myself though, but I could be wrong.

[2022-02-24 05:38] #1357 closed, assigned to Hekili

[2022-02-24 05:57] cfervir commented on #1356
Sorry about that, if needed perhaps we should close this and I should make another one? I just changed the title but I don't know if it might actually work.

Besides that I managed to get two Snapshots of FS, I'm not very sure about the first one but the 2nd one was more "close" to have another ability ready to cast.

https://pastebin.com/9gX6nhjJ
https://pastebin.com/8w8MJXQk

[2022-02-24 14:11] Hekili commented on #1356
No need to do it.  You included the snapshots which is the most critical piece.  I appreciate it.

So the above snapshot has 0.11 seconds left on the global cooldown.  The addon goes down the priority list and looks for when each ability will be ready and whether its conditions are met.

The first one it finds is Stormstrike (list = `single`, entry = `23`).  It would be ready in 1.61 seconds.  Its

[2022-02-24 14:24] Hekili commented on #1355
Thanks, I've found the underlying cause and you are on the right track.

When v9.2.0-1.0.3-alpha1 is posted here -- [github.com/Hekili/hekili/releases/v](https://github.com/Hekili/hekili/releases/tag/v9.2.0-1.0.3-alpha1) -- give it a try and let me know if it is resolved.  Thanks!

[2022-02-24 14:52] cfervir commented on #1356
I see,

I know the video is meaningless but if you see it in general the "time" Flame Shock will be available feels like less than a second and it being shown could make a confusion. May I add as well that I play with more "lag" than most ppl and that's perhaps why I see these things more "close" than what it may be?

Perhaps the option to disable Flame Shock as a filler could be a good plan? Just

[2022-02-24 15:08] Hekili commented on #1356
In your video, it looks like Flame Shock and Stormstrike coming off CD would've been very close, and that Stormbringer may have procced at the last second to push Stormstrike ahead.  The addon can see if Stormbringer *has* procced, but it can't predict if Stormbringer *will* proc.

That's what I said.  "I may add an option that disables that filler Flame Shock as a matter of preference."

If you w

[2022-02-24 15:56] cdc1287 commented on #1355
Hello I had the same issue and 9.2.0-1.0.3-alpha1 has resolved it. Thanks!

[2022-02-24 15:57] cfervir commented on #1356
In the video both things happened at the same second, or very close to it seems. An ability was about to be ready and then it procced. FS was just limited by the GCD as it was available before. I know Hekili can't predict a proc, because that's how things are but yeah.

The other option, well. I was just kinda repeating you. Sorry for that!

As for the other recommendation. Here´s a snapshot, I ju

[2022-02-24 16:31] Hekili commented on #1356
For the PWave question, it looks like it would be about a ~54 DPS increase to PWave (and then not need to Flame Shock).  That's not a lot, but it's greater than the margin of error.  I'll bring it up with the Enhancement simc crew, but that will likely get built in.

https://www.raidbots.com/simbot/report/hQ8wqg28JsMrKbovc7XBJK

For your video, it does look like Flame Shock and Stormstrike did com

[2022-02-24 17:55] cfervir commented on #1356
I'll try to get another snapshot (like the one I got in the video) but to be honest I don't know if I'll get lucky enough to get it. After all, if you see it the icon of Flame Shock barely shows... but who knows!

Regardless, Flame Shock appears and I believe it'd be better if it didn't in a situation like that one as it may confuse the person (and click it when another option could be better).

T

[2022-02-24 18:11] Hekili commented on #1356
The good news from sim testing is that it doesn't matter in the larger context -- it washes out in aggregate that you cast Flame Shock when Stormstrike would've been ready in a tenth of a second.  It feels bad in that moment, but overall it doesn't matter.

I mean, you have the answer for it.  Their CDs are very close.  It may happen to you more due to latency causing your casts to happen slightly

[2022-02-24 18:11] #1356 closed, assigned to Hekili

[2022-02-24 19:07] cfervir commented on #1356
Thanks again! Let me know if anything happens <3

[2022-02-24 21:51] titorrrr commented on #1355
It worked! Thank you SO much! You're awesome, really :)

[2022-02-25 01:50] micromalc opened #1358 "Displays not loading until Profile Reset"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-25 01:58] Hekili commented on #1358
You definitely don't need to reset your whole profile. There seems to be an issue where your spec is disabled. You can just /hekili > Your Spec > Enabled (check).

[2022-02-25 01:59] Hekili commented on #1358
Also, are there error messages in BugSack?

[2022-02-25 02:12] micromalc commented on #1358
That was it - specs were all disabled. Thanks for clearing that up super fast.

[2022-02-25 02:28] Hekili commented on #1358
Thanks for confirming. I'll investigate the issue that is auto disabling them.

[2022-02-25 02:45] ReilerA opened #1359 "BM Hunter recommending Beastial Wrath as first global for opener"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-25 05:00] #1355 closed, assigned to Hekili

[2022-02-25 05:58] Hekili commented on #1359
Thanks.  Give 1.0.3-alpha2 a try when you have a chance.

[2022-02-25 07:06] micromalc commented on #1358
I don't know if this is related, but I started levelling a Pandaren and started getting bugs.

33x Hekili\Targets.lua:404: attempt to index local 'spec' (a nil value)
[string "@Hekili\Targets.lua"]:404: in function `getNumberTargets'
[string "@Hekili\Events.lua"]:1326: in function `handler'
[string "@Hekili\Events.lua"]:57: in function <Hekili\Events.lua:51>
[string "=[C]"]: in function `CameraOrS

[2022-02-25 13:33] Hekili commented on #1358
Were there other error messages before this one?  Usually, the first error in the list is the one that matters.

[2022-02-25 14:07] micromalc commented on #1358
I think it was maybe only because it was a low level toon without a spec yet? There was only one bug showing (I logged in again just to check, copied it below).

Basically Bugsack was squeaking (?) at me every time I was in combat with one mob and click targetted a 2nd mob (even if not entering combat with that 2nd mob). Also got the same squeak retargetting the first mob (basically every time I s

[2022-02-25 14:27] micromalc commented on #1358
There was a different error from another toon, but I think that was just because I was trying to apply an essence at the Heart Forge without my Heart of Azeroth equipped. Anyway, here it is just in case:

1x Hekili\UI.lua:1057: Hekili\State.lua:3678: bad argument #1 to 'IsAzeriteItemEnabled' (Usage: local isEnabled = C_AzeriteItem.IsAzeriteItemEnabled(azeriteItemLocation))
[string "=[C]"]: in func

[2022-02-25 14:45] Hekili commented on #1358
For the first one, that explanation makes sense.  I'll make the addon use spec defaults when there's no spec information available.

For the second one, that shouldn't be an issue with the latest versions (especially alpha versions).  Can you confirm whether it is resolved in https://github.com/Hekili/hekili/releases/download/v9.2.0-1.0.3-alpha2/Hekili-v9.2.0-1.0.3-alpha2.zip ?

Thanks!

[2022-02-25 18:05] Hekili commented on #1358
I've found the issue that was causing new profiles to disable classes at first log-in, will be posted soon.  I'll be force-enabling all specs to fix anyone affected.

[2022-02-25 18:05] #1358 closed, assigned to Hekili

[2022-02-25 20:45] Twizzerious commented on #1354
It worked. Forgive me for my plebness.

[2022-02-25 21:24] ReilerA commented on #1359
Thanks tested it out the update worked didn't get the recommendation suggestion error anymore :)

[2022-02-25 21:24] #1359 closed, assigned to Hekili

[2022-02-26 12:35] Tzuyume opened #1360 "Recklessness does not seem to be recommended at all while in combat as Fury"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-26 15:43] Hekili commented on #1360
Funny enough, that's consistent with your sim's behavior; your linked sim didn't use Recklessness after starting combat.

I did some quick testing:

This line *seems* to be the one we would want to fire for your character, but the Conqueror's Banner check doesn't work well for a Night Fae.

https://www.raidbots.com/simbot/report/eyqfuvt4K5jUVw7zwybFfB

Changing it to:

...seems to produce the desi

[2022-02-26 15:47] Tzuyume commented on #1360
Okey that makes alot of sense actually, thanks for looking it up.

[2022-02-26 15:59] Hekili commented on #1360
Submitted ticket to SimC:  https://github.com/simulationcraft/simc/issues/6419

[2022-02-26 17:26] goldur opened #1361 "Marksman Priorities Scuffed (Multi-Shot)"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-26 17:31] Hekili commented on #1361
Fixed in https://github.com/Hekili/hekili/tree/v9.2.0-1.0.3-alpha2

[2022-02-26 17:31] #1361 closed, assigned to Hekili

[2022-02-26 17:52] NathanPrice opened #1362 "[FEATURE] Hekili Abilities Override Keybind Text Key Modifiers"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-02-26 17:54] Hekili commented on #1362
You're overthinking it. You can specify the exact text you want to see. If you want `S1` then type `S1`, don't hold shift and press `1`.

You could type `farts` in that box and that's what the keybind text will show.

[2022-02-26 17:56] #1362 closed, assigned to Hekili

[2022-02-26 18:16] NathanPrice commented on #1362
Yes I'm aware, I even stated that. I was just bringing it up because I thought it was a bit strange. Majority of people would only use it for keybinding text.

Can't really imagine what else you'd use it for so it would just save time overall treating it like a keybind box. It just opens up something that shouldn't be there in the first place. For example there's plenty of badly made forms online

[2022-02-26 18:36] Hekili commented on #1362
The purpose of the feature is to let you decide what should be shown if auto-detection fails to gather what you wanted.  Making it force real keybinds is more restrictive/less flexible, and doesn't accomplish anything significant.

It's not like binding an ability though.  It's deciding what you want to show.  I could use it to force nothing to be shown.  I could use it because I don't like how a

[2022-02-26 18:47] NathanPrice commented on #1362
Gotcha, that makes sense. The way you initially worded it just came off as "you do it this way and that's just how it has to be".

Main reason I was even bringing it up because the wording could be potentially confusing. I was thinking "big picture" because in my eyes anyways when the average person see's "keybind" they would probably initially think to just press their normal keybindings and not

[2022-02-26 19:40] framezart opened #1363 "Hunter Marksman AoE rotation - multi-shot favored over everything on over 5 mobs"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-26 19:44] Hekili commented on #1363
Fixed in https://github.com/Hekili/hekili/releases/tag/v9.2.0-1.0.3-alpha2, use the alpha or wait for me to post a release.

(Also, in the future, use pastebin as directed for snapshot information.  See how unreadable that is?  :D)

[2022-02-26 19:44] #1363 closed, assigned to Hekili

[2022-02-26 20:40] #1354 closed, assigned to Hekili

[2022-02-26 20:54] framezart commented on #1363
Thank you! sorry for the wall of text! wont happen again  :)

[2022-02-27 00:19] chris-munn opened #1364 "[REC] Hunter/Marksmanship - AOE always show Multi-shot and never rapid fire or aimed shot"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-27 00:29] Hekili commented on #1364
See #1361.

[2022-02-27 00:29] #1364 closed, assigned to Hekili

[2022-02-27 01:16] StormFX commented on #1345
A bit late to the party here, but to clarify: I stated if a series of other solutions didn't work, it _may_ be Hekili's implementation. That said, after testing it, I was also unable to reproduce the issue. It seems to one of those rare cases where saved variables don't work properly, whether a file system glitch, exiting the game incorrectly or who knows. It does seem to crop up on occasion (like

[2022-02-27 01:23] Hekili commented on #1345
Thanks for letitng me know!

[2022-02-27 07:48] Sratarak opened #1365 "Getting spammed by Snapshots being created on Enhancement Shaman"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-27 08:07] Hekili commented on #1365
I don't know how you'd get multiple auto-snapshots in one episode of combat, but I put in a fix so that autosnapshots only happen if the Primary or AOE displays have an issue.

If you are still having this issue with 1.0.3c, I need you to check for actual error messages -- not snapshots.  You can check /hekili and see if there's a Warnings section and copy or screenshot if there are messages there

[2022-02-27 08:12] Sratarak commented on #1365
Sorry, I thought I'd posted one of the interrupts one's as well!

https://pastebin.com/RL1mFjyj

This is one of the interrupts one
![WoWScrnShot_022722_075043](https://user-images.githubusercontent.com/73387882/155874301-fa6d855d-d8eb-460f-a860-c80a0b18d568.jpg)
![WoWScrnShot_022722_073350](https://user-images.githubusercontent.com/73387882/155874307-3c8ae318-3ac9-4bc8-922d-51e8399fc5ca.jpg)
.
![W

[2022-02-27 10:54] noiseuu opened #1366 "[REC] Moonfire spams even target has already debuff"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-27 11:53] PARADOX070 commented on #1366
Same issue, only seems to happen on AOE/AUTOMATIC during an eclipse. It will suggest to spam moonfire on everything as you can see here: https://i.imgur.com/Xp2j0fh.png

Snapshot: https://pastebin.com/hgSQUTKc

[2022-02-27 12:57] Raven7576 commented on #1365
I recently got a snapshot spam bug after updating to the latest version today. I was working on the group WQ in Revendreth (for the Calling) and the addon wouldnt quit making snapshots despite having a recommendation for me. The only thing I can offer to help for troublshooting is that I swapped from Necrolord to Venthyr on my DK to get some renown up. The Venthyr cove ability wasnt showing in the

[2022-02-27 13:22] Raven7576 commented on #1365
Alright so it did it again:

Primary: https://pastebin.com/0hPWQkQs
Cooldowns: https://pastebin.com/CMxghSLx
AOE (that only started generated when I opened up Hekili to grab the other two and stopped when Hekili was closed): https://pastebin.com/R4MT6tZ0)

Reverted back to 1.0.2 and have had no issue in the past hour.

[2022-02-27 13:41] Hekili commented on #1365
Please keep all snapshot info on Pastebin and link it.

Do you have BugSack/BugGrabber? I need to know if there are error messages. If not in BugSack/BugGrabber directly, check if /hekili > Warnings exists and if so, if there are messages there.

[2022-02-27 13:59] Razertongue commented on #1365
Ive been getting 3 different bugs in BugGrabber/Sack. 2 reference Weakauras though so Im not sure if they are related. The other is this. Which isnt helpful at all too.

[2022-02-27 14:06] Raven7576 commented on #1365
![image](https://user-images.githubusercontent.com/42005883/155885610-ece70547-b4ef-47b8-8360-502a0575f9e7.png)

I've linked you all the generated issues I could find, snapshot and my reporting screen. I dont see a "Warnings" button. Top right is  BugSack on TitanPanel and there are no bugs while this spam is occurring.  This is while running 1.0.3d, no errors come from 1.0.2 installed. Something

[2022-02-27 14:10] Sratarak commented on #1365
New release definitely appears to have fixed the issue for me.

[2022-02-27 14:15] Raven7576 commented on #1365
Gonna turn off all addons except for Hekili and report back

[2022-02-27 14:21] Raven7576 commented on #1365
https://pastebin.com/Syf0u8Us

Spam hasnt happened yet but it seems like its super sensitive to generating a snapshot as opposed to 1.0.2.

![image](https://user-images.githubusercontent.com/42005883/155886254-ad01d853-c994-4906-8d39-51e6bef0fd49.png)

[2022-02-27 14:25] Hekili commented on #1365
The priority was updated, and Unholy's priority can be finicky.  That Primary display couldn't generate a recommendation.  Generating one snapshot because of it is the desired behavior.  What do you think it should've recommended?

It went Death Coil -> Festering Strike -> unsure.  Do you recall from that time?

[2022-02-27 14:42] Raven7576 commented on #1365
Personally, Im no DK all-star. I use Hekeli to allow me to do decent on classes I don't know well so I have no recommendation. I would personally just go back to using the previous priority for now as it seemed to work pretty well.

Ill do some more testing and report back but I dont have the time to do it now. Would you like me to start a new ticket later?

[2022-02-27 14:48] Tzuyume opened #1367 "Getting spammed by snapshots saved as Feral druid"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-27 15:59] Hekili commented on #1365
I have an adjusted priority for Unholy that may resolve this issue; it should affect the case where, with multiple enemies up that are close to death, the addon stops giving recommendations.

[2022-02-27 16:29] Raven7576 commented on #1365
Sounds great!

I think the last thing I have to ask, that is still on task to this original ticket... Does the snapshoting need to be a spam? It seems to keep going even after getting out of combat. Anyway you can limit snapshots to just be in combat?

[2022-02-27 16:32] Hekili commented on #1365
Yes, that's a bug that will be fixed along with the rest of the issue.

[2022-02-27 17:45] Hekili commented on #1365
Ok, this should be resolved for in https://github.com/Hekili/hekili/releases/v9.2.0-1.0.3e as soon as it's done being built.  If not, please reopen the ticket.

[2022-02-27 17:45] #1365 closed, assigned to Hekili

[2022-02-27 17:46] Hekili commented on #1367
This should be resolved in https://github.com/Hekili/hekili/releases/v9.2.0-1.0.3e which is being released now.  If not, please post an updated screenshot and snapshot and any error messages (from BugSack and/or /hekili > Warnings).

[2022-02-27 17:46] #1367 closed, assigned to Hekili

[2022-02-27 17:46] Hekili commented on #1366
There was a typo when I translated the new Balance priority.  This should be resolved in https://github.com/Hekili/hekili/releases/v9.2.0-1.0.3e which is being released now.  If not, please post an updated screenshot and snapshot and any error messages (from BugSack and/or /hekili > Warnings).

[2022-02-27 17:46] #1366 closed, assigned to Hekili

[2022-02-27 17:47] Hekili commented on #1360
This should be resolved.

[2022-02-27 17:47] #1360 closed, assigned to Hekili

[2022-02-27 21:41] imarkvisser opened #1368 "WW Monk rotation not recommending Whirling Dragon Punch"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-02-27 22:29] Hekili commented on #1368
Please add a snapshot (not a screenshot).

[2022-02-27 22:53] Hekili commented on #1368
Fixed in 1.0.3g.

[2022-02-27 22:53] #1368 closed, assigned to Hekili

[2022-02-28 00:00] DanP1 opened #1369 "Arms warrior repeating error when boss is almost dead and and bladestorm is recommended."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-28 00:09] Hekili commented on #1369
Which version are you using when these errors occur?  Not "the latest" -- I have to know the version number so the lines match up.  Your Player Information shows 1.0.2 which isn't the latest (but that's probably because you reverted).  The error messages don't match up precisely with the current code, so I can't tell for sure.

Edit: I think I have the issue sorted and will test after dinner. If y

[2022-02-28 01:58] lkj61 opened #1370 "Addon seems to stall with using Relic of the Frozen Wastes."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-28 02:15] Hekili commented on #1370
Are there error messages?

What do you mean by "stall" precisely?

[2022-02-28 03:46] Hekili commented on #1370
This is a defect in SpellFlash (it doesn't load spells/items using modern API).  I'm sending a fix over to them.

[2022-02-28 03:48] lkj61 commented on #1370
It stops flashing. Just with that trinket equipped.

On Sun, Feb 27, 2022 at 8:15 PM Hekili ***@***.***> wrote:

[2022-02-28 03:49] lkj61 commented on #1370
Awesome!  Thank you.

Lisa

On Sun, Feb 27, 2022 at 9:47 PM Hekili ***@***.***> wrote:

[2022-02-28 05:22] DanP1 commented on #1369
Hi,
 I reinstalled with Hekili-v9.2.0-1.0.4.zip
<https://github.com/Hekili/hekili/releases/download/v9.2.0-1.0.4/Hekili-v9.2.0-1.0.4.zip>.
I tested it on a couple rares in Zereth Mortis. So far so good.
Thanks for the reply,
Dan

On Sun, Feb 27, 2022 at 7:09 PM Hekili ***@***.***> wrote:

[2022-02-28 06:30] dMopp opened #1371 "[BUG] Spellflash not working anymore"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-28 09:18] N6REJ opened #1372 "[BUG] Bug grabber error on load"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-02-28 13:23] Hekili commented on #1372
Fixed in https://github.com/Hekili/hekili/releases/v9.2.0-1.0.4a.

[2022-02-28 13:23] #1372 closed, assigned to Hekili

[2022-02-28 13:23] Hekili commented on #1371
Fixed in https://github.com/Hekili/hekili/releases/v9.2.0-1.0.4a.

[2022-02-28 13:23] #1371 closed, assigned to Hekili

[2022-02-28 13:23] Hekili commented on #1370
Fixed in https://github.com/Hekili/hekili/releases/v9.2.0-1.0.4a.

[2022-02-28 13:23] #1370 closed, assigned to Hekili

[2022-02-28 14:07] #1369 closed, assigned to Hekili

[2022-02-28 15:36] lkj61 commented on #1370
Thank you!

On Mon, Feb 28, 2022 at 7:23 AM Hekili ***@***.***> wrote:

[2022-02-28 15:51] lkj61 commented on #1370
I installed the new version, put the trinket back in, and it worked fine
for about 20 seconds. I uninstalled everything, made sure I got all the
saved variables deleted and got back in the game. Will not flash at all
with that darn trinket equipped. Put the other back in and all is good.

Lisa

On Mon, Feb 28, 2022 at 7:23 AM Hekili ***@***.***> wrote:

[2022-02-28 16:00] Hekili commented on #1370
Show your "Player Information" from /hekili.

[2022-02-28 16:05] lkj61 commented on #1370
I watched and it proc'd the trinket once, and then when the cooldown on the
trinket was available again, that's when it wouldn't flash anymore.

build: v9.2.0-1.0.4a
level: 60 (60)
class: HUNTER
spec: beast_mastery

talents: animal_companion
    aspect_of_the_beast
    binding_shot
    natural_mending
    scent_of_blood
    stomp
    thrill_of_the_hunt

pvptalents: none

covenant: venthyr

conduit

[2022-02-28 16:07] Hekili commented on #1370
Do you have in-game error messages?

Can you show where your trinket is bound?  (i.e., a clipped screenshot)

[2022-02-28 16:10] Hekili commented on #1370
Also, did you cut the Player Information part short?  You should have more abilities listed in keybindings.

[2022-02-28 16:12] Hekili commented on #1370
One more question -- do you have SpellFlashCore installed separately?  I.e., an AddOns/SpellFlashCore folder?  If so, delete it.

[2022-02-28 16:17] lkj61 commented on #1370
This is what I copied from the report issues window.  The accept button
stays greyed out.
The trinket in question is the bottom right.
[image: WoWScrnShot_022822_101320.jpg]

[image: WoWScrnShot_022822_101528.jpg]

build: v9.2.0-1.0.4a
level: 60 (60)
class: HUNTER
spec: beast_mastery

talents: animal_companion
    aspect_of_the_beast
    binding_shot
    natural_mending
    scent_of_blood
    stom

[2022-02-28 16:18] lkj61 commented on #1370
I checked and I don't have it downloaded.

On Mon, Feb 28, 2022 at 10:12 AM Hekili ***@***.***> wrote:

[2022-02-28 16:20] Hekili commented on #1370
Do you have BugSack/BugGrabber installed?  Error messages?

When you updated, what did you use to update?  I'm not sure you actually got the SpellFlash changes.

[2022-02-28 16:23] lkj61 commented on #1370
[image: WoWScrnShot_022822_102137.jpg]

On Mon, Feb 28, 2022 at 10:20 AM Hekili ***@***.***> wrote:

[2022-02-28 16:37] Hekili commented on #1370
I'm not able to see that image.

Can you confirm this file is installed:  https://github.com/Hekili/hekili/releases/download/v9.2.0-1.0.4a/Hekili-v9.2.0-1.0.4a.zip

You can go into `Hekili/Lib/SpellFlashCore` and attach `SpellFlashCore.lua` here so I can verify.

[2022-02-28 16:46] lkj61 commented on #1370
Also, no bugs in bugsack.

On Mon, Feb 28, 2022 at 10:37 AM Hekili ***@***.***> wrote:

[2022-03-01 01:16] Tga123 opened #1373 "[BUG] Hekili / SpellFlashCore produces lua errors."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-01 01:49] Hekili commented on #1373
I'll pull the portion impacting ButtonForge.  The other implementation needs to run asynchronously or restart itself after a delay if item names aren't available when it tries the first time.  Otherwise, items simply will not flash.  Do you have plans to implement a different solution?

[2022-03-01 03:24] Tga123 commented on #1373
I think, reverting old code only in button forge section and add "ButtonForge" to  "## OptionalDeps:" in "Hekili.toc" should be enough.

[2022-03-01 04:25] Tga123 commented on #1373
I try last ([3340ed90a8ad66165b088e8d88588a355fdda78d](https://github.com/Hekili/SpellFlashCore/commit/3340ed90a8ad66165b088e8d88588a355fdda78d)) commit from ["async"](https://github.com/Hekili/SpellFlashCore/tree/async) branch - works great.

[2022-03-01 04:28] Hekili commented on #1373
Thank you!

[2022-03-01 04:28] #1373 closed, assigned to Hekili

[2022-03-01 16:02] lkj61 commented on #1370
Was everything okay on my end?

On Mon, Feb 28, 2022 at 10:37 AM Hekili ***@***.***> wrote:

[2022-03-01 16:05] Hekili commented on #1370
I don't know, I never saw your picture nor whether you had the right file installed.

[2022-03-01 16:09] lkj61 commented on #1370
I just sent it as an attachment.

On Tue, Mar 1, 2022 at 10:05 AM Hekili ***@***.***> wrote:

[2022-03-01 16:10] Hekili commented on #1370
That doesn't work; you'll need to add through the site.

https://github.com/Hekili/hekili/issues/1370

This would be the latest one to test with:  https://github.com/Hekili/hekili/releases/download/v9.2.0-1.0.5-beta1/Hekili-v9.2.0-1.0.5-beta1.zip

[2022-03-01 16:15] lkj61 commented on #1370
Did it work? I’ve never done that before.

On Tue, Mar 1, 2022 at 10:11 AM Hekili ***@***.***> wrote:

[2022-03-01 16:16] Hekili commented on #1370
No, you're still sending emails.  Go to the website.

[2022-03-01 16:18] lkj61 commented on #1370
I installed the version you just linked.  I will give that one a try as soon as the servers come back up.

[2022-03-01 18:22] lkj61 commented on #1370
Is there any way to stream just to you?

On Tue, Mar 1, 2022 at 10:15 AM Lisa K. Johnson ***@***.***> wrote:

[2022-03-01 19:04] lkj61 commented on #1370
Still stops flashing after the first proc of that trinket.  Works fine
otherwise.

Lisa

On Tue, Mar 1, 2022 at 12:22 PM Lisa K. Johnson ***@***.***> wrote:

[2022-03-01 19:12] Hekili commented on #1370
I'm not able to duplicate this issue after these fixes.  The last test I can recommend is using that latest version of the addon with only Hekili loaded (no other addons).  If flashes still break down, let me know about it.  You may check whether some other addon is supplying an older version of SpellFlashCore that doesn't work.  Otherwise, if there are no error messages and no other information y

[2022-03-01 19:22] Lejes9X opened #1374 "[Feature] Soulletting Ruby"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-03-01 19:25] Hekili commented on #1374
This is an issue with recommendations; submit the appropriate ticket with all of the required information.

https://github.com/Hekili/hekili/issues/new?assignees=Hekili&labels=recommendation%2Ctriage&template=Recommendation-Report.yml&title=%5BREC%5D+REPLACE+THIS+TEXT+WITH+YOUR+CLASS%2FSPEC+AND+BRIEF+ISSUE+DETAILS

[2022-03-01 19:25] #1374 closed, assigned to Hekili

[2022-03-01 19:46] lkj61 commented on #1370
Ok, I'll check it out.

On Tue, Mar 1, 2022 at 1:12 PM Hekili ***@***.***> wrote:

[2022-03-01 19:46] lkj61 commented on #1370
Do you have that trinket available?

On Tue, Mar 1, 2022 at 1:12 PM Hekili ***@***.***> wrote:

[2022-03-01 19:52] lkj61 commented on #1370
Just tried it with only Hekili and default ui loaded.  Still doesn't flash
with that darn trinket.  :(

On Tue, Mar 1, 2022 at 1:12 PM Hekili ***@***.***> wrote:

[2022-03-01 22:09] ShiftyMcFly opened #1375 "Elemental Shaman - Primordial Wave not showing up in rotation."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-02 15:54] rikdol opened #1376 "GCD Swipe doesn't apply color/alpha scheme from ElvUI"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-03-02 16:11] Thackery-Binx opened #1377 "[BUG] Spellglow not highlighting "Final Verdict" in Ret Paladin rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-02 17:01] Hekili commented on #1377
This may be an issue with SpellFlashCore.  I thought it was fixed overall, but it may not be detecting those frames.

If you type `/dump SpellFlashCore.IsFlashable("Templar's Verdict")` what output do you see?

You may need to report that issue to the SpellFlashCore maintainer.

[2022-03-02 17:01] Hekili commented on #1377
If you have SpellFlashCore installed separate of Hekili, you may try removing it.

If you move Templar's Verdict on your bars and then place it again, does the flash work?

[2022-03-02 17:09] Thackery-Binx commented on #1377
I do not have SpellFlashCore installed so far as I know, I just have the Hekili addon.

The output I received can be seen in the screenshot. Removing and re-adding the ability doesn't work, regardless of which action bar I put it on. In the screenshot below you can also see that the Templar's Verdict ability is renamed to Final Verdict. I'm not sure if that is what's causing the issue since the ab

[2022-03-02 17:10] Thackery-Binx commented on #1377
Sorry, that screenshot shows the wrong output. I put Final Verdict instead of Templar's, but the output is no different if I use Templar's Verdict. The string that comes out is identical except it says: "Templar's Verdict".

[2022-03-02 17:24] Tzuyume opened #1378 "Auto Snapshot on Venthyr Feral Druid"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-02 19:05] Hekili commented on #1378
Please sim yourself and provide the link.  Thanks.

[2022-03-02 19:59] IIeTpoc opened #1379 "[ARMS] Impossible execute Auto/AOE display recommendation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-02 20:30] Hekili commented on #1379
Can you post a screenshot as well?  Thanks.

[2022-03-02 20:55] Tzuyume commented on #1378
My bad, "https://www.raidbots.com/simbot/report/wjqvavEtsEMSXsdzGJuVGi"

[2022-03-02 20:56] IIeTpoc commented on #1379
![WoWScrnShot_030222_234055](https://user-images.githubusercontent.com/64799395/156448210-acbae662-7854-4a1a-8615-1a7c3d6a0067.jpg)
Sure!

[2022-03-02 20:59] IIeTpoc commented on #1379
Also I can add, that in Dual display mode Single Target display works as intended and doesnt reccommend such executes

[2022-03-02 23:26] Fowka2 opened #1380 "Funnel Damage Bug - Wants me to use Black Powder Instead of Eviscerate"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-03 03:19] whoaisjustin opened #1381 "ASSASSINATION ROGUE - SnD Recommended while more powerful version active"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-03 03:44] Hekili commented on #1378
I think this will be resolved in 1.0.6.  Reopen the ticket if you find it again.  It was related to timing Rake's refresh.

[2022-03-03 03:44] #1378 closed, assigned to Hekili

[2022-03-03 03:45] Hekili commented on #1381
Thanks, should be fixed in 1.0.6.

[2022-03-03 03:45] #1381 closed, assigned to Hekili

[2022-03-03 03:45] Hekili commented on #1380
Fixed in 1.0.6.

[2022-03-03 03:45] #1380 closed, assigned to Hekili

[2022-03-03 03:45] Hekili commented on #1379
Thanks, should be fixed in 1.0.6.

[2022-03-03 03:45] #1379 closed, assigned to Hekili

[2022-03-03 06:36] markdall opened #1383 "[BUG][Root cause found] Constant main chat window spam for demonology warlocks"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-03 06:40] Dragonfo opened #1384 "[Surv Hunter] Addon does not correctly recommend Volatile Bomb in AOE and ST"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-03 06:49] markdall commented on #1383
Data point: It doesn't do it while I'm dead. When I release, it comes back.

[2022-03-03 07:19] markdall commented on #1383
It also stops happening if I switch specs from Demonology to Destruction. When I switch back to Demonology, the spam returns.

[2022-03-03 07:30] markdall commented on #1383
Commenting out line 133 of Classes\WarlockDemonology.lua fixed the problem.
![image](https://user-images.githubusercontent.com/238194/156517270-4af3f1e5-2c0d-4a22-a4b0-0bdbbf0428dd.png)

[2022-03-03 07:32] DiscordGregory commented on #1383
Yep, was coming here to post this same thing lol.

[2022-03-03 07:34] markdall commented on #1383
I debugged it while raiding, lol.

[2022-03-03 08:02] nijaru commented on #1383
I assume it's from the update to demonology today. I haven't had issues with other classes

[2022-03-03 08:10] markdall commented on #1383
Yes: https://github.com/Hekili/hekili/blame/shadowlands/Classes/WarlockDemonology.lua#L133

Someone left in a print debug statement. I've done that many times myself.

[2022-03-03 12:11] Bun10 commented on #1383
Same issue, Demo Warlock, streaming numbers in chat window.  Hekii only addon running.  Disabled the numbers are absent.

[2022-03-03 12:15] Bun10 commented on #1383
I applied Markdall's fix which worked.  Ty Markdall, for those of us oblivious to lua you explained it perfectly.

[2022-03-03 12:37] Hekili commented on #1384
Sim yourself in AOE (either HecticAddCleave or Patchwerk with 3+ targets) and provide the link.  There may be a priority issue that would be true of your sim as well.

[2022-03-03 13:00] Hekili commented on #1383
Yeah, this is fixed in 1.0.6a; sorry for the spam.  I've also made it so that prints within the emulated state environment will be suppressed if you're not in developer mode.

[2022-03-03 13:00] #1383 closed, assigned to Hekili

[2022-03-03 13:23] Dragonfo commented on #1384
https://www.raidbots.com/simbot/report/2mQwXKWFYFLkbdAYEmH81t Patchwerk with 3+ targets
https://www.raidbots.com/simbot/report/3zDLLE416GnK6xPJ1uh2Uf  HecticAddCleave
https://www.raidbots.com/simbot/report/gwaZeTxCxXXbJuJFV2z6Nk DUNGEON SLICE

[2022-03-03 16:55] Hekili commented on #1384
This behavior is pretty consistent with your sims (you can see multiple Wildfire Bombs before using Serpent Sting, with your specific talents).  It doesn't really match guides, though.  I'll keep an eye out for updates to the sim profile.

[2022-03-03 17:08] Dragonfo commented on #1384
Well, I'll wait then for future updates. Thanks

[2022-03-03 17:08] #1384 closed, assigned to Hekili

[2022-03-03 17:09] lkj61 commented on #1370
I don't know if it matters, but if I manually click the trinket after the
timer on it resets, everything starts flashing again as it should.  Is
there a way to have the addon not look at trinkets?  Or maybe just this
one?  Relic of the Frozen Wastes.

Thank you so much for your help with this.  It is truly appreciated.

Lisa

On Tue, Mar 1, 2022 at 1:12 PM Hekili ***@***.***> wrote:

[2022-03-03 17:47] lkj61 commented on #1370
Here's a link to the video of what I was referring to.

https://drive.google.com/file/d/10NvxhaUPDK8U4vpNaVt7CXoU-HXAglxN/view?usp=sharing

[2022-03-03 17:50] lkj61 commented on #1370
Okay, I found where I can disable it.  I will give it a try.

[2022-03-03 17:53] Hekili commented on #1370
That is a very, very large (half gigabyte) video.  You should probably clip it to the relevant part.  I also never saw your screenshot.

I'm honestly not sure the whole scope of your issue at this point.  If you can put your explanation, picture, and snapshot altogether in one cohesive summary, I can do a better job of investigating.

Relic sits at the front of the queue?  Even if used?
Relic is a

[2022-03-03 17:57] lkj61 commented on #1370
I will try to clip it. When I first start the rotation, flashing works as
it should, but when the time on the trinket rests then everything stops
flashing until I manually click on the trinket, then the rotation starts
flashing again. That’s the only way I can describe  it. I will try clipping
the video.

Lisa.

On Thu, Mar 3, 2022 at 11:54 AM Hekili ***@***.***> wrote:

[2022-03-03 18:04] lkj61 commented on #1370
https://user-images.githubusercontent.com/9512021/156624795-8f273865-2e11-44b6-be1d-a544472446c0.mp4

[2022-03-03 18:05] lkj61 commented on #1370
I hope that shows what I am talking about.

[2022-03-03 18:07] lkj61 commented on #1370
Everything flashes when the rotation first starts, but when the trinket timer resets, then it stops until I manually click it.  Then it starts back up.  When I end the fight and start another, it won't start flashing again until I manually use the trinket.

[2022-03-03 18:13] Hekili commented on #1370
Are you saying that it will flash the trinket in your character panel initially, and then not afterward?  I'd be surprised to see anything flash in the character panel to begin with.

If the addon's recommendation doesn't exist on action bars, SpellFlash will just quietly fail.  If you put your trinket onto your action bars, does it flash as expected?

[2022-03-03 18:23] lkj61 commented on #1370
No, it doesn't flash in my character pane.  I left that open so that you could see the timer reset on it and then the bars stop flashing until I click the trinket.  I disabled the trinket in the addon and everything flashes as it should now.

[2022-03-03 18:26] Hekili commented on #1370
Ok, yeah -- the issue there is that a trinket won't flash if it's not on an action bar, the addon has no mechanism to let you know that recommendations are blocked that way when you have the addon display disabled.

I may add some kind of warning message in such cases, in case this comes up again.  Thanks for following up with that info.

[2022-03-03 18:28] lkj61 commented on #1370
It's the first time I've ever had to disable a trinket.  All the others work just fine in the rotation.  If I swap that one out with another trinket, the flashing never stops like it does with that one trinket.

[2022-03-03 18:30] Hekili commented on #1370
I'm not sure how that would work, unless you've lucked into having passive trinkets that aren't recommended by the addon (because you don't use them directly).  Or if you had them macro'd so they were getting put on CD when you used your cooldowns anyway.

[2022-03-03 18:30] lkj61 commented on #1370
For example, I replace that trinket with Titanic Ocular Gland, and it doesn't affect my rotation flashing.  As soon as I put the other in, it does what it shows in the video, that when the trinket resets, it stops flashing until I click on it again.

[2022-03-03 18:30] lkj61 commented on #1370
I hope that makes sense?

[2022-03-03 18:32] Hekili commented on #1370
Yeah, that makes sense -- Titanic Ocular Gland doesn't have a "Use:" effect, so it's never recommended, so it would never block.  Any other trinket with a "Use:" would block in the same way.  It can be useful to have a `/use 13` and `/use 14` macro on your bars, so that if you equip a usable trinket, you have a consistent keybind for it.

[2022-03-03 18:35] lkj61 commented on #1370
I will give that a try.  Thank you.  ;)

[2022-03-03 19:19] lkj61 commented on #1370
Okay, I tried out your "Use:" theory.  I swapped in Brimming Ember Shard, it triggered, everything was flashing, and it continued to flash, even when the timer on the trinket reset.  It all worked as it should with that trinket equipped.

[2022-03-03 19:22] Hekili commented on #1370
So what was flashing when it was time to use Brimming Ember Shard?

[2022-03-03 19:28] lkj61 commented on #1370
Meh, I can't get it to do it again.  :/  I'll send a video if/when it happens again.

[2022-03-03 19:31] dubudevs opened #1385 "[Demonology] Niya opener is broken"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-03 19:33] lkj61 commented on #1370
Okay, you saw what it did in the video.  Trinket was triggered, everything flashed as it should in the rotation until the timer on the trinket reset.  I put in the Brimming Ember Shard, and it didn't trigger on it's own and when I did trigger it, everything flashed as it should throughout the rest of the rotation.  When the Relic of Frozen Waste is equipped, it is triggered in the rotation, not by

[2022-03-03 19:36] Hekili commented on #1370
If the priority would never recommend Brimming Ember Shard, then Brimming Ember Shard would never block.

[2022-03-03 19:36] lkj61 commented on #1370
Meaning, I never trigger the Relic trinket, it does it on it's own.
The Brimming Ember Shard I have to trigger.

[2022-03-03 19:37] lkj61 commented on #1370
Ah.  Gotchcha.  Thanks for explaining.  Sorry to be such a bother. And I do thank you for your time.

[2022-03-03 19:39] Hekili commented on #1370
Not a problem.  Sorry that I wasn't grasping what you were saying at first.  Thanks for providing more info.

[2022-03-03 19:52] lkj61 commented on #1370
I was away from WoW for several years.  I had previously used Spellflash and it's addons for classes.  I was a bit distraught when I discovered that it was no longer updated.  Then I tried a variety of other rotation helpers until I came across yours and I was instantly smiitten.  :)

[2022-03-03 20:48] dubudevs commented on #1385
https://pastebin.com/VWDKrekp precombat
https://pastebin.com/aswebS1i when casting SR after DB

[2022-03-03 21:23] felidaetsavo opened #1386 "[REC] BM Hunter - The First Sigil trinket not recommended when equipped"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-03 21:39] Hekili commented on #1385
I'm not 100% sure those new snapshots are using the alpha (maybe you pasted the files, maybe you didn't, maybe didn't reload?), but I can't replicate the issue on this end.  I'm going to do a second alpha build that puts in more debugging information in the snapshots and ask you to snapshot again later.

I'd again want a snapshot before casting Soul Rot and during/after casting Soul Rot, if your t

[2022-03-03 21:40] dubudevs commented on #1385
I checked that, I first renamed the old files, then deleted when the behaviour was the same, deleted both, restarted game, I will try again after raid.

[2022-03-03 23:12] Hekili commented on #1385
It's easier to just drop in the zip to avoid missing something IMO.  The new version will snapshot more info that will help figure it out if this is still unresolved.

[2022-03-03 23:13] Hekili commented on #1386
This should be fixed in the 1.0.7-alpha2 (and will be in 1.0.7 release when it's ready).  Thanks.

[2022-03-03 23:13] #1386 closed, assigned to Hekili

[2022-03-03 23:14] Hekili commented on #1377
What addon is supplying your action buttons?

Is that Templar's Verdict button a macro?

[2022-03-03 23:32] Thackery-Binx commented on #1377
I have no addons that are supplying the action buttons. I drag and drop them from the in-game abilities book onto the action bars. I do have Bartender4 installed to move around the action bars, but I do not have any macros or addons for the action buttons themselves.

[2022-03-04 00:15] Fringetastic opened #1387 "[BUG] Occasional LUA error on login/reload on ExactTime"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-04 00:37] dubudevs commented on #1385
It appears to be working, but the demo opener still doesn't quite appear to be doing the correct thing. This isn't a new development, though. It frequently doesn't fill the time completely (ie it can cast another db to get 3 shards for the final hog, or even 2 SBs), but I think this might be an APL problem. It might even be the first tyrant variable, but it happens with DW and Niya.

[2022-03-04 09:14] acastaner opened #1389 "[FEATURE] Add Warrior Spell Reflection to the Interrupt or Defensive Displays"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-03-04 16:18] Palcave opened #1393 "[FEATURE] DH Havoc - Another option for recommended movements."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-03-05 07:29] ijoihlhnn commented on #1393
just be mindful about when to use felrush.

[2022-03-05 13:12] cremor opened #1394 "[REC] Ret Seraphim is never recommended when cooldowns are disabled or shown separately"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-05 20:17] Hekili commented on #1394
With CDs disabled, you don't want to follow ES FR Pooling logic anyway, because that's literally meant to be the 9 seconds leading up to using those CDs.  Which you might not do.

I made adjustments to the regular availability of Seraphim in the Finishers list that seems to work okay.  It's testable in 1.0.8-alpha1.

[2022-03-05 20:17] #1394 closed, assigned to Hekili

[2022-03-05 21:07] Hekili commented on #1393
I've added a setting for this that is testable in the 1.0.8-alpha2.

[2022-03-05 21:07] #1393 closed, assigned to Hekili

[2022-03-05 21:08] Hekili commented on #1389
I'll keep this open as a feature enhancement; I'm not opposed but it needs a lot of UI work to be particularly useful, and it would be secondary to other plans (simplifying adding defensives/utility in general).

[2022-03-05 21:09] Hekili commented on #1385
Yeah, that issue is an APL problem that'll get swept away with APL changes anyway.  You could definitely squeeze in more if logic were built around "how many shadow bolt/demonbolt casts can I complete, followed by HoG and Tyrant" without a major demon expiring.

[2022-03-05 21:09] #1385 closed, assigned to Hekili

[2022-03-05 21:10] Hekili commented on #1377
If you're using Bartender4, your keybinds aren't being detected despite BT4 support being built in.  It would seem that SpellFlashCore has the same issue; not finding your BT4 bars.  Are you sure it's the official working version of Bartender?

[2022-03-05 22:56] Hekili commented on #1387
This will be resolved in the next release.  Thanks!

[2022-03-05 22:56] #1387 closed, assigned to Hekili

[2022-03-06 10:02] Acelisss opened #1395 "Issue with key-binds lining up with the display"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-06 11:03] gafralo opened #1396 "sometimes the addon does not show up the indicazione about the spell to use"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-06 12:04] Hekili commented on #1396
Please put your Player Information on Pastebin and provide the link.

[2022-03-06 12:05] Hekili commented on #1395
Please put your Player Information on Pastebin and provide the link.

[2022-03-06 13:07] Hekili commented on #1395
So, the addon can see that Thrash is on M5 on your 6th actionbar and also S1 on your 8th actionbar.  The addon has to make assumptions about which bar to pull the keybind from, which is based on your form.

In cat form, the addon looks at bar 7 first (default cat bar) then bar 8 (default prowl bar), then it looks at 1-6 and 9-10.  If you're prowling, it looks at bar 8 first, then bar 7, then 1-6 a

[2022-03-06 13:07] #1395 closed, assigned to Hekili

[2022-03-06 13:13] Hekili commented on #1396
So, which settings are actually forgotten, specifically?

Change those settings, let me know what you changed, log out.  Post your Hekili.lua from your profile's SavedVariables.

Log in.  Are they different?  Which specific settings are turning off?

Does it happen with the latest alpha version?  https://github.com/Hekili/hekili/releases/download/v9.2.0-1.0.8-alpha2/Hekili-v9.2.0-1.0.8-alpha2.zip

[2022-03-06 13:14] Tzuyume opened #1397 "Autosnapshot as Arcane Mage"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-06 13:17] Hekili commented on #1397
What did you think should've been recommended?

[2022-03-06 13:24] Hekili commented on #1397
Actually, I found the `final_burn` variable was calculating incorrectly, which might've prevented this from happening.  I'll post a new alpha soon.

[2022-03-06 14:06] Tzuyume commented on #1397
Maybe im posting the autosnapshots in the wrong place? It feels unintended when addon stops working for a while and does a snapshot before it returns to normal.

[2022-03-06 14:19] Hekili commented on #1397
Why would you think that?

[2022-03-06 14:48] cremor opened #1398 "[FEATURE] Divine Resonance legendary should predict future Holy Power gain and Judgment debuffs"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-03-06 15:43] Tzuyume commented on #1397
well i dont know what should be recommended, just feels like it shouldn't stop recommending things.

[2022-03-06 17:56] Hekili commented on #1397
Yes, I agree.  I wasn't suggesting it should stop making recommendations.

[2022-03-06 18:20] Hekili commented on #1398
Good catch; the calculation for when the last tick happened is incorrect.  I'll fix.

Note that the reapplication of the Judgment debuff isn't presently modeled, but I'm open to including it if we're confident it will impact recommendations.

[2022-03-07 02:33] Foraga88 opened #1401 "Kyrian Balance Druid recommending cancelling Primordial Arcanic Pulsar"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-07 02:55] Hekili commented on #1401
Sim yourself and provide the link.

[2022-03-07 03:05] Foraga88 commented on #1401
https://www.raidbots.com/simbot/report/tReMvZrZ1kZKAJBjvQdACS

[2022-03-07 11:00] ElMorz commented on #1401
Hi, I'd like to mention I'm playing a Venthyr balance druid and I also get a starssurge with a red 'x' on it as well.

[2022-03-07 13:38] Hekili commented on #1401
Thanks.  Looking closely at the snapshot, I've found that there is an issue with priorities that use `@` (abs) being interpreted incorrectly.  I'm working on a fix.

You can disable the relevant entries in your priority by going to /hekili > Priorities > Balance > Action Lists > select `st` > select `24` and uncheck Enabled.

[2022-03-07 16:38] cremor commented on #1398
Thanks for fixing the Holy Power prediction.

About the Judgment debuff:
Here is a snapshot that shows how that would change recommendations: https://pastebin.com/r76meEmc

Recommendation 2 is Judgment (generators 6) here. But with a Judgment debuff prediction that would not have been the case, since it has a `!debuff.judgment.up` condition.
At least I hope that I read this correctly and at this p

[2022-03-07 23:56] Hekili commented on #1398
Alright, I've added the Judgment casts to the model.  Will be in next release.

[2022-03-07 23:56] #1398 closed, assigned to Hekili

[2022-03-07 23:56] Hekili commented on #1401
Version 1.0.8 will resolve the issue where `@` was breaking the conditions for the `cancel_buff` entry.  Let me know if it still appears for incorrect specs.

[2022-03-07 23:57] Hekili commented on #1397
Closing; 1.0.8 should address it.  If I'm wrong, feel free to reopen.

[2022-03-07 23:57] #1397 closed, assigned to Hekili

[2022-03-07 23:57] #1396 closed, assigned to Hekili

[2022-03-07 23:58] Hekili commented on #1377
Will close if no response.

[2022-03-08 00:01] Thackery-Binx commented on #1377
I have Bartender4 installed via CurseForge so as far as I am aware it is the official working version. It is version 4.11.1 last updated 2022-02-24.

[2022-03-08 00:56] Hekili commented on #1375
This is resolved.

[2022-03-08 00:56] #1375 closed, assigned to Hekili

[2022-03-08 03:08] Justeroo opened #1402 "Cache of Acquired Trinkets causing addon to fail to make recommendations"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-08 03:13] Justeroo commented on #1402
As a note. I uninstalled and downgraded to the release before this one about 30 seconds ago and it resolves the issue. It's definitely related to the new update.

[2022-03-08 03:36] thegameguru commented on #1402
can confirm the exact same issue.

[2022-03-08 03:38] Hekili commented on #1402
Ok, I can't troubleshoot with a downgraded version.  I'll see if I have issues on Rogue.

[2022-03-08 03:40] Hekili commented on #1402
By exact same, you mean Rogue?  Can you check /hekili and see if there's a Warnings section?

[2022-03-08 03:53] Hekili commented on #1402
For anyone having this issue, I need:
1. Issue Reporting information.
2. Screenshot of the spec options for your spec(s) that aren't being displayed; especially8 first tab.
3. Any information in the "Warnings" section that can appear at left (if there is no Warnings section, just confirm that).
4. Any error messages (you may need to install BugSack and BugGrabber for this).
5. Possibly a copy of t

[2022-03-08 04:19] Justeroo commented on #1402
I'll log in right now and get you everything you need.

[2022-03-08 04:26] Justeroo commented on #1402
1. Player info/character data: https://pastebin.com/HNgw4FGt
2. literally no primary or AoE bar showing.
3. Warnings: https://pastebin.com/RmfGmG7X
4. The above one is the only one I've been able to get into BugSack
5. I don't have a Hekili.lua file in _retail_\WTF\SavedVariables

Observation:
Was working on downgraded version. Updated and problem immediately returned.

[2022-03-08 04:37] Hekili commented on #1402
Try `/run Hekili.Update()` -- this might trigger a more detailed error message in BugSack/Warnings.

You do have a Hekili.lua file in your account's SavedVariables.

[2022-03-08 04:53] Justeroo commented on #1402
https://pastebin.com/TZ4wH8EX - Hekili.Update error from bugsack
A short video instead of screenshots for the spec options (I think these are the ones you wanted) https://streamable.com/z0j0hg

[2022-03-08 04:56] Justeroo commented on #1402
[Hekili.lua.txt](https://github.com/Hekili/hekili/files/8202888/Hekili.lua.txt)

It's been a while since I've done addon/folder structure work and forgot how it worked. Found it here but github doesn't allow .lua uploads so I changed it to a txt file

[2022-03-08 06:45] justindriggers commented on #1402
Our demon hunter had this issue occur when he equipped the Cache of Acquired Treasures trinket, and the issue is resolved when he unequips the trinket. Let me know if you guys need any information from him.

[2022-03-08 08:43] Statticc opened #1403 "[BUG] Demonology Imps not in the recommendation since 1.0.8 update"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-08 08:51] KajiAU commented on #1402
I have the same exact issue with the Cache of Aquired Treasures trinket

[2022-03-08 10:40] j-mes opened #1404 "[FEATURE] The ability to move Potions from Primary to Cooldowns"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-03-08 12:31] Hekili commented on #1403
Wrong kind of ticket, this is about recommendations so use that ticket and submit the required information.

[2022-03-08 12:40] Statticc commented on #1403
I'm not sure how this is a recommendation.  The rotation used to suggest implosion in 1.0.7, now with 1.0.8 it doesn't. So is it not a bug or an oversight of some sort?

[2022-03-08 12:53] Statticc opened #1406 "[REC] Warlock - Demonology Implosion not in the rotation since 1.0.8 update"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-08 13:08] Hekili commented on #1406
That's not a snapshot, per the instructions.  Get a snapshot when you think it should be recommending Implosion but isn't, please.  Thanks!

[2022-03-08 13:08] Hekili commented on #1406
![image](https://user-images.githubusercontent.com/9438134/157244254-d46c9e79-e607-4754-afc7-1517afcf0f0c.png)

[2022-03-08 13:09] Hekili commented on #1403
Closing this one, will use the other ticket.

[2022-03-08 13:09] #1403 closed, assigned to Hekili

[2022-03-08 13:15] Hekili commented on #1404
I didn't realize you couldn't do this, to be honest.

[2022-03-08 13:22] Hekili commented on #1402
Assuming this is an issue for everyone with Cache of Acquired Trinkets, this is fixed in 1.0.8a -- please update and let me know.  Thanks for the bug report info.

[2022-03-08 13:34] Hekili commented on #1406
For reference, there are five entries for Implosion in the Demo Warlock priority; one higher up and four lower.  Here's the higher priority entry...

Default 14:  `boss & fight_remains < 2 * gcd`

You're in a boss fight and the boss will die in less than 2 GCDs.  This *was* recently changed to care about being in a boss fight, because you generally don't want to throw away imps that you'd otherwis

[2022-03-08 13:55] Justeroo commented on #1402
Logged in with 4 minutes before reset to verify. Was indeed the issue. Thank you so much for hopping on this and thanks to everyone else who contributed to finding the source!

[2022-03-08 13:56] #1402 closed, assigned to Hekili

[2022-03-08 14:14] dubudevs opened #1407 "[Demonology] Precombat shadowbolt or demonbolt recommended if you already have 5 shards"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-08 14:23] Hekili commented on #1407
It does but...it's fine?  What else are you going to push pre-pull?

[2022-03-08 14:34] dubudevs commented on #1407
Hand of Guldan or dogs most likely. In any situation where you have 5 shards and you're not in combat you're probably not going to be able to effectively "precast", you will be better off waiting for tank to pull and then dropping GFG or instant cast dogs if you don't want to precast. If the tank pulls as you're precasting thats just wasted damage, and its definitely not worth risking pulling for

[2022-03-08 14:37] Hekili commented on #1407
I don't agree with some of your logic -- it's no more risky to precast at 5 shards, in terms of pulling from the tank, than precasting at any other time.

Not wanting to waste shard generation in the "opener" makes sense, except if you're at 5 shards you're probably not going to do an actual opener on this pull.

I'll tinker with it and see what it ends up looking like, but this is very likely not

[2022-03-08 14:49] dubudevs commented on #1407
In raid it's not risky to precast at all, in m+ (when you are potentially going to have 5 shards going into combat) it is risky at any time, chances that you will time it correctly even in very coordinated keys are slim so its either a time loss or a pain for the tank. The difference at 3 shards is that by precasting you actually gain 2.66 globals which is arguably worth the risk over the 2500 dam

[2022-03-08 15:09] Hekili commented on #1407
This is an argument for not precasting anything in M+, which is probably not what you're going for.

I don't like "kitchen sink" arguments where you toss in everything that supports getting the outcome you want, because the actual reason is the only one that matters.  And I get that overcapping shards feels bad.

When you are starting combat with 5 shards, the current state of your CDs is infinite

[2022-03-08 15:19] dubudevs commented on #1407
I edited this in after a few mins, I should have added it as a reply: The difference at 3 shards is that by precasting demonbolt you actually gain 2.66 globals which is arguably worth the "risk" where the 800 single target damage of a shadowbolt at 5 shards is (imo) never worth it.

I'd sooner see no precasting recommended in m+, though.

True, but you still want to be precasting something that is

[2022-03-08 15:21] dubudevs commented on #1407
FWIW: Dogs is basically always up because its such a short CD, and in 15-20 keys you are tyranting basically every pack anyway because packs will live for about 40 seconds, at which point tyrant is at ~25 seconds cd and you are a few seconds off starting your ramp again, which is taken by moving to the next pack. It's not unusual to tyrant at the start of more than half the packs in a dungeon.

[2022-03-08 15:23] Hekili commented on #1407
It's pretty trivial to test the "don't cast generators" at 5 shards precombat logic and see where it ends up.  When servers are online.

It'll be interesting to see if that will apply more pressure toward delaying the last HoG before summoning your Tyrant.

[2022-03-08 15:26] dubudevs commented on #1407
EU servers are still up, I will have a play with it. `! ( boss | action.demonbolt.cast = 0 ) | soul_shards > 3 & soul_shards < 5` should do the trick right?

[2022-03-08 15:28] Hekili commented on #1407
I think you want, for Demonbolt:
`soul_shards < 4 & ( boss | action.demonbolt.cast = 0 )`

Shadow Bolt:
`soul_shards < 5 & ! ( boss | action.demonbolt.cast = 0 )`

[2022-03-08 15:29] dubudevs commented on #1407
https://puu.sh/INvSB/94a86815ed.png Hmmmmmmmmmmm something is not right here lol

My screenshotting skills are insane, I have 5 soul shards here.

[2022-03-08 15:31] Hekili commented on #1407
Yes, the `|` you have in there means "or" so the left side doesn't matter and so the condition considered is `soul_shards > 3 & soul_shards < 5`.

Not after casting Grimoire Felguard (edit: or Summon Felguard) you don't.

[2022-03-08 15:32] dubudevs commented on #1407
That's summon felguard, good point. That'll do it. I always forget it consumes a shard.

[2022-03-08 15:32] Hekili commented on #1407
Big same.

[2022-03-08 15:35] dubudevs commented on #1407
Those worked for me, I'll test how it plays with tyrant.

[2022-03-08 15:41] dubudevs commented on #1407
Non-standard openers have always been janky, but this change doesn't appear to dramatically break anything. It still recommends to build around 6 imps and then tyrant straight away, because current APL's tyrant logic assumes linear combat. The mid fight ramp assumes that the previous actions were executed correctly. Nothing new there.

[2022-03-08 15:42] Hekili commented on #1407
I may revisit some of the imp generation logic there or to delay the Tyrant cast a bit more.  Thanks for the testing and feedback.

[2022-03-08 15:55] istvantarn opened #1410 "[BUG] The Automatic Attack Balance Druid will not start"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [x] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-08 15:56] j-mes commented on #1404
It's a minor QoL thing which would be handy. I hope it's not a huge thing to do though.

[2022-03-08 15:57] Hekili commented on #1410
Uhhhhh... what?

Nothing happens automatically.  Automation/botting is not suported.  Are you asking something else and I'm not understanding you?

[2022-03-08 15:58] Hekili commented on #1406
I'm closing this but you can reopen if/when you have add'l data/snapshots.

[2022-03-08 15:58] #1406 closed, assigned to Hekili

[2022-03-08 16:00] istvantarn commented on #1410
I got the answer to my question!
i thought it would automatically go under attack! I thought I didn't have to press the keyboard! Thx :)

[2022-03-08 16:02] Hekili commented on #1410
Take care!

[2022-03-08 16:02] #1410 closed, assigned to Hekili

[2022-03-08 16:57] dubudevs commented on #492
Biggest offender I've noticed for this is the add on High Adjudicator Aleez (HoA 2nd last boss)

[2022-03-08 17:39] Hekili commented on #492
This is an old ticket; the feature exists to filter out irrelevant enemies, you simply have to supply the NPC ID and whether there's a relevant aura that influences whether to filter or not.

[2022-03-08 20:45] dubudevs commented on #492
For some reason the date was showing as 2 weeks ago for me, weird bug my bad. Good to know.

[2022-03-08 23:08] Statticc commented on #1406
Well, I couldn't give a snapshot when you requested as US went on maintenance.

It's hard to get the exact time of the snapshot, I'm not a Demonology expert, hence using the addon, nor am I a coding expert. All I can tell you is this version is NOT recommending implosion on any m+/cleave fight, where as the 1.0.7 version was only hours earlier in keys.

[2022-03-08 23:12] Statticc commented on #1406
https://pastebin.com/SE1xZgSw

[2022-03-08 23:52] Hekili commented on #1406
Your imps weren't being detected in that snapshot. I'm assuming you did have imps at that time.

[2022-03-08 23:55] Hekili commented on #1406
Also, for reference, the instructions for submitting the snapshot were there when you submitted the original ticket.

You don't have to be an expert, you just have to push the button when you think it should've recommended Implosion but didn't. Then you upload that snapshot so I can review (which you now have done).

I'll continue to investigate. Thanks.

[2022-03-08 23:55] Statticc commented on #1406
Yes, I had 9 at the time

[2022-03-08 23:57] Statticc commented on #1406
oh, and yes, the not having the snapshot was my mistake, I assumed/copied the info I had in the original incorrect ticket.  Didn't read it was a different piece of info.  My comment was more in reference to not understanding the snapshot code, so not knowing if it's snapshotting the correct info

Thanks for your help and patience!

[2022-03-09 00:36] Meltun opened #1411 "Lua error when logging in and on reload calling out SpellFlashCore"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-09 05:10] Hekili commented on #1407
I added the precombat changes in 1.0.8b.  I haven't come up with other tweaks to squeeze in more imps before Tyrant though.

[2022-03-09 05:10] #1407 closed, assigned to Hekili

[2022-03-09 05:11] #1401 closed, assigned to Hekili

[2022-03-09 05:14] Hekili commented on #1406
This should be fixed in 1.0.8b.

[2022-03-09 06:02] Statticc commented on #1406
Legend, ty! I'll test it now

[2022-03-09 06:04] Statticc commented on #1406
Perfect!!! works great. Thanks so much!!

[2022-03-09 14:24] Hekili commented on #1411
You can try removing your separate installation of SpellFlash/SpellFlashCore.

[2022-03-09 14:52] Meltun commented on #1411
OK, thanks, I will.  Game is down for maintenance now.  Will check when it comes back up.

[2022-03-09 22:26] Screwgun opened #1414 "The First Sigil trinket not in pulldown menu. Need a way to disable recommendation in rotation."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-03-09 22:38] Hekili commented on #1414
It's a trinket.  It's in Gear and Trinkets.

[2022-03-09 22:38] #1414 closed, assigned to Hekili

[2022-03-10 00:35] machajr opened #1415 "shaman enhancement active_dot.flame_shock count doesn't work"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [x] I am reporting

[2022-03-10 01:01] Hekili commented on #1415
Please put your snapshot in a Pastebin link. Thanks.

[2022-03-10 01:18] Hekili commented on #1415
I updated your ticket and reviewed what you provided.  `active_dot.flame_shock` doesn't appear in anything you submitted.  The snapshot needs to be taken when you're having the issue in question.  Feel free to reopen the ticket with a snapshot from the correct time.

[2022-03-10 01:27] machajr opened #1416 "enhancement shaman bug active flame shock always shown 5"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-10 01:32] Hekili commented on #1416
You're not showing anything that indicates that.  Show me.  And do it in the other ticket.

https://github.com/Hekili/hekili/issues/1415

[2022-03-10 01:32] #1416 closed, assigned to Hekili

[2022-03-10 02:25] Hekili commented on #1415
Could you post a screenshot of where you're seeing 5 active Flame Shocks?  The snapshots aren't matching up with what you're describing.  Thanks!

[2022-03-11 02:11] dubudevs opened #1419 "[Demonology] Playing DL SC is not recommending tyrant in opener"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-11 02:40] Hekili commented on #1419
Please add a snapshot -- multiple snapshots, if needed -- to capture what you are describing.

And link a sim for comparison.  Thanks!

[2022-03-11 06:26] Dragonfo opened #1420 "[Surv Hunter] Doesn't use much bombs when equipped with a tier set."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-11 12:56] Hekili commented on #1420
Could you provide a snapshot that shows the issue, then?  The first recommendation in this snapshot is Wildfire Bomb.

This is not what happens in the sim.

The sim is using Wildfire Bomb consistent with non-tier *plus* when Kill Command procs the 2pc Mad Bombardier buff.  In your snapshot, you procced the buff and it's being recommended.

[2022-03-11 13:59] Hekili commented on #1419
_Example Hekili Opener_

Pre-Pull:
![image](https://user-images.githubusercontent.com/9438134/157872043-b3d47a7e-021b-4261-bcb3-0ad57f3d7712.png)

While Casting Demonbolt:
![image](https://user-images.githubusercontent.com/9438134/157872129-d6a09bcc-275d-43d7-8e87-baffe3df8992.png)

Build:
![image](https://user-images.githubusercontent.com/9438134/157881385-b4268a4b-241e-48b5-a1a8-cab16cddb726.png

[2022-03-11 14:02] Hekili commented on #1411
Hey, just a friendly reminder to report back whether you're still having this problem.  Thanks!

[2022-03-11 14:05] Hekili commented on #1415
Reopening per our Discord conversation.  Info needed:

1. Snapshot that shows the value being incorrect (i.e., a snapshot when Fire Nova is recommended based on having multiple Flame Shocks, but no Flame Shocks are active).
2. A screenshot accompanying 1 to show no Flame Shocks are out.
3. More detail about when this starts to occur -- after specific enemies or in specific dungeons, raids, encount

[2022-03-11 14:08] Meltun commented on #1411
I am.
My wife, who has the same build, is not.  I will research further as it seems unique to my installation.  It is having trouble enumerating frames in SpellFlashCore.  I commented that entire section and everything is ok, functionality and all.
I do not have the SpellFlash options selected within Hekili setup.
BTW:  The add on is a staple to my enjoyment of the game.  Thanks for keeping it goi

[2022-03-11 14:19] Hekili commented on #1411
It's weird.  EnumerateFrames is Blizzard code; it lets you go through literally every frame the UI has created (base UI, addons, etc.) to do whatever you might need to do to them.  I guessed you might have multiple SpellFlash installs, but it's hard to know.

You might try turning off any addons you have that your wife doesn't and see if it's resolved.  If so, turn them back on one by one until yo

[2022-03-11 15:05] Meltun commented on #1411
Yes, great suggestion.  I will do that and get back to you later.

Thanks

From: Hekili ***@***.***>
Sent: Friday, March 11, 2022 8:20 AM
To: Hekili/hekili ***@***.***>
Cc: Meltun ***@***.***>; Author ***@***.***>
Subject: Re: [Hekili/hekili] Lua error when logging in and on reload calling out SpellFlashCore (Issue #1411)

It's weird. EnumerateFrames is Blizzard code; it lets you go through litera

[2022-03-11 17:07] machajr commented on #1415
snapshots: https://pastebin.com/KzqnDrVx
ss out of combat:
![image](https://user-images.githubusercontent.com/75227922/157914025-8e106c83-231c-4eba-9dd2-4a8ee2b60c09.png)

warning:    Unknown buff: swirling_currents

[string "@Interface\AddOns\Hekili\State.lua"]:3530: in function <Interface\AddOns\Hekili\State.lua:3521>
[string "return buff.swirling_currents.up"]:1: in main chunk
[string "=[C]"]:

[2022-03-11 17:35] Hekili commented on #1415
I unchecked `I am reporting an issue with the default priority included with the specialization (imported or edited priorities are not supported)` given this was a custom priority.

You DMed that you tested without it; was that by removing the actual entry that includes it (i.e., your custom priority is deleted) or just by switching priorities?  The warning is caused when loading your priority wit

[2022-03-11 17:35] machajr commented on #1415
3.its happened almost every dungeons and first one raids
4.buggrabber : https://pastebin.com/iADU6n3M
 thats all

[2022-03-11 17:41] Hekili commented on #1415
Also, please try:

`/run Hekili.State.reset(); print( Hekili.State.active_dot.flame_shock )`

Let me know what you get.  If it's non-zero when you have no active Flame Shocks, you can try:

`/run Hekili.State.active_dot.flame_shock = nil; Hekili.State.reset(); print( Hekili.State.active_dot.flame_shock )`

And see if it changes.  I'll keep investigating, but also answer if this is a private server

[2022-03-11 17:43] machajr commented on #1415
i m not playing on a private server.
i only removed swirling currents buff from my custom priorty

[2022-03-11 17:44] Hekili commented on #1415
Did you reload UI afterward?

[2022-03-11 17:45] machajr commented on #1415
/run Hekili.State.reset(); print( Hekili.State.active_dot.flame_shock )

with this again im out of combat its shown 1

[2022-03-11 17:47] machajr commented on #1415
i reload the ui . btw main problem is active_dot.flame_shock count not fire nova it efect aoe rotation

[2022-03-11 17:50] Hekili commented on #1415
I understand that Flame Shocks appear to be counted when they're expired in your case.  I also have to figure out why you're having that problem and I'm not.

I'll probably have to add some more debugging options into an alpha version to test on your end, because I can't replicate this issue.

I will probably need you to test if you can cause this problem to occur with only this addon loaded, too.

[2022-03-11 17:52] machajr commented on #1415
its keep rising :D again its just before the pull
![image](https://user-images.githubusercontent.com/75227922/157922850-f80ad5fa-7949-4ea6-8b4d-88d3c9c9b743.png)

[2022-03-11 17:53] Dragonfo commented on #1420
All I saw was my mistake, I did not notice the buff. I'm sorry for the ticket

[2022-03-11 17:53] #1420 closed, assigned to Hekili

[2022-03-11 18:16] machajr commented on #1415
yeah sure i can do that after raid mate

[2022-03-11 18:22] machajr commented on #1415
can you tell me whats addon are you using ?

[2022-03-12 03:35] BigBong69 opened #1421 "Fury warrior line 7 inconsistent with the sims"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-12 03:49] Hekili commented on #1421
Technically, to the addon, Crushing Blow and Raging Blow are interchangeable (to help address that they swap).  That was fine with older priorities but is more of a problem now.

[2022-03-12 04:26] Hekili commented on #1415
Please do the follow-up from the same post:
`/run Hekili.State.active_dot.flame_shock = nil; Hekili.State.reset(); print( Hekili.State.active_dot.flame_shock )`

Report if it resets to 0.

If not, please run the following and report back on the output:
`/run print( rawget( Hekili.State.active_dot, "flame_shock" ) )`

[2022-03-12 04:29] BigBong69 commented on #1421
Yeah, I thought that was the problem, but it was definitely a noticeable dps down. Just wanted to let you know that its an issue.

[2022-03-12 04:35] Hekili commented on #1421
Yes, it's good to report it, I was just explaining.  I should probably stop explaining issues as I fix them, because people think I'm arguing against them.

[2022-03-12 07:08] dubudevs commented on #1419
rewriting

[2022-03-12 07:14] dubudevs commented on #1419
Playing Niya also has some strange interactions too. Firstly, its suggesting sb>sb>tyrant when it is far in the future which is not optimal at all, but *may* be a result of the APL under certain conditions. https://puu.sh/IOdwf/b23f7f3a92.png https://pastebin.com/iuuY1zFL

But more importantly, it doesnt actually recommend tyrant for me when I get that far into the opener (opening with DB). https:

[2022-03-12 13:45] cremor opened #1422 "[REC] Ret: Seraphim, Final Reckoning and Divine Toll get out of sync in AoE"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-12 14:13] Hekili commented on #1419
Make sure to update to the latest version of the addon before submitting your rewritten information.  Thanks!

[2022-03-12 16:03] Meltun commented on #1411
The problem was in a personal addon of mine (only on my pc).  I had this:

   for i, v in pairs(nFrame) do

     nFrame[i] = nil

   end

I thought I had eliminated this everywhere, but …

Sorry for the rabbit trail!

*	Friarbison

From: Randall Harbison ***@***.***>
Sent: Friday, March 11, 2022 9:05 AM
To: 'Hekili/hekili' ***@***.***>
Subject: RE: [Hekili/hekili] Lua error when logging in and on

[2022-03-12 16:04] Hekili commented on #1411
I just appreciate you letting me know that you found the issue on your end.  Take care!

[2022-03-12 16:04] #1411 closed, assigned to Hekili

[2022-03-13 06:36] Hekili commented on #1422
Yeah, having Seraphim fully intended to sync with cooldowns, but not being a cooldown itself, and then splitting it into a separate window breaks a lot of logic.  In the Primary display, Divine Toll's actual CD is used, but Final Reckoning's isn't.

Every time I see this, I'm more inclined to delete the separate Cooldowns window, because priorities are just not written to split abilities out in a

[2022-03-13 06:50] gnew95 opened #1423 "[BUG] Spinning Crane Kick makes the swipe of the next reccommended skill last 0.5 seconds too long"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/enhancement) for this request and was not able to find one.
- [X] I edited the title of this feature request (above) so that it describes the issue I am reporting.

### Featur

[2022-03-13 14:10] cremor commented on #1422
Looks far better now, thanks!
The only small remaining problem I found is that it can take quite a while for Final Reckoning to show up as a separate cooldown, even if it's already available. I assume this is because Seraphim and Divine Toll are used earlier (not synced with separately shown cooldowns) and the Seraphim buff isn't up any more.
Here is a snapshot: https://pastebin.com/Rf46X11F

Anyw

[2022-03-13 14:47] Hekili commented on #1422
It's because Seraphim is desynched and the entry for Final Reckoning in the Cooldowns list wants Seraphim to be active before using it.  I can't tell what Seraphim's cooldown is in that snapshot because it looks disabled.  It's possible to add logic that sets a threshold where Final Reckoning would just be used without Seraphim, but it would be challenging to tune that timeframe precisely.  Is it

[2022-03-13 15:39] cremor commented on #1422
It was not disabled. If I remember correctly, I used it about 15-20 seconds before that snapshot was created. It was recommended by the primary display at that time.
Note that that snapshot is from the cooldowns display. So I assume it treats Seraphim as disabled because it's not configured to be a cooldown?

Yeah, I don't know either. Maybe it's not justified to invest more time in this. Who know

[2022-03-13 16:21] Dragonfo opened #1424 "[Surv Hunter] While buffed, Mad Bombardier does not press Carve when the bombs are on cooldown."
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-13 16:33] IIeTpoc opened #1425 "SpellFlashCore.lua error which freezes wow client for around 1 minute"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-13 16:36] IIeTpoc commented on #1425
![hekilispellflashluaerror](https://user-images.githubusercontent.com/64799395/158069558-0650cf38-065c-4dd0-82a8-5a1dbe0bfaf5.png)
This is the first error i get upon reloading when this situation happens.

[2022-03-13 16:38] Hekili commented on #1425
You will want to report this to the SpellFlashCore developer or the BigLibTimer developer, based on the error message you see.

[2022-03-14 16:55] p4nchez opened #1426 "[BUG] GUI not loading v9.2.0-1.0.9-alpha3"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-14 21:10] Thornic opened #1427 "[REC] Shadow Priest - Devouring Plague"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-14 21:30] Hekili commented on #1427
First recommendation was Void Bolt, because:

**void_bolt ( main - 11 )**

The part that specifically passed was:
 `( ( talent.hungering_void.enabled[true] & ! talent.searing_nightmare.enabled[false] ) | spell_targets.mind_sear[1.00] = 1 )`
You have Hungering Void talented, and you don't have Searing Nightmare talented, so that would be sufficient.  It would also be used here simply based on only

[2022-03-14 21:45] Hekili commented on #1427
Example single-target sim using T28 Shadow profile:

https://www.raidbots.com/simbot/report/vKJct3CdQEDTYRHWRkVGf5/simc

![image](https://user-images.githubusercontent.com/9438134/158265649-e0365aba-fd22-4113-88f0-f799c9566ed8.png)

Gains | Type | Count | Total | Tot% | Avg | Overflow | Ovr%
-- | -- | -- | -- | -- | -- | -- | --
Insanity Gained from Auspicious Spirits | Insanity | 220.41 | 420.44

[2022-03-16 05:27] p4nchez commented on #1426
looks fixed in Hekili-v9.2.0-1.0.9

[2022-03-16 08:19] melarki commented on #1366
I think this issue has happened again, doing the same thing to me after updating today

[2022-03-16 10:37] KajiAU opened #1428 "[REC] Cache of Acquired Treasures not working for Enhancement, Survival"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-16 11:07] melarki opened #1429 "[BUG] balance druid recommending moonfire spam"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) for this issue and was not able to find one.
- [X] I edited the title of this bug report (above) so that it describes the issue I a

[2022-03-16 11:19] Dragonfo opened #1430 "[Surv hunter] Lost in trinket rotation"
### Before You Begin

- [X] I confirm that I have downloaded the latest version of the addon.
- [X] I am not playing on a private server.
- [X] I checked for an [existing, open ticket](https://github.com/Hekili/hekili/labels/recommendation) for this issue and was not able to find one.
- [X] I edited the title of this issue (above) so that it describes the issue I am reporting.
- [X] I am reporting

[2022-03-16 11:29] kwlockwo commented on #1429
+1 for this issue

[2022-03-16 12:26] Hekili commented on #1366
Yep, I see it.  Fix incoming.

[2022-03-16 12:29] Hekili commented on #1428
Please put your snapshot on Pastebin and provide the link.  Snapshots pasted into the ticket are unreadable.

[2022-03-16 13:04] KajiAU commented on #1428
https://pastebin.com/zaX0NyxZ

[2022-03-16 13:41] Hekili commented on #1429
Thanks, this is fixed in 1.0.9a.

[2022-03-16 13:41] #1429 closed, assigned to Hekili

[2022-03-16 13:41] Hekili commented on #1426
Thanks for confirming!

[2022-03-16 13:41] #1426 closed, assigned to Hekili

[2022-03-16 13:43] Hekili commented on #1430
Duplicate of #1428; investigating.

[2022-03-16 13:43] #1430 closed, assigned to Hekili

[2022-03-16 13:43] Hekili commented on #1428
Survival:  [pastebin.com/2U27k9UT](https://pastebin.com/2U27k9UT)

[2022-03-16 13:44] Hekili commented on #1428
Your Cooldowns are toggled off in that snapshot.  Do you have this issue when the Cooldowns Toggle is enabled?

[2022-03-16 13:50] Hekili commented on #1428
I need some additional information from anyone with this trinket.

If **Acquired Sword** is up, I need you to paste the following into chat, press Enter, then report back with the output.
`/run print( GetTime(), GetPlayerAuraBySpellID(368657) )`

If **Acquired Axe** is up, use the following:
`/run print( GetTime(), GetPlayerAuraBySpellID(368657) )`

If **Acquired Wand** is up, use the following:
`

[2022-03-16 13:55] #1427 closed, assigned to Hekili

[2022-03-16 13:56] #1425 closed, assigned to Hekili

[2022-03-16 14:56] Dragonfo commented on #1428
Acquired Sword
2558.406 Добытый меч 952541 1 nil 0 0 player false false 368657 false false true false 1 88 0

Acquired Axe
2604.949

Acquired Wand
2649.151 Добытый жезл 135488 0 nil 0 0 player false false 368654 false false true false 1 26580